<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
            <li>项目投标</li>
			<li class="active">投标项目列表</li>
		</ul>
    </div>

    <div class="zhuti-content">

        <div>
            <div class="tab-content">
                
                <div class="UpperPart">
                   	
                   	
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建投标项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form id="new_form" class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                            	<td  style="width:15%;">项目名称</td>
                            	<td  style="width:35%;">
                            		<input type="text" class="form-control" style="width:60%;" id="xmmingcheng" disabled>
                        			<button type="button" class="btn btn-primary"  id="chosexm">选择项目</button>
								</td>
                             	<td  style="width:15%;">类型</td>
                             	<td  style="width:35%;">
                             		<input type="text" class="form-control" style="width:60%;" id="xmleixing" disabled>
             					</td>
                            </tr>
                            <tr>
                            	<td style="width:15%;">投标部门</td>
                            	<td style="width:35%;">
                            		<select class="form-control" style="width:60%;" id="bumen"></select>
                  				</td>
                            	<td style="width:15%;">是否中标</td>
                            	<td style="width:35%;">
                            		<select class="form-control"  style="width:60%;" id="sfzb">
				                         <option>是</option>
				                         <option>否</option>
				                     </select>
                            	</td>
                            </tr>
                            <tr>
                            	<td style="width:15%;"class="jinqianyanse">中标金额(元)</td>
                            	<td style="width:35%;"><input type="text" class="form-control" style="width:60%;" id="zbje"></td>
                            	<td style="width:15%;"></td>
                            	<td style="width:35%;"></td>
                            </tr>
                        </table> 
                        <table class="table table-bordered table-condensed" id="new_accessory1">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">招标文件</td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile1()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="new_accessory2">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">投标文件</td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile2()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="new_accessory3">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">图纸</td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile3()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="addbidding()">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
 <!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>项目类型</th>
                                    <th>业主单位</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-condensed" id="mingzibiao">
       				<thead>
       					<tr>
       						<th></th>
       						<th>姓名</th>
       						<th>工号</th>
       						<th>出生日期</th>
       						<th>性别</th>
       						<th>职务</th>
       					</tr>
       				</thead>
       				<tbody></tbody>
       			</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
			</div>
		</div>
	</div>
</div>
<!-- 提交 modal结束 -->
          
                </div>
                <div class="LowerPart" style="margin-top:3px;">
                    
                </div>
                
                
            </div>   
        </div>
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改投标项目</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form id="edit_form" class="form-inline" method="post" enctype="multipart/form-data">
                     <table class="table table-bordered table-condensed">
                         <tr >
                         	<td style="width:15%;">项目名称</td>
                         	<td style="width:35%;">
                         		<input type="text" class="form-control" style="width:60%;" id="xgxmmingcheng" disabled>
                            	<button type="button" class="btn btn-primary"  id="xgchosexm">选择项目</button>
                         	</td>
                         	<td style="width:15%;">类型</td>
			                <td style="width:35%;">
			                   		<input type="text" class="form-control"style="width:60%;" id="xgxmleixing" disabled>
			                        <!-- <form class="form-inline">
	                                    <select class="form-control" style="width:110px;" id="xgyijileixing">
	                                        <option>--请选择--</option>
	                                    </select>
	                                    <select class="form-control" style="width:110px;" id="xgerjileixing">
	                                        <option>--请选择--</option>
	                                    </select>
	                                </form> -->
			                 </td>
                         </tr>
                         <tr>
                         	<td style="width:15%;">投标部门</td>
                            <td style="width:35%;">
                                <select class="form-control" style="width:60%;" id="xgbumen">
                          		</select>
		                    </td>
                         	<td style="width:15%;">是否中标</td>
                         	<td style="width:35%;">
                         		<select class="form-control" style="width:60%;" id="xgsfzb">
			                      <option>是</option>
			                      <option>否</option>
			                  </select>
                         	</td>
                         </tr>
                         <tr>
                         	<td style="width:15%;"class="jinqianyanse">中标金额(元)</td>
                         	<td style="width:35%;"><input type="text" class="form-control" style="width:60%;" id="xgzbje"></td>
                         	<td></td>
                            <td></td>
                         </tr>
                     </table> 
                     <table class="table table-bordered table-condensed" id="edit_accessory1">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">招标文件<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="edit_addFile1()">添加附件</button></td>
                            	</tr> 
                        	</thead>
                        	<tbody></tbody>
                        	<tfoot></tfoot>
                        </table>
                        <table class="table table-bordered table-condensed" id="edit_accessory2">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">投标文件<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="edit_addFile2()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        	<tfoot></tfoot>
                        </table>
                        <table class="table table-bordered table-condensed" id="edit_accessory3">
                        	<thead>
                        		<tr>
                                	<td style="width:15%;">图纸<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" onclick="edit_addFile3()">添加附件</button></td>
                            	</tr> 
                        	</thead>
                        	<tbody></tbody>
                        	<tfoot></tfoot>
                        </table>
                 </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="update_save()" >保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
<!-- xg项目 Modalxg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xgxiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xgxiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>项目类型</th>
                                    <th>业主单位</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xgquedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!--xg项目  modelxg结束 --> 
 <!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered" >
                        <tr>
                           	<td>项目名称</td>
                           	<td id="lookxmmingcheng"></td>
                           	<td>类型</td>
	                        <td id="lookleixing"></td>
                         </tr>
                         <tr>
                        	<td>投标部门</td>
                          	<td id="lookbumen"></td>
                           	<td>是否中标</td>
                          	<td id="looksfzh"></td>
                          </tr>
                          <tr>
	                          <td class="jinqianyanse">中标金额(元)</td>
	                          <td id="lookzbje"></td>
	                          <td></td>
                              <td></td>
                          </tr>
                    </table>
                    <table class="table table-bordered table-condensed"  id="look_accessory1">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="3">招标文件</td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory2">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="3">投标文件</td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory3">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="3">图纸</td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->       
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	initbumen();
    	laydate.render({
            elem: '#year' //指定元素
        });
    	
	});

    var table3=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
					{ "data": "prjNo"},
		            { "data": "prjName"}, 
		            { "data": "prjType"}, 
		            { "data": "ownerUnit"},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3xg=$('#xgxiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
					{ "data": "prjNo"},
		            { "data": "prjName"}, 
		            { "data": "prjType"}, 
		            { "data": "ownerUnit"},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xgxiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});

	//选择项目
	$("#chosexm").click(function(){
		$("#xiangmumd").modal("show");
		$.ajax({
			type:'post',
			url:getContextPath()+'/BidApproval/selectprjNameAndNo',
			dataType:'json',
			async:false,
			data:{
				status:2
			},
			success:function(json){
				//console.log(json)
				$('#xiangmubiao').dataTable().fnClearTable();
                $('#xiangmubiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#quedingxm").click(function(){
		var prjname=$("input[name='xiangmuName']:checked").parent().next().next().text();
		var prjtype=$("input[name='xiangmuName']:checked").parent().next().next().next().text();
		$("#xmmingcheng").val(prjname);
		$("#xmleixing").val(prjtype);
		$("#xiangmumd").modal("hide");
	})
	$("#xgchosexm").click(function(){
		$("#xgxiangmumd").modal("show");
		$.ajax({
			type:'post',
			url:getContextPath()+'/BidApproval/selectprjNameAndNo',
			dataType:'json',
			async:false,
			data:{
				status:2
			},
			success:function(json){
				//console.log(json)
				$('#xgxiangmubiao').dataTable().fnClearTable();
                $('#xgxiangmubiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#xgquedingxm").click(function(){
		var prjname=$("input[name='xgxiangmuName']:checked").parent().next().next().text();
		var prjtype=$("input[name='xgxiangmuName']:checked").parent().next().next().next().text();
		$("#xgxmmingcheng").val(prjname);
		$("#xgxmleixing").val(prjtype);
		$("#xgxiangmumd").modal("hide");
	})
	
	
	//初始化部门
	 function initbumen(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	//console.log(json);
            	for(var i=0;i<json.length;i++){
            		$("#cxbumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
	            	$("#bumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
	            	$("#xgbumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
            	}
            }
        });
	} 
	

	
	    
	    function initSelectOnEdit(obj1,obj2){
	    	$.ajax({
	            type: 'POST',
	            url: getContextPath()+'/projectType/selectOne_TwoPrj',
	            dataType: 'json',
	            async:false, 
	            data:{
	            	idFirst:obj1,
	            },
	            success: function (json) {
	            	//console.log(json)
	            	$("#xgerjileixing").empty("");
	            	for(var i=0;i<json.length;i++){
	            		$("#xgerjileixing").append( "<option value='" + json[i].nameSecond + "'>"
			                    + json[i].nameSecond + "</option>")
	    			}
	            	$("#xgerjileixing").val(obj2);
	            	$("#lookleixing1").text(obj2);
	            }
	        }); 
	    }
	    
	

	
	
	//导入
	function importExcel(){
		var fileName=$("#realfile").val();
		var fileEnd=fileName.split(".")[1];
		if(fileEnd==''||fileEnd==undefined){
			toastr.error('文件不能为空');
			return false;
		}else{
			if(fileEnd.indexOf("xls")==-1){
				toastr.error('格式不正确');
				return false;
			}else{
				/* myTool.mask.show("导入中,请稍候...      "); */ 
				var options={
						url:getContextPath()+'/diddingList/ImportiddingList',
						data:$('#dataImport').serialize(),  
						type:'POST',
						dataType: 'json',
						contentType : "application/x-www-form-urlencoded; charset=utf-8", 
						success:function(json){
							myTool.mask.hide();
							if(json==1){
								toastr.success('导入成功');
								$("#daoruExcel").modal("hide");
								initTable();
							}else{
								toastr.error('导入失败');
							}
						}
				}
				$("#dataImport").ajaxSubmit(options);
			}
		}
	}
	
	
	
	//添加
	function liuchengGaibian(){
		var xmmingcheng=$("#xmmingcheng").val();
		var leixing=$("#xmleixing").val();
		
		var bumen=$("#bumen").val();
		var sfzb=$("#sfzb").val();
		var zbje=$("#zbje").val();
		var bumenmingzi=$("#bumen").find("option:selected").text();
		var options={
			type: 'POST',
	        url: getContextPath()+'/diddingList/adddiddingList',
	        dataType: 'json',
	        data: {
	        	prjName:xmmingcheng,
	        	prjType:leixing,
	        	plUnit:bumen,
	        	isbiding:sfzb,
	        	plMoney:zbje,
	        	omName:bumenmingzi
	        },
	        success: function (json) {
	        	if(json.result==0){
	        		toastr.error("添加失败");
	        	}else{
	        		toastr.success("保存成功");
	        		$("#myModal").modal("hide");
	        		$('#mainContent').DataTable().row.add(json.projectList).draw(false);
	        	}
	        }
		}
		$("#new_form").ajaxSubmit(options);
	}

	//修改
	var dom;
	var xgid;
	var tr;
	function updatePrj(obj){
		tr = $(obj).closest('tr');
		dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		xgid=data.plId;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/diddingList/selectdiddingListById',
	        dataType: 'json',
	        data: {
	        	id:xgid,
	        },
	        success: function (json) {
	        	//console.log(json)
	        	$("#xgxmmingcheng").val(json.prjName);
	    		$("#xgxmleixing").val(json.prjType);
	    		$("#xgbumen").val(json.plUnit);
	    		$("#xgsfzb").val(json.isbiding);
	    		$("#xgzbje").val(json.plMoney);
	        }
		}); 
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/ManagingDocuments/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:xgid
				},
			success:function(json){
				$("#edit_accessory1 tbody").empty();
				$("#edit_accessory2 tbody").empty();
				$("#edit_accessory3 tbody").empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="招标文件"){
	            	   $("#edit_accessory1 tbody").append("<tr>"+
								"<td>附件</td>"+
		            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
		            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="投标文件"){
		            	   $("#edit_accessory2 tbody").append("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="图纸"){
		            	   $("#edit_accessory3 tbody").append("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	
	            } 
			}
		})
		
	}
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json>0){
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        	}else{
	        		toastr.error("删除失败");
	        	}
	        }
		});
	}
	
	
	
	function update_save(){
		var oldNum=$(tr.children()[0]).text();
		
		var xgxmmingcheng=$("#xgxmmingcheng").val();
		var xgxmleixing=$("#xgxmleixing").val();
		var xgbumen=$("#xgbumen").val();
		var xgsfzb=$("#xgsfzb").val();
		var xgzbje=$("#xgzbje").val();
		
		var xgbumenmingzi=$("#xgbumen").find("option:selected").text();
		var addJson = {
				"plId":xgid,
				"prjName": xgxmmingcheng,
	            "isbiding":xgsfzb,
	            "prjType": xgxmleixing,
	            "plMoney": xgzbje,
	            "omName": xgbumenmingzi
	        };
		var options={
			type: 'POST',
	        url: getContextPath()+'/diddingList/updatediddingList',
	        dataType: 'json',
	        data: {
	        	plId:xgid,
	        	prjName:xgxmmingcheng,
	        	prjType:xgxmleixing,
	        	plUnit:xgbumen,
	        	isbiding:xgsfzb,
	        	plMoney:xgzbje,
	        },
	        success: function (json) {
	        	if(json.result!=0){
	        		//location.reload([true]);
	        		toastr.success("修改成功");
	        		$("#change").modal("hide");
	        		$('#mainContent').DataTable().row(tr).data(addJson);//修改行立即显示
	        		$(tr.children()[0]).text(oldNum);
	        	}else{
	        		toastr.error("修改失败");
	        	}
	        }
		}
		$("#edit_form").ajaxSubmit(options);
	}
	
	
	

	
	//查看详细信息
    function initTable(obj){
		
		
		$("#xmmingcheng").text(data.prjName); 
		$("#leixing").text(data.prjType)
		$("#bumen").text(data.omName);
		$("#sfzh").text(data.isbiding);
		$("#zbje").text(data.plMoney);
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/ManagingDocuments/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:data.plId
				},
			success:function(json){
				if(json!=null){
					$("#look_accessory1 tbody").empty();
					$("#look_accessory2 tbody").empty();
					$("#look_accessory3 tbody").empty();
		            for(var i=0;i<json.length;i++){
		            	if(json[i].aType=="招标文件"){
		            	   $("#look_accessory1 tbody").append("<tr>"+
				     	   									"<td style='width:15%;'>附件</td>"+
									            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
									            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
									            	    "</tr>");
		            	}
		            	if(json[i].aType=="投标文件"){
			            	   $("#look_accessory2 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	if(json[i].aType=="图纸"){
			            	   $("#look_accessory3 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	
		            } 
					
				}
			}
		})
		
	}
	
  //下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
    
    function download_zhao(){
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+zhaofile+"&filePath="+zhaofile_url);
	}
    function download_tou(){
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+toufile+"&filePath="+toufileUrl);
	}
	function download_tuzhi(){
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+drawing+"&filePath="+drawingUrl);
	}
	
	
	//导出
	$("#daochu").click(function(){
		window.location.href=encodeURI(getContextPath()+'/diddingList/exportdiddingList');
	})
	
	function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file2' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file3' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	
	function edit_addFile1(){
		$("#edit_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile2(){
		$("#edit_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file2' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile3(){
		$("#edit_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file3' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}
	
</script>
</html>