<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        .lookhetong a{
            color: orange;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
			<li class="active">项目跟踪</li>
		</ul>
    </div>

    <div class="zhuti-content">
<form class="form-inline" method="post" enctype="multipart/form-data"  id="edit_form">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td style="width:20%;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="edit_prj_name"></td>
                                <td>业主单位</td>
                                <td>
                                	<select class="form-control" style="width:70%;" id="yezhudanwei" data-live-search="true"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;">项目状态  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                    <select id="edit_prj_status" class="form-control" style="width:70%;">
                                        <option value="计划阶段">计划阶段</option>
                                        <option value="立项阶段">立项阶段</option>
                                        <option value="拟招标阶段">拟招标阶段</option>
                                        <option value="招标待发">招标待发</option>
                                    </select>
                                </td>
                                <td style="width:20%;">业务类型  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                    <select id="edit_business_type" class="form-control" style="width:70%;">
                                        <option value="JC 检测类">JC 检测类</option>
                                        <option value="XJSG 新建施工">XJSG 新建施工</option>
                                        <option value="JGSG 加固施工">JGSG 加固施工</option>
                                        <option value="SJ 设计">SJ 设计</option>
                                        <option value="EPC EPC">EPC EPC</option>
                                        <option value="KY 科研项目">KY 科研项目</option>
                                        <option value="QT 其他">QT 其他</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;">项目地址  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                   <!--  <input type="text" class="form-control" style="width:70%;" id="edit_prj_addr"> -->
                                    <div class="docs-methods" style="width:100%;">
                                                <form class="form-inline">
                                                    <div id="distpicker">
                                                        <div class="form-group">
                                                            <div style="position: relative;">
                                                                <input id="edit_prj_addr" class="form-control" readonly type="text" value="" data-toggle="city-picker">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div> 
                                </td>
                                <td style="width:20%;">预估项目规模  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="edit_prj_scale"></td>
                            </tr>
                            <tr>
                                <td style="width:20%;">填报时间  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="edit_year"></td>
                                <td style="width:20%;">跟踪部门  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                	<input type="text" style="width:70%;" class="form-control" id="edit_department" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;">发包方式</td>
                                <td style="width:30%;">
                                    <select class="form-control" style="width:70%;" id="edit_isbid">
                                        <option value="直接委托">直接委托</option>
                                        <option value="邀请招标">邀请招标</option>
                                        <option value="公开招标">公开招标</option>
                                    </select>
                                </td>
                                <td style="width:20%;">跟踪人</td>
                                <td style="width:30%;">
                                    <input type="text" style="width:70%;" class="form-control" id="edit_user" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td>项目概况  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="edit_prj_desc"></textarea></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="edit_desc"></textarea></td>
                            </tr>
                            <tr id="file_tr">
                                <td>业务附件 <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td id="file_tr_td" colspan="2"></td>
                                <td id="file_tr_td2"></td>
                            </tr>
                        </table>
                         <table class="table table-bordered table-condensed">
                        	<thead>
                        		<tr>
                        			<th colspan="5">添加联系人,联系方式</th>
                        		</tr>
                        	</thead>
                            <tr>
                                <td style="width:15%;">联系人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <select class="form-control" style="width:200px;" id="lianxiren">
                                    </select>
                                </td>
                                <td style="width:10%;">联系方式  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:20%;">
                                    <select class="form-control" style="width:200px;" id="lianxifangshi">
                                    </select>
                                </td>
                                <td style="width:20%;">
	                                <button type="button" style="margin-left: 5px;" class="btn btn-primary"  id="xuanzelianxiren" data-toggle="modal" data-target="#addGuanliren">新建联系人</button>
	                                <button type="button" class="btn btn-info" onclick="addLianxiren(this)">添加</button>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed" id="lianxibiaoge">
                            <thead>
                                <tr>
                                    <th colspan="3">添加的联系人,联系方式</th>
                                </tr>
                                <tr>
                                    <th  style="width:15%;">联系人</th>
                                    <th>联系方式</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </form>  
                    
       <!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建项目跟踪单</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form id="new_form" class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td style="width:20%;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="new_prj_name"></td>
                                <td style="width:20%;">项目编号</td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="new_prj_no"></td>
                            </tr>
                            <tr>
                                <td style="width:20%;">项目状态  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                    <select id="new_prj_status" class="form-control" style="width:70%;">
                                        <option value="跟踪">跟踪</option>
                                        <option value="投标">投标</option>
                                        <option value="立项">立项</option>
                                    </select>
                                </td>
                                <td style="width:20%;">项目级别</td>
                                <td style="width:30%;">
                                    <select  id="new_prj_lv" class="form-control" style="width:70%;">
                                        <option value="大型">大型</option>
                                        <option value="中型">中型</option>
                                        <option value="小型">小型</option>
                                        <option value="其它">其它</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;">业务类型</td>
                                <td style="width:30%;">
                                    <select id="new_business_type" class="form-control" style="width:70%;">
                                        <option value="试验检测">试验检测</option>
                                        <option value="设计">设计</option>
                                        <option value="施工">施工</option>
                                        <option value="科研开发">科研开发</option>
                                        <option value="总承包项目">总承包项目</option>
                                        <option value="其他业务">其他业务</option>
                                    </select>
                                </td>
                                <td style="width:20%;">项目地址</td>
                                <td style="width:30%;">
                                    <input type="text" style="width:70%;" class="form-control" id="new_prj_addr">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;">预估项目规模</td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="new_prj_scale"></td>
                                <td style="width:20%;">填报时间</td>
                                <td style="width:30%;"><input type="text" style="width:70%;" class="form-control" id="year"></td>
                            </tr>
                            <tr>
                                <td style="width:20%;">是否投标</td>
                                <td style="width:30%;">
                                    <select class="form-control" style="width:70%;" id="new_isbid">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </td>
                                <td style="width:20%;">跟踪部门  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                    <select class="form-control" style="width:70%;" id="new_department">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>项目概况  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="new_prj_desc"></textarea></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="new_desc"></textarea></td>
                            </tr>
                            <tr>
                                <td>业务附件</td>
                                <td colspan="3"><input name="file" type="file" class="form-control"></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="new_save()">保存</button>
            <button type="button" class="btn btn-success" onclick="new_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!--选人 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addGuanliren">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">新建联系人,联系方式</h4>
            </div>
            <div class="modal-body">
            
                <div>
                	
                	<table class="table table-bordered table-condensed" >
                		<tr>
                			<td>联系人</td>
                			<td><input type="text" class="form-control" style="width:180px;" id="xinjianlianxiren"></td>
                			<td>联系方式</td>
                			<td><input type="text" class="form-control" style="width:180px;" id="xinjianlianxifangshi"></td>
                		</tr>
                	</table>
              </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveGuanliren()" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 选人 modal结束 --> 

<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" id="tijiaoren">
                       	<thead>
                       			<tr>
	                            	<th></th>
	                                <th>部门</th>
	                                <th>职务</th>
	                                <th>审批人</th>
	                            </tr>
                       	 </thead>
                           <tbody>
                           	
                           </tbody>
                       </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->


<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改项目跟踪单</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="edit_save()">保存</button>
            <button type="button" class="btn btn-success" onclick="edit_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->


<!-- 查看Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看项目跟踪单</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td style="width:100px;">项目名称</td>
                                <td id="look_prj_name"></td>
                                <td style="width:100px;">项目编号</td>
                                <td id="look_prj_no"></td>
                            </tr>
                            <tr>
                                <td>项目状态</td>
                                <td id="look_prj_status" ></td>
                                <td>项目级别</td>
                                <td id="look_prj_lv" ></td>
                            </tr>
                            <tr>
                                <td>业务类型</td>
                                <td id="look_business_type" ></td>
                                <td>项目地址</td>
                                <td id="look_prj_addr"></td>
                            </tr>
                            <tr>
                                <td>预估项目规模</td>
                                <td id="look_prj_scale"></td>
                                <td>填报时间</td>
                                <td id="look_year"></td>
                            </tr>
                            <tr>
                                <td>是否投标</td>
                                <td id="look_isbid"></td>
                                <td>跟踪部门</td>
                                <td id="look_department"></td>
                            </tr>
                            <tr>
                                <td>项目概况</td>
                                <td colspan="3" id="look_prj_desc"></td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3" id="look_desc"></td>
                            </tr>
                            <tr id="look_tr">
                                <!-- <td>业务附件</td>
                                <td colspan="2"><input type="text" style="width:100%;" class="form-control" id="look_url"></td>
                                <td id="download_td"></td> -->
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- 查看model结束 -->

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
        $('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
        
        leixingSelect2();
       	initTable();
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");

    
    


	/* function initDepartment(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/selectProductionDepartment',
	        dataType: 'json',
	        async:false,
	        data: {
	           
	        },
	        success: function (json) {
	        	$("#edit_department").html('');
	        	for(var i=0;i<json.length;i++){
	        		$("#edit_department").append("<option value="+json[i].omName+">"+json[i].omName+"</option>");
	        	}
	        }
		});
	} */
	
	
	function new_save(){
		var new_prj_name=$("#new_prj_name").val();
		var new_prj_no=$("#new_prj_no").val();
		var new_prj_status=$("#new_prj_status").val();
		var new_prj_lv=$("#new_prj_lv").val();
		var new_business_type=$("#new_business_type").val();
		var new_prj_addr=$("#new_prj_addr").val();
		var new_prj_scale=$("#new_prj_scale").val();
		var year=$("#year").val();
		var new_isbid=$("#new_isbid").val();
		var new_department=$("#new_department").val();
		var omName=$("#new_department").text();
		var new_prj_desc=$("#new_prj_desc").val();
		var new_desc=$("#new_desc").val();
		if(new_prj_name==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(new_prj_status==''){
			toastr.error("项目状态不能为空");
			return;
		}
		if(omName==''){
			toastr.error("跟踪部门不能为空");
			return;
		}
		if(new_prj_desc==''){
			toastr.error("项目概况不能为空");
			return;
		}
		
		var options={
				type: 'POST',
		        url: getContextPath()+'/trace/addProjectTraceOfSave',
		        dataType: 'json',
		        data: {
		        	prjName:new_prj_name,
		        	prjNo:new_prj_no,
		        	prjStates:new_prj_status,
		        	prjLv:new_prj_lv,
		        	businessType:new_business_type,
		        	prjAddr:new_prj_addr,
		        	predictPrjScale:new_prj_scale,
		        	fillTime:year,
		        	isbid:new_isbid,
		        	traceDepartment:new_department,
		        	omName:omName,
		        	prjDesc:new_prj_desc,
		        	ptInfo:new_desc
		        },
		        success: function (json) {
		        	if(json.result==0){
		        		toastr.error("保存失败");
		        	}else{
		        		/*$('#mainContent').DataTable().row.add(json.trace).draw(false); */
		        		toastr.success("保存成功");
		        		$("#myModal").modal("hide");
		        	}
		        }
		}
		$("#new_form").ajaxSubmit(options);
	}
	
	
	function new_submit(){
		var new_prj_name=$("#new_prj_name").val();
		var new_prj_no=$("#new_prj_no").val();
		var new_prj_status=$("#new_prj_status").val();
		var new_prj_lv=$("#new_prj_lv").val();
		var new_business_type=$("#new_business_type").val();
		var new_prj_addr=$("#new_prj_addr").val();
		var new_prj_scale=$("#new_prj_scale").val();
		var year=$("#year").val();
		var new_isbid=$("#new_isbid").val();
		var new_department=$("#new_department").val();
		var omName=$("#new_department").text();
		var new_prj_desc=$("#new_prj_desc").val();
		var new_desc=$("#new_desc").val();
		if(new_prj_name==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(new_prj_status==''){
			toastr.error("项目状态不能为空");
			return;
		}
		if(omName==''){
			toastr.error("跟踪部门不能为空");
			return;
		}
		if(new_prj_desc==''){
			toastr.error("项目概况不能为空");
			return;
		}
		
		var options={
				type: 'POST',
		        url: getContextPath()+'/trace/addProjectTraceOfSubmit',
		        dataType: 'json',
		        data: {
		        	prjName:new_prj_name,
		        	prjNo:new_prj_no,
		        	prjStates:new_prj_status,
		        	prjLv:new_prj_lv,
		        	businessType:new_business_type,
		        	prjAddr:new_prj_addr,
		        	predictPrjScale:new_prj_scale,
		        	fillTime:year,
		        	isbid:new_isbid,
		        	traceDepartment:new_department,
		        	omName:omName,
		        	prjDesc:new_prj_desc,
		        	ptInfo:new_desc
		        },
		        success: function (json) {
		        	if(json.result==0){
		        		toastr.error("提交失败");
		        	}else{
		        		/* $('#mainContent').DataTable().row.add(json.trace).draw(false); */
		        		toastr.success("提交成功");
		        		$("#myModal").modal("hide");
		        	}
		        }
		}
		$("#new_form").ajaxSubmit(options);
	}
	

	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/trace/selectProjectTraceById',
	        dataType: 'json',
	        async:false,
	        data: {
	        	id:id,
	        },
	        success: function (json) {
	        	$("#edit_prj_name").val(json.prjName);
	    		$("#edit_prj_no").val(json.prjNo);
	    		$("#edit_prj_status").val(json.prjStates);
	    		$("#edit_prj_lv").val(json.prjLv);
	    		$("#edit_business_type").val(json.businessType);
	    		$("#yezhudanwei").val(json.prjUnit);
	    		var area=json.prjAddr;
	    		if(area!=''&&area!=null){
            		var province=area.split("/")[0];
	            	var city=area.split("/")[1];
	            	var district=area.split("/")[2];
	            	$("#edit_prj_addr").citypicker("reset");
	          		$("#edit_prj_addr").citypicker("destroy");
	          		$("#edit_prj_addr").citypicker({
	          			province:province,
	          			city:city,
	          			district:district
	          		});
            	}
	    		$("#edit_prj_scale").val(json.predictPrjScale);
	    		$("#edit_year").val(json.fillTime);
	    		$("#edit_isbid").val(json.isbid);
	    		$("#edit_department").val(json.traceDepartment);
	    		$("#edit_user").val(json.ptUser);
	    		$("#edit_prj_desc").val(json.prjDesc);
	    		$("#edit_desc").val(json.ptInfo);
	    		var enterprise=json.enterprise;
	    		$("#lianxibiaoge tbody").html('');
            	for(var i=0;i<enterprise.length;i++){
            		$("#lianxibiaoge tbody").append("<tr><td><input type='text' class='form-control' value="+enterprise[i].eMan+" disabled></td><td><input type='text' class='form-control' value="+enterprise[i].eTel+" disabled></td><td><button type='button' class='btn btn-primary' onclick='deleteLianxiren(this)'>移除联系人</button></td></tr>")
            	}
	    		
	    		$.ajax({
	    			type: 'POST',
	                url: getContextPath()+'/accessory/selectAccessoryById',
	                dataType: 'json',
	                data: {
	                	id:id
	                },
	                success: function (json) {
	                	var accessory=json;
	    				if(accessory.length!=0){
	    					var acc=accessory[0];
	    					aId=acc.aId;
	    					acName=acc.acName;
	    					acUrl=acc.acUrl;
	    					$("#file_tr_td").empty();
	    					$("#file_tr_td2").empty();
	    					$("#file_tr_td").append("<a href='"+getLocalPath()+"/oa_file/"+acUrl+"' target='view_window' style='color:blue;'>"+acName+"</a>");
	    					$("#file_tr_td2").append("<button type='button' class='btn btn-primary' data1='"+aId+"' data2='"+acUrl+"' data3='"+acName+"'  onclick='deleteFile(this)'>删除附件</button>");
	    				}else{
	    					initFileInput();
	    				}
	                }
	    		})
				
	    		
	        }
		});
	}
	
	function initFileInput(){
		$("#file_tr_td").empty();
		$("#file_tr_td2").empty();
		$("#file_tr_td").append("<input name='file' type='file' class='form-control'>");
	}
	
	function deleteFile(obj){
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		var id=$(obj).attr("data1");
		var name=$(obj).attr("data3");
		var url=$(obj).attr("data2");
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/trace/deleteAccessory',
	        dataType: 'json',
	        data: {
	        	aId:id,
	        	acName:name,
	        	acUrl:url
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("删除失败");
	        	}else{
	        		toastr.success("删除成功");
	        		initFileInput();
	        	}
	        }
		});
	}
	
	
	var look_dom;
	var look_id;
	var url;
	var fileName;
	function lookThis(obj){
		look_dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(look_dom).data();
		look_id=data.ptId;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/trace/selectProjectTraceById',
	        dataType: 'json',
	        data: {
	           id:look_id,
	           status:2
	        },
	        success: function (json) {
	        	$("#download_td").html('');
	        	var accessory=json.accessory;
	        	$("#look_prj_name").text(json.prjName);
	    		$("#look_prj_no").text(json.prjNo);
	    		$("#look_prj_status").text(json.prjStates);
	    		$("#look_prj_lv").text(json.prjLv);
	    		$("#look_business_type").text(json.businessType);
	    		$("#look_prj_addr").text(json.prjAddr);
	    		$("#look_prj_scale").text(json.predictPrjScale);
	    		$("#look_year").text(json.fillTime);
	    		$("#look_isbid").text(json.isbid);
	    		$("#look_department").text(json.traceDepartment);
	    		$("#look_prj_desc").text(json.prjDesc);
	    		$("#look_desc").text(json.ptInfo);
	    		/* if(accessory.length==0){
	    			$("#look_url").val("无").attr("disabled",true);
	    			$("#download_td").html('');
	    		}else{
	    			fileName=accessory[0].acName;
		    		$("#look_url").val(fileName).attr("disabled",true);
		    		url=accessory[0].acUrl;
		    		$("#download_td").append("<button type='button' class='btn btn-primary' onclick='download()'>下载附件</button>");	
	    		} */
	    		$("#look_tr").html("")
	    		for(var i=0;i<accessory.length;i++){
                    $("#look_tr").append("<td>业务附件</td>"+
							"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+accessory[i].acUrl+"' target='view_window' style='color:blue;'>"+accessory[i].acName+"</a></td>"
		         	    );
	    		}
	    		
	    		$("#look").modal("show");
	        }
		});
	}
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	function download(){
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+url);
	}
	
	
	function liuchengGaibian(obj){
		var edit_prj_name=$("#edit_prj_name").val();
		var edit_prj_status=$("#edit_prj_status").val();
		var edit_business_type=$("#edit_business_type").val();
		var edit_prj_addr=$("#edit_prj_addr").val();
		var edit_prj_scale=$("#edit_prj_scale").val();
		var edit_year=$("#edit_year").val();
		var edit_isbid=$("#edit_isbid").val();
		var edit_person=$("#edit_user").val();
		var edit_department=$("#edit_department").val();
		var edit_prj_desc=$("#edit_prj_desc").val();
		var edit_desc=$("#edit_desc").val();
		var edit_prj_unit=$("#yezhudanwei").val();
		
		var enterpriseList=new Array();
		$("#lianxibiaoge tbody").find("tr").each(function(){
			var enterprise={
					eId:undefined,
					eMan:undefined,
					eTel:undefined
			}
			enterprise.eId=id;
			enterprise.eMan=$(this).find("input").eq(0).val();
			enterprise.eTel=$(this).find("input").eq(1).val();
			enterpriseList.push(enterprise);
		})
		
		var trace={
			ptId:null,
        	prjNo:undefined,
        	prjName:undefined,
        	prjStates:undefined,
        	prjLv:undefined,
        	businessType:undefined,
        	prjAddr:undefined,
        	fillTime:undefined,
        	isbid:undefined,
        	traceDepartment:undefined,
        	predictPrjScale:undefined,
        	prjDesc:undefined,
        	ptInfo:undefined,
        	ptUser:undefined,
        	prjUnit:undefined,
        	gzEnd:undefined,
        	enterprise:undefined
		}
			trace.ptId=id;
			trace.prjName=edit_prj_name;
			trace.prjStates=edit_prj_status;
			trace.businessType=edit_business_type;
			trace.prjAddr=edit_prj_addr;
			trace.predictPrjScale=edit_prj_scale;
			trace.fillTime=edit_year;
			trace.isbid=edit_isbid;
			trace.traceDepartment=edit_department;
			trace.ptUser=edit_person;
			trace.prjDesc=edit_prj_desc;
			trace.ptInfo=edit_desc;
			trace.prjUnit=edit_prj_unit;
			trace.enterprise=enterpriseList;
		
		
		
		if(edit_prj_name==''){
			toastr.error("项目名称不能为空");
			return "项目名称不能为空";
		}
		if(obj=='1'){
			if(edit_prj_status==''){
				toastr.error("项目状态不能为空");
				return "项目状态不能为空";
			}
			if(edit_department==''){
				toastr.error("跟踪部门不能为空");
				return "跟踪部门不能为空";
			}
			if(edit_prj_desc==''){
				toastr.error("项目概况不能为空");
				return "项目概况不能为空";
			}
			if($("#file_tr_td").find("a").length<1){
	  			if($("#file_tr_td").find("input").length<1||$("#file_tr_td").find("input").eq(0).val()==''){
	  				toastr.error("请上传业务附件");
					return "请上传业务附件";
	  			}
	  		}
		}
		var formData = new FormData();
  		formData.append("trace", JSON.stringify(trace));
  		
  		if($("#file_tr_td").find("input").length>0){
  			formData.append("file", $("#file_tr_td").find("input")[0].files[0]);
  		}
		var result;
  		$.ajax({
  			type: 'POST',
  			url: getContextPath()+'/trace/updateProjectTraceOfSave',
            data: formData,  
            cache: false,
            processData: false,
            contentType: false,
            async: false,
            dataType: 'json',
            success: function (json) {
            	result=json;
            	if(json.result==0){
            		toastr.error("保存失败");
            	}else{
            		toastr.success("保存成功");
            	}
            }
  		})
  		return result;
	}
	
	
	function edit_submit(){
		var edit_prj_name=$("#edit_prj_name").val();
		var edit_prj_no=$("#edit_prj_no").val();
		var edit_prj_status=$("#edit_prj_status").val();
		var edit_prj_lv=$("#edit_prj_lv").val();
		var edit_business_type=$("#edit_business_type").val();
		var edit_prj_addr=$("#edit_prj_addr").val();
		var edit_prj_scale=$("#edit_prj_scale").val();
		var edit_year=$("#edit_year").val();
		var edit_isbid=$("#edit_isbid").val();
		var edit_department=$("#edit_department").val();
		var edit_prj_desc=$("#edit_prj_desc").val();
		var edit_desc=$("#edit_desc").val();
		if(edit_prj_name==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(edit_prj_status==''){
			toastr.error("项目状态不能为空");
			return;
		}
		if(edit_department==''){
			toastr.error("跟踪部门不能为空");
			return;
		}
		if(edit_prj_desc==''){
			toastr.error("项目概况不能为空");
			return;
		}
		var options={
				type: 'POST',
		        url: getContextPath()+'/trace/updateProjectTraceOfSubmit',
		        dataType: 'json',
		        data: {
		        	ptId:edit_id,
		        	prjName:edit_prj_name,
		        	prjNo:edit_prj_no,
		        	prjStates:edit_prj_status,
		        	prjLv:edit_prj_lv,
		        	businessType:edit_business_type,
		        	prjAddr:edit_prj_addr,
		        	predictPrjScale:edit_prj_scale,
		        	fillTime:edit_year,
		        	isbid:edit_isbid,
		        	traceDepartment:edit_department,
		        	prjDesc:edit_prj_desc,
		        	ptInfo:edit_desc
		        },
		        success: function (json) {
		        	if(json.result==0){
		        		toastr.error("添加提交失败");
		        	}else{
		        		toastr.success("添加提交成功");
		        		$("#change").modal("hide");
		        	}
		        }
		}
		$("#edit_form").ajaxSubmit(options);
	}
	
	
	/***************************************************** 项目跟踪日志 ***********************************************/
	
	function new_save_log(){
		var new_prj_name_log=$("#new_prj_name_log").val();
		var new_business_no_log=$("#new_business_no_log").val();
		var new_client_name=$("#new_client_name").val();
		var new_main_department=$("#new_main_department").val();
		var new_log=$("#new_log").val();
		if(new_prj_name_log==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(new_main_department==''){
			toastr.error("主办部门不能为空");
			return;
		}
		
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/traceLog/addProjectTraceLogBySave',
	        dataType: 'json',
	        data: {
	        	manageNo:new_business_no_log,
	        	prjName:new_prj_name_log,
	        	clientName:new_client_name,
	        	sponsorDepartment:new_main_department,
	        	ptlLog:new_log
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("添加保存失败");
	        	}else{
	        		toastr.success("添加保存成功");
					$("#myModal2").modal("hide");
	        	}
	        }
		});
	}
	
	
	function new_submit_log(){
		var new_prj_name_log=$("#new_prj_name_log").val();
		var new_business_no_log=$("#new_business_no_log").val();
		var new_client_name=$("#new_client_name").val();
		var new_main_department=$("#new_main_department").val();
		var new_log=$("#new_log").val();
		if(new_prj_name_log==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(new_main_department==''){
			toastr.error("主办部门不能为空");
			return;
		}
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/traceLog/addProjectTraceLogBySubmit',
	        dataType: 'json',
	        data: {
	        	manageNo:new_business_no_log,
	        	prjName:new_prj_name_log,
	        	clientName:new_client_name,
	        	sponsorDepartment:new_main_department,
	        	ptlLog:new_log
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("添加提交失败");
	        	}else{
	        		toastr.success("添加提交成功");
					$("#myModal2").modal("hide");
	        	}
	        }
		});
	}
	
	


	
	
	function edit_save_log(){
		var prjName=$("#edit_prj_name_log").val();
		var manageNo=$("#edit_business_no_log").val();
		var clientName=$("#edit_client_name").val();
		var sponsorDepartment=$("#edit_main_department").val();
		var ptlLog=$("#edit_log").val();
		if(prjName==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(sponsorDepartment==''){
			toastr.error("主办部门不能为空");
			return;
		}
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/traceLog/updateProjectTraceLogBySave',
	        dataType: 'json',
	        data: {
	        	manageNo:manageNo,
	        	prjName:prjName,
	        	clientName:clientName,
	        	sponsorDepartment:sponsorDepartment,
	        	ptlLog:ptlLog,
	        	ptlId:ptlId
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("修改保存失败");
	        	}else{
	        		toastr.success("修改保存成功");
					$("#edit_modal").modal("hide");
	        	}
	        }
		});
	}
	
	
	function edit_submit_log(){
		var prjName=$("#edit_prj_name_log").val();
		var manageNo=$("#edit_business_no_log").val();
		var clientName=$("#edit_client_name").val();
		var sponsorDepartment=$("#edit_main_department").val();
		var ptlLog=$("#edit_log").val();
		if(prjName==''){
			toastr.error("项目名称不能为空");
			return;
		}
		if(sponsorDepartment==''){
			toastr.error("主办部门不能为空");
			return;
		}
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/traceLog/updateProjectTraceLogBySubmit',
	        dataType: 'json',
	        data: {
	        	manageNo:manageNo,
	        	prjName:prjName,
	        	clientName:clientName,
	        	sponsorDepartment:sponsorDepartment,
	        	ptlLog:ptlLog,
	        	ptlId:ptlId
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("修改提交失败");
	        	}else{
	        		toastr.success("修改提交成功");
					$("#edit_modal").modal("hide");
	        	}
	        }
		});
	}
	
	
	//增加联系人联系电话
    function addLianxiren(aa){
    	var eid=$(aa).parent().prev().prev().prev().find("select").find("option:selected").attr("data-id");
	    var dianhua=$(aa).parent().prev().find("select").val();
	    var ren=$(aa).parent().prev().prev().prev().find("select").val();
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cooperator/countOfEnterprise',
	        dataType: 'json',
	        data:{
	        	eId:eid,
	        	eMan:dianhua,
	        	eTel:ren
	        },
	        success: function (json) {
	        	var lianxiren=$("#lianxiren").val();
	        	var lianxifangshi=$("#lianxifangshi").val();
	        	if(lianxiren==null||lianxifangshi==null||lianxiren==''||lianxifangshi==''){
	        		toastr.error("联系人或联系方式为空");
	        		return;
	        	}
	        	$("#lianxibiaoge tbody").append("<tr><td>"
	        			+'<input type="text" class="form-control" value='+lianxiren+' disabled>'
	        			+"</td><td>"
	        			+'<input type="text" class="form-control" value='+lianxifangshi+' disabled>'
	        			+"</td><td><button type='button' style='text-align:right;' class='btn btn-primary' onclick='deleteLianxiren(this)'>移除联系人</button></td></tr>")
	        }
	    }); 
    }
	
    function saveGuanliren(){
  		 $.ajax({
  	        type: 'POST',
  	        url: getContextPath()+'/cooperator/countOfEnterprise',
  	        dataType: 'json',
  	        data:{
  	        	eId:lianxiid,
  	        	eMan:$("#xinjianlianxiren").val(),
  	        	eTel:$("#xinjianlianxifangshi").val()
  	        },
  	        success: function (json) {
  	        	
  	        	$("#lianxibiaoge tbody").append("<tr><td>"
  	        			+'<input type="text" class="form-control" value='+$("#xinjianlianxiren").val()+' disabled>'
  	        			+"</td><td>"
  	        			+'<input type="text" class="form-control" value='+$("#xinjianlianxifangshi").val()+' disabled>'
  	        			+"</td><td><button type='button' style='text-align:right;' class='btn btn-primary' onclick='deleteLianxiren(this)'>移除联系人</button></td></tr>")
  	        }
  	    });
  		
      }
  //业主单位
	 var lianxiid;
   function leixingSelect2(){
	    $.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cooperator/selectCooperatorIdAndNameByCcType',
	        dataType: 'json',
	        async:false,
	        data: {
	           ccType:'业主单位'
	        },
	        success: function (json) {
	        	$("#yezhudanwei").html('');
	        	 for(var i=0;i<json.length;i++){
	        		$("#yezhudanwei").append( "<option value='" + json[i].ccId + "' data-id='" + json[i].ccId + "'>"
		                    + json[i].ccName + "</option>")
	        	}
	        	 $("#yezhudanwei").trigger("change");
	        	 $('#yezhudanwei').editableSelect().on('select.editable-select', function (e, dom) {
	                 	console.log(dom.attr("data-id"));
		                 var yezhudanwei=$("#yezhudanwei").val();
		                
		             	$.ajax({
		         	        type: 'POST',
		         	        url: getContextPath()+'/task/getEnterpriseById',
		         	        dataType: 'json',
		         	        data: {
		         	           id:dom.attr("data-id")
		         	        },
		         	        success: function (json) {
		         	        	$("#lianxiren").html('');
		         	        	
		         	        	for(var i=0;i<json.length;i++){
		         	        		lianxiid=json[0].eId
		         	        		$("#lianxiren").append("<option data-id="+json[i].eId+" value="+json[i].eMan+">"+json[i].eMan+"</option>");
		         	        	}
		         	        	
		         	        	$("#lianxiren").trigger("change");
		         	        }
		             	});
		             	$("#lianxiren").on("change",function(){
		                	var yezhudanwei=$("#yezhudanwei").val();
		                	var name=$("#lianxiren").val();
		                	$.ajax({
		            	        type: 'POST',
		            	        url: getContextPath()+'/task/getEnterpriseByIdAndName',
		            	        dataType: 'json',
		            	        data: {
		            	           id:dom.attr("data-id"),
		            	           name:name
		            	        },
		            	        success: function (json) {
		            	        	$("#lianxifangshi").html('');
		            	        	for(var i=0;i<json.length;i++){
		            	        		$("#lianxifangshi").append("<option value="+json[i].eTel+">"+json[i].eTel+"</option>");
		            	        	}
		            	        }
		                	});
		                })
		                
         		 });
	        }
	    });
	}
   
   function deleteLianxiren(obj){
	   	var tr=$(obj).parent().parent();
	   	$(tr).remove();
   }
</script>
</html>