<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.AccessoryDao" >
  		<insert id="addAccessory" parameterType="java.util.List">
  			insert into accessory(a_id,ac_name,ac_url,a_type,a_desc) values
  			<foreach collection="accessory" item="a" index="index" separator=",">
  				(#{a.aId},#{a.acName},#{a.acUrl},#{a.aType},#{a.aDesc})
  			</foreach>
  		</insert>
  		
  		<delete id="deleteAccessory" parameterType="String">
  			delete from accessory where a_id=#{id}
  		</delete>
  		
  		<select id="selectAccessoryById" resultType="Accessory">
  			select * from accessory where a_id=#{id}
  		</select>
  		
  		<delete id="deleteAccessoryByIdAndName"  parameterType="Accessory">
  				<!-- <foreach collection="accessory" item="a" index="index" separator=","> -->
  					delete from accessory where a_id=#{accessory.aId} and ac_name=#{accessory.acName}
  				<!-- </foreach> -->
  		</delete>
  		
  		<select id="selectAccessoryByIdAndType" resultType="Accessory">
  			select a_id,ac_name,ac_url,a_type,a_desc from accessory where a_id=#{id} and a_type=#{type}
  		</select>
</mapper>