<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.AlreadySkInfoDao" >

	<insert id="addAlreadyRenling">
		insert into already_renling(r_id,c_no,c_name,t_no,t_name,this_person,sk_no,kp_no,fp_no,
		main_department,fk_danwei,come_all_money,sk_queren_money,fp_desc,queren_date,daozhang_date,fp_money,kp_date,fp_shuoming,make_time)
		values(#{ar.rId},#{ar.cNo},#{ar.cName},#{ar.tNo},#{ar.tName},#{ar.thisPerson},#{ar.skNo},
		#{ar.kpNo},#{ar.fpNo},#{ar.mainDepartment},#{ar.fkDanwei},#{ar.comeAllMoney},#{ar.skQuerenMoney},#{ar.fpDesc},
		#{ar.querenDate},#{ar.daozhangDate},#{ar.fpMoney},#{ar.kpDate},#{ar.fpShuoming},now())
	</insert>
	
	<insert id="addAlreadySkOmInfo">
		insert into already_sk_om_info(ao_id,r_id,om_id,om_name,om_already_money,time,operator_person)
				values(#{skOmInfo.aoId}, #{skOmInfo.rId}, #{skOmInfo.omId},#{skOmInfo.omName},#{skOmInfo.omAlreadyMoney},
				now(),#{skOmInfo.operatorPerson})
	</insert>
	
	<select id="getyirenlingfpMoneyByKpno" resultType="AlreadyRenling">
		select IfNull(sum(sk_queren_money),0) as yirenlingallFpMoney from already_renling as a
		 left join receive_money as b on a.sk_no=b.sk_no and b.`status`!='2'
		 where a.kp_no=#{kpno}
	</select>
	
	<select id="getyirenlingfpMoneyByskno" resultType="AlreadyRenling">
		select IfNull(sum(a.sk_queren_money),0) as yirenlingallFpMoney from already_renling as a
		left join receive_money as b on a.sk_no=b.sk_no and b.`status`!='2'
		 where a.sk_no=#{skNo}
	</select>

	<select id="selectAlreadyRenling" resultType="AlreadyRenling">
		select * from already_renling as a 
		left join receive_money as b on a.sk_no=b.sk_no 
		<where>
			<if test="seachPrjName!='%'.toString()">
				t_name=#{seachPrjName} and
			</if>
			<if test="seachMainDepartment!='%'.toString()">
				main_department=#{seachMainDepartment} and
			</if>
			b.`status`!='0'
		</where>
	</select>
	
	<select id="selectAlreadySkBySkno" resultType="AlreadyRenling">
		select * from already_renling where sk_no=#{skno}
	</select>
	
	<delete id="deleteAlreadyRenlingById">
		delete from already_renling where r_id=#{rId}
	</delete>
	<delete id="deleteAlreadySkOmInfoByrId">
		delete from already_sk_om_info where r_id=#{rId}
	</delete>

	<select id="selectGsRenlingByTime" resultType="AlreadyRenling">
		SELECT IFNULL(SUM(sk_queren_money),0)as sk_queren_money FROM already_renling 
		where queren_date like #{time}
	</select>
	
	<select id="selectDeptRenlingByTime" resultType="AlreadyRenling">
		SELECT IFNULL(SUM(sk_queren_money),0)as sk_queren_money FROM already_renling 
		where queren_date like #{time} and main_department=#{dept}
	</select>
	
	<select id="selectDeptRenlingByTimeAndType" resultType="AlreadyRenling">
		SELECT IFNULL(SUM(sk_queren_money),0)as sk_queren_money FROM already_renling as a
		LEFT JOIN task as b on a.t_no=b.prj_no
		where a.queren_date like #{time} and a.main_department=#{dept} and b.prj_type2 like #{type}
	</select>
	
	<select id="selectDeptRenlingByStartAndEndTime" resultType="AlreadyRenling">
		SELECT IFNULL(SUM(sk_queren_money),0)as sk_queren_money FROM already_renling 
		where main_department=#{dept} and queren_date BETWEEN #{start} and #{end}
	</select>
	
	<select id="getAllSkByTaskNo" resultType="Double">
		SELECT IFNULL(SUM(sk_queren_money),0) FROM already_renling where t_no=#{no}
	</select>
	
	<update id="buleFpNo">
		update already_renling set fp_no=#{fpNo} where r_id=#{id}
	</update>
</mapper>