<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ArtificialBudgetDao" >
	<insert id="addArtificialBudget" parameterType="java.util.List"> 
  		insert into artificial_budget(a_id,prj_member_type,a_name,role_coefficient,estimated_days,a_desc) values
  			<foreach collection="artificialBudget" item="item"  index="index" separator=",">
  				(#{item.aId},#{item.prjMemberType},#{item.aName},#{item.roleCoefficient},#{item.estimatedDays},#{item.aDesc})
  			</foreach>
  	</insert>
  	<delete id="deleteArtificialBudgetById" parameterType="String">
  		delete from artificial_budget where a_id=#{id}
  	</delete>
  	<select id="selectArtificialBudgetById" resultType="ArtificialBudget">
  		select * from artificial_budget where a_id=#{id}
  	</select>
</mapper>