<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BidApprovalDao" >

	<select id="selectBidApproval" resultType="BidApproval">
		select a.*,c.cc_name,IFNULL(o.zhongbiao,'') zhongbiao,om.om_name from bid_approval a
		left join mode_status b on a.ba_id=b.mode_id
		left join consociation_company as c on a.owner_unit=c.cc_id
		left join organization_management om on a.xb_department = om.om_id
		left join opening_record as o on o.prj_no = a.prj_no
		where status=#{status}
	</select>
	
	<select id="selectBidApprovalById" resultType="BidApproval">
		select a.*,c.cc_name,d.om_name,user.u_name tbUname from bid_approval as a
		left join consociation_company as c on a.owner_unit=c.cc_id
		left join organization_management as d on a.xb_department=d.om_id
		left join user on user.user_id = a.tb_people
		where ba_id=#{id}
	</select>
	
	<insert id="addBidApproval" parameterType="BidApproval">
		insert into bid_approval(ba_id,prj_name,prj_no,owner_unit,prj_type,bidder,pretrial_submission_time,field_time,pretender_meeting_time,
			submission_time,project_applicants,purchase_tender_personnel)
		values(#{ba.baId},#{ba.prjName},#{ba.prjNo},#{ba.ownerUnit},#{ba.prjType},#{ba.bidder},#{ba.pretrialSubmissionTime},#{ba.fieldTime}
			,#{ba.pretenderMeetingTime},#{ba.submissionTime},#{ba.projectApplicants},#{ba.purchaseTenderPersonnel})
	</insert>
	
	
	<select id="prjNocount" resultType="int">
		SELECT COUNT(1) FROM bid_approval where pretrial_submission_time like #{year}
	</select>
	
	<delete id="deleteBidApproval">
		delete from bid_approval where ba_id=#{id}
	</delete>
	
	<update id="updateBidApproval" parameterType="BidApproval">
		update bid_approval set 
		prj_name=#{ba.prjName},
		prj_no=#{ba.prjNo},
		owner_unit=#{ba.ownerUnit},
		prj_type=#{ba.prjType},
		bidder=#{ba.bidder},
		pretrial_submission_time=#{ba.pretrialSubmissionTime},
		field_time=#{ba.fieldTime},
		pretender_meeting_time=#{ba.pretenderMeetingTime},
		submission_time=#{ba.submissionTime},
		project_applicants=#{ba.projectApplicants},
		purchase_tender_personnel=#{ba.purchaseTenderPersonnel}
		where ba_id=#{ba.baId}
	</update>
	
	<select id="selectprjNameAndNo" resultType="BidApproval">
		select a.prj_name,a.prj_no,c.cc_name,a.prj_type from bid_approval a 
		left join mode_status b on a.ba_id=b.mode_id
		left join consociation_company as c on a.owner_unit=c.cc_id
		where b.status=#{status}
	</select>
	
	<select id="selectNoByName" resultType="BidApproval">
		select prj_name,prj_no,prj_type,owner_unit from bid_approval where prj_name=#{name}
	</select>
	
	<select id="selectNameByNo" resultType="BidApproval">
		select prj_name,prj_no,prj_type,owner_unit,c.cc_name from bid_approval as a
		left join consociation_company as c on a.owner_unit=c.cc_id
		where prj_no=#{no}
	</select>

	<update id="updateSpPeoson" parameterType="BidApproval">
		update bid_approval set 
			business_people=#{ba.businessPeople},
			bid_people=#{ba.bidPeople},
			next_department=#{ba.nextDepartment}
		where ba_id=#{ba.baId}
	</update>
	
	<update id="updateSubmissionTime" parameterType="BidApproval">
		update bid_approval set 
			submission_time=#{ba.submissionTime} 
		where ba_id=#{ba.baId}
	</update>
	<update id="updateFlowEdit" parameterType="BidApproval">
		update bid_approval 
		<set> 
			<if test="ba.businessPeople!=null and ba.businessPeople!=''">
				business_people=#{ba.businessPeople},
			</if> 
			<if test="ba.bidPeople!=null and ba.bidPeople!=''">
				bid_people=#{ba.bidPeople},
			</if> 
			<if test="ba.nextDepartment!=null and ba.nextDepartment!=''">
				next_department=#{ba.nextDepartment},
			</if> 
			<if test="ba.fileLevel!=null and ba.fileLevel!=''">
				file_level=#{ba.fileLevel},
			</if>
			<if test="ba.tbPeople!=null and ba.tbPeople!=''">
				tb_people=#{ba.tbPeople},
			</if>
			<if test="ba.xbDepartment!=null and ba.xbDepartment!=''">
				xb_department=#{ba.xbDepartment},
			</if>
			<if test="ba.fgLindao!=null and ba.fgLindao!=''">
				fg_lindao=#{ba.fgLindao}
			</if>
	    </set>
		where ba_id=#{ba.baId}
	</update>
	
	<select id="selectBidApprovalByTypeAndDepartment" resultType="BidApproval">
		select a.*,c.cc_name,IFNULL(o.zhongbiao,'') zhongbiao  from bid_approval a
		left join mode_status b on a.ba_id=b.mode_id
		left join consociation_company as c on a.owner_unit=c.cc_id
		left join opening_record as o on o.prj_no = a.prj_no
		where status=2 and prj_type like #{type} and xb_department like #{department}
	</select>
</mapper>