<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BidApprovalDao" >

	<select id="selectBidApproval" resultType="BidApproval">
		select * from bid_approval
	</select>
	
	<insert id="addBidApproval" parameterType="BidApproval">
		insert into bid_approval(ba_id,prj_name,prj_no,owner_unit,prj_type,bidder,pretrial_submission_time,field_time,pretender_meeting_time,
			submission_time,project_applicants,purchase_tender_personnel)
		values(#{ba.baId},#{ba.prjName},#{ba.prjNo},#{ba.ownerUnit},#{ba.prjType},#{ba.bidder},#{ba.pretrialSubmissionTime},#{ba.fieldTime}
			,#{ba.pretenderMeetingTime},#{ba.submissionTime},#{ba.projectApplicants},#{ba.purchaseTenderPersonnel})
	</insert>
	
	
	<select id="prjNocount" resultType="int">
		select count(1) from (select distinct prj_no from bid_approval) as a
	</select>
	
	<delete id="deleteBidApproval">
		delete from bid_approval where ba_id=#{id}
	</delete>

</mapper>