<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BiddingListDao" >
	<insert id="adddiddingList" parameterType="org.ldxx.bean.ProjectList">
		insert into project_list (pl_id,pl_unit,prj_Name,prj_type,isbiding,pl_money)
		values(#{projectList.plId},
			#{projectList.plUnit},
			#{projectList.prjName},
			#{projectList.prjType},
			#{projectList.isbiding},
			#{projectList.plMoney})
	</insert>
	<delete id="deletediddingListById" parameterType="String">
		delete from project_list where pl_id=#{plId}
	</delete>
	<update id="updatediddingList" parameterType="org.ldxx.bean.ProjectList">
		update project_list
		<set> 
			<if test="projectList.plUnit!=null">
				pl_unit=#{projectList.plUnit},
			</if>
			<if test="projectList.prjName!=null">
				prj_Name=#{projectList.prjName},
			</if>
			<if test="projectList.prjType!=null">
				prj_type=#{projectList.prjType},
			</if>
			<if test="projectList.isbiding!=null">
				isbiding=#{projectList.isbiding},
			</if>
			<if test="projectList.plMoney!=null">
				pl_money=#{projectList.plMoney}
			</if>
		</set>
		where pl_id=#{projectList.plId}
	</update>
	<select id="selectdiddingList" resultType="org.ldxx.bean.ProjectList">
		select a.*,c.om_name from project_list a LEFT JOIN organization_management c on a.pl_unit=c.om_id
	</select> 
	<!-- <select id="selectdiddingList" resultType="org.ldxx.bean.ProjectList">
		select * from project_list  
	</select> -->
	<select id="selectdiddingUnitAndType" resultType="org.ldxx.bean.ProjectList">
		select pl_id,pl_unit,prj_type from project_list
	</select>
	<select id="selectdiddingByUnitAndType" resultType="org.ldxx.bean.ProjectList">
		select a.*,c.om_name
		from project_list a LEFT JOIN organization_management c on a.pl_unit=c.om_id
		where pl_unit =#{plUnit} and prj_type=#{prjType}
	</select>
	
	<select id="selectdiddingListById" resultType="org.ldxx.bean.ProjectList">
		select a.*,c.om_name from project_list a 
		LEFT JOIN organization_management c on a.pl_unit=c.om_id
		where pl_id=#{id}
	</select>
	
</mapper>