<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BorrowContractDao">

	<select id="selectBorrowContract" resultType="BorrowContract">
		select *,c.cc_name from borrow_contract a 
		left join mode_status m on m.mode_id=a.b_id
		left join consociation_company c on c.cc_id=a.unit_yi
		where m.status=#{status}
	</select>
	
	<select id="JKNocount" resultType="int">
		select count(1) from (select distinct b_no from borrow_contract where b_no like #{year}) as a
	</select>
	
	<insert id="addBorrowContractSave" parameterType="BorrowContract">
		insert into borrow_contract(b_id,b_no,unit_jia,unit_yi,cj_no,fb_no,this_borrow_money,rate,interest_payment_method,
		borrow_time,borrow_end_time,accumulated_borrowing_money,borrowing_purposes,history,make_time)
		values(#{bc.bId},#{bc.bNo},#{bc.unitJia},#{bc.unitYi},#{bc.cjNo},#{bc.fbNo},#{bc.thisBorrowMoney},#{bc.rate},
		#{bc.interestPaymentMethod},#{bc.borrowTime},#{bc.borrowEndTime},#{bc.accumulatedBorrowingMoney},#{bc.borrowingPurposes},1,now())
	</insert>
	
	<update id="updateBorrowContractById">
		update borrow_contract
		set
			b_no=#{bc.bNo},
			unit_jia=#{bc.unitJia},
			unit_yi=#{bc.unitYi},
			cj_no=#{bc.cjNo},
			fb_no=#{bc.fbNo},
			this_borrow_money=#{bc.thisBorrowMoney},
			rate=#{bc.rate},
			interest_payment_method=#{bc.interestPaymentMethod},
			borrow_time=#{bc.borrowTime},
			borrow_end_time=#{bc.borrowEndTime},
			accumulated_borrowing_money=#{bc.accumulatedBorrowingMoney},
			borrowing_purposes=#{bc.borrowingPurposes}
		where b_id=#{bc.bId}
	</update>
	
	<select id="selectBorrowContractHistory" resultType="BorrowContract">
		select *,c.cc_name from borrow_contract a
		left join consociation_company c on c.cc_id=a.unit_yi
		 where b_no=#{no} and history=0
	</select>
	
	<update id="updateHistoryById">
		UPDATE borrow_contract SET history=0  where b_no =(select a.b_no from (SELECT b_no from borrow_contract WHERE b_id=#{id}) AS a)
	</update>
	
	<update id="updateHistoryNow">
		UPDATE borrow_contract SET history=1 WHERE b_id=#{id}
	</update>
	
	<update id="updateHistory">
		UPDATE borrow_contract SET history=0 WHERE b_id=#{id}
	</update>
	
	<select id="selectBorrowById" resultType="BorrowContract">
		SELECT a.*,b.cc_name FROM borrow_contract as a
		LEFT JOIN consociation_company as b on a.unit_yi=b.cc_id
		where b_id=#{id}
	</select>
	
	<select id="selectAllBorrowByFbNo" resultType="BorrowContract">
		SELECT IFNULL(SUM(this_borrow_money),0) as accumulated_borrowing_money FROM borrow_contract as a
		LEFT JOIN mode_status as b on a.b_id=b.mode_id
		where fb_no=#{no} and b.status=2
	</select>
	
	<select id="getRateAndMoney" resultType="BorrowContract">
		SELECT this_borrow_money,rate,borrow_time,borrow_end_time FROM borrow_contract as a
		LEFT JOIN mode_status as b on a.b_id=b.mode_id
		where fb_no=#{no} and b.status=2
	</select>
</mapper>