<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BudgetFpplicationFormDao" >
	<insert id="saveBudge" parameterType="BudgetFpplicationForm">
		insert into budget_fpplication_form(bf_id,bf_no,prj_id,task_no,prj_unit,budget_date,declarer,make_time,state) values
			(#{budge.bfId},#{budge.bfNo},#{budge.prjId},#{budge.taskNo },#{budge.prjUnit},#{budge.budgetDate},#{budge.declarer},now(),1)
	</insert>
	<delete id="deleteBudgeById" parameterType="String">
		delete from budget_fpplication_form where bf_id=#{id}
	</delete>
	<!-- <update id="updateBudge" parameterType="BudgetFpplicationForm">
		update budget_fpplication_form 
			set prj_id=#{budge.prjId},
				task_no =#{budge.taskNo},
				prj_unit=#{budge.prjUnit},
				budget_date=#{budge.budgetDate},
				declarer=#{budge.declarer},
				make_time=#{budge.makeTime},
				state=#{budge.state}
			where bf_id=#{budge.bfId}
	</update> -->
	<select id="selectBudgeByStatus" parameterType="String" resultType="BudgetFpplicationForm">
		select b.* from budget_fpplication_form b 
			left join mode_status m on b.bf_id=m.mode_id 
			where m.status=#{status} and b.state=1
	</select>
	<select id="selectBudgeById" resultType="BudgetFpplicationForm">
		select * from budget_fpplication_form where bf_id=#{id} 
	</select>
	<select id="selectBudgeHistory" resultType="BudgetFpplicationForm">
		select * from budget_fpplication_form where bf_no=#{no} and state=0
	</select>
	<update id="changeStateById" parameterType="String">
		update budget_fpplication_form  set state=0 where bf_id=#{bfId}
	</update>
	<select id="countNo" resultType="int">
		select count(1) from (select distinct bf_no from budget_fpplication_form) as a
	</select>
	
	<select id="selectBudgeByNo" resultType="BudgetFpplicationForm">
		select * from budget_fpplication_form where task_no=#{no} and state=1
	</select>
	
	<select id="selectBudgeByName" resultType="BudgetFpplicationForm">
		select * from budget_fpplication_form where prj_id=#{name} and state=1
	</select>
</mapper>