<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.BudgetMainMaterialDao" >

	<insert id="addBudgetMainMaterial" parameterType="java.util.List"> 
  		insert into budget_main_material(b_id,mater_name,mater_type,mater_mode,mater_unit,mater_number,mater_price,department,sj_mater_number) values
  			<foreach collection="budgetMainMaterial" item="item"  index="index" separator=",">
  				(#{item.bId},#{item.materName},#{item.materType},#{item.materMode},#{item.materUnit},#{item.materNumber},#{item.materPrice},#{item.department},#{item.sjMaterNumber})
  			</foreach>
  	</insert>
  	<select id="selectBudgetMainMaterialById" resultType="BudgetMainMaterial">
  		select a.*,b.om_name as clomName from budget_main_material a left join organization_management b on a.department=b.om_id where b_id=#{id}
  	</select>
  	<delete id="deleteBudgetMainMaterialById">
  		delete from budget_main_material where b_id=#{id}
  	</delete>

</mapper>