<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CgClDao">

	<insert id="addCgCl">
		insert into cg_cl(cg_id,cl_name,cl_type,cl_mode,cl_unit,cl_number,cl_price,cl_money,
		cl_prj_supplier,cl_gs_supplier,cl_desc)
		values	
			<foreach collection="cgcl" item="item" index="index" separator=",">
				(#{item.cgId},#{item.clName},#{item.clType},#{item.clMode},#{item.clUnit},#{item.clNumber},#{item.clPrice}
				,#{item.clMoney},#{item.clPrjSupplier},#{item.clGsSupplier},#{item.clDesc})
			</foreach>
	</insert>
	
	<select id="selectCgClById" resultType="CgCl">
		select * from cg_cl where cg_id=#{id}
	</select>

</mapper>