<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CgContractDao">

	<select id="selectCgContractByStatus" resultType="CgContract">
		select a.*,c.sp_name from cg_contract a
			left join mode_status b on a.cg_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		where b.status=#{status} and a.history=1
	</select>
	
	<insert id="addCgContract" parameterType="CgContract">
		insert into cg_contract(cg_id,contract_name,cg_no,cgd_no,work_no,prj_name,is_program,program_type,cgc_type,program_money,
			cg_contract_money,contract_name_jia,contract_name_yi,pay_mode,contract_sign_time,contract_summary,work_content,
			make_time,history,fb_no,cg_department,freight,borrow_no) 
		values(#{cg.cgId},#{cg.contractName},#{cg.cgNo},#{cg.cgdNo},#{cg.workNo},#{cg.prjName},
			#{cg.isProgram},#{cg.programType},#{cg.cgcType},
			#{cg.programMoney},#{cg.cgContractMoney},#{cg.contractNameJia},
			#{cg.contractNameYi},#{cg.payMode},#{cg.contractSignTime},#{cg.contractSummary},
			#{cg.workContent},now(),1,#{cg.fbNo},#{cg.cgDepartment},#{cg.freight},#{cg.borrowNo})
	</insert>
	
	<update id="updateCgContractById">
		update cg_contract set
		contract_name=#{cg.contractName},
		cg_no=#{cg.cgNo},
		cgd_no=#{cg.cgdNo},
		work_no=#{cg.workNo},
		prj_name=#{cg.prjName},
		is_program=#{cg.isProgram},
		program_type=#{cg.programType},
		cgc_type=#{cg.cgcType},
		program_money=#{cg.programMoney},
		cg_contract_money=#{cg.cgContractMoney},
		contract_name_jia=#{cg.contractNameJia},
		contract_name_yi=#{cg.contractNameYi},
		pay_mode=#{cg.payMode},
		contract_sign_time=#{cg.contractSignTime},
		contract_summary=#{cg.contractSummary},
		work_content=#{cg.workContent},
		fb_no=#{cg.fbNo},
		cg_department=#{cg.cgDepartment},
		freight=#{cg.freight},
		borrow_no=#{cg.borrowNo}
		where cg_id=#{cg.cgId}
	</update>
	
	<delete id="deleteCgContractById">
		delete from cg_contract where cg_id=#{id}
	</delete>
	
	<select id="selectCgContractById" resultType="CgContract">
		select *,c.sp_name  from cg_contract a left join sourcing_purchasing c on c.sp_id=a.contract_name_yi  where cg_id=#{id}
	</select>
	
	<select id="selectCgIdAndName" resultType="CgContract">
		select cg_id,cg_no,contract_name,prj_name,work_no,c.sp_name from cg_contract a
			left join mode_status b on a.cg_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		where b.status=2 and a.history=1
	</select>
	
	<select id="selectCgnoById" resultType="CgContract">
		select cg_no from cg_contract where cg_id=#{id}
	</select>
	
	<select id="selectHistoryByNo" parameterType="String" resultType="CgContract">
		select a.*,c.sp_name from  cg_contract a
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		 where a.cg_no=#{cgNo} and a.history=0
	</select>
	
	<select id="cgNocount" resultType="int">
		select count(1) from (select distinct cg_no from cg_contract where cg_no like #{year}) as a
	</select>
	
	<select id="getCGNameAndNo" resultType="CgContract">
		select cg_id,contract_name,cg_no,cgd_no,prj_name,work_no,contract_name_yi,c.sp_name,cg_contract_money from cg_contract a
			left join mode_status b on a.cg_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		 where b.status=2 and a.history=1
	</select>
	
	<select id="getCGNameByNo" resultType="CgContract">
		select cg_id,cgd_no,contract_name,work_no,contract_name_yi,prj_name,cg_contract_money from cg_contract where cg_no=#{cgNo} and history=1
	</select>
	
	<select id="getCGNoByName" resultType="CgContract">
		select cg_no,cgd_no,work_no,prj_name from cg_contract where contract_name=#{contractName} and history=1
	</select>
	
	<select id="getCGNameAndPrjNameBytaskNo" resultType="CgContract">
		select cg_id,cg_no,contract_name,prj_name from cg_contract a 
		left join mode_status b on a.cg_id =b.mode_id
		 where a.work_no=#{no} and a.history=1 and b.status=2
	</select>
	
	<select id="getCGNametaskNoAndByPrjName" resultType="CgContract">
		select cg_id,cg_no,work_no,contract_name from cg_contract a
		left join mode_status b on a.cg_id =b.mode_id
		where a.prj_name=#{name} and a.history=1 and b.status=2
	</select>
	
	<select id="getCGNameCgNoAndCgMoney" resultType="CgContract">
		select cg_id,cg_no,contract_name,cg_contract_money,contract_sign_time from cg_contract where history=1
	</select>
	
	<select id="selectByCgNo" resultType="CgContract">
		select *,c.sp_name  from cg_contract a 
		LEFT JOIN mode_status as b on a.cg_id=b.mode_id
		left join sourcing_purchasing c on c.sp_id=a.contract_name_yi  
		where b.status=2 and a.cg_no=#{no} and a.history=1
	</select>
	
	<select id="selectCgContractByWorkNo" resultType="CgContract">
		SELECT contract_name,cg_no,cgc_type,cg_contract_money,c.sp_name FROM cg_contract as a
		LEFT JOIN mode_status as b on a.cg_id=b.mode_id
		LEFT JOIN sourcing_purchasing as c on c.sp_id=a.contract_name_yi
		where b.status=2 and work_no like #{no} and a.history=1
	</select>
	
	<update id="updateHistoryById">
		UPDATE cg_contract SET history=0  where cg_no =(select a.cg_no from (SELECT cg_no from cg_contract WHERE cg_id=#{id}) AS a)
	</update>
	
	<update id="updateHistoryNow">
		UPDATE cg_contract SET history=1  where cg_id=#{id}
	</update>
	
	<update id="updatePrjNameAndNoById">
		UPDATE cg_contract set 
			<if test="cg.workNo!=null">
				work_no=#{cg.workNo},
			</if>
			<if test="cg.prjName!=null">
				prj_name=#{cg.prjName},
			</if>
			<if test="cg.fbNo!=null">
				fb_no=#{cg.fbNo},
			</if>
			<if test="cg.borrowNo!=null">
				borrow_no=#{cg.borrowNo},
			</if>
			<if test="cg.programType!=null">
				program_type=#{cg.programType},
			</if>
			<if test="cg.programMoney!=null">
				program_money=#{cg.programMoney}
			</if>
		where cg_id=#{cg.cgId}
	</update>
	
	<update id="updatecgNoById">
		update cg_contract set 
			cg_no=#{cgNo2}
		where cg_id=#{id}
	</update>
	
	<select id="selectCgContractShowByCgNo" parameterType="String" resultType="CgContract">
		select * from cg_contract as a 
		LEFT JOIN mode_status as b on a.cg_id=b.mode_id  
		where b.status=2 and a.cg_no=#{cgNo} and a.history=1
	</select>
</mapper>