<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CgOtherContractDao">

	<select id="selectCgOtherContractByStatus" resultType="CgOtherContract">
		select a.*,c.sp_name from cg_other_contract a
			left join mode_status b on a.cgo_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		where b.status=#{status} and a.history=1
	</select>
	
	<select id="selectCgOtherContractByStatus2" resultType="CgOtherContract">
		select a.*,c.sp_name,f.StarterName as starterName,b.status as status
		FROM cg_other_contract a
			left join mode_status b on a.cgo_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
			LEFT JOIN (SELECT mode_id,StarterName from (SELECT * from flowhistroy order by do_date ASC) f 
					LEFT JOIN cg_other_contract a ON a.cgo_id=f.mode_id  GROUP BY mode_id )  AS  f on a.cgo_id=f.mode_id 
		where (b.status=1 or b.status=2 or b.status=3) and a.history=1 order by contract_sign_time desc
	</select>
	
	<insert id="addCgOtherContract" parameterType="CgOtherContract">
		insert into cg_other_contract(cgo_id,contract_name,cgo_no,work_no,prj_name,cgoc_type,
			cgo_contract_money,contract_name_jia,contract_name_yi,pay_mode,contract_sign_time,contract_summary,work_content,
			make_time,history,cgo_department,freight,shuilv,shuijin) 
		values(#{cgo.cgoId},#{cgo.contractName},#{cgo.cgoNo},#{cgo.workNo},#{cgo.prjName},#{cgo.cgocType},
			#{cgo.CgoContractMoney},#{cgo.contractNameJia},#{cgo.contractNameYi},#{cgo.payMode},
			#{cgo.contractSignTime},#{cgo.contractSummary},#{cgo.workContent},now(),1,#{cgo.cgoDepartment},
			#{cgo.freight},#{cgo.shuilv},#{cgo.shuijin})
	</insert>
	
	<update id="updateCgOtherContractById">
		update cg_other_contract set
		contract_name=#{cgo.contractName},
		cgo_no=#{cgo.cgoNo},
		work_no=#{cgo.workNo},
		prj_name=#{cgo.prjName},
		cgoc_type=#{cgo.cgocType},
		cgo_contract_money=#{cgo.CgoContractMoney},
		contract_name_jia=#{cgo.contractNameJia},
		contract_name_yi=#{cgo.contractNameYi},
		pay_mode=#{cgo.payMode},
		contract_sign_time=#{cgo.contractSignTime},
		contract_summary=#{cgo.contractSummary},
		work_content=#{cgo.workContent},
		cgo_department=#{cgo.cgoDepartment},
		freight=#{cgo.freight},
		shuilv=#{cgo.shuilv},
		shuijin=#{cgo.shuijin}
		where cgo_id=#{cgo.cgoId}
	</update>
	
	<delete id="deleteCgOtherContractById">
		delete from cg_other_contract where cgo_id=#{id}
	</delete>
	
	<select id="selectCgOtherContractById" resultType="CgOtherContract">
		select *,c.sp_name  from cg_other_contract a left join sourcing_purchasing c on c.sp_id=a.contract_name_yi  where cgo_id=#{id}
	</select>
	
	<select id="selectcgoIdAndName" resultType="CgOtherContract">
		select cgo_id,cgo_no,contract_name,prj_name,work_no,c.sp_name from cg_other_contract a
			left join mode_status b on a.cgo_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		where b.status=2 and a.history=1
	</select>
	
	<select id="selectCgonoById" resultType="CgOtherContract">
		select cgo_no from cg_other_contract where cgo_id=#{id}
	</select>
	
	<select id="selectHistoryByNo" parameterType="String" resultType="CgOtherContract">
		select a.*,c.sp_name from  cg_other_contract a
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		 where a.cgo_no=#{cgoNo} and a.history=0
	</select>
	
	<select id="cgoNocount" resultType="int">
		select count(1) from (select distinct cgo_no from cg_other_contract where cgo_no like #{year}) as a
	</select>
	
	<select id="getCGoNameAndNo" resultType="CgOtherContract">
		select cgo_id,contract_name,cgo_no,cgd_no,prj_name,work_no,contract_name_yi,c.sp_name,cgo_contract_money from cg_other_contract a
			left join mode_status b on a.cgo_id =b.mode_id
			left join sourcing_purchasing c on c.sp_id=a.contract_name_yi 
		 where b.status=2 and a.history=1
	</select>
	
	<select id="getCGoNameByNo" resultType="CgOtherContract">
		select cgo_id,contract_name,work_no,contract_name_yi,prj_name,cgo_contract_money from cg_other_contract where cgo_no=#{cgoNo} and history=1
	</select>
	
	<select id="getCGoNoByName" resultType="CgOtherContract">
		select cgo_no,work_no,prj_name from cg_other_contract where contract_name=#{contractName} and history=1
	</select>
	
	<select id="getCGoNameAndPrjNameBytaskNo" resultType="CgOtherContract">
		select cgo_id,cgo_no,contract_name,prj_name from cg_other_contract a 
		left join mode_status b on a.cgo_id =b.mode_id
		 where a.work_no=#{no} and a.history=1 and b.status=2
	</select>
	
	<select id="getCGoNametaskNoAndByPrjName" resultType="CgOtherContract">
		select cgo_id,cgo_no,work_no,contract_name from cg_other_contract a
		left join mode_status b on a.cgo_id =b.mode_id
		where a.prj_name=#{name} and a.history=1 and b.status=2
	</select>
	
	<select id="getCGoNameCgoNoAndCgoMoney" resultType="CgOtherContract">
		select cgo_id,cgo_no,contract_name,cgo_contract_money,contract_sign_time from cg_other_contract where history=1
	</select>
	
	<select id="selectByCgoNo" resultType="CgOtherContract">
		select *,c.sp_name  from cg_other_contract a 
		LEFT JOIN mode_status as b on a.cgo_id=b.mode_id
		left join sourcing_purchasing c on c.sp_id=a.contract_name_yi  
		where b.status=2 and a.cgo_no=#{no} and a.history=1
	</select>
	
	<select id="selectCgOtherContractByWorkNo" resultType="CgOtherContract">
		SELECT contract_name,cgo_no,cgoc_type,cgo_contract_money,c.sp_name FROM cg_other_contract as a
		LEFT JOIN mode_status as b on a.cgo_id=b.mode_id
		LEFT JOIN sourcing_purchasing as c on c.sp_id=a.contract_name_yi
		where b.status=2 and work_no like #{no} and a.history=1
	</select>
	
	<update id="updateHistoryById">
		UPDATE cg_other_contract SET history=0  where cgo_no =(select a.cgo_no from (SELECT cgo_no from cg_other_contract WHERE cgo_id=#{id}) AS a)
	</update>
	
	<update id="updateHistoryNow">
		UPDATE cg_other_contract SET history=1  where cgo_id=#{id}
	</update>
	
	<update id="updatePrjNameAndNoById">
		UPDATE cg_other_contract 
		<set> 
			<if test="cgo.workNo!=null">
				work_no=#{cgo.workNo},
			</if>
			<if test="cgo.prjName!=null">
				prj_name=#{cgo.prjName},
			</if>
		</set>
		where cgo_id=#{cgo.cgoId}
	</update>
	
	<update id="updatecgoNoById">
		update cg_other_contract set 
			cgo_no=#{cgoNo2}
		where cgo_id=#{id}
	</update>
				
	<select id="selectCgOtherContractShowByCgoNo" parameterType="String" resultType="CgOtherContract">
		select * from cg_other_contract as a 
		LEFT JOIN mode_status as b on a.cgo_id=b.mode_id  
		where b.status=2 and a.cgo_no=#{cgoNo} and a.history=1
	</select>
	
	<select id="getCGoNoByTaskNo" parameterType="String" resultType="CgOtherContract">
		select a.cgo_no from cg_other_contract as a 
		LEFT JOIN mode_status as b on a.cgo_id=b.mode_id  
		where b.status=2 and a.history=1 and a.work_no=#{no} order by a.work_no asc
	</select>
</mapper>