<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CjContractDao" >
	<insert id="addCjContract" parameterType="CjContract">
		insert into cj_contract(cj_id,task_code,contract_name,contract_no,prj_name,prj_type,contract_name_jia,contract_name_yi,
						contract_start_time,contract_end_time,yi_cj_department,contract_long_time,receieve_money_condition,
						contract_money,temporary_money,contract_sign_time,work_info,main_department,main_department_money,
						assist_department1,assist_department1_money,assist_department2,assist_department2_money,
						assist_department3,assist_department3_money)
				values(#{cj.cjId},#{cj.taskCode},#{cj.contractName},#{cj.contractNo},#{cj.prjName},#{cj.prjType},#{cj.contractNameJia},
				#{cj.contractNameYi},#{cj.contractStartTime},#{cj.contractEndTime},#{cj.yiCjDepartment},#{cj.contractLongTime},
				#{cj.receieveMoneyCondition},#{cj.contractMoney},#{cj.temporaryMoney},#{cj.contractSignTime},#{cj.workInfo},
				#{cj.mainDepartment},#{cj.mainDepartmentMoney},#{cj.assistDepartment1},#{cj.assistDepartment1Money},
				#{cj.assistDepartment2},#{cj.assistDepartment2Money},#{cj.assistDepartment3},#{cj.assistDepartment3Money})		
	</insert>
	
	<update id="updateCjContract" parameterType="CjContract">
		update cj_contract set task_code=#{cj.taskCode},contract_name=#{cj.contractName},prj_name=#{cj.prjName},
		prj_type=#{cj.prjType},contract_name_jia=#{cj.contractNameJia},contract_name_yi=#{cj.contractNameYi},
		contract_start_time=#{cj.contractStartTime},contract_end_time=#{cj.contractEndTime},
		yi_cj_department=#{cj.yiCjDepartment},contract_long_time=#{cj.contractLongTime},
		receieve_money_condition=#{cj.receieveMoneyCondition},contract_money=#{cj.contractMoney},
		temporary_money=#{cj.temporaryMoney},contract_sign_time=#{cj.contractSignTime},work_info=#{cj.workInfo},
		main_department=#{cj.mainDepartment},main_department_money=#{cj.mainDepartmentMoney},
		assist_department1=#{cj.assistDepartment1},assist_department1_money=#{cj.assistDepartment1Money},
		assist_department2=#{cj.assistDepartment2},assist_department2_money=#{cj.assistDepartment2Money},
		assist_department3=#{cj.assistDepartment3},assist_department3_money=#{cj.assistDepartment3Money}
		where cj_id=#{cj.cjId}
	</update>
	
	<select id="selectCjContractByStatus" resultType="CjContract">
		select a.*,c.cc_name,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4 
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join consociation_company as c on a.contract_name_jia=c.cc_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		where b.status=#{status}
	</select>
	
	<select id="selectCjHistory" resultType="CjContract">
		select a.*,c.cc_name,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4 
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join consociation_company as c on a.contract_name_jia=c.cc_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		where contract_no=#{no} and history=0
	</select>
	
	<select id="selectCjContractById" resultType="CjContract">
		select * from cj_contract where cj_id=#{id}
	</select>
	
	<delete id="deleteCjContract" parameterType="String">
		delete from cj_contract where cj_id=#{id}
	</delete>
	
	<select id="selectIdAndName"  resultType="CjContract">
		select cj_id,contract_name from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		where b.status=2
	</select>
	
	<select id="selectContractNoById"  resultType="CjContract">
		select contract_no from cj_contract where cj_id=#{id}
	</select>
	
	<select id="selectContractByTaskNo" resultType="CjContract">
		SELECT a.cj_id,a.contract_name,a.contract_no FROM cj_contract as a 
		LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where a.task_code=#{no} and b.status=2
	</select>
	
	<select id="selectCjByName"  resultType="CjContract">
		select contract_no from cj_contract where contract_name=#{name}
	</select>
	
	<select id="selectCjByNo"  resultType="CjContract">
		select contract_name from cj_contract where contract_no=#{no}
	</select>
	
	<select id="countNo" resultType="int">
		select COUNT(1) from (SELECT DISTINCT contract_no FROM cj_contract) as a
	</select>
	
	<select id="selectNameAndNo" resultType="CjContract">
		select contract_name,contract_no from cj_contract a
		left join mode_status as b on a.cj_id=b.mode_id
		where b.status=2
	</select>
	
	<select id="selectCjContractByName" resultType="CjContract">
		select contract_no,prj_name,task_code from cj_contract where contract_name=#{name}
	</select>
	
	<select id="selectCjContractByNo" resultType="CjContract">
		select contract_name,prj_name,task_code from cj_contract where contract_no=#{no}
	</select>
</mapper>