<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CjContractDao" >
	<resultMap id="cjContractMap" type="CjContract" >
		<id property="cjId" column="cj_id"/>
		<result property="taskCode" column="a.task_code" />
		<result property="contractName" column="a.contract_name" />
		<result property="contractNo" column="a.contract_no" />
		<result property="prjName" column="a.prj_name" />
		<result property="prjType" column="a.prj_type" />
		<result property="contractNameJia" column="a.contract_name_jia" />
		<result property="ccName" column="a.cc_name" />
		<result property="contractNameYi" column="a.contract_name_yi" />
		<result property="contractStartTime" column="a.contract_start_time" />
		<result property="contractEndTime" column="a.contract_end_time" />
		<result property="contractLongTime" column="a.contract_long_time" />
		<result property="receieveMoneyCondition" column="a.receieve_money_condition" />
		<result property="contractMoney" column="a.contract_money" />
		<result property="temporaryMoney" column="a.temporary_money" />
		<result property="contractSignTime" column="a.contract_sign_time" />
		<result property="workInfo" column="a.work_info" />
		<result property="mainDepartmentMoney" column="a.main_department_money" />
		<result property="assistDepartment1Money" column="a.assist_department1_money" />
		<result property="assistDepartment2Money" column="a.assist_department2_money" />
		<result property="assistDepartment2Money" column="assist_department3_money" />
		<result property="splitState" column="a.split_state" />
		<result property="jyms" column="a.jyms" />
		<result property="omName" column="d.om_name" />
		<result property="name" column="name" />
		<result property="name2" column="name2" />
		<result property="name3" column="name3" />
		<result property="name4" column="name4" />
		<result property="yiCjDepartment" column="yi_cj_department" />
		<result property="starterName" column="starterName" />
		<result property="status" column="status" />
		<collection property="cjSplitMoney" javaType="ArrayList" column="cj_id"  ofType="CjSplitMoney" select="selectCjSplitMoneyById2" >
  	    </collection>
	</resultMap>
	

	<insert id="addCjContract" parameterType="CjContract">
		insert into cj_contract(cj_id,task_code,contract_name,contract_no,prj_name,prj_type,contract_name_jia,cc_name,contract_name_yi,
						contract_start_time,contract_end_time,yi_cj_department,contract_long_time,receieve_money_condition,
						contract_money,temporary_money,contract_sign_time,work_info,main_department,main_department_money,
						assist_department1,assist_department1_money,assist_department2,assist_department2_money,
						assist_department3,assist_department3_money,split_state,history,jyms,tijiaoViews)
				values(#{cj.cjId},#{cj.taskCode},#{cj.contractName},#{cj.contractNo},#{cj.prjName},#{cj.prjType},#{cj.contractNameJia},#{cj.ccName},
				#{cj.contractNameYi},#{cj.contractStartTime},#{cj.contractEndTime},#{cj.yiCjDepartment},#{cj.contractLongTime},
				#{cj.receieveMoneyCondition},#{cj.contractMoney},#{cj.temporaryMoney},#{cj.contractSignTime},#{cj.workInfo},
				#{cj.mainDepartment},#{cj.mainDepartmentMoney},#{cj.assistDepartment1},#{cj.assistDepartment1Money},
				#{cj.assistDepartment2},#{cj.assistDepartment2Money},#{cj.assistDepartment3},#{cj.assistDepartment3Money},#{cj.splitState},1,#{cj.jyms},#{cj.tijiaoViews})		
	</insert>
	
	<update id="updateCjContract" parameterType="CjContract">
		update cj_contract set task_code=#{cj.taskCode},contract_name=#{cj.contractName},prj_name=#{cj.prjName},
		prj_type=#{cj.prjType},contract_name_jia=#{cj.contractNameJia},cc_name=#{cj.ccName},contract_name_yi=#{cj.contractNameYi},
		contract_start_time=#{cj.contractStartTime},contract_end_time=#{cj.contractEndTime},
		yi_cj_department=#{cj.yiCjDepartment},contract_long_time=#{cj.contractLongTime},
		receieve_money_condition=#{cj.receieveMoneyCondition},contract_money=#{cj.contractMoney},
		temporary_money=#{cj.temporaryMoney},contract_sign_time=#{cj.contractSignTime},work_info=#{cj.workInfo},
		main_department=#{cj.mainDepartment},main_department_money=#{cj.mainDepartmentMoney},
		assist_department1=#{cj.assistDepartment1},assist_department1_money=#{cj.assistDepartment1Money},
		assist_department2=#{cj.assistDepartment2},assist_department2_money=#{cj.assistDepartment2Money},
		assist_department3=#{cj.assistDepartment3},assist_department3_money=#{cj.assistDepartment3Money},
		tijiaoViews=#{cj.tijiaoViews}
		where cj_id=#{cj.cjId}
	</update>
		
	<select id="selectCjContractByStatus" resultMap="cjContractMap">
		SELECT a.cj_id,a.task_code,a.contract_name,a.contract_no,a.prj_name,
		a.prj_type,a.contract_name_jia,a.cc_name,a.contract_name_yi,a.contract_start_time,
		a.contract_end_time,a.contract_long_time,a.receieve_money_condition,a.contract_money,
		a.temporary_money,a.contract_sign_time,a.work_info,a.main_department_money,
		a.assist_department1_money,a.assist_department2_money,assist_department3_money,
		a.split_state,a.jyms,
		d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4,
		Num_char_extract(a.contract_no,0) as cno_sort
		<!-- csm.cj_id as cjSplitMoney_cj_id,csm.year as cjSplitMoney_year,csm.money as cjSplitMoney_money -->
		FROM cj_contract as a 
		left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		<!-- left join cj_split_money as csm on a.cj_id=csm.cj_id -->
		<where>
			<if test="startMin!=''">
				contract_start_time &gt;= #{startMin} and contract_start_time &lt;= #{startMax} and 
			</if>
			<if test="endMin!=''">
				contract_end_time &gt;= #{endMin} and contract_end_time &lt;= #{endMax} and 
			</if>
			<if test="mainDp!='%'.toString()">
				main_department =#{mainDp} and 
			</if>
			<if test="xbDp!='%'.toString()">
				assist_department1 =#{xbDp} or assist_department2 =#{xbDp} or assist_department3 =#{xbDp} and 
			</if>
			<if test="contractMoneyMin!=0">
				contract_money &gt;=#{contractMoneyMin} and contract_money &lt;=#{contractMoneyMax} and
			</if>
			<if test="zdMoneyMin!=0">
				temporary_money &gt;=#{zdMoneyMin} and temporary_money &lt;= #{zdMoneyMax} and 
			</if>
			b.status=#{status} and a.history=1 order by cno_sort desc		
		</where>	
	</select>
	
	<select id="selectCjSplitMoneyById2" resultType="CjSplitMoney">
		select * from cj_split_money where cj_id=#{cj_id}
	</select>
	
	<select id="selectCjContractBySome" resultMap="cjContractMap">
		SELECT DISTINCT a.cj_id,a.task_code,a.contract_name,a.contract_no,a.prj_name,
		a.prj_type,a.contract_name_jia,a.cc_name,a.contract_name_yi,a.contract_start_time,
		a.contract_end_time,a.contract_long_time,a.receieve_money_condition,t.contract_money,
		a.temporary_money,a.contract_sign_time,a.work_info,a.main_department_money,
		a.assist_department1_money,a.assist_department2_money,a.assist_department3_money,
		a.split_state,a.jyms,a.yi_cj_department,
		d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4,
		f.StarterName as starterName,b.status as status,g.do_date,
		Num_char_extract(a.contract_no,0) as cno_sort,t.contract_money_old,a.tijiaoViews,a.contract_money cj_contract_money
		FROM cj_contract as a 
		LEFT JOIN task t on FIND_IN_SET(t.prj_no,a.task_code) and t.history = 1
		left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		LEFT JOIN (SELECT mode_id,StarterName from (SELECT * from flowhistroy order by do_date ASC) f 
		          LEFT JOIN cj_contract a ON a.cj_id=f.mode_id  GROUP BY mode_id )  AS  f on a.cj_id=f.mode_id 
		LEFT JOIN (SELECT g.mode_id,do_date from (SELECT * from flowhistroy order by do_date DESC) g 
				  LEFT JOIN cj_contract a ON a.cj_id=g.mode_id LEFT JOIN mode_status mgs on a.cj_id =mgs.mode_id where mgs.`status`='2'  GROUP BY mode_id )  AS  g on a.cj_id=g.mode_id
		<where>
			<if test="startMin!=''">
				contract_start_time &gt;= #{startMin} and contract_start_time &lt;= #{startMax} and 
			</if>
			<if test="endMin!=''">
				contract_end_time &gt;= #{endMin} and contract_end_time &lt;= #{endMax} and 
			</if>
			<if test="mainDp!='%'.toString()">
				a.main_department =#{mainDp} and 
			</if>
			<if test="xbDp!='%'.toString()">
				t.assist_department1 =#{xbDp} or t.assist_department2 =#{xbDp} or t.assist_department3 =#{xbDp} and 
			</if>
			<if test="contractMoneyMin!=0">
				t.contract_money &gt;=#{contractMoneyMin} and t.contract_money &lt;=#{contractMoneyMax} and
			</if>
			<if test="zdMoneyMin!=0">
				a.temporary_money &gt;=#{zdMoneyMin} and a.temporary_money &lt;= #{zdMoneyMax} and 
			</if>
			<if test="lxdateMin!=''">
				<!-- make_time &gt;= #{lxdateMin} and make_time &lt;= #{lxdateMax} and  -->
				g.do_date&gt;=#{lxdateMin} and g.do_date &lt;=#{lxdateMax} and 
			</if>
			<if test="erjileixing!=''">
				<!-- make_time &gt;= #{lxdateMin} and make_time &lt;= #{lxdateMax} and  -->
				t.prj_type2 like #{erjileixing} and 
			</if>
			(b.status=1 or b.status=2 or b.status=3) and a.history=1  order by g.do_date desc		
		</where>	
	</select>
	
	<!-- 	<select id="selectCjContractByStatus" resultType="CjContract">
		select a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4,
		Num_char_extract(a.contract_no,0) as cno_sort
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		<where>
			<if test="startMin!=''">
				contract_start_time &gt;= #{startMin} and contract_start_time &lt;= #{startMax} and 
			</if>
			<if test="endMin!=''">
				contract_end_time &gt;= #{endMin} and contract_end_time &lt;= #{endMax} and 
			</if>
			<if test="mainDp!='%'.toString()">
				main_department =#{mainDp} and 
			</if>
			<if test="xbDp!='%'.toString()">
				assist_department1 =#{xbDp} or assist_department2 =#{xbDp} or assist_department3 =#{xbDp} and 
			</if>
			<if test="contractMoneyMin!=0">
				contract_money &gt;=#{contractMoneyMin} and contract_money &lt;=#{contractMoneyMax} and
			</if>
			<if test="zdMoneyMin!=0">
				temporary_money &gt;=#{zdMoneyMin} and temporary_money &lt;= #{zdMoneyMax} and 
			</if>
			b.status=#{status} and a.history=1 order by cno_sort desc
		</where>	
	</select> -->
	
	<select id="selectCjHistory" resultType="CjContract">
		select a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4 
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		where contract_no=#{no} and history=0 
	</select>
	
	<select id="selectCjContractById" resultType="CjContract">
		select DISTINCT t.prj_management_model jyms,a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4  from cj_contract as a
		LEFT JOIN task t on FIND_IN_SET(t.prj_no,a.task_code) and t.history = 1
		left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		where cj_id=#{id} limit 1
	</select>
	
	<delete id="deleteCjContract" parameterType="String">
		delete from cj_contract where cj_id=#{id}
	</delete>
	
	<select id="selectIdAndName"  resultType="CjContract">
		select cj_id,contract_name,contract_no from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		where b.status=2
	</select>
	
	<select id="selectContractNoById"  resultType="CjContract">
		select contract_no from cj_contract where cj_id=#{id}
	</select>
	
	<select id="selectContractByTaskNo" resultType="CjContract">
		SELECT a.cj_id,a.contract_name,a.contract_no,a.contract_money,a.temporary_money,receieve_money_condition FROM cj_contract as a 
		LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where a.task_code=#{no} and b.status=2 and a.history=1
	</select>
	
	<select id="selectCjByName"  resultType="CjContract">
		select contract_no from cj_contract where contract_name=#{name}
	</select>
	
	<select id="selectCjByNo"  resultType="CjContract">
		select contract_name from cj_contract where contract_no=#{no}
	</select>
	
	<select id="countNo" resultType="int">
		select COUNT(1) from (SELECT DISTINCT contract_no FROM cj_contract where contract_no like #{year}) as a
	</select>
	
	<select id="selectNameAndNo" resultType="CjContract">
		select a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4,fba.sm
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
        left join (select sum(contract_money) sm,cj_contract_code acjc from fb_contract fb LEFT JOIN mode_status ms on fb.fb_id = ms.mode_id where ms.status =2 and fb.history=1 GROUP BY cj_contract_code) fba on fba.acjc = a.contract_no
		where b.status=2 and history=1 order by a.contract_no desc
	</select>
	
	<select id="selectCjContractByName" resultType="CjContract">
		select cj_id,contract_no,prj_name,task_code,contract_start_time,contract_end_time,cc_name,contract_money,receieve_money_condition from cj_contract as a
		where contract_name=#{name} and history=1
	</select>
	
	<select id="selectCjContractByNo" resultType="CjContract">
		select a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4 
		from cj_contract as a left join mode_status as b on a.cj_id=b.mode_id
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		where a.contract_no=#{no} and a.history=1 and b.status=2
	</select>
	
	<select id="selectCjContractByTaskNo" resultType="CjContract">
		select cj_id,contract_name,contract_no,contract_money,temporary_money from cj_contract where task_code like #{no} and history=1
	</select>
	
	<insert id="addCjSplitMoneySave" parameterType="java.util.List">
		insert into cj_split_money(cj_id,year,money)
  		values
  		<foreach collection="cs" index="index" item="c" separator=",">
  			(#{c.cjId},#{c.year},#{c.money})
  		</foreach>
	</insert>
	
	<select id="selectCjSplitMoneyById" resultType="CjSplitMoney">
		select * from cj_split_money where cj_id=#{id}
	</select>
	
	<select id="selectCjByCjNo" resultType="CjContract">
		select a.*,d.om_name,d2.om_name name, d3.om_name name2,d4.om_name name3,d5.om_name name4 from cj_contract as a
		left join organization_management as d on a.yi_cj_department=d.om_id 
		left join organization_management as d2 on a.main_department=d2.om_id
		left join organization_management as d3 on a.assist_department1=d3.om_id
		left join organization_management as d4 on a.assist_department2=d4.om_id
		left join organization_management as d5 on a.assist_department3=d5.om_id
		 where contract_no=#{no} and history=1
	</select>
	
	<select id="selectNoAndMoneyByDepartment" resultType="CjContract">
		SELECT contract_no,contract_money,temporary_money FROM cj_contract as a 
		LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where b.status=2 and a.history=1 and a.yi_cj_department=#{department} and contract_start_time like #{year}
	</select>
	
	<select id="selectCjContractMoneyBySignTime" resultType="CjContract">
		SELECT contract_money,main_department,main_department_money,assist_department1,
		assist_department1_money,assist_department2,assist_department2_money,
		assist_department3,assist_department3_money FROM cj_contract as a LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where b.status=2  and a.history=1 and contract_sign_time like #{time}
	</select>
	
	<select id="getCjContractMainDepartmentLeader" resultType="CjContract">
		SELECT a.* FROM cj_contract as a 
		LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where b.status=2 and a.history=1 and contract_no=#{no}
	</select>
	
	<update id="updateHistoryById">
		update cj_contract set history=0 where contract_no =(select a.contract_no from (SELECT contract_no FROM cj_contract where cj_id=#{id})as a)
	</update>
	
	<update id="updateHistoryNow">
		update cj_contract set history=1 where cj_id=#{id}
	</update>
	
	<update id="updateContractMoneyByLast">
		update cj_contract set contract_money=#{contractMoneyLast} where cj_id=#{id}
	</update>
	
	<update id="updateContractMoneyLastByContractMoney">
		update cj_contract set contract_money_last=#{contractMoney} where cj_id=#{id}
	</update>
	
	<delete id="deleteCjSplitMoneyById" parameterType="String">
		DELETE from cj_split_money where cj_id=#{id}
	</delete>
	
	<insert id="addCjDeptSplitMoney" parameterType="java.util.List">
		INSERT INTO cj_dept_split_money(id,money,dept,year) values
		<foreach collection="dept" index="index" item="c" separator=",">
  			(#{c.id},#{c.money},#{c.dept},#{c.year})
  		</foreach>
	</insert>
	
	<select id="selectCjDeptSplitMoney" resultType="CjDeptSplitMoney">
		SELECT * FROM cj_dept_split_money where id=#{id} and dept=#{dept}
	</select>
	
	<select id="selectCjContractLikeTaskNo" resultType="CjContract">
		SELECT a.* FROM cj_contract as a
		LEFT JOIN mode_status as b on a.cj_id=b.mode_id
		where b.status=2 and task_code like #{no} and history=1 limit 1
	</select>
	
	<update id="updateCjContractMoney">
		update cj_contract set 
			contract_money=#{money} 
		where contract_no=#{no} and history=1
	</update>
	
	<select id="selectCjContractLikeTaskCode" resultType="CjContract">
		select contract_no,contract_name,contract_money,b.om_name,cc_name from cj_contract as a
		LEFT JOIN organization_management as b on a.yi_cj_department=b.om_id
		where task_code like #{no} and history=1 limit 1
	</select>
	
	<update id="updateCjNoById">
		update cj_contract set contract_no = #{no} where cj_id=#{id}
	</update>
	
	<select id="CreateContractNumOrder" statementType="CALLABLE" resultType="java.lang.String">
		select CreateContractNumOrder(#{type},#{year})
	</select>
	
	<update id="updateCjContractCancelReason" parameterType="CjContract">
		update cj_contract set cancel_reason=#{cj.cancelReason}
		where cj_id=#{cj.cjId}
	</update>
</mapper>