<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ClOutDao" >
  	<insert id="addClOut" parameterType="ClOut">
  		insert into cl_out(out_id,task_name,task_no,get_time,get_person,infos)
  		values(#{out.outId},#{out.taskName},#{out.taskNo},#{out.getTime},#{out.getPerson},#{out.infos})
  	</insert>
  	
  	<insert id="addClOutInfo" parameterType="java.util.List">
  		insert into cl_out_info(out_id,cl_name,cl_type,mode_type,unit,num,price,ling_num,sum_price,
  		cl_prj_supplier,cl_gs_supplier,cl_desc,cl_come_unit,cl_manufacturer)
  		values
  		<foreach collection="cInfo" index="index" item="c" separator=",">
  			(#{c.outId},#{c.clName},#{c.clType},#{c.modeType},#{c.unit},#{c.num},#{c.price},#{c.lingNum},#{c.sumPrice},
  			#{c.clPrjSupplier},#{c.clGsSupplier},#{c.clDesc},#{c.clComeUnit},#{c.clManufacturer})
  		</foreach>
  	</insert>
  	
  	<select id="selectClOutByNo" resultType="clout">
  		select out_id,task_name,task_no,get_time,get_person,infos  from cl_out a 
  		left join task b on b.prj_no=a.task_no
  		 where task_no like #{no} and b.main_department=#{useromId}  
			OR task_no like #{no} and b.assist_department1=#{useromId} 
			OR task_no like #{no} and b.assist_department2=#{useromId} 
			OR task_no like #{no} and b.assist_department3=#{useromId} 
  	</select>
  	
  	<select id="selectClOutInfoById" resultType="clOutInfo">
  		select * from cl_out_info
  		where out_id=#{id}
  	</select>
</mapper>