<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ClRemainDao" >
  	<insert id="addClRemain" parameterType="java.util.List">
  		insert into cl_remain(cr_id,gs_out_id,material_name,material_type,specification_model,
  		cmo_unit,cmo_number,remain_number,cmo_unit_price,cmo_money,pick_date)
  		values
  		<foreach collection="cr" index="index" item="c" separator=",">
  			(#{c.crId},#{c.gsOutId},#{c.materialName},#{c.materialType},#{c.specificationModel},
  			#{c.cmoUnit},#{c.cmoNumber},#{c.remainNumber},#{c.cmoUnitPrice},#{c.cmoMoney},#{c.pickDate})
  		</foreach>
  	</insert>
  	
  	<select id="selectGsClOutById" resultType="GsClOut">
  		SELECT * FROM gs_cl_out where gs_out_id=#{id}
  	</select>
  	
  	<update id="updateClRemain" parameterType="java.util.List">
  		<foreach collection="out" index="index" item="o" separator=";">
  			update gs_cl_out set remain_number=#{o.remain} where gs_id=#{o.id}
  		</foreach>
  	</update>
  	
  	<select id="selectClRemainById" resultType="ClRemain">
  		select * from cl_remain where gs_out_id=#{id} and remain_number!=0
  	</select>
  	
  	<update id="updateClRemainNum" parameterType="ClRemain">
  		update cl_remain set cmo_number=#{cr.cmoNumber},remain_number=#{cr.remainNumber},cmo_money=#{cr.cmoMoney} where cr_id=#{cr.crId}
  	</update>
  	
  	<update id="updateRemainForWaste">
  		<foreach collection="remain" index="index" item="r" separator=";">
  			update cl_remain set remain_number=0 where cr_id=#{r.id}
  		</foreach>
  	</update>
</mapper>