<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ContractWorkDao" >
      <insert id="addContractWork" parameterType="ContractWork">
     insert into contract_work (cw_id,cj_contract_code,cj_contract_name,prj_code,
									      contract_name_jia,contract_money, end_money, all_receieve_money,
									      prj_charge_man,work_text, rating,main_department,main_department_money,
									      assist_department1,assist_department1_money,assist_department2,
									      assist_department2_money,assist_department3,assist_department3_money,type,
									      prj_manager,deputy_prj_manager1,deputy_prj_manager2,prj_general,prj_duration,prj_duration_end,prj_grade,cj_contract_end_time)
	values (#{work.cwId},#{work.cjContractCode},#{work.cjContractName}, #{work.prjCode},
      #{work.contractNameJia},#{work.contractMoney},#{work.endMoney},#{work.allReceieveMoney},
      #{work.prjChargeMan},#{work.workText},#{work.rating},#{work.mainDepartment},#{work.mainDepartmentMoney},
      #{work.assistDepartment1},#{work.assistDepartment1Money},#{work.assistDepartment2},
      #{work.assistDepartment2Money},#{work.assistDepartment3},#{work.assistDepartment3Money},
       #{work.type},#{work.prjManager},#{work.deputyPrjManager1},#{work.deputyPrjManager2},
       #{work.prjGeneral},#{work.prjDuration},#{work.prjDurationEnd},#{work.prjGrade},#{work.cjContractEndTime})
      </insert>
      
      <select id="selectContractWork" resultType="ContractWork">
      		select a.*,c.cc_name as jiaFang,d.om_name as name, d2.om_name as name2,d3.om_name as name3,d4.om_name as name4  
      		from contract_work as a left join mode_status as b on a.cw_id=b.mode_id
      		left join consociation_company as c on a.contract_name_jia=c.cc_id
      		left join organization_management as d on a.main_department=d.om_id
      		left join organization_management as d2 on a.assist_department1=d2.om_id
      		left join organization_management as d3 on a.assist_department2=d3.om_id
      		left join organization_management as d4 on a.assist_department3=d4.om_id
      		where b.status=#{status} and a.type=#{type}
      </select>
      
      <select id="selectContractWorkByNo" resultType="ContractWork">
      		select * from contract_work where cj_contract_code=#{no}
      </select>
      
      <select id="getContractMoney" resultType="ContractWork">
      		SELECT SUM(end_money)as end_money,sum(all_receieve_money)as all_receieve_money FROM contract_work as a 
      		LEFT JOIN mode_status as b on a.cw_id=b.mode_id
			where cj_contract_code=#{no}
      </select>
      
      <select id="selectContractWorkByid" resultType="ContractWork">
      	select a.*,c.cc_name as jiaFang,d.om_name as name, d2.om_name as name2,d3.om_name as name3,d4.om_name as name4  
      		from contract_work as a left join mode_status as b on a.cw_id=b.mode_id
      		left join consociation_company as c on a.contract_name_jia=c.cc_id
      		left join organization_management as d on a.main_department=d.om_id
      		left join organization_management as d2 on a.assist_department1=d2.om_id
      		left join organization_management as d3 on a.assist_department2=d3.om_id
      		left join organization_management as d4 on a.assist_department3=d4.om_id
      		where cw_id=#{id}
      </select>
      
      <select id="selectContractWorkBytaskNoAndCno" resultType="ContractWork">
      	select end_money, all_receieve_money  from contract_work where cj_contract_code=#{no} and type=#{type}
      </select>
</mapper>