<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ContractUpdateDao" >
     <insert id="addContractUpdate" parameterType="java.util.List">
     	insert into contract_update(prj_no,dept,money,time) values
     	<foreach collection="cu" item="c" index="index" separator=",">
     		(#{c.prjNo},#{c.dept},#{c.money},#{c.time})
     	</foreach>
     </insert>
     
     <update id="updateContractUpdate" parameterType="ContractUpdate">
     	update contract_update set 
     		money=#{cu.money}
     	where prj_no=#{cu.prjNo} and dept=#{cu.dept} and time=#{cu.time}
     </update>
     
     <select id="selectContractUpdateByPrjNoAndDept" resultType="ContractUpdate">
     	SELECT IFNULL(SUM(money),0) as money FROM contract_update where prj_no=#{no} and dept=#{dept}
     </select>
     
     <select id="selectGsContractMoneyByTime"  resultType="ContractUpdate">
     	SELECT IFNULL(SUM(money),0)as money FROM contract_update where time like #{time}
     </select>
     
     <select id="selectDeptContractMoneyByTime" resultType="ContractUpdate">
     	SELECT IFNULL(SUM(money),0)as money FROM contract_update 
     	where time like #{time} and dept=#{dept}
     </select>
     
     <select id="selectDeptContractMoneyByTimeAndType" resultType="ContractUpdate">
     	SELECT IFNULL(SUM(a.money),0)as money FROM contract_update as a
		LEFT JOIN task as b on a.prj_no=b.prj_no
		where  b.prj_type2 like #{type} and a.time like #{time} and a.dept=#{dept}
     </select>
     
     <select id="selectDeptContractMoneyByStartAndEndTime" resultType="ContractUpdate">
     	SELECT IFNULL(SUM(money),0)as money FROM contract_update 
		where  dept=#{dept} and time BETWEEN #{start} and #{end}
     </select>
</mapper>