<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ContractWorkDao" >
      <insert id="addContractWork" parameterType="ContractWork">
     insert into contract_work (cw_id,cj_contract_code,cj_contract_name,prj_code,
									      contract_name_jia,contract_money, end_money,prj_text,gq_text,
									      prj_charge_man,work_text, rating,type,
									      prj_manager,deputy_prj_manager1,deputy_prj_manager2,prj_general,prj_duration,prj_duration_end,prj_grade,cj_contract_end_time,xm_jindu_piancha)
	values (#{work.cwId},#{work.cjContractCode},#{work.cjContractName}, #{work.prjCode},
      #{work.contractNameJia},#{work.contractMoney},#{work.endMoney},#{work.prjText},#{work.gqText},
      #{work.prjChargeMan},#{work.workText},#{work.rating},
       #{work.type},#{work.prjManager},#{work.deputyPrjManager1},#{work.deputyPrjManager2},
       #{work.prjGeneral},#{work.prjDuration},#{work.prjDurationEnd},#{work.prjGrade},#{work.cjContractEndTime},#{work.xmJinduPiancha})
      </insert>
      
      <select id="selectContractWork" resultType="ContractWork">
      		select a.*  
      		from contract_work as a left join mode_status as b on a.cw_id=b.mode_id
      		where b.status=#{status} and a.type=#{type}
      </select>
      
      <select id="selectContractWorkByNo" resultType="ContractWork">
      		select * from contract_work where cj_contract_code=#{no}
      </select>
      
      <select id="getContractMoney" resultType="ContractWork">
      		SELECT SUM(end_money)as end_money FROM contract_work as a 
      		LEFT JOIN mode_status as b on a.cw_id=b.mode_id
			where cj_contract_code=#{no}
      </select>
      
      <select id="selectContractWorkByid" resultType="ContractWork">
      	select a.*,c.contract_end_time,c.contract_long_time,c.contract_start_time  from contract_work a
      	LEFT JOIN cj_contract c ON a.cj_contract_code=c.contract_no
      	where a.cw_id=#{id} limit 1
      </select>
      
      <select id="selectContractWorkBytaskNoAndCno" resultType="ContractWork">
      	select a.end_money  from contract_work as a 
      	LEFT JOIN mode_status as b on a.cw_id=b.mode_id
      	where cj_contract_code=#{no} and type=#{type} and b.status=2
      </select>
      
      <update id="updateContractWork2" parameterType="ContractWork">
      		update contract_work set
	      		cj_contract_code=#{work.cjContractCode},
	      		cj_contract_name=#{work.cjContractName},
	      		prj_code=#{work.prjCode},
	      		contract_name_jia=#{work.contractNameJia},
	      		contract_money=#{work.contractMoney},
	      		end_money=#{work.endMoney},
	      		prj_charge_man=#{work.prjChargeMan},
	      		rating=#{work.rating},
	      		prj_manager=#{work.prjManager},
	      		deputy_prj_manager1=#{work.deputyPrjManager1},
	      		deputy_prj_manager2=#{work.deputyPrjManager2},
	      		prj_general=#{work.prjGeneral},
	      		prj_duration=#{work.prjDuration},
	      		prj_duration_end=#{work.prjDurationEnd},
	      		prj_grade=#{work.prjGrade},
	      		cj_contract_end_time=#{work.cjContractEndTime},
	      		prj_text=#{work.prjText},
	      		work_text=#{work.workText},
	      		gq_text=#{work.gqText},
	      		xm_jindu_piancha=#{work.xmJinduPiancha}
      		where cw_id=#{work.cwId}
      </update>
      
      <update id="updateContractWork3" parameterType="ContractWork">
      		update contract_work set
	      		cj_contract_code=#{work.cjContractCode},
	      		cj_contract_name=#{work.cjContractName},
	      		prj_code=#{work.prjCode},
	      		contract_name_jia=#{work.contractNameJia},
	      		contract_money=#{work.contractMoney},
	      		end_money=#{work.endMoney},
	      		prj_text=#{work.prjText},
	      		work_text=#{work.workText},
	      		gq_text=#{work.gqText}
      		where cw_id=#{work.cwId}
      </update>
      
      <select id="selectContractWorkByprjNo" resultType="ContractWork">
      		select * from contract_work as a 
      		left join mode_status as b on a.cw_id=b.mode_id
      		where b.status=2 and a.type=#{type} and a.prj_code like #{pNo}
      </select> 
      
</mapper>