<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.CostBudgetDao" >
	<insert id="addCostBudget" parameterType="java.util.List"> 
  		insert into cost_budget(cb_id,classify,prj_detail,cost_amount,cb_desc) values
  			<foreach collection="costBudget" item="item"  index="index" separator=",">
  				(#{item.cbId},#{item.classify},#{item.prjDetail},#{item.costAmount},#{item.cbDesc})
  			</foreach>
  	</insert>
  	<delete id="deleteCostBudgetById" parameterType="String">
  		delete from cost_budget where cb_id=#{id}
  	</delete>
  	<select id="selectCostBudgetById" resultType="CostBudget">
  		select * from cost_budget where cb_id=#{id}
  	</select>
  	<select id="selectCount" parameterType="String" resultType="int">
		select count(cb_id)  from cost_budget where cb_id=#{id} and classify=#{fenlei} and prj_detail=#{mingxi}	 
  	</select>
</mapper>