<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.CurrentFlowMapper" >
<resultMap id="BaseResultMap" type="org.ldxx.bean.CurrentFlow" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="Flo_Node_ID" property="floNodeId" jdbcType="VARCHAR" />
    <result column="Flo_Tmp_ID" property="floTmpId" jdbcType="VARCHAR" />
    <result column="Bus_ID" property="busId" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="Params" property="params" jdbcType="VARCHAR" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="WFState" property="wfstate" jdbcType="INTEGER" />
    <result column="Starter" property="starter" jdbcType="VARCHAR" />
    <result column="StarterName" property="startername" jdbcType="VARCHAR" />
    <result column="Actor" property="actor" jdbcType="VARCHAR" />
    <result column="ActorName" property="actorname" jdbcType="VARCHAR" />
    <result column="RDT" property="rdt" jdbcType="TIMESTAMP" />
    <result column="FK_Dept" property="fkDept" jdbcType="VARCHAR" />
    <result column="DeptName" property="deptname" jdbcType="VARCHAR" />
    <result column="NodeName" property="nodename" jdbcType="VARCHAR" />
    <result column="PRI" property="pri" jdbcType="INTEGER" />
    <result column="SDTOfNode" property="sdtofnode" jdbcType="TIMESTAMP" />
    <result column="SDTOfFlow" property="sdtofflow" jdbcType="TIMESTAMP" />
    <result column="Agent" property="agent" jdbcType="VARCHAR" />
    <result column="AgentType" property="agenttype" jdbcType="VARCHAR" />
    <result column="Memo" property="memo" jdbcType="VARCHAR" />
    <result column="ReadReceipts" property="readreceipts" jdbcType="INTEGER" />
    <result column="do_date" property="doDate" jdbcType="TIMESTAMP" />
    <result column="mode_id" property="modeId" jdbcType="VARCHAR" />
    <result column="flow_end_state" property="flowEndState" jdbcType="INTEGER" />
    <result column="Flow_Node_Last" property="flowNodeLast" jdbcType="VARCHAR" />
    <result column="last_operate_type" property="lastOperateType" jdbcType="INTEGER" />
    <result column="step" property="step" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Flo_Node_ID, Flo_Tmp_ID, Bus_ID, URL, Params, Title, WFState, Starter, StarterName, 
    Actor, ActorName, RDT, FK_Dept, DeptName, NodeName, PRI, SDTOfNode, SDTOfFlow, Agent, 
    AgentType, Memo, ReadReceipts, do_date, mode_id, flow_end_state, Flow_Node_Last,flow_nopass_state,last_operate_type
  </sql>
    <sql id="Base_Column_List_new" >
    a.ID, a.Flo_Node_ID, a.Flo_Tmp_ID, a.Bus_ID, a.URL, a.Params, a.Title, a.WFState, a.Starter, a.StarterName, 
    a.Actor, a.ActorName, a.RDT, a.FK_Dept, a.DeptName, a.NodeName, a.PRI, a.SDTOfNode, a.SDTOfFlow, a.Agent, 
    a.AgentType, a.Memo, a.ReadReceipts, a.do_date, a.mode_id, a.flow_end_state, a.Flow_Node_Last,a.flow_nopass_state,a.last_operate_type,b.step
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.CurrentFlowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from currentflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleNew" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List_new" />
    from currentflow a LEFT JOIN flownode b on a.Flo_Node_ID = b.ID where a.mode_id=#{url}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from currentflow
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from currentflow
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.CurrentFlowExample" >
    delete from currentflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.CurrentFlow" >
    insert into currentflow (ID, Flo_Node_ID, Flo_Tmp_ID, 
      Bus_ID, URL, Params, 
      Title, WFState, Starter, 
      StarterName, Actor, ActorName, 
      RDT, FK_Dept, DeptName, 
      NodeName, PRI, SDTOfNode, 
      SDTOfFlow, Agent, AgentType, 
      Memo, ReadReceipts, do_date, 
      mode_id, flow_end_state, Flow_Node_Last,flow_nopass_state,last_operate_type
      )
    values (#{id,jdbcType=VARCHAR}, #{floNodeId,jdbcType=VARCHAR}, #{floTmpId,jdbcType=VARCHAR}, 
      #{busId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{wfstate,jdbcType=INTEGER}, #{starter,jdbcType=VARCHAR}, 
      #{startername,jdbcType=VARCHAR}, #{actor,jdbcType=VARCHAR}, #{actorname,jdbcType=VARCHAR}, 
      #{rdt,jdbcType=TIMESTAMP}, #{fkDept,jdbcType=VARCHAR}, #{deptname,jdbcType=VARCHAR}, 
      #{nodename,jdbcType=VARCHAR}, #{pri,jdbcType=INTEGER}, #{sdtofnode,jdbcType=TIMESTAMP}, 
      #{sdtofflow,jdbcType=TIMESTAMP}, #{agent,jdbcType=VARCHAR}, #{agenttype,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{readreceipts,jdbcType=INTEGER}, #{doDate,jdbcType=TIMESTAMP}, 
      #{modeId,jdbcType=VARCHAR}, #{flowEndState,jdbcType=INTEGER}, #{flowNodeLast,jdbcType=VARCHAR},
      #{flowNopassState,jdbcType=INTEGER},#{lastOperateType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.CurrentFlow" >
    insert into currentflow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="floNodeId != null" >
        Flo_Node_ID,
      </if>
      <if test="floTmpId != null" >
        Flo_Tmp_ID,
      </if>
      <if test="busId != null" >
        Bus_ID,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="params != null" >
        Params,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="wfstate != null" >
        WFState,
      </if>
      <if test="starter != null" >
        Starter,
      </if>
      <if test="startername != null" >
        StarterName,
      </if>
      <if test="actor != null" >
        Actor,
      </if>
      <if test="actorname != null" >
        ActorName,
      </if>
      <if test="rdt != null" >
        RDT,
      </if>
      <if test="fkDept != null" >
        FK_Dept,
      </if>
      <if test="deptname != null" >
        DeptName,
      </if>
      <if test="nodename != null" >
        NodeName,
      </if>
      <if test="pri != null" >
        PRI,
      </if>
      <if test="sdtofnode != null" >
        SDTOfNode,
      </if>
      <if test="sdtofflow != null" >
        SDTOfFlow,
      </if>
      <if test="agent != null" >
        Agent,
      </if>
      <if test="agenttype != null" >
        AgentType,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
      <if test="readreceipts != null" >
        ReadReceipts,
      </if>
      <if test="doDate != null" >
        do_date,
      </if>
      <if test="modeId != null" >
        mode_id,
      </if>
      <if test="flowEndState != null" >
        flow_end_state,
      </if>
      <if test="flowNodeLast != null" >
        Flow_Node_Last,
      </if>
      <if test="flowNopassState != null" >
        flow_nopass_state,
      </if>
      <if test="lastOperateType != null" >
        last_operate_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="floNodeId != null" >
        #{floNodeId,jdbcType=VARCHAR},
      </if>
      <if test="floTmpId != null" >
        #{floTmpId,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="wfstate != null" >
        #{wfstate,jdbcType=INTEGER},
      </if>
      <if test="starter != null" >
        #{starter,jdbcType=VARCHAR},
      </if>
      <if test="startername != null" >
        #{startername,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="actorname != null" >
        #{actorname,jdbcType=VARCHAR},
      </if>
      <if test="rdt != null" >
        #{rdt,jdbcType=TIMESTAMP},
      </if>
      <if test="fkDept != null" >
        #{fkDept,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="nodename != null" >
        #{nodename,jdbcType=VARCHAR},
      </if>
      <if test="pri != null" >
        #{pri,jdbcType=INTEGER},
      </if>
      <if test="sdtofnode != null" >
        #{sdtofnode,jdbcType=TIMESTAMP},
      </if>
      <if test="sdtofflow != null" >
        #{sdtofflow,jdbcType=TIMESTAMP},
      </if>
      <if test="agent != null" >
        #{agent,jdbcType=VARCHAR},
      </if>
      <if test="agenttype != null" >
        #{agenttype,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="readreceipts != null" >
        #{readreceipts,jdbcType=INTEGER},
      </if>
      <if test="doDate != null" >
        #{doDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modeId != null" >
        #{modeId,jdbcType=VARCHAR},
      </if>
      <if test="flowEndState != null" >
        #{flowEndState,jdbcType=INTEGER},
      </if>
      <if test="flowNodeLast != null" >
        #{flowNodeLast,jdbcType=VARCHAR},
      </if>
      <if test="flowNopassState != null" >
        #{flowNopassState,jdbcType=INTEGER},
      </if>
      <if test="lastOperateType != null" >
        #{lastOperateType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.CurrentFlowExample" resultType="java.lang.Integer" >
    select count(*) from currentflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update currentflow
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.floNodeId != null" >
        Flo_Node_ID = #{record.floNodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.floTmpId != null" >
        Flo_Tmp_ID = #{record.floTmpId,jdbcType=VARCHAR},
      </if>
      <if test="record.busId != null" >
        Bus_ID = #{record.busId,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.params != null" >
        Params = #{record.params,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.wfstate != null" >
        WFState = #{record.wfstate,jdbcType=INTEGER},
      </if>
      <if test="record.starter != null" >
        Starter = #{record.starter,jdbcType=VARCHAR},
      </if>
      <if test="record.startername != null" >
        StarterName = #{record.startername,jdbcType=VARCHAR},
      </if>
      <if test="record.actor != null" >
        Actor = #{record.actor,jdbcType=VARCHAR},
      </if>
      <if test="record.actorname != null" >
        ActorName = #{record.actorname,jdbcType=VARCHAR},
      </if>
      <if test="record.rdt != null" >
        RDT = #{record.rdt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkDept != null" >
        FK_Dept = #{record.fkDept,jdbcType=VARCHAR},
      </if>
      <if test="record.deptname != null" >
        DeptName = #{record.deptname,jdbcType=VARCHAR},
      </if>
      <if test="record.nodename != null" >
        NodeName = #{record.nodename,jdbcType=VARCHAR},
      </if>
      <if test="record.pri != null" >
        PRI = #{record.pri,jdbcType=INTEGER},
      </if>
      <if test="record.sdtofnode != null" >
        SDTOfNode = #{record.sdtofnode,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sdtofflow != null" >
        SDTOfFlow = #{record.sdtofflow,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agent != null" >
        Agent = #{record.agent,jdbcType=VARCHAR},
      </if>
      <if test="record.agenttype != null" >
        AgentType = #{record.agenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        Memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.readreceipts != null" >
        ReadReceipts = #{record.readreceipts,jdbcType=INTEGER},
      </if>
      <if test="record.doDate != null" >
        do_date = #{record.doDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modeId != null" >
        mode_id = #{record.modeId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowEndState != null" >
        flow_end_state = #{record.flowEndState,jdbcType=INTEGER},
      </if>
      <if test="record.flowNodeLast != null" >
        Flow_Node_Last = #{record.flowNodeLast,jdbcType=VARCHAR},
      </if>
      <if test="record.flowNopassState != null" >
        flow_nopass_state = #{record.flowNopassState,jdbcType=INTEGER},
      </if>
      <if test="record.lastOperateType != null" >
        last_operate_type = #{record.lastOperateType,jdbcType=INTEGER}
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update currentflow
    set ID = #{record.id,jdbcType=VARCHAR},
      Flo_Node_ID = #{record.floNodeId,jdbcType=VARCHAR},
      Flo_Tmp_ID = #{record.floTmpId,jdbcType=VARCHAR},
      Bus_ID = #{record.busId,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      Params = #{record.params,jdbcType=VARCHAR},
      Title = #{record.title,jdbcType=VARCHAR},
      WFState = #{record.wfstate,jdbcType=INTEGER},
      Starter = #{record.starter,jdbcType=VARCHAR},
      StarterName = #{record.startername,jdbcType=VARCHAR},
      Actor = #{record.actor,jdbcType=VARCHAR},
      ActorName = #{record.actorname,jdbcType=VARCHAR},
      RDT = #{record.rdt,jdbcType=TIMESTAMP},
      FK_Dept = #{record.fkDept,jdbcType=VARCHAR},
      DeptName = #{record.deptname,jdbcType=VARCHAR},
      NodeName = #{record.nodename,jdbcType=VARCHAR},
      PRI = #{record.pri,jdbcType=INTEGER},
      SDTOfNode = #{record.sdtofnode,jdbcType=TIMESTAMP},
      SDTOfFlow = #{record.sdtofflow,jdbcType=TIMESTAMP},
      Agent = #{record.agent,jdbcType=VARCHAR},
      AgentType = #{record.agenttype,jdbcType=VARCHAR},
      Memo = #{record.memo,jdbcType=VARCHAR},
      ReadReceipts = #{record.readreceipts,jdbcType=INTEGER},
      do_date = #{record.doDate,jdbcType=TIMESTAMP},
      mode_id = #{record.modeId,jdbcType=VARCHAR},
      flow_end_state = #{record.flowEndState,jdbcType=INTEGER},
      Flow_Node_Last = #{record.flowNodeLast,jdbcType=VARCHAR},
      flow_nopass_state = #{record.flowNopassState,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.CurrentFlow" >
    update currentflow
    <set >	
      <if test="floNodeId != null" >
        Flo_Node_ID = #{floNodeId,jdbcType=VARCHAR},
      </if>
      <if test="floTmpId != null" >
        Flo_Tmp_ID = #{floTmpId,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        Bus_ID = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="params != null" >
        Params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="wfstate != null" >
        WFState = #{wfstate,jdbcType=INTEGER},
      </if>
      <if test="starter != null" >
        Starter = #{starter,jdbcType=VARCHAR},
      </if>
      <if test="startername != null" >
        StarterName = #{startername,jdbcType=VARCHAR},
      </if>
      <if test="actor != null" >
        Actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="actorname != null" >
        ActorName = #{actorname,jdbcType=VARCHAR},
      </if>
      <if test="rdt != null" >
        RDT = #{rdt,jdbcType=TIMESTAMP},
      </if>
      <if test="fkDept != null" >
        FK_Dept = #{fkDept,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null" >
        DeptName = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="nodename != null" >
        NodeName = #{nodename,jdbcType=VARCHAR},
      </if>
      <if test="pri != null" >
        PRI = #{pri,jdbcType=INTEGER},
      </if>
      <if test="sdtofnode != null" >
        SDTOfNode = #{sdtofnode,jdbcType=TIMESTAMP},
      </if>
      <if test="sdtofflow != null" >
        SDTOfFlow = #{sdtofflow,jdbcType=TIMESTAMP},
      </if>
      <if test="agent != null" >
        Agent = #{agent,jdbcType=VARCHAR},
      </if>
      <if test="agenttype != null" >
        AgentType = #{agenttype,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="readreceipts != null" >
        ReadReceipts = #{readreceipts,jdbcType=INTEGER},
      </if>
      <if test="doDate != null" >
        do_date = #{doDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modeId != null" >
        mode_id = #{modeId,jdbcType=VARCHAR},
      </if>
      <if test="flowEndState != null" >
        flow_end_state = #{flowEndState,jdbcType=INTEGER},
      </if>
      <if test="flowNodeLast != null" >
        Flow_Node_Last = #{flowNodeLast,jdbcType=VARCHAR},
      </if>
      <if test="flowNopassState != null" >
        flow_nopass_state = #{flowNopassState,jdbcType=INTEGER},
      </if>
      <if test="lastOperateType != null" >
        last_operate_type = #{lastOperateType,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.CurrentFlow" >
    update currentflow
    set Flo_Node_ID = #{floNodeId,jdbcType=VARCHAR},
      Flo_Tmp_ID = #{floTmpId,jdbcType=VARCHAR},
      Bus_ID = #{busId,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      Params = #{params,jdbcType=VARCHAR},
      Title = #{title,jdbcType=VARCHAR},
      WFState = #{wfstate,jdbcType=INTEGER},
      Starter = #{starter,jdbcType=VARCHAR},
      StarterName = #{startername,jdbcType=VARCHAR},
      Actor = #{actor,jdbcType=VARCHAR},
      ActorName = #{actorname,jdbcType=VARCHAR},
      RDT = #{rdt,jdbcType=TIMESTAMP},
      FK_Dept = #{fkDept,jdbcType=VARCHAR},
      DeptName = #{deptname,jdbcType=VARCHAR},
      NodeName = #{nodename,jdbcType=VARCHAR},
      PRI = #{pri,jdbcType=INTEGER},
      SDTOfNode = #{sdtofnode,jdbcType=TIMESTAMP},
      SDTOfFlow = #{sdtofflow,jdbcType=TIMESTAMP},
      Agent = #{agent,jdbcType=VARCHAR},
      AgentType = #{agenttype,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      ReadReceipts = #{readreceipts,jdbcType=INTEGER},
      do_date = #{doDate,jdbcType=TIMESTAMP},
      mode_id = #{modeId,jdbcType=VARCHAR},
      flow_end_state = #{flowEndState,jdbcType=INTEGER},
      Flow_Node_Last = #{flowNodeLast,jdbcType=VARCHAR},
      flow_nopass_state = #{flowNopassState,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getCurrentFlowVoByUserId" resultType="currentFlowVo">
		SELECT
			a.*,
			c.BusinessName,
			b.`status`,
			b.flow_status,
			d.Step,
			d.edit_or_view
		FROM
			currentFlow a
		LEFT JOIN mode_status b ON a.mode_id = b.mode_id
		LEFT JOIN flownode d on a.Flo_Node_ID = d.ID
		LEFT JOIN business c ON a.Bus_ID = c.ID where a.Actor=#{userId}
		<if test="status != null and status !='' ">
        and b.`flow_status`=#{status}
       	</if>
       	;
  </select>
  
  <update id="updateFkDept" parameterType="string">
    update currentFlow set FK_Dept=#{fkDept}  where id = #{id}
  </update>
</mapper>