<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.DataArchiveDao" >
  	<insert id="addDataArchive" parameterType="DataArchive">
  		insert into data_archive(da_id,da_type,da_name,safekeeping_department,training_location,training_time,
  		credential_desc,training_type,training_time_end)
  		values(#{archive.daId},#{archive.daType},#{archive.daName},#{archive.safekeepingDepartment},
  				#{archive.trainingLocation},#{archive.trainingTime},#{archive.credentialDesc},#{archive.trainingType},#{archive.trainingTimeEnd})
  	</insert>
  	
  	<delete id="deleteDataArchive" parameterType="String">
  		delete from data_archive where da_id=#{id}
  	</delete>
  	
  	<update id="updateDataArchive" parameterType="DataArchive">
  		update data_archive set da_type=#{archive.daType},da_name=#{archive.daName},safekeeping_department=#{archive.safekeepingDepartment},
  				training_location=#{archive.trainingLocation},training_time=#{archive.trainingTime},
  				credential_desc=#{archive.credentialDesc},training_type=#{archive.trainingType},training_time_end=#{archive.trainingTimeEnd}
  			where da_id=#{archive.daId}
  	</update>
  	
  	<select id="selectDataArchive" resultType="DataArchive">
  		select a.*,c.om_name from data_archive as a
  		left join mode_status as b on a.da_id=b.mode_id 
  		LEFT JOIN organization_management as c on a.safekeeping_department=c.om_id
  		where b.status=2
  	</select>
  	
  	<select id="selectDataArchiveById" resultType="DataArchive">
  		SELECT a.*,b.om_name FROM data_archive as a 
  		LEFT JOIN organization_management as b on a.safekeeping_department=b.om_id
  		 where da_id=#{id}
  	</select>
</mapper>