<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.DataArchiveDao" >
  	<insert id="addDataArchive" parameterType="DataArchive">
  		insert into data_archive(da_id,da_name,attendees,training_location,training_time,credential_desc)
  		values(#{archive.daId},#{archive.daName},#{archive.attendees},
  				#{archive.trainingLocation},#{archive.trainingTime},#{archive.credentialDesc})
  	</insert>
  	
  	<delete id="deleteDataArchive" parameterType="String">
  		delete from data_archive where da_id=#{id}
  	</delete>
  	
  	<update id="updateDataArchive" parameterType="DataArchive">
  		update data_archive set da_name=#{archive.daName},attendees=#{archive.attendees},
  											training_location=#{archive.trainingLocation},training_time=#{archive.trainingTime},
  											credential_desc=#{archive.credentialDesc} where da_id=#{archive.daId}
  	</update>
  	
  	<select id="selectDataArchive" resultType="DataArchive">
  		select da_id,da_name,attendees,training_location,training_time,credential_desc,c.u_name from data_archive as a
  		left join mode_status as b on a.da_id=b.mode_id 
  		left join user as c on a.attendees=c.user_id
  		where b.status=2
  	</select>
  	
  	<select id="selectDataArchiveById" resultType="DataArchive">
  		SELECT * FROM data_archive where da_id=#{id}
  	</select>
</mapper>