<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.DepartmentTargetDao" >
  		<insert id="addDepartmentTarget" parameterType="java.util.List">
  			insert into department_target(t_id,ot_id,om_id,contract_amount,revenue_target,collection_target)  values
	  			<foreach collection="dTarget" item="item" separator=",">
	  				(#{item.tId},#{item.otId},#{item.omId},#{item.contractAmount},#{item.revenueTarget},#{item.collectionTarget})
	  			</foreach>
  		</insert>
  		
  		<update id="updateDepartmentTarget" parameterType="java.util.List">
  			<foreach collection="dTarget" item="item" separator=";">
  				update department_target set contract_amount=#{item.contractAmount},revenue_target=#{item.revenueTarget},
  						   collection_target=#{item.collectionTarget} where ot_id=#{item.otId} and om_id=#{item.omId}
  			</foreach>
  		</update>
  		
  		<select id="selectDepartmentTarget" resultType="DepartmentTarget">
  			SELECT a.*,b.om_name FROM department_target as a LEFT JOIN organization_management as b on a.om_id=b.om_id 
  			where a.ot_id=#{id}
  		</select>
  		
  		<select id="orNotSplit" resultType="int">
  			select count(t_id) from department_target where ot_id=#{id}
  		</select>
  		
  		<select id="selectDepartmentTargetByOmId" resultType="DepartmentTarget">
  			SELECT a.*,b.year,c.om_name FROM department_target as a LEFT JOIN operation_target as b on a.ot_id=b.ot_id 
  			LEFT JOIN organization_management as c on a.om_id=c.om_id
  			where a.om_id=#{id}
  		</select>
  		
  		<select id="selectDepartmentTargetByOmIdAndYear" resultType="DepartmentTarget">
	  		SELECT b.contract_amount,b.revenue_target,b.collection_target FROM operation_target as a 
	  		LEFT JOIN department_target as b on a.ot_id=b.ot_id
	  		LEFT JOIN mode_status as c on a.ot_id=c.mode_id
			where c.status=2 and b.om_id=#{omId} and a.year=#{year}
  		</select>
</mapper>