<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.DesignDocumentsDao">
	
	<select id="selectDesignDocuments" resultType="DesignDocuments">
		select * from design_documents
	</select>

	<insert id="addDesignDocumentsSave" parameterType="DesignDocuments">
		insert into design_documents(dd_id,prj_name,prj_no) values(#{dd.ddId},#{dd.prjName},#{dd.prjNo})
	</insert>
	
	<delete id="deleteDesignDocuments">
		delete from design_documents where dd_id=#{id}
	</delete>

</mapper>