<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.SubContractDao" >
	<select id="selectSubContract" resultType="org.ldxx.bean.FbContract">
		select f.*,o.om_name,c.cc_name from fb_contract  f
			left join mode_status m on m.mode_id=f.fb_id
			left join organization_management o on o.om_id=f.main_manage_department
			left join consociation_company c on c.cc_id=f.contract_name_yi
			where m.status=#{status} and f.history=1
	</select>
	<insert id="saveSubContract" parameterType="fbContract">
		insert into fb_contract(fb_id,contract_name,fb_no,fbc_type,contract_name_jia,contract_name_yi,prj_name,work_no,cj_contract_name,
			cj_contract_code,main_contract_money,now_fb_all_money,contract_start_time,contract_end_time,main_manage_department,contract_long_time,
			pay_mode,contract_money,temporary_money,performance_bond,work_content,make_time,history)
			values(#{fbContract.fbId},
				#{fbContract.contractName},
				#{fbContract.fbNo},
				#{fbContract.fbcType},
				#{fbContract.contractNameJia},
				#{fbContract.contractNameYi},
				#{fbContract.prjName},
				#{fbContract.workNo},
				#{fbContract.cjContractName},
				#{fbContract.cjContractCode},
				#{fbContract.mainContractMoney},
				#{fbContract.nowFbAllMoney},
				#{fbContract.contractStartTime},
				#{fbContract.contractEndTime},
				#{fbContract.mainManageDepartment},
				#{fbContract.contractLongTime},
				#{fbContract.payMode},
				#{fbContract.contractMoney},
				#{fbContract.temporaryMoney},
				#{fbContract.performanceBond},
				#{fbContract.workContent},
				now(),1)
	</insert>
	<delete id="deleteSubContractById" parameterType="String">
		delete from fb_contract where fb_id=#{id}
	</delete>
	<select id="selectSubContractById" parameterType="String" resultType="fbContract">
		select f.*,o.om_name,j.contract_name from fb_contract f
			left join organization_management o on o.om_id=f.main_manage_department
			left join cj_contract j on j.cj_id=f.cj_contract_name
		where fb_id=#{id}
	</select>
	<select id="selectsubcontractHistory" parameterType="String" resultType="fbContract">
		select f.*,c.cc_name,o.om_name from fb_contract f
			left join consociation_company c on c.cc_id=f.contract_name_yi
			left join organization_management o on o.om_id=f.main_manage_department
		 where fb_no=#{fbNo} and history=0
	</select>
	<select id="fbNocount" resultType="int">
		select count(1) from (select distinct fb_no from fb_contract) as a
	</select>
	<update id="updateHistory">
		update fb_contract set history=0 where fb_id=#{fbId}
	</update>
	<select id="getFBNameAndNo" resultType="fbContract">
		select contract_name,fb_no from fb_contract f
			left join mode_status m on m.mode_id=f.fb_id
		where m.status=2 and f.history=1
	</select>
	<select id="getFBNameByNo" resultType="fbContract">
		select contract_name from fb_contract where fb_no=#{fbNo} and history=1
	</select>
	<select id="getFBNoByName" resultType="fbContract">
		select fb_no from fb_contract where contract_name=#{contractName} and history=1
	</select>
	<select id="getFBContractByName" resultType="fbContract">
		select cj_contract_name,cj_contract_code,main_contract_money,prj_name,work_no from fb_contract where contract_name=#{contractName} and history=1
	</select>
  <!-- <update id="updateSubContract" parameterType="org.ldxx.bean.FbContract" >
    update fb_contract
    set contract_name = #{fbContract.contractName},
   	  fb_no=#{fbContract.fbNo},
      fbc_type = #{fbContract.fbcType},
      contract_name_jia = #{fbContract.contractNameJia},
      contract_name_yi = #{fbContract.contractNameYi},
      work_no = #{fbContract.workNo},
      prj_id = #{fbContract.prjId},
      cj_contract_code = #{fbContract.cjContractCode},
      cj_contract_name = #{fbContract.cjContractName},
      main_contract_money = #{fbContract.mainContractMoney},
      now_fb_all_money = #{fbContract.nowFbAllMoney},
      contract_start_time = #{fbContract.contractStartTime},
      contract_end_time = #{fbContract.contractEndTime},
      main_manage_department = #{fbContract.mainManageDepartment},
      contract_long_time = #{fbContract.contractLongTime},
      pay_mode = #{fbContract.payMode},
      contract_money = #{fbContract.contractMoney},
      temporary_money=#{fbContract.temporaryMoney},
      performance_bond=#{fbContract.performanceBond},
      work_content=#{fbContract.workContent},
      make_time=#{now()}
    where fb_id = #{fbContract.fbId}
  </update>  -->
</mapper>