<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.FbContractOverWjDao" >
  <insert id="addFbContractOverWj" parameterType="FbContractOverWj">
  	insert into fb_contract_over_wj (fcow_id,fb_contract_name, fb_contract, prj_code, 
      prj_charge_person, cj_contract_name, cj_contract, 
      contract_name_yi, fb_charge_person, prj_probably_text, 
      contract_money, 
      provisional_money, over_work_money, over_work_explain, 
      all_pay_money, do_appoint_score
      )
    values (#{fb.fcowId},#{fb.fbContractName}, #{fb.fbContract}, #{fb.prjCode}, 
      #{fb.prjChargePerson}, #{fb.cjContractName}, #{fb.cjContract}, 
      #{fb.contractNameYi}, #{fb.fbChargePerson}, #{fb.prjProbablyText}, 
      #{fb.contractMoney}, 
      #{fb.provisionalMoney}, #{fb.overWorkMoney}, #{fb.overWorkExplain}, 
      #{fb.allPayMoney}, #{fb.doAppointScore}
      )
  </insert>
  
  <select id="selectFbContractOverWj" resultType="FbContractOverWj">
 	select a.*,c.cc_name as yiFang from  fb_contract_over_wj as a left join mode_status as b on a.fcow_id=b.mode_id
 	left join consociation_company as c on a.contract_name_yi=c.cc_id
 	where b.status=#{state}
  </select>
  
    <select id="getFbOverMoney" resultType="FbContractOverWj">
    	SELECT over_work_money FROM fb_contract_over_wj where fb_contract=#{no}
    </select>
    
    <select id="getAllPayMoneyByFbNo" resultType="FbContractOverWj">
    	SELECT all_pay_money FROM fb_contract_over_wj as a 
		LEFT JOIN mode_status as b on a.fcow_id=b.mode_id
		where fb_contract=#{no} and b.status=2
     </select>
</mapper>