<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.FbContractDoAppointScoreMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.FbContractDoAppointScore" >
    <id column="fcd_id" property="fcdId" jdbcType="VARCHAR" />
    <result column="task_list_code" property="taskListCode" jdbcType="VARCHAR" />
    <result column="cj_contract_code" property="cjContractCode" jdbcType="VARCHAR" />
    <result column="cj_contract_name" property="cjContractName" jdbcType="VARCHAR" />
    <result column="fb_contract_code" property="fbContractCode" jdbcType="VARCHAR" />
    <result column="fb_contract_name" property="fbContractName" jdbcType="VARCHAR" />
    <result column="fb_department" property="fbDepartment" jdbcType="VARCHAR" />
    <result column="actual_charge_person" property="actualChargePerson" jdbcType="VARCHAR" />
    <result column="score_material_situation" property="scoreMaterialSituation" jdbcType="VARCHAR" />
    <result column="score_manage_ability" property="scoreManageAbility" jdbcType="VARCHAR" />
    <result column="score_quality_control" property="scoreQualityControl" jdbcType="VARCHAR" />
    <result column="score_money_ability" property="scoreMoneyAbility" jdbcType="VARCHAR" />
    <result column="score_company_reputation" property="scoreCompanyReputation" jdbcType="VARCHAR" />
    <result column="score_jindu_control" property="scoreJinduControl" jdbcType="VARCHAR" />
    <result column="safety_civilization_environment" property="safetyCivilizationEnvironment" jdbcType="VARCHAR" />
    <result column="all_score" property="allScore" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fcd_id, task_list_code, cj_contract_code, cj_contract_name, fb_contract_code, fb_contract_name, 
    fb_department, actual_charge_person, score_material_situation, score_manage_ability, 
    score_quality_control, score_money_ability, score_company_reputation, score_jindu_control, 
    safety_civilization_environment, all_score
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.FbContractDoAppointScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fb_contract_do_appoint_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fb_contract_do_appoint_score
    where fcd_id = #{fcdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fb_contract_do_appoint_score
    where fcd_id = #{fcdId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.FbContractDoAppointScoreExample" >
    delete from fb_contract_do_appoint_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.FbContractDoAppointScore" >
    <selectKey resultType="java.lang.String" keyProperty="fcdId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fb_contract_do_appoint_score (task_list_code, cj_contract_code, cj_contract_name, 
      fb_contract_code, fb_contract_name, fb_department, 
      actual_charge_person, score_material_situation, 
      score_manage_ability, score_quality_control, 
      score_money_ability, score_company_reputation, 
      score_jindu_control, safety_civilization_environment, 
      all_score)
    values (#{taskListCode,jdbcType=VARCHAR}, #{cjContractCode,jdbcType=VARCHAR}, #{cjContractName,jdbcType=VARCHAR}, 
      #{fbContractCode,jdbcType=VARCHAR}, #{fbContractName,jdbcType=VARCHAR}, #{fbDepartment,jdbcType=VARCHAR}, 
      #{actualChargePerson,jdbcType=VARCHAR}, #{scoreMaterialSituation,jdbcType=VARCHAR}, 
      #{scoreManageAbility,jdbcType=VARCHAR}, #{scoreQualityControl,jdbcType=VARCHAR}, 
      #{scoreMoneyAbility,jdbcType=VARCHAR}, #{scoreCompanyReputation,jdbcType=VARCHAR}, 
      #{scoreJinduControl,jdbcType=VARCHAR}, #{safetyCivilizationEnvironment,jdbcType=VARCHAR}, 
      #{allScore,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.FbContractDoAppointScore" >
    <selectKey resultType="java.lang.String" keyProperty="fcdId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fb_contract_do_appoint_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskListCode != null" >
        task_list_code,
      </if>
      <if test="cjContractCode != null" >
        cj_contract_code,
      </if>
      <if test="cjContractName != null" >
        cj_contract_name,
      </if>
      <if test="fbContractCode != null" >
        fb_contract_code,
      </if>
      <if test="fbContractName != null" >
        fb_contract_name,
      </if>
      <if test="fbDepartment != null" >
        fb_department,
      </if>
      <if test="actualChargePerson != null" >
        actual_charge_person,
      </if>
      <if test="scoreMaterialSituation != null" >
        score_material_situation,
      </if>
      <if test="scoreManageAbility != null" >
        score_manage_ability,
      </if>
      <if test="scoreQualityControl != null" >
        score_quality_control,
      </if>
      <if test="scoreMoneyAbility != null" >
        score_money_ability,
      </if>
      <if test="scoreCompanyReputation != null" >
        score_company_reputation,
      </if>
      <if test="scoreJinduControl != null" >
        score_jindu_control,
      </if>
      <if test="safetyCivilizationEnvironment != null" >
        safety_civilization_environment,
      </if>
      <if test="allScore != null" >
        all_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskListCode != null" >
        #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractCode != null" >
        #{cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractName != null" >
        #{cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="fbContractCode != null" >
        #{fbContractCode,jdbcType=VARCHAR},
      </if>
      <if test="fbContractName != null" >
        #{fbContractName,jdbcType=VARCHAR},
      </if>
      <if test="fbDepartment != null" >
        #{fbDepartment,jdbcType=VARCHAR},
      </if>
      <if test="actualChargePerson != null" >
        #{actualChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="scoreMaterialSituation != null" >
        #{scoreMaterialSituation,jdbcType=VARCHAR},
      </if>
      <if test="scoreManageAbility != null" >
        #{scoreManageAbility,jdbcType=VARCHAR},
      </if>
      <if test="scoreQualityControl != null" >
        #{scoreQualityControl,jdbcType=VARCHAR},
      </if>
      <if test="scoreMoneyAbility != null" >
        #{scoreMoneyAbility,jdbcType=VARCHAR},
      </if>
      <if test="scoreCompanyReputation != null" >
        #{scoreCompanyReputation,jdbcType=VARCHAR},
      </if>
      <if test="scoreJinduControl != null" >
        #{scoreJinduControl,jdbcType=VARCHAR},
      </if>
      <if test="safetyCivilizationEnvironment != null" >
        #{safetyCivilizationEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="allScore != null" >
        #{allScore,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.FbContractDoAppointScoreExample" resultType="java.lang.Integer" >
    select count(*) from fb_contract_do_appoint_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fb_contract_do_appoint_score
    <set >
      <if test="record.fcdId != null" >
        fcd_id = #{record.fcdId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskListCode != null" >
        task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cjContractCode != null" >
        cj_contract_code = #{record.cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cjContractName != null" >
        cj_contract_name = #{record.cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="record.fbContractCode != null" >
        fb_contract_code = #{record.fbContractCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fbContractName != null" >
        fb_contract_name = #{record.fbContractName,jdbcType=VARCHAR},
      </if>
      <if test="record.fbDepartment != null" >
        fb_department = #{record.fbDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.actualChargePerson != null" >
        actual_charge_person = #{record.actualChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreMaterialSituation != null" >
        score_material_situation = #{record.scoreMaterialSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreManageAbility != null" >
        score_manage_ability = #{record.scoreManageAbility,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreQualityControl != null" >
        score_quality_control = #{record.scoreQualityControl,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreMoneyAbility != null" >
        score_money_ability = #{record.scoreMoneyAbility,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreCompanyReputation != null" >
        score_company_reputation = #{record.scoreCompanyReputation,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreJinduControl != null" >
        score_jindu_control = #{record.scoreJinduControl,jdbcType=VARCHAR},
      </if>
      <if test="record.safetyCivilizationEnvironment != null" >
        safety_civilization_environment = #{record.safetyCivilizationEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="record.allScore != null" >
        all_score = #{record.allScore,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fb_contract_do_appoint_score
    set fcd_id = #{record.fcdId,jdbcType=VARCHAR},
      task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      cj_contract_code = #{record.cjContractCode,jdbcType=VARCHAR},
      cj_contract_name = #{record.cjContractName,jdbcType=VARCHAR},
      fb_contract_code = #{record.fbContractCode,jdbcType=VARCHAR},
      fb_contract_name = #{record.fbContractName,jdbcType=VARCHAR},
      fb_department = #{record.fbDepartment,jdbcType=VARCHAR},
      actual_charge_person = #{record.actualChargePerson,jdbcType=VARCHAR},
      score_material_situation = #{record.scoreMaterialSituation,jdbcType=VARCHAR},
      score_manage_ability = #{record.scoreManageAbility,jdbcType=VARCHAR},
      score_quality_control = #{record.scoreQualityControl,jdbcType=VARCHAR},
      score_money_ability = #{record.scoreMoneyAbility,jdbcType=VARCHAR},
      score_company_reputation = #{record.scoreCompanyReputation,jdbcType=VARCHAR},
      score_jindu_control = #{record.scoreJinduControl,jdbcType=VARCHAR},
      safety_civilization_environment = #{record.safetyCivilizationEnvironment,jdbcType=VARCHAR},
      all_score = #{record.allScore,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.FbContractDoAppointScore" >
    update fb_contract_do_appoint_score
    <set >
      <if test="taskListCode != null" >
        task_list_code = #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractCode != null" >
        cj_contract_code = #{cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractName != null" >
        cj_contract_name = #{cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="fbContractCode != null" >
        fb_contract_code = #{fbContractCode,jdbcType=VARCHAR},
      </if>
      <if test="fbContractName != null" >
        fb_contract_name = #{fbContractName,jdbcType=VARCHAR},
      </if>
      <if test="fbDepartment != null" >
        fb_department = #{fbDepartment,jdbcType=VARCHAR},
      </if>
      <if test="actualChargePerson != null" >
        actual_charge_person = #{actualChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="scoreMaterialSituation != null" >
        score_material_situation = #{scoreMaterialSituation,jdbcType=VARCHAR},
      </if>
      <if test="scoreManageAbility != null" >
        score_manage_ability = #{scoreManageAbility,jdbcType=VARCHAR},
      </if>
      <if test="scoreQualityControl != null" >
        score_quality_control = #{scoreQualityControl,jdbcType=VARCHAR},
      </if>
      <if test="scoreMoneyAbility != null" >
        score_money_ability = #{scoreMoneyAbility,jdbcType=VARCHAR},
      </if>
      <if test="scoreCompanyReputation != null" >
        score_company_reputation = #{scoreCompanyReputation,jdbcType=VARCHAR},
      </if>
      <if test="scoreJinduControl != null" >
        score_jindu_control = #{scoreJinduControl,jdbcType=VARCHAR},
      </if>
      <if test="safetyCivilizationEnvironment != null" >
        safety_civilization_environment = #{safetyCivilizationEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="allScore != null" >
        all_score = #{allScore,jdbcType=VARCHAR},
      </if>
    </set>
    where fcd_id = #{fcdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.FbContractDoAppointScore" >
    update fb_contract_do_appoint_score
    set task_list_code = #{taskListCode,jdbcType=VARCHAR},
      cj_contract_code = #{cjContractCode,jdbcType=VARCHAR},
      cj_contract_name = #{cjContractName,jdbcType=VARCHAR},
      fb_contract_code = #{fbContractCode,jdbcType=VARCHAR},
      fb_contract_name = #{fbContractName,jdbcType=VARCHAR},
      fb_department = #{fbDepartment,jdbcType=VARCHAR},
      actual_charge_person = #{actualChargePerson,jdbcType=VARCHAR},
      score_material_situation = #{scoreMaterialSituation,jdbcType=VARCHAR},
      score_manage_ability = #{scoreManageAbility,jdbcType=VARCHAR},
      score_quality_control = #{scoreQualityControl,jdbcType=VARCHAR},
      score_money_ability = #{scoreMoneyAbility,jdbcType=VARCHAR},
      score_company_reputation = #{scoreCompanyReputation,jdbcType=VARCHAR},
      score_jindu_control = #{scoreJinduControl,jdbcType=VARCHAR},
      safety_civilization_environment = #{safetyCivilizationEnvironment,jdbcType=VARCHAR},
      all_score = #{allScore,jdbcType=VARCHAR}
    where fcd_id = #{fcdId,jdbcType=VARCHAR}
  </update>
</mapper>