<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.FbContractOverDao" >
  <insert id="addFbContractOver" parameterType="FbContractOver">
  	insert into fb_contract_over (fco_id,prj_code, cj_contract, cj_name,fb_money,fb_end_money,
      fb_contract,fb_name,settlement_time, work_info,qianqi_jy_money,is_kouchu)
    values (#{fb.fcoId},#{fb.prjCode},#{fb.cjContract}, #{fb.cjName},#{fb.fbMoney},#{fb.fbEndMoney},#{fb.fbContract},
       #{fb.fbName}, #{fb.settlementTime}, #{fb.workInfo}, #{fb.qianqijyMoney}, #{fb.isKouchu}
      )
  </insert>
  
  <select id="selectFbContractOver" resultType="FbContractOver">
  	select a.* from fb_contract_over as a 
  	left join mode_status as b on a.fco_id=b.mode_id
  	where b.status=#{state}
  </select>
  
  <select id="selectFbContractOverById" resultType="FbContractOver">
  	SELECT * FROM fb_contract_over where fco_id=#{id}
  </select>
  
  <update id="updateFbContractOver" parameterType="FbContractOver">
  	update fb_contract_over set 
  		fb_contract=#{fb.fbContract},
  		fb_name=#{fb.fbName},
  		fb_money=#{fb.fbMoney},
  		fb_end_money=#{fb.fbEndMoney},
  		cj_contract=#{fb.cjContract},
  		cj_name=#{fb.cjName},
  		prj_code=#{fb.prjCode},
  		settlement_time=#{fb.settlementTime},
  		work_info=#{fb.workInfo},
  		qianqi_jy_money=#{fb.qianqijyMoney},
  		is_kouchu=#{fb.isKouchu}
  	where fco_id=#{fb.fcoId}
  </update>
  
  <select id="selectFbJsMoneyByNo" resultType="float">
  	select IFNULL(fb_end_money,0) from fb_contract_over as a
  	left join mode_status as b on a.fco_id=b.mode_id
  	where b.status=2 and a.prj_code=#{no}
  </select>
  
</mapper>