<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.FinancialReceiptsDao" >
  	<insert id="addFinancialReceipts" parameterType="FinancialReceipts">
  		insert into financial_receipts(fr_id,prj_name,prj_no,year,yezhu,start_time,end_time,
  														prj_leader,ht_contract,contract_no,contract_money,contract_money_end,
  														total_money,kp_money,fp_no,collection_terms,prj_plan,
  														result_money,receipt_time,department_info,finance_info,status)
  		values(#{fr.frId},#{fr.prjName},#{fr.prjNo},#{fr.year},#{fr.yezhu},#{fr.startTime},#{fr.endTime},
  				   #{fr.prjLeader},#{fr.htContract},#{fr.contractNo},#{fr.contractMoney},#{fr.contractMoneyEnd},
  				   #{fr.totalMoney},#{fr.kpMoney},#{fr.fpNo},#{fr.collectionTerms},#{fr.prjPlan},
  				   #{fr.resultMoney},#{fr.receiptTime},#{fr.departmentInfo},#{fr.financeInfo},#{fr.status})
  	</insert>
  	
  	<select id="selectFinancialReceipts" resultType="FinancialReceipts">
  		select * from financial_receipts
  	</select>
  	
  	<select id="selectFinancialReceiptsById" resultType="FinancialReceipts">
  		select *,b.contract_name from financial_receipts as a
  		left join cj_contract b on a.ht_contract=b.cj_id
  		 where fr_id=#{id}
  	</select>
  	
  	<select id="selectFinancialReceiptsByStatus" resultType="FinancialReceipts">
  		select *,b.contract_name from financial_receipts as a
  		left join cj_contract b on a.ht_contract=b.cj_id
  		where status=#{status}
  	</select>
  	
  	<update id="updateStatus">
  		update financial_receipts set status=#{status} where fr_id=#{id}
  	</update>
  	
  	<select id="selectFinancialReceiptsByYear" resultType="FinancialReceipts">
  		select * from financial_receipts where year like #{y}
  	</select>
  	
  	<select id="selectResultMoney" resultType="FinancialReceipts">
  		select SUM(result_money)as result_money from financial_receipts where contract_no=#{no} and receipt_time like #{year}
  	</select>
  	
  	<select id="selectResultMoneyAll" resultType="FinancialReceipts">
  		select SUM(result_money)as result_money from financial_receipts where contract_no=#{no}
  	</select>
</mapper>