<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.GsMaterialWastetreatmentDao" >
	<insert id="addGsMaterialWastetreatmentSave" parameterType="GsMaterialWastetreatment">
		insert into company_material_wastetreatment(cmw_id,material_name,material_type,material_model,cmw_unit,deal_number,
		cmw_price,cmw_money,apply_person,deal_reason,deal_mode,quasi_discount_money,actual_discount_money,cost_money,cmw_desc)
		values(#{mw.cmwId},#{mw.materialName},#{mw.materialType},#{mw.materialModel},#{mw.cmwUnit},#{mw.dealNumber},
		#{mw.cmwPrice},#{mw.cmwMoney},#{mw.applyPerson},#{mw.dealReason},#{mw.dealMode},#{mw.quasiDiscountMoney},
		#{mw.actualDiscountMoney},#{mw.costMoney},#{mw.cmwDesc})
	</insert>
	
	<update id="updateGsMaterialWastetreatmentSave"  parameterType="GsMaterialWastetreatment">
		update company_material_wastetreatment set 
			material_name=#{mw.materialName},material_type=#{mw.materialType},material_model=#{mw.materialModel},
			cmw_unit=#{mw.cmwUnit},deal_number=#{mw.dealNumber},cmw_price=#{mw.cmwPrice},cmw_money=#{mw.cmwMoney},
			apply_person=#{mw.applyPerson},deal_reason=#{mw.dealReason},deal_mode=#{mw.dealMode},
			quasi_discount_money=#{mw.quasiDiscountMoney},actual_discount_money=#{mw.actualDiscountMoney},
			cost_money=#{mw.costMoney},cmw_desc=#{mw.cmwDesc}
		where cmw_id=#{mw.cmwId}
	</update>
	
	<delete id="deleteGsMaterialWastetreatment">
		delete from company_material_wastetreatment where cmw_id=#{id}
	</delete>
	
	<select id="selectGsMaterialWastetreatment" resultType="GsMaterialWastetreatment">
		select * from company_material_wastetreatment
	</select>
</mapper>