<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.GsMaterialOutDao" >
	<select id="selectGsMaterialOut" resultType="CompanyMateriaOut">
		select * from company_material_out a
		left join mode_status m on m.mode_id=a.cmo_id
		where m.status=2
	</select>
	<insert id="addGsMaterialOutSave" parameterType="CompanyMateriaOut">
		insert into company_material_out(cmo_id,cg_no,cg_name,task_no,pick_project,pick_date,pick_person,cmo_desc,type)
		values(#{cm.cmoId},#{cm.cgNo},#{cm.cgName},#{cm.taskNo},#{cm.pickProject},#{cm.pickDate},#{cm.pickPerson},#{cm.cmoDesc},#{cm.type})
	</insert>
	
	<select id="selectXmMaterialOutByNo" resultType="CompanyMateriaOut">
		select  cmo_id,cg_no,cg_name,task_no,pick_project,pick_date,pick_person,get_status,get_person,get_infos from company_material_out where task_no like #{no}
	</select>
	
	<select id="selectAllXmMaterialOut" resultType="CompanyMateriaOut">
		select DISTINCT task_no,pick_project from company_material_out where cmo_id in
				(SELECT cmo_id FROM company_material_out where get_status=1)
	</select>
	
	<select id="selectNoByName" resultType="CompanyMateriaOut">
		select  distinct task_no,pick_project from company_material_out where pick_project = #{name}
	</select>
	
	<select id="selectNameByNo" resultType="CompanyMateriaOut">
		select  distinct task_no,pick_project from company_material_out where task_no = #{no}
	</select>
	
	<update id="updateStatus" parameterType="CompanyMateriaOut">
		update company_material_out set get_person=#{out.getPerson},get_infos=#{out.getInfos},get_status=1 where cmo_id=#{out.cmoId}
	</update>
	
	<select id="selectCompanyMateriaOutForEnd" resultType="CompanyMateriaOut">
		SELECT cmo_id,cg_no,cg_name,task_no,pick_project,pick_person,get_person,pick_date,remain_type
			FROM company_material_out
			where get_status=1 and task_no like #{no}
	</select>
	
	<select id="selectCompanyMateriaOutForWaste" resultType="CompanyMateriaOut">
		SELECT cmo_id,cg_no,cg_name,task_no,pick_project,get_person,pick_date,dispose_person,dispose_time,dispose_reason,
			dispose_type,dispose_money,dispose_desc,dispose_status
			FROM company_material_out
			where get_status=1 and task_no like #{no} and remain_type=1
	</select>
	
	<update id="updateRemainStatus" parameterType="String">
		update company_material_out set remain_type=1 where cmo_id=#{id}
	</update>
	
	<update id="updateWasteDispose" parameterType="CompanyMateriaOut">
		update company_material_out set dispose_person=#{out.disposePerson},dispose_time=#{out.disposeTime},
					dispose_reason=#{out.disposeReason},dispose_type=#{out.disposeType},dispose_money=#{out.disposeMoney},
					dispose_desc=#{out.disposeDesc},dispose_status=#{out.disposeStatus}
		where cmo_id=#{out.cmoId}
	</update>
</mapper>