<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.GsMaterialReturnDao" >
	<insert id="addGsMaterialReturnSave" parameterType="CompanyMaterialReturn">
		insert into company_material_return(cmr_id,material_name,material_type,material_model,cmr_unit,deal_number,
		cmr_price,cmr_money,apply_person,deal_reason,deal_mode,quasi_discount_money,actual_discount_money,cost_money,cmr_desc)
		values(#{mr.cmrId},#{mr.materialName},#{mr.materialType},#{mr.materialModel},#{mr.cmrUnit},#{mr.dealNumber},
		#{mr.cmrPrice},#{mr.cmrMoney},#{mr.applyPerson},#{mr.dealReason},#{mr.dealMode},#{mr.quasiDiscountMoney},
		#{mr.actualDiscountMoney},#{mr.costMoney},#{mr.cmrDesc})
	</insert>
	
	<update id="updateGsMaterialReturnSave"  parameterType="CompanyMaterialReturn">
		update company_material_return set 
			material_name=#{mr.materialName},material_type=#{mr.materialType},material_model=#{mr.materialModel},
			cmr_unit=#{mr.cmrUnit},deal_number=#{mr.dealNumber},cmr_price=#{mr.cmrPrice},cmr_money=#{mr.cmrMoney},
			apply_person=#{mr.applyPerson},deal_reason=#{mr.dealReason},deal_mode=#{mr.dealMode},
			quasi_discount_money=#{mr.quasiDiscountMoney},actual_discount_money=#{mr.actualDiscountMoney},
			cost_money=#{mr.costMoney},cmr_desc=#{mr.cmrDesc}
		where cmr_id=#{mr.cmrId}
	</update>
	
	<delete id="deleteGsMaterialReturn">
		delete from company_material_return where cmr_id=#{id}
	</delete>
	
	<select id="selectGsMaterialReturn" resultType="CompanyMaterialReturn">
		select * from company_material_return
	</select>
</mapper>