<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.GsMaterialOutDao" >
	<select id="selectGsMaterialOut" resultType="CompanyMateriaOut">
		select *,o.om_name,b.u_name from company_material_out a
		left join mode_status m on m.mode_id=a.cmo_id
		left join user b on a.pick_person =b.user_id
		left join organization_management o on o.om_id=a.om_id
		where m.status=2
	</select>
	<insert id="addGsMaterialOutSave" parameterType="CompanyMateriaOut">
		insert into company_material_out(cmo_id,cg_no,cg_name,task_no,pick_project,material_name,material_type,specification_model,
			cmo_unit,cmo_number,remain_number,cmo_unit_price,cmo_money,pick_date,om_id,pick_person,cmo_desc)
		values(#{cm.cmoId},#{cm.cgNo},#{cm.cgName},#{cm.taskNo},#{cm.pickProject},#{cm.materialName},#{cm.materialType},#{cm.specificationModel},
		#{cm.cmoUnit},#{cm.cmoNumber},#{cm.cmoNumber},#{cm.cmoUnitPrice},#{cm.cmoMoney},#{cm.pickDate},#{cm.omId},#{cm.pickPerson},#{cm.cmoDesc})
	</insert>
	
	<select id="selectXmMaterialOutByNo" resultType="CompanyMateriaOut">
		select  cmo_id,cg_no,cg_name,task_no,pick_project,pick_date,get_status,get_person,get_infos from company_material_out where task_no like #{no}
	</select>
	
	<select id="selectAllXmMaterialOut" resultType="CompanyMateriaOut">
		select  distinct task_no,pick_project from company_material_out
	</select>
	
	<select id="selectNoByName" resultType="CompanyMateriaOut">
		select  distinct task_no,pick_project from company_material_out where pick_project = #{name}
	</select>
	
	<select id="selectNameByNo" resultType="CompanyMateriaOut">
		select  distinct task_no,pick_project from company_material_out where task_no = #{no}
	</select>
	
	<select id="selectClInfoByNoAndClName" resultType="CompanyMateriaOut">
		select  material_name,material_type,specification_model,cmo_unit,cmo_number,cmo_unit_price,cmo_money,pick_date
		from company_material_out where task_no = #{no} and material_name=#{clName}
	</select>
	
	<update id="updateStatus" parameterType="CompanyMateriaOut">
		update company_material_out set get_person=#{out.getPerson},get_infos=#{out.getInfos},get_status=1 where cmo_id=#{out.cmoId}
	</update>
</mapper>