<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.GsMaterialInDao" >

	<select id="selectGsMaterialIn" resultType="CompanyMateriaIn">
		select * from company_material_in a
		left join mode_status m on m.mode_id=a.cm_id
		where m.status=2 and a.out_state=#{outState}
	</select>
	
	<insert id="addGsMaterialInSave" parameterType="CompanyMateriaIn">
		insert into company_material_in(cm_id,cg_no,cg_name,task_no,sent_date,collect_person,
			demand_project,cm_desc,acceptance_opinion,freight,out_state,remain_type)
		values(#{cm.cmId},#{cm.cgNo},#{cm.cgName},#{cm.taskNo},#{cm.sentDate},#{cm.collectPerson},#{cm.demandProject},
		#{cm.cmDesc},#{cm.acceptanceOpinion},#{cm.freight},0,0)
	</insert>
	
	<update id="updateGsMaterialInSave" parameterType="CompanyMateriaIn">
		update company_material_in set 
			cg_no=#{cm.cgNo},
			cg_name=#{cm.cgName},
			task_no=#{cm.taskNo},
			sent_date=#{cm.sentDate},
			collect_person=#{cm.collectPerson},
			demand_project=#{cm.demandProject},
			cm_desc=#{cm.cmDesc},
			acceptance_opinion=#{cm.acceptanceOpinion},
			freight=#{cm.freight}
		where cm_id=#{cm.cmId}
	</update>
	
	<select id="selectGsClInById" resultType="CompanyMateriaIn">
		select * from company_material_in where cm_id=#{id}
	</select>
	
	<select id="selectcgNotaskNoPrjName" resultType="CompanyMateriaIn">
		select cg_no,cg_name,task_no,demand_project from company_material_in a
		left join mode_status m on m.mode_id=a.cm_id
		where m.status=2
	</select>
	
	<select id="selecttaskNoPrjNameBycgNo" resultType="CompanyMateriaIn">
		select * from company_material_in where cg_no=#{cgNo}
	</select>
	
	<select id="selectcgNotaskNoPrjNameBycgName" resultType="CompanyMateriaIn">
		select * from company_material_in where cg_name=#{cgName}
	</select>
	
	<update id="updateOutStateById" >
		update company_material_in set  out_state=#{outstate} where cm_id=#{id}
	</update>
	
	
	<select id="selectXmMaterialByNo" resultType="CompanyMateriaIn">
		select * from company_material_in where task_no like #{no} and out_state=#{outstate}
	</select>
	
	<update id="updateXmState">
		update company_material_in 
		set 
			get_person=#{gsIncl.getPerson},
			get_infos=#{gsIncl.getInfos},
			get_status=#{gsIncl.getStatus}
		where cm_id=#{gsIncl.cmId}
	</update>
	
	<select id="selectAllXmReceivedGoods" resultType="CompanyMateriaIn">
		select DISTINCT task_no,demand_project,cg_no,cg_name,cm_id from company_material_in where get_status=1
	</select>
	
	<select id="selectMateriaOutForEnd" resultType="CompanyMateriaIn">
		select * from company_material_in where task_no like #{no} and out_state=1 and get_status=1 and remain_type=#{type}
	</select>
	
	<update id="updateremainType">
		update company_material_in set remain_type=#{type} where cm_id=#{id}
	</update>
</mapper>