<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.InternalTrainingDao" >
  <insert id="addInternalTraining" parameterType="InternalTraining">
  		insert into internal_training( it_id, training_man, department, duty, course_name, training_date, training_location, 
    			training_money,training_desc,training_reason,training_in_user,training_type,director)
    	values(#{training.itId},#{training.trainingMan},#{training.department},#{training.duty},#{training.courseName},
    	#{training.trainingDate},#{training.trainingLocation},#{training.trainingMoney},#{training.trainingDesc},
    	#{training.trainingReason},#{training.trainingInUser},#{training.trainingType},#{training.director})
  </insert>
  
  <delete id="deleteInternalTraining" parameterType="String">
  		delete from internal_training where it_id=#{id}
  </delete>
  
  <update id="updateInternalTraining"  parameterType="InternalTraining">
  		update internal_training set training_man=#{training.trainingMan},department=#{training.department},
  				duty=#{training.duty},course_name=#{training.courseName},training_date=#{training.trainingDate},
  				training_location=#{training.trainingLocation},training_money=#{training.trainingMoney},
  				training_desc=#{training.trainingDesc},training_reason=#{training.trainingReason},
  				training_in_user=#{training.trainingInUser},training_type=#{training.trainingType},
  				director=#{training.director}
  		where it_id=#{training.itId}
  </update>
  
  <select id="selectInternalTraining" resultType="InternalTraining">
  		select a.*,d.duty_name,c.u_name 
  		from internal_training as a
  		left join mode_status as b on a.it_id=b.mode_id 
  		left join user as c on a.training_man=c.user_id
  		left join duty as d on a.duty=d.duty_id
  		where b.status=2
  </select>
  
  <select id="selectInternalTrainingById" resultType="InternalTraining"> 
  		SELECT a.*,b.om_name,d.duty_name,c.u_name  FROM internal_training as a 
		LEFT JOIN organization_management as b on a.department=b.om_id
		left join user as c on a.training_man=c.user_id
  		left join duty as d on a.duty=d.duty_id
		where a.it_id=#{id}
  </select>
  
  <select id="getInternalTrainingName" resultType="InternalTraining">
  	select it_id,course_name from internal_training as a
  	left join mode_status as b on a.it_id=b.mode_id 
  	where b.status=2
  </select>
</mapper>