<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.InvoiceSignMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.InvoiceSign" >
    <id column="is_id" property="isId" jdbcType="VARCHAR" />
    <result column="invoice_date" property="invoiceDate" jdbcType="VARCHAR" />
    <result column="invoice_money" property="invoiceMoney" jdbcType="REAL" />
    <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
    <result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />
    <result column="product_owners" property="productOwners" jdbcType="VARCHAR" />
    <result column="taxpayer_no" property="taxpayerNo" jdbcType="VARCHAR" />
    <result column="prj_name" property="prjName" jdbcType="VARCHAR" />
    <result column="work_no" property="workNo" jdbcType="VARCHAR" />
    <result column="company_manager" property="companyManager" jdbcType="VARCHAR" />
    <result column="ticket_date" property="ticketDate" jdbcType="VARCHAR" />
    <result column="Invoice_sign" property="invoiceSign" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sign_date" property="signDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    is_id, invoice_date, invoice_money, invoice_type, invoice_no, product_owners, taxpayer_no, 
    prj_name, work_no, company_manager, ticket_date, Invoice_sign, phone, sign_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.InvoiceSignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from invoice_sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from invoice_sign
    where is_id = #{isId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from invoice_sign
    where is_id = #{isId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.InvoiceSignExample" >
    delete from invoice_sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.InvoiceSign" >
    <selectKey resultType="java.lang.String" keyProperty="isId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invoice_sign (invoice_date, invoice_money, invoice_type, 
      invoice_no, product_owners, taxpayer_no, 
      prj_name, work_no, company_manager, 
      ticket_date, Invoice_sign, phone, 
      sign_date)
    values (#{invoiceDate,jdbcType=VARCHAR}, #{invoiceMoney,jdbcType=REAL}, #{invoiceType,jdbcType=VARCHAR}, 
      #{invoiceNo,jdbcType=VARCHAR}, #{productOwners,jdbcType=VARCHAR}, #{taxpayerNo,jdbcType=VARCHAR}, 
      #{prjName,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, #{companyManager,jdbcType=VARCHAR}, 
      #{ticketDate,jdbcType=VARCHAR}, #{invoiceSign,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{signDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.InvoiceSign" >
    <selectKey resultType="java.lang.String" keyProperty="isId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invoice_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoiceDate != null" >
        invoice_date,
      </if>
      <if test="invoiceMoney != null" >
        invoice_money,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="invoiceNo != null" >
        invoice_no,
      </if>
      <if test="productOwners != null" >
        product_owners,
      </if>
      <if test="taxpayerNo != null" >
        taxpayer_no,
      </if>
      <if test="prjName != null" >
        prj_name,
      </if>
      <if test="workNo != null" >
        work_no,
      </if>
      <if test="companyManager != null" >
        company_manager,
      </if>
      <if test="ticketDate != null" >
        ticket_date,
      </if>
      <if test="invoiceSign != null" >
        Invoice_sign,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="signDate != null" >
        sign_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoiceDate != null" >
        #{invoiceDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceMoney != null" >
        #{invoiceMoney,jdbcType=REAL},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null" >
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="productOwners != null" >
        #{productOwners,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNo != null" >
        #{taxpayerNo,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="companyManager != null" >
        #{companyManager,jdbcType=VARCHAR},
      </if>
      <if test="ticketDate != null" >
        #{ticketDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceSign != null" >
        #{invoiceSign,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        #{signDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.InvoiceSignExample" resultType="java.lang.Integer" >
    select count(*) from invoice_sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update invoice_sign
    <set >
      <if test="record.isId != null" >
        is_id = #{record.isId,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceDate != null" >
        invoice_date = #{record.invoiceDate,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceMoney != null" >
        invoice_money = #{record.invoiceMoney,jdbcType=REAL},
      </if>
      <if test="record.invoiceType != null" >
        invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceNo != null" >
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.productOwners != null" >
        product_owners = #{record.productOwners,jdbcType=VARCHAR},
      </if>
      <if test="record.taxpayerNo != null" >
        taxpayer_no = #{record.taxpayerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prjName != null" >
        prj_name = #{record.prjName,jdbcType=VARCHAR},
      </if>
      <if test="record.workNo != null" >
        work_no = #{record.workNo,jdbcType=VARCHAR},
      </if>
      <if test="record.companyManager != null" >
        company_manager = #{record.companyManager,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketDate != null" >
        ticket_date = #{record.ticketDate,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceSign != null" >
        Invoice_sign = #{record.invoiceSign,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.signDate != null" >
        sign_date = #{record.signDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update invoice_sign
    set is_id = #{record.isId,jdbcType=VARCHAR},
      invoice_date = #{record.invoiceDate,jdbcType=VARCHAR},
      invoice_money = #{record.invoiceMoney,jdbcType=REAL},
      invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      product_owners = #{record.productOwners,jdbcType=VARCHAR},
      taxpayer_no = #{record.taxpayerNo,jdbcType=VARCHAR},
      prj_name = #{record.prjName,jdbcType=VARCHAR},
      work_no = #{record.workNo,jdbcType=VARCHAR},
      company_manager = #{record.companyManager,jdbcType=VARCHAR},
      ticket_date = #{record.ticketDate,jdbcType=VARCHAR},
      Invoice_sign = #{record.invoiceSign,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      sign_date = #{record.signDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.InvoiceSign" >
    update invoice_sign
    <set >
      <if test="invoiceDate != null" >
        invoice_date = #{invoiceDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceMoney != null" >
        invoice_money = #{invoiceMoney,jdbcType=REAL},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="productOwners != null" >
        product_owners = #{productOwners,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNo != null" >
        taxpayer_no = #{taxpayerNo,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        prj_name = #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        work_no = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="companyManager != null" >
        company_manager = #{companyManager,jdbcType=VARCHAR},
      </if>
      <if test="ticketDate != null" >
        ticket_date = #{ticketDate,jdbcType=VARCHAR},
      </if>
      <if test="invoiceSign != null" >
        Invoice_sign = #{invoiceSign,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null" >
        sign_date = #{signDate,jdbcType=VARCHAR},
      </if>
    </set>
    where is_id = #{isId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.InvoiceSign" >
    update invoice_sign
    set invoice_date = #{invoiceDate,jdbcType=VARCHAR},
      invoice_money = #{invoiceMoney,jdbcType=REAL},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      product_owners = #{productOwners,jdbcType=VARCHAR},
      taxpayer_no = #{taxpayerNo,jdbcType=VARCHAR},
      prj_name = #{prjName,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR},
      company_manager = #{companyManager,jdbcType=VARCHAR},
      ticket_date = #{ticketDate,jdbcType=VARCHAR},
      Invoice_sign = #{invoiceSign,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=VARCHAR}
    where is_id = #{isId,jdbcType=VARCHAR}
  </update>
</mapper>