<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.JobLvDao" >
  	<select id="selectJobLv" resultType="joblv">
  		select job_lv_id,job_lv_name,job_lv_size from job_lv order by job_lv_size
  	</select>
  	
  	<insert id="addJobLv" parameterType="joblv">
  		insert into job_lv(job_lv_id,job_lv_name,job_lv_size) values(#{job.jobLvId},#{job.jobLvName},#{job.jobLvSize})
  	</insert>
  	
  	<delete id="deleteJobLv" parameterType="String">
  		delete from job_lv where job_lv_id=#{id}
  	</delete>
  	
  	<update id="updateJobLv" parameterType="joblv">
  		update job_lv set job_lv_name=#{job.jobLvName},job_lv_size=#{job.jobLvSize} where job_lv_id=#{job.jobLvId}
  	</update>
  	
  	<select id="countOfName" parameterType="String" resultType="int">
  		select count(job_lv_id) from job_lv where job_lv_name=#{name}
  	</select>
  	
  	<select id="countOfSize" parameterType="int" resultType="int">
  		select count(job_lv_id) from job_lv where job_lv_size=#{size}
  	</select>
  	
  	<select id="countOfNameToEdit"  resultType="int">
  		select count(job_lv_id) from job_lv where job_lv_name=#{name} and job_lv_id !=#{id}
  	</select>
  	
  	<select id="countOfSizeToEdit"  resultType="int">
  		select count(job_lv_id) from job_lv where job_lv_size=#{size} and job_lv_id !=#{id}
  	</select>
  	
  	<select id="selectAllJobLv" resultType="joblv">
  		select * from fen_company
  	</select>
</mapper>