<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ManagingDocumentsDao">
	<select id="selectManagingDocuments" resultType="ManagingDocuments">
		select * from managing_documents
	</select>
	
	<insert id="addManagingDocumentsSave" parameterType="ManagingDocuments">
		insert into managing_documents(md_id,prj_name,prj_no,fill_in_one,prj_area,prj_type,key_word,bidding_agent,
		prj_bid_time,number_participating_units,offer,isBidding,bidding_prj_manager,prj_general,prj_start_time,
		prj_end_time,bidding_price,bidding_unit,bid_price_limit,prj_budget_price,bid_evaluation_method)
		values(#{md.mdId},#{md.prjName},#{md.prjNo},#{md.fillInOne},#{md.prjArea},#{md.prjType},#{md.keyWord},
		#{md.biddingAgent},#{md.prjBidTime},#{md.numberParticipatingUnits},#{md.offer},#{md.isBidding},#{md.biddingPrjManager},#{md.prjGeneral},
		#{md.prjStartTime},#{md.prjEndTime},#{md.biddingPrice},#{md.biddingUnit},#{md.bidPriceLimit},#{md.prjBudgetPrice},#{md.bidEvaluationMethod})
	</insert>
	
	<update id="updateManagingDocumentsSave" parameterType="ManagingDocuments">
		update managing_documents set prj_name=#{md.prjName},prj_no=#{md.prjNo},fill_in_one=#{md.fillInOne},
			prj_area=#{md.prjArea},prj_type=#{md.prjType},key_word=#{md.keyWord},bidding_agent=#{md.biddingAgent},
			prj_bid_time=#{md.prjBidTime},number_participating_units=#{md.numberParticipatingUnits},offer=#{md.offer},
			isBidding=#{md.isBidding},bidding_prj_manager=#{md.biddingPrjManager},prj_general=#{md.prjGeneral},
			prj_start_time=#{md.prjStartTime},prj_end_time=#{md.prjEndTime},bidding_price=#{md.biddingPrice},
			bidding_unit=#{md.biddingUnit},bid_price_limit=#{md.bidPriceLimit},prj_budget_price=#{md.prjBudgetPrice},bid_evaluation_method=#{md.bidEvaluationMethod}
		where md_id=#{md.mdId}
	</update>
	
	<delete id="deleteManagingDocumentsById">
		delete from managing_documents where md_id=#{id}
	</delete>
	
	<select id="selectManagingDocumentsById" resultType="ManagingDocuments">
		select md_id from managing_documents where prj_no=#{id}
	</select>
	
</mapper>