<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.MaterialTypeDao">
	<insert id="addMaterialType" parameterType="MaterialType">
		insert into material_type(m_id,material_type) values(#{mt.mId},#{mt.materialType})
	</insert>
	
	<delete id="deleteMaterialTypeById">
		delete from material_type where m_id=#{id}
	</delete>
	
	<update id="updateMaterialTypeById" parameterType="MaterialType">
		update material_type set material_type=#{mt.materialType} where m_id=#{mt.mId}
	</update>
	
	<select id="selectMaterialType" resultType="MaterialType">
		select * from material_type
	</select>
	
	<select id="materialTypecount" resultType="int">
		select count(1) from material_type where material_type=#{materialType}
	</select>
</mapper>