<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.MaterialPurchaseSettlementDao">
	<select id="selectmaterialPurchaseSettlement" resultType="clfbContractPurchaseSettlement">
		select * from clfb_contract_purchaseSettlement c
		left join mode_status m on m.mode_id=c.cp_id
		where m.status=#{status}
	</select>
	<insert id="addmaterialPurchaseSettlementSave" parameterType="clfbContractPurchaseSettlement">
		insert into clfb_contract_purchaseSettlement(cp_id,task_no,prj_name,cg_contract,cg_no,cj_contract,cj_no,audit_settlement_type,settlement_time,
		purchaseSettlementDesc,make_time)
		values(#{c.cpId},#{c.taskNo},#{c.prjName},#{c.cgContract},#{c.cgNo},#{c.cjContract},#{c.cjNo},#{c.auditSettlementType},
		#{c.settlementTime},#{c.purchaseSettlementDesc},now())
	</insert>
	<select id="selectmaterialPurchaseSettlementById" resultType="clfbContractPurchaseSettlement">
		select * from clfb_contract_purchaseSettlement where cp_id=#{id}
	</select>
	
	<update id="updateMaterialPurchaseSettlement" parameterType="clfbContractPurchaseSettlement">
		update clfb_contract_purchaseSettlement set 
			task_no=#{c.taskNo},
			prj_name=#{c.prjName},
			cg_contract=#{c.cgContract},
			cg_no=#{c.cgNo},
			cj_contract=#{c.cjContract},
			cj_no=#{c.cjNo},
			audit_settlement_type=#{c.auditSettlementType},
			settlement_time=#{c.settlementTime},
			purchaseSettlementDesc=#{c.purchaseSettlementDesc},
			make_time=now()
		where cp_id=#{c.cpId}
	</update>
</mapper>