<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.MaterialSubcontractDao">
	<select id="selectmSubcontract" resultType="ClfbContractEvaluate">
		select *,b.om_name from clfb_contract_evaluate c
			left join mode_status m on m.mode_id=c.ce_id
			left join organization_management b  on c.department=b.om_id
		where m.status=#{status} 
	</select>
	<insert id="addmSubcontractSave" parameterType="ClfbContractEvaluate">
		insert into clfb_contract_evaluate (ce_id,task_no,prj_name,prj_person,department,
			material_contract_code,contract_all_money,contract_end_money,pay_mode,
			actual_charge_person,score_product_quality_ease,score_give_production_time,
			score_material_report,score_customer_use,score_pay_mode_evaluate,score_safety_civilization_environment,all_score,make_time)
		values(#{c.ceId},#{c.taskNo},#{c.prjName},#{c.prjPerson},#{c.department},#{c.materialContractCode},
			#{c.contractAllMoney},#{c.contractEndMoney},#{c.payMode},#{c.actualChargePerson},#{c.scoreProductQualityEase},
			#{c.scoreGiveProductionTime},#{c.scoreMaterialReport},#{c.scoreCustomerUse},#{c.scorePayModeEvaluate},
			#{c.scoreSafetyCivilizationEnvironment},#{c.allScore},now())
	</insert>
	
	<update id="updatemSubcontractById">
		update clfb_contract_evaluate set
		 task_no=#{c.taskNo},prj_name=#{c.prjName},prj_person=#{c.prjPerson},
		 department=#{c.department},material_contract_code=#{c.materialContractCode},
		 contract_all_money=#{c.contractAllMoney},contract_end_money=#{c.contractEndMoney},
		 pay_mode=#{c.payMode},actual_charge_person=#{c.actualChargePerson},
		 score_product_quality_ease=#{c.scoreProductQualityEase},score_give_production_time=#{c.scoreGiveProductionTime},
		 score_material_report=#{c.scoreMaterialReport},score_customer_use=#{c.scoreCustomerUse},
		 score_pay_mode_evaluate=#{c.scorePayModeEvaluate},score_safety_civilization_environment=#{c.scoreSafetyCivilizationEnvironment},
		 all_score=#{c.allScore}
		where ce_id=#{c.ceId}
	</update>
	
	<select id="selectmSubcontractById" resultType="ClfbContractEvaluate">
		select a.*,b.om_name from clfb_contract_evaluate a
		left join organization_management b  on a.department=b.om_id
		where ce_id=#{id}
	</select>
</mapper>