<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.MonthTargetDao" >
  		<insert id="addMonthTarget" parameterType="java.util.List">
  			insert into month_target(ot_id,month,contract_amount,revenue_target,collection_target,profit)  values
	  			<foreach collection="target" item="item" separator=",">
	  				(#{item.otId},#{item.month},#{item.contractAmount},#{item.revenueTarget},#{item.collectionTarget},#{item.profit})
	  			</foreach>
  		</insert>
  		
  		<update id="updateMonthTarget" parameterType="java.util.List">
  			<foreach collection="target" item="item" separator=";">
  				update month_target set 
  					contract_amount=#{item.contractAmount},
  					revenue_target=#{item.revenueTarget},
  					collection_target=#{item.collectionTarget},
  					profit=#{item.profit}
  				where ot_id=#{item.otId} and month=#{item.month}
  			</foreach>
  		</update>
  		
  		<select id="selectMonthTargetById" resultType="MonthTarget">
  			select * from month_target where ot_id=#{id} ORDER BY month desc
  		</select>
  		
  		<select id="orNotSplit" resultType="int">
  			select count(t_id) from department_target where ot_id=#{id}
  		</select>
  		
  		<select id="yearTargetCount" resultType="int">
  			SELECT count(ot_id) FROM month_target where ot_id in(
				select t_id from department_target where ot_id=#{id})
  		</select>
  		
  		<select id="selectMonthTargetByMonthSum" resultType="MonthTarget">
  			SELECT * FROM month_target where ot_id in(
				select t_id from department_target where ot_id=#{id})
  		</select>
  		
  		<select id="selectMonthTargetByYearAndMonth" resultType="MonthTarget">
  			SELECT * FROM	month_target
			WHERE ot_id IN (
				SELECT b.t_id FROM operation_target AS a
				LEFT JOIN department_target AS b ON a.ot_id = b.ot_id
				WHERE a.year = #{year}) and month=#{month}
  		</select>
  		
  		<select id="selectMonthTargetByYearAndMonthAndDepartment" resultType="MonthTarget">
  			SELECT * FROM	month_target
			WHERE ot_id IN (
				SELECT b.t_id FROM operation_target AS a
				LEFT JOIN department_target AS b ON a.ot_id = b.ot_id
				LEFT JOIN mode_status as c on a.ot_id=c.mode_id
				WHERE c.status=2 and a.year = #{year} and b.om_id = #{department}) and month=#{month}
  		</select>
</mapper>