<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.NodeActorsMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.NodeActors" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RoleCode" property="rolecode" jdbcType="VARCHAR" />
    <result column="Flo_Node_ID" property="floNodeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, RoleCode, Flo_Node_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.NodeActorsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nodeactors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from nodeactors
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nodeactors
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.NodeActorsExample" >
    delete from nodeactors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.NodeActors" >
    insert into nodeactors(RoleCode,ID,Flo_Node_ID)
    values (#{rolecode,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},#{floNodeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.NodeActors" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nodeactors
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        RoleCode,
      </if>
      <if test="floNodeId != null" >
        Flo_Node_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="floNodeId != null" >
        #{floNodeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.NodeActorsExample" resultType="java.lang.Integer" >
    select count(*) from nodeactors
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update nodeactors
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rolecode != null" >
        RoleCode = #{record.rolecode,jdbcType=VARCHAR},
      </if>
      <if test="record.floNodeId != null" >
        Flo_Node_ID = #{record.floNodeId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update nodeactors
    set ID = #{record.id,jdbcType=VARCHAR},
      RoleCode = #{record.rolecode,jdbcType=VARCHAR},
      Flo_Node_ID = #{record.floNodeId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.NodeActors" >
    update nodeactors
    <set >
      <if test="rolecode != null" >
        RoleCode = #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="floNodeId != null" >
        Flo_Node_ID = #{floNodeId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.NodeActors" >
    update nodeactors
    set RoleCode = #{rolecode,jdbcType=VARCHAR},
      Flo_Node_ID = #{floNodeId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="getNextNodeActors"  resultType="nodeActorsVo" >
    SELECT
	a.*, c.user_id,
	c.u_name,d.om_no,d.om_name,d.om_id,e.duty_id,e.duty_name
    FROM
	nodeactors a
    LEFT JOIN user_role b ON a.RoleCode = b.role_id
    LEFT JOIN USER c ON b.user_id = c.user_id LEFT JOIN organization_management d on c.om_id = d.om_id LEFT JOIN duty e on c.duty_id = e.duty_id
    where a.Flo_Node_ID = #{id} and c.user_id != #{userId}
  </select>
</mapper>