<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.NoPrjWorkhoursDao" >

	<insert id="addNoPrjWorkhours">
		insert into no_prj_workhours(np_id,np_name,np_department,make_time,make_person)
			values(#{no.npId},#{no.npName},#{no.npDepartment},#{no.makeTime},#{no.makePerson})
	</insert>
	
	<delete id="deleteNoPrjWorkhours">
		delete from no_prj_workhours where np_id=#{id}
	</delete>

	<update id="updateNoPrjWorkhours">
		update no_prj_workhours set 
			np_name=#{no.npName},np_department=#{no.npDepartment},
			make_time=#{no.makeTime},make_person=#{no.makePerson}
		where np_id=#{no.npId}
	</update>
	
	<select id="selectNoPrjWorkhours" resultType="NoPrjWorkhours">
		select a.*,b.om_name from no_prj_workhours a
		left join organization_management b on a.np_department=b.om_id
	</select>

</mapper>