<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OpeningRecordDao" >
	
	<select id="selectOpeningRecord" resultType="OpeningRecord">
		select * from opening_record
	</select>
	
	<insert id="addOpeningRecord" parameterType="java.util.List">
		insert into opening_record(or_id,prj_name,prj_type,prj_no,bd_no,this_in_unit)
		values
		<foreach collection="record" item="r" index="index" separator=",">
			(#{r.orId},#{r.prjName},#{r.prjType},#{r.prjNo},#{r.bdNo},#{r.thisInUnit})
		</foreach>
	</insert>
	
	<insert id="addOpeningRecordSave" parameterType="OpeningRecord">
		insert into opening_record(or_id,prj_name,prj_no,prj_area,prj_type,bid_evaluation_method,this_in_unit,
		company_discount_rate,calculate_cost,owner_controlled_price,bid_evaluation_benchmark_price,bid_opening_time,
		percentage_fluctuation,winning_unit,actual_cost,bid_price,bid_rate,is_scrap,zhongbiao,preparer,
		general_leader,conclusion,unit_reason_bid,unit_reason_bid_other)
		values(#{record.orId},#{record.prjName},#{record.prjNo},#{record.prjArea},#{record.prjType},#{record.bidEvaluationMethod},#{record.thisInUnit},
		#{record.companyDiscountRate},#{record.calculateCost},#{record.ownerControlledPrice},#{record.bidEvaluationBenchmarkPrice},#{record.bidOpeningTime},
		#{record.percentageFluctuation},#{record.winningUnit},#{record.actualCost},#{record.bidPrice},#{record.bidRate},#{record.isScrap},#{record.zhongbiao},#{record.preparer},
		#{record.generalLeader},#{record.conclusion},#{record.unitReasonBid},#{record.unitReasonBidOther},#{record.companyOffer})
	</insert>
	
	<update id="updateOpeningRecordSave" parameterType="OpeningRecord">
		update opening_record set 
			prj_name=#{record.prjName},
			prj_no=#{record.prjNo},
			prj_area=#{record.prjArea},
			prj_type=#{record.prjType},
			tenderer=#{record.tenderer},
			bid_evaluation_method=#{record.bidEvaluationMethod},
			this_in_unit=#{record.thisInUnit},
			company_discount_rate=#{record.companyDiscountRate},
			calculate_cost=#{record.calculateCost},
			owner_controlled_price=#{record.ownerControlledPrice},
			bid_evaluation_benchmark_price=#{record.bidEvaluationBenchmarkPrice},
			bid_opening_time=#{record.bidOpeningTime},
			percentage_fluctuation=#{record.percentageFluctuation},
			winning_unit=#{record.winningUnit},
			actual_cost=#{record.actualCost},
			bid_price=#{record.bidPrice},
			bid_rate=#{record.bidRate},
			is_scrap=#{record.isScrap},
			zhongbiao=#{record.zhongbiao},
			preparer=#{record.preparer},
			general_leader=#{record.generalLeader},
			conclusion=#{record.conclusion},
			unit_reason_bid=#{record.unitReasonBid},
			unit_reason_bid_other=#{record.unitReasonBidOther}
		where or_id=#{record.orId}
	</update>
	
	<update id="updateIsQibiao" parameterType="string">
		update opening_record set 
			is_qibiao=#{isQibiao}
		where or_id=#{orId}
	</update>
	
	<update id="updateIsLiubiao" parameterType="string">
		update opening_record set 
			is_liubiao=#{isLiubiao}
		where or_id=#{orId}
	</update>
	
	<select id="selectOpeningRecordById" resultType="OpeningRecord">
		select * from opening_record where or_id=#{id}
	</select>

</mapper>