<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OpeningRecordDao" >
	
	<select id="selectOpeningRecord" resultType="OpeningRecord">
		select * from opening_record
	</select>
	
	<insert id="addOpeningRecordSave" parameterType="OpeningRecord">
		insert into opening_record(or_id,prj_name,prj_no,prj_area,prj_type,prj_states,owner_controlled_price,bid_evaluation_benchmark_price,
		bid_opening_time,percentage_fluctuation,winning_unit,bid_project_manager,bid_price,floating_medium_price,record_date,conclusion,
		unit_reason_bid,tenderer,bid_evaluation_method,this_in_unit,company_offer,company_discount_rate,calculate_cost,actual_cost)
		values(#{record.orId},#{record.prjName},#{record.prjNo},#{record.prjArea},#{record.prjType},#{record.prjStates},#{record.ownerControlledPrice},
		#{record.bidEvaluationBenchmarkPrice},#{record.bidOpeningTime},#{record.percentageFluctuation},#{record.winningUnit},
		#{record.bidProjectManager},#{record.bidPrice},#{record.floatingMediumPrice},#{record.recordDate},#{record.conclusion},
		#{record.unitReasonBid},#{record.tenderer},#{record.bidEvaluationMethod},#{record.thisInUnit},#{record.companyOffer},#{record.companyDiscountRate},
		#{record.calculateCost},#{record.actualCost})
	</insert>
	
	<update id="updateOpeningRecordSave" parameterType="OpeningRecord">
		update opening_record set 
		prj_name=#{record.prjName},
		prj_no=#{record.prjNo},
		prj_area=#{record.prjArea},
		prj_type=#{record.prjType},
		prj_states=#{record.prjStates},
		owner_controlled_price=#{record.ownerControlledPrice},
		bid_evaluation_benchmark_price=#{record.bidEvaluationBenchmarkPrice},
		bid_opening_time=#{record.bidOpeningTime},
		percentage_fluctuation=#{record.percentageFluctuation},
		winning_unit=#{record.winningUnit},
		bid_project_manager=#{record.bidProjectManager},
		bid_price=#{record.bidPrice},
		floating_medium_price=#{record.floatingMediumPrice},
		record_date=#{record.recordDate},
		conclusion=#{record.conclusion},
		unit_reason_bid=#{record.unitReasonBid},
		tenderer=#{record.tenderer},
		bid_evaluation_method=#{record.bidEvaluationMethod},
		this_in_unit=#{record.thisInUnit},
		company_offer=#{record.companyOffer},
		company_discount_rate=#{record.companyDiscountRate},
		calculate_cost=#{record.calculateCost},
		actual_cost=#{record.actualCost}
		where or_id=#{record.orId}
	</update>
	
	<select id="selectOpeningRecordById" resultType="OpeningRecord">
		select * from opening_record where or_id=#{id}
	</select>

</mapper>