<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OrganizationManagementDao">

<!-- 新建组织机构 -->
<insert id="addOrganizationManagement" parameterType="organizationManagement">
	insert into organization_management (om_id,om_no,om_name,superior_id,om_tel,om_fax) 
		values(#{organizationManagement.omId},#{organizationManagement.omNo},#{organizationManagement.omName},
		#{organizationManagement.superiorId},#{organizationManagement.omTel},#{organizationManagement.omFax})
</insert>

<!-- 删除组织机构 -->
<delete id="deleteOrganizationManagement" parameterType="String">
	delete from organization_management where om_id=#{omId}
</delete>

<!-- 修改组织机构 -->
<update id="updateOrganizationManagement" parameterType="organizationManagement">
	update organization_management 
	set 
		om_no=#{organizationManagement.omNo},
		om_name=#{organizationManagement.omName},
		superior_id=#{organizationManagement.superiorId},
		om_tel=#{organizationManagement.omTel},
		om_fax=#{organizationManagement.omFax}
	where 
		om_id=#{organizationManagement.omId}
</update>

<!--获取所有的组织机构  -->
<select id="getAllOrganizationManagement" resultType="organizationManagement">
	select * from organization_management
</select>
<!--获取组织机构的id和name  -->
<select id="getOrgIdAndName" resultType="organizationManagement">
	select om_id,om_name from organization_management
</select>
<select id="getOrgNameById" parameterType="String" resultType="organizationManagement">
	select om_name from organization_management where om_id=#{omId}
</select>

<select id="getOrgIdByName" parameterType="String" resultType="organizationManagement">
	select om_id from organization_management where om_name=#{omName}
</select>

<select id="selectOrgById" parameterType="String" resultType="organizationManagement">
	select * from organization_management where om_id=#{omId}
</select>
</mapper>