<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OtherContractDao" >
  <insert id="addOtherContract" parameterType="org.ldxx.bean.OtherContract" >
    insert into other_contract (o_id, contract_code, contract_name, 
      contract_name_jia, contract_name_yi, contract_money, 
      abutment_department, contract_start_time, 
      contract_end_time, contract_probably_text, abutment_signed_time
      )
    values (#{other.oId}, #{other.contractCode,jdbcType=VARCHAR}, 
    		   #{other.contractName,jdbcType=VARCHAR}, #{other.contractNameJia,jdbcType=VARCHAR}, 
    		   #{other.contractNameYi,jdbcType=VARCHAR}, #{other.contractMoney}, 
      		   #{other.abutmentDepartment,jdbcType=VARCHAR}, #{other.contractStartTime,jdbcType=VARCHAR}, 
      		   #{other.contractEndTime,jdbcType=VARCHAR}, #{other.contractProbablyText,jdbcType=VARCHAR}, 
               #{other.abutmentSignedTime,jdbcType=VARCHAR}
              )
  </insert>

  <delete id="deleteOtherContract" parameterType="String">
  	delete from other_contract where o_id = #{id}
  </delete>
  
  <update id="updateOtherContract" parameterType="org.ldxx.bean.OtherContract" >
    update other_contract
    set 
      contract_code = #{other.contractCode,jdbcType=VARCHAR},
      contract_name = #{other.contractName,jdbcType=VARCHAR},
      contract_name_jia = #{other.contractNameJia,jdbcType=VARCHAR},
      contract_name_yi = #{other.contractNameYi,jdbcType=VARCHAR},
      contract_money = #{other.contractMoney},
      abutment_department = #{other.abutmentDepartment,jdbcType=VARCHAR},
      contract_start_time = #{other.contractStartTime,jdbcType=VARCHAR},
      contract_end_time = #{other.contractEndTime,jdbcType=VARCHAR},
      contract_probably_text = #{other.contractProbablyText,jdbcType=VARCHAR},
      abutment_signed_time = #{other.abutmentSignedTime,jdbcType=VARCHAR}
    where o_id = #{other.oId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectOtherContract" resultType="org.ldxx.bean.OtherContract">
  	select a.*,c.cc_name,d.om_name from other_contract as a left join mode_status as b on a.o_id=b.mode_id
  	left join consociation_company as c on a.contract_name_yi=c.cc_id
  	left join organization_management as d on a.abutment_department=d.om_id
  	where b.status=#{status}
  </select>
  
  <select id="selectCjHistory" resultType="org.ldxx.bean.OtherContract">
  	select a.*,c.cc_name,d.om_name from other_contract as a left join mode_status as b on a.o_id=b.mode_id
  	left join consociation_company as c on a.contract_name_yi=c.cc_id
  	left join organization_management as d on a.abutment_department=d.om_id
  	where a.contract_code=#{no} and a.history=0
  </select>
  
  <select id="countNo" resultType="int">
		SELECT COUNT(1) from (SELECT DISTINCT contract_code FROM other_contract) as a
	</select>
</mapper>