<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OutTrainDao" >
  	  <insert id="addOutTrain" parameterType="OutTrain">
  	  		insert into out_train(ot_id, ot_title, proposer, proposer_department, duty_id, ot_date, application_date, 
	    										course_name, training_location, training_money,course_desc,training_reason,in_users)
	    						values(#{outTrain.otId},#{outTrain.otTitle},#{outTrain.proposer},#{outTrain.proposerDepartment},
	    						#{outTrain.dutyId},#{outTrain.otDate},#{outTrain.applicationDate},#{outTrain.courseName},
	    						#{outTrain.trainingLocation},#{outTrain.trainingMoney},#{outTrain.courseDesc},#{outTrain.trainingReason},#{outTrain.inUsers})
  	  </insert>
  		
  	  <delete id="deleteOutTrain"  parameterType="String">
  	  		delete from out_train where ot_id=#{id}
  	  </delete>	
  		
  	<update id="updateOutTrain" parameterType="OutTrain">
  			update out_train set ot_title=#{outTrain.otTitle},proposer=#{outTrain.proposer},proposer_department=#{outTrain.proposerDepartment},
  											  duty_id=#{outTrain.dutyId},ot_date=#{outTrain.otDate},application_date=#{outTrain.applicationDate},
  											  course_name=#{outTrain.courseName},training_location=#{outTrain.trainingLocation},
  											  training_money=#{outTrain.trainingMoney},course_desc=#{outTrain.courseDesc},
  											  in_users=#{outTrain.inUsers},training_reason=#{outTrain.trainingReason}
  		    where ot_id=#{outTrain.otId}
  	</update>
  	
  	<select id="selectOutTrain" resultType="OutTrain">
  		select a.ot_id, a.ot_title, a.proposer, a.proposer_department, a.duty_id, a.ot_date, a.application_date,a.course_name, a.training_location, 
  				   a.training_money,a.course_desc,a.training_reason,a.in_users,c.u_name from out_train as a left join mode_status as b on a.ot_id=b.mode_id 
  				   LEFT JOIN user as c on a.proposer=c.user_id  where b.status=2
  	</select>
  	
  	<select id="selectOutTrainById" resultType="OutTrain">
  		SELECT a.*,b.om_name FROM out_train as a
		LEFT JOIN organization_management as b on a.proposer_department=b.om_id
		where a.ot_id=#{id}
  	</select>
</mapper>