<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.OutTrainAllDao" >
  <insert id="addOutTrainAll" parameterType="OutTrainAll">
  		insert into out_train_all(ota_id, ota_title, training_name, training_lv, course_name, training_location, training_money, 
    										training_date, attendees,course_desc,training_reason,om_id)
    	values(#{trainAll.otaId},#{trainAll.otaTitle},#{trainAll.trainingName},#{trainAll.trainingLv},#{trainAll.courseName},
    							  #{trainAll.trainingLocation},#{trainAll.trainingMoney},#{trainAll.trainingDate},#{trainAll.attendees},
    							  #{trainAll.courseDesc},#{trainAll.trainingReason},#{trainAll.omId})			
  </insert>
  
  <delete id="deleteOutTrainAll" parameterType="String">
  		delete from out_train_all where ota_id=#{id}
  </delete>
  
  <update id="updateOutTrainAll" parameterType="OutTrainAll">
  		update out_train_all set ota_title=#{trainAll.otaTitle},training_name=#{trainAll.trainingName},training_lv=#{trainAll.trainingLv},
  		course_name=#{trainAll.courseName},training_location=#{trainAll.trainingLocation},training_money=#{trainAll.trainingMoney},
  		training_date=#{trainAll.trainingDate},attendees=#{trainAll.attendees},course_desc=#{trainAll.courseDesc},training_reason=#{trainAll.trainingReason},
  		om_id=#{trainAll.omId} where ota_id=#{trainAll.otaId}
  </update>
  
  <select id="selectOutTrainAll" resultType="OutTrainAll">
  		select a.ota_id, a.ota_title, a.training_name, a.training_lv, a.course_name, a.training_location, a.training_money, 
    			 a.training_date, a.attendees,a.course_desc,a.training_reason,a.om_id,c.om_name from out_train_all as a left join mode_status as b
    	on a.ota_id=b.mode_id LEFT JOIN organization_management as c on a.om_id=c.om_id where b.status=2
  </select>
  
</mapper>