<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ParameterDao">
	<select id="selectParameter" resultType="Parameter">
		select * from parameter
	</select>

	<insert id="addParameter" parameterType="Parameter">
		insert into parameter(p_id,p_type,parameter) values(#{p.pId},#{p.pType},#{p.parameter})
	</insert>
	
	<update id="updateParameter" parameterType="Parameter">
		update parameter set p_name=#{p.pType},parameter=#{p.parameter} where p_id=#{p.pId}
	</update>
	
	<delete id="deleteParameter">
		delete from parameter where p_id=#{id}
	</delete>
</mapper>