<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjConstructionLogDao" >
  
  <select id="selectPrjConstructionLog" resultType="org.ldxx.bean.PrjConstructionLog">
  	select * from prj_construction_log
  </select>
  
  <insert id="addPrjConstructionLogSave" parameterType="org.ldxx.bean.PrjConstructionLog" >
    insert into prj_construction_log (pcl_id,prj_code, prj_name, prj_long_time, 
      material_condition, construction_content, 
      safety_situation, quality_condition, weather, 
      temperature, fill_time, tomorrow_plan, 
      other_things, importent_things,construction_site1,construction_site2)
    values (#{prjLog.pclId,jdbcType=VARCHAR},#{prjLog.prjCode,jdbcType=VARCHAR}, #{prjLog.prjName,jdbcType=VARCHAR}, #{prjLog.prjLongTime,jdbcType=VARCHAR}, 
      #{prjLog.materialCondition,jdbcType=VARCHAR}, #{prjLog.constructionContent,jdbcType=VARCHAR}, 
      #{prjLog.safetySituation,jdbcType=VARCHAR}, #{prjLog.qualityCondition,jdbcType=VARCHAR}, #{prjLog.weather,jdbcType=VARCHAR}, 
      #{prjLog.temperature,jdbcType=VARCHAR}, #{prjLog.fillTime,jdbcType=VARCHAR}, #{prjLog.tomorrowPlan,jdbcType=VARCHAR}, 
      #{prjLog.otherThings,jdbcType=VARCHAR}, #{prjLog.importentThings,jdbcType=VARCHAR},#{prjLog.constructionSite1,jdbcType=VARCHAR},#{prjLog.constructionSite2,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deletePrjConstructionLog">
  	delete from prj_construction_log where pcl_id=#{id}
  </delete>
  
  <update id="updatePrjConstructionLogSave" parameterType="org.ldxx.bean.PrjConstructionLog" >
    update prj_construction_log
    set prj_code = #{prjLog.prjCode,jdbcType=VARCHAR},
      prj_name = #{prjLog.prjName,jdbcType=VARCHAR},
      prj_long_time = #{prjLog.prjLongTime,jdbcType=VARCHAR},
      material_condition = #{prjLog.materialCondition,jdbcType=VARCHAR},
      construction_content = #{prjLog.constructionContent,jdbcType=VARCHAR},
      safety_situation = #{prjLog.safetySituation,jdbcType=VARCHAR},
      quality_condition = #{prjLog.qualityCondition,jdbcType=VARCHAR},
      weather = #{prjLog.weather,jdbcType=VARCHAR},
      temperature = #{prjLog.temperature,jdbcType=VARCHAR},
      fill_time = #{prjLog.fillTime,jdbcType=VARCHAR},
      tomorrow_plan = #{prjLog.tomorrowPlan,jdbcType=VARCHAR},
      other_things = #{prjLog.otherThings,jdbcType=VARCHAR},
      importent_things = #{prjLog.importentThings,jdbcType=VARCHAR},
      construction_site1=#{prjLog.constructionSite1,jdbcType=VARCHAR},
      construction_site2=#{prjLog.constructionSite2,jdbcType=VARCHAR}
    where pcl_id = #{prjLog.pclId,jdbcType=VARCHAR}
  </update>
</mapper>