<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjConstructionLogDao" >
  
  <select id="selectPrjConstructionLog" resultType="org.ldxx.bean.PrjConstructionLog">
  	select * from prj_construction_log
  </select>
  
  <insert id="addPrjConstructionLogSave" parameterType="org.ldxx.bean.PrjConstructionLog" >
    insert into prj_construction_log (pcl_id,prj_code, prj_name, prj_long_time,weather,temperature, fill_time)
    values (#{prjLog.pclId,jdbcType=VARCHAR},#{prjLog.prjCode,jdbcType=VARCHAR}, #{prjLog.prjName,jdbcType=VARCHAR}, #{prjLog.prjLongTime,jdbcType=VARCHAR}, 
      #{prjLog.weather,jdbcType=VARCHAR},#{prjLog.temperature,jdbcType=VARCHAR}, #{prjLog.fillTime,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deletePrjConstructionLog">
  	delete from prj_construction_log where pcl_id=#{id}
  </delete>
  
  <update id="updatePrjConstructionLogSave" parameterType="org.ldxx.bean.PrjConstructionLog" >
    update prj_construction_log
    set prj_code = #{prjLog.prjCode,jdbcType=VARCHAR},
      prj_name = #{prjLog.prjName,jdbcType=VARCHAR},
      prj_long_time = #{prjLog.prjLongTime,jdbcType=VARCHAR},
      weather = #{prjLog.weather,jdbcType=VARCHAR},
      temperature = #{prjLog.temperature,jdbcType=VARCHAR},
      fill_time = #{prjLog.fillTime,jdbcType=VARCHAR}
    where pcl_id = #{prjLog.pclId,jdbcType=VARCHAR}
  </update>
</mapper>