<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjConstructionLogInfoDao" >

	<insert id="addrjConstructionLogInfo" parameterType="java.util.List">
		insert into prj_construction_log_Info(pcl_id,material_condition,construction_content,safety_situation,quality_condition,tomorrow_plan,other_things,importent_things,construction_site) values
		<foreach collection="prjLogInfo" item="prjLog" index="index" separator=",">
			(#{prjLog.pclId,jdbcType=VARCHAR},#{prjLog.materialCondition,jdbcType=VARCHAR}, #{prjLog.constructionContent,jdbcType=VARCHAR}, 
      #{prjLog.safetySituation,jdbcType=VARCHAR}, #{prjLog.qualityCondition,jdbcType=VARCHAR},#{prjLog.tomorrowPlan,jdbcType=VARCHAR}, 
      #{prjLog.otherThings,jdbcType=VARCHAR}, #{prjLog.importentThings,jdbcType=VARCHAR},#{prjLog.constructionSite,jdbcType=VARCHAR})
		</foreach>
  	</insert>
  	
  	<delete id="deletePrjConstructionLogInfo">
  		delete from prj_construction_log_Info where pcl_id=#{id}
  	</delete>
  	
  	<select id="selectPrjConstructionLogInfoById" resultType="PrjConstructionLogInfo">
  		select * from prj_construction_log_Info where pcl_id=#{id}
  	</select>
	
</mapper>