<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.PrjEndMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.PrjEnd" >
    <id column="pel_id" property="pelId" jdbcType="VARCHAR" />
    <result column="task_list_code" property="taskListCode" jdbcType="VARCHAR" />
    <result column="prj_name" property="prjName" jdbcType="VARCHAR" />
    <result column="end_type" property="endType" jdbcType="VARCHAR" />
    <result column="pel_time" property="pelTime" jdbcType="VARCHAR" />
    <result column="contract_probably_text" property="contractProbablyText" jdbcType="VARCHAR" />
    <result column="cpt_sign_name_imgpath" property="cptSignNameImgpath" jdbcType="VARCHAR" />
    <result column="cpt_sign_name" property="cptSignName" jdbcType="VARCHAR" />
    <result column="contract_probably_text_time" property="contractProbablyTextTime" jdbcType="VARCHAR" />
    <result column="otherfile_path" property="otherfilePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pel_id, task_list_code, prj_name, end_type, pel_time, contract_probably_text, cpt_sign_name_imgpath, 
    cpt_sign_name, contract_probably_text_time, otherfile_path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.PrjEndExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prj_end
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from prj_end
    where pel_id = #{pelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from prj_end
    where pel_id = #{pelId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.PrjEndExample" >
    delete from prj_end
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.PrjEnd" >
    <selectKey resultType="java.lang.String" keyProperty="pelId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_end (task_list_code, prj_name, end_type, 
      pel_time, contract_probably_text, cpt_sign_name_imgpath, 
      cpt_sign_name, contract_probably_text_time, 
      otherfile_path)
    values (#{taskListCode,jdbcType=VARCHAR}, #{prjName,jdbcType=VARCHAR}, #{endType,jdbcType=VARCHAR}, 
      #{pelTime,jdbcType=VARCHAR}, #{contractProbablyText,jdbcType=VARCHAR}, #{cptSignNameImgpath,jdbcType=VARCHAR}, 
      #{cptSignName,jdbcType=VARCHAR}, #{contractProbablyTextTime,jdbcType=VARCHAR}, 
      #{otherfilePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.PrjEnd" >
    <selectKey resultType="java.lang.String" keyProperty="pelId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_end
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskListCode != null" >
        task_list_code,
      </if>
      <if test="prjName != null" >
        prj_name,
      </if>
      <if test="endType != null" >
        end_type,
      </if>
      <if test="pelTime != null" >
        pel_time,
      </if>
      <if test="contractProbablyText != null" >
        contract_probably_text,
      </if>
      <if test="cptSignNameImgpath != null" >
        cpt_sign_name_imgpath,
      </if>
      <if test="cptSignName != null" >
        cpt_sign_name,
      </if>
      <if test="contractProbablyTextTime != null" >
        contract_probably_text_time,
      </if>
      <if test="otherfilePath != null" >
        otherfile_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskListCode != null" >
        #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="endType != null" >
        #{endType,jdbcType=VARCHAR},
      </if>
      <if test="pelTime != null" >
        #{pelTime,jdbcType=VARCHAR},
      </if>
      <if test="contractProbablyText != null" >
        #{contractProbablyText,jdbcType=VARCHAR},
      </if>
      <if test="cptSignNameImgpath != null" >
        #{cptSignNameImgpath,jdbcType=VARCHAR},
      </if>
      <if test="cptSignName != null" >
        #{cptSignName,jdbcType=VARCHAR},
      </if>
      <if test="contractProbablyTextTime != null" >
        #{contractProbablyTextTime,jdbcType=VARCHAR},
      </if>
      <if test="otherfilePath != null" >
        #{otherfilePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.PrjEndExample" resultType="java.lang.Integer" >
    select count(*) from prj_end
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prj_end
    <set >
      <if test="record.pelId != null" >
        pel_id = #{record.pelId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskListCode != null" >
        task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.prjName != null" >
        prj_name = #{record.prjName,jdbcType=VARCHAR},
      </if>
      <if test="record.endType != null" >
        end_type = #{record.endType,jdbcType=VARCHAR},
      </if>
      <if test="record.pelTime != null" >
        pel_time = #{record.pelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.contractProbablyText != null" >
        contract_probably_text = #{record.contractProbablyText,jdbcType=VARCHAR},
      </if>
      <if test="record.cptSignNameImgpath != null" >
        cpt_sign_name_imgpath = #{record.cptSignNameImgpath,jdbcType=VARCHAR},
      </if>
      <if test="record.cptSignName != null" >
        cpt_sign_name = #{record.cptSignName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractProbablyTextTime != null" >
        contract_probably_text_time = #{record.contractProbablyTextTime,jdbcType=VARCHAR},
      </if>
      <if test="record.otherfilePath != null" >
        otherfile_path = #{record.otherfilePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prj_end
    set pel_id = #{record.pelId,jdbcType=VARCHAR},
      task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      prj_name = #{record.prjName,jdbcType=VARCHAR},
      end_type = #{record.endType,jdbcType=VARCHAR},
      pel_time = #{record.pelTime,jdbcType=VARCHAR},
      contract_probably_text = #{record.contractProbablyText,jdbcType=VARCHAR},
      cpt_sign_name_imgpath = #{record.cptSignNameImgpath,jdbcType=VARCHAR},
      cpt_sign_name = #{record.cptSignName,jdbcType=VARCHAR},
      contract_probably_text_time = #{record.contractProbablyTextTime,jdbcType=VARCHAR},
      otherfile_path = #{record.otherfilePath,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.PrjEnd" >
    update prj_end
    <set >
      <if test="taskListCode != null" >
        task_list_code = #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        prj_name = #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="endType != null" >
        end_type = #{endType,jdbcType=VARCHAR},
      </if>
      <if test="pelTime != null" >
        pel_time = #{pelTime,jdbcType=VARCHAR},
      </if>
      <if test="contractProbablyText != null" >
        contract_probably_text = #{contractProbablyText,jdbcType=VARCHAR},
      </if>
      <if test="cptSignNameImgpath != null" >
        cpt_sign_name_imgpath = #{cptSignNameImgpath,jdbcType=VARCHAR},
      </if>
      <if test="cptSignName != null" >
        cpt_sign_name = #{cptSignName,jdbcType=VARCHAR},
      </if>
      <if test="contractProbablyTextTime != null" >
        contract_probably_text_time = #{contractProbablyTextTime,jdbcType=VARCHAR},
      </if>
      <if test="otherfilePath != null" >
        otherfile_path = #{otherfilePath,jdbcType=VARCHAR},
      </if>
    </set>
    where pel_id = #{pelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.PrjEnd" >
    update prj_end
    set task_list_code = #{taskListCode,jdbcType=VARCHAR},
      prj_name = #{prjName,jdbcType=VARCHAR},
      end_type = #{endType,jdbcType=VARCHAR},
      pel_time = #{pelTime,jdbcType=VARCHAR},
      contract_probably_text = #{contractProbablyText,jdbcType=VARCHAR},
      cpt_sign_name_imgpath = #{cptSignNameImgpath,jdbcType=VARCHAR},
      cpt_sign_name = #{cptSignName,jdbcType=VARCHAR},
      contract_probably_text_time = #{contractProbablyTextTime,jdbcType=VARCHAR},
      otherfile_path = #{otherfilePath,jdbcType=VARCHAR}
    where pel_id = #{pelId,jdbcType=VARCHAR}
  </update>
</mapper>