<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.PrjMaterialBuyMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.PrjMaterialBuy" >
    <id column="pmb_id" property="pmbId" jdbcType="VARCHAR" />
    <result column="apply_department" property="applyDepartment" jdbcType="VARCHAR" />
    <result column="apply_person" property="applyPerson" jdbcType="VARCHAR" />
    <result column="apply_list_code" property="applyListCode" jdbcType="VARCHAR" />
    <result column="contract_name_yi" property="contractNameYi" jdbcType="VARCHAR" />
    <result column="task_list_code" property="taskListCode" jdbcType="VARCHAR" />
    <result column="cj_contract_code" property="cjContractCode" jdbcType="VARCHAR" />
    <result column="cj_contract_name" property="cjContractName" jdbcType="VARCHAR" />
    <result column="apply_reason" property="applyReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pmb_id, apply_department, apply_person, apply_list_code, contract_name_yi, task_list_code, 
    cj_contract_code, cj_contract_name, apply_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.PrjMaterialBuyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prj_material_buy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from prj_material_buy
    where pmb_id = #{pmbId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from prj_material_buy
    where pmb_id = #{pmbId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.PrjMaterialBuyExample" >
    delete from prj_material_buy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.PrjMaterialBuy" >
    <selectKey resultType="java.lang.String" keyProperty="pmbId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_material_buy (apply_department, apply_person, apply_list_code, 
      contract_name_yi, task_list_code, cj_contract_code, 
      cj_contract_name, apply_reason)
    values (#{applyDepartment,jdbcType=VARCHAR}, #{applyPerson,jdbcType=VARCHAR}, #{applyListCode,jdbcType=VARCHAR}, 
      #{contractNameYi,jdbcType=VARCHAR}, #{taskListCode,jdbcType=VARCHAR}, #{cjContractCode,jdbcType=VARCHAR}, 
      #{cjContractName,jdbcType=VARCHAR}, #{applyReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.PrjMaterialBuy" >
    <selectKey resultType="java.lang.String" keyProperty="pmbId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_material_buy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyDepartment != null" >
        apply_department,
      </if>
      <if test="applyPerson != null" >
        apply_person,
      </if>
      <if test="applyListCode != null" >
        apply_list_code,
      </if>
      <if test="contractNameYi != null" >
        contract_name_yi,
      </if>
      <if test="taskListCode != null" >
        task_list_code,
      </if>
      <if test="cjContractCode != null" >
        cj_contract_code,
      </if>
      <if test="cjContractName != null" >
        cj_contract_name,
      </if>
      <if test="applyReason != null" >
        apply_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyDepartment != null" >
        #{applyDepartment,jdbcType=VARCHAR},
      </if>
      <if test="applyPerson != null" >
        #{applyPerson,jdbcType=VARCHAR},
      </if>
      <if test="applyListCode != null" >
        #{applyListCode,jdbcType=VARCHAR},
      </if>
      <if test="contractNameYi != null" >
        #{contractNameYi,jdbcType=VARCHAR},
      </if>
      <if test="taskListCode != null" >
        #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractCode != null" >
        #{cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractName != null" >
        #{cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="applyReason != null" >
        #{applyReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.PrjMaterialBuyExample" resultType="java.lang.Integer" >
    select count(*) from prj_material_buy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prj_material_buy
    <set >
      <if test="record.pmbId != null" >
        pmb_id = #{record.pmbId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDepartment != null" >
        apply_department = #{record.applyDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.applyPerson != null" >
        apply_person = #{record.applyPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.applyListCode != null" >
        apply_list_code = #{record.applyListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.contractNameYi != null" >
        contract_name_yi = #{record.contractNameYi,jdbcType=VARCHAR},
      </if>
      <if test="record.taskListCode != null" >
        task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cjContractCode != null" >
        cj_contract_code = #{record.cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cjContractName != null" >
        cj_contract_name = #{record.cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyReason != null" >
        apply_reason = #{record.applyReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prj_material_buy
    set pmb_id = #{record.pmbId,jdbcType=VARCHAR},
      apply_department = #{record.applyDepartment,jdbcType=VARCHAR},
      apply_person = #{record.applyPerson,jdbcType=VARCHAR},
      apply_list_code = #{record.applyListCode,jdbcType=VARCHAR},
      contract_name_yi = #{record.contractNameYi,jdbcType=VARCHAR},
      task_list_code = #{record.taskListCode,jdbcType=VARCHAR},
      cj_contract_code = #{record.cjContractCode,jdbcType=VARCHAR},
      cj_contract_name = #{record.cjContractName,jdbcType=VARCHAR},
      apply_reason = #{record.applyReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.PrjMaterialBuy" >
    update prj_material_buy
    <set >
      <if test="applyDepartment != null" >
        apply_department = #{applyDepartment,jdbcType=VARCHAR},
      </if>
      <if test="applyPerson != null" >
        apply_person = #{applyPerson,jdbcType=VARCHAR},
      </if>
      <if test="applyListCode != null" >
        apply_list_code = #{applyListCode,jdbcType=VARCHAR},
      </if>
      <if test="contractNameYi != null" >
        contract_name_yi = #{contractNameYi,jdbcType=VARCHAR},
      </if>
      <if test="taskListCode != null" >
        task_list_code = #{taskListCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractCode != null" >
        cj_contract_code = #{cjContractCode,jdbcType=VARCHAR},
      </if>
      <if test="cjContractName != null" >
        cj_contract_name = #{cjContractName,jdbcType=VARCHAR},
      </if>
      <if test="applyReason != null" >
        apply_reason = #{applyReason,jdbcType=VARCHAR},
      </if>
    </set>
    where pmb_id = #{pmbId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.PrjMaterialBuy" >
    update prj_material_buy
    set apply_department = #{applyDepartment,jdbcType=VARCHAR},
      apply_person = #{applyPerson,jdbcType=VARCHAR},
      apply_list_code = #{applyListCode,jdbcType=VARCHAR},
      contract_name_yi = #{contractNameYi,jdbcType=VARCHAR},
      task_list_code = #{taskListCode,jdbcType=VARCHAR},
      cj_contract_code = #{cjContractCode,jdbcType=VARCHAR},
      cj_contract_name = #{cjContractName,jdbcType=VARCHAR},
      apply_reason = #{applyReason,jdbcType=VARCHAR}
    where pmb_id = #{pmbId,jdbcType=VARCHAR}
  </update>
</mapper>