<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjProgressFillDao" >
  	<insert id="addPrjProgressFill" parameterType="PrjProgressFill">
  		insert into prj_progress_fill(ppf_id,prj_name,task_no,prj_type,prj_money,contract_money,
  									prj_leader,provisional_sum,prj_start_time,prj_end_time,prj_mode,
  									this_time,all_money,contract_income,all_money_yuan,prj_this_income_yuan,status,frist_design,second_design)
  		values(#{ppf.ppfId},#{ppf.prjName},#{ppf.taskNo},#{ppf.prjType},#{ppf.prjMoney},#{ppf.contractMoney},
  					#{ppf.prjLeader},#{ppf.provisionalSum},#{ppf.prjStartTime},#{ppf.prjEndTime},#{ppf.prjMode},
  					#{ppf.thisTime},#{ppf.allMoney},#{ppf.contractIncome},#{ppf.allMoneyYuan},#{ppf.prjThisIncomeYuan},#{ppf.status},#{ppf.fristDesign},#{ppf.secondDesign})
  	</insert>
  	
  	<update id="updatePrjProgressFill" parameterType="PrjProgressFill">
  		update prj_progress_fill set 
  			prj_name=#{ppf.prjName},
  			task_no=#{ppf.taskNo},
  			prj_type=#{ppf.prjType},
  			prj_money=#{ppf.prjMoney},
  			contract_money=#{ppf.contractMoney},
  			prj_leader=#{ppf.prjLeader},
  			provisional_sum=#{ppf.provisionalSum},
  			prj_start_time=#{ppf.prjStartTime},
  			prj_end_time=#{ppf.prjEndTime},
  			this_time=#{ppf.thisTime},
  			all_money=#{ppf.allMoney},
  			all_cost=#{ppf.allCost},
  			status=#{ppf.status},
  			frist_design=#{ppf.fristDesign},
  			second_design=#{ppf.secondDesign}
  		where ppf_id=#{ppf.ppfId}
  	</update>
  	
  	<insert id="addPrjProgressFillInfo" parameterType="java.util.List">
  		insert into prj_progress_fill_info(ppf_id,task_no,department,money,money_yuan,all_money_yuan,type,main)
  		values
  		<foreach collection="ppfi" index="index" item="p" separator=",">
  			(#{p.ppfId},#{p.taskNo},#{p.department},#{p.money},#{p.moneyYuan},#{p.allMoneyYuan},#{p.type},#{p.main})
  		</foreach>
  	</insert>
  	
  	<select id="selectPrjProgressFill"  resultType="PrjProgressFill">
  		select a.* from prj_progress_fill as a left join mode_status as b on a.ppf_id=b.mode_id
  		where b.status=#{status}
  	</select>
  	
  	<select id="selectPrjProgressFillInfo" resultType="PrjProgressFillInfo">
  		select * from prj_progress_fill_info where ppf_id=#{id} and type=#{type}
  	</select>
  	
  	<select id="selectPrjProgressFillById" resultType="PrjProgressFill">
  		select * from prj_progress_fill where ppf_id=#{id}
  	</select>
  	
  	<select id="selectLastPrjProgressFill" resultType="PrjProgressFill">
  		select ppf_id,all_money from prj_progress_fill as a left join mode_status as b on a.ppf_id=b.mode_id
  		where task_no=#{no} and b.status=2 ORDER BY this_time desc LIMIT 1
  	</select>
  	
  	<select id="getLastByDepartmentAndId" resultType="PrjProgressFillInfo">
  		select money from prj_progress_fill_info where ppf_id=#{id} and department=#{department} and type='1'
  	</select>
  	
  	<insert id="addPrjProgressFillCj" parameterType="java.util.List">
  		insert into prj_progress_fill_cj(cj_id,cj_name,income_bq,income_all,bq) 
  		values
  		<foreach collection="ppcj" index="index" item="p" separator=",">
  			(#{p.cjId},#{p.cjName},#{p.incomeBq},#{p.incomeAll},#{p.bq})
  		</foreach>
  	</insert>
  	
  	<!-- <select id="cjBq"  resultType="PrjProgressFillCj">
  		select income_all from prj_progress_fill_cj where ppf_id=#{ppfId} and cj_id=#{cjId}
  	</select> -->
  	
  	<select id="selectPrjProgressFillCjById" resultType="PrjProgressFillCj">
  		select * from prj_progress_fill_cj where ppf_id=#{id}
  	</select>
  	
  	<select id="selectPrjProgressFillByStatus" resultType="PrjProgressFill">
  		select a.* from prj_progress_fill as a left join mode_status as b on a.ppf_id=b.mode_id
  		where b.status=2 and  a.status=#{status}
  	</select>
  	
  	<update id="updateStatusAndDesc">
  		update prj_progress_fill set status=#{status},infos=#{infos} where ppf_id=#{id}
  	</update>
  	
  	<select id="selectDistinctTaskNo" resultType="PrjProgressFill">
  		SELECT DISTINCT task_no from  prj_progress_fill where this_time like #{year}
  	</select>
  	
  	<select id="getCost" resultType="PrjProgressFill">
  		select IFNULL(a.all_cost,0) as all_cost,a.ppf_id from prj_progress_fill as a LEFT JOIN mode_status as b on a.ppf_id=b.mode_id 
  		where b.status=2 and a.task_no=#{no} ORDER BY a.this_time desc limit 1
  	</select>
  	
  	<select id="getDepartmentCost" resultType="float">
  		SELECT IFNULL(money,0) as money FROM prj_progress_fill_info where type=6 and department=#{department} and ppf_id=#{id}
  	</select>
  	
  	<select id="countOfDepartmentCost" resultType="int">
  		SELECT count(1)  FROM prj_progress_fill_info where type=6 and department=#{department} and ppf_id=#{id}
  	</select>
  	
  	<select id="selectPrjProgressFillByYear" resultType="PrjProgressFill">
  		select * from prj_progress_fill as a 
  		left join mode_status as b on a.ppf_id=b.mode_id
  		where b.status=#{status} and this_time like #{y}
  	</select>
  	
  	<select id="selectAllCostAndJd" resultType="PrjProgressFill">
  		SELECT all_money,all_cost FROM prj_progress_fill where task_no=#{no} ORDER BY this_time desc limit 1
  	</select>
  	
  	<select id="selectDepartmentIncome" resultType="PrjProgressFill">
  		SELECT a.all_income,c.money as all_money FROM prj_progress_fill as a LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		LEFT JOIN prj_progress_fill_info as c on a.ppf_id=c.ppf_id
		where b.status=2 and c.department=#{department} and c.type=2 and this_time BETWEEN #{start} and #{end}
  	</select>
  	
  	<select id="selectYearCostByDepartment" resultType="PrjProgressFillInfo">
  		SELECT SUM(money) as money FROM prj_progress_fill as a
		LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		LEFT JOIN prj_progress_fill_info as c on a.ppf_id=c.ppf_id
		where a.this_time like #{year} and c.type=5 and c.department=#{department} and b.status=2
  	</select>
  	
  	<select id="selectThisTimeIncomeByDepartment" resultType="PrjProgressFill">
  		SELECT c.money as prj_this_income,d.prj_money from prj_progress_fill_info as c LEFT JOIN prj_progress_fill as d
		on c.ppf_id=d.ppf_id where c.ppf_id in(
		SELECT ppf_id FROM prj_progress_fill as a LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		where b.status=2 and this_time like #{time}) and c.type=2 and c.department=#{department}
  	</select>
  	
  	<select id="selectThisTimeIncomeByDepartmentAndPrjType" resultType="PrjProgressFill">
  		SELECT c.money as prj_this_income,d.prj_money from prj_progress_fill_info as c LEFT JOIN prj_progress_fill as d
		on c.ppf_id=d.ppf_id where c.ppf_id in(
		SELECT ppf_id FROM prj_progress_fill as a LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		where b.status=2 and this_time like #{time} and prj_type like #{type}) and c.type=2 and c.department=#{department}
  	</select>
  	
  	<select id="selectNewest" resultType="PrjProgressFill">
  		select a.* from (SELECT p.* FROM	prj_progress_fill AS p
		LEFT JOIN mode_status AS m ON p.ppf_id = m.mode_id
		WHERE	m. STATUS = 2	ORDER BY	this_time DESC ) a  GROUP BY a.task_no  
  	</select>
  	
  	<delete id="deletePrjProgressFillInfoById" parameterType="String">
  		delete from prj_progress_fill_info where ppf_id=#{id}
  	</delete>
  	
  	<delete id="deletePrjProgressFillCjById" parameterType="String">
  		delete from prj_progress_fill_cj where ppf_id=#{id}
  	</delete>
  	
  	<update id="updateAllIncomeAndCost" parameterType="PrjProgressFill">
  		update prj_progress_fill set 
  			all_cost=#{ppf.allCost},
  			all_income=#{ppf.allIncome}
  		where ppf_id=#{ppf.ppfId}
  	</update>
  	
  	<select id="selectCjContractAndPrjProgressFillCj" resultType="CjContract">
  		SELECT a.cj_id,a.task_code,a.contract_name,a.contract_no,a.contract_money,a.temporary_money,IFNULL(b.income_all,0) as main_department_money FROM cj_contract as a
		LEFT JOIN (
			select * from prj_progress_fill_cj ORDER BY bq desc
		) as b on a.cj_id=b.cj_id
		where a.task_code like #{no} limit 1
  	</select>
  	
  	<insert id="addPrjProgressFillFb" parameterType="java.util.List">
  		insert into prj_progress_fill_fb(ppf_id,fb_id,fb_name,fb_unit,fb_money,income_bq,income_all,bq) 
  		values
  		<foreach collection="fb" index="index" item="p" separator=",">
  			(#{p.ppfId},#{p.fbId},#{p.fbName},#{p.fbUnit},#{p.fbMoney},#{p.incomeBq},#{p.incomeAll},#{p.bq})
  		</foreach>
  	</insert>
  	
  	<select id="selectPrjProgressFillFbByFbId" resultType="PrjProgressFillFb">
  		SELECT * FROM prj_progress_fill_fb where fb_id=#{id} ORDER BY bq desc LIMIT 1
  	</select>
  	
  	<select id="selectPrjProgressFillCjIncomeBq" resultType="PrjProgressFillCj">
  		SELECT * FROM prj_progress_fill_cj where cj_id=#{id} and bq=#{bq} limit 1
  	</select>
  	
  	<select id="selectPrjProgressFillCjCountByIdAndBq"  resultType="int">
  		SELECT COUNT(1) FROM prj_progress_fill_cj where cj_id=#{id} and bq=#{bq}
  	</select>
  	
  	<update id="updatePrjProgressFillCjByIdAndBq" parameterType="PrjProgressFillCj">
  		update prj_progress_fill_cj set 
  			income_bq=#{cj.incomeBq},
  			income_all=#{cj.incomeAll}
  		where cj_id=#{cj.cjId} and bq=#{cj.bq}
  	</update>
  	
  	<select id="selectPrjProgressFillInfoTotalByTaskAndDept" resultType="PrjProgressFillInfo">
  		SELECT IFNULL(SUM(money_yuan),0) as all_money_yuan FROM prj_progress_fill_info 
		where task_no=#{no} and department=#{dept} and type=1
  	</select>
  	
  	<select id="selectPrjProgressFillFbByPpfId" resultType="PrjProgressFillFb">
  		SELECT * FROM prj_progress_fill_fb where ppf_id=#{id}
  	</select>
  	
  	<select id="selectGsIncomeByTime" resultType="PrjProgressFill">
  		SELECT IFNULL(SUM(a.all_money_yuan),0)as all_money_yuan FROM prj_progress_fill as a
		LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		where b.status=2 and a.this_time like #{time}
  	</select>
  	
  	<select id="selectGsIncomeByTimeAndDept" resultType="PrjProgressFill">
  		SELECT IFNULL(SUM(c.all_money_yuan),0)as all_money_yuan FROM prj_progress_fill as a
		LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		LEFT JOIN prj_progress_fill_info as c on a.ppf_id=c.ppf_id
		where b.status=2 and a.this_time like #{time} and department=#{dept}
  	</select>
  	
  	<select id="selectDeptIncomeByTimeAndType" resultType="PrjProgressFill">
  		SELECT IFNULL(SUM(c.all_money_yuan),0)as all_money_yuan FROM prj_progress_fill as a
		LEFT JOIN mode_status as b on a.ppf_id=b.mode_id
		LEFT JOIN prj_progress_fill_info as c on a.ppf_id=c.ppf_id
		where b.status=2 and a.prj_type like #{type} and a.this_time like #{time} and department=#{dept}
  	</select>
</mapper>