<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjRecordDao" >
	<insert id="addPrjRecord" parameterType="PrjRecord">
		insert into prj_record(id,prj_name,prj_no,prj_type,sc_dept,sc_status,jy_dept,jy_status)
		values(#{pr.id},#{pr.prjName},#{pr.prjNo},#{pr.prjType},#{pr.scDept},#{pr.scStatus},#{pr.jyDept},#{pr.jyStatus})
	</insert>
	
	<select id="selectPrjRecord" resultType="PrjRecord">
		select * from prj_record
	</select>
	
	<update id="updateJyStatus">
		update prj_record set jy_status=#{status} where id=#{id}
	</update>
	
	<update id="updateScStatus">
		update prj_record set sc_status=#{status} where id=#{id}
	</update>
	
	<select id="prjCount" resultType="int">
		SELECT COUNT(1) FROM prj_record where prj_no=#{no}
	</select>
</mapper>