<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjReportDao" >
  
  <select id="selectPrjReport" resultType="org.ldxx.bean.PrjReport">
  	select * from prj_report where pr_type=#{prType}
  </select>
  
  <insert id="addPrjReportSave" parameterType="org.ldxx.bean.PrjReport" >
    insert into prj_report (pr_id,prj_code, prj_name, prj_long_time, 
      report_table_kind, fill_time, thistime_prj_text, 
      prj_safety_maybe_text, prj_quatity_maybe_text, 
      fb_manage_situation, change_situation, importent_things, 
      need_company_cooperation, other_things,maybe_text, pr_type
      )
    values (#{prjReport.prId,jdbcType=VARCHAR},#{prjReport.prjCode,jdbcType=VARCHAR}, #{prjReport.prjName,jdbcType=VARCHAR}, #{prjReport.prjLongTime,jdbcType=VARCHAR}, 
      #{prjReport.reportTableKind,jdbcType=VARCHAR}, #{prjReport.fillTime,jdbcType=VARCHAR}, #{prjReport.thistimePrjText,jdbcType=VARCHAR}, 
      #{prjReport.prjSafetyMaybeText,jdbcType=VARCHAR}, #{prjReport.prjQuatityMaybeText,jdbcType=VARCHAR}, 
      #{prjReport.fbManageSituation,jdbcType=VARCHAR}, #{prjReport.changeSituation,jdbcType=VARCHAR}, #{prjReport.importentThings,jdbcType=VARCHAR}, 
      #{prjReport.needCompanyCooperation,jdbcType=VARCHAR}, #{prjReport.otherThings,jdbcType=VARCHAR}, 
      #{prjReport.maybeText,jdbcType=VARCHAR}, #{prjReport.prType,jdbcType=INTEGER}
      )
  </insert>
  
  <delete id="deletePrjReport">
  	delete from prj_report where pr_id=#{id}
  </delete>
  
  <update id="updatePrjReportSave" parameterType="org.ldxx.bean.PrjReport" >
    update prj_report
    set prj_code = #{prjReport.prjCode,jdbcType=VARCHAR},
      prj_name = #{prjReport.prjName,jdbcType=VARCHAR},
      prj_long_time = #{prjReport.prjLongTime,jdbcType=VARCHAR},
      report_table_kind = #{prjReport.reportTableKind,jdbcType=VARCHAR},
      fill_time = #{prjReport.fillTime,jdbcType=VARCHAR},
      thistime_prj_text = #{prjReport.thistimePrjText,jdbcType=VARCHAR},
      prj_safety_maybe_text = #{prjReport.prjSafetyMaybeText,jdbcType=VARCHAR},
      prj_quatity_maybe_text = #{prjReport.prjQuatityMaybeText,jdbcType=VARCHAR},
      fb_manage_situation = #{prjReport.fbManageSituation,jdbcType=VARCHAR},
      change_situation = #{prjReport.changeSituation,jdbcType=VARCHAR},
      importent_things = #{prjReport.importentThings,jdbcType=VARCHAR},
      need_company_cooperation = #{prjReport.needCompanyCooperation,jdbcType=VARCHAR},
      other_things = #{prjReport.otherThings,jdbcType=VARCHAR},
      maybe_text = #{prjReport.maybeText,jdbcType=VARCHAR},
      pr_type = #{prjReport.prType,jdbcType=INTEGER}
    where pr_id = #{prjReport.prId,jdbcType=VARCHAR}
  </update>
</mapper>