<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.mapper.PrjReportMapper" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.PrjReport" >
    <id column="pr_id" property="prId" jdbcType="VARCHAR" />
    <result column="prj_code" property="prjCode" jdbcType="VARCHAR" />
    <result column="prj_name" property="prjName" jdbcType="VARCHAR" />
    <result column="prj_long_time" property="prjLongTime" jdbcType="VARCHAR" />
    <result column="report_table_kind" property="reportTableKind" jdbcType="VARCHAR" />
    <result column="fill_time" property="fillTime" jdbcType="VARCHAR" />
    <result column="thistime_prj_text" property="thistimePrjText" jdbcType="VARCHAR" />
    <result column="prj_safety_maybe_text" property="prjSafetyMaybeText" jdbcType="VARCHAR" />
    <result column="prj_quatity_maybe_text" property="prjQuatityMaybeText" jdbcType="VARCHAR" />
    <result column="fb_manage_situation" property="fbManageSituation" jdbcType="VARCHAR" />
    <result column="change_situation" property="changeSituation" jdbcType="VARCHAR" />
    <result column="importent_things" property="importentThings" jdbcType="VARCHAR" />
    <result column="need_company_cooperation" property="needCompanyCooperation" jdbcType="VARCHAR" />
    <result column="other_things" property="otherThings" jdbcType="VARCHAR" />
    <result column="maybe_sign_time" property="maybeSignTime" jdbcType="VARCHAR" />
    <result column="maybe_sign_path" property="maybeSignPath" jdbcType="VARCHAR" />
    <result column="maybe_text" property="maybeText" jdbcType="VARCHAR" />
    <result column="depart_idea" property="departIdea" jdbcType="VARCHAR" />
    <result column="otherfile_path" property="otherfilePath" jdbcType="VARCHAR" />
    <result column="otherfile_upload" property="otherfileUpload" jdbcType="VARCHAR" />
    <result column="pr_type" property="prType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pr_id, prj_code, prj_name, prj_long_time, report_table_kind, fill_time, thistime_prj_text, 
    prj_safety_maybe_text, prj_quatity_maybe_text, fb_manage_situation, change_situation, 
    importent_things, need_company_cooperation, other_things, maybe_sign_time, maybe_sign_path, 
    maybe_text, depart_idea, otherfile_path, otherfile_upload, pr_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ldxx.bean.PrjReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prj_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from prj_report
    where pr_id = #{prId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from prj_report
    where pr_id = #{prId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.ldxx.bean.PrjReportExample" >
    delete from prj_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ldxx.bean.PrjReport" >
    <selectKey resultType="java.lang.String" keyProperty="prId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_report (prj_code, prj_name, prj_long_time, 
      report_table_kind, fill_time, thistime_prj_text, 
      prj_safety_maybe_text, prj_quatity_maybe_text, 
      fb_manage_situation, change_situation, importent_things, 
      need_company_cooperation, other_things, maybe_sign_time, 
      maybe_sign_path, maybe_text, depart_idea, 
      otherfile_path, otherfile_upload, pr_type
      )
    values (#{prjCode,jdbcType=VARCHAR}, #{prjName,jdbcType=VARCHAR}, #{prjLongTime,jdbcType=VARCHAR}, 
      #{reportTableKind,jdbcType=VARCHAR}, #{fillTime,jdbcType=VARCHAR}, #{thistimePrjText,jdbcType=VARCHAR}, 
      #{prjSafetyMaybeText,jdbcType=VARCHAR}, #{prjQuatityMaybeText,jdbcType=VARCHAR}, 
      #{fbManageSituation,jdbcType=VARCHAR}, #{changeSituation,jdbcType=VARCHAR}, #{importentThings,jdbcType=VARCHAR}, 
      #{needCompanyCooperation,jdbcType=VARCHAR}, #{otherThings,jdbcType=VARCHAR}, #{maybeSignTime,jdbcType=VARCHAR}, 
      #{maybeSignPath,jdbcType=VARCHAR}, #{maybeText,jdbcType=VARCHAR}, #{departIdea,jdbcType=VARCHAR}, 
      #{otherfilePath,jdbcType=VARCHAR}, #{otherfileUpload,jdbcType=VARCHAR}, #{prType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ldxx.bean.PrjReport" >
    <selectKey resultType="java.lang.String" keyProperty="prId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prj_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prjCode != null" >
        prj_code,
      </if>
      <if test="prjName != null" >
        prj_name,
      </if>
      <if test="prjLongTime != null" >
        prj_long_time,
      </if>
      <if test="reportTableKind != null" >
        report_table_kind,
      </if>
      <if test="fillTime != null" >
        fill_time,
      </if>
      <if test="thistimePrjText != null" >
        thistime_prj_text,
      </if>
      <if test="prjSafetyMaybeText != null" >
        prj_safety_maybe_text,
      </if>
      <if test="prjQuatityMaybeText != null" >
        prj_quatity_maybe_text,
      </if>
      <if test="fbManageSituation != null" >
        fb_manage_situation,
      </if>
      <if test="changeSituation != null" >
        change_situation,
      </if>
      <if test="importentThings != null" >
        importent_things,
      </if>
      <if test="needCompanyCooperation != null" >
        need_company_cooperation,
      </if>
      <if test="otherThings != null" >
        other_things,
      </if>
      <if test="maybeSignTime != null" >
        maybe_sign_time,
      </if>
      <if test="maybeSignPath != null" >
        maybe_sign_path,
      </if>
      <if test="maybeText != null" >
        maybe_text,
      </if>
      <if test="departIdea != null" >
        depart_idea,
      </if>
      <if test="otherfilePath != null" >
        otherfile_path,
      </if>
      <if test="otherfileUpload != null" >
        otherfile_upload,
      </if>
      <if test="prType != null" >
        pr_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prjCode != null" >
        #{prjCode,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="prjLongTime != null" >
        #{prjLongTime,jdbcType=VARCHAR},
      </if>
      <if test="reportTableKind != null" >
        #{reportTableKind,jdbcType=VARCHAR},
      </if>
      <if test="fillTime != null" >
        #{fillTime,jdbcType=VARCHAR},
      </if>
      <if test="thistimePrjText != null" >
        #{thistimePrjText,jdbcType=VARCHAR},
      </if>
      <if test="prjSafetyMaybeText != null" >
        #{prjSafetyMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="prjQuatityMaybeText != null" >
        #{prjQuatityMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="fbManageSituation != null" >
        #{fbManageSituation,jdbcType=VARCHAR},
      </if>
      <if test="changeSituation != null" >
        #{changeSituation,jdbcType=VARCHAR},
      </if>
      <if test="importentThings != null" >
        #{importentThings,jdbcType=VARCHAR},
      </if>
      <if test="needCompanyCooperation != null" >
        #{needCompanyCooperation,jdbcType=VARCHAR},
      </if>
      <if test="otherThings != null" >
        #{otherThings,jdbcType=VARCHAR},
      </if>
      <if test="maybeSignTime != null" >
        #{maybeSignTime,jdbcType=VARCHAR},
      </if>
      <if test="maybeSignPath != null" >
        #{maybeSignPath,jdbcType=VARCHAR},
      </if>
      <if test="maybeText != null" >
        #{maybeText,jdbcType=VARCHAR},
      </if>
      <if test="departIdea != null" >
        #{departIdea,jdbcType=VARCHAR},
      </if>
      <if test="otherfilePath != null" >
        #{otherfilePath,jdbcType=VARCHAR},
      </if>
      <if test="otherfileUpload != null" >
        #{otherfileUpload,jdbcType=VARCHAR},
      </if>
      <if test="prType != null" >
        #{prType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ldxx.bean.PrjReportExample" resultType="java.lang.Integer" >
    select count(*) from prj_report
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prj_report
    <set >
      <if test="record.prId != null" >
        pr_id = #{record.prId,jdbcType=VARCHAR},
      </if>
      <if test="record.prjCode != null" >
        prj_code = #{record.prjCode,jdbcType=VARCHAR},
      </if>
      <if test="record.prjName != null" >
        prj_name = #{record.prjName,jdbcType=VARCHAR},
      </if>
      <if test="record.prjLongTime != null" >
        prj_long_time = #{record.prjLongTime,jdbcType=VARCHAR},
      </if>
      <if test="record.reportTableKind != null" >
        report_table_kind = #{record.reportTableKind,jdbcType=VARCHAR},
      </if>
      <if test="record.fillTime != null" >
        fill_time = #{record.fillTime,jdbcType=VARCHAR},
      </if>
      <if test="record.thistimePrjText != null" >
        thistime_prj_text = #{record.thistimePrjText,jdbcType=VARCHAR},
      </if>
      <if test="record.prjSafetyMaybeText != null" >
        prj_safety_maybe_text = #{record.prjSafetyMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="record.prjQuatityMaybeText != null" >
        prj_quatity_maybe_text = #{record.prjQuatityMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="record.fbManageSituation != null" >
        fb_manage_situation = #{record.fbManageSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.changeSituation != null" >
        change_situation = #{record.changeSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.importentThings != null" >
        importent_things = #{record.importentThings,jdbcType=VARCHAR},
      </if>
      <if test="record.needCompanyCooperation != null" >
        need_company_cooperation = #{record.needCompanyCooperation,jdbcType=VARCHAR},
      </if>
      <if test="record.otherThings != null" >
        other_things = #{record.otherThings,jdbcType=VARCHAR},
      </if>
      <if test="record.maybeSignTime != null" >
        maybe_sign_time = #{record.maybeSignTime,jdbcType=VARCHAR},
      </if>
      <if test="record.maybeSignPath != null" >
        maybe_sign_path = #{record.maybeSignPath,jdbcType=VARCHAR},
      </if>
      <if test="record.maybeText != null" >
        maybe_text = #{record.maybeText,jdbcType=VARCHAR},
      </if>
      <if test="record.departIdea != null" >
        depart_idea = #{record.departIdea,jdbcType=VARCHAR},
      </if>
      <if test="record.otherfilePath != null" >
        otherfile_path = #{record.otherfilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.otherfileUpload != null" >
        otherfile_upload = #{record.otherfileUpload,jdbcType=VARCHAR},
      </if>
      <if test="record.prType != null" >
        pr_type = #{record.prType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prj_report
    set pr_id = #{record.prId,jdbcType=VARCHAR},
      prj_code = #{record.prjCode,jdbcType=VARCHAR},
      prj_name = #{record.prjName,jdbcType=VARCHAR},
      prj_long_time = #{record.prjLongTime,jdbcType=VARCHAR},
      report_table_kind = #{record.reportTableKind,jdbcType=VARCHAR},
      fill_time = #{record.fillTime,jdbcType=VARCHAR},
      thistime_prj_text = #{record.thistimePrjText,jdbcType=VARCHAR},
      prj_safety_maybe_text = #{record.prjSafetyMaybeText,jdbcType=VARCHAR},
      prj_quatity_maybe_text = #{record.prjQuatityMaybeText,jdbcType=VARCHAR},
      fb_manage_situation = #{record.fbManageSituation,jdbcType=VARCHAR},
      change_situation = #{record.changeSituation,jdbcType=VARCHAR},
      importent_things = #{record.importentThings,jdbcType=VARCHAR},
      need_company_cooperation = #{record.needCompanyCooperation,jdbcType=VARCHAR},
      other_things = #{record.otherThings,jdbcType=VARCHAR},
      maybe_sign_time = #{record.maybeSignTime,jdbcType=VARCHAR},
      maybe_sign_path = #{record.maybeSignPath,jdbcType=VARCHAR},
      maybe_text = #{record.maybeText,jdbcType=VARCHAR},
      depart_idea = #{record.departIdea,jdbcType=VARCHAR},
      otherfile_path = #{record.otherfilePath,jdbcType=VARCHAR},
      otherfile_upload = #{record.otherfileUpload,jdbcType=VARCHAR},
      pr_type = #{record.prType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldxx.bean.PrjReport" >
    update prj_report
    <set >
      <if test="prjCode != null" >
        prj_code = #{prjCode,jdbcType=VARCHAR},
      </if>
      <if test="prjName != null" >
        prj_name = #{prjName,jdbcType=VARCHAR},
      </if>
      <if test="prjLongTime != null" >
        prj_long_time = #{prjLongTime,jdbcType=VARCHAR},
      </if>
      <if test="reportTableKind != null" >
        report_table_kind = #{reportTableKind,jdbcType=VARCHAR},
      </if>
      <if test="fillTime != null" >
        fill_time = #{fillTime,jdbcType=VARCHAR},
      </if>
      <if test="thistimePrjText != null" >
        thistime_prj_text = #{thistimePrjText,jdbcType=VARCHAR},
      </if>
      <if test="prjSafetyMaybeText != null" >
        prj_safety_maybe_text = #{prjSafetyMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="prjQuatityMaybeText != null" >
        prj_quatity_maybe_text = #{prjQuatityMaybeText,jdbcType=VARCHAR},
      </if>
      <if test="fbManageSituation != null" >
        fb_manage_situation = #{fbManageSituation,jdbcType=VARCHAR},
      </if>
      <if test="changeSituation != null" >
        change_situation = #{changeSituation,jdbcType=VARCHAR},
      </if>
      <if test="importentThings != null" >
        importent_things = #{importentThings,jdbcType=VARCHAR},
      </if>
      <if test="needCompanyCooperation != null" >
        need_company_cooperation = #{needCompanyCooperation,jdbcType=VARCHAR},
      </if>
      <if test="otherThings != null" >
        other_things = #{otherThings,jdbcType=VARCHAR},
      </if>
      <if test="maybeSignTime != null" >
        maybe_sign_time = #{maybeSignTime,jdbcType=VARCHAR},
      </if>
      <if test="maybeSignPath != null" >
        maybe_sign_path = #{maybeSignPath,jdbcType=VARCHAR},
      </if>
      <if test="maybeText != null" >
        maybe_text = #{maybeText,jdbcType=VARCHAR},
      </if>
      <if test="departIdea != null" >
        depart_idea = #{departIdea,jdbcType=VARCHAR},
      </if>
      <if test="otherfilePath != null" >
        otherfile_path = #{otherfilePath,jdbcType=VARCHAR},
      </if>
      <if test="otherfileUpload != null" >
        otherfile_upload = #{otherfileUpload,jdbcType=VARCHAR},
      </if>
      <if test="prType != null" >
        pr_type = #{prType,jdbcType=INTEGER},
      </if>
    </set>
    where pr_id = #{prId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldxx.bean.PrjReport" >
    update prj_report
    set prj_code = #{prjCode,jdbcType=VARCHAR},
      prj_name = #{prjName,jdbcType=VARCHAR},
      prj_long_time = #{prjLongTime,jdbcType=VARCHAR},
      report_table_kind = #{reportTableKind,jdbcType=VARCHAR},
      fill_time = #{fillTime,jdbcType=VARCHAR},
      thistime_prj_text = #{thistimePrjText,jdbcType=VARCHAR},
      prj_safety_maybe_text = #{prjSafetyMaybeText,jdbcType=VARCHAR},
      prj_quatity_maybe_text = #{prjQuatityMaybeText,jdbcType=VARCHAR},
      fb_manage_situation = #{fbManageSituation,jdbcType=VARCHAR},
      change_situation = #{changeSituation,jdbcType=VARCHAR},
      importent_things = #{importentThings,jdbcType=VARCHAR},
      need_company_cooperation = #{needCompanyCooperation,jdbcType=VARCHAR},
      other_things = #{otherThings,jdbcType=VARCHAR},
      maybe_sign_time = #{maybeSignTime,jdbcType=VARCHAR},
      maybe_sign_path = #{maybeSignPath,jdbcType=VARCHAR},
      maybe_text = #{maybeText,jdbcType=VARCHAR},
      depart_idea = #{departIdea,jdbcType=VARCHAR},
      otherfile_path = #{otherfilePath,jdbcType=VARCHAR},
      otherfile_upload = #{otherfileUpload,jdbcType=VARCHAR},
      pr_type = #{prType,jdbcType=INTEGER}
    where pr_id = #{prId,jdbcType=VARCHAR}
  </update>
</mapper>