<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjWorkingHoursDao">

	<insert id="addPrjWorkingHoursSave" parameterType="PrjWorkingHours">
		insert into prj_working_hours(pwh_id,prj_name,prj_no,contract_money,design_input,prj_unit,attendance_time,
			prj_type,person_dynamics,attendance_desc)
		values(#{pwh.pwhId},#{pwh.prjName},#{pwh.prjNo},#{pwh.contractMoney},#{pwh.designInput},#{pwh.prjUnit},
		#{pwh.attendanceTime},#{pwh.prjType},#{pwh.personDynamics},#{pwh.attendanceDesc})
	</insert>
	
	<select id="selectPrjWorkingHours" resultType="PrjWorkingHours">
		select * from prj_working_hours
	</select>
	
	<delete id="deletePrjWorkingHours">
		delete from prj_working_hours where pwh_id=#{id}
	</delete>
	
	<update id="updatePrjWorkingHoursSave" parameterType="PrjWorkingHours">
		update prj_working_hours set 
		prj_name=#{pwh.prjName},
		prj_no=#{pwh.prjNo},
		contract_money=#{pwh.contractMoney},
		design_input=#{pwh.designInput},
		prj_unit=#{pwh.prjUnit},
		attendance_time=#{pwh.attendanceTime},
		prj_type=#{pwh.prjType},
		person_dynamics=#{pwh.personDynamics},
		attendance_desc=#{pwh.attendanceDesc}
		where pwh_id=#{pwh.pwhId}
	</update>
	
	<select id="selectPrjWorkingHoursByPrjNo" resultType="PrjWorkingHours">
		select * from prj_working_hours where prj_no=#{prjno}
	</select>
</mapper>