<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.PrjWorkingHoursDao">

	<insert id="addPrjWorkingHoursSave" parameterType="PrjWorkingHours">
		insert into prj_working_hours(pwh_id,prj_name,prj_no,contract_money,design_input,prj_unit,attendance_time,
			prj_type,person_dynamics,attendance_desc,prj_leader)
		values(#{pwh.pwhId},#{pwh.prjName},#{pwh.prjNo},#{pwh.contractMoney},#{pwh.designInput},#{pwh.prjUnit},
		#{pwh.attendanceTime},#{pwh.prjType},#{pwh.personDynamics},#{pwh.attendanceDesc},#{pwh.prjLeader})
	</insert>
	
	<select id="selectPrjWorkingHours" resultType="PrjWorkingHours">
		select * from prj_working_hours
	</select>
	
	<delete id="deletePrjWorkingHours">
		delete from prj_working_hours where pwh_id=#{id}
	</delete>
	
	<!--190313 修改为动态更新sql，当取到的值为空时，不更新空值项 -->
	<update id="updatePrjWorkingHoursSave" parameterType="PrjWorkingHours">

		update prj_working_hours
		<set>
			<if test="pwh.prjName!=null and pwh.prjName!=''">
			prj_name=#{pwh.prjName},
			</if>
			<if test="pwh.prjNo!=null and pwh.prjNo!=''">
			prj_no=#{pwh.prjNo},
			</if>
			<if test="pwh.contractMoney!=null and pwh.contractMoney!=''">
			contract_money=#{pwh.contractMoney},
			</if>
			<if test="pwh.designInput!=null and pwh.designInput!=''">
			design_input=#{pwh.designInput},
			</if>
			<if test="pwh.prjUnit!=null and pwh.prjUnit!=''">
			prj_unit=#{pwh.prjUnit},
			</if>
			<if test="pwh.attendanceTime!=null and pwh.attendanceTime!=''">
			attendance_time=#{pwh.attendanceTime},
			</if>
			<if test="pwh.prjType!=null and pwh.prjType!=''">
			prj_type=#{pwh.prjType},
			</if>
			<if test="pwh.personDynamics!=null and pwh.personDynamics!=''">
			person_dynamics=#{pwh.personDynamics},
			</if>
			<if test="pwh.attendanceDesc!=null and pwh.attendanceDesc!=''">
			attendance_desc=#{pwh.attendanceDesc},
			</if>
			<if test="pwh.prjLeader!=null and pwh.prjLeader!=''">
			prj_leader=#{pwh.prjLeader},
			</if>
		</set>
		where pwh_id=#{pwh.pwhId}
	</update>
	
	<select id="selectPrjWorkingHoursByPrjNo" resultType="PrjWorkingHours">
		select * from prj_working_hours where prj_no=#{prjno}
	</select>
	
	<!--190313 当未填写项目信息的时候添加项目信息用的 -->
	<update id="updatePrjWorkingHoursAddInfo" parameterType="PrjWorkingHours">
		update prj_working_hours
		<set>
				<if test="pwh.prjName!=null and pwh.prjName!=''">
				prj_name=#{pwh.prjName},
				</if>
				<if test="pwh.prjNo!=null and pwh.prjNo!=''">
				prj_no=#{pwh.prjNo},
				</if>
				<if test="pwh.contractMoney!=null and pwh.contractMoney!=''">
				contract_money=#{pwh.contractMoney},
				</if>
				<if test="pwh.prjUnit!=null and pwh.prjUnit!=''">
				prj_unit=#{pwh.prjUnit},
				</if>
				<if test="pwh.attendanceTime!=null and pwh.attendanceTime!=''">
				attendance_time=#{pwh.attendanceTime},
				</if>
				<if test="pwh.prjType!=null and pwh.prjType!=''">
				prj_type=#{pwh.prjType},
				</if>
				<if test="pwh.prjLeader!=null and pwh.prjLeader!=''">
				prj_leader=#{pwh.prjLeader},
				</if>
		</set>
		where pwh_id=#{pwh.pwhId}
	</update>
</mapper>