<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectOverDao" >
  <insert id="addPrjOver" parameterType="org.ldxx.bean.ProjectOver">
  	<!-- insert into project_over (po_id,prj_name,prj_no,product_owners,prj_type,po_date,po_no,contract_amount,
  		project_duration,project_manager,project_engineer,management_model,tender_company,
  		message_source,business_director,transfer_content,Content_backlog,prj_desc,status)
  	values(#{projectOver.poId},
  		#{projectOver.prjName},
  		#{projectOver.prjNo},
  		#{projectOver.productOwners},
  		#{projectOver.prjType},
  		#{projectOver.poDate},
  		#{projectOver.poNo},
  		#{projectOver.contractAmount},
  		#{projectOver.projectDuration},
  		#{projectOver.projectManager},
  		#{projectOver.projectEngineer},
  		#{projectOver.managementModel},
  		#{projectOver.tenderCompany},
  		#{projectOver.messageSource},
  		#{projectOver.businessDirector},
  		#{projectOver.transferContent},
  		#{projectOver.contentBacklog},
  		#{projectOver.prjDesc},0)  -->
  		insert into project_over (po_id,bd_no,prj_name,prj_no,product_owners,prj_type,status)
  		values(#{projectOver.poId},
  		#{projectOver.bdNo},
  		#{projectOver.prjName},
  		#{projectOver.prjNo},
  		#{projectOver.productOwners},
  		#{projectOver.prjType},0)
  </insert>
  
  <update id="updateUseStatus" >
  		update project_over set status=1 where po_id=#{id}
  </update>
  
  <select id="selectPrjOverCountByNo" resultType="int">
  	SELECT COUNT(1) FROM project_over where prj_no=#{no}
  </select>
  
  <delete id="deletePrjOver" parameterType="String">
  	delete from project_over where po_id=#{poId}
  </delete>
  <update id="updatePrjOverById" parameterType="org.ldxx.bean.ProjectOver" >
    update project_over
    <set>
	    <if test="projectOver.poDate!=null and projectOver.poDate!=''">
	    	po_date = #{projectOver.poDate},
	    </if>
      	<if test="projectOver.poNo!=null and projectOver.poNo!=''">
    		po_no = #{projectOver.poNo},
   		</if>
	    <if test="projectOver.prjName!=null and projectOver.prjName!=''">
	      prj_name = #{projectOver.prjName},
	      </if>
	      <if test="projectOver.prjNo!=null and projectOver.prjNo!=''">
	      prj_no = #{projectOver.prjNo},
	      </if>
	      <if test="projectOver.productOwners!=null and projectOver.productOwners!=''">
	      product_owners = #{projectOver.productOwners},
	      </if>
	      <if test="projectOver.prjType!=null and projectOver.prjType!=''">
	      prj_type = #{projectOver.prjType},
	      </if>
	      <if test="projectOver.prjDesc!=null and projectOver.prjDesc!=''">
	      prj_desc = #{projectOver.prjDesc},
	      </if>
	      <if test="projectOver.contractAmount!=null and projectOver.contractAmount!=''">
	      contract_amount = #{projectOver.contractAmount},
	      </if>
	      <if test="projectOver.projectDuration!=null and projectOver.projectDuration!=''">
	      project_duration = #{projectOver.projectDuration},
	      </if>
	      <if test="projectOver.projectManager!=null and projectOver.projectManager!=''">
	      project_manager = #{projectOver.projectManager},
	      </if>
	      <if test="projectOver.projectEngineer!=null and projectOver.projectEngineer!=''">
	      project_engineer = #{projectOver.projectEngineer},
	      </if>
	      <if test="projectOver.managementModel!=null and projectOver.managementModel!=''">
	      management_model = #{projectOver.managementModel},
	      </if>
	      <if test="projectOver.tenderCompany!=null and projectOver.tenderCompany!=''">
	      tender_company=#{projectOver.tenderCompany},
	      </if>
	      <if test="projectOver.messageSource!=null and projectOver.messageSource!=''">
	      message_source = #{projectOver.messageSource},
	      </if>
	      <if test="projectOver.businessDirector!=null and projectOver.businessDirector!=''">
	      business_director = #{projectOver.businessDirector},
	      </if>
	      <if test="projectOver.transferContent!=null and projectOver.transferContent!=''">
	      transfer_content = #{projectOver.transferContent},
	      </if>
	      <if test="projectOver.contentBacklog!=null and projectOver.contentBacklog!=''">
	      Content_backlog = #{projectOver.contentBacklog},
	      </if>
	      <if test="projectOver.cjDept!=null and projectOver.cjDept!=''">
	      	cj_dept = #{projectOver.cjDept},
	      </if>
      </set>
    where po_id = #{projectOver.poId}
  </update>
  <select id="selectPrjOver" resultType="org.ldxx.bean.ProjectOver">
  	<!-- select *,c.om_name as cjDeptName from project_over as a
  	left join mode_status as b on a.po_id=b.mode_id
  	LEFT JOIN organization_management as c on a.cj_dept=c.om_id
  	where b.status=2 -->
  	select a.*,c.om_name as cjDeptName from project_over as a 
  	LEFT JOIN organization_management as c on a.cj_dept=c.om_id
  	where a.cj_dept != '' or a.cj_dept is not null 
  </select>
  <select id="selectPrjOver2" resultType="org.ldxx.bean.ProjectOver">
  	<!-- select a.*,c.om_name as cjDeptName from project_over as a
  	left join mode_status as b on a.po_id=b.mode_id
	LEFT JOIN organization_management as c on a.cj_dept=c.om_id
  	where b.status !='2' -->
  	select a.*,c.om_name as cjDeptName from project_over as a 
  	LEFT JOIN organization_management as c on a.cj_dept=c.om_id
  	where a.cj_dept = '' or a.cj_dept is  null 
  </select>
  <select id="selectPrjOverById" resultType="org.ldxx.bean.ProjectOver">
  	select * from project_over where po_id = #{poId}
  </select>
</mapper>