<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectScaleDao" >
 	<select id="getProjectScale" resultType="ProjectScale">
  		select * from project_scale where prj_type=#{type} and prj_scale=#{scale}
  	</select>
  	
  	<update id="updateScale"> 
  		update project_scale set contract_amount_big=#{big} ,contract_amount_small=#{small} where prj_type=#{type} and prj_scale=#{scale}
  	</update>
  	
  	<select id="selectProjectScale" resultType="ProjectScale">
  		SELECT * FROM project_scale 
  		where prj_type=#{type} and contract_amount_big &gt; #{money} and contract_amount_small &lt;= #{money}
  	</select>
</mapper>