<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectAccountingDao" >

	<insert id="addProjectAccounting">
		insert into project_accounting(pa_id,hs_no,prj_name,prj_no,yezhu,cj_department,prj_leader,
		prj_js_money,contract_js_money,zj_fb_ys_money,zj_fb_js_money,zj_zc_ys_money,zj_zc_js_money,zj_prjother_ys_money,
		zj_prjother_js_money,jj_person_money,jj_zhejiu_money,qt_gs_gl_money,qt_gs_xs_money,qt_tx_money,all_subtotal,
		all_js_profit,all_ys_profit,all_js_profit_margin,all_ys_profit_margin,jc_sj_money)
		values(#{projectAccounting.paId},#{projectAccounting.hsNo},#{projectAccounting.prjName},#{projectAccounting.prjNo},
		#{projectAccounting.yezhu},#{projectAccounting.cjDepartment},#{projectAccounting.prjLeader},
		#{projectAccounting.prjJsMoney},#{projectAccounting.contractJsMoney},#{projectAccounting.zjFbYsMoney},
		#{projectAccounting.zjFbJsMoney},#{projectAccounting.zjZcYsMoney},#{projectAccounting.zjZcJsMoney},
		#{projectAccounting.zjPrjotherYsMoney},#{projectAccounting.zjPrjotherJsMoney},#{projectAccounting.jjPersonMoney},
		#{projectAccounting.jjZhejiuMoney},#{projectAccounting.qtGsGlMoney},#{projectAccounting.qtGsXsMoney},
		#{projectAccounting.qtTxMoney},#{projectAccounting.allSubtotal},#{projectAccounting.allJsProfit},
		#{projectAccounting.allYsProfit},#{projectAccounting.allJsProfitMargin},#{projectAccounting.allYsProfitMargin},
		#{projectAccounting.jcSjMoney})
	</insert>
	
	<update id="updateProjectAccountingById">
		update project_accounting set 
		hs_no=#{projectAccounting.hsNo},
		prj_name=#{projectAccounting.prjName},
		prj_no=#{projectAccounting.prjNo},
		yezhu=#{projectAccounting.yezhu},
		cj_department=#{projectAccounting.cjDepartment},
		prj_leader=#{projectAccounting.prjLeader},
		prj_js_money=#{projectAccounting.prjJsMoney},
		contract_js_money=#{projectAccounting.contractJsMoney},
		zj_fb_ys_money=#{projectAccounting.zjFbYsMoney},
		zj_fb_js_money=#{projectAccounting.zjFbJsMoney},
		zj_zc_ys_money=#{projectAccounting.zjZcYsMoney},
		zj_zc_js_money=#{projectAccounting.zjZcJsMoney},
		zj_prjother_ys_money=#{projectAccounting.zjPrjotherYsMoney},
		zj_prjother_js_money=#{projectAccounting.zjPrjotherJsMoney},
		jj_person_money=#{projectAccounting.jjPersonMoney},
		jj_zhejiu_money=#{projectAccounting.jjZhejiuMoney},
		qt_gs_gl_money=#{projectAccounting.qtGsGlMoney},
		qt_gs_xs_money=#{projectAccounting.qtGsXsMoney},
		qt_tx_money=#{projectAccounting.qtTxMoney},
		all_subtotal=#{projectAccounting.allSubtotal},
		all_js_profit=#{projectAccounting.allJsProfit},
		all_ys_profit=#{projectAccounting.allYsProfit},
		all_js_profit_margin=#{projectAccounting.allJsProfitMargin},
		all_ys_profit_margin=#{projectAccounting.allYsProfitMargin}
		where pa_id=#{projectAccounting.paId}
	</update>
	
	<select id="selectProjectAccounting" resultType="ProjectAccounting">
		select * from project_accounting as a left join mode_status as b on a.pa_id=b.mode_id where b.status=#{status}
	</select>
	
	<select id="getProjectAccountingById" resultType="ProjectAccounting">
		select * from project_accounting where pa_id=#{id}
	</select>


</mapper>