<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectAccountingJjfyDao" >

	<insert id="addProjectAccountingJjfy" parameterType="java.util.List">
		insert into project_accounting_jjfy (pa_id,prj_detail,indirect_money) 
		values
			<foreach collection="accountingJjfy" item="item" index="index" separator=",">
				(#{item.paId},#{item.prjDetail},#{item.indirectMoney})
			</foreach>
	</insert>
	
	<select id="getProjectAccountingJjfyById" resultType="ProjectAccountingJjfy">
		select * from project_accounting_jjfy where pa_id=#{id}
	</select>


</mapper>