<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectOverDao" >
  <insert id="addPrjOver" parameterType="org.ldxx.bean.ProjectOver">
  	insert into project_over (po_id,prj_name,prj_no,product_owners,prj_type,po_date,po_no,contract_amount,
  		project_duration,project_manager,project_engineer,management_model,tender_company,
  		message_source,business_director,transfer_content,Content_backlog,prj_desc,status)
  	values(#{projectOver.poId},
  		#{projectOver.prjName},
  		#{projectOver.prjNo},
  		#{projectOver.productOwners},
  		#{projectOver.prjType},
  		#{projectOver.poDate},
  		#{projectOver.poNo},
  		#{projectOver.contractAmount},
  		#{projectOver.projectDuration},
  		#{projectOver.projectManager},
  		#{projectOver.projectEngineer},
  		#{projectOver.managementModel},
  		#{projectOver.tenderCompany},
  		#{projectOver.messageSource},
  		#{projectOver.businessDirector},
  		#{projectOver.transferContent},
  		#{projectOver.contentBacklog},
  		#{projectOver.prjDesc},0) 
  </insert>
  <delete id="deletePrjOver" parameterType="String">
  	delete from project_over where po_id=#{poId}
  </delete>
  <update id="updatePrjOverById" parameterType="org.ldxx.bean.ProjectOver" >
    update project_over
    set po_date = #{projectOver.poDate},
      po_no = #{projectOver.poNo},
      prj_name = #{projectOver.prjName},
      prj_no = #{projectOver.prjNo},
      product_owners = #{projectOver.productOwners},
      prj_type = #{projectOver.prjType},
      prj_desc = #{projectOver.prjDesc},
      contract_amount = #{projectOver.contractAmount},
      project_duration = #{projectOver.projectDuration},
      project_manager = #{projectOver.projectManager},
      project_engineer = #{projectOver.projectEngineer},
      management_model = #{projectOver.managementModel},
      tender_company=#{projectOver.tenderCompany},
      message_source = #{projectOver.messageSource},
      business_director = #{projectOver.businessDirector},
      transfer_content = #{projectOver.transferContent},
      Content_backlog = #{projectOver.contentBacklog},
      status=1
    where po_id = #{projectOver.poId}
  </update>
  <select id="selectPrjOver" resultType="org.ldxx.bean.ProjectOver">
  	select * from project_over where status=#{status}
  </select>
  <select id="selectPrjOverById" resultType="org.ldxx.bean.ProjectOver">
  	select * from project_over where po_id = #{poId}
  </select>
</mapper>