<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectTraceLogDao" >
  	<insert id="addProjectTraceLog" parameterType="ProjectTraceLog">
  		insert into project_trace_log(ptl_id,prj_name,manage_no,ptl_log,ptl_name,ptl_time)
  		values(#{traceLog.ptlId},#{traceLog.prjName},#{traceLog.manageNo},#{traceLog.ptlLog},#{traceLog.ptlName},now())
  	</insert>
  	
  	<delete id="deleteProjectTraceLog" parameterType="String">
  		delete form project_trace_log where ptl_id=#{id} 
  	</delete>
  	
  	<update id="updateProjectTraceLog" parameterType="ProjectTraceLog">
  		update project_trace_log set  prj_name=#{traceLog.prjName},manage_no=#{traceLog.manageNo},
  		ptl_log=#{traceLog.ptlLog},
  		ptl_name=#{traceLog.ptlName},ptl_time=now()  where ptl_id=#{traceLog.ptlId}
  	</update>
  	
  	<select id="selectProjectTraceLog"  resultType="ProjectTraceLog">  
  		SELECT *  FROM project_trace_log
  	</select>
  	
  	<select id="selectProjectTraceLogById" resultType="ProjectTraceLog">
  		SELECT * 
  		FROM project_trace_log as a 
  		where ptl_id=#{id}
  	</select>
</mapper>