<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectTraceDao" >
  <insert id="addProjectTrace" parameterType="ProjectTrace">
  		insert into project_trace( pt_id, prj_no, prj_name, prj_states, prj_lv, business_type, prj_addr, fill_time, 
    										       isbid, trace_department, predict_prj_scale, prj_desc, pt_info, pt_user)
    	values(#{trace.ptId},#{trace.prjNo},#{trace.prjName},#{trace.prjStates},#{trace.prjLv},#{trace.businessType},#{trace.prjAddr},
    	#{trace.fillTime},#{trace.isbid},#{trace.traceDepartment},#{trace.predictPrjScale},#{trace.prjDesc},
    	#{trace.ptInfo},#{trace.ptUser})									       
  </insert>
  
  <delete id="deleteProjectTrace" parameterType="String">
  		delete from project_trace where pt_id=#{id}
  </delete>
  
  <update id="updateProjectTrace" parameterType="ProjectTrace">
  		update project_trace set prj_no=#{trace.prjNo},prj_name=#{trace.prjName},prj_states=#{trace.prjStates},prj_lv=#{trace.prjLv},
  					      business_type=#{trace.businessType},prj_addr=#{trace.prjAddr},
  						  fill_time=#{trace.fillTime}, isbid=#{trace.isbid},trace_department=#{trace.traceDepartment},
  						  predict_prj_scale=#{trace.predictPrjScale},prj_desc=#{trace.prjDesc},pt_info=#{trace.ptInfo},pt_user=#{trace.ptUser} 
       where pt_id=#{trace.ptId}
  </update>
  
  <select id="selectProjectTrace" resultType="ProjectTrace">
  		SELECT pt_id, prj_no, prj_name, prj_states, prj_lv, business_type, prj_addr, fill_time, 
    				  isbid, trace_department, predict_prj_scale, prj_desc, pt_info, pt_user,om_name
	    FROM project_trace as a LEFT JOIN mode_status as b on a.pt_id=b.mode_id 
	    LEFT JOIN organization_management as c on a.trace_department=c.om_id
	    where b.status=#{status}
  </select>
  
  <select id="selectProjectTraceById" resultType="ProjectTrace">
  	    SELECT pt_id, prj_no, prj_name, prj_states, prj_lv, business_type, prj_addr, fill_time, 
    				  isbid, trace_department, predict_prj_scale, prj_desc, pt_info, pt_user,om_name
	    FROM project_trace as a LEFT JOIN mode_status as b on a.pt_id=b.mode_id 
	    LEFT JOIN organization_management as c on a.trace_department=c.om_id
	    where  a.pt_id=#{id}
  </select>
  
  <select id="selectprjStatesByname" resultType="ProjectTrace">
  	select prj_states from project_trace as a 
  	LEFT JOIN mode_status as b on a.pt_id=b.mode_id  
  	where prj_name=#{prjName} and b.status=2
  </select>
  
  <select id="dateCount" resultType="int">
  	SELECT COUNT(1) FROM project_trace where fill_time =#{time}
  </select>
  
    <select id="selectProjectTraceByNo" resultType="ProjectTrace">
    	SELECT * FROM project_trace as a
		LEFT JOIN mode_status as b on a.pt_id=b.mode_id
		where prj_no=#{no}
    </select>
    
    <select id="selectProjectTraceByName" resultType="ProjectTrace">
    	SELECT * FROM project_trace as a
		LEFT JOIN mode_status as b on a.pt_id=b.mode_id
		where prj_name=#{name}
    </select>
</mapper>