<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ResultsUsingDao" >
  <select id="selectResultsUsing" resultType="org.ldxx.bean.ResultManagementSignet">
  	select a.*,b.u_name from result_management_signet a 
  		left join user b on a.user_signet_man=b.user_id 
  		left join mode_status m on a.us_id=m.mode_id
  		where m.status=#{status}
  </select>
  <insert id="addResultsUsing" parameterType="org.ldxx.bean.ResultManagementSignet" >
    insert into result_management_signet (us_id,prj_id,us_no,prj_head,project_phase, division_engineer, 
      head_engineer, user_signet_man,project_desc,us_type,yaosu,qita,yaosuname)
    values (#{rs.usId,jdbcType=VARCHAR},#{rs.prjId,jdbcType=VARCHAR},#{rs.usNo,jdbcType=VARCHAR},#{rs.prjHead,jdbcType=VARCHAR}, #{rs.projectPhase,jdbcType=VARCHAR}, #{rs.divisionEngineer,jdbcType=VARCHAR}, 
      #{rs.headEngineer,jdbcType=VARCHAR}, #{rs.userSignetMan,jdbcType=VARCHAR}, 
      #{rs.projectDesc,jdbcType=LONGVARCHAR},#{rs.usType,jdbcType=VARCHAR},#{rs.yaosu,jdbcType=VARCHAR},#{rs.qita,jdbcType=VARCHAR},#{rs.yaosuname,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteResultsUsingById" parameterType="String">
  	delete from result_management_signet where us_id=#{usId}
  </delete>
  <update id="updateResultsUsingByIdSave" parameterType="org.ldxx.bean.ResultManagementSignet" >
    update result_management_signet
    set prj_id = #{rs.prjId,jdbcType=VARCHAR},
      us_no=#{rs.usNo,jdbcType=VARCHAR},
      prj_head=#{rs.prjHead,jdbcType=VARCHAR},
      project_phase = #{rs.projectPhase,jdbcType=VARCHAR},
      division_engineer = #{rs.divisionEngineer,jdbcType=VARCHAR},
      head_engineer = #{rs.headEngineer,jdbcType=VARCHAR},
      user_signet_man = #{rs.userSignetMan,jdbcType=VARCHAR},
      project_desc = #{rs.projectDesc,jdbcType=LONGVARCHAR},
      us_type=#{rs.usType,jdbcType=VARCHAR},
      yaosu=#{rs.yaosu,jdbcType=VARCHAR},
      qita=#{rs.qita,jdbcType=VARCHAR},
      yaosuname=#{rs.yaosuname,jdbcType=VARCHAR}
    where us_id = #{rs.usId,jdbcType=VARCHAR}
  </update>
  <select id="selectResultsUsingById" parameterType="String" resultType="org.ldxx.bean.ResultManagementSignet">
  	select a.*,b.u_name from result_management_signet a
  		left join user b on a.user_signet_man=b.user_id 
  		left join mode_status m on a.us_id=m.mode_id
  	 where us_id = #{usId}
  </select>
  
  <update id="updateUseStatus">
  		update result_management_signet set use_status=1 where us_id=#{id}
  </update>
</mapper>