<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.RoleDao" >
  	<insert id="addRole" parameterType="Role">
  		insert into role(id,role_code,role_name,role_sort)
  		values(#{role.id},#{role.roleCode},#{role.roleName},#{role.roleSort})
  	</insert>
  	<update id="updatePersonRole" parameterType="string">
  		update user set user_role = #{personRoles} where user_id=#{personId}
  	</update>
  	<select id="selectRoleOneByCodeLength" resultType="Role">
  		select *,role.role_name text from role where length(role_code) in(#{length},#{length}+1)
  	</select>
 	<select id="selectRoleTwoByCodeLength" resultType="Role">
  		select *,role.role_name text from role where length(role_code) in(#{length},#{length}+1,#{length}+2)
  	</select>
  	<select id="selectRoleByCodeLike" resultType="Role">
  		select *,role.role_name text from role where role_code like #{code} and length(role_code) in (#{length},#{length}+1,#{length}+2)
  	</select>
  	<select id="selectRolesSort" resultType="Role">
  		select *,role.role_name text from role order by id desc
  	</select>
  	<select id="selectRoleByRoleCode" resultType="Role">
  		select *,role.role_name text from role where role.role_code = #{roleCode}
  	</select>
  	<select id="selectRoleById" resultType="Role">
  		select * from role where role.id = #{id}
  	</select>
  	<select id="selectRoleByRoleName" resultType="Role">
  		select * from role where role.role_name = #{name}
  	</select>
  	
  	<delete id="delRole">
  		delete from role where id = #{id}
  	</delete>
  	<update id="updRole" parameterType="string">
  		update role set role_name=#{roleName} where id = #{id}
  	</update>
</mapper>