<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.SecondCompanyCostDao" >
  <resultMap id="BaseResultMap" type="org.ldxx.bean.SecondCompanyCost" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xuhao" property="xuhao" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="task_code" property="taskCode" jdbcType="VARCHAR" />
    <result column="depart_id" property="departId" jdbcType="VARCHAR" />
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="FLOAT" />
  </resultMap>
  	<insert id="addSecondCompanyCost" parameterType="java.util.List">
  		insert into second_company_cost(id,xuhao,company_name,task_code,depart_id,depart_name,date,money)
  		values
  		<foreach collection="scc" item="t" index="index" separator="," >
  			(#{t.id},#{t.xuhao},#{t.companyName},#{t.taskCode},#{t.departId},#{t.departName},#{t.date},#{t.money})
  		</foreach>
  	</insert>
  	
  	<select id="selectSecondComCost" resultType="SecondCompanyCost">
  		select * from second_company_cost order by date desc
  	</select>
  	
  	<delete id="deleteSecondComCost" parameterType="String">
  		delete from second_company_cost where id=#{id}
  	</delete>
  	
  	<select id="selectSumMoneyByNo" resultType="Double">
  		select IFNULL(sum(money),0) from second_company_cost where task_code=#{no}
  	</select>
</mapper>