<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.ProjectSealDao" >
  
  <select id="selectPrjSeal" resultType="SignetManage">
  	select s.*,o.om_name from signet_manage s
  		left join organization_management o on s.om_id=o.om_id
  		left join mode_status m on s.sm_id=m.mode_id
  	where m.status=#{status}
  </select>
  
  <insert id="addPrjSeal" parameterType="SignetManage" >
    insert into signet_manage (sm_id,prj_id,task_no, om_id, application_date, signet_name, signet_man,signet_attribute,signet_desc,signet_no)
    values (
    	#{signetManage.smId,jdbcType=VARCHAR},
    	#{signetManage.prjId,jdbcType=VARCHAR}, 
    	#{signetManage.taskNo,jdbcType=VARCHAR},
		#{signetManage.omId,jdbcType=VARCHAR}, 
		#{signetManage.applicationDate,jdbcType=VARCHAR},
		#{signetManage.signetName,jdbcType=VARCHAR}, 
		#{signetManage.signetMan,jdbcType=VARCHAR},
		#{signetManage.signetAttribute},
		#{signetManage.signetDesc},
		#{signetManage.signetNo}
      )
  </insert>
  
  <delete id="deletePrjSealById" parameterType="java.lang.String" >
    delete from signet_manage
    where sm_id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="updatePrjSealById" parameterType="org.ldxx.bean.SignetManage" >
    update signet_manage
    set prj_id = #{signetManage.prjId,jdbcType=VARCHAR},
   	 task_no = #{signetManage.taskNo,jdbcType=VARCHAR},
      om_id = #{signetManage.omId,jdbcType=VARCHAR},
      application_date = #{signetManage.applicationDate,jdbcType=VARCHAR},
      signet_name = #{signetManage.signetName,jdbcType=VARCHAR},
      signet_man = #{signetManage.signetMan,jdbcType=VARCHAR},
      signet_attribute=#{signetManage.signetAttribute},
	  signet_desc=#{signetManage.signetDesc}
    where sm_id = #{signetManage.smId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPrjSealById" parameterType="String" resultType="SignetManage">
  	select a.*,b.om_name from signet_manage as a 
  	left join organization_management as b on a.om_id=b.om_id
  	where a.sm_id=#{smId}
  </select>
</mapper>