<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.SupplierDao" >
  
  	<insert id="addSupplier" parameterType="supplier">
  		insert into sourcing_purchasing (sp_id,sp_name,sp_type,credit_code,bank_name,bank_no,enterprise_qualification,
  														   business_license,business_license_time,credit,legal_person_man,enterprise_type,enterprise_addr,
  														   enterprise_sax,enterprise_email,business_scope,enterprise_desc,important_event)
	    values (#{supplier.spId},#{supplier.spName},#{supplier.spType},#{supplier.creditCode},
	    			#{supplier.bankName},#{supplier.bankNo},#{supplier.enterpriseQualification},#{supplier.businessLicense},
	    			#{supplier.businessLicenseTime},#{supplier.credit},#{supplier.legalPersonMan},#{supplier.enterpriseType},
	    			#{supplier.enterpriseAddr},#{supplier.enterpriseSax},#{supplier.enterpriseEmail},
	    			#{supplier.businessScope},#{supplier.enterpriseDesc},#{supplier.importantEvent})
  	</insert>
  	
  	<delete id="deleteSupplier" parameterType="String">
  		delete from sourcing_purchasing where sp_id=#{id}
  	</delete>
  	
  	<update id="updateSupplier" parameterType="supplier">
  		update sourcing_purchasing
    		set sp_name = #{supplier.spName,jdbcType=VARCHAR},
			      sp_type = #{supplier.spType,jdbcType=VARCHAR},
			      credit_code = #{supplier.creditCode,jdbcType=VARCHAR},
			      bank_name = #{supplier.bankName,jdbcType=VARCHAR},
			      bank_no = #{supplier.bankNo,jdbcType=VARCHAR},
			      enterprise_qualification = #{supplier.enterpriseQualification,jdbcType=VARCHAR},
			      business_license = #{supplier.businessLicense,jdbcType=VARCHAR},
			      business_license_time = #{supplier.businessLicenseTime,jdbcType=VARCHAR},
			      credit = #{supplier.credit,jdbcType=VARCHAR},
			      legal_person_man = #{supplier.legalPersonMan,jdbcType=VARCHAR},
			      enterprise_type = #{supplier.enterpriseType,jdbcType=VARCHAR},
			      enterprise_addr = #{supplier.enterpriseAddr,jdbcType=VARCHAR},
			      enterprise_sax = #{supplier.enterpriseSax,jdbcType=VARCHAR},
			      enterprise_email = #{supplier.enterpriseEmail,jdbcType=VARCHAR},
			      business_scope = #{supplier.businessScope,jdbcType=VARCHAR},
			      enterprise_desc = #{supplier.enterpriseDesc,jdbcType=VARCHAR},
			      important_event = #{supplier.importantEvent,jdbcType=VARCHAR}
    		where sp_id = #{supplier.spId,jdbcType=VARCHAR}
  	</update>
  	
  	<select id="selectAllSupplier" resultType="supplier">
  		select * from sourcing_purchasing
  	</select>
  	
  	<select id="selectIdAndName" resultType="supplier">
  		select sp_id,sp_name from sourcing_purchasing
  	</select>
  	
  	<select id="selectOneSupplier" resultType="supplier">
  		select * from sourcing_purchasing where sp_id=#{id}
  	</select>
  	
  	<select id="selectSupplierByType" resultType="supplier">
  		select * from sourcing_purchasing where sp_type=#{type}
  	</select>

</mapper>