<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.Task2Dao" >
  	<insert id="addTask2" parameterType="java.util.List">
  		insert into task2(t_id,t_no,t_name,t_type,t_date,t_desc,d_name,d_money,d_income)
  		values
  		<foreach collection="t2" item="t" index="index" separator="," >
  			(#{t.tId},#{t.tNo},#{t.tName},#{t.tType},#{t.tDate},#{t.tDesc},#{t.dName},#{t.dMoney},#{t.dIncome})
  		</foreach>
  	</insert>
  	
  	<insert id="addTask2One" parameterType="Task2">
  		insert into task2(t_id,t_no,t_name,t_type,t_date,t_desc,d_name,d_money,d_income)
  		values
  			(#{t.tId},#{t.tNo},#{t.tName},#{t.tType},#{t.tDate},#{t.tDesc},#{t.dName},#{t.dMoney},#{t.dIncome})
  	</insert>
  	
  	<update id="updateTask2ById" parameterType="task2">
  		update task2 set 
	  		t_no=#{tNo},
	  		t_name=#{tName},
	  		t_type=#{tType},
	  		t_date=#{tDate},
	  		t_desc=#{tDesc},
	  		d_name=#{dName},
	  		d_money=#{dMoney},
	  		d_income=#{dIncome}
  		where t_id=#{tId}
  	</update>
  	
  	<select id="selectTask2" resultType="Task2">
  		select DISTINCT a.*,b.om_id from task2 as a
  		left join organization_management as b on a.d_name=b.om_name
  		 order by t_no desc
  	</select>
  	
  	<select id="selectTask2CountByTaskNo" resultType="int">
  		select count(1) from task2 where t_no = #{taskNo}
  	</select>
  	
  	<delete id="deleteTask2" parameterType="String">
  		delete from task2 where t_id=#{tId}
  	</delete>
  	
  	<select id="selectTask2ByYear" resultType="Task2">
  		select * from task2 where t_no like #{y}
  	</select>
  	
  	<select id="selectTask2ById" resultType="Task2">
  		select * from task2 where t_id=#{id}
  	</select>
  	
  	<select id="selectTask2ByNo" resultType="Task2">
  		select SUM(d_money) as dMoney2,a.*,b.om_id from task2 as a
  		left join organization_management as b on a.d_name=b.om_name
  		 where t_no = #{no} GROUP BY t_no
  	</select>
  	
  	<select id="selectDistinctTask2" resultType="Task2">
  		SELECT SUM(d_money) as dMoney2,a.*,b.om_id FROM (SELECT * FROM task2 ) a 
  		left join organization_management as b on a.d_name=b.om_name
  		GROUP BY t_no
  	</select>
  	
  	<select id="getBM2ManageTarget" statementType="CALLABLE" resultType="java.lang.String">
  		select GetBM2ManageTarget(#{year})
  	</select>
  	
  	<select id="isCountBytNoAndDate" resultType="int">
  		select count(1) from task2 where t_no = #{tNo} and t_date=#{date1} and d_money=#{money}
  	</select>
  	
  	<update id="updateBytNoAndDate" parameterType="Task2">
  		update task2 set  d_money=#{xgt2.dMoney}  where t_no = #{xgt2.tNo} and t_date=#{xgt2.tDate}
  	</update>
  	
  	<select id="getSumMoneyByYear" resultType="Task2">
  		select IFNULL(SUM(d_money),0) as dMoney,d_name from task2 	
  		 where t_date like #{year}  GROUP BY d_name
  	</select>
  	
</mapper>