<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.TaskDao" >
 	<resultMap type="org.ldxx.bean.Task" id="taskResultMap" >
 	    <id property="prjId" column="prj_id" />
 	    <result property="prjType2" column="prj_type2" />
 	    <result property="prjType2" column="c_name" />
 	    <result property="prjNo" column="prj_no" />
 	    <result property="prjName" column="prj_name" />
 	    <result property="prjArea" column="prj_area" />
 	    <result property="prjManagementModel" column="prj_management_model" />
 	    <result property="prjCompany" column="prj_company" />
 	    <result property="prjSource" column="prj_source" />
 	    <result property="prjOwnerUnit" column="prj_owner_unit" />
 	    <result property="workContent" column="work_content" />
 	    <result property="prjEstimateMoney" column="prj_estimate_money" />
 	    <result property="contractMoney" column="contract_money" />
 	    <result property="provisionalSum" column="provisional_sum" />
 	    <result property="prjStartTime" column="prj_start_time" />
 	    <result property="prjEndTime" column="prj_end_time" />
 	    <result property="mainDepartment" column="main_department" />
 	    <result property="mainDepartmentMoney" column="main_department_money" />
 	    <result property="mainPrjLeader" column="main_prj_leader" />
 	    <result property="mainPrjLeaderName" column="main_prj_leader_name" />
 	    <result property="mainEngineer" column="main_engineer" />
 	    <result property="mainOther" column="main_other" />
 	    <result property="assistDepartment1" column="assist_department1" />
 	    <result property="assistDepartment1Money" column="assist_department1_money" />
 	    <result property="assist1PrjLeader" column="assist1_prj_leader" />
 	    <result property="assist1Engineer" column="assist1_engineer" />
 	    <result property="assist1Other" column="assist1_other" />
 	    <result property="assistDepartment2" column="assist_department2" />
 	    <result property="assistDepartment2Money" column="assist_department2_money" />
 	    <result property="assist2PrjLeader" column="assist2_prjLeader" />
 	    <result property="assist2Engineer" column="assist2_engineer" />
 	    <result property="assist2Other" column="assist2_other" />
 	    <result property="assistDepartment3" column="assist_department3" />
 	    <result property="assistDepartment3Money" column="assist_department3_money" />
 	    <result property="assist3PrjLeader" column="assist3_prjLeader" />
 	    <result property="assist3Engineer" column="assist3_engineer" />
 	    <result property="assist3Other" column="assist3_other" />
 	    <result property="importance" column="importance" />
        <association property="prjCompanyVo" column="prj_id" javaType="prjCompanyVo" select="selectTaskByIdChildQuery">
 	       <id property="prjNoc" column="prj_no" />
 	       <result property="prjCompany1" column="prjCompany1" />
 	    </association>
 	    <collection property="cj" column="prj_no" ofType="CjContract" select="selectCjContractByTaskNo">
 	       <id property="cjId" column="cj_id" />
 	       <result property="contractName" column="contract_name" />
 	       <result property="contractNo" column="contract_no" />
 	       <result property="contractMoney" column="contract_money" />
 	       <result property="temporaryMoney" column="temporary_money" />
 	    </collection>
    </resultMap>

	<select id="selectCjContractByTaskNo" resultType="CjContract">
		select cj_id,contract_name,contract_no,contract_money,temporary_money from cj_contract where task_code = #{prj_no} and history=1
	</select>

  	<insert id="addTask" parameterType="task">
  		 insert into task(prj_id,prj_type2,prj_no,prj_name,prj_area,prj_management_model,prj_company,prj_source,prj_owner_unit,work_content,
  		 							prj_estimate_money,contract_money,provisional_sum,prj_start_time,prj_end_time,main_department,main_department_money,
  		 							assist_department1,assist_department1_money,assist_department2,assist_department2_money,assist_department3,assist_department3_money,make_time,history,importance,
  		 							main_department_cost,assist_department1_cost,assist_department2_cost,assist_department3_cost)
  		 				   values(#{task.prjId},#{task.prjType2},#{task.prjNo},#{task.prjName},#{task.prjArea},#{task.prjManagementModel},#{task.prjCompany},#{task.prjSource},
  		 				   #{task.prjOwnerUnit},#{task.workContent},#{task.prjEstimateMoney},#{task.contractMoney},#{task.provisionalSum},
  		 				   #{task.prjStartTime},#{task.prjEndTime},#{task.mainDepartment},#{task.mainDepartmentMoney},#{task.assistDepartment1},#{task.assistDepartment1Money},
  		 				   #{task.assistDepartment2},#{task.assistDepartment2Money},#{task.assistDepartment3},#{task.assistDepartment3Money},now(),1,#{task.importance},
  		 				   #{task.mainDepartmentCost},#{task.assistDepartment1Cost},#{task.assistDepartment2Cost},#{task.assistDepartment3Cost})		
  	</insert>
  	
  	<delete id="deleteTask" parameterType="String">
  		delete from task where prj_id=#{id}
  	</delete>
  	
  	<update id="updateTask" parameterType="task">
  		update task
        set
          prj_type2 = #{task.prjType2}, 
	      prj_no = #{task.prjNo}, 
	      prj_name = #{task.prjName},
	      prj_area = #{task.prjArea},
	      prj_management_model = #{task.prjManagementModel},
	      prj_company = #{task.prjCompany},
	      prj_source= #{task.prjSource},
	      prj_owner_unit = #{task.prjOwnerUnit},
	      work_content = #{task.workContent},
	      prj_estimate_money = #{task.prjEstimateMoney},
	      contract_money = #{task.contractMoney},
	      provisional_sum = #{task.provisionalSum},
	      prj_start_time = #{task.prjStartTime},
	      prj_end_time = #{task.prjEndTime},
	      main_department = #{task.mainDepartment},
	      main_department_money = #{task.mainDepartmentMoney},
	      main_department_cost= #{task.mainDepartmentCost},
	      assist_department1 = #{task.assistDepartment1},
	      assist_department1_money = #{task.assistDepartment1Money},
	      assist_department1_cost = #{task.assistDepartment1Cost},
	      assist_department2 = #{task.assistDepartment2},
	      assist_department2_money = #{task.assistDepartment2Money},
	      assist_department2_cost = #{task.assistDepartment2Cost},
	      assist_department3 = #{task.assistDepartment3},
	      assist_department3_money = #{task.assistDepartment3Money},
	      assist_department3_cost = #{task.assistDepartment3Cost},
	      make_time=now(),
	      history=1,
	      importance = #{task.importance} 
      where prj_id = #{task.prjId}
  	</update>
  	
	
	<select id="selectTaskByStatus" parameterType="String" resultMap="taskResultMap">
		select a.*,c.om_name,d.cc_name,u.u_name as mainPrjLeaderName from task a left join mode_status b on a.prj_id=b.mode_id 
				left join organization_management c on a.main_department=c.om_id
				LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
				LEFT JOIN user as u on a.main_prj_leader=u.user_id 
				<where>
					<if test="startMin!=''">
						prj_start_time &gt;= #{startMin} and prj_start_time &lt;= #{startMax} and 
					</if>
					<if test="endMin!=''">
						prj_end_time &gt;= #{endMin} and prj_end_time &lt;= #{endMax} and 
					</if>
					<if test="mainDp!='%'.toString()">
						main_department =#{mainDp} and 
					</if>
					<if test="xbDp!='%'.toString()">
						assist_department1 =#{xbDp} or assist_department2 =#{xbDp} or assist_department3 =#{xbDp} and 
					</if>
					<if test="contractMoneyMin!=0">
						contract_money &gt;=#{contractMoneyMin} and contract_money &lt;=#{contractMoneyMax} and
					</if>
					<if test="prjMoneyMin!=0">
						prj_estimate_money &gt;=#{prjMoneyMin} and prj_estimate_money &lt;=#{prjMoneyMax} and
					</if>
					<if test="zdMoneyMin!=0">
						provisional_sum &gt;=#{zdMoneyMin} and provisional_sum &lt;= #{zdMoneyMax} and 
					</if>
					b.status=#{status} and a.history=1		
				</where>
	</select>
	
	<select id="selectTaskById" resultType="task"> 
      select case  
      when COUNT(prj_id)=0 then a.prj_company 
      when COUNT(prj_id)=1 and cc.task_code is null then a.prj_company 
      when COUNT(prj_id)=1 and cc.task_code is not null then cc.contract_name_yi
      when COUNT(prj_id)>=2 and sc=1 then cc.contract_name_yi 
      when COUNT(prj_id)>=2 and sc>=2 then '' 
      else '' end as prj_company1,COUNT(prj_id),sc,
      a.*,b.om_name,b1.om_name name1,b2.om_name name2,b3.om_name name3,b4.cc_name,cc.contract_name_yi,ssw.sc,cc.task_code from task a 
		left join organization_management b  on a.main_department=b.om_id 
		left join organization_management b1 on a.assist_department1=b1.om_id 
		left join organization_management b2 on a.assist_department2=b2.om_id 
		left join organization_management b3 on a.assist_department3=b3.om_id
		LEFT JOIN consociation_company as b4 on a.prj_owner_unit=b4.cc_id
      LEFT JOIN cj_contract cc on cc.task_code = a.prj_no
      LEFT JOIN (select count(1) sc,sss.task_code from ((select COUNT(cjc.contract_name_yi) sc,cjc.task_code from cj_contract cjc where cjc.task_code =(select prj_no from task where prj_id=#{id}) GROUP BY cjc.contract_name_yi) as sss)) as ssw
      on ssw.task_code = a.prj_no
		where prj_id = #{id} GROUP BY prj_id;
	</select>
	
     <select id="selectTaskByIdChildQuery" resultType="prjCompanyVo"> 
     select case  
      when COUNT(prj_id)=0 then a.prj_company 
      when COUNT(prj_id)=1 and cc.task_code is null then a.prj_company 
      when COUNT(prj_id)=1 and cc.task_code is not null then cc.contract_name_yi
      when COUNT(prj_id)>=2 and sc=1 then cc.contract_name_yi 
      when COUNT(prj_id)>=2 and sc>=2 then '' 
      else '' end as prj_company1,a.prj_no  from task a 
	  left join organization_management b  on a.main_department=b.om_id 
	  left join organization_management b1 on a.assist_department1=b1.om_id 
	  left join organization_management b2 on a.assist_department2=b2.om_id 
	  left join organization_management b3 on a.assist_department3=b3.om_id
	  LEFT JOIN consociation_company as b4 on a.prj_owner_unit=b4.cc_id
      LEFT JOIN cj_contract cc on cc.task_code = a.prj_no
      LEFT JOIN (select count(1) sc,sss.task_code from ((select COUNT(cjc.contract_name_yi) sc,cjc.task_code from cj_contract cjc where cjc.task_code =(select prj_no from task where prj_id=#{prj_id}) GROUP BY cjc.contract_name_yi) as sss)) as ssw
      on ssw.task_code = a.prj_no
		where prj_id = #{prj_id} GROUP BY prj_id;
	</select>
	
	<select id="selectTaskHistory" resultType="task"> 
		select a.*,b.cc_name from task a 
			LEFT JOIN consociation_company as b on a.prj_owner_unit=b.cc_id
			where a.prj_no = #{no} and a.history=0
	</select>
	
	<select id="selectIdAndNameByStatus" parameterType="String" resultType="task">
		select prj_id,prj_name from task left join mode_status on prj_id=mode_id where status=#{status}
	</select>
  
  	<select id="typeCount" resultType="int">
  		select count(1) from (SELECT DISTINCT prj_no FROM task) as a
  	</select>
  	
  	<select id="selectCcNameByPrjId" resultType="task">
  		select a.prj_id,b.cc_name from task as a left join consociation_company as b on a.prj_owner_unit=b.cc_id 
  		where a.prj_id = #{id}
  	</select>
  	
  	<select id="selectPrjNameAndWorkNo" resultType="task">
  		select prj_id,prj_name,prj_no,prj_company,prj_type2,c.cc_name,d.u_name as main_prj_leader,prj_start_time,prj_end_time from task as a 
  		left join mode_status as b on a.prj_id=b.mode_id 
  		LEFT JOIN consociation_company as c on a.prj_owner_unit=c.cc_id
  		LEFT JOIN user as d on a.main_prj_leader=d.user_id
  		where b.status=2 and history=1
  	</select>
  	
  	<select id="selectTaskPrjName" resultType="task">
  		select prj_name,prj_type2,contract_money,prj_start_time,prj_end_time,d.cc_name,main_department,b.om_name,assist_department1,b1.om_name name1,assist_department2,b2.om_name name2,assist_department3,b3.om_name name3,e.u_name as main_prj_leader from task a
  		LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
  		left join organization_management b  on a.main_department=b.om_id 
		left join organization_management b1 on a.assist_department1=b1.om_id 
		left join organization_management b2 on a.assist_department2=b2.om_id 
		left join organization_management b3 on a.assist_department3=b3.om_id
		LEFT JOIN user as e on a.main_prj_leader=e.user_id
  		 where a.prj_no=#{prjNo} and a.history=1
  	</select>
  	
  	<select id="selectTaskPrjNo" resultType="task">
  		select prj_no,prj_type2,contract_money,prj_start_time,prj_end_time,d.cc_name,main_department,b.om_name,assist_department1,b1.om_name name1,assist_department2,b2.om_name name2,assist_department3,b3.om_name name3 from task a
  		LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
  		left join organization_management b  on a.main_department=b.om_id 
		left join organization_management b1 on a.assist_department1=b1.om_id 
		left join organization_management b2 on a.assist_department2=b2.om_id 
		left join organization_management b3 on a.assist_department3=b3.om_id
  		where a.prj_name=#{prjName} and a.history=1
  	</select>
  	
  	<select id="selectNoByName" resultType="task">
  		select prj_no from task where prj_name=#{name} and history=1
  	</select>
  	
  	<select id="selectIdByNo" resultType="task">
  		select prj_name,prj_estimate_money,contract_money,provisional_sum,c.u_name as main_prj_leader from task as a 
  		LEFT JOIN user as c on a.main_prj_leader=c.user_id
  		where a.prj_no=#{no} and history=1
  	</select>
  	
  	<select id="selectIdByName" resultType="task">
  		select prj_no,prj_estimate_money,contract_money,provisional_sum,c.u_name as main_prj_leader from task as a
  		LEFT JOIN user as c on a.main_prj_leader=c.user_id
  		where prj_name=#{name} and history=1
  	</select>
  	
  	<select id="selectNoByName2" resultType="task">
  		select prj_no,prj_type2,prj_estimate_money,contract_money,provisional_sum,prj_start_time,prj_end_time,main_department,c.u_name as main_prj_leader,b.om_name,assist_department1,b1.om_name name1,assist_department2,b2.om_name name2,assist_department3,b3.om_name name3 from task  as a
  			left join organization_management b  on a.main_department=b.om_id 
			left join organization_management b1 on a.assist_department1=b1.om_id 
			left join organization_management b2 on a.assist_department2=b2.om_id 
			left join organization_management b3 on a.assist_department3=b3.om_id
			LEFT JOIN user as c on a.main_prj_leader=c.user_id
			LEFT JOIN mode_status as d on a.prj_id=d.mode_id
  		where d.status=2 and a.prj_name=#{name} and a.history=1 limit 1
  	</select>
  	
  	<select id="selectIdByNo2" resultType="task">
  		select prj_name,prj_type2,contract_money,provisional_sum,prj_start_time,prj_end_time,b.om_name,prj_estimate_money,c.u_name as main_prj_leader, b1.om_name name1,b2.om_name name2,b3.om_name name3 from task as a 
  			left join organization_management b  on a.main_department=b.om_id 
  			LEFT JOIN user as c on a.main_prj_leader=c.user_id
			left join organization_management b1 on a.assist_department1=b1.om_id 
			left join organization_management b2 on a.assist_department2=b2.om_id 
			left join organization_management b3 on a.assist_department3=b3.om_id
			LEFT JOIN mode_status as d on a.prj_id=d.mode_id
  		where d.status=2 and a.prj_no=#{no} and a.history=1 limit 1
  	</select>
  	
  	<select id="selectPrjandNoAndPrjMoney" resultType="task">
  		select prj_id,prj_name,prj_no,prj_start_time,prj_estimate_money from task where history=1
  	</select>
  	
  	<select id="selectPrjByprjlike" resultType="task">
  		select * from task where history=1 and prj_no like #{no}
  	</select>
  	
  	<select id="selectPrjAndNo" resultType="task">
  		select prj_id,prj_name,prj_no from task as a left join mode_status as b on a.prj_id=b.mode_id where history=1 AND b.status=2 OR b.status=3
  	</select>
  	
  	<select id="selectIdByNameAndNo" resultType="task">
  		select prj_id from task a 
  		left join mode_status as b on a.prj_id=b.mode_id 
  		where b.status=2 and a.prj_name=#{name} and a.prj_no=#{no} and a.history=1
  	</select>
  	
  	<select id="getTaskIdNameNo" resultType="task">
  		select prj_id,prj_name,prj_no from task as a 
  		left join mode_status as b on a.prj_id=b.mode_id 
  		where a.history=1 and b.status=2 or b.status=3
  	</select>
  	
  	<select id="selectTaskByPrjType" resultType="task">
  		SELECT main_department,main_department_money,assist_department1,assist_department1_money,assist_department2,assist_department2_money,assist_department3,assist_department3_money FROM task as a 
  		left join mode_status as b on a.prj_id=b.mode_id 
  		where prj_type2 like #{type}	and prj_start_time like #{time}
  	</select>
  	
  	<select id="selectTaskByNoAndType" resultType="task">
		 SELECT * FROM task as a 
		 LEFT JOIN mode_status as b on a.prj_id=b.mode_id
		 where b.status=2 and prj_no=#{no} and prj_type2 like #{type} and a.history='1' LIMIT 1
  	</select>
  	
  	<update id="updateById" parameterType="task">
  		update task set 
  			main_prj_leader=#{task.mainPrjLeader},
  			main_engineer=#{task.mainEngineer},
  			main_other=#{task.mainOther},
  			assist1_prj_leader=#{task.assist1PrjLeader},
			assist1_engineer=#{task.assist1Engineer},
			assist1_other=#{task.assist1Other},
			assist2_prj_leader=#{task.assist2PrjLeader},
			assist2_engineer=#{task.assist2Engineer},
			assist2_other=#{task.assist2Other},
			assist3_prj_leader=#{task.assist3PrjLeader},
			assist3_engineer=#{task.assist3Engineer},
			assist3_other=#{task.assist3Other}
		where prj_id=#{task.prjId}
  	</update>
  	
  	<select id="selectPrjLeaderByPrjNo" resultType="task">
  		SELECT main_department,c.u_name as main_prj_leader FROM task as a 
		LEFT JOIN mode_status as b on a.prj_id=b.mode_id
		LEFT JOIN user as c on a.main_prj_leader=c.user_id
		where b.status=2 and a.history=1 and prj_no =#{no}
  	</select>
  	
  	<update id="updateHistoryById">
  		UPDATE task SET history=0  where prj_no =(select a.prj_no from (SELECT prj_no from task WHERE prj_id=#{id}) AS a)
  	</update>
  	
  	<update id="updateHistoryNow">
  		update task SET history=1 where prj_id=#{id}
  	</update>
  	
    <update id="updateImportanceById">
  		update task SET importance=#{importance} where prj_id=#{id}
  	</update>
  	
  	<select id="selectTaskByCj" resultType="Task">
  		SELECT tck.*
		FROM task AS tck
		LEFT JOIN mode_status AS ms ON tck.prj_id = ms.mode_id
		WHERE	ms. STATUS = 2
		AND tck.prj_no NOT IN (
			SELECT DISTINCT tk.prj_no
			FROM task tk,
				(
					SELECT cc.*
					FROM cj_contract AS cc
					LEFT JOIN mode_status AS mm ON cc.cj_id = mm.mode_id
					WHERE	mm. STATUS IN (1, 2)
				) AS cj
			WHERE cj.task_code LIKE CONCAT('%', tk.prj_no, '%')
		);
  	</select>
</mapper>