<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.TaskDao" >
  	<insert id="addTask" parameterType="task">
  		 insert into task(prj_id,prj_type1,prj_type2,prj_no,prj_name,prj_management_model,prj_company,js_phases,prj_owner_unit,work_content,
  		 							prj_estimate_money,contract_money,provisional_sum,prj_start_time,prj_end_time,main_department,main_department_money,
  		 							assist_department1,assist_department1_money,assist_department2,assist_department2_money,assist_department3,assist_department3_money,make_time)
  		 				   values(#{task.prjId},#{task.prjType1},#{task.prjType2},#{task.prjNo},#{task.prjName},#{task.prjManagementModel},#{task.prjCompany},
  		 				   #{task.jsPhases},#{task.prjOwnerUnit},#{task.workContent},#{task.prjEstimateMoney},#{task.contractMoney},#{task.provisionalSum},
  		 				   #{task.prjStartTime},#{task.prjEndTime},#{task.mainDepartment},#{task.mainDepartmentMoney},#{task.assistDepartment1},#{task.assistDepartment1Money},
  		 				   #{task.assistDepartment2},#{task.assistDepartment2Money},#{task.assistDepartment3},#{task.assistDepartment3Money},now())		
  	</insert>
  	
  	<delete id="deleteTask" parameterType="String">
  		delete from task where prj_id=#{id}
  	</delete>
  	
  	<!-- <update id="updateTask" parameterType="task">
  		update task
        set  prj_type1 = #{task.prjType1}, 
          prj_type2 = #{task.prjType2}, 
	      prj_no = #{task.prjNo}, 
	      prj_name = #{task.prjName},
	      prj_management_model = #{task.prjManagementModel},
	      prj_company = #{task.prjCompany},
	      js_phases = #{task.jsPhases},
	      prj_owner_unit = #{task.prjOwnerUnit},
	      work_content = #{task.workContent},
	      prj_estimate_money = #{task.prjEstimateMoney},
	      contract_money = #{task.contractMoney},
	      provisional_sum = #{task.provisionalSum},
	      prj_start_time = #{task.prjStartTime},
	      prj_end_time = #{task.prjEndTime},
	      main_department = #{task.mainDepartment},
	      main_department_money = #{task.mainDepartmentMoney},
	      assist_department1 = #{task.assistDepartment1},
	      assist_department1_money = #{task.assistDepartment1Money},
	      assist_department2 = #{task.assistDepartment2},
	      assist_department2_money = #{task.assistDepartment2Money},
	      assist_department3 = #{task.assistDepartment3},
	      assist_department3_money = #{task.assistDepartment3Money}
      where prj_id = #{task.prjId}
  	</update> -->
  	
	
	<select id="selectTaskByStatus" parameterType="String" resultType="task">
		select a.*,c.om_name,d.cc_name from task a left join mode_status b on a.prj_id=b.mode_id 
				left join organization_management c on a.main_department=c.om_id
				LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
				 where status=#{status} and a.history=1
	</select>
	
	<select id="selectTaskById" resultType="task"> 
		select a.*,b.om_name,b1.om_name name1,b2.om_name name2,b3.om_name name3,b4.cc_name from task a 
			left join organization_management b  on a.main_department=b.om_id 
			left join organization_management b1 on a.assist_department1=b1.om_id 
			left join organization_management b2 on a.assist_department2=b2.om_id 
			left join organization_management b3 on a.assist_department3=b3.om_id
			LEFT JOIN consociation_company as b4 on a.prj_owner_unit=b4.cc_id
			 where prj_id = #{id}
	</select>
	
	<select id="selectTaskHistory" resultType="task"> 
		select a.*,b.cc_name from task a 
			LEFT JOIN consociation_company as b on a.prj_owner_unit=b.cc_id
			where a.prj_no = #{no} and a.history=0
	</select>
	
	<select id="selectIdAndNameByStatus" parameterType="String" resultType="task">
		select prj_id,prj_name from task left join mode_status on prj_id=mode_id where status=#{status}
	</select>
  
  	<select id="typeCount" resultType="int">
  		select count(1) from (SELECT DISTINCT prj_no FROM task) as a
  	</select>
  	
  	<select id="selectCcNameByPrjId" resultType="task">
  		select a.prj_id,b.cc_name from task as a left join consociation_company as b on a.prj_owner_unit=b.cc_id 
  		where a.prj_id = #{id}
  	</select>
  	
  	<select id="selectPrjNameAndWorkNo" resultType="task">
  		select prj_id,prj_name,prj_no from task as a left join mode_status as b on a.prj_id=b.mode_id where b.status=2 and history=1
  	</select>
  	
  	<select id="selectTaskPrjName" resultType="task">
  		select prj_name,prj_type2,d.cc_name from task a
  		LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
  		 where a.prj_no=#{prjNo} and a.history=1
  	</select>
  	
  	<select id="selectTaskPrjNo" resultType="task">
  		select prj_no,prj_type2,d.cc_name from task a
  		LEFT JOIN consociation_company as d on a.prj_owner_unit=d.cc_id
  		  where a.prj_name=#{prjName} and a.history=1
  	</select>
  	
  	<select id="selectNoByName" resultType="task">
  		select prj_no from task where prj_name=#{name} and history=1
  	</select>
  	
  	<select id="selectIdByNo" resultType="task">
  		select prj_name from task where prj_no=#{no} and history=1
  	</select>
  	
  	<select id="selectNoByName2" resultType="task">
  		select prj_no,prj_type2,contract_money,provisional_sum,prj_start_time,prj_end_time,b.om_name,b1.om_name name1,b2.om_name name2,b3.om_name name3 from task  as a
  			left join organization_management b  on a.main_department=b.om_id 
			left join organization_management b1 on a.assist_department1=b1.om_id 
			left join organization_management b2 on a.assist_department2=b2.om_id 
			left join organization_management b3 on a.assist_department3=b3.om_id
  		where a.prj_name=#{name} and a.history=1
  	</select>
  	
  	<select id="selectIdByNo2" resultType="task">
  		select prj_name,prj_type2,contract_money,provisional_sum,prj_start_time,prj_end_time,b.om_name,b1.om_name name1,b2.om_name name2,b3.om_name name3 from task as a 
  			left join organization_management b  on a.main_department=b.om_id 
			left join organization_management b1 on a.assist_department1=b1.om_id 
			left join organization_management b2 on a.assist_department2=b2.om_id 
			left join organization_management b3 on a.assist_department3=b3.om_id
  		where a.prj_no=#{no} and a.history=1
  	</select>
  	
  	<select id="selectPrjandNoAndPrjMoney" resultType="task">
  		select prj_id,prj_name,prj_no,prj_start_time,prj_estimate_money from task
  	</select>
</mapper>