<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.TDepartmentDao" >
  	<insert id="addTDepartment" parameterType="java.util.List">
  		insert into t_department(t_no,d_name,d_money,d_income)
  		values
  		<foreach collection="td" item="t" index="index" separator="," >
  			(#{t.tNo},#{t.dName},#{t.dMoney},#{t.dIncome})
  		</foreach>
  	</insert>
  	
  	<insert id="addTDepartmentOne" parameterType="TDepartment">
  		insert into t_department(t_no,d_name,d_money,d_income)
  		values
  			(#{td.tNo},#{td.dName},#{td.dMoney},#{td.dIncome})
  	</insert>
  	
  	<insert id="addTDepartmentIncome" parameterType="java.util.List">
  		insert into t_department_income(t_no,d_name,d_money,d_income,date,t_name,id)
  		values
  			(#{td.tNo},#{td.dName},#{td.dMoney},#{td.dIncome},#{td.date},#{td.tName},#{td.id})
  	</insert>
  	
  	<update id="updateIncome" parameterType="java.util.List">
  		<foreach collection="td" item="t" index="index" separator=";">
  			update t_department set d_income=(d_income+#{t.dIncome}) where t_no=#{t.tNo} and d_name=#{t.dName}
  		</foreach>
  	</update>
  	
  	<update id="updateIncomeOne" parameterType="TDepartment">
  			update t_department set d_income=(d_income+#{t.dIncome}) where t_no=#{t.tNo} and d_name=#{t.dName}
  	</update>
  	
  	<select id="selectDepartment" resultType="TDepartment">
  		select * from t_department where t_no=#{no}
  	</select>
  	
  	<select id="selectDepartmentIncome" resultType="TDepartment">
  		select a.* from t_department_income a  order by t_no desc
  	</select>
  	
  	<select id="selectDepartmentCountByTNoAndDepart" resultType="int">
  		select count(1) from t_department where t_no=#{no} and d_name=#{depart}
  	</select>
  	
  	<delete id="deleteDepartmentByNo" parameterType="String">
  		delete from t_department where t_no=#{no}
  	</delete>
  	
  	<delete id="deleteDepartmentInComeById" parameterType="String">
  		delete from t_department_income where id=#{id}
  	</delete>
  	
  	<select id="getDistinctDepartmentIncome" resultType="TDepartment">
  		SELECT SUM(d_income) as dIncome2,a.*,b.om_id FROM (SELECT * FROM t_department_income )a 
  		left join organization_management as b on a.d_name=b.om_name
  		GROUP BY t_no
  	</select>
  	
  	<select id="getDistinctDepartmentIncomeByNo" resultType="TDepartment">
  		select SUM(d_income) as dIncome2,a.*,b.om_id from t_department_income as a
  		left join organization_management as b on a.d_name=b.om_name
  		 where t_no = #{no} GROUP BY t_no
  	</select>
  	
  	<select id="isCountBytNoAndDate" resultType="int">
  		select count(1) from t_department_income where t_no=#{no} and date=#{date1}
  	</select>
  	<update id="updateTDepartmentIncomeBytNoAndDate" parameterType="TDepartment">
  		update t_department_income set d_income=#{t.dIncome} where t_no=#{t.tNo} and date=#{t.date}
  	</update>
</mapper>