<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.TechnicalDocumentationDao">

	<select id="selectTechnicalDocumentation" resultType="TechnicalDocumentation">
		select * from technical_documentation 
	</select>
	
	<insert id="addConstructionDocumentsSave" parameterType="TechnicalDocumentation">
		insert into technical_documentation(td_id,prj_name,prj_no) values(#{td.tdId},#{td.prjName},#{td.prjNo})
	</insert>
	
	<update id="updateTechnicalDocumentationSave" parameterType="TechnicalDocumentation">
		update technical_documentation set prj_name=#{td.prjName},prj_no=#{td.prjNo} where td_id=#{td.tdId}
	</update>
	
	<delete id="deleteTechnicalDocumentation">
		delete from technical_documentation where td_id=#{id}
	</delete>
	
	<select id="selectTechnicalDocumentationById" resultType="TechnicalDocumentation">
		select td_id from technical_documentation where prj_no=#{id}
	</select>
	
</mapper>