<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.UserDao" >
	<insert id="addUser" parameterType="user">
		insert into user 
			(user_Id,username,password,user_code,work_id,record_no,u_name,sex,birthday,nation,
			marriage,political_status,entry_time,card_id,address,postal_code,phone_no,email,
			diploma,school,specialty,graduation_time,om_id,duty_id,duty_name,certificate,certificate_grade,delete_state,position,rtx)
		values(#{user.userId,jdbcType=VARCHAR},#{user.username,jdbcType=VARCHAR},#{user.password,jdbcType=VARCHAR},#{user.userCode,jdbcType=VARCHAR},#{user.workId,jdbcType=VARCHAR},#{user.recordNo,jdbcType=VARCHAR},
			#{user.uName,jdbcType=VARCHAR},#{user.sex,jdbcType=VARCHAR},#{user.birthday,jdbcType=VARCHAR},#{user.nation,jdbcType=VARCHAR},#{user.marriage,jdbcType=VARCHAR},#{user.politicalStatus,jdbcType=VARCHAR},
			#{user.entryTime,jdbcType=VARCHAR},#{user.cardId,jdbcType=VARCHAR},#{user.address,jdbcType=VARCHAR},#{user.postalCode,jdbcType=VARCHAR},#{user.phoneNo,jdbcType=VARCHAR},#{user.email,jdbcType=VARCHAR},
			#{user.diploma,jdbcType=VARCHAR},#{user.school,jdbcType=VARCHAR},#{user.specialty,jdbcType=VARCHAR},#{user.graduationTime,jdbcType=VARCHAR},#{user.omId,jdbcType=VARCHAR},#{user.dutyId,jdbcType=VARCHAR},
			#{user.dutyName,jdbcType=VARCHAR},#{user.certificate,jdbcType=VARCHAR},#{user.certificateGrade,jdbcType=VARCHAR},1,#{user.position,jdbcType=VARCHAR},#{user.rtx})
	</insert>

	<!-- <delete id="deleteUser" parameterType="String">
		delete from user where user_id=#{userId}
	</delete> -->
	<update id="deleteUser" parameterType="String">
		update user set delete_state=0 where user_id=#{userId}
	</update>

	<update id="updateUser" parameterType="user" >
	  update user
	  set 
	    username=#{user.username,jdbcType=VARCHAR},
	    password=#{user.password,jdbcType=VARCHAR},
	    work_id = #{user.workId,jdbcType=VARCHAR},
	    record_no = #{user.recordNo,jdbcType=VARCHAR},
	    u_name = #{user.uName,jdbcType=VARCHAR},
	    sex = #{user.sex,jdbcType=VARCHAR},
	    birthday = #{user.birthday,jdbcType=VARCHAR},
	    nation = #{user.nation,jdbcType=VARCHAR},
	    marriage = #{user.marriage,jdbcType=VARCHAR},
	    political_status = #{user.politicalStatus,jdbcType=VARCHAR},
	    entry_time = #{user.entryTime,jdbcType=VARCHAR},
	    address = #{user.address,jdbcType=VARCHAR},
	    card_id = #{user.cardId,jdbcType=VARCHAR},
	    postal_code = #{user.postalCode,jdbcType=VARCHAR},
	    phone_no = #{user.phoneNo,jdbcType=VARCHAR},
	    email = #{user.email,jdbcType=VARCHAR},
	    diploma = #{user.diploma,jdbcType=VARCHAR},
	    school = #{user.school,jdbcType=VARCHAR},
	    specialty = #{user.specialty,jdbcType=VARCHAR},
	    graduation_time = #{user.graduationTime,jdbcType=VARCHAR},
	    om_id = #{user.omId,jdbcType=VARCHAR},
	    duty_id = #{user.dutyId,jdbcType=VARCHAR},
	    duty_name = #{user.dutyName,jdbcType=VARCHAR},
	    certificate = #{user.certificate,jdbcType=VARCHAR},
	    certificate_grade=#{user.certificateGrade,jdbcType=VARCHAR},
	    position=#{user.position,jdbcType=VARCHAR},
	    rtx=#{user.rtx}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	<select id="selectAllUser" resultType="user">
		select a.*,b.om_name,c.duty_name as dutyName2,d.u_permissions from user as a
		left join organization_management as b on a.om_id=b.om_id
		left join duty as c on a.duty_id=c.duty_id
		left JOIN permissions_user as d on a.user_id=d.u_id
		where a.delete_state=1
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="user">
		select * from user where user_id=#{userId}
	</select>
	
	<select id="countOfusername" parameterType="String" resultType="int">
		select count(user_id) from user where username=#{username}
	</select>
	
	<select id="countOfworkId" parameterType="String" resultType="int">
		select count(user_id) from user where work_id=#{workId} 
	</select>
	
	<select id="countOfrecordNo" parameterType="String" resultType="int">
		select count(user_id) from user where record_no=#{recordNo} 
	</select>
	
	<select id="countOfusernameEdit" parameterType="String" resultType="int">
		select count(user_id) from user where username=#{username} and user_id !=#{userId}
	</select>
	
	<select id="countOfworkIdEdit" parameterType="String" resultType="int">
		select count(user_id) from user where work_id=#{workId} and user_id !=#{userId}
	</select>
	
	<select id="countOfrecordNoEdit" parameterType="String" resultType="int">
		select count(user_id) from user where record_no=#{recordNo} and user_id !=#{userId}
	</select>
	
	<select id="selectUserByomId" parameterType="String" resultType="user">
		select a.*,c.duty_name as dutyName2 from user as a 
		left join duty as c on a.duty_id=c.duty_id
		where a.om_id=#{omId} and a.delete_state=1
	</select>
	<select id="selectUserByomIdByJobFirstNames"  resultType="user">
		select a.*,c.duty_name as dutyName2 from user as a 
		left join duty as c on a.duty_id=c.duty_id left join job j on c.job_id = j.job_id 
		where j.job_first in
	    <foreach collection="jobFirstNames" item="employeeId" index="index"
            open="(" close=")" separator=",">
            #{employeeId}
        </foreach>
        and a.delete_state=1
	</select>
	<select id="countUsername" resultType="String">
		select IFNULL(password,0) from user where username=#{username}
	</select>
	
	<select id="getUserByUname" resultType="user">
		select * from user where u_name=#{uName} limit 1
	</select>
	
	<select id="selectUserByusername" resultType="user">
		select *,b.om_name,c.duty_name as dutyName2,d.u_permissions from user as a
		left join organization_management as b on a.om_id=b.om_id
		left join duty as c on a.duty_id=c.duty_id
		left JOIN permissions_user as d on a.user_id=d.u_id
		where username=#{username}
	</select>
	
	<select id="countuserCode" resultType="int">
		select count(1) from (select distinct user_code from user) as a
	</select>
	
	<update id="updatePasswordById">
		update user set password=#{new_password} where user_id=#{userId}
	</update>
	
	<select id="selectFgldByRoleName" resultType="user">
		select * from `user` where `user`.user_role like(select  CONCAT('r%',role_code,'r%')  from role where role.role_name =#{roleName})
	</select>
	
	<select id="selectGCSByDept" resultType="user">
		SELECT a.* FROM user as a LEFT JOIN duty as b on a.duty_id=b.duty_id
		where a.om_id=#{id} and (b.duty_name like #{name} or b.duty_name like '%经理%')
	</select>
</mapper>