<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.UserDao" >
	<insert id="addUser" parameterType="user">
		insert into user 
			(user_Id,username,password,work_id,record_no,u_name,sex,birthday,nation,
			marriage,political_status,entry_time,card_id,address,postal_code,phone_no,email,
			diploma,school,specialty,graduation_time,om_id,duty_id,duty_name,certificate,certificate_grade)
		values(#{user.userId,jdbcType=VARCHAR},#{user.username,jdbcType=VARCHAR},#{user.password,jdbcType=VARCHAR},#{user.workId,jdbcType=VARCHAR},#{user.recordNo,jdbcType=VARCHAR},
			#{user.uName,jdbcType=VARCHAR},#{user.sex,jdbcType=VARCHAR},#{user.birthday,jdbcType=VARCHAR},#{user.nation,jdbcType=VARCHAR},#{user.marriage,jdbcType=VARCHAR},#{user.politicalStatus,jdbcType=VARCHAR},
			#{user.entryTime,jdbcType=VARCHAR},#{user.cardId,jdbcType=VARCHAR},#{user.address,jdbcType=VARCHAR},#{user.postalCode,jdbcType=VARCHAR},#{user.phoneNo,jdbcType=VARCHAR},#{user.email,jdbcType=VARCHAR},
			#{user.diploma,jdbcType=VARCHAR},#{user.school,jdbcType=VARCHAR},#{user.specialty,jdbcType=VARCHAR},#{user.graduationTime,jdbcType=VARCHAR},#{user.omId,jdbcType=VARCHAR},#{user.dutyId,jdbcType=VARCHAR},
			#{user.dutyName,jdbcType=VARCHAR},#{user.certificate,jdbcType=VARCHAR},#{user.certificateGrade,jdbcType=VARCHAR})
	</insert>

	<delete id="deleteUser" parameterType="String">
		delete from user where user_id=#{userId}
	</delete>

	<update id="updateUser" parameterType="user" >
	  update user
	  set 
	    username=#{user.username,jdbcType=VARCHAR},
	    password=#{user.password,jdbcType=VARCHAR},
	    work_id = #{user.workId,jdbcType=VARCHAR},
	    record_no = #{user.recordNo,jdbcType=VARCHAR},
	    u_name = #{user.uName,jdbcType=VARCHAR},
	    sex = #{user.sex,jdbcType=VARCHAR},
	    birthday = #{user.birthday,jdbcType=VARCHAR},
	    nation = #{user.nation,jdbcType=VARCHAR},
	    marriage = #{user.marriage,jdbcType=VARCHAR},
	    political_status = #{user.politicalStatus,jdbcType=VARCHAR},
	    entry_time = #{user.entryTime,jdbcType=VARCHAR},
	    address = #{user.address,jdbcType=VARCHAR},
	    card_id = #{user.cardId,jdbcType=VARCHAR},
	    postal_code = #{user.postalCode,jdbcType=VARCHAR},
	    phone_no = #{user.phoneNo,jdbcType=VARCHAR},
	    email = #{user.email,jdbcType=VARCHAR},
	    diploma = #{user.diploma,jdbcType=VARCHAR},
	    school = #{user.school,jdbcType=VARCHAR},
	    specialty = #{user.specialty,jdbcType=VARCHAR},
	    graduation_time = #{user.graduationTime,jdbcType=VARCHAR},
	    om_id = #{user.omId,jdbcType=VARCHAR},
	    duty_id = #{user.dutyId,jdbcType=VARCHAR},
	    duty_name = #{user.dutyName,jdbcType=VARCHAR},
	    certificate = #{user.certificate,jdbcType=VARCHAR},
	    certificate_grade=#{user.certificateGrade,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	<select id="selectAllUser" resultType="user">
		select * from user
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="user">
		select * from user where user_id=#{userId}
	</select>
	
	<select id="countOfusername" parameterType="String" resultType="int">
		select count(user_id) from user where username=#{username}
	</select>
	
	<select id="countOfworkId" parameterType="String" resultType="int">
		select count(user_id) from user where work_id=#{workId} 
	</select>
	
	<select id="countOfrecordNo" parameterType="String" resultType="int">
		select count(user_id) from user where record_no=#{recordNo} 
	</select>
	
	<select id="countOfusernameEdit" parameterType="String" resultType="int">
		select count(user_id) from user where username=#{username} and user_id !=#{userId}
	</select>
	
	<select id="countOfworkIdEdit" parameterType="String" resultType="int">
		select count(user_id) from user where work_id=#{workId} and user_id !=#{userId}
	</select>
	
	<select id="countOfrecordNoEdit" parameterType="String" resultType="int">
		select count(user_id) from user where record_no=#{recordNo} and user_id !=#{userId}
	</select>
	
	<select id="selectUserByomId" parameterType="String" resultType="user">
		select user_id,u_name,work_id,birthday,sex,duty_name,duty_id from user where om_id=#{omId}
	</select>
</mapper>