<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldxx.dao.WxCostDao" >
	<insert id="addWxCost" parameterType="java.util.List">
		insert into wx_cost(wx_id,prj_name,prj_no,wx_cost,wx_name,time,dept) values
		<foreach collection="wx" item="w" separator=",">
			(#{w.wxId},#{w.prjName},#{w.prjNo},#{w.wxCost},#{w.wxName},#{w.time},#{w.dept})
		</foreach>
	</insert>
	
	<select id="selectAllWxCost" resultType="WxCost">
		select * from wx_cost
	</select>      
</mapper>