body{
    font-family:"瀵邦喛钂嬮梿鍛寸拨";
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    font-size:16px;
    margin:0;
    padding:0;
}
.yihang{
    display:flex;
    align-items: center;
}
.yihang2{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.yihang3{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.zhuashou{
	cursor: pointer;
}
.jingyongkk{
	color:#ccc;
	font-style: italic;
}
.jinqianyanse{
	color:red;
	font-weigh:700;
	font-size:18px;
}
.shuziyanse{
	color:red;
	font-weigh:700;
	font-size:18px;
}
@media screen and (max-width: 1369px) {
    #shipei {
        margin-bottom:130px !important;
    }
}
@media screen and (max-width: 1369px) {
    .dadayb {
        margin-bottom:130px !important;
    }
}
@media screen and (max-width: 1369px) {
    #permissions {
        margin-bottom:450px !important;
    }
}

@media screen and (max-width: 1369px) {
    #look {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #caiwurenling{
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1369px) {
    #caiwurenling {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #myModal2 {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #myModal3 {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #chakangongsi {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #change3 {
        margin-bottom:120px !important;
    }
}
@media screen and (max-width: 1920px) {
    #allMsg3 {
        margin-bottom:120px !important;
    }
}
@media screen and (max-width: 1920px) {
    #History3 {
        margin-bottom:120px !important;
    }
}
@media screen and (max-width: 1920px) {
    #History {
        margin-bottom:120px !important;
    }
}
@media screen and (max-width: 1920px) {
    body {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #myModal {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #change {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #allMsg1 {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #allMsg2 {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1920px) {
    #allMsg {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1600px) {
    body {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1600px) {
    #myModal {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1600px) {
    #change {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1600px) {
    #allMsg1 {
        margin-bottom:150px !important;
    }
}
@media screen and (max-width: 1600px) {
    #look_modal {
        margin-bottom:150px !important;
    }
}
.lianjieColor{
    color: #2f62a9;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #354052;
}
.c{
    clear: both;
    height: 0;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    text-transform: uppercase;
	font-weight: bold;
}

.navbar-nav>li>a{
    line-height:57px;
}

.navbar-right .nums{
    color:#fe8900;
}

#container {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 270px;
    height: 100%;
    position: fixed;
    color:#9facbd;
    background: #354052;
    overflow-y: scroll;
}

.nav-collapse .logo-wrapper{
    width:64px;
    height:64px;
    border-radius:50%;
    margin:18px auto;
    background:#fff;
    line-height:55px;
    text-align: center;
    border:2px solid #848b96;
    box-shadow:0 0 5px #999;
}
.nav-collapse .split{
    width:100%;
    height:1px;
    background:#313a4b;
    border-bottom:1px solid #293241;
    border-top:1px solid #2b3443;
}
.nav-collapse .fridge-wrapper{
    width:100%;
    height:140px;
    border-top:1px solid #3d485a;
    line-height:100%;
    text-align:center;
}
.check-fridge{
    margin:40px auto;
    font-size:16px;
    font-weight:600;
    transition:color .5s;
}
.check-fridge > p{
    margin:10px 0;
}
.check-fridge a{
    color: #9facbd;;
}
.check-fridge:hover{
    color:#fff;
}
.w_nav3{
    border-top:1px solid #3d485a;
    padding: 0;
}
.w_nav3 li{
    box-sizing: border-box;
/*    height:40px;*/
    line-height:40px;
}
.w_nav3 li a{
    display:block;
    box-sizing: border-box;
    width:100%;
    height:100%;
    color:#000;
    text-align:left;
}
.w_nav3 li > a > span{
    margin-left:3px;
}

/* 娑撳楠囬懣婊冨礋 */
ul.sidebar-menu li>ul>li>ul>li a{
    display:block;
    box-sizing: border-box;
    width:100%;
    height:100%;
    color:#9facbd;
    text-align:left;
    padding-left:35px;
}
ul.sidebar-menu li>ul>li>ul>li a.active{
    color:#fff;
}
/* 娑撳楠囬懣婊冨礋缂佹挻娼�*/
.w_nav3 ul {
    padding-left: 0px;
}
.w_nav3 li{
    line-height: 30px;
}
.w_nav3 li ul strong{
    font-size: 16px;
    margin-right: 3px;
    font-weight: normal;
}



.w_nav3 li a:hover{
    color:#fff!important;
}

.w_nav3 li .on{
   color:#fff!important; 
}
.w_nav2{
    display: show;
}
.w_nav3{
    display: none;
}
.w_nav4{
    display: none;
}

.w_hh3{
    color: #65758c;
    font-size: 16px;
    text-indent: 10px;
}
.w_hh4{
    color: #65758c;
    font-size: 16px;
    text-indent: 10px;
}
footer{
    height: 10px;
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #eee;
}

/*banner*/
.banner{
    width:100%;
    height:120px;
    background:url('../img/banner.jpg') no-repeat;
    background-size:100% 100%;
    margin-bottom:10px;
    position:relative;
}
.banner .nowtime{
    width:160px;
    height:120px;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    background-color: rgba(9, 135, 207, 0.71);
}
.nowtime>div{
    margin:30px auto;
    color:#fff;
}
.nowtime>div>p{
    margin-top: 5px;
}
/* icon */
.icon-yonghu,.icon-daiban1,.icon-web-quit{
    font-size:18px;
    font-weight:normal;
    margin-right:6px;
    color:#354052;  
}

.icon-caidan,.icon-zhongdianzhishi,.icon-zhizhang02011,.icon-yonghuming,.icon-daishou,.icon-zhongdian,.icon-tuichu,.icon-icon_jishushili,.icon-shizhong,.icon-qiaoliang,.icon-zhongdian,.icon-jihua{
    font-size:20px;
    font-weight:bold;
    margin-right:6px;
    color:#354052;
}
.icon-jingfeixinxi,.icon-huizhang,.icon-zhizhang0201{
    font-size:22px;
    font-weight:bold;
    color:#354052;
}
.icon-map-bridge{
    font-size:50px;
}
.icon-rili{
    color:#fff;
    font-size:30px;
}
/**/

#main-content {
    margin-left: 270px;
}

.header, .footer {
    min-height: 120px;
    padding: 0 15px;
}

.header {
    z-index: 1002;
}
/* toggle閹稿鎸� */
.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .icon-menu {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}

/*閸忣剛鏁ら棃銏犲瘶鐏炴垶鐗卞锟�*/
.breadcrumb{
    background: #fff;
    border-bottom:1px solid #ccc;
}
.w_banner{
    margin-bottom: 0px;
}
.breadcrumb i{
    color: #53aadf;
}



/*娑撳楠囬懕鏂垮З*/

.city-picker-input {
    opacity: 0 !important;
    top: -9999px;
    left: -9999px;
    position: absolute;
}

.city-picker-span {
    position: relative;
    display: inline!important;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    cursor: pointer;
    width: 200px;
}

.city-picker-span > .placeholder {
    color: #aaa;
}

.city-picker-span > .arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 10px;
    margin-top: -3px;
    height: 5px;
    background: url(../images/drop-arrow.png) -10px -25px no-repeat;
}

.city-picker-span.focus,
.city-picker-span.open {
    border-bottom-color: #46A4FF;
}

.city-picker-span.open > .arrow {
    background-position: -10px -10px;
}

.city-picker-span > .title > span {
    color: #333;
    padding: 5px;
    border-radius: 3px;
}

    /*.city-picker-span > .title > span:hover {
        background-color: #f1f8ff;
    }*/

.city-picker-dropdown {
    position: absolute;
    width: 315px;
    left: -9999px;
    top: -9999px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 999999;
    display: none;
    min-width: 330px;
    margin-bottom: 20px;
}

.city-select-wrap {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.city-select-tab {
    border-bottom: 1px solid #ccc;
    background: #f0f0f0;
    font-size: 13px;
}

.city-select-tab > a {
    display: inline-block;
    padding: 8px 22px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    color: #4D4D4D;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: -1px;
}

.city-select-tab > a.active {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #46A4FF;
}

.city-select-tab > a:first-child {
    border-left: none;
}

.city-select-tab > a:last-child.active {
    border-right: 1px solid #ccc;
}

.city-select-content {
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    padding: 10px 15px;
}

.city-select {
    font-size: 13px;
}

.city-select dl {
    line-height: 2;
    clear: both;
    padding: 3px 0;
    margin: 0;
}

.city-select dt {
    position: absolute;
    width: 2.5em;
    font-weight: 500;
    text-align: right;
    line-height: 2;
}

.city-select dd {
    margin-left: 0;
    line-height: 2;
}

.city-select.province dd {
    margin-left: 3em;
}

.city-select a {
    display: inline-block;
    padding: 0 10px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 2px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.city-select a:hover,
.city-select a:focus {
    background-color: #f1f8ff;
    border-radius: 2px;
    color: #46A4FF;
}

.city-select a.active {
    background-color: #46A4FF;
    color: #fff;
    border-radius: 2px;
}
#edit_city_picker3{
    width: 300px;
}
#prjArea{
    width: 300px;
}
#city-picker3{
    width: 300px;
}
.docs-methods{
    width: 260px;
    display: inline-block;   
}


#guanbi{
    display: none;
}


/*妤傛楠囩粵娑拷澶婅剨閸戝搫鐪�*/
.saixuan{
    display: none;
    padding: 20px 15px;
}
.saixuan ul{
    padding-left:0;
}
.saixuan li{
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 10px;
}
.saixuan li label{
   display: inline-block;
    width: 90px;
    text-align: right;
    font-weight: normal; 
    color: #626262;
}
.saixuan select,.saixuan input{
    width: 169px;
}
.saixuan button{
    margin-left: 10px;
}

/*閸掓銆冪拠锔藉剰*/
.renwu{
    padding: 15px 15px 10px;
    color: #626262;
    display: none;
}
.renwu_content{
    text-align: center;
}
.renwu_content tr td a i {
    color: #fe8900;
}
.list tr td a{
    color:#337ab7;
}
.fanhui{
    margin-bottom: 5px;
}
.renwu_content th{
    text-align: center;
}
/******妫ｆ牠銆�******/
.home-content{
    padding:0px;
}
.home-import{
    display: flex;
    justify-content: space-between;
}
.mission{
    width: 33%;
}
.home-other{
    display: flex;
    justify-content: space-between;
    margin-top:5px;
}

.tb1{
    width: 100%;
}
.tb1 th{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:42px;
    font-size: 16px;
    background:	rgba(204, 204, 204,0.4);
}
.tb1 td{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:36px;
}
.tb2 .tb4{
    width: 100%;
}
.tb2 th{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:42px;
    font-size: 16px;
    background:rgba(204, 204, 204,0.4);
}
.tb2 td{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:36px;
}
.tb4 th{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:42px;
    font-size: 16px;
    background:	rgba(204, 204, 204,0.4);
}
.tb4 td{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:36px;
}
.tb3{
    width: 100%;
}
.tb3 th{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:42px;
    font-size: 16px;
    background:	rgba(204, 204, 204,0.4);
}
.tb3 td{
    border: 1px solid rgba(204, 204, 204,0.5);
    height:36px;
}
.check-more{
    text-align: right;
    padding-right: 6px;
}
.task{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(236, 241, 241);
    background:	rgba(204, 204, 204,0.4);
    height:42px;
    line-height: 42px;
    font-weight: 700;
    font-size: 16px;
    padding-left:12px;
}

/*css閼奉亜濮╁姘З閹绢厽鏂�*/
@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -307px, 0);
        transform: translate3d(0, -307px, 0);
    }
}
.lista{
    border: 1px solid #999;
    margin: 0px auto;
    position: relative;
    height: 260px;
    overflow: hidden;
}
.lista .rowup{
    -webkit-animation: 18s rowup linear infinite normal;
    animation: 18s rowup linear infinite normal;
    position: relative;
    animation-delay:2s;
}
.item{
    height:30px;
    border-bottom: 1px solid #ccc;
}

/*js濠婃艾濮�*/
.gundong {
    margin: 0;
    padding: 0;
    background:rgba(238, 238, 238,0.6);
}
#scrollDiv{
    height:318px;
    line-height: 42px;
    border: rgba(204, 204, 204,0.5) 1px solid;
    overflow: hidden;
}
#scrollDiv li{
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(204, 204, 204,0.5);
}
/*閸欏厖鏅舵稉璁崇秼閸愬懎顔�*/
.zhuti-content{
    width:100%;
    background: #fff;
    padding: 12px;
}

.lookhetong a{
    color: orange;
}
.allLook{
    color: skyblue;
}
