<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>基础数据管理</li>
			<li class="active">项目规模管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                <button type="button" class="btn btn-primary Plba" data-toggle="modal" data-target="#myModal" id="showshuju">修改项目规模</button>
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改项目规模</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align:center;">华通项目类型划分标准(单位:元)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>设计项目</td>
                                    <td>检测项目</td>
                                    <td>新建施工</td>
                                    <td>加固施工</td>
                                    <td>信息化项目</td>
                                </tr>
                                <tr>
                                    <td>大型项目</td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgdesignda">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"style="width:130px;" id="xgtestda">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"style="width:130px;" id="xgxinjianda">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"style="width:130px;" id="xgjiaguda">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"style="width:130px;" id="xgmessda">
                                    </td>
                                </tr>
                                <tr>
                                    <td>中型项目</td>
                                    <td>
                                        <input type="text" class="form-control" style="width:60px;" id="xgdesignmidl">-<input type="text" class="form-control" style="width:60px;" id="xgdesignmidr">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:60px;" id="xgtestmidl">-<input type="text" class="form-control" style="width:60px;" id="xgtestmidr">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:60px;" id="xgxinjianmidl">-<input type="text" class="form-control" style="width:60px;" id="xgxinjianmidr">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:60px;" id="xgjiagumidl">-<input type="text" class="form-control" style="width:60px;" id="xgjiagumidr">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:60px;" id="xgmessmidl">-<input type="text" class="form-control" style="width:60px;" id="xgmessmidr">
                                    </td>
                                </tr>
                                <tr>
                                    <td>小型项目</td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgdesignsmall">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgtestsmall">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgxinjiansmall">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgjiagusmall">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" style="width:130px;" id="xgmesssmall">
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default"  data-dismiss="modal" id="check">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->


        </div>
        <div class="LowerPart">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th colspan="6" style="text-align:center;">华通项目类型划分标准(单位:元)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>设计项目</td>
                        <td>检测项目</td>
                        <td>新建施工</td>
                        <td>加固施工</td>
                        <td>信息化项目</td>
                    </tr>
                    <tr>
                        <td>大型项目</td>
                        <td><span  id="designda"></span>（含）以上</td>
                        <td><span id="testda"></span>（含）以上</td>
                        <td><span id="xinjianda"></span>（含）以上</td>
                        <td><span id="jiaguda"></span>（含）以上</td>
                        <td><span id="messda"></span>（含）以上</td>
                    </tr>
                    <tr>
                        <td>中型项目</td>
                        <td><span id="designmidl"></span>（含）~<span id="designmidr"></span></td>
                        <td><span id="testmidl"></span>（含）~<span id="testmidr"></span></td>
                        <td><span id="xinjianmidl"></span>（含）~<span id="xinjianmidr"></span></td>
                        <td><span id="jiagumidl"></span>（含）~<span id="jiagumidr"></span></td>
                        <td><span id="messmidl"></span>（含）~<span id="messmidr"></span></td>
                    </tr>
                    <tr>
                        <td>小型项目</td>
                        <td><span id="designsmall"></span>以下</td>
                        <td><span id="testsmall"></span>以下</td>
                        <td><span id="xinjiansmall"></span>以下</td>
                        <td><span id="jiagusmall"></span>以下</td>
                        <td><span id="messsmall"></span>以下</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
$(document).ready( function () {
	initTable();
} );
$("input").keyup(function () {
    $(this).val($(this).val().replace(/[^0-9.]/g, ''));
}).bind("paste", function () {  //CTR+V事件处理    
    $(this).val($(this).val().replace(/[^0-9.]/g, ''));
}).css("ime-mode", "disabled"); //CSS设置输入法不可用  
//初始化
function initTable(){
	showMask();
    $.ajax({
        type: 'POST',
        url: getContextPath()+'/scale/getScale',
        dataType: 'json',
        data: {
           
        },
        success: function (json) {
        	 $("#designda").text(json.sjdx);
        	 $("#testda").text(json.jcdx);
        	 $("#xinjianda").text(json.xjdx);
        	 $("#jiaguda").text(json.jgdx);
        	 $("#messda").text(json.xxhdx);
        	 $("#designmidl").text(json.sjzx);
        	 $("#designmidr").text(json.sjzd);
        	 $("#testmidl").text(json.jczx);
        	 $("#testmidr").text(json.jczd);
        	 $("#xinjianmidl").text(json.xjzx);
        	 $("#xinjianmidr").text(json.xjzd);
        	 $("#jiagumidl").text(json.jgzx);
        	 $("#jiagumidr").text(json.jgzd);
        	 $("#messmidl").text(json.xxhzx);
        	 $("#messmidr").text(json.xxhzd);
        	 $("#designsmall").text(json.sjxd);
        	 $("#testsmall").text(json.jcxd);
        	 $("#xinjiansmall").text(json.xjxd);
        	 $("#jiagusmall").text(json.jgxd);
        	 $("#messsmall").text(json.xxhxd);
        	 hidMask();
        }
    });
}

function showMask() {
	myTool.mask.show('查询中...');
 }
function hidMask() {
 	myTool.mask.hide();
 }

//修改项目规模
$("#showshuju").click(function(){
	$("#xgdesignda").val($("#designda").text());
	$("#xgtestda").val($("#testda").text());
	$("#xgxinjianda").val($("#xinjianda").text());
	$("#xgjiaguda").val($("#jiaguda").text());
	$("#xgmessda").val($("#messda").text());
	$("#xgdesignmidl").val($("#designmidl").text());
	$("#xgdesignmidr").val($("#designmidr").text());
	$("#xgtestmidl").val($("#testmidl").text());
	$("#xgtestmidr").val($("#testmidr").text());
	$("#xgxinjianmidl").val($("#xinjianmidl").text());
	$("#xgxinjianmidr").val($("#xinjianmidr").text());
	$("#xgjiagumidl").val($("#jiagumidl").text());
	$("#xgjiagumidr").val($("#jiagumidr").text());
	$("#xgmessmidl").val($("#messmidl").text());
	$("#xgmessmidr").val($("#messmidr").text());
	$("#xgdesignsmall").val($("#designsmall").text());
	$("#xgtestsmall").val($("#testsmall").text());
	$("#xgxinjiansmall").val($("#xinjiansmall").text());
	$("#xgjiagusmall").val($("#jiagusmall").text());
	$("#xgmesssmall").val($("#messsmall").text());
})
$("#check").click(function(){
	$.ajax({
        type: 'POST',
        url: getContextPath()+'/scale/updateScale',
        dataType: 'json',
        data: {
        	sjdx:$("#xgdesignda").val(),
        	jcdx:$("#xgtestda").val(),
        	xjdx:$("#xgxinjianda").val(),
        	jgdx:$("#xgjiaguda").val(),
        	xxhdx:$("#xgmessda").val(),
        	sjzx:$("#xgdesignmidl").val(),
        	sjzd:$("#xgdesignmidr").val(),
        	jczx:$("#xgtestmidl").val(),
        	jczd:$("#xgtestmidr").val(),
        	xjzx:$("#xgxinjianmidl").val(),
        	xjzd:$("#xgxinjianmidr").val(),
        	jgzx:$("#xgjiagumidl").val(),
        	jgzd:$("#xgjiagumidr").val(),
        	xxhzx:$("#xgmessmidl").val(),
        	xxhzd:$("#xgmessmidr").val(),
        	sjxd:$("#xgdesignsmall").val(),
        	jcxd:$("#xgtestsmall").val(),
        	xjxd:$("#xgxinjiansmall").val(),
        	jgxd:$("#xgjiagusmall").val(),
        	xxhxd:$("#xgmesssmall").val(),
        },
        success: function (json) {
        	 $("#designda").text($("#xgdesignda").val());
        	 $("#testda").text($("#xgtestda").val());
        	 $("#xinjianda").text($("#xgxinjianda").val());
        	 $("#jiaguda").text($("#xgjiaguda").val());
        	 $("#messda").text($("#xgmessda").val());
        	 $("#designmidl").text($("#xgdesignmidl").val());
        	 $("#designmidr").text($("#xgdesignmidr").val());
        	 $("#testmidl").text($("#xgtestmidl").val());
        	 $("#testmidr").text($("#xgtestmidr").val());
        	 $("#xinjianmidl").text($("#xgxinjianmidl").val());
        	 $("#xinjianmidr").text($("#xgxinjianmidr").val());
        	 $("#jiagumidl").text($("#xgjiagumidl").val());
        	 $("#jiagumidr").text($("#xgjiagumidr").val());
        	 $("#messmidl").text($("#xgmessmidl").val());
        	 $("#messmidr").text($("#xgmessmidr").val());
        	 $("#designsmall").text($("#xgdesignsmall").val());
        	 $("#testsmall").text($("#xgtestsmall").val());
        	 $("#xinjiansmall").text($("#xgxinjiansmall").val());
        	 $("#jiagusmall").text($("#xgjiagusmall").val());
        	 $("#messsmall").text($("#xgmesssmall").val());
        }
    });
})






</script>
</html>