<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
	<link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
            <li>培训管理</li>
            <li class="active">培训资料管理</li>
		</ul>
    </div>

    <div class="zhuti-content">

        <div>
            <div class="UpperPart">
                <div class="UpperPartL">
                    
                </div>
                <div class="UpperPartR">
                    <button type="button" class="btn btn-primary Pbdda" data-toggle="modal" data-target="#myModal">填报培训资料</button>
                </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>填报培训资料</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" id="new_form" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                            	<td style="width:20%;">培训类型</td>
                                <td style="width:30%;">
                                	<select class="form-control"  style="width:80%;" id="new_px_type">
                                		<option value="外出培训">外出培训</option>
                                		<option value="外部培训">外部培训</option>
                                		<option value="内部培训">内部培训</option>
                                	</select>
                                </td>
                                <td style="width:20%;">培训课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;">
                                	<select class="form-control"  style="width:80%;" id="new_class_name">
                                	</select>
                                </td>
                            </tr>
                            <tr>
                            	<td style="width:20%;">资料及证书保管部门  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<select class="form-control"  style="width:80%;" id="department">
                                	</select>
                                </td>
                                <td>培训地点</td>
                                <td><input type="text" style="width:80%;" class="form-control" id="new_addr"></td>
                            </tr>
                            <tr>
                            	<td>培训时间</td>
                                <td><input type="text" style="width:80%;" class="form-control" id="year"></td>
                                <td>培训分类</td>
	                            <td>
	                            	<select class="form-control" style="width:80%;" id="trainingType"  style="width:60%;">
	                            			<option>技术类</option>
	                            			<option>管理类</option>
	                                </select>
	                            </td>
                            </tr>
                            <tr>
                                <td>培训自我总结（侧重于技术要点）</td>
                                <td colspan="3"><textarea style="width:100%;" rows="5" id="new_summarize"></textarea></td>
                            </tr>
                        </table> 
                        <table class="table table-bordered table-condensed" id="ziliao">
                        	<thead>
                        		<tr>
                        			<td style="width:20%;">培训发放资料<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox">添加培训资料</button></td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="zhengshu">
                        	<thead>
                        		<tr>
                        			<td style="width:20%;">培训获得证书</td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox2">添加培训证书</button></td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="zwzongjie">
                        	<thead>
                        		<tr>
                        			<td style="width:20%;">培训自我总结</td>
                                	<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox3">添加培训自我总结</button></td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        	</tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <!-- <button type="button" class="btn btn-success" onclick="new_save()">保存</button> -->
            <button type="button" class="btn btn-success" onclick="new_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal选人 -->
<div class="modal fade" id="addGuanliren" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<form class="form-inline">
                    <div class="form-group">
                        	<span>部门:</span>
                            <select style="width:180px;"id="bumen2" class="form-control" ></select>
                    </div>
                </form>
                <div>
                     <table class="table table-bordered table-condensed"  id="bmmingzibiao" >
                     	<thead>
		   					<tr>
		   						<th></th>
		   						<th>姓名</th>
		   						<th>工号</th>
		   						<th>出生日期</th>
		   						<th>性别</th>
		   						<th>职务</th>
		   					</tr>
		   				</thead>
		   				<tbody></tbody>
                     </table>
              </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" onclick="saveBaoguan()">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改培训资料</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="edit_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                            	<td style="width:20%;">培训类型 </td>
                                <td>
                                   <select class="form-control"  style="width:80%;" id="edit_px_type">
                                		<option value="外出培训">外出培训</option>
                                		<option value="外部培训">外部培训</option>
                                		<option value="内部培训">内部培训</option>
                                	</select>
                                </td>
                                <td style="width:20%;">培训课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control"  style="width:80%;" id="edit_class_name">
                                	</select>
                                </td>
                            </tr>
                            <tr>
                            	<td style="width:20%;">资料及证书保管部门  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<select class="form-control"  style="width:80%;" id="edit_department">
                                	</select>
                                </td>
                                <td>培训地点</td>
                                <td><input type="text" style="width:80%;" class="form-control" id="edit_addr"></td>
                            </tr>
                            <tr>
                            	<td>培训时间</td>
                                <td><input type="text" style="width:80%;" class="form-control" id="edit_year"></td>
                                <td>培训分类</td>
	                            <td>
	                            	<select class="form-control" id="xgtrainingType" style="width:80%;">
	                            			<option>技术类</option>
	                            			<option>管理类</option>
	                                </select>
	                            </td>
                            </tr>
                            <tr>
                                <td>培训自我总结（侧重于技术要点）</td>
                                <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="edit_summarize"></textarea></td>
                            </tr>
                        </table> 
                        <table class="table table-bordered table-condensed" id="xg_ziliao">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训发放资料<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td><button type="button" class="btn btn-primary weui-uploader__input" id="edit_uploaderBox">添加培训资料</button></td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="xg_zhengshu">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训获得证书</td>
                                	<td><button type="button" class="btn btn-primary weui-uploader__input" id="edit_uploaderBox2">添加培训证书</button></td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="xg_zwzongjie">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训自我总结</td>
                                	<td><button type="button" class="btn btn-primary weui-uploader__input" id="edit_uploaderBox3">添加培训自我总结</button></td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        	</tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <!-- <button type="button" class="btn btn-success" onclick="edit_save()">保存</button> -->
            <button type="button" class="btn btn-success" onclick="edit_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
<!-- Modal xg选人 -->
<div class="modal fade" id="xgaddGuanliren" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<form class="form-inline">
                    <div class="form-group">
                        	<span>部门:</span>
                            <select style="width:180px;"id="xgbumen2" class="form-control" ></select>
                    </div>
                </form>
                <div>
                     <table class="table table-bordered table-condensed"  id="xgbmmingzibiao" >
                     	<thead>
		   					<tr>
		   						<th></th>
		   						<th>姓名</th>
		   						<th>工号</th>
		   						<th>出生日期</th>
		   						<th>性别</th>
		   						<th>职务</th>
		   					</tr>
		   				</thead>
		   				<tbody></tbody>
                     </table>
              </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" onclick="xgsaveBaoguan()">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal xg选人结束 -->

<!-- 查看Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看培训资料</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="edit_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                            	<td style="width:20%;">培训类型</td>
                                <td style="width:30%;" id="look_px_type"></td>
                                <td style="width:20%;">培训课程名称</td>
                                <td style="width:30%;" id="look_class_name"></td>
                            </tr>
                            <tr>
                            	<td>资料及证书保管部门 </td>
                                <td id="look_department"></td>
                                <td>培训地点</td>
                                <td id="look_addr"></td>
                            </tr>
                            <tr>
                            	<td>培训时间</td>
                                <td id="look_year"></td>
                                <td>培训分类</td>
	                            <td id="looktrainingType"></td>
                            </tr>
                            <tr>
                                <td>培训自我总结（侧重于技术要点）</td>
                                <td colspan="3" id="look_summarize"></td>
                            </tr>
                        </table> 
                        <table class="table table-bordered table-condensed" id="look_ziliao">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训发放资料</td>
                                	<td>&nbsp</td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="look_zhengshu">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训获得证书</td>
                                	<td>&nbsp</td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                        <table class="table table-bordered table-condensed" id="look_zwzongjie">
                        	<thead>
                        		<tr>
                        			<td style="width:30%;">培训自我总结</td>
                                	<td>&nbsp</td>
                        			<td style="width:20%;">&nbsp</td>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		
                        	</tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
            
                </div>
                <div class="LowerPart" style="margin-top:3px;">
                    <table class="table table-bordered table-condensed" id="mainContent">
                        <thead>
                            <tr>
                                <th>培训课程名称</th>
                                <th>资料及证书保管部门 </th>
                                <th>培训地点</th>
                                <th>培训时间</th>
                                <th>培训分类</th>
                                <th style="width:100px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>   
                    </table>
                </div>
        </div>
        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
    	laydate.render({
            elem: '#edit_year' //指定元素
        });
        $('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
        initBaoGuanRen();
        initTable();
        $("#new_px_type").trigger("change");
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "daName"}, 
		            { "data": "omName"}, 
		            { "data": "trainingLocation"}, 
		            { "data": "trainingTime"}, 
		            { "data": "trainingType"},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 5,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	return '<i class="iconfont icon-icon-test Pbddb" style="font-size:18px;cursor:pointer;display:none;" onclick="lookAll(this)" title="查看"></i> &nbsp <i class="iconfont icon-xiugai Pbddc" style="font-size:18px;cursor:pointer;display:none;" title="修改" onclick="updateAll(this)"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pbddb") >= 0 ){
				                						$(".Pbddb").show();
				                					}
				                					if(arr[i].indexOf("Pbddc") >= 0 ){
				                						$(".Pbddc").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
  //不知部门选人
    var tableren=$('#bmmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var xgtableren=$('#xgbmmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/DataArchive/selectDataArchive',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					//console.log(arr2);
            					if(arr[i].indexOf("Pbddb") >= 0 ){
            						$(".Pbddb").show();
            					}
            					if(arr[i].indexOf("Pbddc") >= 0 ){
            						$(".Pbddc").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
                
            }
        });
    }
	
	function initBaoGuanRen(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/getOrgIdAndName',
	        dataType: 'json',
	        data: {
	        },
	        success: function (json) {
	        	//console.log(json)
	        	$("#department").html('');
	        	$("#edit_department").html('');
	        	 for(var i=0;i<json.length;i++){
	        		$("#bumen2").append( "<option value='" + json[i].omId + "'>"+ json[i].omName + "</option>");
	        		$("#xgbumen2").append( "<option value='" + json[i].omId + "'>"+ json[i].omName + "</option>");
	        		$("#department").append( "<option value='" + json[i].omId + "'>"+ json[i].omName + "</option>");
	        		$("#edit_department").append( "<option value='" + json[i].omId + "'>"+ json[i].omName + "</option>");
	        	} 
	        	$("#bumen2").trigger('change');
	        	$("#xgbumen2").trigger('change');
	        }
	    });
	}
	$("#bumen2").change(function(){
		var bumen=$("#bumen2").val();
		$('#addGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#bmmingzibiao').dataTable().fnClearTable();
                $('#bmmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//保存参加人员 
	function saveBaoguan(){
		var a=$("input[name='mingzi']:checked").parent().next().text();
		$("#new_join_user").val(a);
		$("#addGuanliren").modal("hide");
	}
	
	$("#xgbumen2").change(function(){
		var bumen=$("#xgbumen2").val();
		$('#xgaddGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#xgbmmingzibiao').dataTable().fnClearTable();
                $('#xgbmmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//修改添加保管人
	function xgsaveBaoguan(){
		var a=$("input[name='mingzi']:checked").parent().next().text();
		$("#edit_join_user").val(a);
		$("#xgaddGuanliren").modal("hide");
	}
	
	
	
	function new_save(){
		var new_class_name=$("#new_class_name").val();
		var department=$("#department").val();
		var new_addr=$("#new_addr").val();
		var year=$("#year").val();
		var new_summarize=$("#new_summarize").val();
		var trainingType=$("#trainingType").val()
		if(new_class_name==''){
    		toastr.error("培训课程名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/DataArchive/addDataArchiveBySave',
	            dataType: 'json',
	            data: {
	            	daName:new_class_name,
	            	safekeepingDepartment:department,
	            	trainingLocation:new_addr,
	            	trainingTime:year,
	            	credentialDesc:new_summarize,
	            	trainingType:trainingType,
	            },
	            success: function (json) {
	            	if(json==0){
	            		toastr.error("保存失败");
	            	}else{
	            		$("#myModal").modal("hide");
	            		toastr.success("保存成功");
	            	}
	            }
		}
		$("#new_form").ajaxSubmit(options);
	}
	
	function new_submit(){
		var px_type=$("#new_px_type").val();
		var new_class_name=$("#new_class_name").val();
		var department=$("#department").val();
		var new_addr=$("#new_addr").val();
		var year=$("#year").val();
		var new_summarize=$("#new_summarize").val();
		var trainingType=$("#trainingType").val();
		if(new_class_name==''){
    		toastr.error("培训课程名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/DataArchive/addDataArchiveBySubmit',
	            dataType: 'json',
	            data: {
					daType:px_type,        		
	            	daName:new_class_name,
	            	safekeepingDepartment:department,
	            	trainingLocation:new_addr,
	            	trainingTime:year,
	            	credentialDesc:new_summarize,
	            	trainingType:trainingType
	            },
	            success: function (json) {
	            	if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#myModal").modal("hide");
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	}
	            	/* if(json==0){
	            		toastr.error("提交失败");
	            	}else{
	            		$("#myModal").modal("hide");
	            		toastr.success("提交成功");
	            	} */
	            }
		}
		$("#new_form").ajaxSubmit(options);
	}
	
	function submitPerson(){
  	  var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
	var edit_id;
	var tr;
	function updateAll(obj){
		 tr = $(obj).closest('tr');
		 var dom=$(obj).parents("tr");
		 var data=$('#mainContent').DataTable().row(dom).data();
		 edit_id=data.daId;
		 
		 $("#edit_px_type").val(data.daType);
		 initEditDaName(data.daType,data.daName);
		 $("#edit_department").val(data.safekeepingDepartment);
		 $("#edit_addr").val(data.trainingLocation);
		 $("#edit_year").val(data.trainingTime);
		 $("#edit_summarize").val(data.credentialDesc);
		 $("#xgtrainingType").val(data.trainingType)
		 $.ajax({
				type:"post",
				url:getContextPath()+"/accessory/selectAccessoryById",
				dataType:"json",
				data:{
					id:edit_id,
				},
				success:function(json){
					$("#xg_ziliao tbody").empty();
		 			$("#xg_zhengshu tbody").empty();
		 			$("#xg_zwzongjie tbody").empty();
		            for(var i=0;i<json.length;i++){
		            	if(json[i].aType=="资料"){
		            		$("#xg_ziliao tbody").append("<tr><td>附件</td><td><input style='width:80%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data="+json[i].aId+" data2="+json[i].acUrl+" onclick='deleteFile(this)' class='btn btn-primary'>删除附件</button></td></tr>")	 
		            	}
		            	if(json[i].aType=="证书"){
		            		$("#xg_zhengshu tbody").append("<tr><td>附件</td><td><input style='width:80%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data="+json[i].aId+" data2="+json[i].acUrl+" onclick='deleteFile(this)' class='btn btn-primary'>删除附件</button></td></tr>")	 
		            	}
		            	if(json[i].aType=="自我总结"){
		            		$("#xg_zwzongjie tbody").append("<tr><td>附件</td><td><input style='width:80%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data="+json[i].aId+" data2="+json[i].acUrl+" onclick='deleteFile(this)' class='btn btn-primary'>删除附件</button></td></tr>")	 
		            	}
		            	   
		            }
				}
			})
		$("#change").modal("show");
	}
	
	function lookAll(obj){
		 var dom=$(obj).parents("tr");
		 var data=$('#mainContent').DataTable().row(dom).data();
		 $("#look_px_type").text(data.daType)
		 $("#look_class_name").text(data.daName);
		 $("#look_department").text(data.omName);
		 $("#look_addr").text(data.trainingLocation);
		 $("#look_year").text(data.trainingTime);
		 $("#look_summarize").text(data.credentialDesc);
		 $("#looktrainingType").text(data.trainingType)
		 $.ajax({
				type:"post",
				url:getContextPath()+"/accessory/selectAccessoryById",
				dataType:"json",
				data:{
					id:data.daId,
				},
				success:function(json){
					console.log(json)
					$("#look_ziliao tbody").empty();
		 			$("#look_zhengshu tbody").empty();
		 			$("#look_zwzongjie tbody").empty();
		            for(var i=0;i<json.length;i++){
		            	if(json[i].aType=="资料"){
		            		$("#look_ziliao tbody").append("<tr><td>附件</td><td><input style='width:100%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data2="+json[i].acUrl+" onclick='downloadFile(this)' class='btn btn-primary'>下载附件</button></td></tr>")	 
		        		}
		            	if(json[i].aType=="证书"){
		            		 $("#look_zhengshu tbody").append("<tr><td>附件</td><td><input style='width:100%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data2="+json[i].acUrl+" onclick='downloadFile(this)' class='btn btn-primary'>下载附件</button></td></tr>")	 
		   			 	}
		            	if(json[i].aType=="自我总结"){
		            		$("#look_zwzongjie tbody").append("<tr><td>附件</td><td><input style='width:100%;' type='text' value="+json[i].acName+" class='form-control' disabled/></td><td><button type='button' data2="+json[i].acUrl+" onclick='downloadFile(this)' class='btn btn-primary'>下载附件</button></td></tr>")	 
		   			 	}
		            	   
		            }
				}
			})
		 
		$("#look").modal("show");
	}
	
	function initEditDaName(obj,obj2){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/DataArchive/getallName',
	        dataType: 'json',
	        data: {
	        	type:obj
	        },
	        success: function (json) {
	        	var allName=json.allNamelist
	        	$("#edit_class_name").empty();
	        	for(var i=0;i<allName.length;i++){
	        		 $("#edit_class_name").append( "<option value='" + allName[i].daName + "'>"+ allName[i].daName + "</option>");
	        	}
	        	$("#edit_class_name").val(obj2);
	        }
	    });
	}
	
	function downloadFile(obj){
		var filePath=$(obj).attr("data2");
		var fileName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
	
	function deleteFile(obj){
		var aId=$(obj).attr("data");
		var acUrl=$(obj).attr("data2");
		var acName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/DataArchive/deleteAccessory',
            dataType: 'json',
            data: {
            	aId:aId,
            	acUrl:acUrl,
            	acName:acName
            },
            success: function (json) {
                if(json==0){
                	toastr.error("删除失败");
                }else{
                	$(obj).parents("tr").remove();
                	toastr.success("删除成功");
                }
            }
        });
	}
	
	function edit_save(){
		 var daName=$("#edit_class_name").val();
		 var edit_department=$("#edit_department").val();
		 var trainingLocation=$("#edit_addr").val();
		 var trainingTime=$("#edit_year").val();
		 var credentialDesc=$("#edit_summarize").val();
		 var xgtrainingType=$("#xgtrainingType").val();
		 if(daName==''){
	    		toastr.error("培训课程名称不能为空");
	    		return;
	    	}
		 var addJson={
					"daId":edit_id,
					"daName":daName,
					"omName":$("#edit_department").find("option:selected").text(),
					"trainingLocation":trainingLocation,
					"trainingTime":trainingTime,
					"safekeepingDepartment":edit_department,
					"credentialDesc":credentialDesc,
					"trainingType":xgtrainingType,
			}
		 var options={
				type: 'POST',
				url: getContextPath()+'/DataArchive/updateDataArchiveBySave',
	            dataType: 'json',
	            data: {
	            	daId:edit_id,
	            	daName:daName,
	            	safekeepingDepartment:edit_department,
	            	trainingLocation:trainingLocation,
	            	trainingTime:trainingTime,
	            	credentialDesc:credentialDesc,
	            	trainingType:xgtrainingType,
	            },
	            success: function (json) {
	            	if(json==0){
	            		toastr.error("保存失败");
	            	}else{
	            		$('#mainContent').DataTable().row(tr).data(addJson);//修改行立即显示
	            		$(".Pbddb").show();
						$(".Pbddc").show();
	            		$("#change").modal("hide");
	            		toastr.success("保存成功");
	            	}
	            }
		 }
		 $("#edit_form").ajaxSubmit(options);
	}
	
	function edit_submit(){
		var daType=$("#edit_px_type").val();
		 var daName=$("#edit_class_name").val();
		 var edit_department=$("#edit_department").val();
		 var trainingLocation=$("#edit_addr").val();
		 var trainingTime=$("#edit_year").val();
		 var credentialDesc=$("#edit_summarize").val();
		 var xgtrainingType=$("#xgtrainingType").val();
		 if(daName==''){
	    		toastr.error("培训课程名称不能为空");
	    		return;
	    	}
		 var addJson={
					"daId":edit_id,
					"daType":daType,
					"daName":daName,
					"omName":$("#edit_department").find("option:selected").text(),
					"trainingLocation":trainingLocation,
					"trainingTime":trainingTime,
					"safekeepingDepartment":edit_department,
					"credentialDesc":credentialDesc,
					"trainingType":xgtrainingType,
			}
		 var options={
				type: 'POST',
				url: getContextPath()+'/DataArchive/updateDataArchiveBySubmit',
	            dataType: 'json',
	            data: {
	            	daId:edit_id,
	            	daType:daType,
	            	daName:daName,
	            	safekeepingDepartment:edit_department,
	            	trainingLocation:trainingLocation,
	            	trainingTime:trainingTime,
	            	credentialDesc:credentialDesc,
	            	trainingType:xgtrainingType
	            },
	            success: function (json) {
	            	if(json==0){
	            		toastr.error("提交失败");
	            	}else{
	            		$('#mainContent').DataTable().row(tr).data(addJson);//修改行立即显示
	            		$(".Pbddb").show();
						$(".Pbddc").show();
	            		$("#change").modal("hide");
	            		toastr.success("提交成功");
	            	}
	            }
		 }
		 $("#edit_form").ajaxSubmit(options);
	}
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })

    
    $("#uploaderBox").on("click", function(e) {
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#ziliao tbody").append($(newFileInput));
    });
    $("#uploaderBox2").on("click", function(e) {
    	var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file2' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#zhengshu tbody").append($(newFileInput));
    }); 
    $("#uploaderBox3").on("click", function(e) {
    	var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file3' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#zwzongjie tbody").append($(newFileInput));
    });
    
    $("#edit_uploaderBox").on("click", function(e) {
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#xg_ziliao tbody").append($(newFileInput));
    });
    $("#edit_uploaderBox2").on("click", function(e) {
    	var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file2' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#xg_zhengshu tbody").append($(newFileInput));
    }); 
    $("#edit_uploaderBox3").on("click", function(e) {
    	var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file3' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#xg_zwzongjie tbody").append($(newFileInput));
    }); 

    function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}
    
    $("#new_px_type").on("change",function(){
    	var type=$("#new_px_type").val();
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/DataArchive/getallName',
	        dataType: 'json',
	        data: {
	        	type:type
	        },
	        success: function (json) {
	        	var allName=json.allNamelist
	        	$("#new_class_name").empty();
	        	 for(var i=0;i<allName.length;i++){
	        		 $("#new_class_name").append( "<option value='" + allName[i].daName + "'>"+ allName[i].daName + "</option>");
	        	} 
	        }
	    });
    })
    
    $("#edit_px_type").on("change",function(){
    	var type=$("#edit_px_type").val();
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/DataArchive/getallName',
	        dataType: 'json',
	        data: {
	        	type:type
	        },
	        success: function (json) {
	        	var allName=json.allNamelist
	        	$("#edit_class_name").empty();
	        	 for(var i=0;i<allName.length;i++){
	        		 $("#edit_class_name").append( "<option value='" + allName[i].daName + "'>"+ allName[i].daName + "</option>");
	        	} 
	        }
	    });
    })
    
</script>
</html>