<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
	<link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        @media screen and (max-width: 1920px) {
    #change2 {
        margin-bottom:150px !important;
    }
}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
            <li>培训管理</li>
            <li class="active">外部培训申请</li>
		</ul>
    </div>

    <div class="zhuti-content">

        <div>
                <div class="UpperPart">
                    <div class="UpperPartL">
                        
                    </div>
                    <div class="UpperPartR">
                        <button type="button" class="btn btn-primary Pbdba" data-toggle="modal" data-target="#myModal2">填报外部培训申请</button>
                    </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>填报外部培训申请</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline"  id="new_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td style="width:15%;">主题  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" style="width:60%;" class="form-control" id="new_title">
                                </td>
                                <td style="width:15%;">部门</td>
                                <td style="width:35%;">
                                    <select class="form-control" style="width:60%;" id="new_department">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;">培训机构名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" style="width:60%;" class="form-control" id="new_training_name">
                                </td>
                                <td style="width:15%;">培训机构资质能力</td>
                                <td style="width:35%;">
                                	<input type="text" style="width:60%;" class="form-control" id="new_training_lv">
                                    <!-- <select class="form-control" style="width:60%;" id="new_training_lv">
                                        <option value="一般">一般</option>
                                        <option value="良好">良好</option>
                                        <option value="优秀">优秀</option>
                                    </select> -->
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;">课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" style="width:60%;" class="form-control" id="new_className">
                                </td>
                                <td style="width:15%;">培训时间</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="year"></td>
                            </tr>
                            <tr>
                                <td style="width:15%;">培训地点</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="new_addr"></td>
                                <td style="width:15%;">培训费用</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="new_money"></td>
                            </tr>
                            <tr>
                                <td  style="width:15%;">参加人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td  style="width:35%;" colspan="3">
                                	<input type="text" style="width:80%;" class="form-control" id="new_users" disabled>
                                	<button type="button" class="btn btn-primary"  id="choseren">选择人员</button>
                                    <!-- <select class="selectpicker show-tick form-control"  style="width:100%;" id="new_users" multiple data-live-search="true">
                                    </select> -->
                                </td>
                            </tr>
                            <tr>
                                <td>课程内容</td>
                                <td colspan="3"><textarea class="form-control" rows="4" style="width:100%;" id="new_course_desc"></textarea></td>
                            </tr>
                            <tr>
                                <td>预期培训目标</td>
                                <td colspan="3"><textarea class="form-control" rows="4" style="width:100%;" id="new_training_reason"></textarea></td>
                            </tr>
                            <tr>
                            <td>附件</td>
                            <td colspan="3">
                                <button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox">添加附件</button>
                            </td>
                        </tr>
                        </table>
                        <table class="table table-bordered table-condensed" id="new_table">
                    	
                    	</table>  
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="new_save()">保存</button>
            <button type="button" class="btn btn-success"  onclick="new_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal选人 -->
<div class="modal fade" id="people" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<table class="table table-bordered table-condensed" id="mingzibiao">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="querenciren">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel_edit"><b>修改外部培训申请</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline"  id="edit_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td style="width:15%;">主题  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" class="form-control"  style="width:60%;" id="edit_title">
                                </td>
                                <td style="width:15%;">部门</td>
                                <td style="width:35%;">
                                    <select class="form-control" style="width:60%;" id="edit_department">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;">培训机构名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" class="form-control" style="width:60%;" id="edit_training_name">
                                </td>
                                <td style="width:15%;">培训机构资质能力</td>
                                <td style="width:35%;">
                                	<input type="text" style="width:60%;" class="form-control" id="edit_training_lv">
                                    <!-- <select class="form-control"style="width:60%;" id="edit_training_lv">
                                        <option value="一般">一般</option>
                                        <option value="良好">良好</option>
                                        <option value="优秀">优秀</option>
                                    </select> -->
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;">课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <input type="text" style="width:60%;" class="form-control" id="edit_className">
                                </td>
                                <td style="width:15%;">培训时间</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_year"></td>
                            </tr>
                            <tr>
                                <td style="width:15%;">培训地点</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_addr"></td>
                                <td style="width:15%;">培训费用</td>
                                <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_money"></td>
                            </tr>
                            <tr>
                                <td style="width:15%;">参加人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;" colspan="3">
                                	<input type="text" style="width:80%;" class="form-control" id="edit_users" disabled>
                                	<button type="button" class="btn btn-primary"  id="xgchoseren">选择人员</button>
                                    <!-- <select class="selectpicker show-tick form-control"  style="width:100%;" id="edit_users" multiple data-live-search="true">
                                    </select> -->
                                </td>
                            </tr>
                            <tr>
                                <td>课程内容</td>
                                <td colspan="3"><textarea class="form-control" rows="4" style="width:100%;" id="edit_course_desc"></textarea></td>
                            </tr>
                            <tr>
                                <td>预期培训目标</td>
                                <td colspan="3"><textarea class="form-control" rows="4" style="width:100%;" id="edit_training_reason"></textarea></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed" id="edit_table">
                    	</table>  
                    </form>  
                </div>
        </div>
        <div class="modal-footer" id="edit_button">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="edit_save()">保存</button>
            <button type="button" class="btn btn-success" onclick="edit_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
<!-- Modal xg选人 -->
<div class="modal fade" id="xgpeople" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<table class="table table-bordered table-condensed" id="xgmingzibiao">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="xgquerenciren">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal xg选人结束 -->
            
                </div>
                <div class="LowerPart" style="margin-top:3px;">
                    <table class="table table-bordered table-condensed" id="mainContent">
                        <thead>
                            <tr>
                                <th>主题</th>
                                <th>课程名称</th>
                                <th>培训机构名称</th>
                                <th>申请部门</th>
                                <th>培训地点</th>
                                <th>培训时间</th>
                                <th style="width:75px;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>   
                    </table>
                </div> 
        </div>
        
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline" id="look_form" method="post" enctype="multipart/form-data">
                    <table class="table table-bordered table-condensed">
                           <tr>
                               <td style="width:100px;">主题  </td>
                               <td id="looktitle"></td>
                               <td style="width:100px;">部门</td>
                               <td id="lookdepartment"></td>
                           </tr>
                           <tr>
                               <td>培训机构名称  </td>
                               <td id="looktraining_name"></td>
                               <td>培训机构资质能力</td>
                               <td id="looktraining_lv"></td>
                           </tr>
                           <tr>
                               <td>课程名称  </td>
                               <td id="lookclassName"></td>
                               <td>培训时间</td>
                               <td id="lookyear"></td>
                           </tr>
                           <tr>
                               <td>培训地点</td>
                               <td id="lookaddr"></td>
                               <td>培训费用</td>
                               <td id="lookmoney"></td>
                           </tr>
                           <tr>
                               <td>参加人员  </td>
                               <td colspan="3" id="lookusers" ></td>
                           </tr>
                           <tr>
                               <td>课程内容</td>
                               <td colspan="3" id="lookcourse_desc"></td>
                           </tr>
                           <tr>
                               <td>预期培训目标</td>
                               <td colspan="3" id="looktraining_reason"></td>
                           </tr>
                       </table>
                    <table class="table table-bordered table-condensed" id="looktable">
                    	
                    </table> 
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
       	laydate.render({
       		elem: '#edit_year' //指定元素
        });
        $('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
        initTable();
        initDepartment();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "otaTitle"}, 
		            { "data": "courseName"}, 
		            { "data": "trainingName"}, 
		            { "data": "omName"}, 
		            { "data": "trainingLocation"}, 
		            { "data": "trainingDate"}, 
		            { "data": null},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 6,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	return '<i class="iconfont icon-icon-test Pbdbb" style="font-size:18px;cursor:pointer;display:none;" onclick="lookAll(this)" title="查看"></i> &nbsp <i class="iconfont icon-xiugai Pbdbc" style="font-size:18px;cursor:pointer;display:none;" title="修改" onclick="updateAll(this)"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pbdbb") >= 0 ){
				                						$(".Pbdbb").show();
				                					}
				                					if(arr[i].indexOf("Pbdbc") >= 0 ){
				                						$(".Pbdbc").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
  //已知部门选人
    var tableren=$('#mingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="checkbox" name="mingzi" onclick="chooseBox(this)" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var xgtableren=$('#xgmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="checkbox" name="xgmingzi" onclick="xgChooseBox(this)" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/OutTrainAll/selectOutTrainAll',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					//console.log(arr2);
            					if(arr[i].indexOf("Pbdbb") >= 0 ){
            						$(".Pbdbb").show();
            					}
            					if(arr[i].indexOf("Pbdbc") >= 0 ){
            						$(".Pbdbc").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
                
            }
        });
    }
	
	
	function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getAllOrganizationManagement',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $("#new_department").html('');
                $("#edit_department").html('');
                for(var i=0;i<json.length;i++){
                	$("#new_department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#edit_department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                }
                $("#new_department").trigger("change");
                $("#edit_department").trigger("change");
            }
        });
	}
	//已知部门，获取部门所属人员
	$("#choseren").click(function(){
		arr=[];
		$("#people").modal("show");
		$('#people').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/user/selectUserByomId',
	            dataType: 'json',
	            async:false,
	            data: {
	            	omId:$("#new_department").val()
	            },
	            success: function (json) {
	            	//console.log(json)
	                $('#mingzibiao').dataTable().fnClearTable();
	                $('#mingzibiao').DataTable().rows.add(json).draw(false);
	            }
	        });
	})
	
	$("#xgchoseren").click(function(){
		xgarr=[];
		$("#xgpeople").modal("show");
		$('#xgpeople').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/user/selectUserByomId',
	            dataType: 'json',
	            async:false,
	            data: {
	            	omId:$("#edit_department").val()
	            },
	            success: function (json) {
	            	//console.log(json)
	                $('#xgmingzibiao').dataTable().fnClearTable();
	                $('#xgmingzibiao').DataTable().rows.add(json).draw(false);
	            }
	        });
	})
	
	var arr=new Array();
	function chooseBox(obj){
		var name=$(obj).parent().next().text();
		if($(obj).prop('checked')){
			arr.push(name)
		}else{
			arr.splice($.inArray(name,arr),1);
		}
	}
	
	//添加人员到input框  多选
	$("#querenciren").click(function(){
		/* var arr=[];
		$("#mingzibiao").find("input[name='mingzi']:checked").each(function(i){
			var name=$(this).parent().next().text();
			console.log(name)
			arr.push(name);
		}) */
		 $("#new_users").val(arr.toString());
		 $("#people").modal("hide");
	})
	
	var xgarr=new Array();
	function xgChooseBox(obj){
		var name=$(obj).parent().next().text();
		if($(obj).prop('checked')){
			xgarr.push(name)
		}else{
			xgarr.splice($.inArray(name,xgarr),1);
		}
	}
	
	
	$("#xgquerenciren").click(function(){
		/* 
		$("input[name='xgmingzi']:checked").each(function(i){
			arr[i]=$(this).parent().next().text();
		})
		 var b="";
		 for(var i=0;i<arr.length;i++){
				if(i<arr.length-1){
					b+=arr[i]+","
				}else{
					b+=arr[i]
				}
			} */
		$("#edit_users").val(xgarr.toString());
		$("#xgpeople").modal("hide");
	})
	
	
	function new_save(){
		var new_title=$("#new_title").val();
		var users=$("#new_users").val().toString();
		var new_department=$("#new_department").val();
		var new_training_name=$("#new_training_name").val();
		var new_training_lv=$("#new_training_lv").val();
		var new_className=$("#new_className").val();
		var year=$("#year").val();
		var new_addr=$("#new_addr").val();
		var new_money=$("#new_money").val();
		var new_course_desc=$("#new_course_desc").val();
		var new_training_reason=$("#new_training_reason").val();
		if(new_title==''){
    		toastr.error("主题不能为空");
    		return;
    	}
		if(users==''){
    		toastr.error("参加人员不能为空");
    		return;
    	}
		if(new_className==''){
    		toastr.error("课程名称不能为空");
    		return;
    	}
		if(new_department==''){
    		toastr.error("培训机构名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/OutTrainAll/addOutTrainAllBySave',
	            dataType: 'json',
	            data: {
	            	otaTitle:new_title,
	            	omId:new_department,
	            	trainingName:new_training_name,
	            	trainingLv:new_training_lv,
	            	courseName:new_className,
	            	trainingLocation:new_addr,
	            	trainingMoney:new_money,
	            	trainingDate:year,
	            	attendees:users,
	            	courseDesc:new_course_desc,
	            	trainingReason:new_training_reason
	            },
	            success: function (json) {
	            	if(json==0){
	            	    toastr.error("保存失败");
	            	}else{
	            		$("#myModal2").modal("hide");
	            		toastr.success("保存成功");
	            	}
	            }
		}
		$("#new_form").ajaxSubmit(options);
	}
	
	
	function new_submit(){
		var new_title=$("#new_title").val();
		var users=$("#new_users").val().toString();
		var new_department=$("#new_department").val();
		var new_training_name=$("#new_training_name").val();
		var new_training_lv=$("#new_training_lv").val();
		var new_className=$("#new_className").val();
		var year=$("#year").val();
		var new_addr=$("#new_addr").val();
		var new_money=$("#new_money").val();
		var new_course_desc=$("#new_course_desc").val();
		var new_training_reason=$("#new_training_reason").val();
		if(new_title==''){
    		toastr.error("主题不能为空");
    		return;
    	}
		if(users==''){
    		toastr.error("参加人员不能为空");
    		return;
    	}
		if(new_className==''){
    		toastr.error("课程名称不能为空");
    		return;
    	}
		if(new_department==''){
    		toastr.error("培训机构名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/OutTrainAll/addOutTrainAllBySubmit',
	            dataType: 'json',
	            data: {
	            	otaTitle:new_title,
	            	omId:new_department,
	            	trainingName:new_training_name,
	            	trainingLv:new_training_lv,
	            	courseName:new_className,
	            	trainingLocation:new_addr,
	            	trainingMoney:new_money,
	            	trainingDate:year,
	            	attendees:users,
	            	courseDesc:new_course_desc,
	            	trainingReason:new_training_reason
	            },
	            success: function (json) {
	            	if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#myModal2").modal("hide");
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	}
	            	/* if(json==0){
	            	    toastr.error("新建提交失败");
	            	}else{
	            		$("#myModal2").modal("hide");
	            		toastr.success("新建提交成功");
	            	} */
	            }
		}
		$("#new_form").ajaxSubmit(options);
	}
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
	var edit_id;
	function updateAll(obj){
		var dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		edit_id=data.otaId;
		$("#edit_title").val(data.otaTitle);
		$("#edit_department").val(data.omId);
		$("#edit_training_name").val(data.trainingName);
		$("#edit_training_lv").val(data.trainingLv);
		$("#edit_className").val(data.courseName);
		$("#edit_year").val(data.trainingDate);
		$("#edit_addr").val(data.trainingLocation);
		$("#edit_money").val(data.trainingMoney);
		$("#edit_course_desc").val(data.courseDesc);
		$("#edit_training_reason").val(data.trainingReason);
		$("#edit_users").val(data.attendees);
		$("#edit_button").html('');
		$("#edit_button").append('<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>'+
		        '<button type="button" class="btn btn-success" onclick="edit_save()">保存</button>'+
		        '<button type="button" class="btn btn-success" onclick="edit_submit()">提交</button>');
		
		$("#edit_table").html('');
		 $("#edit_table").append('<thead>'+
	     			'<tr><td style="width:30%;">附件</td>'+
	     			'<td><button type="button" class="btn btn-primary weui-uploader__input" onclick="edit_uploaderBox()">添加附件</button></td>'+
	                '<td style="width:20%;">&nbsp</td></tr>'+
				'</thead><tbody></tbody>');
        var acc=data.accessory;
		 for(var i=0;i<acc.length;i++){
			 $("#edit_table tbody").append("<tr><td>附件"+(i+1)+"</td><td><input style='width:100%;' type='text' value="+acc[i].acName+" class='form-control' disabled/></td><td><button type='button' data="+acc[i].aId+" data2="+acc[i].acUrl+" onclick='deleteFile(this)' class='btn btn-primary'>删除附件</button></td></tr>")	 
		 }   
		
		$("#change2").modal("show");
	}
	
	function deleteFile(obj){
		var aId=$(obj).attr("data");
		var acUrl=$(obj).attr("data2");
		var acName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/outTrain/deleteAccessory',
            dataType: 'json',
            data: {
            	aId:aId,
            	acUrl:acUrl,
            	acName:acName
            },
            success: function (json) {
                if(json==0){
                	toastr.error("删除失败");
                }else{
                	$(obj).parents("tr").remove();
                	toastr.success("删除成功");
                }
            }
        });
	}
	
	function edit_save(){
		var otaTitle=$("#edit_title").val();
		var omId=$("#edit_department").val();
		var trainingName=$("#edit_training_name").val();
		var trainingLv=$("#edit_training_lv").val();
		var courseName=$("#edit_className").val();
		var trainingDate=$("#edit_year").val();
		var trainingLocation=$("#edit_addr").val();
		var trainingMoney=$("#edit_money").val();
		var courseDesc=$("#edit_course_desc").val();
		var trainingReason=$("#edit_training_reason").val();
		var users=$("#edit_users").val().toString();
		if(otaTitle==''){
    		toastr.error("主题不能为空");
    		return;
    	}
		if(users==''){
    		toastr.error("参加人员不能为空");
    		return;
    	}
		if(courseDesc==''){
    		toastr.error("课程名称不能为空");
    		return;
    	}
		if(trainingName==''){
    		toastr.error("培训机构名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/OutTrainAll/updateOutTrainAllBySave',
	            dataType: 'json',
	            data: {
	            	otaId:edit_id,            	
	            	otaTitle:otaTitle,
	            	omId:omId,
	            	trainingName:trainingName,
	            	trainingLv:trainingLv,
	            	courseName:courseName,
	            	trainingLocation:trainingLocation,
	            	trainingMoney:trainingMoney,
	            	trainingDate:trainingDate,
	            	attendees:users,
	            	courseDesc:courseDesc,
	            	trainingReason:trainingReason
	            },
	            success: function (json) {
	            	if(json==0){
	            	    toastr.error("修改保存失败");
	            	}else{
	            		$("#change2").modal("hide");
	            		toastr.success("修改保存成功");
	            	}
	            }
		}
		$("#edit_form").ajaxSubmit(options);
	}
	
	
	function edit_submit(){
		var otaTitle=$("#edit_title").val();
		var omId=$("#edit_department").val();
		var trainingName=$("#edit_training_name").val();
		var trainingLv=$("#edit_training_lv").val();
		var courseName=$("#edit_className").val();
		var trainingDate=$("#edit_year").val();
		var trainingLocation=$("#edit_addr").val();
		var trainingMoney=$("#edit_money").val();
		var courseDesc=$("#edit_course_desc").val();
		var trainingReason=$("#edit_training_reason").val();
		var users=$("#edit_users").val().toString();
		if(otaTitle==''){
    		toastr.error("主题不能为空");
    		return;
    	}
		if(users==''){
    		toastr.error("参加人员不能为空");
    		return;
    	}
		if(courseDesc==''){
    		toastr.error("课程名称不能为空");
    		return;
    	}
		if(trainingName==''){
    		toastr.error("培训机构名称不能为空");
    		return;
    	}
		var options={
				type: 'POST',
				url: getContextPath()+'/OutTrainAll/updateOutTrainAllBySubmit',
	            dataType: 'json',
	            data: {
	            	otaId:edit_id,            	
	            	otaTitle:otaTitle,
	            	omId:omId,
	            	trainingName:trainingName,
	            	trainingLv:trainingLv,
	            	courseName:courseName,
	            	trainingLocation:trainingLocation,
	            	trainingMoney:trainingMoney,
	            	trainingDate:trainingDate,
	            	attendees:users,
	            	courseDesc:courseDesc,
	            	trainingReason:trainingReason
	            },
	            success: function (json) {
	            	if(json==0){
	            	    toastr.error("修改提交失败");
	            	}else{
	            		$("#change2").modal("hide");
	            		toastr.success("修改提交成功");
	            	}
	            }
		}
		$("#edit_form").ajaxSubmit(options);
	}
	
	function lookAll(obj){
		$("#allMsg1").modal("show");
		
		var dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		$("#looktitle").text(data.otaTitle);
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/getOrgNameById',
	        dataType: 'json',
	        data: {
	        	omId:data.omId
	        },
	        success: function (json) {
	        	console.log(json)
	        	$("#lookdepartment").text(json.omName);
	        }
	    });
		$("#looktraining_name").text(data.trainingName);
		$("#looktraining_lv").text(data.trainingLv);
		$("#lookclassName").text(data.courseName);
		$("#lookyear").text(data.trainingDate);
		$("#lookaddr").text(data.trainingLocation);
		$("#lookmoney").text(data.trainingMoney);
		$("#lookcourse_desc").text(data.courseDesc);
		$("#looktraining_reason").text(data.trainingReason);
		$("#lookusers").text(data.attendees);
		$("#lookbutton").html('');
		$("#lookbutton").append('<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>');
		
		$("#looktable").html('');
		 var acc=data.accessory;
		 for(var i=0;i<acc.length;i++){
			 $("#looktable").append("<tr><td>附件"+(i+1)+"</td><td><input style='width:100%;' type='text' value="+acc[i].acName+" class='form-control' disabled/></td><td><button type='button' data2="+acc[i].acUrl+" onclick='downloadFile(this)' class='btn btn-primary'>下载附件</button></td></tr>")	 
		 }
		
		
	}
	
	function downloadFile(obj){
		var filePath=$(obj).attr("data2");
		var fileName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }
    
    $("#uploaderBox").on("click", function(e) {
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' class='form-control' /></td></tr>";
        $("#new_table").append($(newFileInput));
    });
    
    function edit_uploaderBox(){
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' class='form-control' /></td><td></td></tr>";
        $("#edit_table tbody").append($(newFileInput));
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })
//数组去重
Array.prototype.unique3 = function(){
 var res = [];
 var json = {};
 for(var i = 0; i < this.length; i++){
  if(!json[this[i]]){
   res.push(this[i]);
   json[this[i]] = 1;
  }
 }
 return res;
}

    var arr=[];
    //$('#renwuDanhao')[0].selectedIndex = -1;
    $("#renwuDanhao").change(function(){
        arr.push($("#renwuDanhao").val())
        $("#rwdh").text(arr.unique3())
    })
    var arr2=[];
    //$('#renwuDanhao2')[0].selectedIndex = -1;
    $("#renwuDanhao2").change(function(){
        arr2.push($("#renwuDanhao2").val())
        $("#rwdh2").text(arr2.unique3())
    })
    
    $(".quxiao").click(function(){
        if(confirm("确定要撤销吗？")){
            return true;
        }
        else{
            return false;
        }
    })

</script>
</html>