<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OA</title>
	<link href="../style/bootstrap.min.css" rel="stylesheet">
	<link href="../style/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../font2/iconfont.css">
	<link rel="stylesheet" href="../style/jquery.dataTables.min.css">
	<style>
		
		#titles{
            width:100%;
            height:60px;
            text-indent:16px;
            padding-top:6px;
            background:#eee;
        }
        #srcontent{
            width:100%;
        }
        #BTon{
            text-align:right;
            margin-top:18px;
            margin-right:36px;
        }
        .lianjieColor{
            color: #3d7dd5;
        }
        @media screen and (max-width: 1366px) {
		    .home-content{
		        margin-bottom:150px !important;
		    }
		}
		@media screen and (max-width: 1920px) {
		    .dada{
		        margin-bottom:120px !important;
		    }
		}
	</style>
</head>
<body>
	
	<div class="home-content" style="background:#fff;width:100%;height:100%;position:absolute;">
		<div class="home-import">
			<div class="unfinish mission">
				<table id="tb1" class="tb1 table table-hover">
					<tr class="tb1-unfinish">
                        <th>
                            <i class="iconfont icon-web-icon-" style="font-size:18px;"></i>待办任务(<span>10</span>)
                            <span style="cursor: pointer;margin-left:50%;"><a href="./gerenRenwu/JobManagement.html">查看更多</a></span>
                        </th>
					</tr>
				</table>
			</div>

				<div class="management-notifications mission">
					<table id="tb3" class="tb3 table table-hover">
						<tr class="tb3-management">
							<th colspan="2">
                                <i class="iconfont icon-3" style="font-size:18px;"></i>任务通知(<span>10</span>)
                                <span style="cursor: pointer;margin-left:50%;"><a href="./gerenRenwu/BusinessNotice.html">查看更多</a></span>
                            </th>
						</tr>
					</table>
				</div>

				<div id="scrollDiv" class="mission">
					<div class="task">
                        <i class="iconfont icon-icon-" style="font-size:18px;"></i>通知公告
                        <span style="cursor: pointer;margin-left:50%;"><a href="./xingzhengShiwu/NoticeBulletin.html">查看更多</a></span>
                    </div>
					<ul class="gundong" id="gundong">
						<!-- <li><span data-toggle="modal" data-target="#tzgg" style="cursor: pointer;" class="lianjieColor">张三出差细节通知1</span></li> -->
					</ul>
				</div>
<!-- Modal -->
    <div class="modal fade" id="tzgg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">通知公告</h4>
            </div>
            <div class="modal-body">
                <table class="tb2 table table-hover">
                    <tr>
                        <td style="width:50px;">标题</td>
                        <td>张三出差细节通知</td>
                    </tr>
                    <tr>
                        <td>内容</td>
                        <td>张三出差细节通知哈根安徽骨灰奥i规划按时间</td>
                    </tr>
                    <tr>
                        <td>附件</td>
                        <td>张三出差细节通知附件</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
            </div>
        </div>
    </div>
<!-- Modal结束 -->
		</div>
		<div class="home-other">

			<div class="notice-bulletin mission">
				<div class="finished">
					<table id="tb2" class="tb2 table table-hover">
						<tr class="tb2-finished">
							<th>
                                <i class="iconfont icon-yiwancheng" style="font-size:18px;"></i>已办任务
                                <span style="cursor: pointer;margin-left:55%;"><a href="./gerenRenwu/RunMatters.html">查看更多</a></span>
                            </th>
						</tr>
					</table>
                </div>
                
			</div>

			<div class="management-notifications mission">
				<table class="tb4 table table-hover">
					<tr class="tb4-offen">
						<th><i class="iconfont icon-changyong-" style="font-size:18px;"></i>常用功能</th>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/TaskManagement.html" class="lianjieColor">任务单管理</a></span></td>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/BudgetManagement.html" class="lianjieColor">预算单管理</a></span></td>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/ContractManagement.html" class="lianjieColor">承接合同管理</a></span></td>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/SubcontractManagement.html" class="lianjieColor">分包合同管理</a></span></td>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/ProcurementContract.html" class="lianjieColor">采购合同管理</a></span></td>
					</tr>
					<tr>
						<td><span style="cursor: pointer;"><a href="./shengchanGuanli/ProgressManagement.html" class="lianjieColor">进度管理</a></span></td>
                    </tr>
                    <tr>
						<td><span style="cursor: pointer;"><a href="./xitongGuanli/PersonneManagement.html" class="lianjieColor">人员管理</a></span></td>
					</tr>
				</table>
			</div>

			<div class="notice-bulletin mission">
				<div class="finished">
					<table class="tb2 table table-hover">
						<tr class="tb2-finished">
							<th>
                                <i class="iconfont icon-huishouzhan" style="font-size:18px;"></i>回收站
                                <span data-toggle="modal" data-target="#myModal4" style="cursor: pointer;margin-left:55%;">查看更多</span>
                            </th>
						</tr>
						<tr>
							<td>废弃1</td>
						</tr>
						<tr>
							<td>废弃2</td>
						</tr>
						<tr>
							<td>废弃3</td>
						</tr>
						<tr>
							<td>废弃4</td>
						</tr>
						<tr>
							<td>废弃5</td>
						</tr>
						<tr>
							<td>废弃6</td>
                        </tr>
                        <tr>
							<td>废弃7</td>
						</tr>
					</table>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel"><i class="iconfont icon-huishouzhan" style="font-size:18px;"></i>回收站</h4>
						</div>
						<div class="modal-body">
							<table class="tb2 table table-hover">
								<tr>
									<td>废弃1</td>
								</tr>
								<tr>
									<td>废弃2</td>
								</tr>
								<tr>
									<td>废弃3</td>
								</tr>
								<tr>
									<td>废弃4</td>
								</tr>
								<tr>
									<td>废弃5</td>
								</tr>
								<tr>
									<td>废弃6</td>
								</tr>
								<tr>
									<td>废弃7</td>
								</tr>
								<tr>
									<td>废弃8</td>
								</tr>
								<tr>
									<td>废弃9</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
						</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

<!-- frame modal -->
<div class="modal fade bs-example-modal-lg dada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">处理业务</h4>
            </div>
            <div class="modal-body">
                <iframe name="view_frame" id="rightMain" src="./shengchanGuanli/TaskManagementLook.html?prjId=" frameborder="false" scrolling="auto" style="border: none;" width="100%" height=700 allowtransparency="true"></iframe>
                
                <!-- <div id="midBox">
                    <div id="titles">标题</div>
                    <div id="srcontent">
                        <textarea cols="30" rows="8" class="form-control" id="view" placeholder="请输入内容"></textarea>
                    </div>
                </div>  -->
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#tijiaogei">提交</button>
                <button type="button" class="btn btn-default">退回</button>
                <button type="button" class="btn btn-default">保存</button>
            </div> -->
        </div>
    </div>
</div>
<!-- frame modal结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" id="tijiaoren">
	                   	<thead>
	                   			<tr>
	                         	<th></th>
	                             <th>部门</th>
	                             <th>职务</th>
	                             <th>审批人</th>
	                         </tr>
	                   	</thead>
                       <tbody>
                       	
                       </tbody>
                   </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- frame modalyb -->
<div class="modal fade bs-example-modal-lg dadayb" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">业务</h4>
            </div>
            <div class="modal-body">
                <iframe name="view_frame" id="rightMainyb" src="./shengchanGuanli/TaskManagementLook.html?prjId=" frameborder="false" scrolling="auto" style="border: none;" width="100%" height=700 allowtransparency="true"></iframe>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- frame modalyb结束 -->
</body>
<script src="../js/jquery.js"></script>
<script src="../js/main.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/common-scripts.js"></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../js/jquery.cookie.js"></script>
<script type="text/javascript">  
	$(document).ready( function () {
    	initTable1();
    	initTable2();
    	initTable3();
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/announcement/selectAnnouncement',
            dataType: 'json',
            data: {
            	type:1,
            	status:2
            },
            success: function (json) {
            	//console.log(json)
            	for(var i=0;i<json.length;i++){
            		$("#gundong").append('<li><span data-toggle="modal" data-target="#tzgg" style="cursor: pointer;" class="lianjieColor">'+json[i].aTitle+'</span></li>')
            	}
               
            }
        });
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/announcement/selectAnnouncement',
            dataType: 'json',
            data: {
            	type:2,
            	status:2
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
            		$("#gundong").append('<li><span data-toggle="modal" data-target="#tzgg" style="cursor: pointer;" class="lianjieColor">'+json[i].aTitle+'</span></li>')
            	}
            }
        });
    	
	});
    function clock(){
        $("#scrollDiv ul").animate({marginTop:"-25px"},5,function(){
            $(this).css({marginTop:"0px"}).find("li:first").appendTo(this);                                                         
        })
    }
    $(function(){
        var myvar=setInterval("clock()",2000);
        $("#scrollDiv").hover(function(){
            clearInterval(myvar);                          
        },function(){
            myvar = setInterval("clock()",2000);
        })
	})
	var table=$('#example').dataTable( {
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
        "columns": [
					{ "data": null},
					{ "data": "userName"}, 
		            { "data": "pwd"},
		            { "data": null},
		        ],
      	 "columnDefs": [
							{
								"class": "tcenter",
								"targets": 3,
								"searchable": true,
								"render": function(data, type, full) {
									return '<button type="button" class="editUser btn btn-default"  data-toggle="modal" data-target="#myModal" onclick="changeP(this)">修改</button><button type="button" id="delUser" class="btn btn-default">删除</button>';
									
								}
							}
						],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        "fnDrawCallback"  : function(){
          　　this.api().column(0).nodes().each(function(cell, i) {
          　　　　cell.innerHTML =  i + 1;
          　  　});
            }
	} );
	function initTable1(){
		var us = $.cookie("user");
		var usJson = JSON.parse(us);
		var userId = usJson.userId;
		/* JSON.parse(user); */
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/currentFlow/getCurrentFlowListStatus1ByUser',
            data:{
            	userId:userId
            },
            dataType: 'json',
            success: function (json) {
            	console.log(json);
            	for(var i=0;i<json.length;i++){
            		$("#tb1").append("<tr><td style='width:50px;'><span data-toggle='modal' data-target='.dada' style='cursor:pointer;' data-url='"+json[i].url+"' onclick='initIframe(this)' class='lianjieColor'>"+json[i].businessname+"</span></td></tr>")
            	}
            }
        });
    }
	function initTable3(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowHistory/getDistinctFlowHistoryByUser',
            data:{
            	userId:"88b6f133f129"
            },
            dataType: 'json',
            success: function (json) {
            	console.log(json);
            	for(var i=0;i<json.length;i++){
            		var status = json[i].status;
            		var statu="";
            		if(status=="1"){
            			statu="进行中";
            		}else if(status=="2"){
            			statu="审批通过";
            		}
            		$("#tb3").append("<tr><td>"+json[i].businessname+"</td><td style='width:80px;'>"+statu+"</td></tr>");
            	}
            }
        });
    }
	function initTable2(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowHistory/getFlowHistoryByUser',
            data:{
            	userId:"88b6f133f129",
            	status:''
            },
            dataType: 'json',
            success: function (json) {
            	console.log(json);
            	for(var i=0;i<json.length;i++){
            		$("#tb2").append("<tr><td><span data-toggle='modal' data-target='.dadayb' style='cursor:pointer;' class='lianjieColor' data-url='"+json[i].url+"' onclick='initIframeDb(this)'>"+json[i].businessname+"</span></td></tr>");
            	}
            }
        });
    }
	function initIframeDb(dom){
		var url = $(dom).attr("data-url");
    	var strs = url.split("-");
    	$("#rightMainyb").attr("src","./"+strs[0]+"?prjId="+strs[1]+"&editOrView=view");
    	
    	
	}
	function initIframe(dom){
		var url = $(dom).attr("data-url");
    	var strs = url.split("-");
    	$("#rightMain").attr("src","./"+strs[0]+"?prjId="+strs[1]+"&editOrView=view");
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/currentFlow/updateReadReceipts',
            data:{
            	url:url,
            },
            dataType: 'json',
            success: function (json) {
            	if(json=='0'){
            		alert("修改已读失败");
            	}
            }
        });
	}
</script> 
</html>