<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>华通协同办公系统</title>
    <link href="../favicon.ico" rel="shortcut icon">
	<link href="../style/bootstrap.min.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link href="../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../font2/iconfont.css">
    <link rel="stylesheet" href="../style/jquery.dataTables.min.css">
    <style lang="">
    	html {
			overflow-x:hidden;
			overflow-y:hidden;
		}
        *{
            margin:0;
            padding:0;
            font-size: 16px;
        }
        .w_nav2>li{
        	margin-left:5%;
        }
        .w_nav2>li>a{
            display:block;
            box-sizing: border-box;
            width:90%;
            height:100%;
            margin-left:5px;
            /* padding-left:20px; */
        }
        .erjicaidan>div>a{
        	
        }
        .w_nav3 li a{
        	border:none;
        	background:rgba(28,125,214,0.5);
        	color:#fff;
        	width:88%;
        	margin-top:20px;
        	margin-left:10px;
        	border-left:5px solid #ffa800;
        	padding-left:0;
        	text-indent:12px;
        }
        .yihang{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        /* 四级菜单 */
        .w_nav4  li{
        	width:95%;
            margin-left:5px;
        }
        .w_nav4  li a{
            border-left:5px solid green;
            padding:5px 5px;
        }
        .two li{
            margin-left:5px;
        }
        .two li a{
            border-left:5px solid green;
        }
        .second>li>a{
        	border-left:5px solid white;
        }
        .nav-tabs li a{
            color:#fff;
        }
        #toptab li :hover{
        	background:#fff;
        	color:#000;
        }
        .btn-lg{
        	background:#cce8ff;
        }
        .yijicaidan{
        	color:#1067ce;
        	border:none;
        	width:90%;
        	margin-top:20px;
        	box-shadow:0px 0px 2px #333333;
    		/* background: linear-gradient(#ddf1ff, #add7ff); */
        }
        .yijicaidan :hover{
        	
        }
        .btn.focus, .btn:focus{
    		color: #fff;
    		box-shadow:0px 0px 2px #333333;
    		background: linear-gradient(#1e73d8, #02456e);
		}
		.btn:hover {
    		background: #0465d7;
    		 color:white;
		}
		#leftTab{
			background:#3f9cff url(../img/leftcd.png) no-repeat bottom;
			background-size:100% 100%;
			color:#fff;
			width:12%;
			z-index:99;
			height:90%;
			position: absolute;
			overflow-y: auto;
			padding-bottom:70px;
			box-shadow:1px 0px 10px #333333;
		}
		@media screen and (max-width: 1366px) {
		    #leftTab {
		        height:83%;
		    }
		}
		.lodingmsg{
			color:white;
			font-size:18px;
			padding:5px;
		}
		.lodingmsg:hover{
			background:skyblue;
			cursor:pointer;
			border-radius:3px;
		}
    </style>
</head>
<body>

      <section>
      <!-- header -->
        <header class="header white-bg yihang2" style="background:url(../img/topcaidan.png);background-size:100% 100%; ">
            <div style="display:flex;align-items:center;">
                <div class="logo-wrapper"  style="margin-top:5px;width:180px;height:60px;">
                    <div style="margin-top:5px;margin-left:5px;">
                        <a href="index.html">
                            <img id="load"  src="../img/首页logo.png" alt="..." style="width:100%;height:100%;cursor:pointer;padding-top:8px;">
                        </a>
                    </div>
                </div>
                <a class="logo" style="margin-left:12px;color:white;font-size:32px;">华通协同办公系统</a>
                <!-- <div class="sidebar-toggle-box" style="margin-left:12px;">
                    <div data-original-title="Toggle Navigation" data-placement="right" class="iconfont icon-caidan" title="点击收缩侧边栏" style="cursor:pointer;font-size:24px;color:black;"></div>
                </div> -->
            </div>
            <div style="display:flex;">
            		<div id="omName" class="lodingmsg" ></div>&nbsp;&nbsp;&nbsp;
            		<div  id="uName" onclick="tanchulai()" class="lodingmsg"></div>&nbsp;&nbsp;&nbsp;
            		<div onclick="exit()" id="tuichu" class="lodingmsg"></div>&nbsp;&nbsp;
            </div>
        </header>
        <!-- banner -->
        <!-- <div class="banner">
            <div class="nowtime">
                <div>
                    <i class="iconfont icon-rili"></i>
                    <p id="date"></p>
                </div>
            </div>
        </div> -->
        <!-- 顶部菜单 -->
        
        <!-- 修改Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改密码</b></h4>
        </div>
        <div class="modal-body">
                <div style="text-align:center;">     
                    <form class="form-inline">
                    	<div>
                    		<span>原密码:</span>   
                       		<input type="text" class="form-control"  id="old_password">
                    	</div>
                    	<div style="margin-top:20px;">
	                        <span>新密码:</span>   
	                        <input type="text" class="form-control"  id="new_password">
                    	</div>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="save_new_password()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
        
        <nav>
            
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" style="background:#0f75ee url(../img/华通bn.png);color:#fff;" id="toptab">
                        <li role="presentation" class="active Pa" id="pa"><a href="#gerenRenwu" aria-controls="gerenRenwu" role="tab" data-toggle="tab">个人任务</a></li>
                        <li role="presentation" class="Pb" id="xzswdcd"><a href="#profile " aria-controls="profile" role="tab" data-toggle="tab">行政事务</a></li>
                        <li role="presentation" class="Pc" id="cwgldcd"><a href="#feiyong" aria-controls="feiyong" role="tab" data-toggle="tab">收款管理</a></li>
                        <li role="presentation" class="Pd" id="jygldcd"><a href="#jingying" aria-controls="jingying" role="tab" data-toggle="tab">经营管理</a></li>
                        <li role="presentation" class="Pe" id="scgldcd"><a href="#shengchan" aria-controls="shengchan" role="tab" data-toggle="tab">生产管理</a></li>
                        <li role="presentation" class="Pf" id="jcebdcd"><a href="#erbu" aria-controls="erbu" role="tab" data-toggle="tab">检测二部</a></li>
                        <li role="presentation" class="Pg" id="xcgldcd"><a href="#xinchou" aria-controls="xinchou" role="tab" data-toggle="tab">薪酬管理</a></li>
                        <!-- <li role="presentation"><a href="#zhiliang" aria-controls="zhiliang" role="tab" data-toggle="tab">质量管理</a></li>-->
                        <li role="presentation" class="Ph" id="zlaqgldcd"><a href="#anquan" aria-controls="anquan" role="tab" data-toggle="tab">质量安全管理</a></li>
                        <li role="presentation" class="Pi" id="kygldcd"><a href="#keji" aria-controls="keji" role="tab" data-toggle="tab">科研管理</a></li> 
                        <li role="presentation" class="Pj" id="dagldcd"><a href="#dangan" aria-controls="dangan" role="tab" data-toggle="tab">档案管理</a></li>
                        <li role="presentation" class="Pk" id="zhcxdcd"><a href="#zonghe" aria-controls="zonghe" role="tab" data-toggle="tab">综合查询</a></li>
                        <li role="presentation" class="Pl" id="jcsjdcd"><a href="#jichu" aria-controls="jichu" role="tab" data-toggle="tab">基础数据管理</a></li>
                        <li role="presentation" class="Pm" id="xtgldcd"><a href="#xitong" aria-controls="xitong" role="tab" data-toggle="tab">系统管理</a></li>
                    </ul>
                    <div style="display:flex;">
                        <!-- Tab panes -->
                        <div class="tab-content"  id="leftTab">
                            <div role="tabpanel" class="tab-pane active erjicaidan" id="gerenRenwu" style="padding-top:22px;">
	                            <span style="margin-left:10px;font-size:18px;" class="Pa" ><i class="iconfont icon-yonghuguanli" style="font-size:18px;"></i>个人任务</span><br>
	                            <div style="text-align:center;">
	                            	<a href="./gerenRenwu/JobManagement.html"  target="view_frame" class="btn  btn-lg yijicaidan Paa" role="button"  id="dbsxan"><span>待办事项</span></a>
		                            <a href="./gerenRenwu/RunMatters.html"  target="view_frame" class="btn  btn-lg yijicaidan Pab" role="button"  id="ybsxan"><span>已办事项</span></a>
		                            <a href="./gerenRenwu/BusinessReminder.html" target="view_frame"  class="btn  btn-lg yijicaidan Pac" role="button"  id="ywcban"><span>业务催办</span></a>
		                            <a href="./gerenRenwu/BusinessNotice.html"  target="view_frame" class="btn  btn-lg yijicaidan Pad" role="button"  id="ywbltzan"><span>业务办理通知</span></a>
	                            </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="profile" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pb"><i class="iconfont icon-qingjia" style="font-size:18px;"></i>行政事务</span><br>
	                            <div style="text-align:center;">
	                            	<a href="./xingzhengShiwu/NoticeBulletin.html" target="view_frame"  class="btn  btn-lg yijicaidan Pba" role="button"  id="tzggan"><span>通知公告</span></a>
	                            	<a href="./xingzhengShiwu/ProjectSeal.html" target="view_frame"  class="btn  btn-lg yijicaidan Pbb" role="button"  id="xmyzglan"><span>项目印章管理</span></a>
                                    <a href="./xingzhengShiwu/ResultsUsing.html" target="view_frame"  class="btn  btn-lg yijicaidan Pbc" role="button" id="cgwjyyglan"><span>成果文件用印管理</span></a>
                                 </div>
	                                <ul  style="text-align:center;">
	                                   <li>
	                                       <!-- 三级列表 -->
	                                       <a href="javascript:;" class="btn  btn-lg yijicaidan Pbd" role="button" id="pxglan">
	                                           <span>培训管理</span>
	                                       </a>
	                                       <ul class="w_nav3" style="text-align:center;">
	                                           <li><a href="./xingzhengShiwu/TrainingManagement.html" target="view_frame" class="btn  btn-lg Pbda" role="button" ><strong>o</strong><span>外出培训申请</span></a></li>
			                                   <li><a href="./xingzhengShiwu/TrainingManagement2.html" target="view_frame"  class="btn  btn-lg Pbdb" role="button" ><strong>o</strong><span>外部培训申请</span></a></li>
			                                   <li><a href="./xingzhengShiwu/TrainingManagement3.html" target="view_frame"  class="btn  btn-lg Pbdc" role="button" ><strong>o</strong><span>内部培训申请</span></a></li>
			                                   <li><a href="./xingzhengShiwu/TrainingManagement4.html" target="view_frame"  class="btn  btn-lg Pbdd" role="button" ><strong>o</strong><span>培训资料管理</span></a></li>
	                                       </ul>
	                                       <!-- 三级列表结束 -->
	                                   </li>
	                                </ul>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="feiyong" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pc"><i class="iconfont icon-shouye" style="font-size:18px;"></i>财务管理</span><br>
	                            <div style="text-align:center;">
	                           		<a href="./caiwuGuanli/ApplicationTicket.html" target="view_frame"  class="btn  btn-lg yijicaidan Pcd" role="button" ><span>开票申请</span></a>
	                            	<a href="./caiwuGuanli/FinancialReceipts.html" target="view_frame"  class="btn  btn-lg yijicaidan Pca" role="button" ><span>到账记录</span></a>
                                    <a href="./caiwuGuanli/FinancialReceipts2.html" target="view_frame"  class="btn  btn-lg yijicaidan Pcb" role="button" ><span>收款认领</span></a>
                                    
	                            </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="jingying" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pd"><i class="iconfont icon-jingying" style="font-size:18px;"></i>经营管理</span><br>
	                            <div style="text-align:center;">
	                            	<a href="./jingyingGuanli/ProjectTracking.html" target="view_frame" class="btn  btn-lg yijicaidan Pda" role="button" ><span>项目跟踪</span></a>
	                            </div>
                                <ul  style="text-align:center;">
                                    <li>
                                        <!-- 三级列表 -->
                                        <a href="javascript:;" class="btn  btn-lg yijicaidan Pdb" role="button"><span>项目投标</span></a>
                                        <ul class="w_nav3">
                                            <li><a href="./jingyingGuanli/toubiaoShenpi.html" target="view_frame" class="btn  btn-lg Pdba"  role="button" ><strong>o</strong><span>投标审批单</span></a></li>
                                            <li><a href="./jingyingGuanli/riskAssessment.html" target="view_frame" class="btn  btn-lg Pdbb" role="button" ><strong>o</strong><span>项目风险评估</span></a></li>
                                            <!-- <li><a href="./jingyingGuanli/ConstructionProject.html" target="view_frame" class="btn  btn-lg" role="button" ><strong>o</strong><span>项目投标审批</span></a></li> -->
                                            <li><a href="./jingyingGuanli/kaibiaojilu.html" target="view_frame" class="btn  btn-lg Pdbc" role="button" ><strong>o</strong><span>开标记录</span></a></li>
                                            <li><a href="./jingyingGuanli/TransferBid.html" target="view_frame" class="btn  btn-lg Pdbd" role="button" ><strong>o</strong><span>中标项目移交</span></a></li>
                                            <li><a href="./jingyingGuanli/biddingList.html" target="view_frame" class="btn  btn-lg Pdbe" role="button"><strong>o</strong><span>投标项目列表</span></a></li>
                                        </ul>
                                        <!-- 三级列表结束 -->
                                    </li>
                                </ul>
                                <div style="text-align:center;">
	                            	<a href="./jingyingGuanli/operationTarget.html" target="view_frame" class="btn  btn-lg yijicaidan Pdc" role="button" ><span>经营目标管理</span></a>
	                            </div>
	                            <div style="text-align:center;">
	                            	<a href="./jingyingGuanli/operationTarget2.html" target="view_frame" class="btn  btn-lg yijicaidan Pdd" role="button" ><span>经营目标管理</span></a>
	                            </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="shengchan" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pe"><i class="iconfont icon-shigongzhong" style="font-size:18px;"></i>生产管理</span><br>
                                <ul class="w_nav2" >
                                    <li><a href="./shengchanGuanli/TaskManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pea" role="button" ><span>任务单管理</span></a></li>
                                    <li>
                                    		<!-- 三级列表 -->
	                                        <a href="javascript:;" class="btn  btn-lg yijicaidan Pdb" role="button"><span>预算与核算管理</span></a>
	                                        <ul class="w_nav3">
	                                             <li><a href="./shengchanGuanli/BudgetManagement2.html" target="view_frame" class="btn  btn-lg yijicaidan Peb" role="button" ><span>项目预算管理</span></a></li>
	                                             <li><a href="./shengchanGuanli/hesuan.html" target="view_frame"  class="btn  btn-lg yijicaidan Pei" role="button"><span>项目核算管理</span></a></li>
	                                        </ul>
	                                        <!-- 三级列表结束 -->
                                    </li>
                                    <li>
                                    	<a href="javascript:;" class="btn  btn-lg yijicaidan" role="button"><span>合同管理</span></a>
                                    	<ul class="w_nav3">
								            <li><a href="#"  class="btn  btn-lg yijicaidan Pec inactive1" role="button" id="htgl">项目合同管理</a>
								            	<ul class="second">
								                	<li><a href="#"  class="inactive1 btn   Peca" role="button" ><strong>o</strong><span>承接合同管理</span></a>
								                    	<ul class="third two">
								                        		<li><a href="./shengchanGuanli/ContractManagement.html" target="view_frame" class="btn  a  Peca"  role="button" id="cjhtgl"><strong>o</strong><span>承接合同审签</span></a></li>
			                                                    <li><a href="./shengchanGuanli/UndertakeContract.html" target="view_frame" class="btn  a  Pecga"  role="button" ><strong>o</strong><span>承接合同履约</span></a></li>
								                        </ul>
								                    </li>
								                    <li><a href="#"  class="inactive1 btn   Pecb" role="button" ><strong>o</strong><span>分包合同管理</span></a>
								                    	<ul class="third two">
								                        		<li><a href="./shengchanGuanli/SubcontractManagement.html" target="view_frame" class="btn  a  Pecb" role="button" ><strong>o</strong><span>分包合同审签</span></a></li>
			                                                    <li><a href="./shengchanGuanli/SubcontractPerformance.html" target="view_frame" class="btn  a  Pecgc" role="button" ><strong>o</strong><span>分包履约</span></a></li>
			                                                    <li><a href="./shengchanGuanli/ContractPayment.html" target="view_frame" class="btn  a  Pecf" role="button" ><strong>o</strong><span>合同付款</span></a></li>
								                        </ul>
								                    </li>
								                    <li><a href="#"  class="inactive1 btn  b Pecc" role="button" ><strong>o</strong><span>采购合同管理</span></a>
								                    	<ul class="third two">
								                        	<li><a href="./shengchanGuanli/ProcurementContract.html" target="view_frame" class="btn  a  Pecc" role="button" ><strong>o</strong><span>采购合同审签</span></a></li>
			                                                    <li><a href="./shengchanGuanli/SubcontractMaterial.html" target="view_frame" class="btn  a  Pecgb" role="button" ><strong>o</strong><span>材料分包合同</span></a></li>
								                        </ul>
								                    </li>
								                    <li><a href="./shengchanGuanli/borrow.html" target="view_frame" class="btn   Pecd inactive1" role="button" ><strong>o</strong><span>借款合同管理</span></a></li>
								                </ul>
								            </li>
								            <li><a href="#"  class="btn  btn-lg yijicaidan Pec inactive1" role="button" >非项目合同管理</a>
								            	<ul class="second">
								                    <li><a href="./shengchanGuanli/OtherContract.html" target="view_frame" class="btn   Pece" role="button" ><strong>o</strong><span>其他合同管理</span></a></li>
								                </ul>
								            </li>
								            <li><a href="./shengchanGuanli/lianying.html" target="view_frame" class="btn  btn-lg yijicaidan Pea" role="button" ><span>联营合同管理</span></a></li>
								        </ul>
        							
                                    </li>
                                    
                                    <li>
                                        <!-- 三级列表 -->
                                        <a  href="javascript:;" class="btn  btn-lg yijicaidan Ped" role="button" >
                                            <span>材料采购管理</span>
                                        </a>
                                        <ul class="w_nav3">
                                            <li><a href="./shengchanGuanli/PurchaseApplication.html" target="view_frame" class="btn  btn-lg Peda"  role="button" ><strong>o</strong><span>材料采购申请</span></a></li>               
                                            <li><a href="#" class="btn  btn-lg a Pedb" role="button" ><strong>o</strong>公司材料管理</a>
                                                <ul class="two" style="display: none">
                                                    <li><a href="./shengchanGuanli/MateriaStorage.html" target="view_frame"  class="btn  a Pedba"  role="button" ><strong>o</strong>材料入库</a></li>
                                                    <li><a href="./shengchanGuanli/MaterialOut.html" target="view_frame"  class="btn  a Pedbb" role="button"><strong>o</strong>材料出库</a></li>
                                                    <li><a href="./shengchanGuanli/BalanceManagement.html" target="view_frame"  class="btn  a Pedbc" role="button" ><strong>o</strong>结余管理</a></li>
                                                    <li><a href="./shengchanGuanli/WasteDisposal.html" target="view_frame"  class="btn  a Pedbd" role="button" ><strong>o</strong>废旧品处理</a></li>
                                                    <li><a href="./shengchanGuanli/huaxiao.html" target="view_frame"  class="btn  a Pedbe" role="button" ><strong>o</strong>统计花销费用</a></li>
                                                    <li><a href="./shengchanGuanli/tuihuo.html" target="view_frame"  class="btn  a Pedbf"  role="button" ><strong>o</strong>退货</a></li>
                                                </ul>
                                            </li>
                                            <li> <a href="#"  class="btn  btn-lg a Pedc" role="button" ><strong>o</strong>项目材料管理</a>
                                                <ul class="two" style="display: none">
                                                    <li><a href="./shengchanGuanli/MateriaStorageXM.html" target="view_frame"  class="btn a Pedca" role="button" ><strong>o</strong>材料入库</a></li>
                                                    <li><a href="./shengchanGuanli/MaterialOutXM.html" target="view_frame"  class="btn a Pedcb" role="button" ><strong>o</strong>材料出库</a></li>
                                                    <li><a href="./shengchanGuanli/BalanceManagementXM.html" target="view_frame"  class="btn a Pedcc" role="button" ><strong>o</strong>结余管理</a></li>
                                                    <li><a href="./shengchanGuanli/WasteDisposalXM.html" target="view_frame"  class="btn a Pedcd" role="button" ><strong>o</strong>废旧品处理</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <!-- 三级列表结束 -->
                                    </li>
                                    <li><a href="./shengchanGuanli/ProgressManagement.html" target="view_frame"  class="btn  btn-lg yijicaidan Pee" role="button" ><span>进度管理</span></a></li>
                                    <li><a href="./shengchanGuanli/CostWarning.html" target="view_frame"  class="btn  btn-lg yijicaidan Pef" role="button" ><span>项目成本预警</span></a></li>
                                    <li>
                                        <!-- 三级列表 -->
                                        <a href="javascript:;" class="btn  btn-lg yijicaidan Peg " role="button"><span>现场管理</span></a>
                                        <ul class="w_nav3">
                                            <li><a href="./shengchanGuanli/staffAttendance.html" target="view_frame"  class="btn  btn-lg yijicaidan Peg" role="button" ><span>项目工时管理</span></a></li>
		                                    <li>
		                                        <!-- 四级列表 -->
		                                        <a href="javascript:;" id=""  class="btn  btn-lg  yijicaidan Peh inactive1" role="button" >
		                                            <span>施工报表</span>
		                                        </a>
		                                        <ul class="w_nav4">
		                                            <li><a href="./shengchanGuanli/ProjectReport.html" target="view_frame"  class="btn  a Peha" role="button" ><strong>o</strong><span>项目施工日志</span></a></li>
		                                            <li><a href="./shengchanGuanli/ProjectReport2.html" target="view_frame"  class="btn  a Pehb" role="button"><strong>o</strong><span>项目周报</span></a></li>
		                                            <li><a href="./shengchanGuanli/ProjectReport3.html" target="view_frame"  class="btn  a Pehc" role="button" ><strong>o</strong><span>项目月报</span></a></li>
		                                        </ul>
		                                    </li>
                                        </ul>
                                        <!-- 三级列表结束 -->
                                    </li>
                                    
                                    <!-- <li><a href="./shengchanGuanli/ProjectSettlement.html" target="view_frame"  class="btn  btn-lg yijicaidan Pei" role="button"><span>项目结算审计</span></a></li> -->
                                    
                                </ul>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="erbu" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pf"><i class="iconfont icon-shigongzhong" style="font-size:18px;"></i>检测二部</span><br>
                            	<ul class="w_nav2" >
                                    <li><a href="./shengchanGuanli2/TaskManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pfa" role="button" ><span>任务单管理</span></a></li>
                                    <!-- <li><a href="./shengchanGuanli2/BudgetManagement.html" target="view_frame" class="btn  btn-lg yijicaidan" role="button" ><span>预算单管理</span></a></li> -->
                                    <li><a href="./shengchanGuanli2/FinancialReceipts.html" target="view_frame"  class="btn  btn-lg yijicaidan Pfb" role="button" ><span>财务收款</span></a></li>
                                    <li><a href="./shengchanGuanli2/FinancialReceipts2.html" target="view_frame"  class="btn  btn-lg yijicaidan Pfc" role="button" ><span>项目款认领</span></a></li>
                                </ul>
                            </div>
                            <!-- <div role="tabpanel" class="tab-pane" id="zhiliang">
                                <ul class="w_nav2">
                                    <li>
                                        <a class="" href="javascript:;">
                                            <i class="iconfont icon-sheji"></i><span>设计项目</span>
                                        </a>
                                        <ul class="w_nav3">
                                            <li><a href="./zhiliangGuanli/NewDesign.html" target="view_frame"><strong>o</strong><span>新建设计项目</span></a></li>
                                            <li><a href="./zhiliangGuanli/ReinforcementDesign.html" target="view_frame"><strong>o</strong><span>加固设计项目</span></a></li>
                                        </ul>               
                                    </li>
                                    <li><a href="./zhiliangGuanli/MonitoringProject.html" target="view_frame"><i class="iconfont icon-jiance"></i><span>检测/监测/监控项目</span></a></li>
                                    <li><a href="./zhiliangGuanli/ConstructionProject.html" target="view_frame"><i class="iconfont icon-shigongzhong"></i><span>施工项目</span></a></li>
                                </ul>
                            </div> -->
                            <div role="tabpanel" class="tab-pane" id="xinchou" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pg"><i class="iconfont icon-shigongzhong" style="font-size:18px;"></i>薪酬管理</span><br>
                                <ul class="w_nav2">
                                    <!-- <li><a href="./xinchouguanli/zhiwudengji.html" target="view_frame" class="btn  btn-lg yijicaidan Pga" role="button"><span>职务等级体系</span></a></li>
                                    <li><a href="./xinchouguanli/xiangmuguimo.html" target="view_frame" class="btn  btn-lg yijicaidan Pgb" role="button"><span>项目规模及人员要求</span></a></li>
                                    <li><a href="./xinchouguanli/xinchoujiegou.html" target="view_frame" class="btn  btn-lg yijicaidan Pgc" role="button"><span>员工薪酬结构</span></a></li>
                                    <li><a href="./xinchouguanli/jiangjin.html" target="view_frame" class="btn  btn-lg yijicaidan Pgd" role="button"><span>年度奖金</span></a></li> -->
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="anquan" style="padding-top:22px;">
                            <span style="margin-left:10px;font-size:18px;" class="Ph"><i class="iconfont icon-shigongzhong" style="font-size:18px;"></i>安全管理</span><br>
                                <ul class="w_nav2">
                                	<li><a href="./anquanGuanli/xiangmubaobiao.html" target="view_frame" class="btn  btn-lg yijicaidan Phb" role="button"><span>项目报表</span></a></li>
                                    <!-- <li><a href="./anquanGuanli/ProjectSafety.html" target="view_frame" class="btn  btn-lg yijicaidan Pha" role="button"><span>项目安全管理</span></a></li>
                                    <li><a href="./anquanGuanli/CompanySafety.html" target="view_frame" class="btn  btn-lg yijicaidan Phb" role="button"><span>公司安全管理</span></a></li> -->
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="keji" style="padding-top:22px;">
                            <span style="margin-left:10px;font-size:18px;" class="Pi"><i class="iconfont icon-shigongzhong" style="font-size:18px;"></i>科技管理</span><br>
                                <ul class="w_nav2">
                                    <li><a href="./kejiGuanli/Managements.html" target="view_frame" class="btn  btn-lg yijicaidan Pia" role="button"><span>经营管理</span></a></li>
                                    <li><a href="./kejiGuanli/ProcessManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pib" role="button"><span>过程管理</span></a></li>
                                </ul>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="dangan" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pj"><i class="iconfont icon-icon-test" style="font-size:18px;"></i>档案管理</span><br>
	                            <div style="text-align:center;">
	                            	<a href="./danganGUanli/Handover.html" target="view_frame"   class="btn  btn-lg yijicaidan Pja" role="button" ><span>档案交接</span></a>
                                    <a href="./danganGUanli/OperatingDocument.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjb" role="button" ><span>经营文档资料</span></a>
                                    <a href="./danganGUanli/ConstructionDocument.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjc" role="button" ><span>施工文档资料</span></a>
                                    <a href="./danganGUanli/DetectionEvaluation.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjd" role="button" ><span>检测评估资料</span></a>
                                    <a href="./danganGUanli/designDocument.html" target="view_frame"  class="btn  btn-lg yijicaidan Pje" role="button" ><span>设计文件资料</span></a>
                                    <a href="./danganGUanli/MaintenanceReinforcement.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjf" role="button" ><span>维修加固设计资料</span></a>
                                    <a href="./danganGUanli/ScienceTechnology.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjg" role="button" ><span>科技文档资料</span></a>
                                    <a href="./danganGUanli/ArchivalStatistics.html" target="view_frame"  class="btn  btn-lg yijicaidan Pjh" role="button" ><span>档案统计表</span></a>
	                            </div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="zonghe" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pk"><i class="iconfont icon-zonghechaxun" style="font-size:18px;"></i>综合查询</span><br>
                            	<div style="text-align:center;">
                            		<a href="./zongheChaxun/operationCompany.html" target="view_frame" class="btn  btn-lg yijicaidan Pka"  role="button" ><span>公司经营情况总览</span></a>
                                    <a href="./zongheChaxun/OverviewDepartment.html" target="view_frame" class="btn  btn-lg yijicaidan Pkb"  role="button" ><span>部门经营情况总览</span></a>
                                    <a href="./zongheChaxun/ProjectIntegrated.html" target="view_frame" class="btn  btn-lg yijicaidan Pkc" role="button" ><span>项目综合查询</span></a>
                                    <a href="./zongheChaxun/tongjifenxi.html" target="view_frame" class="btn  btn-lg yijicaidan" role="button" ><span>统计分析查询</span></a>
                            	</div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="jichu" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pl"><i class="iconfont icon-xiangmuleixing" style="font-size:18px;"></i>基础数据管理</span><br>
                            	<div style="text-align:center;">
                            		<a href="./jichuShuju/ProjectType.html" target="view_frame" class="btn  btn-lg yijicaidan Pla" role="button" ><span>项目类型管理</span></a>
                                    <a href="./jichuShuju/ProjectScale.html" target="view_frame" class="btn  btn-lg yijicaidan Plb" role="button" ><span>项目规模管理</span></a>
                                    <a href="./jichuShuju/CostSubject.html" target="view_frame" class="btn  btn-lg yijicaidan Plc" role="button" ><span>成本科目管理</span></a>
                                    <a href="./jichuShuju/CooperativeUnit.html" target="view_frame" class="btn  btn-lg yijicaidan Pld" role="button" ><span>合作伙伴管理</span></a>
                                    <a href="./jichuShuju/PurchasingSupplier.html" target="view_frame" class="btn  btn-lg yijicaidan Ple" role="button" ><span>采购供应商管理</span></a>
                                    <a href="./jichuShuju/MaterialType.html" target="view_frame" class="btn  btn-lg yijicaidan Plf" role="button" ><span>材料类型管理</span></a>
                                    <a href="./jichuShuju/Parameter.html" target="view_frame" class="btn  btn-lg yijicaidan Plg" role="button" ><span>系数管理</span></a>
                            	</div>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane erjicaidan" id="xitong" style="padding-top:22px;">
                            	<span style="margin-left:10px;font-size:18px;" class="Pm"><i class="iconfont icon-daibanshixiang" style="font-size:18px;"></i>系统管理</span><br>
                            	<div style="text-align:center;">
                            		 <a href="./xitongGuanli/OrganizationManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pma" role="button" ><span>组织机构管理</span></a>
                                    <a href="./xitongGuanli/JobManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pmb" role="button" ><span>职务管理</span></a>
                                    <a href="./xitongGuanli/Joblevel.html" target="view_frame" class="btn  btn-lg yijicaidan Pmc" role="button" ><span>职务等级管理</span></a>
                                    <a href="./xitongGuanli/PersonneManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pmd" role="button" ><span>人员用户管理</span></a>
                                    <a href="./xitongGuanli/gongzuoyijiao.html" target="view_frame" class="btn  btn-lg yijicaidan" role="button" ><span>工作移交管理</span></a>
                                    <a href="./xitongGuanli/userManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pme" role="button" ><span>角色管理</span></a>
                                    <a href="./xitongGuanli/AuthorityManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pmf" role="button" ><span>权限管理</span></a>
                                    <a href="./xitongGuanli/ProcessManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pmg" role="button" ><span>流程管理</span></a>
                                    <a href="./xitongGuanli/notificationManagement.html" target="view_frame" class="btn  btn-lg yijicaidan Pmh" role="button" ><span>短信通知查询</span></a>
                                    <a href="./xitongGuanli/textNotification.html" target="view_frame" class="btn  btn-lg yijicaidan Pmi" role="button" ><span>短信通知管理</span></a>
                            	</div>
                            </div>
                        </div>
                        <div style="width:88%;height:100%;position:absolute;margin-left:12%;overflow-y: hidden;background:#fff;" id="rightTab">
                            <!-- 主題內容开始 -->
                          
                                <iframe name="view_frame" id="rightMain" src="./home.html"  frameborder="false" scrolling="auto" style="border: none;" width="100%" height=100% allowtransparency="true"></iframe>
                         
                            <!-- 主题内容结束 -->
                        </div>
                    </div>
                </div>
            
          </nav>
	    </section>

	<script src="../js/jquery.js"></script>
	<script src="../js/common-scripts.js"></script>
	<script src="../js/jquery.dataTables.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/quanxian.js"></script>
	<script src="../toastr/toastr.js"></script>
	<script type="text/javascript">
	var user;
	$(document).ready(function(){
		$.ajax({
    		type:"post",
    		url:getContextPath()+"/login/getUser",
    		data:{
    		},
    		success:function(json){
    			user=json;
    			if(json!=null &&json!=""){
    				$("#omName").text(json.omName)
    				$("#uName").text(json.uName)
    				$("#tuichu").text("退出")
    				
    			}else{
    				$("#tuichu").text("登录")
    			}
    		}
    	})
    	
	})
	
		$(function(){
			var nowHeight=$(window).height();
			$('.mian_iframe').height(nowHeight-65);
        });
        
        var flag = true;
        $('#hetongLvyue').click(function () {
            if (flag) {
                $(".w_nav4").slideDown();
                flag = false;
            } else {
                $(".w_nav4").slideUp();
                flag = true;
            }
        });
        
        $(".inactive1").siblings('ul').slideUp();
        $(".inactive1").click(function(){
    		if($(this).siblings('ul').css('display')=='none'){
    			$(this).siblings('ul').slideDown(300);
    			//下面的if是为了控制同级菜单中都有子菜单只能打开一个
    			if ($(this).parents('li').siblings('li').children('ul').css('display') == 'block'){
                        $(this).parents('li').siblings('li').children('ul').slideUp(300);
    				console.log(4)
                    }
    		}else{	//控制自身菜单下子菜单隐藏
    			$(this).siblings('ul').slideUp(300);
    			//控制自身菜单下子菜单隐藏
                $(this).siblings('ul').children('li').children('ul').slideUp(300);	
    		}
    								
    	});
        
        /* var flagcj = true;
        $(".w_nav4cj").slideUp();
        $('#chengjiehetongguanli').click(function () {
            if (flagcj==true) {
                $(".w_nav4cj").slideDown();
                $(".w_nav4fb").slideUp();
                
                $(".w_nav4cg").slideUp();
                
                flagcj = false;
            } else {
                $(".w_nav4cj").slideUp();
                flagcj = true;
            }
        })
        
        
        var flagfb = true;
        $(".w_nav4fb").slideUp();
        $('#fenbaohetongguanli').click(function () {
            if (flagfb==true) {
                $(".w_nav4fb").slideDown();
                $(".w_nav4cj").slideUp();
                
                $(".w_nav4cg").slideUp();
                
                flagfb = false;
            } else {
                $(".w_nav4fb").slideUp();
                flagfb = true;
            }
        })
        
        
        var flagcg = true;
        $(".w_nav4cg").slideUp();
        $('#caigouhetongguanli').click(function () {
            if (flagcg==true) {
                $(".w_nav4cg").slideDown();
                $(".w_nav4fb").slideUp();
                
                $(".w_nav4cj").slideUp();
                
                flagcg = false;
            } else {
                $(".w_nav4cg").slideUp();
                flagcg = true;
            }
        }) */
        var flag2 = true;
        $(".w_nav4a").slideUp();
        $('#hetongLvyue2').click(function () {
            if (flag) {
                $(".w_nav4a").slideDown();
                flag = false;
            } else {
                $(".w_nav4a").slideUp();
                flag = true;
            }
        });
        var flag22 = true;
        $(".w_nav4aa").slideUp();
        $('#hetongLvyue22').click(function () {
            if (flag) {
                $(".w_nav4aa").slideDown();
                flag = false;
            } else {
                $(".w_nav4aa").slideUp();
                flag = true;
            }
        });
       
        $('.a').click(function() {
            if ($(this).siblings('ul').css('display') == 'none') {
                $(this).siblings('ul').slideDown(300).children('li');
                if ($(this).parents('li').siblings('li').children('ul').css('display') == 'block') {
                    $(this).parents('li').siblings('li').children('ul').slideUp(300);
                }
            } else {
                //控制自身菜单下子菜单隐藏
                $(this).siblings('ul').slideUp(300);
                //控制自身菜单下子菜单隐藏
                $(this).siblings('ul').children('li').children('ul').slideUp(300);
            }
        });
        
        $(".yijicaidan").click(function() {

            $(".yijicaidan").removeClass('btn-primary');  // 删除其他兄弟元素的样式
            //$(".yijicaidan").addClass('yijicaidan');
            $(this).addClass('btn-primary');                            // 添加当前元素的样式

        });
        function htglClick(){
        	$("#htgl").trigger("click");
        	
        	setTimeout("cjhtglClick()",3000);
        }
        function cjhtglClick(){
        	$("#cjhtgl").trigger("click");
        }
        
        //退出
        function exit(){
        	$.ajax({
        		type:"post",
        		url:getContextPath()+"/login/exit",
        		async:false,
        		data:{
        		},
        		success:function(json){
        			console.log(json)
        			location.href = "./login.html";
        		}
        	})
        }
        
        function tanchulai(){
        	$("#old_password").val("")
        	$("#new_password").val("")
        	$("#change").modal("show")
        }
        
        function save_new_password(){
        	var old_password=$("#old_password").val();
        	var new_password=$("#new_password").val();
        	//console.log(user)
        	var password=old_password+","+new_password
        	 $.ajax({
        		type:"post",
        		url:getContextPath()+"/user/updatePasswordById",
        		data:{
        			userId:user.userId,
        			password:password
        		},
        		success:function(json){
        			if(json>0){
        				toastr.success("修改成功")
        				$("#change").modal("hide")
        			}else if(json==-1){
        				toastr.error("原密码不正确")
        			}else if(json==-2){
        				toastr.error("新密码与原密码请保持不一致")
        			}
        		}
        	}) 
        }
        
	</script>
</body>
</html>