<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
     <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">检测评估类</li>
		</ul>
    </div>

    <div class="zhuti-content">
    		<form id="edit_form" class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered" id="all_table">
                            <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                        <th style="width:25%">操作</th>
		                    </tr>
		                </thead>
		                <tbody>
		                		<tr id="jc1">
			                    	<td>项目实际存档目录</td>
			                    	<td>电子及纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile1(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc2">
			                    	<td>项目特点介绍、关键词</td>
			                    	<td>电子（word）</td>
			                    	<td>定期检查外强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile2(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc3">
			                    	<td>合同资料（合同原件提交经营部综合部）</td>
			                    	<td>电子及纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile3(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc4">
			                    	<td>出版报告</td>
			                    	<td>电子及纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile4(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc5">
			                    	<td>计算模型、计算书</td>
			                    	<td>电子或纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile5(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc6">
			                    	<td>外部审查意见</td>
			                    	<td>电子及纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile6(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc7">
			                    	<td>校审资料</td>
			                    	<td>纸质</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile7(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc8">
			                    	<td>技术方案</td>
			                    	<td>电子</td>
			                    	<td>不强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile8(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc9">
			                    	<td>重点项目的项目总结</td>
			                    	<td>电子</td>
			                    	<td>强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile9(this)">添加附件</button></td>
			                    </tr>
			                    <tr id="jc10">
			                    	<td>依据历史设计图纸</td>
			                    	<td>电子或纸质</td>
			                    	<td>不强制</td>
			                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  onclick="edit_addFile10(this)">添加附件</button></td>
			                    </tr>
		                </tbody>
                        </table>
                    </form>  

        
    </div>
    <!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});

	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
  
	
	//删除
	function deleteTe(obj){
		$.SmartMessageBox({
            title: "删除提示",
            content: "确认删除？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
        	if (ButtonPressed === "确定") {
        		myTool.mask.show('删除中...');
            	var dom=$(obj).parents("tr");
        		var data=$("#mainContent").DataTable().row(dom).data();
        		$.ajax({
        			type:"POST",
        			url:getContextPath()+"/TestingEvaluation/deleteTestingEvaluationById",
        			dataType:"json",
        			data:{ 
        				id:data.teId
        				},
        			success:function(json){
        				myTool.mask.hide();
        				if(json>0){
        					toastr.success("删除成功")
        					$('#mainContent').DataTable().row(dom).remove().draw(true); //删除行立即显示
        				}else{
        					toastr.error("删除失败")
        				}
        			}
        		})
        	}
        });
	}
	
	
	function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   	no=GetQueryString("no");
   	var nameprj;
   	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/selectTaskPrjName',
	        dataType: 'json',
	        async:false,
	        data: {
	        	prjNo:no
	        },
	        success: function (json) {
	        	//console.log(json)
	        	for(var i=0;i<json.length;i++){
	            	nameprj=json[i].prjName
	        	}
	        	
	        }
		});
	//修改回显
	function initTable(){
		
		//console.log(data)
		$("#edit_prjName").val(nameprj);
		$("#edit_prjNo").val(no);
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/TestingEvaluation/selectTestingEvaluationByno',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:no,
	        },
	        success: function (json) {
	        	id=json.teId;
	        }
		});
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:id
				},
			success:function(json){
				//console.log(json)
				$(".fujian").parent().parent().empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JC项目实际存档目录"){
	            	   $("#jc1").after("<tr>"+
		       					"<td>附件</td>"+
		            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
		            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JC项目特点介绍、关键词"){
		            	   $("#jc2").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC合同资料(合同原件提交经营部综合部)"){
		            	   $("#jc3").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC出版报告"){
		            	   $("#jc4").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC计算模型、计算书"){
		            	   $("#jc5").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC外部审查意见"){
		            	   $("#jc6").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC校审资料"){
		            	   $("#jc7").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC技术方案"){
		            	   $("#jc8").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC重点项目的项目总结"){
		            	   $("#jc9").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JC依据历史设计图纸"){
		            	   $("#jc10").after("<tr>"+
			       					"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            } 
			}
		})
		
	}
	
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("删除失败");
	        	}else{
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        		//$("#change").modal("hide")
	        	}
	        }
		});
	}
	
	//修改保存
	function checkSave(){
		var acc1=new Array();
		$("#edit_accessory1 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr1={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr1.aDesc=desc;
			acc1.push(arr1)
  		})
  		var acc2=new Array();
		$("#edit_accessory2 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr2={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr2.aDesc=desc;
			acc2.push(arr2)
  		})
  		var acc3=new Array();
		$("#edit_accessory3 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr3={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr3.aDesc=desc;
			acc3.push(arr3)
  		})
  		var acc4=new Array();
		$("#edit_accessory4 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr4={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr4.aDesc=desc;
			acc4.push(arr4)
  		})
  		var acc5=new Array();
		$("#edit_accessory5 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr5={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr5.aDesc=desc;
			acc5.push(arr5)
  		})
  		var acc6=new Array();
		$("#edit_accessory6 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr6={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr6.aDesc=desc;
			acc6.push(arr6)
  		})
  		var acc7=new Array();
		$("#edit_accessory7 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr7={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr7.aDesc=desc;
			acc7.push(arr7)
  		})
  		var acc8=new Array();
		$("#edit_accessory8 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr8={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr8.aDesc=desc;
			acc8.push(arr8)
  		})
  		var acc9=new Array();
		$("#edit_accessory9 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr9={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr9.aDesc=desc;
			acc9.push(arr9)
  		})
  		var acc10=new Array();
		$("#edit_accessory10 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr10={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr10.aDesc=desc;
			acc10.push(arr10)
  		})
  		var acc11=new Array();
		$("#edit_accessory11 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr11={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr11.aDesc=desc;
			acc11.push(arr11)
  		})
  		var acc12=new Array();
		$("#edit_accessory12 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr12={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr12.aDesc=desc;
			acc12.push(arr12)
  		})
  		var acc13=new Array();
		$("#edit_accessory13 tfoot").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr13={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr13.aDesc=desc;
			acc13.push(arr13)
  		})
  		
  		var prjName=$("#edit_prjName").val();
		var prjNo=$("#edit_prjNo").val();
		if(prjName==''){
			toastr.error("项目名不能为空")
			return;
		}
		var tes={
				teId:null,
				prjName:undefined,
				prjNo:undefined,
				accessory1:undefined,
				accessory2:undefined,
				accessory3:undefined,
				accessory4:undefined,
				accessory5:undefined,
				accessory6:undefined,
				accessory7:undefined,
				accessory8:undefined,
				accessory9:undefined,
				accessory10:undefined,
				accessory11:undefined,
				accessory12:undefined,
				accessory13:undefined,
		}
		tes.teId=xgId;
		tes.prjName=prjName;
		tes.prjNo=prjNo;
		tes.accessory1=acc1;
		tes.accessory2=acc2;
		tes.accessory3=acc3;
		tes.accessory4=acc4;
		tes.accessory5=acc5;
		tes.accessory6=acc6;
		tes.accessory7=acc7;
		tes.accessory8=acc8;
		tes.accessory9=acc9;
		tes.accessory10=acc10;
		tes.accessory11=acc11;
		tes.accessory12=acc12;
		tes.accessory13=acc13;
  		console.log(tes)
  		var formData = new FormData()
  		formData.append("tes", JSON.stringify(tes));
  		
  		$("#edit_accessory1 tfoot").find("tr").each(function(){
		  		formData.append("file1", $(this).find(":file")[0].files[0]);
  		}) 
  		$("#edit_accessory2 tfoot").find("tr").each(function(){
	  			formData.append("file2", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory3 tfoot").find("tr").each(function(){
  			formData.append("file3", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory4 tfoot").find("tr").each(function(){
  			formData.append("file4", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory5 tfoot").find("tr").each(function(){
  			formData.append("file5", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory6 tfoot").find("tr").each(function(){
  			formData.append("file6", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory7 tfoot").find("tr").each(function(){
	  		formData.append("file7", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory8 tfoot").find("tr").each(function(){
  			formData.append("file8", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory9 tfoot").find("tr").each(function(){
  			formData.append("file9", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory10 tfoot").find("tr").each(function(){
  			formData.append("file10", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory11 tfoot").find("tr").each(function(){
  			formData.append("file11", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory12 tfoot").find("tr").each(function(){
  			formData.append("file12", $(this).find(":file")[0].files[0]);
  		})
  		$("#edit_accessory13 tfoot").find("tr").each(function(){
  			formData.append("file13", $(this).find(":file")[0].files[0]);
  		})
  		
  		$.ajax({
	  			type: 'POST',
	            url: getContextPath()+'/TestingEvaluation/updateTestingEvaluationSave',
	            data: formData,  
	            processData: false,
	            contentType: false,
	            success: function (json) {
	            	if(json.result>0){
	            		$("#change").modal("hide");
	            		toastr.success("修改成功")
	            		data.fileLength=1;
	            		$('#mainContent').DataTable().row(dom).data(data).draw(false);;//修改行立即显示
	            		//$('#mainContent').DataTable().row(tr).data(tes);//修改行立即显示
	            	}else{
	            		toastr.error("修改失败")
	            	}
	            }
	  		})
	}
	
	function showMask() {
    	myTool.mask.show('查询中...');
	 }
	 function hidMask() {
	 	myTool.mask.hide();
	 }
	
	
	
    function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file1' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file2' id='file2' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file3' id='file3' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile4(){
		$("#new_accessory4 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file4' id='file4' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile5(){
		$("#new_accessory5 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file5' id='file5' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile6(){
		$("#new_accessory6 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file6' id='file6' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile7(){
		$("#new_accessory7 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file7' id='file7' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile8(){
		$("#new_accessory8 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file8' id='file8' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile9(){
		$("#new_accessory9 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file9' id='file9' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile10(){
		$("#new_accessory10 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file10' id='file10' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile11(){
		$("#new_accessory11 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file11' id='file11' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile12(){
		$("#new_accessory12 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file12' id='file12' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile13(){
		$("#new_accessory13 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file13' id='file13' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	
	
	function edit_addFile1(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file1' id='xgfile1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile2(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file2' id='xgfile2' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile3(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file3' id='xgfile3' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile4(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file4' id='xgfile4' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile5(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file' name='file5' id='xgfile5' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile6(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file6' id='xgfile6' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile7(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file7' id='xgfile7' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile8(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file8' id='xgfile8' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile9(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file9' id='xgfile9' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile10(aa){
		$(aa).parent().parent().after("<tr><td>新附件</td><td colspan='2'><input style='width:80%;' type='file'  name='file10' id='xgfile10' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile11(){
		$("#edit_accessory11 tfoot").append("<tr><td>新附件</td><td><input style='width:80%;' type='file' name='file11' id='xgfile11' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td ><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile12(){
		$("#edit_accessory12 tfoot").append("<tr><td>新附件</td><td><input style='width:80%;' type='file'  name='file12' id='xgfile12' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile13(){
		$("#edit_accessory13 tfoot").append("<tr><td>新附件</td><td><input style='width:80%;' type='file'  name='file13' id='xgfile13' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
	function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}
    

	//检测档案专用
	function baocunJC(){
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/TestingEvaluation/selectTestingEvaluationByno',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:no,
	        },
	        success: function (json) {
	        	id=json.teId;
	        }
		});
		var tes={
				teId:null,
				prjName:undefined,
				prjNo:undefined,
		}
		tes.teId=id;
		tes.prjName=nameprj;
		tes.prjNo=no;
		
		var formData = new FormData()
  		formData.append("tes", JSON.stringify(tes));
  		$("#all_table tbody").find("tr").each(function(){
  			var val=$(this).find("td").eq(0).text();
  			if(val=="新附件"){
	  			var name=$(this).find("td").eq(1).find("input").attr("name");
	  			if(name=="file1"){
		  			formData.append("file1", $(this).find("input[name='file1']")[0].files[0]);
	  			}else if(name=="file2"){
		  			formData.append("file2", $(this).find("input[name='file2']")[0].files[0]);
	  			}else if(name=="file3"){
		  			formData.append("file3", $(this).find("input[name='file3']")[0].files[0]);
	  			}else if(name=="file4"){
		  			formData.append("file4", $(this).find("input[name='file4']")[0].files[0]);
	  			}else if(name=="file5"){
		  			formData.append("file5", $(this).find("input[name='file5']")[0].files[0]);
	  			}else if(name=="file6"){
		  			formData.append("file6", $(this).find("input[name='file6']")[0].files[0]);
	  			}else if(name=="file7"){
		  			formData.append("file7", $(this).find("input[name='file7']")[0].files[0]);
	  			}else if(name=="file8"){
		  			formData.append("file8", $(this).find("input[name='file8']")[0].files[0]);
	  			}else if(name=="file9"){
		  			formData.append("file9", $(this).find("input[name='file9']")[0].files[0]);
	  			}else if(name=="file10"){
		  			formData.append("file10", $(this).find("input[name='file10']")[0].files[0]);
	  			}
  			}
  		})
  		if($("#jc1").next().find("input").length<=0||$("input[name='file1']").val()==""){
			toastr.error("项目实际存档目录附件为空")
			return;
		}
  		if($("#jc2").next().find("input").length<=0||$("input[name='file2']").val()==""){
			toastr.error("项目特点介绍、关键词附件为空")
			return;
		}
  		if($("#jc3").next().find("input").length<=0||$("input[name='file3']").val()==""){
			toastr.error("合同资料（合同原件提交经营部综合部）附件为空")
			return;
		}
  		if($("#jc4").next().find("input").length<=0||$("input[name='file4']").val()==""){
			toastr.error("出版报告附件为空")
			return;
		}
  		if($("#jc5").next().find("input").length<=0||$("input[name='file5']").val()==""){
			toastr.error("计算模型、计算书附件为空")
			return;
		}
  		if($("#jc6").next().find("input").length<=0||$("input[name='file6']").val()==""){
			toastr.error("外部审查意见附件为空")
			return;
		}
  		if($("#jc7").next().find("input").length<=0||$("input[name='file7']").val()==""){
			toastr.error("校审资料附件为空")
			return;
		}
  		if($("#jc9").next().find("input").length<=0||$("input[name='file9']").val()==""){
			toastr.error("重点项目的项目总结附件为空")
			return;
		}
  		var result;
  		$.ajax({
	  			type: 'POST',
	            url: getContextPath()+'/TestingEvaluation/updateTestingEvaluationSave',
	            data: formData, 
	            async:false,
	            processData: false,
	            contentType: false,
	            dataType: 'json',
	            success: function (json) {
	            	result=json;
	            	/* if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#change").modal("hide")
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	} */
	            	/* 
	            	result=json.result;
	            	if(json.result>0){
	            		$("#change").modal("hide");
	            		toastr.success("修改成功")
	            	}else{
	            		toastr.error("修改失败")
	            	} */
	            }
	  		})
  		return result;
	}
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
</script>
</html>