<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent1 th,#mainContent2 th,#mainContent3 th,#mainContent4 th,#mainContent5 th{
            width:15%;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">维修加固设计类</li>
		</ul>
    </div>

    <div class="zhuti-content">
        	<form class="form-inline" id="add_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:25%;">项目名称</td>
                                <td style="width:30%;">
                                	<input type="text" class="form-control" id="prjName" style="width:90%;" disabled>
                                </td>
                                <td style="width:15%;">任务单号</td>
                                <td style="width:30%;">
                                	<input type="text" class="form-control" id="prjNo" style="width:90%;" disabled>
                                </td>
                            </tr>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">项目实际存档目录</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory2">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">项目特点介绍、关键词</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile2()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory3">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">招投标文件</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile3()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        
                        <table class="table table-bordered" id="new_accessory4">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">合同资料</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile4()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <br/>
                        <h3 style="color:red;">方案/初设阶段</h3>
                        
                        <table class="table table-bordered" id="new_accessory5">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">图纸</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile5()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory6">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">概算书</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile6()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory7">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">审查意见</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile7()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory8">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">校审单</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile8()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory9">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">相关单位往来函、文</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile9()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <br/>
                        <h3 style="color:red;">施工图阶段</h3>
                        
                        <table class="table table-bordered" id="new_accessory10">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">初设、方案批文</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile10()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory11">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">图纸</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile11()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory12">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">结构模型、计算书</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile12()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory13">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">依据图纸和报告</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile13()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory14">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">审查意见</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile14()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory15">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">校审单</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile15()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory16">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">施工交底记录及回复</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile16()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory17">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">设计变更资料</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile17()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory18">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">重点项目的项目总结</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile18()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory19">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">相关单位往来函、文</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile19()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                        <table class="table table-bordered" id="new_accessory20">
                        	<thead>
                        		<tr>
                                	<td style="width:25%;">重点项目质量流程内部控制文件</td>
                                	<td colspan="4"><button type="button" class="btn btn-primary weui-uploader__input" onclick="addFile20()">添加附件</button></td>
                            	</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                        
                    </form>  

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    
	
    function addFile(){
		$("#new_accessory tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file1' id='file1' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file2' id='file2' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file3' id='file3' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile4(){
		$("#new_accessory4 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file4' id='file4' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile5(){
		$("#new_accessory5 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file5' id='file5' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile6(){
		$("#new_accessory6 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file6' id='file6' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile7(){
		$("#new_accessory7 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file7' id='file7' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile8(){
		$("#new_accessory8 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file8' id='file8' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile9(){
		$("#new_accessory9 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file9' id='file9' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile10(){
		$("#new_accessory10 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file10' id='file10' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile11(){
		$("#new_accessory11 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file11' id='file11' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile12(){
		$("#new_accessory12 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file12' id='file12' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile13(){
		$("#new_accessory13 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file13' id='file13' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile14(){
		$("#new_accessory14 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file14' id='file14' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile15(){
		$("#new_accessory15 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file15' id='file15' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile16(){
		$("#new_accessory16 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file16' id='file16' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile17(){
		$("#new_accessory17 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file17' id='file17' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile18(){
		$("#new_accessory18 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file18' id='file18' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile19(){
		$("#new_accessory19 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file19' id='file19' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function addFile20(){
		$("#new_accessory20 tbody").append("<tr><td>新附件</td><td style='width:30%;'><input style='width:90%;' type='file'  name='file20' id='file20' class='form-control'></td><td style='width:10%;'>附件说明</td><td style='width:25%;'><input style='width:90%;' type='text' class='form-control'></td><td style='width:10%;''><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
    function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}

	function save(){
		var tes={
				mrId:null,
				/* prjName:undefined,
				prjNo:undefined, */
				accessory:undefined,
				accessory2:undefined,
				accessory3:undefined,
				accessory4:undefined,
				accessory5:undefined,
				accessory6:undefined,
				accessory7:undefined,
				accessory8:undefined,
				accessory9:undefined,
				accessory10:undefined,
				accessory11:undefined,
				accessory12:undefined,
				accessory13:undefined,
				accessory14:undefined,
				accessory15:undefined,
				accessory16:undefined,
				accessory17:undefined,
				accessory18:undefined,
				accessory19:undefined,
				accessory20:undefined
		}
		/* var prjName=$("#prjName").val();
		var prjNo=$("#prjNo").val();
		if(prjName==''){
			toastr.error("项目名不能为空")
			return;
		}
		tes.prjName=prjName;
		tes.prjNo=prjNo; */
		tes.mrId=mrId;
		
		var acc1=new Array();
		$("#new_accessory tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr1={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr1.aDesc=desc;
			arr1.aType="项目实际存档目录";
			acc1.push(arr1)
  		})
  		var acc2=new Array();
		$("#new_accessory2 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr2={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr2.aDesc=desc;
			arr2.aType="项目特点介绍、关键词";
			acc2.push(arr2)
  		})
  		var acc3=new Array();
		$("#new_accessory3 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr3={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr3.aDesc=desc;
			arr3.aType="招投标文件";
			acc3.push(arr3)
  		})
  		var acc4=new Array();
		$("#new_accessory4 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr4={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr4.aDesc=desc;
			arr4.aType="合同资料";
			acc4.push(arr4)
  		})
  		var acc5=new Array();
		$("#new_accessory5 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr5={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr5.aDesc=desc;
			arr5.aType="初设阶段-图纸";
			acc5.push(arr5)
  		})
  		var acc6=new Array();
		$("#new_accessory6 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr6={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr6.aDesc=desc;
			arr6.aType="初设阶段-概算书";
			acc6.push(arr6)
  		})
  		var acc7=new Array();
		$("#new_accessory7 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr7={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr7.aDesc=desc;
			arr7.aType="初设阶段-审查意见";
			acc7.push(arr7)
  		})
  		var acc8=new Array();
		$("#new_accessory8 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr8={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr8.aDesc=desc;
			arr8.aType="初设阶段-校审单";
			acc8.push(arr8)
  		})
  		var acc9=new Array();
		$("#new_accessory9 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr9={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr9.aDesc=desc;
			arr9.aType="初设阶段-相关单位往来函、文";
			acc9.push(arr9)
  		})
  		var acc10=new Array();
		$("#new_accessory10 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr10={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr10.aDesc=desc;
			arr10.aType="施工图阶段-初设、方案批文";
			acc10.push(arr10)
  		})
  		var acc11=new Array();
		$("#new_accessory11 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr11={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr11.aDesc=desc;
			arr11.aType="施工图阶段-图纸";
			acc11.push(arr11)
  		})
  		var acc12=new Array();
		$("#new_accessory12 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr12={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr12.aDesc=desc;
			arr12.aType="施工图阶段-结构模型、计算书";
			acc12.push(arr12)
  		})
  		var acc13=new Array();
		$("#new_accessory13 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr13={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr13.aDesc=desc;
			arr13.aType="施工图阶段-依据图纸和报告";
			acc13.push(arr13)
  		})
  		var acc14=new Array();
		$("#new_accessory14 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr14={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr14.aDesc=desc;
			arr14.aType="施工图阶段-审查意见";
			acc14.push(arr14)
  		})
  		var acc15=new Array();
		$("#new_accessory15 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr15={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr15.aDesc=desc;
			arr15.aType="施工图阶段-校审单";
			acc15.push(arr15)
  		})
  		var acc16=new Array();
		$("#new_accessory16 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr16={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr16.aDesc=desc;
			arr16.aType="施工图阶段-施工交底记录及回复";
			acc16.push(arr16)
  		})
  		var acc17=new Array();
		$("#new_accessory17 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr17={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr17.aDesc=desc;
			arr17.aType="施工图阶段-设计变更资料";
			acc17.push(arr17)
  		})
  		var acc18=new Array();
		$("#new_accessory18 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr18={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr18.aDesc=desc;
			arr18.aType="施工图阶段-重点项目的项目总结";
			acc18.push(arr18)
  		})
  		var acc19=new Array();
		$("#new_accessory19 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr19={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr19.aDesc=desc;
			arr19.aType="施工图阶段-相关单位往来函、文";
			acc19.push(arr19)
  		})
  		var acc20=new Array();
		$("#new_accessory20 tbody").find("tr").each(function(){
			var desc=$(this).find("td").eq(3).find("input").val();
			var arr20={
					aId:null,
					acName:undefined,
					acUrl:undefined,
					aType:undefined,
					aDesc:undefined,
			}
			arr20.aDesc=desc;
			arr20.aType="施工图阶段-重点项目质量流程内部控制文件";
			acc20.push(arr20)
  		})
  		tes.accessory1=acc1;
		tes.accessory2=acc2;
		tes.accessory3=acc3;
		tes.accessory4=acc4;
		tes.accessory5=acc5;
		tes.accessory6=acc6;
		tes.accessory7=acc7;
		tes.accessory8=acc8;
		tes.accessory9=acc9;
		tes.accessory10=acc10;
		tes.accessory11=acc11;
		tes.accessory12=acc12;
		tes.accessory13=acc13;
		tes.accessory14=acc14;
		tes.accessory15=acc15;
		tes.accessory16=acc16;
		tes.accessory17=acc17;
		tes.accessory18=acc18;
		tes.accessory19=acc19;
		tes.accessory20=acc20;
		
		var formData = new FormData()
  		formData.append("tes", JSON.stringify(tes));
  		
  		$("#new_accessory tbody").find("tr").each(function(){
	  		formData.append("file1", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory2 tbody").find("tr").each(function(){
  			formData.append("file2", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory3 tbody").find("tr").each(function(){
  			formData.append("file3", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory4 tbody").find("tr").each(function(){
  			formData.append("file4", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory5 tbody").find("tr").each(function(){
  			formData.append("file5", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory6 tbody").find("tr").each(function(){
  			formData.append("file6", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory7 tbody").find("tr").each(function(){
	  		formData.append("file7", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory8 tbody").find("tr").each(function(){
  			formData.append("file8", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory9 tbody").find("tr").each(function(){
  			formData.append("file9", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory10 tbody").find("tr").each(function(){
  			formData.append("file10", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory11 tbody").find("tr").each(function(){
  			formData.append("file11", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory12 tbody").find("tr").each(function(){
  			formData.append("file12", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory13 tbody").find("tr").each(function(){
  			formData.append("file13", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory14 tbody").find("tr").each(function(){
  			formData.append("file14", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory15 tbody").find("tr").each(function(){
  			formData.append("file15", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory16 tbody").find("tr").each(function(){
  			formData.append("file16", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory17 tbody").find("tr").each(function(){
  			formData.append("file17", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory18 tbody").find("tr").each(function(){
  			formData.append("file18", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory19 tbody").find("tr").each(function(){
  			formData.append("file19", $(this).find(":file")[0].files[0]);
  		})
  		$("#new_accessory20 tbody").find("tr").each(function(){
  			formData.append("file20", $(this).find(":file")[0].files[0]);
  		})
  		
  		$.ajax({
	  			type: 'POST',
	            url: getContextPath()+'/MaintenanceReinforcement/editMaintenanceReinforcement',
	            data: formData,  
	            processData: false,
	            contentType: false,
	            success: function (json) {
	            	if(json.result>0){
	            		$("#myModal").modal("hide");
	            		toastr.success("修改成功");
	            		dataC.fileLength=1;
	            		$('#mainContent').DataTable().row(trC).data(dataC).draw(false);
	            		/* $('#mainContent').DataTable().row.add(json.mr).draw(false);     //新增行立即显示 */
	            	}else{
	            		toastr.error("修改失败")
	            	}
	            }
	  		})
	}

	
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	function deleteTe(obj){
		$.SmartMessageBox({
            title: "删除提示",
            content: "确认删除？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
        	if (ButtonPressed === "确定") {
        		myTool.mask.show('删除中...');
            	var tr=$(obj).parents("tr");
        		var data=$("#mainContent").DataTable().row(tr).data();
        		var id=data.mrId;
        		$.ajax({
          			type: 'POST',
                    url: getContextPath()+'/MaintenanceReinforcement/deleteMr',
                    dataType: 'json',
                    data: {
                    	id:id
                    },
                    success: function (json) {
                    	myTool.mask.hide();
                    	if(json>0){
                    		toastr.success("删除成功");
                    		$("#mainContent").DataTable().row(tr).remove().draw(false);
                    	}else{
                    		toastr.error("删除失败");
                    	}
                    }
        		});
        	}
        });
	}
    
	function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("dataid");
   	no=GetQueryString("no");
   	var nameprj;
   	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/selectTaskPrjName',
	        dataType: 'json',
	        async:false,
	        data: {
	        	prjNo:no
	        },
	        success: function (json) {
	        	//console.log(json)
	        	for(var i=0;i<json.length;i++){
	            	nameprj=json[i].prjName
	        	}
	        	
	        }
		});
	function initTable(){
		
		$("#prjName").val(nameprj);
		$("#prjNo").val(no);
			
		$.ajax({
  			type: 'POST',
            url: getContextPath()+'/MaintenanceReinforcement/selectAccessory',
            dataType: 'json',
            data: {
            	id:id
            },
            success: function (json) {
            	var acc=json.accessory1;
            	$(".fileTr").html('');
            	/* $("#new_accessory tbody").html(''); */
            	for(var i=0;i<acc.length;i++){
            		$("#new_accessory thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc2=json.accessory2;
            	/* $("#new_accessory2 tbody").html(''); */
            	for(var i=0;i<acc2.length;i++){
            		$("#new_accessory2 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc2[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc2[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc2[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc3=json.accessory3;
            	/* $("#new_accessory3 tbody").html(''); */
            	for(var i=0;i<acc3.length;i++){
            		$("#new_accessory3 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc3[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc3[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc3[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc4=json.accessory4;
            	/* $("#new_accessory4 tbody").html(''); */
            	for(var i=0;i<acc4.length;i++){
            		$("#new_accessory4 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc4[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc4[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc4[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc5=json.accessory5;
            	/* $("#new_accessory5 tbody").html(''); */
            	for(var i=0;i<acc5.length;i++){
            		$("#new_accessory5 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc5[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc5[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc5[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc6=json.accessory6;
            	/* $("#new_accessory6 tbody").html(''); */
            	for(var i=0;i<acc6.length;i++){
            		$("#new_accessory6 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc6[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc6[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc6[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc7=json.accessory7;
            	/* $("#new_accessory7 tbody").html(''); */
            	for(var i=0;i<acc7.length;i++){
            		$("#new_accessory7 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc7[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc7[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc7[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc8=json.accessory8;
            	/* $("#new_accessory8 tbody").html(''); */
            	for(var i=0;i<acc8.length;i++){
            		$("#new_accessory8 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc8[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc8[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc8[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc9=json.accessory9;
            	/* $("#new_accessory9 tbody").html(''); */
            	for(var i=0;i<acc9.length;i++){
            		$("#new_accessory9 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc9[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc9[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc9[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc10=json.accessory10;
            	/* $("#new_accessory10 tbody").html(''); */
            	for(var i=0;i<acc10.length;i++){
            		$("#new_accessory10 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc10[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc10[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc10[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc11=json.accessory11;
            	/* $("#new_accessory11 tbody").html(''); */
            	for(var i=0;i<acc11.length;i++){
            		$("#new_accessory11 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc11[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc11[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc11[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc12=json.accessory12;
            	/* $("#new_accessory12 tbody").html(''); */
            	for(var i=0;i<acc12.length;i++){
            		$("#new_accessory12 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc12[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc12[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc12[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc13=json.accessory13;
            	/* $("#new_accessory13 tbody").html(''); */
            	for(var i=0;i<acc13.length;i++){
            		$("#new_accessory13 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc13[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc13[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc13[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc14=json.accessory14;
            	/* $("#new_accessory14 tbody").html(''); */
            	for(var i=0;i<acc14.length;i++){
            		$("#new_accessory14 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc14[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc14[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc14[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc15=json.accessory15;
            	/* $("#new_accessory15 tbody").html(''); */
            	for(var i=0;i<acc15.length;i++){
            		$("#new_accessory15 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc15[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc15[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc15[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc16=json.accessory16;
            	/* $("#new_accessory16 tbody").html(''); */
            	for(var i=0;i<acc16.length;i++){
            		$("#new_accessory16 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc16[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc16[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc16[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc17=json.accessory17;
            	/* $("#new_accessory17 tbody").html(''); */
            	for(var i=0;i<acc17.length;i++){
            		$("#new_accessory17 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc17[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc17[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc17[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc18=json.accessory18;
            	/* $("#new_accessory18 tbody").html(''); */
            	for(var i=0;i<acc18.length;i++){
            		$("#new_accessory18 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc18[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc18[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc18[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc19=json.accessory19;
            	/* $("#new_accessory19 tbody").html(''); */
            	for(var i=0;i<acc19.length;i++){
            		$("#new_accessory19 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc19[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc19[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc19[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	var acc20=json.accessory20;
            	/* $("#new_accessory20 tbody").html(''); */
            	for(var i=0;i<acc20.length;i++){
            		$("#new_accessory20 thead").append("<tr class='fileTr'>"+
            																		"<td>附件"+(i+1)+"</td>"+
            																		"<td><input type='text' value='"+acc20[i].acName+"' disabled></td>"+
            																		"<td>附件说明</td>"+
            																		"<td><input type='text' value='"+acc20[i].aDesc+"' disabled></td>"+
            																		"<td><button type='button' class='btn btn-primary' data1="+acc20[i].acUrl+" onclick='remove_this(this)'>删除附件</button></td>"+
            																	"</tr>")
            	}
            	
            }
  		})
	}
	
	function remove_this(obj){
		var tr=$(obj).parents("tr");
		var filePath=$(obj).attr("data1");
		var fileName=$(tr).find("td").eq(1).find("input").val();
		$.ajax({
  			type: 'POST',
            url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
            dataType: 'json',
            data: {
            	acUrl:filePath,
            	acName:fileName,
            	aId:mrId
            },
            success: function (json) {
            	if(json>0){
            		$(tr).remove();
            		toastr.success("删除成功")
            	}else{
            		toastr.error("删除失败")
            	}
            }
		});
	}
	
	 function showMask() {
	    	myTool.mask.show('查询中...');
    }
    function hidMask() {
    	myTool.mask.hide();
    }

</script>
</html>