<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent1 th,#mainContent2 th,#mainContent3 th,#mainContent4 th,#mainContent5 th{
            width:15%;
        }
          .details-control{
        	text-align:center;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">项目档案删除流程</li>
		</ul>
    </div>

    <div class="zhuti-content">
       <!--  <div class="UpperPart">
            <div class="UpperPartL">
                <div class="yihang">
                	<div>部门筛选：</div>
	            	<div>
		            	<select class="form-control" id="department">
                        </select>
	            	</div> 
                </div>
               
            </div>
            <div class="UpperPartR">
                
            </div>

        </div> -->
        <div class="LowerPart">
<!--         	<div style="display:flex;justify-content: space-between;margin-bottom:4px;">
             		<div class="yihang">
             			<button type="button" class="btn btn-primary Pjaxa" data-toggle="modal" data-target="#myModal">新增归档</button>
             		</div>
             		<div class='yihang'>
		                <input class="form-control" id="searchData" value="" placeholder="搜索" type="text">
		             </div>
             </div> -->
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th style="width:20%;">项目名称</th>
                        <th style="width:10%;">任务单号</th>
                        <th style="width:14%;">项目类型</th>
                        <th style="width:10%;">经营责任部门</th>
                        <th style="width:15%;">经营资料是否归档</th>
                        <th style="width:10%;">生产责任部门</th>
                        <th style="width:15%;">生产资料是否归档</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>

        
    </div>
    
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新增项目归档</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" id="new_form" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
		                	<tr>
		                		<td style="width:20%;">项目名称</td>
		                		<td style="width:35%;">
		                			<input type="text" id="prj_name" class="form-control" style="width:60%;" disabled>
		                			<button type="button" style="margin-left: 5px;" class="btn btn-primary" id="chosexm">选择项目</button>
		                		</td>
		                		<td style="width:20%;">任务单号</td>
		                		<td style="width:25%;">
		                			<input type="text" id="task_no" class="form-control" style="width:70%;" disabled>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td>项目类型</td>
		                		<td>
		                			<input type="text" id="prj_type" class="form-control" style="width:60%;" disabled>
		                		</td>
		                		<td>生产责任部门</td>
		                		<td>
		                			<select class="form-control" id="sc_dept" style="width:70%;"></select>
		                		</td>
		                	</tr>
		                	<tr>
		                		<td>经营责任部门</td>
		                		<td>
		                			<select class="form-control" id="jy_dept" style="width:60%;"></select>
		                		</td>
		                		<td></td>
		                		<td></td>
		                	</tr>
		            	</table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="saveGd()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModalss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline"  id="jy_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="all_table">
		                <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr id="zb1">
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb2">
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb3">
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb4">
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb5">
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb6">
		                    	<td>其他</td>
		                    	<td>纸质或电子</td>
		                    	<td>不强制</td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="mydal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="look_table">
		                <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr id="zb1_look">
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb2_look">
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb3_look">
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb4_look">
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb5_look">
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb6_look">
		                    	<td>其他</td>
		                    	<td>纸质或电子</td>
		                    	<td>不强制</td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan"  frameborder="false"  scrolling="auto" style="border: none;" width="100%"  height=700px  allowtransparency="true"></iframe>
                   			
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan2"  frameborder="false"  scrolling="auto" style="border: none;" width="100%"  height=700px  allowtransparency="true"></iframe>
                   			
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document" style="width:60%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao" style="width:100%;">
                            <thead>
                            	<tr>
                            		<th style="width:8%;"></th>
                            		<th style="width:12%;">编号</th>
                                    <th style="width:30%;">项目名称</th>
                                    <th style="width:15%;">项目所属公司</th>
                                    <th style="width:15%;">项目类型</th>
                                    <th style="width:20%;">甲方单位</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	initDept();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   	no=GetQueryString("no");
   	
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "sDom": 
			"t"+
			"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "prjName"}, 
		            { "data": "prjNo"},
		            { "data": "prjType"},
		            { "data": "jyDept"},
		            { "data": "jyStatus"},
		            { "data": "scDept"},
		            { "data": "scStatus"},
		        ],
		        "columnDefs": [
							  {	
									 "class": "tcenter",
									    "targets": 4,
									    "searchable": true,
									    "render": function(data, type, full) {
										    	if(data==0){
										    		return '<button type="button" class="btn btn-danger Pjaxb"  onclick="look(this)">未归档</button>'
										    	}else if(data==1){
										    		return '<button type="button" class="btn btn-info Pjaxb"  onclick="look(this)">部分归档</button>'
										    	}else if(data==2){
										    		return '<button type="button" class="btn btn-primary Pjaxb"  onclick="lookJY(this)">已归档</button>'
										    	}else if(data==3){
										    		return '<button type="button" class="btn btn-info Pjaxb"  onclick="look(this)">部分归档</button>'
										    	}
									        }
									  },
									  {	
											 "class": "tcenter",
											    "targets": 6,
											    "searchable": true,
											    "render": function(data, type, full) {
											    	if(data==0){
											    		return '<button type="button" class="btn btn-danger Pjaxb"  onclick="look2(this)">未归档</button>'
											    	}else if(data==1){
											    		return '<button type="button" class="btn btn-info Pjaxb"  onclick="look2(this)">部分归档</button>'
											    	}else if(data==2){
											    		return '<button type="button" class="btn btn-primary Pjaxb" onclick="lookQt(this)">已归档</button>'
											    	}else if(data==3){
											    		return '<button type="button" class="btn btn-info Pjaxb"  onclick="look2(this)">部分归档</button>'
											    	}
											    	
											     }
											  }
							],
							"fnDrawCallback" : function() {
								$.ajax({
			                		type:"post",
			                		url:getContextPath()+"/login/getUser",
			                		async:false,
			                		data:{
			                		},
			                		success:function(json){
			                			
			                			if(json!=null &&json!=""){
			                				var arr = json.uPermissions.split(',');
			                				
			                				for(var i=0;i<arr.length;i++){
			                					var arr2 = arr[i].replace("+","");
			                					if(arr[i].indexOf("Pjaxb") >= 0 ){
			                						$(".Pjaxb").show();
			                					}
			                					
			                				}
			                				
			                			} 
			                			
			                		}
			                	});
								
							},
		"fnDrawCallback" : function() {},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
    var tablexm=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
		            { "data": "prjNo"},
		            { "data": "prjName"},
		            { "data": "prjCompany"},
		            { "data": "prjType2"},
		            { "data": "ccName"},
		            
		        ],
		        "columnDefs": [
								{
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/PrjRecord/selectPrjRecordById',
            dataType: 'json',
            data: {
            	id:id
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                $(".dt-toolbar-footer").hide();
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		async:false,
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					if(arr[i].indexOf("Pjaxb") >= 0 ){
            						$(".Pjaxb").show();
            					}
            					
            				}
            				
            			} 
            			
            		}
            	});
            }
        });
    }

	function initbumen(){
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
	            dataType: 'json',
	            data: {
	            },
	            success: function (json) {
	            	$("#department").append("<option value='%'>全部</option>")
	                for(var i=0;i<json.length;i++){
						$("#department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")                	
	                }
	            	$("#department").trigger("change");
	            }
	        });
	    }
	
	$("#department").on("change",function(){
		showMask();
		 var department=$("#department").val();
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/task/selectTask',
	            dataType: 'json',
	            data: {
	            	mainDepartment:department
	            },
	            success: function (json) {
	            	hidMask();
	                $('#mainContent').dataTable().fnClearTable();
	                $('#mainContent').DataTable().rows.add(json).draw(false);
	            }
	        }); 
	 })
	 
	 $("#searchData").on("input", function(e){
			var d = $("#searchData").val();
			$("#mainContent").DataTable().search(d).draw(true);
		});
	
	var stateArray=[];
	var flag=true;
	var panbie;
	function showerji(obj){
		//panbie=$(obj).parent().prev().prev().prev().text();
		panbie = obj.parentNode.parentNode.rowIndex; 
		if(stateArray.indexOf(panbie)>=0){
			stateArray.splice($.inArray(panbie,stateArray),1);// $.inArray(data.idFirst,stateArray)获取idFirst在数组中的索引值 ；stateArray.splice(索引值，数量)删除数组中指定索引值的元素
			$(".qwe"+panbie).remove();
			
			$(obj).removeClass("glyphicon-chevron-up");
			$(obj).addClass("glyphicon-chevron-down");
			
		}else{
			stateArray.push(panbie);
			
			$(obj).removeClass("glyphicon-chevron-down");
			$(obj).addClass("glyphicon-chevron-up");
			
		}
		
		
	}
	$("#uploaderBox1").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input type='file' name='file1' /></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox2").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file2' type='file'/></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox3").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file3' type='file'/></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox4").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file4' type='file'/></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox5").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file5' type='file'/></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox6").on("click", function(e) {
        $(this).parent().parent().after("<tr class='append_tr'>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file6' type='file'/></td>"+
        								      "</tr>");
        
    });
	function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}
	
	var dom;
	var datas;
	var jyId;
	function look(aa){
		$("#myModalss").modal('show');
		dom = $(aa).parents('tr');
		datas=$('#mainContent').DataTable().row(dom).data();
		jyId=datas.id;
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:datas.id
			},
			success:function(json){
				$(".append_tr").remove();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JY招标文件"){
	            	   $("#zb1").after("<tr class='append_tr'>"+
								"<td>附件</td>"+
		            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JY招标图纸"){
		            	   $("#zb2").after("<tr class='append_tr'>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY投标文件(技术+商务)"){
		            	   $("#zb3").after("<tr class='append_tr'>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY中标通知书(原件由经营部存档)"){
		            	   $("#zb4").after("<tr class='append_tr'>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY开标记录"){
		            	   $("#zb5").after("<tr class='append_tr'>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY其他"){
		            	   $("#zb6").after("<tr class='append_tr'>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            } 
			}
		})
    }
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).attr("data3");
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json>0){
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        	}else{
	        		toastr.error("删除失败");
	        	}
	        }
		});
	}
	
	
	function lookJY(obj){
		$("#mydal2").modal('show');
		var dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		var id;
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:data.id
			},
			success:function(json){
				$(".lookfujian").empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JY招标文件"){
	            	   $("#zb1_look").after("<tr class='lookfujian'>"+
								"<td>附件</td>"+
								"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JY招标图纸"){
		            	   $("#zb2_look").after("<tr class='lookfujian'>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY投标文件(技术+商务)"){
		            	   $("#zb3_look").after("<tr class='lookfujian'>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY中标通知书(原件由经营部存档)"){
		            	   $("#zb4_look").after("<tr class='lookfujian'>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY开标记录"){
		            	   $("#zb5_look").after("<tr class='lookfujian'>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY其他"){
		            	   $("#zb6_look").after("<tr class='lookfujian'>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    "</tr>");
		            }
	            } 
			}
		})
	}
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	
	
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
	//保存经营资料
	/* function xxxxxx{
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
	        dataType: 'json',
	        async:false,
	        data: {
	        	
	        },
	        success: function (json) {
	        	id=json.mdId;
	        }
		});
			var ManagingDocuments={
					mdId:null,
					prjName:undefined,
					prjNo:undefined,
			}
			ManagingDocuments.mdId=id;
			ManagingDocuments.prjName=datas.prjName;
			ManagingDocuments.prjNo=datas.prjNo;
			var formData = new FormData();
	  		formData.append("managingDocuments", JSON.stringify(ManagingDocuments));
	  		
	  		$("#all_table tbody").find("tr").each(function(){
	  			var val=$(this).find("td").eq(0).text();
	  			if(val=="新附件"){
		  			var name=$(this).find("td").eq(1).find("input").attr("name");
		  			if(name=="file1"){
			  			formData.append("file1", $(this).find("input[name='file1']")[0].files[0]);
		  			}else if(name=="file2"){
			  			formData.append("file2", $(this).find("input[name='file2']")[0].files[0]);
		  			}else if(name=="file3"){
			  			formData.append("file3", $(this).find("input[name='file3']")[0].files[0]);
		  			}else if(name=="file4"){
			  			formData.append("file4", $(this).find("input[name='file4']")[0].files[0]);
		  			}else if(name=="file5"){
			  			formData.append("file5", $(this).find("input[name='file5']")[0].files[0]);
		  			}
	  			}
	  		})
	  		if($("#zb1").next().find("input").length<=0||$("input[name='file1']").val()==""){
				toastr.error("招标文件附件为空")
				return;
			}
	  		if($("#zb2").next().find("input").length<=0||$("input[name='file2']").val()==""){
				toastr.error("招标图纸附件为空")
				return;
			}
	  		if($("#zb3").next().find("input").length<=0||$("input[name='file3']").val()==""){
				toastr.error("投标文件(技术+商务)附件为空")
				return;
			}
	  		if($("#zb4").next().find("input").length<=0||$("input[name='file4']").val()==""){
				toastr.error("中标通知书(原件由经营部存档)附件为空")
				return;
			}
	  		if($("#zb5").next().find("input").length<=0||$("input[name='file5']").val()==""){
				toastr.error("开标记录附件为空")
				return;
			}
			 $.ajax({
	  			type: 'POST',
	            url: getContextPath()+'/ManagingDocuments/updateManagingDocumentsSave',
	            data: formData,  
	            processData: false,
	            contentType: false,
	            dataType: 'json',
	            success: function (json) {
	            	if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#myModal").modal("hide")
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	}
	            }
	  		}) 
			
	}  */
	
	
	var type;
	var dom;
	var data;
	function look2(aa){
		$("#myModal2").modal('show');
		dom = $(aa).parents('tr');
		data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		type=data.prjType;
		if(data.prjType.indexOf("C")>=0){
			//施工文档资料
			$("#lookdangan").attr('src', '../danganGUanliChange/ConstructionDocumentLook2.html?prjId='+data.id);
		}else if(data.prjType.indexOf("A")>=0){
			//检测评估资料
			$("#lookdangan").attr('src', '../danganGUanliChange/DetectionEvaluationLook2.html?prjId='+data.id);
		}else if(data.prjType.indexOf("B")>=0){
			//设计文件资料
			$("#lookdangan").attr('src', '../danganGUanliChange/designDocumentLook2.html?prjId='+data.id);
		}else if(data.prjType.indexOf("K")>=0){
			//科技文档资料
			$("#lookdangan").attr('src', '../danganGUanliChange/ScienceTechnologyLook2.html?prjId='+data.id);
		}
		
	}	
	
	function lookQt(aa){
		$("#myModal4").modal('show');
		var dom = $(aa).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		if(data.prjType.indexOf("C")>=0){
			//施工文档资料
			$("#lookdangan2").attr('src', '../danganGUanliLook/ConstructionDocumentLook.html?prjId='+data.id);
		}else if(data.prjType.indexOf("A")>=0){
			//检测评估资料
			$("#lookdangan2").attr('src', '../danganGUanliLook/DetectionEvaluationLook.html?prjId='+data.id);
		}else if(data.prjType.indexOf("B")>=0){
			//设计文件资料
			$("#lookdangan2").attr('src', '../danganGUanliLook/designDocumentLook.html?prjId='+data.id);
		}else if(data.prjType.indexOf("K")>=0){
			//科技文档资料
			$("#lookdangan2").attr('src', '../danganGUanliLook/ScienceTechnologyLook.html?prjId='+data.id);
		}
		
	}
	
	 function showMask() {
	    	myTool.mask.show('查询中...');
	 }
	 function hidMask() {
	 	myTool.mask.hide();
	 }
	
	 //选择项目
		$("#chosexm").click(function(){
			$('#xiangmumd').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
	            if ($('.modal.in').size() >= 1) {
	                $('body').addClass('modal-open')
	            }
	        })
			 $.ajax({
		            type: 'POST',
		            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
		            dataType: 'json',
		            data: {
		            },
		            success: function (json) {
		                $('#xiangmubiao').dataTable().fnClearTable();
		                $('#xiangmubiao').DataTable().rows.add(json).draw(false);
		                $("#xiangmumd").modal("show");
		            }
		        });
		})
		
		$("#quedingxm").click(function(){
		var tr=$("input[name='xiangmuName']:checked").parents("tr");
		var data=$('#xiangmubiao').DataTable().row(tr).data();
		$("#prj_name").val(data.prjName);
		$("#task_no").val(data.prjNo);
		$("#prj_type").val(data.prjType2);
		$("#sc_dept").val(data.omName);
		$("#xiangmumd").modal("hide");
	})
	
	function initDept(){
			$.ajax({
		        type: 'POST',
		        url: getContextPath()+'/organizationManagement/getAllOrganizationManagement',
		        dataType: 'json',
		        data: {
		        },
		        success: function (json) {
	        		 $("#sc_dept").empty();
	        		 $("#jy_dept").empty();
		        	 for(var i=0;i<json.length;i++){
		        		$("#sc_dept").append("<option value="+json[i].omName+">"+json[i].omName+"</option>")
		        		$("#jy_dept").append("<option value="+json[i].omName+">"+json[i].omName+"</option>")
		        	 }
		        	 $("#jy_dept").val("经营发展部")
		        }
		    });
	 }
	 
	function clear(){
		$("#new_form").find("input,textarea").each(function(){
		   this.value ="";
		});
	}
	 
	 function saveGd(){
		 var prjName=$("#prj_name").val();
		 var prjNo=$("#task_no").val();
		 var prjType=$("#prj_type").val();
		 var scDept=$("#sc_dept").val();
		 var jyDept=$("#jy_dept").val();
		 $.ajax({
		        type: 'POST',
		        url: getContextPath()+'/PrjRecord/addPrjRecord',
		        dataType: 'json',
		        data: {
		        	prjName:prjName,
		        	prjNo:prjNo,
		        	prjType:prjType,
		        	scDept:scDept,
		        	scStatus:0,
		        	jyDept:jyDept,
		        	jyStatus:0
		        },
		        success: function (json) {
	        		var result=json.result;
	        		if(result==1){
	        			var pr=json.pr;
	        			toastr.success('保存成功');
	        			$('#mainContent').DataTable().row.add(pr).draw(false);
	        			$("#myModal").modal("hide");
	        			$(".Pjaxb").show();
	        			clear();
	        		}else if(result==0){
	        			toastr.error('保存失败');
	        		}else if(result==2){
	        			toastr.error('项目重复');
	        		}
		        }
		    });
		 
	 }
	
	 var data;
	 var tr1;
	 function submitJY(obj){
		 tr1 = $(obj).closest('tr');
		 var tr=$(obj).parents("tr");
		 data=$("#mainContent").DataTable().row(tr).data();
		 var statu = confirm("确认提交吗?");
		 if(!statu){
		   	return false;
		 }
		 $.ajax({
		        type: 'POST',
		        url: getContextPath()+'/PrjRecord/submitPrjRecordJY',
		        dataType: 'json',
		        data: {
		        	id:data.id,
		        	no:data.prjNo
		        },
		        success: function (json) {
		        	lianjie=json.url;
	            	if(json.receiver!=null&&json.receiver.length>=1){
		            	  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<json.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" style="width:22px;height:22px;" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +json.receiver[i].omName
		        					  +'</td><td>'
		        					  +json.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +json.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(json.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:json.url,
		        	        	  userId:json.receiver.userId,
		        	        	  uName:json.receiver.uName,
		        	        	  omName:json.receiver.omName,
		        	        	  dutyName:json.receiver.dutyName,
		        	        	  omId:json.receiver.omId,
		        	        	  dutyId:json.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  }
	            	sub1(data.id)
		        }
		    });
	 }
	 
	 function sub1(obj){
		 $.ajax({
	          type: 'POST',
	          url: getContextPath()+'/PrjRecord/isExist',
	          dataType: 'json',
	          data:{
	        	  id:obj,
	          },
	          success: function (json) {
	        	  console.log(json)
	        	  var state;
	        	  if(json>0){
	        		state=3;  
	        	  }else{
	        		  state=1;
	        	  }
	        	  $.ajax({
	       	          type: 'POST',
	       	          url: getContextPath()+'/PrjRecord/updateJYStatus2',
	       	          dataType: 'json',
	       	          data:{
	       	        	  id:obj,
	       	        	  state:state,
	       	          },
	       	          success: function (json) {
	       	        	 
	       	        	data.jyStatus=state;
	       	        	$('#mainContent').DataTable().row(tr1).data(data);//修改行立即显示
	       	          }
       	     	 });
	          }
	      });
	 }
	 
	 var data2
	 var tr2;
	 function submitSC(obj){
		 tr2 = $(obj).closest('tr');
		 var tr=$(obj).parents("tr");
		  data2=$("#mainContent").DataTable().row(tr).data();
		 var statu = confirm("确认提交吗?");
		 if(!statu){
		   	return false;
		 }
		 $.ajax({
		        type: 'POST',
		        url: getContextPath()+'/PrjRecord/submitPrjRecordSc',
		        dataType: 'json',
		        data: {
		        	id:data2.id,
		        	no:data2.prjNo,
		        	type:data2.prjType
		        },
		        success: function (json) {
		        	lianjie=json.url;
	            	if(json.receiver!=null&&json.receiver.length>=1){
		            	  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<json.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" style="width:22px;height:22px;" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +json.receiver[i].omName
		        					  +'</td><td>'
		        					  +json.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +json.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(json.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:json.url,
		        	        	  userId:json.receiver.userId,
		        	        	  uName:json.receiver.uName,
		        	        	  omName:json.receiver.omName,
		        	        	  dutyName:json.receiver.dutyName,
		        	        	  omId:json.receiver.omId,
		        	        	  dutyId:json.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  }
	            	sub2(data2.id)
		        }
		    });
	 }
	 function sub2(obj){
		 $.ajax({
	          type: 'POST',
	          url: getContextPath()+'/PrjRecord/isExist',
	          dataType: 'json',
	          data:{
	        	  id:obj,
	          },
	          success: function (json) {
	        	  var state;
	        	  if(json>0){
	        		state=3;  
	        	  }else{
	        		  state=1;
	        	  }
	        	  $.ajax({
	      	          type: 'POST',
	      	          url: getContextPath()+'/PrjRecord/updateSCStatus2',
	      	          dataType: 'json',
	      	          data:{
	      	        	  id:obj,
	      	        	  state:state,
	      	          },
	      	          success: function (json) {
	      	        	data2.scStatus=state;
	       	        	$('#mainContent').DataTable().row(tr2).data(data2);//修改行立即显示
	      	          }
	      	      });
	          }
	      });
	 }
	 
	  function changeData(){
			$.ajax({
		        type: 'POST',
		        url: getContextPath()+'/PrjRecord/delPrjById',
		        dataType: 'json',
		        data:{
		        	id:id
		        },
		        success: function (json) {
		        	
		        }
		    });
		}
</script>
</html>