<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
            <li>培训管理</li>
            <li class="active">外出培训申请</li>
		</ul>
    </div>

    <div class="zhuti-content">

        	<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                   	<thead>
                   			<tr>
                         	<th></th>
                             <th>部门</th>
                             <th>职务</th>
                             <th>审批人</th>
                         </tr>
                   	</thead>
                    <tbody>
                    	
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 --> 
<!-- 修改Modal -->
				<form class="form-inline"  id="edit_form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                           <tr>
                            <td style="width:15%;">主&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp题  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_title"></td>
                            <td style="width:15%;">所属部门</td>
                            <td style="width:35%;">
                            	<select class="form-control" style="width:60%;" id="edit_department"></select>
                               </td>
                        </tr>
                        <tr>
                            <td style="width:15%;">申请人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;">
                            		<input type="text" style="width:60%;" class="form-control" id="edit_user" disabled>
                                	<button type="button" class="btn btn-primary"  id="xgchoseren" data-toggle="modal"  data-target="#xgpeople">选择人员</button>
                            </td>
                            <td style="width:15%;">职&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp务</td>
                            <td style="width:35%;">
                            	<input type="text" style="width:60%;" class="form-control" id="edit_duty" disabled>
                            </td>
                        </tr>
                        <tr>
                        	<td style="width:15%;">负责人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;">
                            		<input type="text" style="width:60%;" class="form-control" id="xgfuzeren" disabled>
                                	<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#xgpeople3">选择人员</button>
                            </td>
                            <td style="width:15%;">课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;">
                               <input type="text" style="width:60%;" class="form-control" id="edit_className">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;">申请时间</td>
                            <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_year"></td>
                            <td style="width:15%;">培训费用</td>
                            <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_studyMoney"></td>
                        </tr>
                        <tr>
                            <td style="width:15%;">培训时间  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;" colspan="3"><input type="text" style="width:30%;" class="form-control" id="edit_year2">-<input type="text" style="width:30%;" class="form-control" id="edit_year3"></td>
                        </tr>
                        <tr>
                            <td>培训类型</td>
                            <td>
                            	<select class="form-control" id="xgtrainingType"  style="width:60%;">
                            			<option>技术类</option>
                            			<option>管理类</option>
                                </select>
                            </td>
                            <td style="width:15%;">培训地点  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td style="width:35%;"><input type="text" style="width:60%;" class="form-control" id="edit_studyAddr"></td>
                        </tr>
                        <tr>
                            <td  style="width:15%;">参加人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td  style="width:35%;" colspan="3">
                            	<input type="text" style="width:80%;" class="form-control" id="edit_in_users" >
                            	<button type="button" class="btn btn-primary"  id="edit_choosery2">选择人员</button>
                                <!-- <select class="selectpicker show-tick form-control"  style="width:100%;" id="new_users" multiple data-live-search="true">
                                </select> -->
                            </td>
                        </tr>
                        <tr>
                            <td>课程内容  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="edit_study_infos"></textarea></td>
                        </tr>
                        <tr>
                            <td>参加理由和培训目标  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td colspan="3"><textarea class="form-control" rows="3" style="width:100%;" id="edit_study_target"></textarea></td>
                        </tr>
                        </table> 
                        <table class="table table-bordered table-condensed" id="edit_table">
                        	<thead>
				     			<tr><td style="width:15%;">附件</td>
				     			<td><button type="button" class="btn btn-primary weui-uploader__input" onclick="edit_uploaderBox()">添加附件</button></td>
				                <td style="width:20%;">&nbsp</td></tr>
							</thead>
							<tbody></tbody>
                    	</table> 
                    </form>  
<!-- 修改model结束 -->
<!-- Modal xg选人 -->
<div class="modal fade" id="xgpeople" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="xgbumensqry" class="form-control" ></select>
	                    </div>
	                </form>
	       			<table class="table table-bordered table-condensed" id="xgmingzibiao">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="xgquerenciren">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal xg选人结束 -->
        <!-- Modal选人 -->
<div class="modal fade" id="xgpeople3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="xgbumensqry3" class="form-control" ></select>
	                    </div>
	                </form>
	       			<table class="table table-bordered table-condensed" id="xgmingzibiao3">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="xgquerenciren3">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
<!-- Modal选人 -->
<div class="modal fade" id="edit_people2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="edit_bumenxr" class="form-control" ></select>
	                    </div>
	                </form>
	                
	                <div>
		       			<table class="table table-bordered table-condensed" id="edit_mingzibiao2">
		       				<thead>
		       					<tr>
		       						<th>
										<label class="checkbox-inline" style="width: 100%;height: 100%;">
											  <input type="checkbox" class="checkbox style-0" id="edit_autoChk">
											  <span></span>
										</label>
									</th> 
		       						<th>姓名</th>
		       						<th>工号</th>
		       						<th>出生日期</th>
		       						<th>性别</th>
		       						<th>职务</th>
		       					</tr>
		       				</thead>
		       				<tbody></tbody>
		       			</table>
	                </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="edit_querenciren2">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->

    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initDepartment();
    	initTable();
    	laydate.render({
            elem: '#year' //指定元素
        });
    	laydate.render({
            elem: '#edit_year' //指定元素
        });
    	laydate.render({
            elem: '#edit_year2' //指定元素
        });
        laydate.render({
            elem: '#edit_year3' //指定元素
        });
    	
       
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
    
    //已知部门选人
    var xgtableren=$('#xgmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xgmingzi" style="width:16px;height:16px;" id="xgchked">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var xgtableren3=$('#xgmingzibiao3').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xgmingzi3" style="width:16px;height:16px;" id="chked">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var edit_tableren2=$('#edit_mingzibiao2').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": "state", 'orderable': false}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		//return '<input type="checkbox" name="edit_mingzi2" onclick="edit_chooseBox(this)" style="width:16px;height:16px;" id="chked">'
										    	if(data==false || data==undefined){
									    	  		return '<label class="checkbox-inline" style="width: 100%;height: 100%;"><input type="checkbox" name="edit_mingzi2" class="checkbox style-0 edit_cbox"><span></span></label>';
									    	  	}else{
									    	  		return '<label class="checkbox-inline" style="width: 100%;height: 100%;"><input type="checkbox" name="edit_mingzi2" class="checkbox style-0 edit_cbox" checked><span></span></label>';
									    	  	} 
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getAllOrganizationManagement',
            dataType: 'json',
            async:false,
            data: {
            },
            success: function (json) {
                $("#department").html('');
                $("#edit_department").html('');
                $("#bumenxr").empty();
                $("#edit_bumenxr").empty();
                $("#bumensqry").empty();
                $("#xgbumensqry").empty();
                $("#bumensqry3").empty();
                $("#xgbumensqry3").empty();
                for(var i=0;i<json.length;i++){
                	$("#department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#edit_department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#bumenxr").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#edit_bumenxr").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#bumensqry").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#xgbumensqry").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#bumensqry3").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#xgbumensqry3").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                }
                $("#bumenxr").trigger('change');
                $("#edit_bumenxr").trigger('change');
                $("#bumensqry").trigger('change');
                $("#xgbumensqry").trigger('change');
                $("#bumensqry3").trigger('change');
                $("#xgbumensqry3").trigger('change');
            }
        });
	}
	//已知部门，获取部门所属人员
	$("#bumensqry").change(function(){
		$('#people').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#bumensqry").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#mingzibiao').dataTable().fnClearTable();
                $('#mingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#xgbumensqry").change(function(){
		$('#xgpeople').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#xgbumensqry").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#xgmingzibiao').dataTable().fnClearTable();
                $('#xgmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#bumensqry3").change(function(){
		$('#people3').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#bumensqry3").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#mingzibiao3').dataTable().fnClearTable();
                $('#mingzibiao3').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#xgbumensqry3").change(function(){
		$('#xgpeople3').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#xgbumensqry3").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#xgmingzibiao3').dataTable().fnClearTable();
                $('#xgmingzibiao3').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//添加人员到input框
	var xgaaid;
	$('#xgmingzibiao').delegate('#xgchked','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#xgmingzibiao').DataTable().row(dom).data();
  		//console.log(data)
  		xgaaid=data.dutyId
  		
	})
	$("#xgquerenciren").click(function(){
		var a=$("input[name='xgmingzi']:checked").parent().next().text();
		$("#edit_user").val(a);
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/duty/selectDutyBydutyId',
	        dataType: 'json',
	        data: {
	        	dutyId:xgaaid
	        },
	        success: function (data) {
	        	//console.log(data)
	        	$("#edit_duty").val(data.dutyName)
	        }
	    });
		$("#xgpeople").modal("hide");
	})
	
	$("#xgquerenciren3").click(function(){
		var tr=$("input[name='xgmingzi3']:checked").parents("tr");
		var data=$("#xgmingzibiao3").DataTable().row(tr).data();
		$("#xgfuzeren").val(data.uName);
		$("#xgpeople3").modal("hide");
	})
	

	//修改全选
	$('#edit_autoChk').on('click', function(){
		var s = $(this).prop('checked');
		$('#edit_mingzibiao2 .edit_cbox').prop('checked', s).trigger('change');
	 });
	$('#edit_mingzibiao2').delegate('.edit_cbox', 'change', function(){
		 var state = $(this).prop('checked');
		 var tr = $(this).closest('tr');
		 //tableren2.row(tr).data().state=state;
		 edit_autoChk();
		 //tableren2.cell(tr, 6).data(state);
	 });
	 $('#edit_mingzibiao2').on('draw.dt',function() {
		 edit_autoChk();
       });
	 function edit_autoChk(){
		var s = true;
       $('#edit_mingzibiao2').find('.edit_cbox').each(function(){
       	if($(this).prop('checked')==false){
       		s=false;
       		return false;
       	}
       });
      $('#edit_autoChk').prop('checked', s);
	 }
	//修改的选择人员
	$("#edit_choosery2").click(function(){
		xgarr=[];
		$("#edit_people2").modal("show");
		$('#edit_people2').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:$("#edit_bumenxr").val()
				},
			success:function(json){
				$('#edit_mingzibiao2').dataTable().fnClearTable();
                $('#edit_mingzibiao2').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#edit_bumenxr").change(function(){
		var xgbumen=$("#edit_bumenxr").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:xgbumen 
				},
			success:function(json){
				$('#edit_mingzibiao2').dataTable().fnClearTable();
                $('#edit_mingzibiao2').DataTable().rows.add(json).draw(false);
			}
		})
	})
	var xgarr=new Array();
	function edit_chooseBox(obj){
		var name=$(obj).parent().next().text();
		if($(obj).prop('checked')){
			xgarr.push(name)
		}else{
			xgarr.splice($.inArray(name,arr),1);
		}
	}
	$("#edit_querenciren2").click(function(){
		var xga=[];
		var tbl = $("#edit_mingzibiao2").dataTable();
		var trList = tbl.fnGetNodes();
		for(i=0;i<trList.length;i++){
            if (trList[i].firstElementChild.firstElementChild.firstChild.checked) {    
                var qty = trList[i].firstElementChild.nextElementSibling.innerHTML.trim();
                xga.push(qty)
            }  
		} 
		$("#edit_in_users").val("")
		$("#edit_in_users").val(xga.toString());
		 $("#edit_people2").modal("hide");
	})
	

	
	console.log(id)
	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/outTrain/selectOutTrainById',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	data=json;
	        	$("#edit_title").val(data.otTitle);
	    		$("#edit_department").val(data.proposerDepartment);
	    		//editSelect(data.proposer);
	    		$("#edit_user").val(data.proposer);
	    		$("#edit_duty").val(data.dutyId)
	    		$("#edit_className").val(data.courseName);
	    		$("#edit_year").val(data.applicationDate);
	    		$("#edit_year2").val(data.otDate);
	    		/* if(data.otDateEnd==undefined){
	    			$("#edit_year3").val(page_edit_year3);
	    		}else{ */
	    			$("#edit_year3").val(data.otDateEnd);
	    		//}
	    		$("#edit_studyMoney").val(data.trainingMoney);
	    		$("#edit_studyAddr").val(data.trainingLocation);
	    		$("#edit_study_infos").val(data.courseDesc);
	    		$("#edit_study_target").val(data.trainingReason);
	    		$("#edit_in_users").val(data.inUsers)
	    		$("#xgtrainingType").val(data.trainingType)
	    		$("#xgfuzeren").val(data.director);
	    		$("#buttons").html('');
	    		$("#buttons").append('<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>'+
	                //'<button type="button" class="btn btn-success" id="button1" onclick="edit_save()">保存</button>'+
	                '<button type="button" class="btn btn-success" id="button2" onclick="edit_submit()">提交</button>')
	    		
	            $.ajax({
	    			type:"post",
	    			url:getContextPath()+"/accessory/selectAccessoryById",
	    			dataType:"json",
	    			data:{
	    				id:data.otId
	    			},
	    			success:function(json){
	    	 			$("#edit_table tbody").empty();
	    	            for(var i=0;i<json.length;i++){
	    	            	$("#edit_table tbody").append("<tr><td>附件</td><td><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue;'>"+json[i].acName+"</a></td><td><button type='button' data="+json[i].aId+" data2="+json[i].acUrl+" data3="+json[i].acName+" onclick='deleteFile(this)' class='btn btn-primary'>删除附件</button></td></tr>")	 
	    	            }
	    			}
	    		})
	    		 
	        }
	    });
		
	}
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}

	
	
	function deleteFile(obj){
		var aId=$(obj).attr("data");
		var acUrl=$(obj).attr("data2");
		//var acName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		var acName=$(obj).attr("data3");
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/outTrain/deleteAccessory',
            dataType: 'json',
            data: {
            	aId:aId,
            	acUrl:acUrl,
            	acName:acName
            },
            success: function (json) {
                if(json==0){
                	toastr.error("删除失败");
                }else{
                	$(obj).parents("tr").remove();
                	toastr.success("删除成功");
                }
            }
        });
	}
	
	function CompareDate(d1,d2){
		        return ((new Date(d1.replace(/-/g,"\/"))) > (new Date(d2.replace(/-/g,"\/"))));
		    }
	
	function liuchengGaibian(obj){
		var title=$("#edit_title").val();
		var department=$("#edit_department").val();
		var user=$("#edit_user").val();
		var duty=$("#edit_duty").val();
		var className=$("#edit_className").val();
		var year=$("#edit_year").val();
		var studyMoney=$("#edit_studyMoney").val();
		var year2=$("#edit_year2").val();
		var year3=$("#edit_year3").val();
		var page_edit_year3 = year3;
		if(CompareDate(year2,year3)){
			toastr.error("培训开始时间不能大于结束时间!");
			return "培训开始时间不能大于结束时间!";
		}
		var studyAddr=$("#edit_studyAddr").val();
		var study_infos=$("#edit_study_infos").val();
		var study_target=$("#edit_study_target").val();
		var edit_in_users=$("#edit_in_users").val();//参加人员
		var xgtrainingType=$("#xgtrainingType").val();
		var xgfuzeren=$("#xgfuzeren").val();
		if(title==''){
    		toastr.error("主题不能为空");
    		return "主题不能为空";
    	}
		if(obj=='1'){
			if(user==''){
	    		toastr.error("申请人员不能为空");
	    		return "申请人员不能为空";
	    	}
			if(className==''){
	    		toastr.error("课程名称不能为空");
	    		return "课程名称不能为空";
	    	}
			if(study_infos==''){
	    		toastr.error("课程内容不能为空");
	    		return "课程内容不能为空";
	    	}
			if(edit_in_users==''){
	    		toastr.error("参加人员不能为空");
	    		return "参加人员不能为空";
	    	}
			if(year2==''){
	    		toastr.error("培训时间不能为空");
	    		return "培训时间不能为空";
	    	}
			if(studyAddr==''){
	    		toastr.error("培训地点不能为空");
	    		return "培训地点不能为空";
	    	}
			if(study_target==''){
	    		toastr.error("参加理由和培训目标不能为空");
	    		return "参加理由和培训目标不能为空";
	    	}
		}
		
		var reg =/^[0-9]*$/;
		if(!reg.test(studyMoney)){
			toastr.error("培训费用只能为数字");
    		return "培训费用只能为数字";
		}
		var result;
		var options={
				type: 'POST',
				url: getContextPath()+'/outTrain/updateOutTrainBySave',
	            dataType: 'json',
	            async:false,
	            data: {
	            	otId:id,            	
	            	otTitle:title,
	            	proposer:user,
	            	proposerDepartment:department,
	            	dutyId:duty,
	            	otDate:year2,
	            	otDateEnd:year3,
	            	applicationDate:year,
	            	courseName:className,
	            	trainingLocation:studyAddr,
	            	trainingMoney:studyMoney,
	            	courseDesc:study_infos,
	            	trainingReason:study_target,
	            	inUsers:edit_in_users,
	            	trainingType:xgtrainingType,
	            	director:xgfuzeren,
	            },
	            success: function (json) {
	            	result=json;
	            	if(json==0){
	            		toastr.error("保存失败");
	            	}else{
	            		toastr.success("保存成功");
	            	}
	            }
		}
		$("#edit_form").ajaxSubmit(options);
		return result;
	}
	
	
	function edit_submit(){
		var title=$("#edit_title").val();
		var department=$("#edit_department").val();
		var user=$("#edit_user").val();
		var duty=$("#edit_duty").val();
		var className=$("#edit_className").val();
		var year=$("#edit_year").val();
		var studyMoney=$("#edit_studyMoney").val();
		var year2=$("#edit_year2").val();
		var studyAddr=$("#edit_studyAddr").val();
		var study_infos=$("#edit_study_infos").val();
		var study_target=$("#edit_study_target").val();
		if(title==''){
    		toastr.error("主题不能为空");
    		return;
    	}
		if(user==''){
    		toastr.error("申请人员不能为空");
    		return;
    	}
		if(className==''){
    		toastr.error("课程名称不能为空");
    		return;
    	}
		if(study_infos==''){
    		toastr.error("课程内容不能为空");
    		return;
    	}
		var reg =/^[0-9]*$/;
		if(!reg.test(studyMoney)){
			toastr.error("培训费用只能为数字");
    		return;
		}
		var options={
				type: 'POST',
				url: getContextPath()+'/outTrain/updateOutTrainBySubmit',
	            dataType: 'json',
	            data: {
					otId:id,            	
	            	otTitle:title,
	            	proposer:user,
	            	proposerDepartment:department,
	            	dutyId:duty,
	            	otDate:year2,
	            	applicationDate:year,
	            	courseName:className,
	            	trainingLocation:studyAddr,
	            	trainingMoney:studyMoney,
	            	courseDesc:study_infos,
	            	trainingReason:study_target
	            },
	            success: function (json) {
	            	if(json==0){
	            		toastr.error("保存失败");
	            	}else{
	            		$("#change").modal("hide");
	            		toastr.success("保存成功");
	            	}
	            }
		}
		$("#edit_form").ajaxSubmit(options);
	}
	

	
	function downloadFile(obj){
		var filePath=$(obj).attr("data2");
		var fileName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
	

    
	$("#uploaderBox").on("click", function(e) {
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#new_table tbody").append($(newFileInput));
    });
    
    function edit_uploaderBox(){
        var newFileInput = "<tr><td>新附件</td><td><input  type='file' name='file' style='width:80%;' class='form-control' /></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>";
        $("#edit_table tbody").append($(newFileInput));
    }
    function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}



</script>
</html>