<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
 <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>财务管理</li>
			<li class="active">开票申请</li>
		</ul>
    </div>   


    <div class="zhuti-content" role="document">
        <form class="form-inline">
                    	<table class="table table-bordered">
                    			<thead>
	                    			<tr>
			                    		<th colspan="4">项目基本信息</th>
			                    	</tr>
	                    		</thead>
	                    		<tr>
	                                <td>项目名称</td>
	                                <td id="look_prj_name">
	                                </td>
	                                <td>任务单号</td>
	                                <td id="look_prj_no">
	                                </td>
	                            </tr>
	                            <tr>
	                                <td style="width:20%;">合同名称</td>
	                                <td style="width:30%;" id="look_contract_name">
	                                </td>
	                                <td style="width:20%;">合同编号</td>
	                                <td style="width:30%;" id="look_contract_no"></td>
	                            </tr>
	                            <tr>
	                            	<td>合同金额(元)</td>
	                                <td id="look_contract_money"></td>
	                            	<td></td>
	                            	<td></td>
	                            </tr>
                    	</table>
                        <table class="table table-bordered">
                       		<thead>
	                    			<tr>
			                    		<th colspan="4">开票信息</th>
			                    	</tr>
	                    	</thead>
                        	
                            <tr>
                                <!-- <td>开票时间</td>
                                <td id="look_time"></td> -->
                                <td>本次开票金额(元)</td>
                                <td id="look_kp_money"></td>
                                <td>发票类型</td>
                                <td id="look_fp_type"></td>
                            </tr>
                            <tr>
                                
                                <td>累计开票金额(元)</td>
                                <td id="look_all_kp_money"></td>
                                <td>申请部门</td>
                            	<td id="look_bumen"></td>
                            </tr>
                            <tr>
                            	
                            	<!-- <td>税号</td>
                                <td id="look_duty_no"></td> -->
                                <td>开票申请人</td>
                                <td id="look_sq_men"></td>
                                <td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>备注</td>
                            	<td colspan="3" id="look_kpDesc"></td>
                            </tr>
                        </table>
                        <table class="table table-bordered">
                        	<thead>
                        		<tr>
                        			<th colspan="4">付款方</th>
                        		</tr>
                        	</thead>
                        	<tbody>
                        		<tr>
                        			<td style="width:20%;">付款单位</td>
	                                <td style="width:30%;" id="look_pay_unit">
	                                </td>
	                                <td style="width:20%;">统一社会信用代码</td>
                                	<td style="width:30%;" id="look_xy_code"></td>
                        		</tr>
                        		<tr>
                        			<td>地址</td>
	                                <td id="look_address">
	                                </td>
	                                <td>电话</td>
                                	<td id="look_phone"></td>
                        		</tr>
                        		<tr>
                        			<td>开户行</td>
	                                <td id="look_bank">
	                                </td>
	                                <td>账号</td>
                                	<td id="look_bank_no"></td>
                        		</tr>
                        	</tbody>
                        </table>
                    </form>
        </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");


	
	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/kp/getKpApplicationById',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	data=json;
	        	$("#look_contract_name").text(data.contractName);
	    		$("#look_contract_no").text(data.contractNo);
	    		$("#look_prj_name").text(data.prjName);
	    		$("#look_prj_no").text(data.prjNo);
	    		$("#look_kp_money").text(data.kpMoney);
	    		$("#look_time").text(data.time);
	    		$("#look_all_kp_money").text(data.allKpMoney);
	    		$("#look_fp_type").text(data.fpType);
	    		//$("#look_duty_no").text(data.dutyNo);
	    		$("#look_sq_men").text(data.sqMen);
	    		$("#look_contract_money").text(data.contractMoney)
	    		$("#look_bumen").text(data.omName)
	    		$("#look_kpDesc").text(data.kpDesc)
	    		$("#look_kp_no").text(data.kpNo)
	    		$("#look_pay_unit").text(data.payUnit);
	    		$("#look_xy_code").text(data.xyCode);
	    		$("#look_address").text(data.address);
	    		$("#look_phone").text(data.phone);
	    		$("#look_bank").text(data.bank);
	    		$("#look_bank_no").text(data.bankNo);
	    		$("#look_fpNo").text(data.fpNo);
	        }
	    });
		
	}
	
	
	
    
	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}

</script>
</html>