<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
  <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>财务管理</li>
			<li class="active">财务还款</li>
		</ul>
    </div>  


    <div class="zhuti-content">
       			 <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td  style="width:20%;">项目名称:</td>
                                <td  style="width:30%;" id="look_prj_name"></td>
                                <td  style="width:20%;">任务单号:</td>
                                <td  style="width:30%;" id="look_prj_no"></td>
                            </tr>
                            <tr>
                                <td>项目负责人:</td>
                                <td id="look_prj_leader"></td>
                                <td>还款金额:</td>
                                <td id="look_hk_money"></td>
                            </tr>
                            <tr>
                                <td>还款方式:</td>
                                <td id="look_hk_type"></td>
                                <td>时间:</td>
                                <td id="look_hk_time"></td>
                            </tr>
                        </table>
                    </form>  
    </div>


</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	changeData();
	});
   
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("");
   
    function initTable(){
    	
    	$("#look_prj_name").text(data.prjName);
    	$("#look_prj_no").text(data.prjNo);
    	$("#look_prj_leader").text(data.prjLeader);
    	$("#look_hk_money").text(data.hkMoney);
    	$("#look_hk_type").text(data.hkType);
    	$("#look_hk_time").text(data.hkTime);
    }

    function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
</script>
</html>