<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
            <li>项目投标</li>
			<li class="active">项目投标审批</li>
		</ul>
    </div>

    <div class="zhuti-content">

        <div>
            <div class="tab-content">
                
                    <div class="UpperPart">
                            <div class="UpperPartL">

                            </div>
                            <div class="UpperPartR">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建投标项目审批</button>
                            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建投标项目审批</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<input type="text" class="form-control" id="prjName" disabled>
                                	<button type="button" class="btn btn-primary"  id="chosexm">选择项目</button>
                                </td>
                                <td>项目类型</td>
                                <td><input type="text"class="form-control"id="prjType" disabled></td>
                            </tr>
                            <tr>
                                <td>代理单位</td>
                                <td><input type="text"class="form-control"id="daili"></td>
                                <td>投标人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control" style="width:180px;" id="toubiaoren">
                                        <option>江苏华通工程检测有限公司</option>
                                        <option>江苏华汇工程科技有限公司</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>业主单位</td>
                                <td><input type="text"class="form-control"id="yezhu"></td>
                                <td>资格预审递交时间</td>
                                <td><input type="text" class="form-control" id="year"></td>
                            </tr>
                            <tr>
                                <td>现场考察时间</td>
                                <td><input type="text" class="form-control" id="year2"></td>
                                <td>标前会时间</td>
                                <td><input type="text" class="form-control" id="year3"></td>
                            </tr>
                            <tr>
                                <td>投标文件递交时间</td>
                                <td><input type="text" class="form-control" id="year4"></td>
                                <td>项目报名人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text"class="form-control"id="baomingren"></td>
                            </tr>
                            <tr>
                                <td>项目购买标书人员</td>
                                <td><input type="text"class="form-control"id="goumairen"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="addsave()">保存</button>
            <button type="button" class="btn btn-success" onclick="addSubmit()" data-dismiss="modal" data-toggle="modal" data-target="#tijiaogei">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>编号</th>
                                    <th>项目名称</th>
                                    <th>项目所属公司</th>
                                    <th>项目类型</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="mingzibiao">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 --> 
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改投标项目审批</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <table class="table table-bordered table-condensed">
                            <tr>
                                <td>项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="display:flex;">
                                	<input type="text" class="form-control" id="xgprjName" disabled style="width:100%;">
                                	<button type="button" class="btn btn-primary"  id="xgchosexm">选择项目</button>
                                </td>
                                <td>项目类型</td>
                                <td><input type="text"class="form-control"id="xgprjType" disabled></td>
                            </tr>
                            <tr>
                                <td>代理单位</td>
                                <td><input type="text"class="form-control"id="xgdaili"></td>
                                <td>投标人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control" style="width:180px;" id="xgtoubiaoren">
                                        <option>江苏华通工程检测有限公司</option>
                                        <option>江苏华汇工程科技有限公司</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                           	 	<td>业主单位</td>
                                <td><input type="text"class="form-control"id="xgyezhu"></td>
                                <td>资格预审递交时间</td>
                                <td><input type="text" class="form-control" id="xgyear"></td>
                            </tr>
                            <tr>
                                <td>现场考察时间</td>
                                <td><input type="text" class="form-control" id="xgyear2"></td>
                                <td>标前会时间</td>
                                <td><input type="text" class="form-control" id="xgyear3"></td>
                            </tr>
                            <tr>
                                <td>投标文件递交时间</td>
                                <td><input type="text" class="form-control" id="xgyear4"></td>
                                <td>项目报名人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text"class="form-control"id="xgbaomingren"></td>
                            </tr>
                            <tr>
                                <td>项目购买标书人员</td>
                                <td><input type="text"class="form-control"id="xggoumairen"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="savexiugai()">保存</button>
            <button type="button" class="btn btn-success" onclick="Submitxiugai()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
<!-- xg项目 Modalxg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xgxiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xgxiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>编号</th>
                                    <th>项目名称</th>
                                    <th>项目所属公司</th>
                                    <th>项目类型</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xgquedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!--xg项目  modelxg结束 --> 

                        </div>
                        <div class="LowerPart" style="margin-top:3px;">
                            <table class="table table-bordered table-condensed" id="mainContent">
                                <thead>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>业主单位</th>
                                        <th>代理单位</th>
                                        <th>投标人</th>
                                        <th>项目类型</th>
                                        <th>资格预审递交时间</th>
                                        <th>现场考察时间</th>
                                        <th>标前会时间</th>
                                        <th>投标文件递交时间</th>
                                        <th style="width:50px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>   
                            </table>
                        </div>
                
            </div>   
        </div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
		        </div>
		        <div class="modal-body">
		            <div>     
		                <form class="form-inline">
		                    <table class="table table-bordered table-condensed">
                            <tr>
                                <td>项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td id="lookprjName"></td>
                                <td>项目类型</td>
                                <td id="lookprjType"></td>
                            </tr>
                            <tr>
                                <td>代理单位</td>
                                <td id="lookdaili"></td>
                                <td>投标人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td id="looktoubiaoren"></td>
                            </tr>
                            <tr>
                           	 	<td>业主单位</td>
                                <td id="lookyezhu"></td>
                                <td>资格预审递交时间</td>
                                <td id="lookyear"></td>
                            </tr>
                            <tr>
                                <td>现场考察时间</td>
                                <td id="lookyear2"></td>
                                <td>标前会时间</td>
                                <td id="lookyear3"></td>
                            </tr>
                            <tr>
                                <td>投标文件递交时间</td>
                                <td id="lookyear4"></td>
                                <td>项目报名人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td id="lookbaomingren"></td>
                            </tr>
                            <tr>
                                <td>项目购买标书人员</td>
                                <td id="lookgoumairen"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
		                    
		                </form>  
		            </div>
		        </div>
		        <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        </div>
		        </div>
		    </div>
		</div>
        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js">
</script><script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	laydate.render({
            elem: '#year' //指定元素
        });
        laydate.render({
            elem: '#year2' //指定元素
        });
        laydate.render({
            elem: '#year3' //指定元素
        });
        laydate.render({
            elem: '#year4' //指定元素
        });
        $('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "prjId"},
            { "data": "ownerUnit"}, 
            { "data": "proxyUnit"}, 
            { "data": "bidUnit"}, 
            { "data": "prjType"},
            { "data": "prequalificationTime"},
            { "data": "siteInspectionTime"},
            { "data": "beforeTime"},
            { "data": "submitTime"},
            
        ],
        "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 9,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return '  <i class="iconfont icon-icon-test" style="font-size:18px;cursor:pointer;" title="查看详细信息" onclick="lookcPrj(this)"  data-toggle="modal" data-target="#allMsg1" id="lookDetall"></i>   <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" onclick="xiugaicPrj(this)" title="修改" data-toggle="modal" data-target="#change" id="ChangeRisk"></i> '
								        }
								  }
						],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
		            { "data": "prjId"}, 
		            { "data": "prjScale"}, 
		            { "data": "prjType"}, 
		            { "data": "evaluationMethod"},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3xg=$('#xgxiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
					{ "data": "prjId"}, 
		            { "data": "prjScale"}, 
		            { "data": "prjType"}, 
		            { "data": "evaluationMethod"},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/ConstructionProject/selectAllcPrj',
            dataType: 'json',
            data: {
            	status:2
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	//console.log(json)
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	//选择项目
	$("#chosexm").click(function(){
		$("#xiangmumd").modal("show");
		$.ajax({
			type:'post',
			url:getContextPath()+'/riskAssessment/selectAllRiskAssessment',
			dataType:'json',
			async:false,
			data:{
				status:2
			},
			success:function(json){
				//console.log(json)
				$('#xiangmubiao').dataTable().fnClearTable();
                $('#xiangmubiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#quedingxm").click(function(){
		var prjNo=$("input[name='xiangmuName']:checked").parent().next().next().next().text();
		var prjname=$("input[name='xiangmuName']:checked").parent().next().text();
		$("#prjName").val(prjname);
		$("#prjType").val(prjNo);
		$("#xiangmumd").modal("hide");
	})
	$("#xgchosexm").click(function(){
		$("#xgxiangmumd").modal("show");
		$.ajax({
			type:'post',
			url:getContextPath()+'/riskAssessment/selectAllRiskAssessment',
			dataType:'json',
			async:false,
			data:{
				status:2
			},
			success:function(json){
				//console.log(json)
				$('#xgxiangmubiao').dataTable().fnClearTable();
                $('#xgxiangmubiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	$("#xgquedingxm").click(function(){
		var prjNo=$("input[name='xiangmuName']:checked").parent().next().next().next().text();
		var prjName=$("input[name='xiangmuName']:checked").parent().next().text();
		$("#xgprjName").val(prjName);
		$("#xgprjType").val(prjNo);
		$("#xgxiangmumd").modal("hide");
	})
	


	
	function initSelectOnEdit(obj){
		var id=$("#xgprjName").val();
		$.ajax({
			type: 'POST',
            url: getContextPath()+'/riskAssessment/selectRiskAssessmentById',
            dataType: 'json',
            data:{
            	raId:id,
            },
            success: function (json) {
            	//console.log(json)
            	$("#xgprjType").empty();
            	$("#xgprjName").val(obj)
            }
		})
	}
	

	
	
	//查看详细信息
	function lookcPrj(obj){
		var dom = $(obj).parents("tr");
		var data = $("#mainContent").DataTable().row(dom).data();
		//console.log(data);
		var prjName=$("#lookprjName").text(data.prjId);
		var prjType=$("#lookprjType").text(data.prjType);
		var yezhu=$("#lookyezhu").text(data.ownerUnit);
		var daili=$("#lookdaili").text(data.proxyUnit);
		var toubiaoren=$("#looktoubiaoren").text(data.bidUnit);
		var year=$("#lookyear").text(data.prequalificationTime);
		var year2=$("#lookyear2").text(data.siteInspectionTime);
		var year3=$("#lookyear3").text(data.beforeTime);
		var year4=$("#lookyear4").text(data.submitTime);
		var baomingren=$("#lookbaomingren").text(data.participants);
		var goumairen=$("#lookgoumairen").text(data.purchaser);
	}
	
	
	
	//添加保存
	function addsave(){
		var prjName=$("#prjName").val();
		var yezhu=$("#yezhu").val();
		var daili=$("#daili").val();
		var toubiaoren=$("#toubiaoren").val();
		var prjType=$("#prjType").val();
		var year=$("#year").val();
		var year2=$("#year2").val();
		var year3=$("#year3").val();
		var year4=$("#year4").val();
		var baomingren=$("#baomingren").val();
		var goumairen=$("#goumairen").val();
		if(baomingren==''){
    		toastr.error("项目报名人员不能为空");
    		return;
    	}
		if(prjName==''){
    		toastr.error("项目名称不能为空");
    		return;
    	}
		if(toubiaoren==''){
    		toastr.error("投标人不能为空");
    		return;
    	}
		
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ConstructionProject/addcPrj',
            dataType: 'json',
            data:{
            	bpId:null,
            	prjName:prjName,
            	ownerUnit:yezhu,
            	proxyUnit:daili,
            	bidUnit:toubiaoren,
            	prjType:prjType,
            	prequalificationTime:year,
            	siteInspectionTime:year2,
            	beforeTime:year3,
            	submitTime:year4,
            	participants:baomingren,
            	purchaser:goumairen
            },
            success: function (json) {
            	//console.log(json)
            	if(json.result==1){
            		toastr.success("添加成功");
            		$('#myModal').modal('hide');
            		initTable();
            	}else if(json.result==2){
            		toastr.error("添加失败");
            	}
            }
        });
	}
	
	//添加提交
	function addSubmit(){
		var prjName=$("#prjName").val();
		var yezhu=$("#yezhu").val();
		var daili=$("#daili").val();
		var toubiaoren=$("#toubiaoren").val();
		var prjType=$("#prjType").val();
		var year=$("#year").val();
		var year2=$("#year2").val();
		var year3=$("#year3").val();
		var year4=$("#year4").val();
		var baomingren=$("#baomingren").val();
		var goumairen=$("#goumairen").val();
		
		if(baomingren==''){
    		toastr.error("项目报名人员为空");
    		return;
    	}
		if(prjName==''){
    		toastr.error("项目名称不能为空");
    		return;
    	}
		if(toubiaoren==''){
    		toastr.error("投标人不能为空");
    		return;
    	}
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ConstructionProject/addcPrjSubmit',
            dataType: 'json',
            data:{
            	bpId:null,
            	prjName:prjName,
            	ownerUnit:yezhu,
            	proxyUnit:daili,
            	bidUnit:toubiaoren,
            	prjType:prjType,
            	prequalificationTime:year,
            	siteInspectionTime:year2,
            	beforeTime:year3,
            	submitTime:year4,
            	participants:baomingren,
            	purchaser:goumairen
            },
            success: function (json) {
            	//console.log(json)
            	if(json.result==1){
            		toastr.success("提交成功");
            		$('#myModal').modal('hide');
            		initTable();
            	}else if(json.result==2){
            		toastr.error("提交失败");
            	}
            }
        });
	}
	
	
	
	//修改回显
	var xiugaiId;
	function xiugaicPrj(obj){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		xiugaiId=data.bpId;
		//console.log(data);
	
		$("#xgprjName").val(data.prjId);
		initSelectOnEdit(data.prjName);
		
		$("#xgyezhu").val(data.ownerUnit);
		$("#xgdaili").val(data.proxyUnit);
		$("#xgtoubiaoren").val(data.bidUnit);
		$("#xgprjType").val(data.prjType);
		$("#xgyear").val(data.prequalificationTime);
		$("#xgyear2").val(data.siteInspectionTime);
		$("#xgyear3").val(data.beforeTime);
		$("#xgyear4").val(data.submitTime);
		$("#xgbaomingren").val(data.participants);
		$("#xggoumairen").val(data.purchaser); 
		
	}
	//修改保存
	function savexiugai(){
		var xgprjName=$("#xgprjName").val();
		var xgyezhu=$("#xgyezhu").val();
		var xgdaili=$("#xgdaili").val();
		var xgtoubiaoren=$("#xgtoubiaoren").val();
		var xgprjType=$("#xgprjType").val();
		var xgyear=$("#xgyear").val();
		var xgyear2=$("#xgyear2").val();
		var xgyear3=$("#xgyear3").val();
		var xgyear4=$("#xgyear4").val();
		var xgbaomingren=$("#xgbaomingren").val();
		var xggoumairen=$("#xggoumairen").val();
		
		if(xgbaomingren==''){
    		toastr.error("项目报名人员为空");
    		return;
    	}
		if(xgprjName==''){
    		toastr.error("项目名称不能为空");
    		return;
    	}
		if(xgtoubiaoren==''){
    		toastr.error("投标人不能为空");
    		return;
    	}
		
		$.ajax({
			type:"post",
			url:getContextPath()+"/ConstructionProject/updatecPrj",
			dataType:"json",
			data:{
				bpId:xiugaiId,
            	prjName:xgprjName,
            	ownerUnit:xgyezhu,
            	proxyUnit:xgdaili,
            	bidUnit:xgtoubiaoren,
            	prjType:xgprjType,
            	prequalificationTime:xgyear,
            	siteInspectionTime:xgyear2,
            	beforeTime:xgyear3,
            	submitTime:xgyear4,
            	participants:xgbaomingren,
            	purchaser:xggoumairen
			},
			success:function(json){
				//console.log(json);
				if(json.result==0){
					toastr.error("修改失败")
				}else if(json.result==1){
					$('#change').modal('hide');
					toastr.success("修改成功");
					initTable();
					//location.reload([true]);
				}
			}
		})
	}
	
	//修改提交
	function Submitxiugai(){
		var xgprjName=$("#xgprjName").val();
		var xgyezhu=$("#xgyezhu").val();
		var xgdaili=$("#xgdaili").val();
		var xgtoubiaoren=$("#xgtoubiaoren").val();
		var xgprjType=$("#xgprjType").val();
		var xgyear=$("#xgyear").val();
		var xgyear2=$("#xgyear2").val();
		var xgyear3=$("#xgyear3").val();
		var xgyear4=$("#xgyear4").val();
		var xgbaomingren=$("#xgbaomingren").val();
		var xggoumairen=$("#xggoumairen").val();
		if(xgbaomingren==''){
    		toastr.error("项目报名人员为空");
    		return;
    	}
		if(xgprjName==''){
    		toastr.error("项目名称不能为空");
    		return;
    	}
		if(xgtoubiaoren==''){
    		toastr.error("投标人不能为空");
    		return;
    	}
		
		$.ajax({
			type:"post",
			url:getContextPath()+"/ConstructionProject/updatecPrjSubmit",
			dataType:"json",
			data:{
				bpId:xiugaiId,
            	prjName:xgprjName,
            	ownerUnit:xgyezhu,
            	proxyUnit:xgdaili,
            	bidUnit:xgtoubiaoren,
            	prjType:xgprjType,
            	prequalificationTime:xgyear,
            	siteInspectionTime:xgyear2,
            	beforeTime:xgyear3,
            	submitTime:xgyear4,
            	participants:xgbaomingren,
            	purchaser:xggoumairen
			},
			success:function(json){
				//console.log(json);
				if(json.result==0){
					toastr.error("提交失败")
				}else if(json.result==1){
					$('#change').modal('hide');
					toastr.success("提交成功");
					initTable();
					//location.reload([true]);
				}
			}
		})
	}
	
	
	
	//删除
	/* function deletecPrj(obj){
		var dom=$(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		var statu = confirm("确认删除吗?");
		  if(!statu){
		   return false;
		  }
		 $.ajax({
			 type:"post",
			 url:getContextPath()+"/ConstructionProject/deletecPrj",
			 dataType:"json",
			 data:{
				 bpId:data.bpId
			 },
			 success:function(json){
				 //console.log(json)
				 if(json>0){
					 $('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
					 toastr.success("删除成功")
				 }else{
					 toastr.error("删除失败")
				 }
			 }
		 })
	}  */
	
	
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })

    $(".quxiao").click(function(){
        if(confirm("确定要撤销吗？")){
            return true;
        }
        else{
            return false;
        }
    })

</script>
</html>