<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        @media screen and (max-width: 1369px) {
		    #look {
		        margin-bottom:150px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>财务管理</li>
			<li class="active">收款认领</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <!-- <select class="form-control" id="status" style="width:150px;">
                	<option value="1">未认领</option>
                	<option value="0">已认领</option>
                </select> -->
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建款项认领</button> -->
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建收款认领</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>认领说明</td>
                                <td>
                                    <textarea cols="50" rows="4" class="form-control"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#tijiaogei">提交</button>
            <button type="button" class="btn btn-default">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看收款认领</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="lookcaiwu">
                        <!-- <table class="table table-bordered">
                            <tr>
                                <td style="width:15%;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:40%;" >
                                		<input type="text" class="form-control"  style="width:65%;" id="look_prj_name" disabled>
                                		<button type="button" class="btn btn-primary"  id="chosexm">选择项目</button>
                                </td>
                                <td style="width:15%;">任务单号  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:30%;"><input type="text" class="form-control"  style="width:65%;" id="look_prj_no" disabled></td>
                            </tr>
                            <tr>
                            	<td>年份</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_year" disabled></td>
                                <td>付款单位</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_yezhu" disabled></td>
                            </tr>
                            <tr>
                                <td>承接合同名称</td>
                                <td>
                                		<input type="text" class="form-control" data2=""  style="width:65%;" id="look_HT_contract" disabled>
                                		<button type="button" class="btn btn-primary"  id="choseht">选择承接合同</button>
                                </td>
                                <td>合同金额(预估,合同,结算)(元)</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_contract_money" disabled></td>
                            </tr>
                            <tr>
                            	
                            </tr>
                            <tr>
                            	<td>累计收款（元）</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_total_money" disabled></td>
                                <td>合同收款条件</td>
                                <td ><input type="text" class="form-control"  style="width:65%;" id="look_collection_terms" disabled></td>
                            </tr>
                            <tr>
                            	<td>发票编号  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<input type="text" class="form-control"  style="width:65%;" id="look_fp_no" disabled>
                                	<button type="button" class="btn btn-primary" onclick="chooseNo()">选择发票编号</button>	
                                </td>
                                <td>已开票应收金额（元）</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_kp_money" disabled></td> 
                            </tr>
                            <tr>
                            	<td>项目完成进度</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_prj_plan" disabled></td>
                                <td>认领金额  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_result_money" ></td>
                            </tr>
                        </table> -->
                        
                         <!-- <tr>
                                <td>项目开始时间</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_start_time" disabled></td>
                                <td>项目结束时间</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_end_time" disabled></td>
                            </tr> -->
                        <!-- <td>项目负责人</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_prj_leader" disabled></td> -->
                        <!-- <td>合同结算额（元）</td>
                                <td><input type="text" class="form-control"  style="width:65%;" id="look_contract_money_end" disabled></td> -->
                        <!-- <tr>
                                <td>财务备注信息</td>
                                <td colspan="3" ><textarea class="form-control"  cols="80"  rows="4" id="look_finance_info" disabled></textarea></td>
                            </tr> -->
                         <table class="table table-bordered table-condensed">
                         	<thead>
                         			<tr>
	                         			<th colspan="4">收款确认单</th>
	                         		</tr>
                         	</thead>
                         	<tbody>
                         			<tr>
	                         			<td style="width:15%;">确认编号</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         			<td>发票申请号</td>
	                         			<td>
	                         					<select class="form-control"  style="width:180px;" id="fapiaoshengqinhao">
	                         						
	                         					</select>
	                         			</td>
	                         		</tr>
	                         		<tr>
	                         			<td>项目编号</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         			<td>项目名称</td>
	                         			<td>
	                         				<input type="text" class="form-control"  disabled>
	                         			</td>
	                         		</tr>
	                         		<tr>
	                         			<td>项目情况</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         			<td>主办部门</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         		</tr>
	                         		<tr>
	                         			<td>合同编号</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         			<td>合同名称</td>
	                         			<td>
	                         				<input type="text" class="form-control"  disabled>
	                         			</td>
	                         		</tr>
	                         		<tr>
	                         			<td>付款单位</td>
	                         			<td><input type="text" class="form-control"  disabled></td>
	                         			<td>本次确认金额</td>
	                         			<td><input type="text" class="form-control" ></td>
	                         		</tr>
                         	</tbody>
                         	<tfoot>
                         		<tr>
                         			<td>到账总金额</td>
                         			<td><input type="text" class="form-control" ></td>
                         			<td>可确认金额</td>
                         			<td><input type="text" class="form-control" ></td>
                         		</tr>
                         	</tfoot>
                         </table>
                         <table class="table table-bordered table-condensed">
                         	<thead>
                         			<tr>
	                         			<th colspan="4">发票信息</th>
	                         		</tr>
                         	</thead>
                         	<tbody>
                         			<tr>
	                         			<td style="width:15%;">发票编号</td>
	                         			<td colspan="3"><input type="text" class="form-control" ></td>
	                         		</tr>
	                         		<tr>
	                         			<td>发票金额</td>
	                         			<td><input type="text" class="form-control" ></td>
	                         			<td>发票剩余金额</td>
	                         			<td><input type="text" class="form-control" ></td>
	                         		</tr>
                         	</tbody>
                         	<tfoot>
                         		<tr>
                         			<td>确认人</td>
                         			<td colspan="3"><input type="text" class="form-control" ></td>
                         		</tr>
                         	</tfoot>
                         </table>
                         
                        <table class="table table-bordered table-condensed" id="xieban1">
                            <thead>
                                <tr>
                                    <th colspan="4" >部门</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="renling">认领</button>
            <button type="button" class="btn btn-success" id="tuihui">退回</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 添加 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="chooseNo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择采购单号</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                        	<tr>
                        		<td style="width:20%;">发票编号：</td>
                        		<td>
                        			<select class="selectpicker show-tick form-control"  style="width:100%;"  id="selectpicker_no" multiple data-live-search="true">
                        				
                                    </select>
                        		</td>
                        	</tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="quxiao()">取消</button>
            <button type="button" class="btn btn-success" onclick="saveNo()">保存</button>
        </div>
        </div>
    </div>
</div>


        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContentx">
                <thead>
                    <tr>
                    	<th style="width:100px;">是否确认</th>
                        <th style="width:150px;">合同编号</th>
                        <th style="width:300px;">合同名称</th>
                        <th style="width:150px;">项目编号</th>
                        <th style="width:300px;">项目名称</th>
                        <th style="width:100px;">确认人</th>
                        <th style="width:100px;">收款编号</th>
                        <th style="width:100px;">发票申请</th>
                        <th style="width:100px;">发票编号</th>
                        <th style="width:100px;">主办部门</th>
                        <th style="width:150px;">付款单位</th>
                        <th style="width:100px;">到账总金额</th>
                        <th style="width:100px;">收款确认金额</th>
                        <th style="width:200px;">发票摘要</th>
                        <th style="width:100px;">确认日期</th>
                        <th style="width:100px;">到账日期</th>
                        <th style="width:100px;">发票金</th>
                        <th style="width:100px;">开票日</th>
                    </tr>
                </thead>
                <tbody>
                	<!-- <tr>
                		<td>HT201207</td>
                		<td>乌振岗人行天桥、丹金溧漕河大桥应急维修加固工程</td>
                		<td>20120508</td>
                		<td>乌振岗人行天桥、丹金溧漕河大桥应急维修加固工程</td>
                		<td>jack</td>
                		<td>201813104</td>
                		<td>20120808</td>
                		<td>32889904</td>
                		<td>华通</td>
                		<td>江苏乌振岗监测公司</td>
                		<td>￥100,000</td>
                		<td>￥100,000</td>
                		<td>验收检测</td>
                		<td>2018-12-02</td>
                		<td>2018-12-02</td>
                		<td>￥100,000</td>
                		<td>2018-12-02</td>
                		
                	</tr> -->
                </tbody>   
            </table>
        </div>
    </div>
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>编号</th>
                                    <th>项目名称</th>
                                    <th>项目所属公司</th>
                                    <th>项目类型</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="hetongmd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="hetongbiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>合同编号</th>
                                    <th>合同名称</th>
                                    <th>合同金额</th>
                                    <th>合同暂定金</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedinght">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- 全部Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMSG">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>全部信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                        	<tr>
                            	<td style="width:20%;">项目名称</td>
                                <td style="width:28%;" id="look_prj_name" ></td>
                                <td style="width:25%;">年份</td>
                                <td style="width:27%;" id="look_year" ></td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td id="look_prj_no"></td>
                                <td>业主单位</td>
                                <td id="look_yezhu"></td>
                            </tr>
                            <tr>
                                <td>项目开始时间</td>
                                <td id="look_start_time"></td>
                                <td>项目结束时间</td>
                                <td id="look_end_time"></td>
                            </tr>
                            <tr>
                            	<td>项目负责人</td>
                                <td id="look_prj_leader"></td>
                                <td>华通合同名称</td>
                                <td id="look_HT_contract"></td>
                            </tr>
                            <tr>
                            	<td>合同金额(元）</td>
                                <td id="look_contract_money"></td>
                                <td>合同结算额（元）</td>
                                <td id="look_contract_money_end"></td>
                            </tr>
                            <tr>
                            	<td>累计收款（元）</td>
                                <td id="look_total_money"></td>
                                <td>已开票应收金额（元）</td>
                                <td id="look_kp_money"></td> 
                            </tr>
                            <tr>
                            	<td>发票编号</td>
                                <td id="look_fp_no"></td>
                                <td>合同收款条件</td>
                                <td id="look_collection_terms"></td>
                            </tr>
                            <tr>
                            	<td>项目完成进度</td>
                                <td id="look_prj_plan"></td>
                                <td>实际收款</td>
                                <td id="look_result_money"></td>
                            </tr>
                            <tr>
                            	<td>部门反馈</td>
                                <td id="look_department_info"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- <tr>
                                <td>财务备注信息</td>
                                <td colspan="3" id="look_finance_info"></td>
                            </tr> -->
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
    	$("#status").trigger("change");
    	initTable();
	});
    var table=$('#mainContentx').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "sScrollX": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		 "columns": [
			 		{ "data": null},	
			 		{ "data": "cNo"}, 
		            { "data": "cName"}, 
		            { "data": "tNo"}, 
		            { "data": "tName"}, 
		            { "data": "thisPerson"}, 
		            { "data": "skNo"}, 
		            { "data": "kpNo"}, 
		            { "data": "fpNo"}, 
		            { "data": "mainDepartment"}, 
		            { "data": "fkDanwei"}, 
		            { "data": "comeAllMoney"}, 
		            { "data": "skQuerenMoney"}, 
		            { "data": "fpDesc"}, 
		            { "data": "querenDate"}, 
		            { "data": "daozhangDate"}, 
		            { "data": "fpMoney"}, 
		            { "data": "kpDate"}, 
		            //{ "data": null}
		        ],
		         "columnDefs": [
									{	
										 "class": "details-control",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	return '<span class="label label-success state">正常确认</span>';
										        }
										  }
								],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
		            { "data": "prjNo"}, 
		            { "data": "prjName"},
		            { "data": "prjCompany"}, 
		            { "data": "prjType2"}, 
		            
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3=$('#hetongbiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
		            { "data": "contractNo"}, 
		            { "data": "contractName"},
		            { "data": "contractMoney"}, 
		            { "data": "temporaryMoney"}, 
		            
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="hetongName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    function initTable(){
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/AlreadySk/selectAlreadyRenling",
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContentx').dataTable().fnClearTable();
                $('#mainContentx').DataTable().rows.add(json).draw(false);
            }
        });
    }
    
    function initfapiaoshenqinghao(){
    	
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/kp/getAllkpNo",
            dataType: 'json',
            data: {
            	
            },
            success: function (json) {
            	$("#fapiaoshengqinhao").html('');
            	//console.log(json)
            	for(var i=0;i<json.length;i++){
	        		$("#fapiaoshengqinhao").append("<option value="+json[i].kpNo+">"+json[i].kpNo+"</option>");
	        	}
            }
        });
    }
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    var flag=true;
    $("#changeModel").click(function(){
        if(flag==true){
            $("#inp").hide();
            $("#sel").show();
            flag=false;
        }else{
            $("#inp").show();
            $("#sel").hide();
            flag=true;
        }  
    })

    $(".quxiao").click(function(){
        if(confirm("确定要撤销吗？")){
            return true;
        }
        else{
            return false;
        }
    })
    
    var skId;
    var tr;
    var cId;
    function look(obj){
    	$("#look").modal("show");
    	tr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(tr).data();
    	skId=data.rmId;
    	if($("#status").val()=='0'){
    		$("#tuihui").show();
    		$("#renling").hide();
    	}else{
    		$("#tuihui").hide();
    		$("#renling").show();
    	}
    	$("#look_result_money").val(data.receiveMoney);
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/AlreadySkOmInfo/selectAlreadySkInfoByskId",
            dataType: 'json',
            data: {
            	skId:data.rmId,
            },
            success: function (json) {
            	cId=json.cId;
            	$("#look_prj_name").val(json.prjName);
            	$("#look_prj_no").val(json.taskNo);
            	$("#look_year").val(json.taskNo.substring(0,4));
            	$("#look_HT_contract").val(json.contractName);
            	$("#look_HT_contract").attr("data2",json.contractNo);
            	$("#look_yezhu").val(json.yezhu);
            	$("#look_start_time").val(json.prjStartTime);
            	$("#look_end_time").val(json.prjEndTime);
            	$("#look_prj_leader").val(json.prjLeader); 
            	$("#look_contract_money").val(json.contractMoney);
            	$("#look_contract_money_end").val(json.contractJsMoney);
            	$("#look_total_money").val(json.allSkMoney);
            	$("#look_kp_money").val(json.alreadyMoney);
            	$("#look_fp_no").val(json.fpNo);
            	$("#look_collection_terms").val(json.contractSkCondition);
            	$("#look_prj_plan").val(json.prjJindu);
            	$("#look_department_info").val(json.backDesc);
            	//$("#look_finance_info").val(json.cdesc); 
                var asoList=json.asoList;
            	$.ajax({
                    type: 'POST',
                    url: getContextPath()+'/ppf/selectAllByName',
                    dataType: 'json',
                    data: {
                    	name:$('#look_prj_name').val()
                    },
                    success: function (json) {
                    	var task=json.task;
                    	console.log(task)
                        	$("#xieban1 tbody").empty();
                        	for(var i=0;i<asoList.length;i++){
                        		if(task.omName==asoList[i].omName){
		                        	$("#xieban1 tbody").append("<tr><td style='width:20%;'>"
		                    				+"主办部门"
		                    				+"</td><td style='width:20%;'data-id="+task.mainDepartment+">"
		                        			+task.omName
		                        			+"</td><td style='width:10%;'>"
		                        			+"金额"
		                        			+"</td><td style='width:50%;'>"
		                        			+"<input type='text' data='1' value="+asoList[i].omAlreadyMoney+" class='form-control'>"
		                        			+"</td></tr>")
                        		}
                        		if(task.name1==asoList[i].omName){
		                        		$("#xieban1 tbody").append("<tr><td>"
		                        				+"协办部门"
		                        				+"</td><td data-id="+task.assistDepartment1+">"
		                            			+task.name1
		                            			+"</td><td>"
		                            			+"金额"
		                            			+"</td><td>"
		                            			+"<input type='text' data='0' value="+asoList[i].omAlreadyMoney+"  class='form-control'>"
		                            			+"</td></tr>")
                        		}
                        		if(task.name2==asoList[i].omName){
                						$("#xieban1 tbody").append("<tr><td>"
                                				+"协办部门"
                                				+"</td><td data-id="+task.assistDepartment2+">"
                                    			+task.name2
                                    			+"</td><td>"
                                    			+"金额"
                                    			+"</td><td>"
                                    			+"<input type='text' data='0' value="+asoList[i].omAlreadyMoney+" class='form-control'>"
                                    			+"</td></tr>")
                        		}
                        		if(task.name3==asoList[i].omName){
                						$("#xieban1 tbody").append("<tr><td>"
                                				+"协办部门"
                                				+"</td><td data-id="+task.assistDepartment3+">"
                                    			+task.name3
                                    			+"</td><td>"
                                    			+"金额"
                                    			+"</td><td>"
                                    			+"<input type='text' data='0' value="+asoList[i].omAlreadyMoney+" class='form-control'>"
                                    			+"</td></tr>")
                        		}
                        	}
        					
                    }
          		});
            }
        });
    }
    
    $("#tuihui").on("click",function(){
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/AlreadySkOmInfo/updateStatusBack",
            dataType: 'json',
            data: {
            	status:1,
            	id:skId,
            	cId:cId,
            },
            success: function (json) {
            	if(json>0){
            		toastr.success("退回成功");
            		$("#mainContent").DataTable().row(tr).remove().draw(false);
            		$("#look").modal("hide");
            	}else{
            		toastr.error("退回失败");
            	}
            }
        });
    })
    
    $("#renling").on("click",function(){
    	var jine=0;
    	var bumemArr=new Array();
    	$("#xieban1 tbody").find("tr").each(function(){
    		 jinem=$(this).find("input").val()/1;
    		jine+=jinem;
    		var bumenId=$(this).find("td").eq(1).attr("data-id");
    		var bumenName=$(this).find("td").eq(1).text();
    		var bumenMoney=$(this).find("td").eq(3).find("input").val();
    		var AlreadySkOmInfo={
        			aoId:undefined,
        			cId:undefined,
        			omId:undefined,
        			omName:undefined,
        			omAlreadyMoney:undefined,
        			operatorPerson:undefined,
    		}
    		AlreadySkOmInfo.omId=bumenId;
    		AlreadySkOmInfo.omName=bumenName;
    		AlreadySkOmInfo.omAlreadyMoney=bumenMoney;
    		bumemArr.push(AlreadySkOmInfo)
    	})
    	//console.log(jine)
    	if(jine/1==$("#look_result_money").val()){
    		var look_prj_name=$("#look_prj_name").val();
        	var look_prj_no=$("#look_prj_no").val();
        	var look_HT_contract=$("#look_HT_contract").val();
        	var look_HT_contract_no=$("#look_HT_contract").attr("data2");
        	var look_total_money=$("#look_total_money").val();//累计收款
        	var look_result_money=$("#look_result_money").val();//实际收款
        	var look_year=$("#look_year").val();
        	var look_yezhu=$("#look_yezhu").val();
        	var look_start_time=$("#look_start_time").val();
        	var look_end_time=$("#look_end_time").val();
        	var look_prj_leader=$("#look_prj_leader").val(); 
        	var look_contract_money=$("#look_contract_money").val();
        	var look_contract_money_end=$("#look_contract_money_end").val();
        	var look_kp_money=$("#look_kp_money").val();
        	var look_fp_no=$("#look_fp_no").val();
        	var look_collection_terms=$("#look_collection_terms").val();
        	var look_prj_plan=$("#look_prj_plan").val();
        	var look_department_info=$("#look_department_info").val();
        	//var look_finance_info=$("#look_finance_info").val()
        	if(look_prj_name==''){
	    		toastr.error("项目名称不能为空");
	    		return;
	    	}
        	if(look_prj_no==''){
	    		toastr.error("任务单号不能为空");
	    		return;
	    	}
        	if(look_fp_no==''){
	    		toastr.error("发票编号不能为空");
	    		return;
	    	}
        	if(look_result_money==''){
	    		toastr.error("实际收款不能为空");
	    		return;
        	}
        	var AlreadySkInfo={
        			cId:undefined,
        			skId:undefined,
        			prjName:undefined,
        			taskNo:undefined,
        			contractName:undefined,
        			contractNo:undefined,
        			alreadySkMoney:0,
        			allSkMoney:0,
    				operatorPerson:undefined,
    				asoList:undefined,
    				status:undefined,
    				years:undefined,//年份
    				yezhu:undefined,//业主单位
    				prjStartTime:undefined,//开始时间
    				prjEndTime:undefined,//结束时间
    				prjLeader:undefined,//项目负责人
    				contractMoney:0,//合同金额
    				contractJsMoney:0,// 合同结算额
    				contractSkCondition:undefined,//合同收款条件
    				fpNo:undefined,//发票编号
    				alreadyMoney:0,//已开票应收金额
    				prjJindu:undefined,//项目完成进度
    				shijiMoney:0,//实际收款
    				backDesc:undefined,//部门反馈
    				//cdesc:undefined,//财务备注信息
    		}
        	AlreadySkInfo.cId=null;
        	AlreadySkInfo.skId=skId;
        	AlreadySkInfo.prjName=look_prj_name;
        	AlreadySkInfo.taskNo=look_prj_no;
        	AlreadySkInfo.contractName=look_HT_contract;
        	AlreadySkInfo.contractNo=look_HT_contract_no;
        	AlreadySkInfo.alreadySkMoney=look_result_money;
        	AlreadySkInfo.allSkMoney=look_total_money;
        	AlreadySkInfo.operatorPerson=null;
        	AlreadySkInfo.asoList=bumemArr;
        	AlreadySkInfo.status="0";
        	AlreadySkInfo.years=look_year;
        	AlreadySkInfo.yezhu=look_yezhu;
        	AlreadySkInfo.prjStartTime=look_start_time;
        	AlreadySkInfo.prjEndTime=look_end_time;
        	AlreadySkInfo.prjLeader=look_prj_leader;
        	AlreadySkInfo.contractMoney=look_contract_money;
        	AlreadySkInfo.contractJsMoney=look_contract_money_end;
        	AlreadySkInfo.contractSkCondition=look_collection_terms;
        	AlreadySkInfo.fpNo=look_fp_no;
        	AlreadySkInfo.alreadyMoney=look_kp_money;
        	AlreadySkInfo.prjJindu=look_prj_plan;
        	AlreadySkInfo.backDesc=look_department_info;
        	//AlreadySkInfo.cdesc=look_finance_info;
    		$.ajax({
                type: 'POST',
                url:getContextPath()+"/AlreadySkOmInfo/addAlreadySkInfo",
                dataType: 'json',
                contentType: "application/json", 
	            data:JSON.stringify(AlreadySkInfo),
                success: function (json) {
                	//console.log(json)
                	if(json>0){
                		toastr.success("认领成功");
                		$("#mainContent").DataTable().row(tr).remove().draw(false);
                		$("#look").modal("hide");
                	}else{
                		toastr.error("认领失败");
                	} 
                }
            });
    		
    	}else{
    		toastr.error("部门金额与实际收款不相等");
    	}
    	/*  */
    })

    //选择项目
	$("#chosexm").click(function(){
		$('#xiangmumd').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$("#xiangmumd").modal("show");
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
	            dataType: 'json',
	            async:false,
	            data: {
	            },
	            success: function (json) {
	                $('#xiangmubiao').dataTable().fnClearTable();
	                $('#xiangmubiao').DataTable().rows.add(json).draw(false);
	            }
	        });
	})
	$("#quedingxm").click(function(){
		var tr=$("input[name='xiangmuName']:checked").parents("tr");
		var data=$("#xiangmubiao").DataTable().row(tr).data();
		console.log(data)
		$("#look_prj_name").val(data.prjName);
		$("#look_prj_no").val(data.prjNo)
		var no=data.prjNo;
		$("#look_year").val(no.substring(0,4));
		$("#look_yezhu").val(data.ccName);
		$("#look_start_time").val(data.prjStartTime)
		$("#look_end_time").val(data.prjEndTime)
		$("#look_prj_leader").val(data.mainPrjLeader)
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ppf/selectAllByName',
            dataType: 'json',
            data: {
            	name:$('#look_prj_name').val()
            },
            success: function (json) {
            	var task=json.task;
            	var bf=json.bf;
            	var cj=json.cj;
            	
            	
                	
                	
                	$("#xieban1 tbody").empty();
                	
                	$("#xieban1 tbody").append("<tr><td style='width:20%;'>"
            				+"主办部门"
            				+"</td><td style='width:20%;'data-id="+task.mainDepartment+">"
                			+task.omName
                			+"</td><td style='width:10%;'>"
                			+"金额"
                			+"</td><td style='width:50%;'>"
                			+"<input type='text' data='1' class='form-control'>"
                			+"</td></tr>")
                	
                	if(task.name1!=null){
                		$("#xieban1 tbody").append("<tr><td>"
                				+"协办部门"
                				+"</td><td data-id="+task.assistDepartment1+">"
                    			+task.name1
                    			+"</td><td>"
                    			+"金额"
                    			+"</td><td>"
                    			+"<input type='text' data='0'  class='form-control'>"
                    			+"</td></tr>")
                	}
                	
					if(task.name2!=null){
						$("#xieban1 tbody").append("<tr><td>"
                				+"协办部门"
                				+"</td><td data-id="+task.assistDepartment2+">"
                    			+task.name2
                    			+"</td><td>"
                    			+"金额"
                    			+"</td><td>"
                    			+"<input type='text' data='0' class='form-control'>"
                    			+"</td></tr>")
                	}
					
					if(task.name3!=null){
						$("#xieban1 tbody").append("<tr><td>"
                				+"协办部门"
                				+"</td><td data-id="+task.assistDepartment3+">"
                    			+task.name3
                    			+"</td><td>"
                    			+"金额"
                    			+"</td><td>"
                    			+"<input type='text' data='0' class='form-control'>"
                    			+"</td></tr>")
                	}
                	
					
					
            }
  		});
		
		
		$("#xiangmumd").modal("hide");
	})
	//选择合同
	$("#choseht").click(function(){
		$('#hetongmd').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$("#hetongmd").modal("show");
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/getContracts',
            dataType: 'json',
            data: {
            	id:$("#look_prj_no").val()
            },
            success: function (json) {
            	var obj  = json;
            	if(json==0){
            		
            	}else{
            		$('#hetongbiao').dataTable().fnClearTable();
	                $('#hetongbiao').DataTable().rows.add(json).draw(false);
            		
            	}
            }
        });
	})
	$("#quedinght").click(function(){
		var tr=$("input[name='hetongName']:checked").parents("tr");
		var data=$("#hetongbiao").DataTable().row(tr).data();
		console.log(data)
		$("#look_HT_contract").val(data.contractName);
		$("#look_HT_contract").attr("data2",data.contractNo);
		$("#look_contract_money").val(data.contractMoney)
		$("#look_collection_terms").val(data.receieveMoneyCondition)//合同收款条件
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/work/selectContractWorkByno',//从合同履约的承接合同交工处获得合同结算额和累计收款
            dataType: 'json',
            data: {
            	no:data.contractNo,
            	type:2
            },
            success: function (json) {
            	$("#look_contract_money_end").val(json.endMoney)//合同结算额
            	$("#look_total_money").val(json.allReceieveMoney)//累计收款
            }
        });
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getAllKpMoneyByFpNoAndTaskNo',//从开票申请处获得开票金额和发票编号
            dataType: 'json',
            data: {
            	taskno:	$("#look_prj_no").val(),
            	contractno:$("#look_HT_contract").attr("data2"),
            },
            success: function (json) {
            	console.log(json)
            	if(json!=null){
	            	var allmon=0;
	            	$("#selectpicker_no").html('');
	            	var arr=[];
	            	for(var i=0;i<json.length;i++){
	            		allmon+=json[i].kpMoney;
	            		arr[i]=json[i].fpNo
	            		/*$("#selectpicker_no").append("<option  value="+json[i].fpNo+">"+json[i].fpNo+"</option>") */
	            	}
	            	$("#look_fp_no").val(arr.join(","))
	            	$("#look_kp_money").val(allmon)
	            	//$('#selectpicker_no').selectpicker('refresh');
            	}
            }
        });
		
		$("#hetongmd").modal("hide");
	})
	
	/* function chooseNo(){
		$('.selectpicker').selectpicker('deselectAll'); 
		$("#chooseNo").modal("show");
	}
    function quxiao(){
		$('#chooseNo').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
        $('#chooseNo').modal("hide");
	}
    
    
    function saveNo(){
		$('#chooseNo').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
	    var no_list=$("#selectpicker_no").val();
		$("#look_fp_no").val(no_list)
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getAllKpMoneyByFpNos',//通过发票编号从开票申请获得开票金额
            dataType: 'json',
            data: {
            	nos:no_list.toString(),
            },
            success: function (json) {
            	var allmon=0;
            	for(var i=0;i<json.length;i++){
            		allmon+=json[i].kpMoney;
            	}
	            $("#look_kp_money").val(allmon)
            }
        });
		$('#chooseNo').modal("hide");
    } */
	
    
    function gotoPrj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		$.ajax({
			type:"POST",
			url:getContextPath()+"/task/selectIdByNameAndNo",
			dataTyepe:"json",
			async:false,
			data:{ 
				name:data.prjName,
				no:data.prjNo
				},
			success:function(json){
				$(obj).attr('href', '../shengchanGuanli/TaskManagement.html?prjId='+json.prjId+'&prjNo='+data.prjNo+'');
			}
		}) 
    }
    
    function gotoCj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//var t = encodeURI(encodeURI(data.prjId));
		//console.log(data)
		$(obj).attr("href",'../shengchanGuanli/ContractManagement.html?cjId='+data.htContract+'');
		
    }
    
</script>
</html>