<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>收款管理</li>
			<li class="active">到账与认领</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
            </div>
            <div class="UpperPartR">
                <button type="button" class="btn btn-primary Pcab"  data-toggle="modal" data-target="#myModal2">导入到账记录</button>
                <button type="button" class="btn btn-primary Pcaa" data-toggle="modal" data-target="#myModal">新建到账记录</button>
            </div>
<!-- Modal2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>导入收款项目</b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow:auto;">     
                    <form class="form-inline" id="form1" enctype="multipart/form-data" method="post">
                            <label style="width:20%;"></label>
                        	<input style="width:60%;" type="file" name="file" id="file" class="form-control">
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="file_submit()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model2结束 -->
<!-- <!-- Modal2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow:auto;">     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!--model2结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建到账记录</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                        	<tr>
                                <td style="width:15%;">付款单位  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <select id="jiafangdanwei" class="form-control" style="width:65%;">
                                    	<option>华通</option>
                                    	<option>华汇</option>
                                    </select>
                                </td>
                                <td style="width:15%;" class="jinqianyanse">收款金额(元)  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                	<input type="text" class="form-control" id="shoukuanjine" style="width:65%;">
                                </td>
                            </tr>
                            <tr>
                                <td>收款时间  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<input type="text" class="form-control" id="shoukuantime" style="width:65%;">
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                  <td>备注</td>
                                  <td colspan="3"><textarea class="form-control" id="rmDesc"  cols="60" rows="4"></textarea></td>
                              </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveFr()">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看到账记录</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                           <tr>
                                <td style="width:15%;">甲方单位</td>
                                <td style="width:35%;"></td>
                                <td style="width:15%;" class="jinqianyanse">收款金额(元)</td>
                                <td style="width:35%;"></td>
                            </tr>
                            <tr>
                                <td>收款时间</td>
                                <td></td>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>到账记录</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:15%;">付款单位  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <select id="xgjiafangdanwei" class="form-control" style="width:65%;">
                                    	<option>华通</option>
                                    	<option>华汇</option>
                                    </select>
                                </td>
                                <td style="width:15%;" class="jinqianyanse">收款金额(元)  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                	<input type="text" class="form-control" id="xgshoukuanjine" style="width:65%;">
                                </td>
                            </tr>
                            <tr>
                                <td>收款时间  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<input type="text" class="form-control" id="xgshoukuantime" style="width:65%;">
                                </td>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                  <td>备注</td>
                                  <td colspan="3"><textarea class="form-control" id="xgrmDesc"  cols="60" rows="4"></textarea></td>
                              </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="xiugaicaiwu()">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                   		<th>是否确认</th>
                        <th>收款时间</th>
                        <th>收款金额(元)</th>
                        <th>累计确认金额(元)</th>
                        <th>剩余金额(元)</th>
                        <th>付款单位</th>
                        <th>收款编号</th>
                        <th>备注</th>
                        <th>操作人</th>
                        <th style="width:100px">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
        </div>
    </div>

<!-- 全部Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMSG">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>全部信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="caiwurenling">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看收款认领</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="lookcaiwu">
                         <table class="table table-bordered table-condensed">
                         	<thead>
                         			<tr>
	                         			<th colspan="4">收款确认单</th>
	                         		</tr>
                         	</thead>
                         	<tbody>
                         			<tr>
	                         			<!-- <td style="width:15%;">确认编号</td>
	                         			<td style="width:35%;"><input type="text" class="form-control"  disabled id="querenbianhao"></td> -->
	                         			<td style="width:15%;">发票申请号</td>
	                         			<td style="width:35%;">
	                         					<input type="text" class="form-control" id="fapiaoshengqinhao" disabled>
                                				<button type="button" class="btn btn-primary"  id="chosefp">选择发票申请号</button>
	                         			</td>
	                         			<td class="jingyongkk">项目名称</td>
	                         			<td>
	                         				<input type="text" class="form-control"  disabled id="prjName">
	                         			</td>
	                         		</tr>
	                         		<tr>
	                         			<td class="jingyongkk">项目编号</td>
	                         			<td><input type="text" class="form-control"  disabled id="prjNo"></td>
	                         			<td class="jingyongkk">主办部门</td>
	                         			<td><input type="text" class="form-control"  disabled id="zhuban"></td>
	                         		</tr>
	                         		<tr>
	                         			<!-- <td>项目情况</td>
	                         			<td><input type="text" class="form-control"  disabled id="prjqingkuang"></td> -->
	                         			<td>合同名称</td>
	                         			<td>
	                         				<input type="text" class="form-control"  disabled id="hetongName">
	                         				<button type="button" class="btn btn-primary weui-uploader__input" disabled id="xzcj"  onclick="select_cj()">选择承接</button> 
	                         			</td>
	                         			<td class="jingyongkk">合同编号</td>
	                         			<td>
	                         				<input type="text" class="form-control"  disabled id="hetongbianhao">
	                         			</td>
	                         		</tr>
	                         		<tr>
	                         			<td class="jingyongkk">付款单位</td>
	                         			<td><input type="text" class="form-control"  disabled id="fukuandanwei"></td>
	                         			<td class="jinqianyanse">本次确认金额(元)</td>
	                         			<td><input type="text" class="form-control"  id="bencijine"></td>
	                         		</tr>
                         	</tbody>
                         	<tfoot>
                         		<tr>
                         			<td class="jinqianyanse">到账总金额(元)</td>
                         			<td><input type="text" class="form-control"  id="daozhangjine" disabled></td>
                         			<td class="jinqianyanse">可确认金额(元)</td>
                         			<td><input type="text" class="form-control"  id="querenjine" disabled></td>
                         		</tr>
                         	</tfoot>
                         </table>
                         <table class="table table-bordered table-condensed">
                         	<thead>
                         			<tr>
	                         			<th colspan="4">发票信息</th>
	                         		</tr>
                         	</thead>
                         	<tbody>
                         			<tr>
	                         			<td style="width:15%;" class="jingyongkk">发票编号</td>
	                         			<td style="width:35%;" colspan="3"><input style="width:80%" type="text" id="fp_no" class="form-control" disabled></td>
	                         		</tr>
	                         		<tr>
		                            	<td class="jingyongkk">备注</td>
		                            	<td colspan="3">
		                            		<textarea class="form-control" id="fp_desc"  cols="80" rows="4" disabled></textarea>
		                            	</td>
		                            </tr>
	                         		<tr>
	                         			<td style="width:15%;" class="jinqianyanse">发票金额(元)</td>
	                         			<td style="width:35%;"><input type="text" style="width:70%" id="fp_money" class="form-control" disabled></td>
	                         			<td style="width:15%;" class="jinqianyanse">发票剩余金额(元)</td>
	                         			<td style="width:35%;"><input type="text" style="width:70%" id="fp_shengyu_money" class="form-control" disabled></td>
	                         		</tr>
                         	</tbody>
                         	<tfoot>
                         		<tr>
                         			<td class="jingyongkk">确认人</td>
                         			<td ><input type="text" id="queren_person" style="width:70%" class="form-control" disabled></td>
                         			<td></td>
                         			<td></td>
                         		</tr>
                         	</tfoot>
                         </table>
                         
                        <table class="table table-bordered table-condensed" id="xieban1">
                            <thead>
                                <tr>
                                    <th colspan="4" >部门</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        
                        <table style="width:100%;" class="table table-bordered table-condensed" id="renling_history">
	                        <thead>
	                            <tr>
	                                <th colspan="6">认领信息</th>
	                            </tr>
	                            <tr>
	                                <td>认领项目</td>
	                                <td>主办部门</td>
	                                <td>认领人</td>
	                                <td>认领金额(元)</td>
	                                <!-- <td>操作</td> -->
	                            </tr>
	                        </thead>
	                        <tbody>
	                            
	                        </tbody>
	                    </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="renling">认领</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="fapiaosqmd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择发票申请号</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="fapiaosqbiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>发票申请号</th>
                            		<th>项目编号</th>
                                    <th>项目名称</th>
                                    <th>合同编号</th>
                                    <th>合同名称</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingfp">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal选择承接合同 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="choose_cj">
    <div class="modal-dialog modal-lg" role="document" style="width:60%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择承接合同</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="cj_table">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>承接合同名称</th>
                                    <th>承接合同编号</th>
                                    <th>甲方单位</th>
                                    <th>合同起日期</th>
                                    <th>合同讫日期</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="saveCjName()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../select/js/select2.min.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#shoukuantime' //指定元素
        });
    	laydate.render({
            elem: '#xgshoukuantime' //指定元素
        });
    	leixingSelect2();
    	initTable();
    	//initSelect();
	});
    var table=$('#mainContent').DataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "rmTime"}, 
		            { "data": "receiveMoney"}, 
		            { "data": "leijiquerenMoney"}, 
		            { "data": "shengyuMoney"}, 
		            { "data": "ccName"}, 
		            { "data": "skNo"}, 
		            { "data": "rmDesc"}, 
		            { "data": "doPerson"}, 
		            { "data": null}
		        ],
		        "columnDefs": [
									
									{	
										 "class": "details-control",
										    "targets": 9,
										    "searchable": true,
										    "render": function(data, type, full) {
											    	if(full.status=='0'){
											    		return '<span class="glyphicon glyphicon-edit  Pcba Pcac" aria-hidden="true" style="font-size:18px;cursor:pointer;margin-left:10px;display:none;" title="认领" onclick="skrenling(this)" data-toggle="modal" data-target="#"></span><i class="iconfont icon-xiugai Pcad" style="font-size:18px;margin-left:10px;cursor:pointer;display:none;" title="到账记录" data-toggle="modal" data-target="#change" onclick="updateAll(this)"></i><i class="iconfont icon-shanchu Pcae" style="font-size:22px;cursor:pointer;margin-left:10px;display:none;" title="删除" id="delOrg"></i>';
											    	}else{
											    		return '<span class="glyphicon glyphicon-edit  Pcba Pcac" aria-hidden="true" style="font-size:18px;cursor:pointer;margin-left:10px;display:none;" title="认领" data-toggle="modal" data-target="#" onclick="skrenling(this)"></span>';
											    	}
										        }
										  },
										  {	
												 "class": "details-control",
												    "targets": 0,
												    "searchable": true,
												    "render": function(data, type, full) {
												    	if(full.status=='0'){
												    		return '<span class="label label-danger state">尚未确认</span>';
												    	}else if(full.status=='1'){
												    		return '<span class="label label-info state">部分确认</span>';
												    	}
												       }
												  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pcac") >= 0 ){
				                						$(".Pcac").show();
				                					}
				                					if(arr[i].indexOf("Pcad") >= 0 ){
				                						$(".Pcad").show();
				                					}
				                					if(arr[i].indexOf("Pcae") >= 0 ){
				                						$(".Pcae").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[4, 'desc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {	
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table3=$('#fapiaosqbiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
					{ "data": "kpNo"}, 
		            { "data": "prjNo"}, 
		            { "data": "prjName"},
		            { "data": "contractNo"}, 
		            { "data": "contractName"}, 
		            
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var tablecj=$('#cj_table').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": null}, 
            { "data": "contractName"},
            { "data": "contractNo"}, 
            { "data": "ccName"}, 
            { "data": "contractStartTime"},
            { "data": "contractEndTime"}
        ],
        "columnDefs": [
						{
								 "class": "tcenter",
								    "targets": 0,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return '<input type="radio" name="cjName" style="width:16px;height:16px;">'
								        }
								  }
						],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
  //认领记录
    var table_renling=$('#renling_history').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "tName"}, 
            { "data": "mainDepartment"}, 
            { "data": "thisPerson"}, 
            { "data": "skQuerenMoney"},
            //{ "data": null}, 
        ],
         /* "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 4,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return '<span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:20px;cursor:pointer;" title="取消认领" onclick="tuihui(this)"></span>'
								        }
								  }
						],  */
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    var uName;
	function initTable(){
        $.ajax({
            type: 'POST',
            url:getContextPath()+"/receiveMoney/getReceiveMoneyList",
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                //console.log(json)
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			uName=json.uName;
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					if(arr[i].indexOf("Pcac") >= 0 ){
            						$(".Pcac").show();
            					}
            					if(arr[i].indexOf("Pcad") >= 0 ){
            						$(".Pcad").show();
            					}
            					if(arr[i].indexOf("Pcae") >= 0 ){
            						$(".Pcae").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
            }
        });
    }

	
	 //选择承接
	function select_cj(){
	   	 $.ajax({
		            type: 'POST',
		            url: getContextPath()+'/cj/selectNameAndNo',
		            dataType: 'json',
		            async:false,
		            data: {
		            },
		            success: function (json) {
		                $('#cj_table').dataTable().fnClearTable();
		                $('#cj_table').DataTable().rows.add(json).draw(false);
		            }
		        });
	   			$("#choose_cj").modal("show");
	   			$('#choose_cj').on('hidden.bs.modal', function () {//解决模态框关闭页面滚动问题
	   	            if ($('.modal.in').size() >= 1) {
	   	                $('body').addClass('modal-open')
	   	            }
	   	        })
	   }
	    
	    function saveCjName(){
	    	var tr=$("input[name='cjName']:checked").parents("tr");
	    	var data=$("#cj_table").DataTable().row(tr).data();
	    	if(data==null){
	    		toastr.error("请选择")
	    		return;
	    	}
	    	$("#hetongbianhao").val(data.contractNo);
    		$("#hetongName").val(data.contractName);
	    	$("#choose_cj").modal("hide");
	    }
	
	
	
	
	 //项目业主单位
    function leixingSelect2(){
	    $.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cooperator/selectCooperatorIdAndName',
	        dataType: 'json',
	        data: {
	           
	        },
	        success: function (json) {
	        	$("#jiafangdanwei").html('');
	        	$("#xgjiafangdanwei").html('');
	        	 for(var i=0;i<json.length;i++){
	        		$("#jiafangdanwei").append( "<option value='" + json[i].ccId + "'>"
		                    + json[i].ccName + "</option>")
		            $("#xgjiafangdanwei").append( "<option value='" + json[i].ccId + "'>"
		                    + json[i].ccName + "</option>")
	        	}
	        	 $.fn.modal.Constructor.prototype.enforceFocus = function () { }
                 $("#jiafangdanwei").select2({
 	                 tags: true,
 	                 placeholder: '请搜索或选择语言',
 	                 allowClear: true
 	             });
                 $("#xgjiafangdanwei").select2({
 	                 tags: true,
 	                 placeholder: '请搜索或选择语言',
 	                 allowClear: true
 	             });
	        	 $("#jiafangdanwei").trigger("change");
	        	 $("#xgjiafangdanwei").trigger("change");
	        }
	    });
	}
	
	 var skNo;//收款编号
	 var daozhangDate;//到账日期
	 var dom;
	 function skrenling(obj){
		 dom = $(obj).closest('tr');
		$("#caiwurenling").modal("show")
		var tr=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(tr).data();
		skNo=data.skNo;
		daozhangDate=data.rmTime;
		$("#daozhangjine").val(data.receiveMoney);
		$("#querenjine").val(data.shengyuMoney)
		$("#queren_person").val(uName);
		$.ajax({
            type: 'POST',
            url:getContextPath()+"/AlreadySk/selectAlreadySkBySkno",
            dataType: 'json',
            data: {
            	skno:data.skNo,
            },
            success: function (json) {
        		$('#renling_history').dataTable().fnClearTable();
                $('#renling_history').DataTable().rows.add(json).draw(false);
            	
            }
        });
	 }
	 
  //选择申请单编号
	$("#chosefp").click(function(){
		$("#fapiaosqmd").modal("show");
		$('#fapiaosqmd').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/kp/getAllkpNo',
	            dataType: 'json',
	            async:false,
	            data: {
	            },
	            success: function (json) {
		               $('#fapiaosqbiao').dataTable().fnClearTable();
		               $('#fapiaosqbiao').DataTable().rows.add(json).draw(false);
	            }
	        });
	})
	
	var kpDate;//开票日期
	$("#quedingfp").click(function(){
		var tr=$("input[name='xiangmuName']:checked").parents("tr");
		var data=$("#fapiaosqbiao").DataTable().row(tr).data();
		kpDate=data.time;
		$("#fapiaoshengqinhao").val(data.kpNo);
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getKpApplicationBykpNo',
            dataType: 'json',
            async:false,
            data: {
            	kpno:data.kpNo
            },
            success: function (json) {
	               	$("#prjNo").val(json.prjNo);
            		$("#prjName").val(json.prjName);
            		if(json.contractNo!=null&&json.contractNo!=""){
	            		$("#hetongbianhao").val(json.contractNo);
	            		$("#hetongName").val(json.contractName);
            			$("#xzcj").attr("disabled",true)
            		}else{
            			$("#hetongbianhao").val("");
	            		$("#hetongName").val("");
	            		$("#xzcj").attr("disabled",false);
            		}
            		$("#fukuandanwei").val(json.payUnit);
            		$("#fp_no").val(json.fpNo)
            		$("#fp_desc").val(json.kpDesc)
            		$("#fp_money").val(json.kpMoney)
            		getFpshengyuMoney(json.kpMoney);//计算发票剩余金额
            		
            		$.ajax({
                        type: 'POST',
                        url: getContextPath()+'/task/selectTaskPrjName',
                        dataType: 'json',
                        async:false,
                        data: {
                        	prjNo:json.prjNo
                        },
                        success: function (json) {
                        		for(var i=0;i<json.length;i++){
                        			$("#zhuban").val(json[0].omName);
                        			
                        			$("#xieban1 tbody").empty();
                                	
                                	$("#xieban1 tbody").append("<tr><td style='width:20%;'>"
                            				+"主办部门"
                            				+"</td><td style='width:20%;'data-id="+json[0].mainDepartment+">"
                                			+json[0].omName
                                			+"</td><td style='width:10%;'>"
                                			+"金额"
                                			+"</td><td style='width:50%;'>"
                                			+"<input type='text' data='1' class='form-control'>"
                                			+"</td></tr>")
                                	
                                	if(json[0].name1!=null){
                                		$("#xieban1 tbody").append("<tr><td>"
                                				+"协办部门"
                                				+"</td><td data-id="+json[0].assistDepartment1+">"
                                    			+json[0].name1
                                    			+"</td><td>"
                                    			+"金额"
                                    			+"</td><td>"
                                    			+"<input type='text' data='0'  class='form-control'>"
                                    			+"</td></tr>")
                                	}
                                	
                					if(json[0].name2!=null){
                						$("#xieban1 tbody").append("<tr><td>"
                                				+"协办部门"
                                				+"</td><td data-id="+json[0].assistDepartment2+">"
                                    			+json[0].name2
                                    			+"</td><td>"
                                    			+"金额"
                                    			+"</td><td>"
                                    			+"<input type='text' data='0' class='form-control'>"
                                    			+"</td></tr>")
                                	}
                					
                					if(json[0].name3!=null){
                						$("#xieban1 tbody").append("<tr><td>"
                                				+"协办部门"
                                				+"</td><td data-id="+json[0].assistDepartment3+">"
                                    			+json[0].name3
                                    			+"</td><td>"
                                    			+"金额"
                                    			+"</td><td>"
                                    			+"<input type='text' data='0' class='form-control'>"
                                    			+"</td></tr>")
                                	}
                					
                        		}
            	               
                        }
                    });
            		
            }
        });
		
		$("#fapiaosqmd").modal("hide");
	})
	
	function getFpshengyuMoney(obj){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/AlreadySk/getyirenlingfpMoneyByKpno',
            dataType: 'json',
            data: {
            	kpno:$("#fapiaoshengqinhao").val(),
            },
            success: function (json) {
           		var yirenlingallFpMoney=json.yirenlingallFpMoney
               	var shenyuMoney=obj-yirenlingallFpMoney;
           		$("#fp_shengyu_money").val(shenyuMoney)
            }
        });

  }
	
	$("#renling").on("click",function(){
		if($("#fapiaoshengqinhao").val()==""){
			toastr.error("发票申请号不能为空");
			return;
		}
		var reg2=/^\d+(\.\d{0,2})?$/;//只能输入数字或含两位小数的正则
		if($("#bencijine").val()==""||!reg2.test($("#bencijine").val())){
			toastr.error("本次确认金额不能为空且只能有两位小数");
			return;
		}
		if($("#fp_shengyu_money").val()=="0"){
			toastr.error("发票剩余金额不足,请重新申请发票");
			return;
		}
		if($("#bencijine").val()/1>$("#fp_shengyu_money").val()/1){
			toastr.error("本次确认金额不能大于发票剩余金额");
			return;
		}
		if($("#fp_no").val()==""){
			toastr.error("发票编号不能为空,请补录发票编号")
			return;
		}
		var jine=0;
    	var bumemArr=new Array();
    	$("#xieban1 tbody").find("tr").each(function(){
    		 jinem=$(this).find("input").val()/1;
    		jine+=jinem;
    		var bumenId=$(this).find("td").eq(1).attr("data-id");
    		var bumenName=$(this).find("td").eq(1).text();
    		var bumenMoney=$(this).find("td").eq(3).find("input").val();
    		var AlreadySkOmInfo={
        			aoId:undefined,
        			cId:undefined,
        			omId:undefined,
        			omName:undefined,
        			omAlreadyMoney:undefined,
        			operatorPerson:undefined,
    		}
    		AlreadySkOmInfo.omId=bumenId;
    		AlreadySkOmInfo.omName=bumenName;
    		AlreadySkOmInfo.omAlreadyMoney=bumenMoney;
    		bumemArr.push(AlreadySkOmInfo)
    	})
    	
    	if(jine/1==$("#bencijine").val()/1){
    		var fapiaoshengqinhao=$("#fapiaoshengqinhao").val();
    		var prjNo=$("#prjNo").val();
    		var prjName=$("#prjName").val();
    		var prjqingkuang=$("#prjqingkuang").val();
    		var zhuban=$("#zhuban").val();
    		var hetongbianhao=$("#hetongbianhao").val();
    		var hetongName=$("#hetongName").val();
    		var fukuandanwei=$("#fukuandanwei").val();
    		var bencijine=$("#bencijine").val();
    		var daozhangjine=$("#daozhangjine").val();
    		var querenjine=$("#querenjine").val();//可确认金额
    		var fp_no=$("#fp_no").val();
    		var fp_desc=$("#fp_desc").val();
    		var fp_money=$("#fp_money").val();
    		var fp_shengyu_money=$("#fp_shengyu_money").val();
    		var queren_person=$("#queren_person").val();
    		
    		var AlreadyRenling={
    				rId:undefined,
    				querenNo:undefined,
    				cNo:undefined,
    				cName:undefined,
    				tNo:undefined,
    				tName:undefined,
    				thisPerson:undefined,
    				skNo:undefined,
    				kpNo:undefined,
    				fpNo:undefined,
    				fpDesc:undefined,
    				mainDepartment:undefined,
    				fkDanwei:undefined,
    				comeAllMoney:0,
    				skQuerenMoney:0,
    				querenDate:undefined,
    				daozhangDate:0,
    				fpMoney:0,
    				kpDate:undefined,
    				asoList:undefined,
    				status:0,
    		}
    		AlreadyRenling.rId=null;
    		AlreadyRenling.querenNo=null;
    		AlreadyRenling.cNo=hetongbianhao;
    		AlreadyRenling.cName=hetongName;
    		AlreadyRenling.tNo=prjNo;
    		AlreadyRenling.tName=prjName;
    		AlreadyRenling.thisPerson=queren_person;
    		AlreadyRenling.skNo=skNo;
    		AlreadyRenling.kpNo=fapiaoshengqinhao;
    		AlreadyRenling.fpNo=fp_no;
    		AlreadyRenling.fpDesc=fp_desc;
    		AlreadyRenling.mainDepartment=zhuban;
    		AlreadyRenling.fkDanwei=fukuandanwei;
    		AlreadyRenling.comeAllMoney=daozhangjine;
    		AlreadyRenling.skQuerenMoney=bencijine;
    		AlreadyRenling.querenDate=null;
    		AlreadyRenling.daozhangDate=daozhangDate;
    		AlreadyRenling.fpMoney=fp_money;
    		AlreadyRenling.kpDate=kpDate;
   			AlreadyRenling.asoList=bumemArr;
   			if(querenjine>0){
	    		AlreadyRenling.status="1";
   			}else{
   				AlreadyRenling.status="2";
   			}
   			 $.ajax({
                type: 'POST',
                url:getContextPath()+"/AlreadySk/addAlreadyRenling",
                dataType: 'json',
                contentType: "application/json", 
	            data:JSON.stringify(AlreadyRenling),
                success: function (json) {
                	if(json>0){
                		toastr.success("认领成功");
                		$("#caiwurenling").modal("hide")
                		initTable();
                		
                		if(querenjine/1-bencijine/1==0){//可确认金额减去本次认领金额等于0的话就去修改状态为正常确认
	                		$.ajax({
		                		type:"post",
		                		url:getContextPath()+"/receiveMoney/updateStatus",
		                		data:{
		                			skno:skNo,
		                			status:"2",
		                		},
		                		success:function(json){
		                			if(json>0){
		                				$('#mainContent').DataTable().row(dom).remove().draw(false);;//修改行立即显示
		                				//location.reload([true]);
		                			}
		                		}
		                	});
                		}
                		
                		
                	}else{
                		toastr.error("认领失败");
                	} 
                }
            });
		}else{
			toastr.error("部门金额与本次确认金额不相等");
		}
    	
	})
	
	
	
	function tuihui(obj){
		var tr=$(obj).parents("tr");
		var data=$("#renling_history").DataTable().row(tr).data();
		if(!confirm("确认退回？")){
			return false;
		}
		$.ajax({
    		type:"post",
    		url:getContextPath()+"/AlreadySk/deleteAlreadyRenlingById",
    		dataType: 'json',
    		data:{
    			rId:data.rId,
    		},
    		success:function(json){
    			if(json>0){
    				toastr.success("退回成功")
    				$("#caiwurenling").modal("hide")
    				//location.reload([true]);
    				$.ajax({
    		    		type:"post",
    		    		url:getContextPath()+"/AlreadySk/selectAlreadySkBySkno",
    		    		dataType: 'json',
    		    		data:{
    		    			skno:data.skNo,
    		    		},
    		    		success:function(json2){
    		    			if(json2.length=="0"){
    		    				$.ajax({
    		                		type:"post",
    		                		url:getContextPath()+"/receiveMoney/updateStatus",
    		                		data:{
    		                			skno:data.skNo,
    		                			status:"0",
    		                		},
    		                		success:function(json3){
    		                			console.log(json3)
    		                			if(json3>0){
    		                				//location.reload([true]);
    		                				initTable();
    		                			}
    		                		}
    		                	});
    		    			}
    		    		}
    		    	});
    			}else{
    				toastr.error("退回失败")
    			}
    		}
    	});
		
	}
	
	
	 //新增
	 var doren;
	 function saveFr(){
		 var danwei=$("#jiafangdanwei").val();
		 
		 var shoukuanjine=$("#shoukuanjine").val();
		 var shoukuantime=$("#shoukuantime").val();
		 var rmDesc=$("#rmDesc").val();
		/*  	if(danwei==''){
	    		toastr.error("甲方单位不能为空");
	    		return;
	    	}
			if(shoukuanjine==''){
	    		toastr.error("收款金额不能为空");
	    		return;
	    	}
			if(shoukuantime==''){
	    		toastr.error("收款时间不能为空");
	    		return;
	    	} */
		 $.ajax({
		        type: 'POST',
		        url: getContextPath()+'/receiveMoney/addReceiveMoney',
		        dataType: 'json',
		        data: {
		           ccId:danwei,
		           ccName:$("#jiafangdanwei option:selected").text(),
		           receiveMoney:shoukuanjine,
		           rmTime:shoukuantime,
		           rmDesc:rmDesc,
		        },
		        success: function (json) {
		        	//location.reload([true]);
		        	$('#mainContent').DataTable().row.add(json).draw(false);     //新增行立即显示
		        	toastr.success("添加成功");
		        }
		    });
	 }
    //修改
    var tr;
    var rmId;
    var doPerson;
    var doTime;
    function updateAll(obj){
    	tr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(tr).data();
    	rmId=data.rmId;
    	doPerson=data.doPerson;
    	doTime=data.doTime;
    	//$("#xgjiafangdanwei").find("option:selected").text(data.ccName)
    	$("#xgjiafangdanwei").val(data.ccId).select2()
    	$("#xgshoukuanjine").val(data.receiveMoney)
    	$("#xgshoukuantime").val(data.rmTime)
    	$("#xgrmDesc").val(data.rmDesc)
    }
    function xiugaicaiwu(){
		 var danwei=$("#xgjiafangdanwei").val();
		 
		 var shoukuanjine=$("#xgshoukuanjine").val();
		 var shoukuantime=$("#xgshoukuantime").val();
		 var rmDesc=$("#xgrmDesc").val();
		 if(danwei==''){
	    		toastr.error("甲方单位不能为空");
	    		return;
	    	}
			if(shoukuanjine==''){
	    		toastr.error("收款金额不能为空");
	    		return;
	    	}
			if(shoukuantime==''){
	    		toastr.error("收款时间不能为空");
	    		return;
	    	}
		 var addJson = {
		            "rmId": rmId,
		            "ccId": danwei,
		            "ccName": $("#xgjiafangdanwei option:selected").text(),
		            "receiveMoney": shoukuanjine,
		            "rmTime": shoukuantime,
		            "doPerson": doPerson,
		            "doTime":doTime,
		            "rmDesc":rmDesc
		        };
		 $.ajax({
		        type: 'POST',
		        url: getContextPath()+'/receiveMoney/updateReceiveMoney',
		        dataType: 'json',
		        data: {
		        	rmId:rmId,
		           ccId:danwei,
		           ccName:$("#xgjiafangdanwei option:selected").text(),
		           receiveMoney:shoukuanjine,
		           rmTime:shoukuantime,
		           rmDesc:rmDesc,
		        },
		        success: function (json) {
		        	location.reload([true]);
		        	//$('#mainContent').DataTable().row(tr).data(addJson);//修改行立即显示
		        }
		    });
	 }
    
  //删除
	$('#mainContent').delegate('#delOrg','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
  		//console.log(data)
		var statu = confirm("确认删除?");
		  if(!statu){
		   return false;
		  }
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/receiveMoney/deleteReceiveMoney',
            dataType: 'json',
            data: {
            	id:data.rmId
            },
            success: function (json) {
            	if(json!=0){
            		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
            		 toastr.success('删除成功');
            	}else{
            		 toastr.error('删除失败');
            	}
            }
        });
	})
	
	
    var flag=true;
    $("#changeModel").click(function(){
        if(flag==true){
            $("#inp").hide();
            $("#sel").show();
            flag=false;
        }else{
            $("#inp").show();
            $("#sel").hide();
            flag=true;
        }  
    })
    


	function file_submit(){
		var fileName=$("#file").val();
		if(fileName.indexOf("xls")==-1){
			toastr.error("请选择表格")
			return;
		}
		var options={
				url:getContextPath()+'/FinancialReceipts/importExcel',
				data:$('#from1').serialize(),  
				type:'POST',
				dataType: 'json',
				contentType : "application/x-www-form-urlencoded; charset=gbk",
				success:function(json){
					if(json>0){
						toastr.success('导入成功');
						$("#myModal2").modal("hide");
						location.reload([true]);
					}else{
						toastr.error('导入失败');
					}
				}
		}
		$("#form1").ajaxSubmit(options);
	}
    
    
</script>
</html>