<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>财务管理</li>
			<li class="active">财务收款</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">财务收款统计表</button> -->
            </div>
            <div class="UpperPartR">
                <button type="button" class="btn btn-primary Pcaa" data-toggle="modal" data-target="#myModal">新建财务收款</button>
            </div>
<!-- Modal2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow:auto;">     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model2结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建财务收款</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                        	<tr>
                                <td style="width:15%;">合同名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                    <!-- <select id="contract_name" class="form-control" style="width:80%;">
                                    </select> -->
                                    <input type="text" class="form-control" data1="" style="width:65%;" disabled id="contract_name">
                                    <button type="button" class="btn btn-primary weui-uploader__input" onclick="select_cj()">选择承接</button>
                                </td>
                                <td style="width:15%;">合同编号</td>
                                <td style="width:35%;">
                                	<select id="contract_no" class="form-control" style="width:65%;">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:35%;">
                                	<input type="text" class="form-control" id="prj_name" style="width:65%;" disabled>
                                   <!--  <select class="form-control" style="width:80%;" id="prj_name">
                                    </select> -->
                                </td>
                                <td style="width:15%;">任务单号</td>
                                <td style="width:35%;">
                                	<input type="text" class="form-control" id="prj_no" style="width:65%;" disabled>
                                	<!-- <select class="form-control" style="width:80%;" id="prj_no">
                                    </select> -->
                                </td>
                            </tr>
                            <tr>
                                <td>年份</td>
                                <td>
                                	<input type="text" class="form-control" id="year" style="width:65%;">
                                </td>
                                <td>业主单位  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" style="width:65%;" id="yezhu" disabled></td>
                            </tr>
                            <tr>
                                <td>项目开始时间</td>
                                <td>
                                    <input type="text" class="form-control" style="width:65%;" id="start_time" disabled>
                                </td>
                                <td>项目结束时间</td>
                                <td>
                                    <input type="text" class="form-control" style="width:65%;" id="end_time" disabled>
                                </td>
                            </tr>
                            <tr>
                            	<td>项目负责人</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="prj_leader" disabled></td>
                                <td>合同金额(元）</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="contract_money" disabled></td>
                            </tr>
                            <tr>
                                <td>合同结算额（元）</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="contract_money_end" disabled></td>
                            	<td>累计收款（元）  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" style="width:65%;" id="total_money" disabled></td>
                            </tr>
                            <tr>
                                <td>发票编号</td>
                                <td>
                                	<select class="form-control" style="width:65%;" id="fp_no">
                                    </select>
                                </td>
                                <td>已开票应收金额（元）  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" style="width:65%;" id="kp_money" disabled></td> 
                            </tr>
                            <tr>
                                <td>合同收款条件</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="collection_terms" disabled></td>
                                <td>项目完成进度</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="prj_plan" disabled></td>
                            </tr>
                            <tr>
                                <td>实际收款</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="result_money"></td>
                                <td>部门反馈</td>
                                <td><input type="text" class="form-control" style="width:65%;" id="department_info"></td>
                            </tr>
                            <tr>
                            	<td>收款时间</td>
                            	<td><input type="text" class="form-control" style="width:65%;" id="sk_time"></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                                <td>财务备注信息</td>
                                <td colspan="3">
                                    <textarea class="form-control" style="width:80%;" rows="4" id="finance_info"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="saveFr()">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal选择承接合同 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="choose_cj">
    <div class="modal-dialog modal-lg" role="document" style="width:60%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择承接合同</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="cj_table">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>承接合同名称</th>
                                    <th>承接合同编号</th>
                                    <th>甲方单位</th>
                                    <th>合同起日期</th>
                                    <th>合同讫日期</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="saveCjName()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看财务收款</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:20%;">项目名称</td>
                                <td style="width:28%;" id="look_prj_name"></td>
                                <td style="width:25%;">任务单号</td>
                                <td style="width:27%;" id="look_prj_no"></td>
                            </tr>
                            <tr>
                                <td>华通合同名称</td>
                                <td id="look_HT_contract"></td>
                                <td>合同编号</td>
                                <td id="look_contract_no"></td>
                            </tr>
                            <tr>
                                <td>年份</td>
                                <td id="look_year"></td>
                                <td>业主单位</td>
                                <td id="look_yezhu"></td>
                            </tr>
                            <tr>
                                <td>项目开始时间</td>
                                <td id="look_start_time"></td>
                                <td>项目结束时间</td>
                                <td id="look_end_time"></td>
                            </tr>
                            <tr>
                            	<td>项目负责人</td>
                                <td id="look_prj_leader"></td>
                                <td>合同金额(元）</td>
                                <td id="look_contract_money"></td>
                            </tr>
                            <tr>
                                <td>合同结算额（元）</td>
                                <td id="look_contract_money_end"></td>
                                <td>累计收款（元）</td>
                                <td id="look_total_money"></td>
                            </tr>
                            <tr>
                                <td>已开票应收金额（元）</td>
                                <td id="look_kp_money"></td> 
                                <td>发票编号</td>
                                <td id="look_fp_no"></td>
                            </tr>
                            <tr>
                                <td>合同收款条件</td>
                                <td id="look_collection_terms"></td>
                                <td>项目完成进度</td>
                                <td id="look_prj_plan"></td>
                            </tr>
                            <tr>
                                <td>实际收款</td>
                                <td id="look_result_money"></td>
                                <td>部门反馈</td>
                                <td id="look_department_info"></td>
                            </tr>
                            <tr>
                            	<td>收款时间</td>
                            	<td id="look_sk_time"></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                                <td>财务备注信息</td>
                                <td colspan="3" id="look_finance_info"></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>财务收款</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control" style="width:180px;">
                                        <option value="">1</option>
                                        <option value="">1</option>
                                    </select>
                                </td>
                                <td>年份</td>
                                <td><input type="text" class="form-control" id="year"></td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td>
                                    <input type="text" class="form-control" disabled>
                                </td>
                                <td>业主单位  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>项目实施起止时间</td>
                                <td>
                                    <input type="text" class="form-control" disabled>
                                </td>
                                <td>项目负责人<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>华通合同名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td>
                                <td>合同金额(元）</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>合同结算额（元）</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>累计收款（元）  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>已开票应收金额（元）  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td> 
                                <td>发票编号</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>合同收款条件</td>
                                <td><input type="text" class="form-control"></td>
                                <td>项目完成进度</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>实际收款</td>
                                <td><input type="text" class="form-control"></td>
                                <td>部门反馈</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>财务备注信息</td>
                                <td colspan="3">
                                    <textarea class="form-control" cols="30" rows="4"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>项目负责人</th>
                        <th>合同名称</th>
                        <th>合同结算额</th>
                        <th>累计收款(元)</th>
                        <th>已开票应收金额</th>
                        <th>实际收款</th>
                        <th style="width:50px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
        </div>
    </div>

<!-- 全部Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMSG">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>全部信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>年份</td>
                                <td>123123123</td>
                                <td>项目名称</td>
                                <td>12321312312</td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td>36483465</td>
                                <td>业主单位</td>
                                <td>234527423</td>
                            </tr>
                            <tr>
                                <td>项目实施起止时间</td>
                                <td>2363282423</td>
                                <td>项目负责人</td>
                                <td>236523845</td>
                            </tr>
                            <tr>
                                <td>华通合同编号</td>
                                <td>235327424</td>
                                <td>合同金额(元）</td>
                                <td>132725</td>
                            </tr>
                            <tr>
                                <td>合同结算额（元）</td>
                                <td>13265134</td>
                                <td>累计收款（元）</td>
                                <td>52132151</td>
                            </tr>
                            <tr>
                                <td>应收金额（元）</td>
                                <td>213614312</td>
                                <td>已开票应收金额（元）</td>
                                <td>12321513</td> 
                            </tr>
                            <tr>
                                <td>发票编号</td>
                                <td>61243214</td>
                                <td>合同收款条件</td>
                                <td>52174214</td>
                            </tr>
                            <tr>
                                <td>项目完成进度</td>
                                <td>6214饿13</td>
                                <td>收款节点</td>
                                <td>52131254</td>
                            </tr>
                            <tr>
                                <td>已到节点的应收（元）</td>
                                <td>1010</td>
                                <td>实际收款</td>
                                <td>40000</td>
                            </tr>
                            <tr>
                                <td>部门反馈</td>
                                <td>50000</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>财务备注信息</td>
                                <td colspan="3">
                                    dbshsdhjsjssfjsf
                                </td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
    	laydate.render({
            elem: '#sk_time' //指定元素
        });
    	initTable();
    	initSelect();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": null}, 
		            { "data": "prjLeader"}, 
		            { "data": null}, 
		            { "data": "contractMoneyEnd"}, 
		            { "data": "totalMoney"}, 
		            { "data": "kpMoney"}, 
		            { "data": "resultMoney"}, 
		            { "data": null}
		        ],
		        "columnDefs": [
									{	
										 "class": "tcenter",
									   "targets": 0,
									   "searchable": true,
									   "render": function(data, type, full) {
											return '<a onclick="gotoPrj(this)" style="color:	#4876FF;cursor: pointer;">'+data.prjName+'</a>'
									   }
									},
									{	
										 "class": "tcenter",
									   "targets":2,
									   "searchable": true,
									   "render": function(data, type, full) {
											return '<a onclick="gotoCj(this)" style="color:	#4876FF;cursor: pointer;">'+data.htContract+'</a>'
									   }
									},
									{	
										 "class": "details-control",
										    "targets": 7,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<i class="iconfont icon-icon-test Pcab" style="font-size:18px;cursor:pointer;display:none;" title="查看" onclick="look(this)"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pcab") >= 0 ){
				                						$(".Pcab").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table2=$('#cj_table').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": null}, 
            { "data": "contractName"},
            { "data": "contractNo"}, 
            { "data": "ccName"}, 
            { "data": "contractStartTime"},
            { "data": "contractEndTime"}
        ],
        "columnDefs": [
						{
								 "class": "tcenter",
								    "targets": 0,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return '<input type="radio" name="cjName" style="width:16px;height:16px;">'
								        }
								  }
						],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url:getContextPath()+"/FinancialReceipts/selectFinancialReceipts",
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					//console.log(arr2);
            					if(arr[i].indexOf("Pcab") >= 0 ){
            						$(".Pcab").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
                
            }
        });
    }

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })
    var flag=true;
    $("#changeModel").click(function(){
        if(flag==true){
            $("#inp").hide();
            $("#sel").show();
            flag=false;
        }else{
            $("#inp").show();
            $("#sel").hide();
            flag=true;
        }  
    })
    
    //选择承接
	function select_cj(){
	   	 $.ajax({
		            type: 'POST',
		            url: getContextPath()+'/cj/selectNameAndNo',
		            dataType: 'json',
		            async:false,
		            data: {
		            },
		            success: function (json) {
		                $('#cj_table').dataTable().fnClearTable();
		                $('#cj_table').DataTable().rows.add(json).draw(false);
		            }
		        });
	   			$("#choose_cj").modal("show");
	   			$('#choose_cj').on('hidden.bs.modal', function () {//解决模态框关闭页面滚动问题
	   	            if ($('.modal.in').size() >= 1) {
	   	                $('body').addClass('modal-open')
	   	            }
	   	        })
	   }
	    
	    function saveCjName(){
	    	var tr=$("input[name='cjName']:checked").parents("tr");
	    	var data=$("#cj_table").DataTable().row(tr).data();
	    	if(data==null){
	    		toastr.error("请选择")
	    		return;
	    	}
	    	$("#contract_name").val(data.contractName);
	    	$("#contract_name").attr("data1",data.cjId)
	    	$("#contract_no").val(data.contractNo);
	    	$.ajax({
                type: 'POST',
                url: getContextPath()+'/cj/selectCjContractByName',
                dataType: 'json',
                data: {
                	name:$('#contract_name').val()
                },
                success: function (json) {
                	$('#prj_no').val(json.taskCode);
                	$('#prj_name').val(json.prjName);
                	$("#yezhu").val(json.ccName);
                	$("#start_time").val(json.contractStartTime);
                	$("#end_time").val(json.contractEndTime);
                	$("#contract_money").val(json.contractMoney);
                	$("#collection_terms").val(json.receieveMoneyCondition);
                	getLeader($('#prj_no').val());
                	getMoney($('#contract_no').val());
                	getKpNo($('#contract_no').val());
                	getPrjPlan($('#prj_no').val(),$('#contract_no').val());
                }
      		});
	    	$("#choose_cj").modal("hide");
	    }
    
    //初始化承接合同名称和承接合同号
	 function initSelect(){
			$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cj/selectNameAndNo',
	        dataType: 'json',
	        data: {
	        },
	        error: function (msg) {
	        	toastr.error("请求失败");
	        },
	        success: function (json) {
	        	$("#contract_name").html('');
	        	$("#contract_no").html('');
	        	for(var i=0;i<json.length;i++){
	        		//$("#contract_name").append("<option value="+json[i].contractName+">"+json[i].contractName+"</option>");
	        		$("#contract_no").append("<option value="+json[i].contractNo+">"+json[i].contractNo+"</option>");
	        	}
	        	/* $('#contract_name').editableSelect().on('select.editable-select', function (e, dom) {
	        		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/cj/selectCjContractByName',
	                    dataType: 'json',
	                    data: {
	                    	name:$('#contract_name').val()
	                    },
	                    success: function (json) {
	                    	$('#contract_no').val(json.contractNo);
	                    	$('#prj_no').val(json.taskCode);
	                    	$('#prj_name').val(json.prjName);
	                    	$("#yezhu").val(json.ccName);
	                    	$("#start_time").val(json.contractStartTime);
	                    	$("#end_time").val(json.contractEndTime);
	                    	$("#contract_money").val(json.contractMoney);
	                    	$("#collection_terms").val(json.receieveMoneyCondition);
	                    	getLeader($('#prj_no').val());
	                    	getMoney($('#contract_no').val());
	                    	getKpNo($('#contract_no').val());
	                    	getPrjPlan($('#prj_no').val(),$('#contract_no').val());
	                    }
	          		});
	          	}) */
	          	$('#contract_no').editableSelect().on('select.editable-select', function (e, dom) {
	          		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/cj/selectCjContractByNo',
	                    dataType: 'json',
	                    data: {
	                    	no:$('#contract_no').val()
	                    },
	                    success: function (json) {
	                    	$("#contract_name").attr("data1",json.cjId)
	                    	$('#contract_name').val(json.contractName);
	                    	$('#prj_no').val(json.taskCode);
	                    	$('#prj_name').val(json.prjName);
	                    	$("#yezhu").val(json.ccName);
	                    	$("#start_time").val(json.contractStartTime);
	                    	$("#end_time").val(json.contractEndTime);
	                    	$("#contract_money").val(json.contractMoney);
	                    	$("#collection_terms").val(json.receieveMoneyCondition);
	                    	getLeader($('#prj_no').val());
	                    	getMoney($('#contract_no').val());
	                    	getKpNo($('#contract_no').val());
	                    	getPrjPlan($('#prj_no').val(),$('#contract_no').val());
	                    }
	          		});
			  	})
			  	
	        }
			});
		}
    
    //获取项目负责人
    function  getLeader(nos){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/getLeader',
            dataType: 'json',
            data: {
            	nos:nos
            },
            success: function (json) {
            	$("#prj_leader").val(json.leader);
            }
    	})
    }
    
    //获取合同结算额，累计收款
    function getMoney(no){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/work/selectContractWorkByNo',
            dataType: 'json',
            data: {
            	no:no
            },
            success: function (json) {
            	$("#contract_money_end").val(json.endMoney);
            	$("#total_money").val(json.allReceieveMoney);
            	
            }
    	})
    }
    
    //获取项目完成进度
    function getPrjPlan(nos,contractNo){
    	$("#prj_plan").val('');
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getPrjPlan',
            dataType: 'json',
            data: {
            	nos:nos,
            	contractNo:contractNo
            },
            success: function (json) {
            	$("#prj_plan").val(json.jindu);
            }
    	})
    }
    
    //获取发票编号
    function getKpNo(no){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getKpNo',
            dataType: 'json',
            data: {
            	no:no
            },
            success: function (json) {
            	$("#fp_no").html('');
            	$("#kp_money").val('');
			    for(var i=0;i<json.length;i++){
			    	$("#fp_no").append("<option value="+json[i].fpNo+">"+json[i].fpNo+"</option>")
			    }
			    $("#fp_no").trigger("change");
            }
    	})
    }
    
    $("#fp_no").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/kp/getAllKpMoneyByFpNo',
            dataType: 'json',
            data: {
            	no:$("#fp_no").val()
            },
            success: function (json) {
            	$("#kp_money").val(json.allKpMoney);
            }
    	})
    })
    
    function saveFr(){
    	var prj_name=$("#prj_name").val();
    	var prj_no=$("#prj_no").val();
    	var year=$("#year").val();
    	var yezhu=$("#yezhu").val();
    	var start_time=$("#start_time").val();
    	var end_time=$("#end_time").val();
    	var prj_leader=$("#prj_leader").val();
    	var Ht_contract=$("#contract_name").val();
    	var contract_no=$("#contract_no").val();
    	var contract_money=$("#contract_money").val();
    	var contract_money_end=$("#contract_money_end").val();
    	var total_money=$("#total_money").val();
    	var kp_money=$("#kp_money").val();
    	var fp_no=$("#fp_no").val();
    	var collection_terms=$("#collection_terms").val();
    	var prj_plan=$("#prj_plan").val();
    	var result_money=$("#result_money").val();
    	var department_info=$("#department_info").val();
    	var finance_info=$("#finance_info").val();
    	var skTime=$("#sk_time").val();
    	
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/FinancialReceipts/addFinancialReceipts",
            dataType: 'json',
            data: {
            	prjName:prj_name,
            	prjNo:prj_no,
            	year:year,
            	yezhu:yezhu,
            	startTime:start_time,
            	endTime:end_time,
            	prjLeader:prj_leader,
            	htContract:Ht_contract,
            	contractNo:contract_no,
            	contractMoney:contract_money,
            	contractMoneyEnd:contract_money_end,
            	totalMoney:total_money,
            	kpMoney:kp_money,
            	fpNo:fp_no,
            	collectionTerms:collection_terms,
            	prjPlan:prj_plan,
            	resultMoney:result_money,
            	receiptTime:skTime,
            	departmentInfo:department_info,
            	financeInfo:finance_info
            },
            success: function (json) {
                if(json.result>0){
                	$("#myModal").modal("hide");
                	$("#mainContent").DataTable().row.add(json.fr).draw(false);
                	toastr.success("保存成功")
                }else{
                	toastr.error("保存失败")
                }
            }
        });
    }
    
    function look(obj){
    	var tr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(tr).data();
    	
    	$("#look_prj_name").text(data.prjName);
    	$("#look_prj_no").text(data.prjNo);
    	$("#look_year").text(data.year);
    	$("#look_yezhu").text(data.yezhu);
    	$("#look_start_time").text(data.startTime);
    	$("#look_end_time").text(data.endTime);
    	$("#look_prj_leader").text(data.prjLeader);
    	$("#look_HT_contract").text(data.htContract);
    	$("#look_contract_no").text(data.contractNo);
    	$("#look_contract_money").text(data.contractMoney);
    	$("#look_contract_money_end").text(data.contractMoneyEnd);
    	$("#look_total_money").text(data.totalMoney);
    	$("#look_kp_money").text(data.kpMoney);
    	$("#look_fp_no").text(data.fpNo);
    	$("#look_collection_terms").text(data.collectionTerms);
    	$("#look_prj_plan").text(data.prjPlan);
    	$("#look_result_money").text(data.resultMoney);
    	$("#look_department_info").text(data.departmentInfo);
    	$("#look_finance_info").text(data.financeInfo);
    	$("#look_sk_time").text(data.receiptTime);
    	$("#look").modal("show");
    }
    
    function gotoPrj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data);
		//var t = encodeURI(encodeURI(data.prjId));
		$.ajax({
			type:"POST",
			url:getContextPath()+"/task/selectIdByNameAndNo",
			dataTyepe:"json",
			async:false,
			data:{ 
				name:data.prjId,
				no:data.taskNo
				},
			success:function(json){
				$(obj).attr('href', '../shengchanGuanli/TaskManagement.html?prjId='+json.prjId+'&prjNo='+data.taskNo+'');
			}
		})
    }
    
    function gotoCj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//var t = encodeURI(encodeURI(data.prjId));
		console.log(data)
		$(obj).attr("href",'../shengchanGuanli/ContractManagement.html?cjId='+data.htContract+'');
		
    }
    
    
</script>
</html>