<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        .dada{
	        margin-bottom:120px !important;
	    }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>个人任务</li>
			<li class="active">已办事项</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <form class="form-inline">
                    <div class="form-group">
                        <span style="font-size:16px;">事项名称:</span>
                        <select name="" id="" style="width:180px;font-size:16px;" class="form-control">
                            <option value="">提交的表单</option>
                            <option value="">已审批的业务</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="UpperPartR">
                
            </div>

        </div>
<!-- Modal2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>取消任务单</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>任务取消原因</td>
                                <td colspan="3"><textarea cols="40" rows="4"></textarea></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default">保存</button>
            <button type="button" class="btn btn-success">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model2结束 -->
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>已办事项名称</th>
                        <th>已办事项类型</th>
                        <th>部门</th>
                        <th style="width:60px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
<!--  modal -->
<div class="modal fade bs-example-modal-lg dada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal ">
    <div class="modal-dialog modal-lg" role="document" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">处理业务</h4>
            </div>
            <div class="modal-body">
                <iframe name="view_frame" id="rightMain" src="../shengchanGuanli/TaskManagementChange.html?prjId=b2a2d02be9da&prjNo=20180003B2" frameborder="false" scrolling="auto" style="border: none;" width="100%" height=700 allowtransparency="true"></iframe>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
            </div>
        </div>
    </div>
</div>
<!--  modal结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script>
    $(document).ready( function () {
    	initTable()
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength":20,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [{
            "data": "businessname"
        },{
            "data": "businessname"
        },{
            "data": "deptname"
        },{
            "data": "deptname"
        }],
         "columnDefs": [{
            "targets": 3,
            "searchable": false,
            "render": function (data, type, full) {
            	return '<i class="iconfont icon-search Paba+" style="font-size:18px;cursor:pointer;" title="查看办理业务" data-toggle="modal" data-target=".dada"></i><i class="iconfont icon-shanchu Pabb+" style="font-size:18px;cursor:pointer;" title="删除"></i><i class="iconfont icon-quxiao quxiao Pabc+" style="font-size:18px;cursor:pointer;" title="撤回" id="quxiao"></i>'
               
            }
        }], 
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
        	type: 'POST',
            url: getContextPath()+'/flowHistory/getFlowHistoryByUser',
            data:{
            	userId:"88b6f133f129"
            },
            success: function (json) {
            	console.log(json);
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	$('#mainContent').delegate('#quxiao','click', function () {
		var statu = confirm("确认撤回吗?");
		  if(!statu){
		   return false;
		  }
	})

</script>
</html>