<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        #xinjianCailiao input,#xinjianCailiao2 input{
            width:160px;
        }
        #xinjianCailiao select,#xinjianCailiao2 select{
            width:160px;
        }
        #xinjianCailiaoZ input,#xinjianCailiao2Z input{
            width:160px;
        }
        #xinjianCailiaoZ select,#xinjianCailiao2Z select{
            width:160px;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>材料采购管理</li>
            <li>项目材料管理</li>
            <li class="active">结余管理</li>
		</ul>
    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="background:#fff;">
           <!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">结余</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">结余利用</a></li> -->
        </ul>     
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <select class="form-control" id="prj"></select>
                        </div>
                        <div class="UpperPartR">
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">填报</button> -->
                        </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>填报</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xinjianCailiao">
                            <tr>
                                <td>材料名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                    </select>
                                </td>
                                <td>材料类型</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>规格型号</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>单位</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>节余数量  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td>
                                <td>价格</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td>质保到期时间</td>
                                <td><input type="text" class="form-control" id="year"></td>
                            </tr>
                            <tr>
                                <td>提交时间</td>
                                <td><input type="text" class="form-control" id="year2"></td>
                                <td>备注</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default">保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow-x:scroll;">     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xinjianCailiao2">
                            <tr>
                                <td>材料名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                    </select>
                                </td>
                                <td>材料类型</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>规格型号</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>单位</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>节余数量  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td>
                                <td>价格</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td>质保到期时间</td>
                                <td><input type="text" class="form-control" id="xgyear"></td>
                            </tr>
                            <tr>
                                <td>提交时间</td>
                                <td><input type="text" class="form-control" id="xgyear2"></td>
                                <td>备注</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" id="mainContent">
			                <thead>
			                    <tr>
			                        <th>项目名称</th>
			                        <th>任务单号</th>
			                        <th>采购合同名称</th>
			                        <th>采购合同单号</th>
			                        <th>收货人</th>
			                        <th>收货日期</th>
			                        <th>是否结余</th>
			                        <th>操作</th>
			                    </tr>
			                </thead>
                			<tbody>
                			</tbody> 
            			</table>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>结余信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" id="mainContent2">
		                <thead>
		                    <tr>
		                        <th>材料名称</th>
		                        <th>材料类型</th>
		                        <th>规格型号</th>
		                        <th>单位</th>
		                        <th>数量</th>
		                        <th>单价</th>
		                        <th>金额</th>
		                        <th>收货日期</th>
		                    </tr>
		                </thead>
		                <tbody>
		                </tbody> 
            		</table> 
                </form> 
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="remainThis">结余保存</button>
            <button type="button" class="btn btn-success" id="remainThisSubmit">结余提交</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
<!-- allMsg2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg2">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>结余信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" id="mainContent3">
		                <thead>
		                    <tr>
		                        <th>材料名称</th>
		                        <th>材料类型</th>
		                        <th>规格型号</th>
		                        <th>单位</th>
		                        <th>结余总数</th>
		                        <th>单价</th>
		                        <th>金额</th>
		                        <th>结余余数</th>
		                        <th>结余日期</th>
		                    </tr>
		                </thead>
		                <tbody>
		                </tbody> 
            		</table> 
                </form> 
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg2结束 -->
<!-- allMsg3 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg3">
    <div class="modal-dialog modal-lg" role="document" style="width:60%">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>结余利用</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed">
                    	<tr>
                    		<td style="width:20%;">转出项目名称：</td>
                    		<td style="width:35%;"><input type="text" style="width:62%;" class="form-control" id="out_prj_name" disabled></td>
                    		<td style="width:20%;">转出项目编号：</td>
                    		<td style="width:25%;"><input type="text" style="width:80%;" class="form-control" id="out_prj_no" disabled></td>
                    	</tr>
                    	<tr>
                    		<td>转出采购合同名称：</td>
                    		<td><input type="text" class="form-control"  style="width:62%;" id="out_cg_name" disabled></td>
                    		<td>转出采购合同编号：</td>
                    		<td><input type="text" class="form-control" style="width:80%;"  id="out_cg_no" disabled></td>
                    	</tr>
                    	<tr>
                    		<td>转入采购合同名称：</td>
                    		<td>
                    			<!-- <select id="in_cg_name" class="form-control" style="width:62%;"></select> -->
                    			<input type="text" id="in_cg_name" class="form-control" disabled style="width:62%;">
                                <button type="button" class="btn btn-primary weui-uploader__input" onclick="choose_cg()">选择采购</button>
                    		</td>
                    		<td>转入采购合同编号：</td>
                    		<td>
                    			<select id="in_cg_no" class="form-control" style="width:80%;"></select>
                    		</td>
                    	</tr>
                    	<tr>
                    		<td>转入项目名称：</td>
                    		<td>
                    			<select id="in_prj_name" class="form-control" style="width:62%;"></select>
                    		</td>
                    		<td>转入项目编号：</td>
                    		<td>
                    			<select id="in_prj_no" class="form-control" style="width:80%;"></select>
                    		</td>
                    	</tr>
                    	<tr>
                    		<td>转出人：</td>
                    		<td>
                    			<input type="text" style="width:62%;" class="form-control" id="out_person" disabled>
                    			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addGuanliren">选择转出人</button>
                    		</td>
                    		<td>转出时间：</td>
                    		<td><input type="text" style="width:80%;" class="form-control" id="out_time"></td>
                    	</tr>
                    	<tr>
                    		<td>备注：</td>
                    		<td colspan="3"><input type="text" style="width:90%;" class="form-control" id="out_desc"></td>
                    	</tr>
                    </table>
                    <table class="table table-bordered table-condensed"  id="remain_out_table">
                    	<thead>
                    		<tr>
                    			<th>材料名称</th>
                    			<th>材料类型</th>
                    			<th>规格型号</th>
                    			<th>单位</th>
                    			<th>结余余数</th>
                    			<th>转出数量</th>
                    			<th>单价</th>
                    			<th>操作</th>
                    		</tr>
                    	</thead>
                    	<tbody></tbody>
                    </table>
                </form> 
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success"  id="jyButton" onclick="saveJy()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg3结束 -->
<!-- Modal选择采购合同 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="choose_cg">
    <div class="modal-dialog modal-lg" role="document" style="width:60%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择采购合同</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="cg_table">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>采购合同名称</th>
                                    <th>采购合同编号</th>
                                    <th>乙方单位</th>
                                    <th>项目名称</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="saveCgName()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!--选人 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addGuanliren">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">选择收货人</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div>
                            <span>部门:</span>
                            <select style="width:180px;" id="bumen" class="form-control" >
                                
                            </select>
                        </div>
                    </div>
                </form>
                <div>
                     <table class="table table-bordered table-condensed"  id="bmmingzibiao" >
                     	<thead>
		   					<tr>
		   						<th></th>
		   						<th>姓名</th>
		   						<th>工号</th>
		   						<th>出生日期</th>
		   						<th>性别</th>
		   						<th>职务</th>
		   					</tr>
		   				</thead>
		   				<tbody></tbody>
                     </table>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveGuanliren()" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->

                    </div>
                </div>
            </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	 laydate.render({
             elem: '#out_time' //指定元素
         });
    	 initDepartment();
        initPrj();
        initSelectCG();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": null}, 
		            { "data": "taskNo"}, 
		            { "data": null}, 
		            { "data": "cgNo"}, 
		            { "data": "getPerson"}, 
		            { "data": "pickDate"}, 
		            { "data": null}, 
		            { "data": null}
		        ],
		        "columnDefs": [
							{	
								 "class": "tcenter",
								  "targets": 0,
								  "searchable": true,
								  "render": function(data, type, full) {
										return '<a onclick="gotoPrj(this)" style="color:	#4876FF;cursor: pointer;">'+data.pickProject+'</a>'
								  }
							},
							{
								  "class": "tcenter",
								   "targets": 2,
								   "searchable": true,
								   "render": function(data, type, full) {
										return '<a onclick="gotoCg(this)" style="color:	#4876FF;cursor: pointer;">'+data.cgName+'</a>'
								   }
							},
							{	
								 "class": "tcenter",
								    "targets": 6,
								    "searchable": true,
								    "render": function(data, type, full) {
								    		return '<span class="label label-danger state">未结余</span>';
								        }
								  },
								{	
										 "class": "tcenter",
										    "targets": 7,
										    "searchable": true,
										    "render": function(data, type, full) {
										    		return '<i class="iconfont icon-xiugai Pedcca" style="font-size:18px;cursor:pointer;margin-left:5px;display:none;" title="结余确认" onclick="openRemain(this)"></i><i class="iconfont icon-zuzhijigou Pedccb" style="font-size:18px;cursor:pointer;margin-left:5px;display:none;" title="结余利用" onclick="utilize(this)"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pedcca") >= 0 ){
				                						$(".Pedcca").show();
				                					}
				                					if(arr[i].indexOf("Pedccb") >= 0 ){
				                						$(".Pedccb").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    var table2=$('#mainContent2').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "materialName"}, 
		            { "data": "materialType"}, 
		            { "data": "specificationModel"}, 
		            { "data": "cmoUnit"}, 
		            { "data": "remainNumber"}, 
		            { "data": "cmoUnitPrice"}, 
		            { "data": null},
		            { "data": "pickDate"}
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 6,
										    "searchable": true,
										    "render": function(data, type, full) {
											    	var price=data.cmoUnitPrice;
											    	var num=data.remainNumber;
											    	var sum=Number(price)*Number(num);
											    	return sum;
										        }
										  }
								],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    
    var table3=$('#mainContent3').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "materialName"}, 
		            { "data": "materialType"}, 
		            { "data": "specificationModel"}, 
		            { "data": "cmoUnit"}, 
		            { "data": "cmoNumber"}, 
		            { "data": "cmoUnitPrice"}, 
		            { "data": "cmoMoney"},
		            { "data": "remainNumber"}, 
		            { "data": "pickDate"}
		        ],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});

    var table4=$('#cg_table').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": null}, 
            { "data": "contractName"},
            { "data": "cgNo"}, 
            { "data": "spName"}, 
            { "data": "prjName"}
        ],
        "columnDefs": [
						{
								 "class": "tcenter",
								    "targets": 0,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return '<input type="radio" name="cgName" style="width:16px;height:16px;">'
								        }
								  }
						],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
  //选部门选人
    var bmtableren=$('#bmmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi2" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    function initPrj(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#prj").append("<option value='%'>全部</option>")
                for(var i=0;i<json.length;i++){
					$("#prj").append("<option value="+json[i].prjNo+">"+json[i].prjName+"</option>")                	
                }
            	$("#prj").trigger("change");
            }
        });
    }
	
	$("#prj").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/gsMaterialOut/selectCompanyMateriaOutForEnd',
            dataType: 'json',
            data: {
            	no:$("#prj").val()
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    })

    var cmoId;
    function openRemain(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		var remainType=data.remainType;
		cmoId=data.cmoId;
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/GsClOut/selectClByNo',
            dataType: 'json',
            data: {
            	no:cmoId
            },
            success: function (json) {
                $('#mainContent2').dataTable().fnClearTable();
                $('#mainContent2').DataTable().rows.add(json).draw(false);
            }
        });
		
		$("#allMsg1").modal("show");
	}
    
	$("#remainThis").on("click",function(){
	    var crArray=new Array();
		$("#mainContent2 tbody").find("tr").each(function(){
			var clRemain={
					crId:undefined,			
					gsOutId:undefined,
					materialName:undefined,
					materialType:undefined,
					specificationModel:undefined,
					cmoUnit:undefined,
					cmoNumber:0,
					remainNumber:0,
					cmoUnitPrice:0,
					cmoMoney:0,
					pickDate:undefined
			}
			var clName=$(this).find("td").eq(0).text();
			var clType=$(this).find("td").eq(1).text();
			var modeType=$(this).find("td").eq(2).text();
			var unit=$(this).find("td").eq(3).text();
			var num=$(this).find("td").eq(4).text();
			var price=$(this).find("td").eq(5).text();
			var sumPrice=$(this).find("td").eq(6).text();
			var remainDate=$(this).find("td").eq(7).text();
			clRemain.gsOutId=cmoId;
			clRemain.materialName=clName;
			clRemain.materialType=clType;
			clRemain.specificationModel=modeType;
			clRemain.cmoUnit=unit;
			clRemain.cmoNumber=num;
			clRemain.remainNumber=num;
			clRemain.cmoUnitPrice=price;
			clRemain.cmoMoney=sumPrice;
			clRemain.pickDate=remainDate;
			crArray.push(clRemain);
		})
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/addClRemain',
            dataType: 'json',
            contentType:'application/json',
            data:JSON.stringify(crArray),
            success: function (json) {
                if(json>0){
                	$("#allMsg1").modal("hide");
                	toastr.success("结余成功");
                	location.reload([true]);
                }else{
                	toastr.error("结余失败")
                }
            }
        });
		
	})
	
	
	$("#remainThisSubmit").on("click",function(){
	    var crArray=new Array();
		$("#mainContent2 tbody").find("tr").each(function(){
			var clRemain={
					crId:undefined,			
					gsOutId:undefined,
					materialName:undefined,
					materialType:undefined,
					specificationModel:undefined,
					cmoUnit:undefined,
					cmoNumber:0,
					remainNumber:0,
					cmoUnitPrice:0,
					cmoMoney:0,
					pickDate:undefined
			}
			var clName=$(this).find("td").eq(0).text();
			var clType=$(this).find("td").eq(1).text();
			var modeType=$(this).find("td").eq(2).text();
			var unit=$(this).find("td").eq(3).text();
			var num=$(this).find("td").eq(4).text();
			var price=$(this).find("td").eq(5).text();
			var sumPrice=$(this).find("td").eq(6).text();
			var remainDate=$(this).find("td").eq(7).text();
			clRemain.gsOutId=cmoId;
			clRemain.materialName=clName;
			clRemain.materialType=clType;
			clRemain.specificationModel=modeType;
			clRemain.cmoUnit=unit;
			clRemain.cmoNumber=num;
			clRemain.remainNumber=num;
			clRemain.cmoUnitPrice=price;
			clRemain.cmoMoney=sumPrice;
			clRemain.pickDate=remainDate;
			crArray.push(clRemain);
		})
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/addClRemainSubmit',
            dataType: 'json',
            contentType:'application/json',
            data:JSON.stringify(crArray),
            success: function (json) {
            	if(json=='0'){
	        		toastr.error("保存失败");
	        	}else{
	        		$("#allMsg1").modal("hide");
	        		lianjie=json.url;
	            	if(json.receiver!=null&&json.receiver.length>=1){
		        		  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<json.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +json.receiver[i].omName
		        					  +'</td><td>'
		        					  +json.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +json.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(json.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:json.url,
		        	        	  userId:json.receiver.userId,
		        	        	  uName:json.receiver.uName,
		        	        	  omName:json.receiver.omName,
		        	        	  dutyName:json.receiver.dutyName,
		        	        	  omId:json.receiver.omId,
		        	        	  dutyId:json.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  }
	        	}
                /* if(json>0){
                	$("#allMsg1").modal("hide");
                	toastr.success("结余成功");
                	location.reload([true]);
                }else{
                	toastr.error("结余失败")
                } */
            }
        });
		
	})
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
	
	function look(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		var cmoId=data.cmoId;
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/selectClRemainById',
            dataType: 'json',
            data:{
            	id:cmoId
            },
            success: function (json) {
            	$('#mainContent3').dataTable().fnClearTable();
                $('#mainContent3').DataTable().rows.add(json).draw(false);
            }
        });
		$("#allMsg2").modal("show");
	}
	
	function utilize(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		var cmoId=data.cmoId;
		$("#out_prj_name").val(data.pickProject);
		$("#out_prj_no").val(data.taskNo);
		$("#out_cg_name").val(data.cgName);
		$("#out_cg_no").val(data.cgNo);
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/selectGsClOutById',
            dataType: 'json',
            data:{
            	id:cmoId
            },
            success: function (json) {
            	$("#remain_out_table tbody").html('');
            	for(var i=0;i<json.length;i++){
            		if(json[i].remainNumber!=0){
            			$("#remain_out_table tbody").append("<tr>"+
								"<td style='width:15%;'>"+json[i].materialName+"</td>"+
								"<td style='width:15%;'>"+json[i].materialType+"</td>"+
								"<td style='width:15%;'>"+json[i].specificationModel+"</td>"+
								"<td style='width:10%;'>"+json[i].cmoUnit+"</td>"+
								"<td style='width:10%;'>"+json[i].remainNumber+"</td>"+
								"<td style='width:15%;'><input type='text' data="+json[i].gsId+" class='form-control' style='width:70%;'></td>"+
								"<td style='width:10%;'>"+json[i].cmoUnitPrice+"</td>"+
								"<td style='width:10%;'><button type='button' class='btn btn-default' onclick='removeThis(this)'>移除</button></td>"+
							"</tr>")
            		}
            	}
            	var length=$("#remain_out_table tbody").find("tr").length;
        		if(length==0){
        			$("#jyButton").attr("disabled",true);
        		}else{
        			$("#jyButton").attr("disabled",false);
        		}
            }
        });
		
		$("#allMsg3").modal("show");
	}
	
	function removeThis(obj){
		var tr=$(obj).parent().parent();
		$(tr).remove();
		var length=$("#remain_out_table tbody").find("tr").length;
		if(length==0){
			$("#jyButton").attr("disabled",true);
		}else{
			$("#jyButton").attr("disabled",false);
		}
	}
	
	//初始化收货人部门及人员
	function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
	            	$("#bumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
	            	$("#xgbumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
            	}
            	$("#bumen").trigger('change');
	        	$("#xgbumen").trigger('change');
            }
        });
	}
	$("#bumen").change(function(){
		var bumen=$("#bumen").val();
		$('#addGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#bmmingzibiao').dataTable().fnClearTable();
                $('#bmmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//保存添加保管人
	function saveGuanliren(){
		var tr=$("input[name='mingzi2']:checked").parents("tr");
		var data=$("#bmmingzibiao").DataTable().row(tr).data();
		
		//console.log(data)
		$("#out_person").val(data.uName);
		//$("#addGuanliren").modal("hide");
	}
	
	
	
	
	//选择采购
	function choose_cg(){
	    	 $.ajax({
		            type: 'POST',
		          	url: getContextPath()+'/cgcontract/selectCgIdAndName',
		            dataType: 'json',
		            async:false,
		            data: {
		            },
		            success: function (json) {
		                $('#cg_table').dataTable().fnClearTable();
		                $('#cg_table').DataTable().rows.add(json).draw(false);
		            }
		        });
	    	$("#choose_cg").modal("show");
	    	$('#choose_cg').on('hidden.bs.modal', function () {//解决模态框关闭页面滚动问题
	            if ($('.modal.in').size() >= 1) {
	                $('body').addClass('modal-open')
	            }
	        })
	    }

	function saveCgName(){
		var tr=$("input[name='cgName']:checked").parents("tr");
	   	var data=$("#cg_table").DataTable().row(tr).data();
	   	if(data==null){
	   		toastr.error("请选择")
	   		return;
	   	}
	  	$("#in_cg_name").val(data.contractName);
	  	$("#in_cg_no").val(data.cgNo);
	  	$.ajax({
            type: 'POST',
            url: getContextPath()+'/cgcontract/getCGNoByName',
            dataType: 'json',
            data: {
            	contractName:$('#in_cg_name').val()
            },
            success: function (json) {
            	var prj_name=json[0].prjName;
            	var work_no=json[0].workNo;
            	$("#in_prj_name").html('');
            	for(var i=0;i<prj_name.split(",").length;i++){
            		$("#in_prj_name").append("<option value="+prj_name.split(",")[i]+">"+prj_name.split(",")[i]+"</option>")
            	}
            	$("#in_prj_no").html('');
            	for(var i=0;i<work_no.split(",").length;i++){
            		$("#in_prj_no").append("<option value="+work_no.split(",")[i]+">"+work_no.split(",")[i]+"</option>")
            	}
            }
  		});
	  	
	  	$("#choose_cg").modal("hide");
	}
	
	//初始化采购合同名和采购合同号
    function initSelectCG(){
		$.ajax({
        type: 'POST',
        url: getContextPath()+'/cgcontract/selectCgIdAndName',
        dataType: 'json',
        data: {
        },
        error: function (msg) {
        	toastr.error("请求失败");
        },
        success: function (json) {
        	$("#in_cg_no").html('');
        	$("#in_cg_name").html('');
        	for(var i=0;i<json.length;i++){
        		$("#in_cg_no").append("<option value="+json[i].cgNo+">"+json[i].cgNo+"</option>");
        		//$("#in_cg_name").append("<option value="+json[i].contractName+">"+json[i].contractName+"</option>");
        	}
        	
        	$('#in_cg_no').editableSelect().on('select.editable-select', function (e, dom) {
        		$.ajax({
                    type: 'POST',
                    url: getContextPath()+'/cgcontract/getCGNameByNo',
                    dataType: 'json',
                    data: {
                    	cgNo:$('#in_cg_no').val()
                    },
                    success: function (json) {
                    	$("#in_cg_name").val(json[0].contractName)
                    	var prj_name=json[0].prjName;
                    	var work_no=json[0].workNo;
                    	$("#in_prj_name").html('');
                    	for(var i=0;i<prj_name.split(",").length;i++){
                    		$("#in_prj_name").append("<option value="+prj_name.split(",")[i]+">"+prj_name.split(",")[i]+"</option>")
                    	}
                    	$("#in_prj_no").html('');
                    	for(var i=0;i<work_no.split(",").length;i++){
                    		$("#in_prj_no").append("<option value="+work_no.split(",")[i]+">"+work_no.split(",")[i]+"</option>")
                    	}
                    }
          		});
          	})
          	/* $('#in_cg_name').editableSelect().on('select.editable-select', function (e, dom) {
        		$.ajax({
                    type: 'POST',
                    url: getContextPath()+'/cgcontract/getCGNoByName',
                    dataType: 'json',
                    data: {
                    	contractName:$('#in_cg_name').val()
                    },
                    success: function (json) {
                    	$("#in_cg_no").val(json[0].cgNo)
                    	var prj_name=json[0].prjName;
                    	var work_no=json[0].workNo;
                    	$("#in_prj_name").html('');
                    	for(var i=0;i<prj_name.split(",").length;i++){
                    		$("#in_prj_name").append("<option value="+prj_name.split(",")[i]+">"+prj_name.split(",")[i]+"</option>")
                    	}
                    	$("#in_prj_no").html('');
                    	for(var i=0;i<work_no.split(",").length;i++){
                    		$("#in_prj_no").append("<option value="+work_no.split(",")[i]+">"+work_no.split(",")[i]+"</option>")
                    	}
                    }
          		});
          	}) */
          	 
        }
		});
	}
	
    $("#in_prj_name").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectTaskPrjNo',
            dataType: 'json',
            data: {
            	prjName:$('#in_prj_name').val()
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
                	$('#in_prj_no').val(json[i].prjNo);
            	}
            }
  		});
    })
    
    $("#in_prj_no").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectTaskPrjName',
            dataType: 'json',
            data: {
            	prjNo:$('#in_prj_no').val()
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
                	$('#in_prj_name').val(json[i].prjName);
            	}
            }
  		});
    })
    
    function saveJy(){
    	var cgName=$("#in_cg_name").val();
    	var cgNo=$("#in_cg_no").val();
    	var prjName=$("#in_prj_name").val();
    	var prjNo=$("#in_prj_no").val();
    	var outPerson=$("#out_person").val();
    	var outTime=$("#out_time").val();
    	var cmoDesc=$("#out_desc").val();
    	
    	var cMOut={
    			cmoId:undefined,
    			cgNo:undefined,
    			cgName:undefined,
    			taskNo:undefined,
    			pickProject:undefined,
    			pickDate:undefined,
    			pickPerson:undefined,
    			cmoDesc:undefined,
    			type:2,
    			getPerson:undefined,
    			getInfos:undefined,
    			getStatus:0,
    			remainType:0,
    			gsClOut:undefined,
    			oRemain:undefined
    	}
    	cMOut.cgNo=cgNo;
    	cMOut.cgName=cgName;
    	cMOut.taskNo=prjNo;
    	cMOut.pickProject=prjName;
    	cMOut.pickDate=outTime;
    	cMOut.pickPerson=outPerson;
    	cMOut.cmoDesc=cmoDesc;
    	
    	var clInfoArray=new Array();
    	var oRemainArray=new Array();
    	$("#remain_out_table tbody").find("tr").each(function(){
    		var clName=$(this).find("td").eq(0).text();
    		var clType=$(this).find("td").eq(1).text();
    		var modeType=$(this).find("td").eq(2).text();
    		var unit=$(this).find("td").eq(3).text();
    		var jy=$(this).find("td").eq(4).text();
    		var price=$(this).find("td").eq(6).text();
    		var outNum=$(this).find("input").eq(0).val();
    		var id=$(this).find("input").eq(0).attr("data");
    		var reg=/^\+?[1-9][0-9]*$/;
    		if(!reg.test(outNum)){
    			toastr.error("请输入数字")
        		return;
    		}
    		if(Number(outNum)>Number(jy)){
        		toastr.error("领料数量不能超过结余总数")
        		return;
        	}
    		var remain=jy-outNum;
    		var or={
    				id:undefined,
    				remain:0
    		}
    		or.id=id;
    		or.remain=remain;
    		oRemainArray.push(or);
    		
    		var clInfo={
    				gsId:undefined,
    				gsOutId:undefined,                                          
    				materialName:undefined,
    				materialType:undefined,
    				specificationModel:undefined,
    				cmoUnit:undefined,
    				cmoNumber:0,
    				remainNumber:0,
    				cmoUnitPrice:0,
    				cmoMoney:0,
    				pickDate:undefined
    		}
    		clInfo.materialName=clName;
    		clInfo.materialType=clType;
    		clInfo.specificationModel=modeType;
    		clInfo.cmoUnit=unit;
    		clInfo.cmoNumber=outNum;
    		clInfo.remainNumber=outNum;
    		clInfo.cmoUnitPrice=price;
    		clInfo.cmoMoney=Number(outNum)*Number(price);
    		clInfo.pickDate=outTime;
    		clInfoArray.push(clInfo);
    	})
    	cMOut.gsClOut=clInfoArray;
    	cMOut.oRemain=oRemainArray
    	
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/remainUse',
            dataType: 'json',
            contentType:"application/json",
            data: JSON.stringify(cMOut),
            success: function (json) {
            	if(json>0){
            		$("#allMsg3").modal("hide");
            		toastr.success("提交成功")
            		location.reload([true]);
            	}else{
            		toastr.error("提交失败")
            	}
            }
  		});
    }

    function gotoPrj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data);
		//var t = encodeURI(encodeURI(data.prjId));
		$.ajax({
			type:"POST",
			url:getContextPath()+"/task/selectIdByNameAndNo",
			dataTyepe:"json",
			async:false,
			data:{ 
				name:data.pickProject,
				no:data.taskNo
				},
			success:function(json){
				$(obj).attr('href', '../shengchanGuanli/TaskManagement.html?prjId='+json.prjId+'&prjNo='+data.taskNo+'');
			}
		})
    }
    
    function gotoCg(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data);
		//var t = encodeURI(encodeURI(data.prjId));
		$.ajax({
			type:"POST",
			url:getContextPath()+"/cgcontract/selectByCgNo",
			dataTyepe:"json",
			async:false,
			data:{ 
				no:data.cgNo
				},
			success:function(json){
				//console.log(json)
				$(obj).attr('href', '../shengchanGuanli/ProcurementContract.html?prjId='+json.cgId+'&prjNo='+json.cgNo+'');
			}
		}) 
    }
    
</script>
</html>