<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="../../style/jquery-editable-select.css"> -->
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        @media screen and (max-width: 1920px) {
		    #myModal4{
		        margin-bottom:120px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li>合同管理</li>
			<li class="active">承接合同管理</li>
		</ul>
    </div>
    
<div class="zhuti-content"> 
	<table class="table table-bordered">
              <tr>
                  <td>承接合同名称:</td>
                  <td id="look_contract_name"></td>
                  <td>承接合同编号:</td>
                  <td id="look_contract_no"></td>
              </tr>
              <tr>
              	<td>任务单号:</td>
                  <td colspan="3" id="look_work_no"></td>
              </tr>
              <tr>
              	<td>项目名称:</td>
                  <td colspan="3" id="look_prj_name"></td>
              </tr>
              <tr>
              	<td>项目类型:</td>
                  <td colspan="3" id="look_prj_type"></td>
              </tr>
              <tr>
                  <td>合同甲方名称:</td>
                  <td id="look_jiafangName"></td>
                  <td>合同乙方名称:</td>
                  <td id="look_yifangName"></td>
              </tr>
              <tr>
              	<td>合同起日期:</td>
                  <td id="look_year"></td>
              	<td>合同讫日期:</td>
                  <td id="look_year2"></td>
              </tr>
              <tr>
              	<td>乙方承接部门:</td>
                  <td id="look_yifang_department"></td>
              	<td>合同工期:</td>
                  <td id="look_work_date"></td>
              </tr>
              <tr>
              	<td>收款条件:</td>
                  <td id="look_receieve_money_condition"></td>
              	<td>合同金额:</td>
                  <td id="look_contract_money"></td>
              </tr>
              <tr>
              	<td>暂定金:</td>
                  <td id="look_temporary_money"></td>
              	<td>合同签订时间:</td>
                  <td id="look_year3"></td>
              </tr>
              <tr>
                  <td>主要概况及工作内容:</td>
                  <td colspan="3" id="look_work_info"></td>
              </tr>
          </table>
          <table class="table table-bordered table-condensed" id="look_accessory">
          	<thead>
                  <tr>
                      <th>序号</th>
                      <th>附件名称</th>
                      <th>操作</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>

          <table class="table table-bordered table-condensed" id="look_xieban">
              <thead>
                  <tr>
                      <th colspan="2">部门</th>
                      <th colspan="2">金额</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
</div>
	    
	
	 
	
	  
    <!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="chooseNo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择任务单号</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" id="new_form" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                        	<tr>
                        		<td style="width:20%;">任务单号：</td>
                        		<td>
                        			<select class="selectpicker show-tick form-control"  style="width:100%;"  id="selectpicker_no" multiple data-live-search="true">
                                    </select>
                        		</td>
                        	</tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="quxiao2()">取消</button>
            <button type="button" class="btn btn-success" onclick="saveNo()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="chooseName">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目名称</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" id="new_form" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed">
                        	<tr>
                        		<td style="width:20%;">项目名称：</td>
                        		<td>
                        			<select class="selectpicker show-tick form-control"  style="width:100%;"  id="selectpicker_name" multiple data-live-search="true">
                                    </select>
                        		</td>
                        	</tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="quxiao()">取消</button>
            <button type="button" class="btn btn-success" onclick="saveName()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- allMsg2 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
                        <tr>
                            <td>承接合同名称:</td>
                            <td id="look_contract_name2"></td>
                            <td>承接合同编号:</td>
                            <td id="look_contract_no2"></td>
                        </tr>
                        <tr>
                        	<td>任务单号:</td>
                            <td id="look_work_no2"></td>
                            <td>项目名称:</td>
                            <td id="look_prj_name2"></td>
                        </tr>
                        <tr>
                        	<td>项目类型:</td>
                            <td id="look_prj_type2"></td>
                            <td>合同甲方名称:</td>
                            <td id="look_jiafangName2"></td>
                        </tr>
                        <tr>
                        	<td>合同乙方名称:</td>
                            <td id="look_yifangName2"></td>
                            <td>合同起日期:</td>
                            <td id="look_year_2"></td>
                        </tr>
                        <tr>
                        	<td>合同讫日期:</td>
                            <td id="look_year2_2"></td>
                            <td>乙方承接部门:</td>
                            <td id="look_yifang_department2"></td>
                        </tr>
                        <tr>
                        	<td>合同工期:</td>
                            <td id="look_work_date2"></td>
                            <td>收款条件:</td>
                            <td id="look_receieve_money_condition2"></td>
                        </tr>
                        <tr>
                        	<td>合同金额:</td>
                            <td id="look_contract_money2"></td>
                            <td>暂定金:</td>
                            <td id="look_temporary_money2"></td>
                        </tr>
                        <tr>
                        	<td>合同签订时间:</td>
                            <td id="look_year3_2"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>主要概况及工作内容:</td>
                            <td colspan="3" id="look_work_info2"></td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_accessory2">
                    	<thead>
                            <tr>
                                <th>序号</th>
                                <th>附件名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-condensed" id="look_xieban2">
                        <thead>
                            <tr>
                                <th colspan="2">部门</th>
                                <th colspan="2">金额</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form>  
            </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- <script src="../../js/jquery-editable-select.js"></script> -->
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
  //console.log(window.location.search)
    function GetQueryString(name){
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
    // 调用方法
    	id=GetQueryString("no");//传入自定义参数
    	//no=GetQueryString("");

		//console.log(id)
  	
  	function initTable(){
  		
  		$.ajax({
            type: 'POST',
            url: getContextPath()+'/cj/selectCjContractByNo',
            dataType: 'json',
            data: {
            	no:id
            },
            success: function (json) {
            	var data=json;
            	$("#look_contract_name").text(data.contractName);
          		$("#look_contract_no").text(data.contractNo);
          		$("#look_work_no").text(data.taskCode);
          		$("#look_prj_name").text(data.prjName);
          		$("#look_prj_type").text(data.prjType);
          		$("#look_jiafangName").text(data.ccName);
          		$("#look_yifangName").text(data.contractNameYi);
          		$("#look_year").text(data.contractStartTime);
          		$("#look_year2").text(data.contractEndTime);
          		$("#look_yifang_department").text(data.omName);
          		$("#look_work_date").text(data.contractLongTime);
          		$("#look_receieve_money_condition").text(data.receieveMoneyCondition);
          		$("#look_contract_money").text(data.contractMoney);
          		$("#look_temporary_money").text(data.temporaryMoney);
          		$("#look_year3").text(data.contractSignTime);
          		$("#look_work_info").text(data.workInfo);
          		$("#look_xieban tbody").html('');
          		$("#look_xieban tbody").append("<tr><td>主办部门</td><td>"+data.name+"</td><td>金额</td><td>"+data.mainDepartmentMoney+"</td></tr>")
          		if(data.assistDepartment1!=null&&data.assistDepartment1!=""){
          			$("#look_xieban tbody").append("<tr><td>协办部门</td><td>"+data.name2+"</td><td>金额</td><td>"+data.assistDepartment1Money+"</td></tr>")
            	}
            	if(data.assistDepartment2!=null&&data.assistDepartment2!=""){
            		$("#look_xieban tbody").append("<tr><td>协办部门</td><td>"+data.name3+"</td><td>金额</td><td>"+data.assistDepartment2Money+"</td></tr>")
            	}
            	if(data.assistDepartment3!=null&&data.assistDepartment3!=""){
            		$("#look_xieban tbody").append("<tr><td>协办部门</td><td>"+data.name4+"</td><td>金额</td><td>"+data.assistDepartment3Money+"</td></tr>")
            	}
          		$.ajax({
        	        type: 'POST',
        	        url: getContextPath()+'/announcement/selectAccessoryById',
        	        dataType: 'json',
        	        data: {
        	           id:data.cjId
        	        },
        	        success: function (json) {
        	        	$("#look_accessory tbody").html('');
        	        	for(var i=0;i<json.length;i++){
        	          		$("#look_accessory tbody").append("<tr><td>附件"+(i+1)+"</td><td>"+json[i].acName+"</td><td style='width:150px;'><button type='button' class='btn btn-primary' data="+json[i].acUrl+" data2="+json[i].acName+" onclick='downloadFile(this)'>下载附件</button></td></tr>")
        	        	}
        	        }
            	});
          		
            	$.ajax({
        	        type: 'POST',
        	        url: getContextPath()+'/cj/selectCjHistory',
        	        dataType: 'json',
        	        data: {
        	           no:data.contractNo
        	        },
        	        success: function (json) {
        	        	$('#history_table').dataTable().fnClearTable();
                        $('#history_table').DataTable().rows.add(json).draw(false);
        	        }
            	});
            }
  		});
  		
  		
  	}
  	
		
		
  	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
  	
  	
</script>
</html>