<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
       <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
			<li class="active">项目成本预警</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
			<div class="UpperPartL" style="font-size:18px;">
                <select class="form-control" id="status">
                	<option value='1'>正在预警</option>
                	<option value='2'>有说明未修改预算</option>
                </select>
            </div>
            <div class="UpperPartR">
            	<div class="yihang">
	                <div id="tabBtn" style="margin-left: 10px;"></div>
	            </div>
            </div>
        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                       	<th style="width:10%;">任务单号</th>
                        <th style="width:17%;">项目名称</th>
                        <th style="width:12%;">项目类型</th>
                        <th style="width:10%;">任务金额(元)</th>
                        <th style="width:8%;">项目负责人</th>
                        <th style="width:10%;">当期时间</th>
                        <th style="width:10%;">预算成本</th>
                        <th style="width:10%;">累计成本</th>
                        <th style="width:8%;">项目进度</th>
                        <th style="width:5%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
        </div>
    </div>
    <!-- 录入原因Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addReason">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入原因</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                   <textarea rows="4" style='width:100%;' class="form-control" id="reason_info"></textarea>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success"  onclick="saveReason()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 查看model结束 -->
    
<!-- 查看Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="lookReason">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看录入原因</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <textarea rows="4" style='width:100%;' class="form-control" id="look_reason" disabled></textarea>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- 查看model结束 -->

<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document" style="width:70%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed">
                    	<thead>
                    		<tr>
                    			<th colspan="4">项目基本信息</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
                            <td  style="width:18%;">项目名称</td>
                            <td id="look_prj_name" style="width:37%;"></td>
                            <td  style="width:18%;">任务单号</td>
                            <td id="look_task_no" style="width:27%;"></td>
                        </tr>
                        <tr>
                            <td>项目类型</td>
                            <td id="look_prj_type"></td>
                            <td>项目负责人</td>
                            <td id="look_prj_leader"></td>
                        </tr>
                        <tr>
                        	<td>合同金额</td>
                            <td id="look_contract_money"></td>
                            <td>任务金额(元)</td>
                            <td id="look_prj_money"></td>
                        </tr>
                        <tr>
                        	<td>暂定金(元)</td>
                            <td id="look_provisional_sum"></td>
                            <td>项目开始时间</td>
                            <td id="look_prj_start_time"></td>
                        </tr>
                        <tr>
                        	<td>项目预计结束时间</td>
                            <td id="look_prj_end_time"></td>
                            <td>预算总费用(元)</td>
                            <td id="look_budget_money_all"></td>
                        </tr>
                        <tr>
                        	<td>当期时间</td>
                            <td id="look_this_time"></td>
                            <td>项目经营模式</td>
                            <td id="look_prj_mode"></td>
                        </tr>
                    	</tbody>
                    </table>
                    <table class="table table-bordered table-condensed">
                    	<thead>
                    		<tr>
                    			<th colspan="4">项目收入信息</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
	                        	<td style="width:20%;">累计收入（%）</td>
	                            <td style="width:30%;">
	                            	<div class="yihang2">
	                            		<div>
	                            			<span id="look_all_money"></span>
	                            		</div>
	                            		<div>
	                            			<span id="span_button" ></span>
	                            		</div>
	                            	</div>
	                            </td>
	                            <td>本期收入（元）</td>
	                            <td id="look_in_come_yuan"></td>
	                        </tr>
	                        <tr>
	                            <td>累计收入（元）</td>
	                            <td id="look_all_money_yuan"></td>
	                            <td style="width:20%;">合同进度（%）</td>
	                            <td style="width:30%;" id="look_contract_income"></td>
	                        </tr>
                    	</tbody>
                    </table>
                    
                    <table class="table table-bordered table-condensed" id="look_accessory">
                    	<thead>
                    		<tr>
                    			<th colspan='3'>进度附件</th>
                    		</tr>
                    	</thead>
                    	<tbody></tbody>
                    </table>

                    <table class="table table-bordered table-condensed" id="look_xieban">
                        <thead>
                            <tr>
                                <th colspan="8">收入拆分 (本期收入(%)为本期收入(元)的占比,总共100%)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- <table class="table table-bordered table-condensed" id="look_xieban2">
                        <thead>
                            <tr>
                                <th colspan="4">本期收入</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban3">
                        <thead>
                            <tr>
                                <th colspan="4">本期收款</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban4">
                        <thead>
                            <tr>
                                <th colspan="4">累计收款</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban5"> 
                        <thead>
                            <tr>
                                <th colspan="4">本期成本</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban6">
                        <thead>
                            <tr>
                                <th colspan="4">累计成本</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table> -->
                    <table class="table table-bordered table-condensed" id="look_fb">
                    	<thead>
                                <tr>
                                    <th colspan="5">分包合同表</th>
                                </tr>
                                <tr>
                                    <th style="width:28%;">分包合同名称</th>
                                    <th style="width:14%;">分包合同金额(元)</th>
                                    <th style="width:26%;">分包方名称</th>
                                    <th style="width:16%;">累计收入(元)</th>
                                    <th style="width:16%;">本期收入(元)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                    </table>
                    <!-- <table class="table table-bordered table-condensed" id="look_cj">
                    	<thead>
                                <tr>
                                    <th colspan="5">承接合同表</th>
                                </tr>
                                <tr>
                                    <th style="width:32%;">合同名称</th>
                                    <th style="width:14%;">合同金额(元)</th>
                                    <th style="width:14%;">暂定金(元)</th>
                                    <th style="width:15%;">合同本期收入</th>
                                    <th style="width:15%;">总累计收入</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                    </table> -->
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
<!--  查看阶段 modal -->
			<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look_design">
			    <div class="modal-dialog" role="document" style="width:40%;">
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			                <h4 class="modal-title" id="gridSystemModalLabel">查看阶段</h4>
			            </div>
			            <div class="modal-body">
			                <form class="form-inline">
			                        <table class="table table-bordered table-condensed">
			                        	<tr id="yugongke_tr" style="display:none;">
			                        		<td style="width:40%;">预工可：</td>
			                        		<td style="width:60%;" id="yugongke_td"></td>
			                        	</tr>
			                        	<tr id="chubu_tr" style="display:none;">
			                        		<td>初步设计：</td>
			                        		<td id="chubu_td"></td>
			                        	</tr>
			                        	<tr id="shigongtu_tr" style="display:none;">
			                        		<td>施工图设计：</td>
			                        		<td id="shigongtu_td"></td>
			                        	</tr>
			                        </table>
			                </form>
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			            </div>
			        </div>
			    </div>
			</div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>

<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>
<script>
    $(document).ready( function () {
        $("#status").trigger("change");
	});
    
    $.fn.dataTable.Buttons.swfPath = '../../js/datatables/swf/flashExport.swf';
    var table=$('#mainContent').DataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "taskNo"}, 
		            { "data": null}, 
		            { "data": "prjType"}, 
		            { "data": "prjMoney"}, 
		            { "data": "prjLeader"}, 
		            { "data": "thisTime"}, 
		            { "data": "budgetMoneyAll"}, 
		            { "data": "totalCost"},
		            { "data": "allMoney"},
		            { "data": null}
		        ],
		        "columnDefs": [
								{	
									 "class": "tcenter",
									  "targets": 1,
									  "searchable": true,
									  "render": function(data, type, full) {
											return '<a onclick="gotoPrj(this)" style="color:#4876FF;cursor: pointer;">'+data.prjName+'</a>'
									 }
								},
								{	
										 "class": "tcenter",
										    "targets":9,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	/* <i class="iconfont icon-icon-test Pefa" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="查看详细信息" onclick="look(this)"></i> */
										    		return '<i class="add_reason iconfont icon-xiugai Pefb" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="录入原因" onclick="addReason(this)"></i><i class="iconfont icon-search reason" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="查看录入原因" onclick="lookReason(this)"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pefa") >= 0 ){
				                						$(".Pefa").show();
				                					}
				                					if(arr[i].indexOf("Pefb") >= 0 ){
				                						$(".Pefb").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        "buttons": [
		        	{
		                extend: "csv",
		                text: "导出csv",
		                bom: true,
		                filename: '项目进度',
		                fieldSeparator: ',',
		                exportOptions: {
		                	format: {
		                        header: function ( data) {
		                            return data;
		                        },
		                        body: function ( data, columnIdx, rowIdx, code ) {
		                        	if(rowIdx==1){
		                        		data=$(code).find("a").eq(0).text();
		                        	}
		                        	if(rowIdx==5){
		                        		var time=$(code).text();
		                        		var year=time.split("-")[0];
		                        		var month=time.split("-")[1];
		                        		data=year+"."+month;
		                        	}
					                return data;
					            }
		                    },
		                    columns:[0,1,2,3,4,5,6,7,8]
		                }
		            }
		        ]
	});
    table.buttons().container().appendTo( $('#tabBtn') );
    $('.buttons-csv').addClass('btn btn-primary');
    
    
    $("#status").on("change",function(){
    	var status=$("#status").val();
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/ppf/selectPrjProgressFillByStatus',
            dataType: 'json',
            data: {
            	status:status
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                if(status==1){
            		$(".add_reason").show();
            		$(".reason").hide();
            	}else if(status==2){
            		$(".add_reason").hide();
            		$(".reason").show();
            	}else{
            		$(".add_reason").hide();
            		$(".reason").hide();
            	}
            }
        });
    })

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    $(".quxiao").click(function(){
        if(confirm("确定要撤销吗？")){
            return true;
        }
        else{
            return false;
        }
    })

    var addTr;
    var id;
    function addReason(obj){
    	addTr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(addTr).data();
    	id=data.ppfId;
    	$("#addReason").modal("show");
    }
    
    function lookReason(obj){
    	var tr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(tr).data();
    	$("#look_reason").val(data.infos);
    	$("#lookReason").modal("show");
    }
    
    function saveReason(){
    	var reason_info=$("#reason_info").val();
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/ppf/updateStatusAndDesc',
            dataType: 'json',
            data: {
            	status:2,
            	infos:reason_info,
            	id:id
            },
            success: function (json) {
            	if(json>0){
            		$("#addReason").modal("hide");
            		$("#mainContent").DataTable().row(addTr).remove().draw(false);
            		toastr.success("保存成功");
            	}else{
            		toastr.error("保存失败");
            	}
            }
         });
    }
    
    function look(obj){
    	myTool.mask.show('查询中...');
    	var tr=$(obj).parent().parent();
    	var data=$("#mainContent").DataTable().row(tr).data();
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/ppf/selectPrjProgressFillInfo',
            dataType: 'json',
            data: {
            	id:data.ppfId
            },
            success: function (json) {
            	var ppfi=json.ppfi;
            	var ppfb=json.ppfb;
            	var accessory=json.accessory;
            	$("#look_prj_name").text(json.prjName);
            	$("#look_task_no").text(json.taskNo);
            	$("#look_prj_money").text(json.prjMoney);
            	$("#look_prj_type").text(json.prjType);
            	$("#look_contract_money").text(json.contractMoney);
            	$("#look_prj_leader").text(json.prjLeader);
            	$("#look_provisional_sum").text(json.provisionalSum);
            	$("#look_prj_start_time").text(json.prjStartTime);
            	$("#look_prj_end_time").text(json.prjEndTime);
            	$("#look_budget_money_all").text(json.budgetMoneyAll);
            	$("#look_this_time").text(json.thisTime);
            	$("#look_prj_mode").text(json.prjMode);
            	$("#look_all_money").text(json.allMoney);
            	var type=json.prjType;
            	$("#span_button").html('');
            	if(type.indexOf("B")!=-1){
            		if(type.indexOf("B1")!=-1){
            		}else{
            			$("#span_button").append('<button type="button" data="'+type+'" data2="'+json.ygDesign+'" data3="'+json.fristDesign+'" data4="'+json.secondDesign+'" class="btn btn-primary" onclick="lookDesign(this)">查看</button>')
            		}
            	}
            	$("#look_contract_income").text(json.contractIncome);
            	$("#look_all_money_yuan").text(json.allMoneyYuan);
            	$("#look_in_come_yuan").text(json.prjThisIncomeYuan);
            	$("#look_accessory tbody").html('');
            	for(var i=0;i<accessory.length;i++){
            		$("#look_accessory tbody").append("<tr>"+
            									"<td>附件"+(i+1)+"</td>"+
            									"<td>"+accessory[i].acName+"</td>"+
            									"<td><button type='button' class='btn btn-primary' data="+accessory[i].acUrl+" onclick='downloadFile(this)'>下载附件</button></td>"+
            								"</tr>")
            	}
            	
            	$("#look_xieban tbody").html('');
            	if(ppfi!=null){
            		for(var i=0;i<ppfi.length;i++){
                		if(ppfi[i].main==1){
                			$("#look_xieban tbody").append("<tr>"+
    								"<td style='width:10%;'>主办部门</td>"+
    								"<td style='width:15%;'>"+ppfi[i].department+"</td>"+
    								"<td style='width:10%;'>本期收入(%)</td>"+
    								"<td style='width:15%;'>"+ppfi[i].money+"</td>"+
    								"<td style='width:10%;'>本期收入(元)</td>"+
    								"<td style='width:15%;'>"+ppfi[i].moneyYuan+"</td>"+
    								"<td style='width:10%;'>累计收入(元)</td>"+
    								"<td style='width:15%;'>"+ppfi[i].allMoneyYuan+"</td>"+
    							"</tr>")
                		}else{
                			$("#look_xieban tbody").append("<tr>"+
    								"<td>协办部门</td>"+
    								"<td>"+ppfi[i].department+"</td>"+
    								"<td>本期收入(%)</td>"+
    								"<td>"+ppfi[i].money+"</td>"+
    								"<td>本期收入(元)</td>"+
    								"<td>"+ppfi[i].moneyYuan+"</td>"+
    								"<td>累计收入(元)</td>"+
    								"<td>"+ppfi[i].allMoneyYuan+"</td>"+
    							"</tr>")
                		}
                	}
            	}
            	
            	$("#look_fb tbody").html('');
            	if(ppfb!=null){
            		for(var i=0;i<ppfb.length;i++){
                		$("#look_fb tbody").append("<tr>"+
                														"<td>"+ppfb[i].fbName+"</td>"+
                														"<td>"+ppfb[i].fbMoney+"</td>"+
                														"<td>"+ppfb[i].fbUnit+"</td>"+
                														"<td>"+ppfb[i].incomeAll+"</td>"+
                														"<td>"+ppfb[i].incomeBq+"</td>"+
                													"</tr>")
                	}
            	}
            	
            	myTool.mask.hide();
            	$("#allMsg1").modal("show");
            }
    	})
    }
    
            function lookDesign(obj){
            	$('#look_design').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
                    if ($('.modal.in').size() >= 1) {
                        $('body').addClass('modal-open')
                    }
                })
            	
            	var type=$(obj).attr("data");
            	var yg=$(obj).attr("data2");
            	var chubu=$(obj).attr("data3");
            	var shigongtu=$(obj).attr("data4");
            	if(type.indexOf("B2")!=-1){
            		$("#chubu_tr").show();
            		$("#chubu_td").text(chubu);
            		$("#shigongtu_tr").show();
            		$("#shigongtu_td").text(shigongtu);
            	}
        		if(type.indexOf("B3")!=-1){
        			$("#yugongke_tr").show();
        			$("#yugongke_td").text(yg);
        			$("#chubu_tr").show();
            		$("#chubu_td").text(chubu);
            		$("#shigongtu_tr").show();
            		$("#shigongtu_td").text(shigongtu);
            	}
        		if(type.indexOf("B4")!=-1){
        			$("#yugongke_tr").show();
        			$("#yugongke_td").text(yg);
            		$("#shigongtu_tr").show();
            		$("#shigongtu_td").text(shigongtu);
            	}
            	$("#look_design").modal("show");
            }
    
    
    function gotoPrj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data);
		//var t = encodeURI(encodeURI(data.prjId));
		$.ajax({
			type:"POST",
			url:getContextPath()+"/task/selectIdByNameAndNo",
			dataTyepe:"json",
			async:false,
			data:{ 
				name:data.prjName,
				no:data.taskNo
				},
			success:function(json){
				$(obj).attr('href', '../shengchanGuanli/TaskManagement.html?prjId='+json.prjId+'&prjNo='+data.taskNo+'');
			}
		}) 
    }
    
    function downloadFile(obj){
		var filePath=$(obj).attr("data");
		var fileName=$(obj).parents("tr").find("td").eq(1).text();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
</script>
</html>