<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        #xinjianCailiao input,#xinjianCailiao2 input{
            width:160px;
        }
        #xinjianCailiao select,#xinjianCailiao2 select{
            width:160px;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>材料采购管理</li>
            <li>项目材料管理</li>
            <li class="active">材料出库</li>
		</ul>
    </div>

    <div class="zhuti-content">

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document" style="width:80%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>填报</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xinjianCailiao">
                             <tr>
                                <td style="width:15%;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:32%;">
                                	<!-- <select class="form-control" id="prj_name" style="width:75%;"> 
                                	</select> -->
                                	<input type="text" class="form-control" id="prj_name" disabled  style="width:65%;">
                               		<button type="button" style="margin-left: 5px;" class="btn btn-primary"  id="chosexm">选择项目</button>
                                </td>
                                <td style="width:15%;">任务单号</td>
                                <td style="width:38%;">
                                	<select class="form-control" id="prj_no" style="width:75%;"> 
                                		
                                	</select>
                                </td>
                            </tr>
                            <tr>
                                <td>领料人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                	<input type="text" class="form-control" id="get_person" style="width:65%;" disabled>
                                	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addGuanliren">选择领料人</button>
                                </td>
                                <td>领料日期  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control" id="year" style="width:75%;"></td>
                            </tr>
                            <tr>
                            	<td>备注</td>
                                <td colspan='3'><input type="text" class="form-control" id="infos" style="width:90%;"></td>
                            </tr>
                          </table>
                            <!-- <tr>
                                <td>材料名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control" id="cl_name" style="width:65%;"> 
                                		
                                	</select>
                                </td>
                                <td>材料类型</td>
                                <td><input type="text" class="form-control" id="cl_type" style="width:75%;" disabled></td>
                            </tr>
                            <tr>
                                <td>规格型号</td>
                                <td><input type="text" class="form-control" id="mode_type" style="width:65%;" disabled></td>
                                <td>单位</td>
                                <td><input type="text" class="form-control" id="unit" style="width:75%;" disabled></td>
                            </tr>
                            <tr>
                                <td>库存数量</td>
                                <td><input type="text" class="form-control" id="all_num" style="width:65%;" disabled></td>
                                <td>单价</td>
                                <td><input type="text" class="form-control" id="price" style="width:75%;" disabled></td>
                            </tr>
                            <tr>
                            	<td>领料数量</td>
                                <td><input type="text" class="form-control" id="num"  style="width:65%;">&nbsp&nbsp&nbsp<button type="button" class="btn btn-default"  onclick="getSumPrice()">计算金额</button></td>
                                <td>金额</td>
                                <td><input type="text" class="form-control" id="sum_price" disabled style="width:75%;"></td>
                            </tr> -->
                          <table class="table table-bordered table-condensed"  id="cl_table">
                          	<thead>
                          		<tr>
                          			<th>材料名称</th>
	                            	<th>材料类型</th>
		                            <th>材料型号</th>
		                            <th style='width:6%;'>单位</th>
		                            <th>数量</th>
		                            <th style='width:8%;'>单价</th>
		                            <th style='width:8%;'>领料数量</th>
		                            <!-- <th>项目部推荐供应商</th>
		                            <th>公司确定供应商</th> -->
		                            <th>来货单位</th>
		                            <th>备注</th>
		                            <th>生产厂家</th>
		                            <th>操作</th>
                          		</tr>
                          	</thead>
                          	<tbody></tbody>
                          </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="outBut" onclick="save()" disabled>保存</button>
            <!-- <button type="button" class="btn btn-success">提交</button> -->
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>任务单号</th>
                                    <th>项目名称</th>
                            		<th>采购合同号</th>
                                    <th>采购合同名</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!--选人 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addGuanliren">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">选择收货人</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div>
                            <span>部门:</span>
                            <select style="width:180px;" id="bumen" class="form-control" >
                                
                            </select>
                        </div>
                    </div>
                </form>
                <div>
                     <table class="table table-bordered table-condensed"  id="bmmingzibiao" >
                     	<thead>
		   					<tr>
		   						<th></th>
		   						<th>姓名</th>
		   						<th>工号</th>
		   						<th>出生日期</th>
		   						<th>性别</th>
		   						<th>职务</th>
		   					</tr>
		   				</thead>
		   				<tbody></tbody>
                     </table>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveGuanliren()" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow-x:scroll;">     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xinjianCailiao2">
                            <tr>
                                <td>材料名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">132</option>
                                    </select>
                                </td>
                                <td>材料类型</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>规格型号</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>单位</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>领料数量</td>
                                <td><input type="text" class="form-control"></td>
                                <td>价格</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td>领料日期</td>
                                <td><input type="text" class="form-control" id="xgyear"></td>
                            </tr>
                            <tr>
                                <td>领料人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td>
                                <td>备注</td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
        </div>
        <div class="LowerPart" style="margin-top:3px;">
                <div class="flexBetween">
	                <div class="yihang leftItem"><select class="form-control" id="prj"></select>&nbsp;
	                <button type="button" class="btn btn-primary Pedcba" data-toggle="modal" data-target="#myModal">填报</button></div>
                    <div class="rightItem">
                    <input class="form-control" id="searchData" value="" placeholder="搜索" type="text">
	                </div>
                </div>
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th style="width:45%;">项目名称</th>
                        <th style="width:10%;">任务单号</th>
                        <th style="width:10%;">领料日期</th>
                        <th style="width:10%;">领料人</th>
                        <th style="width:15%;">备注</th>
                        <th style="width:100px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody> 
            </table>
            
        </div>
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document" style="width:90%">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-condensed" id="mainContent2">
                <thead>
                    <tr>
                        <th>材料名称</th>
                        <th>材料类型</th>
                        <th>规格型号</th>
                        <th>单位</th>
                        <th>领料数量</th>
                        <th>价格</th>
                        <th>金额</th>
                    </tr>
                </thead>
                <tbody>
                </tbody> 
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
        laydate.render({
            elem: '#year' //指定元素
        });
    	$('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
    	initPrj();
    	initSelect();
    	initDepartment();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "sDom": 
			"t"+
			"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": null}, 
		            { "data": "taskNo"}, 
		            { "data": "getTime"},
		            { "data": "getPerson"},
		            { "data": "infos"},
		            { "data": null},
		        ],
		        "columnDefs": [
								{	
									 "class": "tcenter",
									  "targets": 0,
									  "searchable": true,
									  "render": function(data, type, full) {
											//return '<a onclick="gotoPrj(this)" style="color:	#4876FF;cursor: pointer;">'+data.taskName+'</a>'
										  var no=data.taskNo;
								    		var name=data.taskName;
								    		//var aa='<a onclick="gotoPrj(this)" data='+no.split(",")[0]+'  style="color:#4876FF;cursor: pointer;">'+name.split(",")[0]+'</a>';
								    		var aa='<a href="../chankanxiangqing/taskDetails.html?prjNo='
								    			+no.split(",")[0]
								    			+'" target="_blank" style="color:blue;">'+name.split(",")[0]+'</a>';
								    		if(name.split(",").length>0){
								    			for(var i=1;i<name.split(",").length;i++){
								    				//aa=aa+"<label>,</label>"+'<a onclick="gotoPrj(this)" data='+no.split(",")[i]+' style="color:	#4876FF;cursor: pointer;">'+name.split(",")[i]+'</a>'
								    				aa=aa+"<label>,</label>"+'<a href="../chankanxiangqing/taskDetails.html?prjNo='
									    			+no.split(",")[i]
									    			+'" target="_blank" style="color:blue;">'+name.split(",")[i]+'</a>';
								    			}
								    		}
								    		return aa;
									  }
								},
								{	
										 "class": "tcenter",
										    "targets": 5,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	return '<i class="iconfont icon-icon-test Pedcbb" style="font-size:18px;cursor:pointer;display:none;" onclick="look(this)" title="查看"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			user=json;
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pedcbb") >= 0 ){
				                						$(".Pedcbb").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[2, 'desc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
  
	});
    
    var table2=$('#mainContent2').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "clName"}, 
		            { "data": "clType"}, 
		            { "data": "modeType"}, 
		            { "data": "unit"}, 
		            { "data": "lingNum"}, 
		            { "data": "price"},
		            { "data": "sumPrice"}
		        ],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
  
	});
    var table3=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
					{ "data": "taskNo"},
		            { "data": "demandProject"},
		            { "data": "cgNo"},
		            { "data": "cgName"},
		            
		        ],
		        "columnDefs": [
								{
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    //选部门选人
    var bmtableren=$('#bmmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi2" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

//数组去重
Array.prototype.unique3 = function(){
 var res = [];
 var json = {};
 for(var i = 0; i < this.length; i++){
  if(!json[this[i]]){
   res.push(this[i]);
   json[this[i]] = 1;
  }
 }
 return res;
}

    var arr=[];
    // $('#renwuDanhao')[0].selectedIndex = -1;
    $("#renwuDanhao").change(function(){
        arr.push($("#renwuDanhao").val())
        $("#rwdh").text(arr.unique3())
    })
    var arr2=[];
    // $('#renwuDanhao2')[0].selectedIndex = -1;
    $("#renwuDanhao2").change(function(){
        arr2.push($("#renwuDanhao2").val())
        $("#rwdh2").text(arr2.unique3())
    })
    
    //初始化收货人部门及人员
	function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
	            	$("#bumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
	            	$("#xgbumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
            	}
            	$("#bumen").val(user.omId);
	        	$("#xgbumen").val(user.omId);
            	$("#bumen").trigger('change');
	        	$("#xgbumen").trigger('change');
            }
        });
	}
    $("#bumen").change(function(){
		var bumen=$("#bumen").val();
		$('#addGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataType:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#bmmingzibiao').dataTable().fnClearTable();
                $('#bmmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//保存添加保管人
	function saveGuanliren(){
		var tr=$("input[name='mingzi2']:checked").parents("tr");
		var data=$("#bmmingzibiao").DataTable().row(tr).data();
		
		//console.log(data)
		$("#get_person").val(data.uName);
		//$("#addGuanliren").modal("hide");
	}

    
    function initPrj(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#prj").append("<option value='%'>全部</option>")
                for(var i=0;i<json.length;i++){
					$("#prj").append("<option value="+json[i].prjNo+">"+json[i].prjName+"</option>")                	
                }
            	$("#prj").trigger("change");
            }
        });
    }
	
	$("#prj").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/clout/selectClOut',
            dataType: 'json',
            data: {
            	no:$("#prj").val()
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    })
    
    function getSumPrice(){
    	var reg=/^\+?[1-9][0-9]*$/; 
    	var num=$("#num").val();
    	var price=$("#price").val();
    	var allNum=$("#all_num").val();
    	if(!reg.test(num)){
    		toastr.error("请输入数字")
    		return;
    	} 
    	if(Number(num)>Number(allNum)){
    		toastr.error("领料数量不能超过总数量")
    		return;
    	}
    	var sum=num*price;
    	$("#sum_price").val(sum);
    }
    
    function save(){
    	var flag=true;
    	var outArray=new Array();
    	$("#cl_table tbody").find("tr").each(function(){
    		var id=$(this).find("td").eq(0).attr("data-id");
    		var clName=$(this).find("td").eq(0).text();
    		var clType=$(this).find("td").eq(1).text();
    		var modeType=$(this).find("td").eq(2).text();
    		var unit=$(this).find("td").eq(3).text();
    		var num=$(this).find("td").eq(4).text();
    		var price=$(this).find("td").eq(5).text();
    		var lingNum=$(this).find("td").eq(6).find("input").val();
    	/* 	var prjSupplier=$(this).find("td").eq(7).text();
    		var GsSupplier=$(this).find("td").eq(8).text(); */
    		var laihuodanwei=$(this).find("td").eq(7).text();
    		var desc=$(this).find("td").eq(8).text();
    		var scchangjia=$(this).find("td").eq(9).text();
    		
    		var reg=/^\+?[1-9][0-9]*$/; 
        	if(!reg.test(num)){
        		toastr.error("请输入数字")
        		flag=false;
        		return;
        	}
        	if(lingNum/1>num/1){
        		toastr.error("领料数量不能超过库存数量")
        		flag=false;
        		return;
        	}
    		var cInfo={
        			outId:undefined,
        			clName:undefined,
        			clType:undefined,
        			modeType:undefined,
        			unit:undefined,
        			num:undefined,
        			price:0,
        			lingNum:undefined,
        			sumPrice:0,
        			outRemain:undefined,
        			clPrjSupplier:undefined,
        			clGsSupplier:undefined,
        			clDesc:undefined,
        			clComeUnit:undefined,
        			clManufacturer:undefined,
        	}
    		var outRemain={
    				id:undefined,
    				remain:undefined,
    		}
    		
        	var remain=Number(num)-Number(lingNum);
        	outRemain.id=id;
        	outRemain.remain=remain;
        	cInfo.outRemain=outRemain;
        	
    		cInfo.clName=clName;
    		cInfo.clType=clType;
    		cInfo.modeType=modeType;
    		cInfo.unit=unit;
    		cInfo.num=num;
    		cInfo.price=price;
    		cInfo.lingNum=lingNum;
    		cInfo.sumPrice=Number(lingNum)*Number(price);
    		//cInfo.clPrjSupplier=prjSupplier
    		//cInfo.clGsSupplier=GsSupplier
    		cInfo.clDesc=desc
    		cInfo.clComeUnit=laihuodanwei
    		cInfo.clManufacturer=scchangjia
    		outArray.push(cInfo);
    	})
    	var taskName=$("#prj_name").val();
    	var taskNo=$("#prj_no").val();
    	var getTime=$("#year").val();
    	var infos=$("#infos").val();
    	var getPerson=$("#get_person").val();
    	
    	var clOut={
    			outId:undefined,
    			taskNo:undefined,
    			taskName:undefined,
    			getTime:undefined,
    			getPerson:undefined,
    			infos:undefined,
    			cInfo:undefined
    	}
    	clOut.outId=null;
    	clOut.taskNo=taskNo;
    	clOut.taskName=taskName;
    	clOut.getTime=getTime;
    	clOut.infos=infos;
    	clOut.getPerson=getPerson;
    	clOut.cInfo=outArray;
    	
    	var formData = new FormData();
 		formData.append("clOut", JSON.stringify(clOut));
 		
 		if(flag==true){
 			$.ajax({
 	            type: 'POST',
 	            url: getContextPath()+'/clout/addClOutBySave',
 	            data: formData,  
 	            processData: false,
 	            contentType: false,
 	            success: function (json) {
 	                if(json.result>0){
 	                	$("#myModal").modal("hide");
 	                	toastr.success("保存成功");
 	                	$('#mainContent').DataTable().row.add(json.clOut).draw(false);//新增行立即显示
 	                }else{
 	                	toastr.error("保存失败");
 	                }
 	            }
 	        }); 
 		}
    	
    }
    
    
  //选择项目
	$("#chosexm").click(function(){
		$("#xiangmumd").modal("show");
		$('#xiangmumd').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/gsMaterialIn/selectAllXmReceivedGoods',
	            dataType: 'json',
	            data: {
	            },
	            success: function (json) {
	                $('#xiangmubiao').dataTable().fnClearTable();
	                $('#xiangmubiao').DataTable().rows.add(json).draw(false);
	            }
	        });
	})
	$("#quedingxm").click(function(){
		/* var prjname=$("input[name='xiangmuName']:checked").parent().next().next().text();
		var prjNo=$("input[name='xiangmuName']:checked").parent().next().text(); */
		var tr=$("input[name='xiangmuName']:checked").parents("tr");
	  	var data=$("#xiangmubiao").DataTable().row(tr).data();
		$("#prj_name").val(data.demandProject);
		$("#prj_no").val(data.taskNo);
		$("#xiangmumd").modal("hide");
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/gsMaterialIn/selectGsClInBytaskNo',
            dataType: 'json',
            data: {
            	no:$('#prj_no').val()
            },
            success: function (json) {
            	console.log(json)
            	$("#cl_table tbody").html('');
            	if(json!=null&&json.length>0){
            		for(var i=0;i<json.length;i++){
            			$("#cl_table tbody").append("<tr><td style='width:7%;' data-id="+json[i].clId+">"
          		  				+''+json[i].clName+''
          		  				+"</td><td style='width:5%;'>"
          		  				+''+json[i].clType+''
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clMode+'' 
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clUnit+''
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clRemain+''
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clPrice+''
          		  				+"</td><td style='width:7%;'>"
          		  				+'<input type="text" class="form-control" style="width:100%;">'
          		  				/* +"</td><td style='width:7%;'>" 
          		  				+''+json[i].clspNamexm+''
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clspNamegs+'' */
          		  				+"</td><td style='width:7%;'>"
			   		  			+''+json[i].clComeUnit+''
          		  				+"</td><td style='width:7%;'>"
          		  				+''+json[i].clDesc+''
	      		  				+"</td><td style='width:7%;'>"
		      		  			+''+json[i].clManufacturer+''
		  		  				+"</td><td style='width:7%;'>"
          		  				+'<button type="button" class="btn btn-danger" onclick="removeThis(this)">删除</button>'
          		  				+"</td></tr>")
          		  				/* initClType(json[i].clType,i);
          		  				initName1(json[i].clPrjSupplier,i);
                  				initName2(json[i].clGsSupplier,i);
                  				$("#xgcl_danwei"+i).val(json[i].clUnit); */
                	} 
            		$("#outBut").attr("disabled",false);
            	}else{
            		$("#outBut").attr("disabled",true);
            		$("#cl_table tbody").append("<tr><td colspan='11' style='text-align:center;color:red;font-size:24px'>暂无数据</td></tr>")
            	}
            	
            }
  		});
	})
    
    
    function initSelect(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/gsMaterialIn/selectAllXmReceivedGoods',
            dataType: 'json',
            data: {
            },
            success: function (json) {
               for(var i=0;i<json.length;i++){
            	   //$("#prj_name").append("<option value="+json[i].pickProject+">"+json[i].pickProject+"</option>");
            	   $("#prj_no").append("<option value="+json[i].taskNo+">"+json[i].taskNo+"</option>");
               }
	          	$('#prj_no').editableSelect().on('select.editable-select', function (e, dom) {
	          		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/gsMaterialIn/selectGsClInBytaskNo',
	                    dataType: 'json',
	                    data: {
	                    	no:$('#prj_no').val()
	                    },
	                    success: function (json) {
	                    	$("#cl_table tbody").html('');
	                    	if(json!=null&&json.length>0){
	                    		for(var i=0;i<json.length;i++){
			                    	$("#prj_name").val(json[i].demandProject);
	                    			$("#cl_table tbody").append("<tr><td style='width:7%;' data-id="+json[i].clId+">"
	                  		  				+''+json[i].clName+''
	                  		  				+"</td><td style='width:5%;'>"
	                  		  				+''+json[i].clType+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clMode+'' 
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clUnit+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clRemain+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clPrice+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+'<input type="text" class="form-control" style="width:100%;">'
	                  		  				/* +"</td><td style='width:7%;'>" 
	                  		  				+''+json[i].clspNamexm+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clspNamegs+'' */
	                  		  				+"</td><td style='width:7%;'>"
	        			   		  			+''+json[i].clComeUnit+''
	                  		  				+"</td><td style='width:7%;'>"
	                  		  				+''+json[i].clDesc+''
	        	      		  				+"</td><td style='width:7%;'>"
	        		      		  			+''+json[i].clManufacturer+''
	        		  		  				+"</td><td style='width:7%;'>"
	                  		  				+'<button type="button" class="btn btn-danger" onclick="removeThis(this)">删除</button>'
	                  		  				+"</td></tr>")
	                  		  				/* initClType(json[i].clType,i);
	                  		  				initName1(json[i].clPrjSupplier,i);
	                          				initName2(json[i].clGsSupplier,i);
	                          				$("#xgcl_danwei"+i).val(json[i].clUnit); */
		                    	} 
	                    		$("#outBut").attr("disabled",false);
	                    	}else{
	                    		$("#outBut").attr("disabled",true);
	                    		$("#cl_table tbody").append("<tr><td colspan='11' style='text-align:center;color:red;font-size:24px'>暂无数据</td></tr>")
	                    	}
	                    }
	          		});
			  	})
               
            }
        });
    }
  
  
	function initClType(obj1,obj2){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/MaterialType/selectMaterialType',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#cl_type"+obj2).empty();
            	$("#xgcl_type"+obj2).empty();
            	for(var i=0;i<json.length;i++){
            		$("#cl_type"+obj2).append("<option value="+json[i].materialType+">"+json[i].materialType+"</option>");
            		$("#xgcl_type"+obj2).append("<option value="+json[i].materialType+">"+json[i].materialType+"</option>");
            	}
            	$("#cl_type"+obj2).val(obj1)
            	$("#xgcl_type"+obj2).val(obj1)
            }
  		});
    }
	//初始化供应商
	function initName1(obj1,obj2){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/supplier/selectIdAndName',
            dataType: 'json',
            data: {

            },
            success: function (json) {
            	$("#xm"+obj2).empty();
            	$("#xgxm"+obj2).empty();
                for(var i=0;i<json.length;i++){
                	$("#xm"+obj2).append("<option value="+json[i].spId+">"+json[i].spName+"</option>");
                	$("#xgxm"+obj2).append("<option value="+json[i].spId+">"+json[i].spName+"</option>");
                }
                $("#xm"+obj2).val(obj1);
                $("#xgxm"+obj2).val(obj1);
            }
		});
	}
	function initName2(obj1,obj2){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/supplier/selectIdAndName',
            dataType: 'json',
            data: {

            },
            success: function (json) {
            	$("#gs"+obj2).empty();
            	$("#xggs"+obj2).empty();
                for(var i=0;i<json.length;i++){
                	$("#gs"+obj2).append("<option value="+json[i].spId+">"+json[i].spName+"</option>");
                	$("#xggs"+obj2).append("<option value="+json[i].spId+">"+json[i].spName+"</option>");
                }
                $("#gs"+obj2).val(obj1);
                $("#xggs"+obj2).val(obj1);
            }
		});
	}
    
    function removeThis(obj){
    	var tr=$(obj).parent().parent();
    	$(tr).remove();
    	var length=$("#cl_table tbody").find("tr").length;
		if(length==0){
			$("#outBut").attr("disabled",true);
		}else{
			$("#outBut").attr("disabled",false);
		}
    }
 	$("#searchData").on("input", function(e){
		var d = $("#searchData").val();
		$("#mainContent").DataTable().search(d).draw(true);
	});
    function look(obj){
    	var tr=$(obj).parents("tr");
    	var data=$("#mainContent").DataTable().row(tr).data();
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/clout/selectClOutInfoById',
            dataType: 'json',
            async:false,
            data: {
            	id:data.outId
            },
            success: function (json) {
            	$('#mainContent2').dataTable().fnClearTable();
                $('#mainContent2').DataTable().rows.add(json).draw(false);
            }
    	})
    	$("#allMsg1").modal("show");
    }
	
    function gotoPrj(obj){
    	dom=$(obj).parents("tr");
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data);
		//var t = encodeURI(encodeURI(data.prjId));
		$.ajax({
			type:"POST",
			url:getContextPath()+"/task/selectIdByNameAndNo",
			dataType:"json",
			async:false,
			data:{ 
				name:data.taskName,
				no:data.taskNo
				},
			success:function(json){
				$(obj).attr('href', '../shengchanGuanli/TaskManagement.html?prjId='+json.prjId+'&prjNo='+data.taskNo+'');
			}
		})
    }
    
</script>
</html>