<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="../../font2/iconfont.css">
<link rel="stylesheet" href="../../font3/iconfont.css">
<link href="../../style/bootstrap.min.css" rel="stylesheet">
<link href="../../style/style.css" rel="stylesheet">
<link href="../../toastr/toastr.css" rel="stylesheet">
<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
<link href="../../select/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
<style lang="">
.UpperPart {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}

.selected {
	background: rgba(247, 161, 3, 0.2);
}

#mainContent th {
	cursor: pointer;
	font-size: 14px;
}

@media screen and (max-width: 1366px) {
	#myModal {
		margin-bottom: 250px !important;
	}
}

@media screen and (max-width: 1366px) {
	#change {
		margin-bottom: 250px !important;
	}
}

@media screen and (max-width: 1366px) {
	#allMsg1 {
		margin-bottom: 250px !important;
	}
}
</style>
</head>
<body>

	<!-- 面包屑 -->
	<div class="mianbao">
		<ul class="breadcrumb">
			<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li class="active">任务单管理</li>
		</ul>
	</div>

	<div class="zhuti-content">
		<h1 class="modal-title">
			<b></b>
		</h1>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th colspan="8">查看项目基本信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 10%;">项目名称</td>
					<td id="looktaskName" style="width: 20%;"></td>
					<td style="width: 10%;">所属区域</td>
					<td id="look_prj_area" style="width: 20%;"></td>
					<td style="width: 8%;">任务单号</td>
					<td id="looktaskbianhao" style="width: 12%;"></td>
					<td style="width: 12%;">项目经营模式</td>
					<td id="lookmoshi" style="width: 8%;"></td>
				</tr>
				<tr>
					<td>合同所属公司</td>
					<td id="lookgongsi"></td>
					<td>项目类型</td>
					<td id="lookleixing"></td>
					<td><span id="look_main_task_nomingzi">主任务单</span></td>
					<td id="look_main_task_no"></td>
					<td></td>
					<td></td>
					<!--  <td>重要程度</td>
	                            <td id="look_importance"></td>-->
				</tr>
				<tr>
					<td>项目概况及工作内容</td>
					<td colspan="8" id="lookgaikuang"></td>
				</tr>
			</tbody>
		</table>

		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th colspan="8">查看业主信息</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 10%;">甲方单位</td>
					<td id="lookyezhudanwei" style="width: 20%;"></td>
					<td style="width: 10%;" class="jinqianyanse">任务金额</td>
					<td id="lookjine" style="width: 14%;"></td>
					<td style="width: 10%;" class="jinqianyanse">合同金额</td>
					<td id="lookhetonge" style="width: 13%;"></td>
					<td style="width: 10%;" class="jinqianyanse">暂定金</td>
					<td id="lookzandingjin" style="width: 13%;"></td>
				</tr>
				<tr>
					<td>项目开始时间</td>
					<td colspan="3"><span id="lookstartTime"></span><span>&nbsp;&nbsp;-&nbsp;&nbsp;</span><span
						id="lookendTime"></span></td>
					<td>项目来源</td>
					<td id="look_prj_source"></td>
					<td class="jinqianyanse">管理费</td>
					<td id="look_guanliMoney"></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-condensed"
			id="looklianxibiaoge">
			<thead>
				<tr>
					<th colspan="2">添加的联系人,联系方式</th>
				</tr>
				<tr>
					<th style="width: 10%;">联系人</th>
					<th>联系方式</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>

		<table class="table table-bordered table-condensed"
			id="look_xieban_table">
			<thead>
				<tr>
					<th colspan="12">查看承接部门信息</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<table class="table table-bordered table-condensed"
			id="changeZyChengdu">
			<thead>
				<tr>
					<th colspan="2">更改重要程度</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style='width: 150px;'>重要程度</td>
					<td><select class='form-control' style='width: 150px;'
						id='zyChengduSelect' disabled>
							<option value='一般'>一般</option>
							<option value='重要'>重要</option>
					</select></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-condensed" style="diabled:false"
			id="biangeng_views">
			<thead>
				<tr>
					<th colspan="2">变更意见</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style='width: 150px;' id="tijiaoViews"></td>
				</tr>
			</tbody>
		</table>

        <div id="history_div" style="width: 100%; display: none">
			<table class="table table-bordered table-condensed" id="history_table"
				style="width: 100%;">
				<thead>
				    <tr>
						<th colspan="6">变更历史信息</th>
					</tr>
					<tr>
						<th>任务单号</th>
						<th>项目名称</th>
						<th>所属公司</th>
						<th>甲方单位</th>
						<th>修改时间</th>
						<th style="width: 80px;">操作</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
        </div>
		<br />
		<!-- <h2 style="color:red;">历史信息</h2>
					<table class="table table-bordered table-condensed" id="history_table">
						  <thead>
	                        	<tr>
	                        		<th>编号</th>
	                        		<th>项目名称</th>
	                        		<th>所属公司</th>
	                        		<th>业主单位</th>
	                        		<th>修改时间</th>
	                        		<th style="width:80px;;">操作</th>
	                        	</tr>
	                        </thead>
	                        <tbody></tbody>
					</table> -->
		<div class="modal-footer">
			<button type="button" class="btn btn-success" onclick="save()"
				id="baocuna">保存</button>
		</div>

	</div>


	<!-- 查看Modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" id="look_history_info">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<b>查看变更历史信息</b>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th colspan="8">查看项目基本信息</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>项目名称</td>
									<td id="historyName"></td>
									<td style="width: 100px;">任务单号</td>
									<td id="historybianhao"></td>
									<td>所属区域</td>
									<td id=""></td>
									<td>项目经营模式</td>
									<td id="historymoshi"></td>

								</tr>
								<tr>
									<td>合同所属公司</td>
									<td id="historygongsi"></td>
									<td style="width: 100px;">项目类型</td>
									<td id="historyleixing"></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>项目概况及工作内容</td>
									<td colspan="8" id="historygaikuang"></td>
								</tr>
							</tbody>
						</table>

						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th colspan="8">查看业主信息</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>甲方单位</td>
									<td id="historyyezhudanwei"></td>
									<td class="jinqianyanse">任务金额</td>
									<td id="historyjine"></td>
									<td class="jinqianyanse">合同金额</td>
									<td id="historyhetonge"></td>
									<td class="jinqianyanse">暂定金</td>
									<td id="historyzandingjin"></td>
								</tr>
								<tr>
									<td>项目开始时间</td>
									<td id="historystartTime"></td>
									<td>项目结束时间</td>
									<td id="historyendTime"></td>
									<td class="jinqianyanse">管理费</td>
									<td id="history_guanliMoney"></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-condensed"
							id="historylianxibiaoge">
							<thead>
								<tr>
									<th colspan="2">添加的联系人,联系方式</th>
								</tr>
								<tr>
									<th>联系人</th>
									<th>联系方式</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>

						<table class="table table-bordered table-condensed"
							id="history_xieban_table">
							<thead>
								<tr>
									<th colspan="8">查看承接信息</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<h2 style="color: red;">审批详情</h2>
						<table class="table table-bordered table-condensed"
							id="history_d_table">
							<thead>
								<tr>
									<th style="width: 30%;">业务名称</th>
									<th style="width: 12%;">操作人</th>
									<th style="width: 23%;">意见</th>
									<th style="width: 12%;">操作类型</th>
									<th style="width: 23%;">操作时间</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 查看model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../select/js/select2.min.js"></script>
<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		initTable();
		initTaskHistory();
	});
	//console.log(window.location.search)
	function GetQueryString(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if (r != null)
			return unescape(r[2]);
		return null;
	}
	// 调用方法
	id = GetQueryString("prjId");
	no = GetQueryString("prjNo");
	editOrView = GetQueryString("editOrView");
	step = GetQueryString("step");
	console.log(id, editOrView)

	var zhubanbumen;
	var xiebanbumen1;
	var xiebanbumen2;
	var xiabanbumen3;
	function initTable() {
		//console.log(id)
		//console.log(no)
		$
				.ajax({
					type : 'POST',
					url : getContextPath() + '/task/selectTaskHistory',
					dataType : 'json',
					data : {
						id : id,
						no : no
					},
					success : function(json) {
						console.log(json)
						var task = json.task;
						var taskList = json.taskList;

						zhubanbumen = task.mainDepartment;
						xiebanbumen1 = task.assistDepartment1;
						xiebanbumen2 = task.assistDepartment2;
						xiebanbumen3 = task.assistDepartment3;

						inithuman();

						$("#looktaskName").text(task.prjName);
						$("#looktaskbianhao").text(task.prjNo);
						$("#lookmoshi").text(task.prjManagementModel);
						$("#lookgongsi").text(task.prjCompany1);
						$("#lookleixing").text(task.prjType2);
						$("#look_prj_area").text(task.prjArea);
						$("#look_importance").text(task.importance);
						if (task.mainPrjNo == null) {
							$("#look_main_task_nomingzi").hide();
						} else {
							$("#look_main_task_nomingzi").show();
							$("#look_main_task_no").text(task.mainPrjNo);
						}

						$("#lookyezhudanwei").text(task.ccName);
						$("#look_prj_source").text(task.prjSource);
						$("#lookjine").text(task.prjEstimateMoney);
						$("#lookhetonge").text(task.contractMoney);
						$("#lookzandingjin").text(task.provisionalSum);
						$("#lookstartTime").text(task.prjStartTime);
						$("#lookendTime").text(task.prjEndTime);
						$("#lookgaikuang").text(task.workContent);
						$("#look_guanliMoney").text(task.guanliMoney)
						
						if(null!=task.tijiaoViews&&""!=task.tijiaoViews){
							$("#biangeng_views").show()
							$("#tijiaoViews").text(task.tijiaoViews)
						}else{
							$("#biangeng_views").hide()
						}

						if (editOrView == "view" || step != "2") {
							$("#baocuna").hide();
							$("#look_xieban_table tbody").html('');
							$("#look_xieban_table tbody")
									.append(
											"<tr><td style='width:7%'>主办部门</td><td style='width:9%;'>"
													+ task.omName
													+ "</td><td style='width:5%'>金额</td><td style='width:7%'>"
													+ task.mainDepartmentMoney
													+ "</td><td style='width:9%'>成本分摊比例</td><td style='width:4%'>"
													+ task.mainDepartmentCost
													+ "</td><td style='width:8%'>项目负责人</td><td style='width:9%;'>"
													+ '<select class="form-control"  id="xmfzr" disabled></select>'
													+ "</td><td style='width:10%'>部门主任工程师</td><td style='width:9%;'>"
													+ '<select class="form-control"  id="zrgcs" disabled><option value="无">无</option></select>'
													+ "</td><td style='width:9%'>其他管理人员</td><td style='width:10%;'>"
													+ '<select class="form-control" id="qtfzr" disabled multiple="multiple"><option value="无">无</option></select>'
													+ "</td></tr>")
							editzhubanren(task.mainPrjLeader, 1)
							editzhubanren(task.mainEngineer, 2)
							editzhubanren(task.mainOther, 3)
							if (task.name1 != null && task.name1 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name1
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment1Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment1Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control"  id="xbxmfzr1" disabled></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control" id="xbzrgcs1" disabled><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control"  id="xbqtfzr1" disabled multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")

								editxb1ren(task.assist1PrjLeader, 1);
								editxb1ren(task.assist1Engineer, 2);
								editxb1ren(task.assist1Other, 3);
							}
							if (task.name2 != null && task.name2 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name2
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment2Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment2Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control"  id="xbxmfzr2" disabled></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control"  id="xbzrgcs2" disabled><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control"  id="xbqtfzr2" disabled multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")
								editxb2ren(task.assist2PrjLeader, 1);
								editxb2ren(task.assist2Engineer, 2);
								editxb2ren(task.assist2Other, 3);
							}
							if (task.name3 != null && task.name3 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name3
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment3Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment3Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control" id="xbxmfzr3" disabled></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control" id="xbzrgcs3" disabled><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control" id="xbqtfzr3" disabled multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")
								editxb3ren(task.assist3PrjLeader, 1);
								editxb3ren(task.assist3Engineer, 2);
								editxb3ren(task.assist3Other, 3);
							}

							$("#looklianxibiaoge tbody").empty("");
							for (var i = 0; i < task.enterprise.length; i++) {
								$("#looklianxibiaoge").append(
										"<tr><td>" + task.enterprise[i].eMan
												+ "</td><td>"
												+ task.enterprise[i].eTel
												+ "</td></tr>")
							}
							if (step == '4') {
								$("#zyChengduSelect").removeAttr("disabled");
							} else {
								$("#zyChengduSelect").prop("diabled")
							}

						}
						if (editOrView == "edit" && step == "2") {
							$("#baocuna").hide();
							$("#look_xieban_table tbody").html('');
							$("#look_xieban_table tbody")
									.append(
											"<tr><td style='width:7%;'>主办部门</td><td style='width:9%;'>"
													+ task.omName
													+ "</td><td style='width:5%;'>金额</td><td style='width:7%;'>"
													+ task.mainDepartmentMoney
													+ "</td><td style='width:9%;'>成本分摊比例</td><td style='width:4%;'>"
													+ task.mainDepartmentCost
													+ "</td><td style='width:8%;'>项目负责人</td><td style='width:9%;'>"
													+ '<select class="form-control" id="xmfzr"></select>'
													+ "</td><td style='width:10%;'>部门主任工程师</td><td style='width:9%;'>"
													+ '<select class="form-control" id="zrgcs"><option value="无">无</option></select>'
													+ "</td><td style='width:9%;'>其他管理人员</td><td style='width:10%;'>"
													+ '<select class="form-control" id="qtfzr" multiple="multiple"><option value="无">无</option></select>'
													+ "</td></tr>")
							editzhubanren(task.mainPrjLeader, 1)
							editzhubanren(task.mainEngineer, 2)
							editzhubanren(task.mainOther, 3)
							if (task.name1 != null && task.name1 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name1
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment1Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment1Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control" id="xbxmfzr1"></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control"  id="xbzrgcs1"><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control" id="xbqtfzr1" multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")

								editxb1ren(task.assist1PrjLeader, 1);
								editxb1ren(task.assist1Engineer, 2);
								editxb1ren(task.assist1Other, 3);
							}
							if (task.name2 != null && task.name2 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name2
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment2Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment2Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control"  id="xbxmfzr2"></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control" id="xbzrgcs2"><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control"  id="xbqtfzr2" multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")
								editxb2ren(task.assist2PrjLeader, 1);
								editxb2ren(task.assist2Engineer, 2);
								editxb2ren(task.assist2Other, 3);
							}
							if (task.name3 != null && task.name3 != '') {
								$("#look_xieban_table tbody")
										.append(
												"<tr><td>协办部门</td><td>"
														+ task.name3
														+ "</td><td>金额</td><td>"
														+ task.assistDepartment3Money
														+ "</td><td>成本分摊比例</td><td>"
														+ task.assistDepartment3Cost
														+ "</td><td>项目负责人</td><td>"
														+ '<select class="form-control" id="xbxmfzr3"></select>'
														+ "</td><td>部门主任工程师</td><td>"
														+ '<select class="form-control"  id="xbzrgcs3"><option value="无">无</option></select>'
														+ "</td><td>其他管理人员</td><td>"
														+ '<select class="form-control"  id="xbqtfzr3" multiple="multiple"><option value="无">无</option></select>'
														+ "</td></tr>")
								editxb3ren(task.assist3PrjLeader, 1);
								editxb3ren(task.assist3Engineer, 2);
								editxb3ren(task.assist3Other, 3);
							}

							$("#looklianxibiaoge tbody").empty("");
							for (var i = 0; i < task.enterprise.length; i++) {
								$("#looklianxibiaoge").append(
										"<tr><td>" + task.enterprise[i].eMan
												+ "</td><td>"
												+ task.enterprise[i].eTel
												+ "</td></tr>")
							}

						}

						$("#zyChengduSelect").val(task.importance);
					}
				});
	}

	//项目负责人，主任工程师其他负责人
	function inithuman() {
		//console.log(zhubanbumen)
		//主办
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectGCSByDept",
			dataType : "json",
			data : {
				omId : zhubanbumen
			},
			success : function(json) {
				console.log(json)
				for (var i = 0; i < json.length; i++) {
					$("#zrgcs").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}
			}
		});

		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : zhubanbumen
			},
			success : function(json) {
				$("#guanliren").empty();
				for (var i = 0; i < json.length; i++) {
					$("#xmfzr").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
					$("#qtfzr").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}

				$("#qtfzr").select2({
					tags : true,
					placeholder : '请搜索或选择语言',
					allowClear : true
				});
			}
		})
		//协办1
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectGCSByDept",
			dataType : "json",
			data : {
				omId : xiebanbumen1
			},
			success : function(json) {
				console.log(json)
				for (var i = 0; i < json.length; i++) {
					$("#xbzrgcs1").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}
			}
		});

		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen1
			},
			success : function(json) {
				$("#guanliren").empty();
				for (var i = 0; i < json.length; i++) {
					$("#xbxmfzr1").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
					$("#xbqtfzr1").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}

				$("#xbqtfzr1").select2({
					tags : true,
					placeholder : '请搜索或选择语言',
					allowClear : true
				});
			}
		})
		//协办2
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectGCSByDept",
			dataType : "json",
			data : {
				omId : xiebanbumen2
			},
			success : function(json) {
				for (var i = 0; i < json.length; i++) {
					$("#xbzrgcs2").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}
			}
		});

		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen2
			},
			success : function(json) {
				$("#guanliren").empty();
				for (var i = 0; i < json.length; i++) {
					$("#xbxmfzr2").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
					$("#xbqtfzr2").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}

				$("#xbqtfzr2").select2({
					tags : true,
					placeholder : '请搜索或选择语言',
					allowClear : true
				});
			}
		})
		//协办3
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectGCSByDept",
			dataType : "json",
			data : {
				omId : xiebanbumen3
			},
			success : function(json) {
				for (var i = 0; i < json.length; i++) {
					$("#xbzrgcs3").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}
			}
		});

		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen3
			},
			success : function(json) {
				$("#guanliren").empty();
				for (var i = 0; i < json.length; i++) {
					$("#xbxmfzr3").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
					$("#xbqtfzr3").append(
							"<option value='" + json[i].userId + "'>"
									+ json[i].uName + "</option>")
				}

				$("#xbqtfzr3").select2({
					tags : true,
					placeholder : '请搜索或选择语言',
					allowClear : true
				});
			}
		})
	}

	//回显主办三个人
	function editzhubanren(obj, obj2) {
		//console.log(obj)
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : zhubanbumen
			},
			success : function(json) {
				if (obj2 == 1) {
					/* $("#xmfzr").empty();
					for(var i=0;i<json.length;i++){
						$("#xmfzr").append("<option value='" + json[i].userId + "'>"
					            + json[i].uName + "</option>")
					} */
					$("#xmfzr").val(obj);
				} else if (obj2 == 2) {
					/* $("#zrgcs").empty();
					for(var i=0;i<json.length;i++){
					    $("#zrgcs").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>") 
					}*/
					$("#zrgcs").val(obj);
				} else if (obj2 == 3) {
					/* $("#qtfzr").empty();
					for(var i=0;i<json.length;i++){
					    $("#qtfzr").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>") 
					}*/
					var array = new Array();
					for (var i = 0; i < obj.split(",").length; i++) {
						array.push(obj.split(",")[i]);
					}
					$("#qtfzr").val(array).select2();
				}
			}
		})
	}

	//回显协办1三个人
	function editxb1ren(obj, obj2) {
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen1
			},
			success : function(json) {
				if (obj2 == 1) {
					/* $("#xbxmfzr1").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr1").append("<option value='" + json[i].userId + "'>"
					            + json[i].uName + "</option>")
					} */
					$("#xbxmfzr1").val(obj);
				} else if (obj2 == 2) {
					/* $("#xbzrgcs1").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbzrgcs1").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs1").val(obj);
				} else if (obj2 == 3) {
					/* $("#xbqtfzr1").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbqtfzr1").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					var array = new Array();
					for (var i = 0; i < obj.split(",").length; i++) {
						array.push(obj.split(",")[i]);
					}
					$("#xbqtfzr1").val(array).select2();
				}
			}
		})
	}

	//回显协办2三个人
	function editxb2ren(obj, obj2) {
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen2
			},
			success : function(json) {
				if (obj2 == 1) {
					/* $("#xbxmfzr2").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr2").append("<option value='" + json[i].userId + "'>"
					            + json[i].uName + "</option>")
					} */
					$("#xbxmfzr2").val(obj);
				} else if (obj2 == 2) {
					/* $("#xbzrgcs2").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbzrgcs2").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs2").val(obj);
				} else if (obj2 == 3) {
					/* $("#xbqtfzr2").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbqtfzr2").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					var array = new Array();
					for (var i = 0; i < obj.split(",").length; i++) {
						array.push(obj.split(",")[i]);
					}
					$("#xbqtfzr2").val(array).select2();
				}
			}
		})
	}

	//回显协办3三个人
	function editxb3ren(obj, obj2) {
		$.ajax({
			type : "POST",
			url : getContextPath() + "/user/selectUserByomId",
			dataType : "json",
			data : {
				omId : xiebanbumen3
			},
			success : function(json) {
				if (obj2 == 1) {
					/* $("#xbxmfzr3").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr3").append("<option value='" + json[i].userId + "'>"
					            + json[i].uName + "</option>")
					} */
					$("#xbxmfzr3").val(obj);
				} else if (obj2 == 2) {
					/* $("#xbzrgcs3").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbzrgcs3").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs3").val(obj);
				} else if (obj2 == 3) {
					/* $("#xbqtfzr3").empty();
					for(var i=0;i<json.length;i++){
					    $("#xbqtfzr3").append("<option value='" + json[i].userId + "'>"
					    + json[i].uName + "</option>")
					} */
					var array = new Array();
					for (var i = 0; i < obj.split(",").length; i++) {
						array.push(obj.split(",")[i]);
					}
					$("#xbqtfzr3").val(array).select2();
				}
			}
		})
	}

	//保存
	function save() {
		try {
			var xmfzr = $("#xmfzr").val()
			var zrgcs = $("#zrgcs").val();
			var qtfzr = $("#qtfzr").val();
			if (xmfzr == "" || xmfzr == null || xmfzr == undefined) {
				return "0";
			}
			if (null != qtfzr && "" != qtfzr && qtfzr != undefined) {
				qtfzr = qtfzr.toString();
			} else {
				qtfzr = "";
			}
			var xbxmfzr1 = $("#xbxmfzr1").val();
			if (xbxmfzr1 == undefined) {
				xbxmfzr1 = '';
			}
			var xbzrgcs1 = $("#xbzrgcs1").val();
			if (xbzrgcs1 == undefined) {
				xbzrgcs1 = '';
			}
			var xbqtfzr1 = $("#xbqtfzr1").val();
			if (xbqtfzr1 == undefined) {
				xbqtfzr1 = '';
			} else {
				xbqtfzr1 = xbqtfzr1.toString();
			}
			var xbxmfzr2 = $("#xbxmfzr2").val();
			if (xbxmfzr2 == undefined) {
				xbxmfzr2 = '';
			}
			var xbzrgcs2 = $("#xbzrgcs2").val();
			if (xbzrgcs2 == undefined) {
				xbzrgcs2 = '';
			}
			var xbqtfzr2 = $("#xbqtfzr2").val();
			if (xbqtfzr2 == undefined) {
				xbqtfzr2 = '';
			} else {
				xbqtfzr2 = xbqtfzr2.toString();
			}

			var xbxmfzr3 = $("#xbxmfzr3").val();
			if (xbxmfzr3 == undefined) {
				xbxmfzr3 = '';
			}
			var xbzrgcs3 = $("#xbzrgcs3").val();
			if (xbzrgcs3 == undefined) {
				xbzrgcs3 = '';
			}
			var xbqtfzr3 = $("#xbqtfzr3").val();
			if (xbqtfzr3 == undefined) {
				xbqtfzr3 = '';
			} else {
				xbqtfzr3 = xbqtfzr3.toString();
			}
			var result = "";
			if (step == "2") {
				$.ajax({
					type : "POST",
					url : getContextPath() + "/task/updateById",
					dataType : "json",
					async : false,
					data : {
						prjId : id,
						mainPrjLeader : xmfzr,
						mainEngineer : zrgcs,
						mainOther : qtfzr,
						assist1PrjLeader : xbxmfzr1,
						assist1Engineer : xbzrgcs1,
						assist1Other : xbqtfzr1,
						assist2PrjLeader : xbxmfzr2,
						assist2Engineer : xbzrgcs2,
						assist2Other : xbqtfzr2,
						assist3PrjLeader : xbxmfzr3,
						assist3Engineer : xbzrgcs3,
						assist3Other : xbqtfzr3
					},
					success : function(json) {
						result = json;
						if (json > 0) {
							toastr.success("修改成功")
						} else {
							toastr.error("修改失败")
						}
					}
				})
			} else {
				result = '1';
			}
			return result;
		} catch (e) {
			return 0;
		}

	}

	function changeData() {
		$.ajax({
			type : 'POST',
			url : getContextPath() + '/task/updateHistoryById',
			dataType : 'json',
			data : {
				id : id
			},
			success : function(json) {
				console.log(json)

			}
		});
	}

	function saveFlow4() {
		var result;
		var it = $("#zyChengduSelect").val();
		if (it == "" || it == null || it == undefined) {
			return 0;
		}
		$.ajax({
			type : 'POST',
			url : getContextPath() + '/task/updateImportance',
			dataType : 'text',
			async : false,
			data : {
				id : id,
				importance : $("#zyChengduSelect").val()
			},
			success : function(json) {
				result = json;
			}
		});
		return result;
	}

	var table2 = $('#history_table')
			.dataTable(
					{
						"deferRender" : true,
						"processing" : true,
						"bDestroy" : true,
						"iDisplayLength" : 10,
						"searching" : true,
						"lengthChange" : false,
						"oLanguage" : {
							"sSearch" : '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
						},
						"columns" : [ {
							"data" : "prjNo"
						}, {
							"data" : "prjName"
						}, {
							"data" : "prjCompany"
						}, {
							"data" : "ccName"
						}, {
							"data" : "makeTime"
						}, {
							"data" : null
						}, ],
						"columnDefs" : [ {
							"class" : "tcenter",
							"targets" : 5,
							"searchable" : true,
							"render" : function(data, type, full) {
								return '<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;;margin-left:5px;" title="查看历史详细信息" onclick="lookHistory(this)"></i>'
							}
						} ],
						"order" : [ [ 1, 'asc' ] ],
						"oLanguage" : { //国际化配置
							"sProcessing" : "正在获取数据，请稍后...",
							"sLengthMenu" : "显示 _MENU_ 条",
							"sZeroRecords" : "查询不到相关数据",
							"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
							"sInfoEmpty" : "记录数为0",
							"sInfoFiltered" : "(全部记录数 _MAX_ 条)",
							"sInfoPostFix" : "",
							"sSearch" : "搜索",
							"sUrl" : "",
							"oPaginate" : {
								"sFirst" : "第一页",
								"sPrevious" : "上一页",
								"sNext" : "下一页",
								"sLast" : "最后一页"
							}
						},

					});

	function initTaskHistory() {
		$.ajax({
			type : 'POST',
			url : getContextPath() + '/task/selectTaskHistory_byId',
			dataType : 'json',
			data : {
				id : id,
				no : no
			},
			success : function(json) {
				var taskList = json.taskList;
				let history = json.history;
				if (history) {
					$('#history_div').show();
				} else {
					$('#history_div').hide();
				}
				$('#history_table').dataTable().fnClearTable();
				$('#history_table').DataTable().rows.add(taskList).draw(false);
			}
		});
	}

	function lookHistory(obj) {
		var dom = $(obj).parents('tr');
		var data = $('#history_table').DataTable().row(dom).data();

		$.ajax({
			type : 'POST',
			url : getContextPath() + '/task/selectTaskById',
			dataType : 'json',
			data : {
				id : data.prjId
			},
			success : function(json) {
				$("#historyName").text(json.prjName);
				$("#historybianhao").text(json.prjNo);
				$("#historymoshi").text(json.prjManagementModel);
				$("#historygongsi").text(json.prjCompany1);
				$("#historyleixing").text(json.prjType2);
				$("#historyyezhudanwei").text(json.ccName);
				$("#historyjine").text(json.prjEstimateMoney);
				$("#historyhetonge").text(json.contractMoney);
				$("#historyzandingjin").text(json.provisionalSum);
				$("#historystartTime").text(json.prjStartTime);
				$("#historyendTime").text(json.prjEndTime);
				$("#historygaikuang").text(json.workContent);
				$("#history_guanliMoney").text(json.guanliMoney)

				$("#history_xieban_table tbody").html('');
				$("#history_xieban_table tbody").append(
						"<tr><td>主办部门</td><td>" + json.omName
								+ "</td><td>金额</td><td>"
								+ json.mainDepartmentMoney + "</td></tr>")

				if (json.name1 != null && json.name1 != '') {
					$("#history_xieban_table tbody").append(
							"<tr><td>协办部门</td><td>" + json.name1
									+ "</td><td>金额</td><td>"
									+ json.assistDepartment1Money
									+ "</td></tr>")
				}
				if (json.name2 != null && json.name2 != '') {
					$("#history_xieban_table tbody").append(
							"<tr><td>协办部门</td><td>" + json.name2
									+ "</td><td>金额</td><td>"
									+ json.assistDepartment2Money
									+ "</td></tr>")
				}
				if (json.name3 != null && json.name3 != '') {
					$("#history_xieban_table tbody").append(
							"<tr><td>协办部门</td><td>" + json.name3
									+ "</td><td>金额</td><td>"
									+ json.assistDepartment3Money
									+ "</td></tr>")
				}

				$("#historylianxibiaoge tbody").empty("");
				for (var i = 0; i < json.enterprise.length; i++) {
					$("#historylianxibiaoge").append(
							"<tr><td>" + json.enterprise[i].eMan + "</td><td>"
									+ json.enterprise[i].eTel + "</td></tr>")
				}
				$.ajax({
					type : 'POST',
					url : getContextPath()
							+ '/flowHistory/getHistoryNowAndLastByModeId',
					data : {
						id : data.prjId
					},
					success : function(json) {
						$("#history_d_table tbody").html('');
						for (var i = 0; i < json.length; i++) {
							var operatorType = json[i].operateType;
							operatorType = getCnByOt(operatorType);
							var date = json[i].doDate;
							var title = json[i].title;
							var name = json[i].actorname;
							if (json[i].view == "" || json[i].view == null) {
								view = "无";
							}
							if (date == null) {
								date = "";
								if (json[i].operateType == 8) {
									title = "<lable style='color:red'>"
											+ json[i].title + "</lable>";
									name = "<lable style='color:red'>"
											+ json[i].actorname + "</lable>";
									operatorType = "<lable style='color:red'>"
											+ operatorType + "</lable>";
								} else {
									title = json[i].title;
									name = json[i].actorname;
								}
							}
							$("#history_d_table tbody").append(
									"<tr><td>" + title + "</td><td>" + name
											+ "</td><td>" + view + "</td><td>"
											+ operatorType + "</td><td>" + date
											+ "</td></tr>");
						}
					}
				});

				$("#look_history_info").modal("show");
			}
		});

	}
	
	function getCnByOt(s) {
		if (s == 1) {
			return "提交";
		} else if (s == 2) {
			return "退回";
		} else if (s == 3) {
			return "撤销";
		} else if (s == 0) {
			return "驳回";
		} else if (s == 8) {
			return "待审批";
		}
	}
</script>
</html>