<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        @media screen and (max-width: 1366px) {
		    #myModal {
		        margin-bottom:250px !important;
		    }
		}
		@media screen and (max-width: 1366px) {
		    #change {
		        margin-bottom:250px !important;
		    }
		}
		@media screen and (max-width: 1366px) {
		    #allMsg1 {
		        margin-bottom:250px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li class="active">任务单管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
    <h1 class="modal-title" ><b></b></h1>
        <table class="table table-bordered table-condensed">
                    	<thead>
                    		<tr>
                    			<th colspan="8">查看项目基本信息</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
	                            <td style="width:10%;">项目名称</td>
	                            <td id="looktaskName" style="width:20%;"></td>
	                            <td style="width:10%;">所属区域</td>
	                            <td id="look_prj_area" style="width:20%;"></td>
	                            <td style="width:8%;">任务单号</td>
	                            <td id="looktaskbianhao" style="width:12%;"></td>
	                            <td style="width:8%;">项目经营模式</td>
	                            <td id="lookmoshi" style="width:12%;"></td>
	                        </tr>
	                        <tr>
	                        	<td>合同所属公司</td>
	                            <td id="lookgongsi"></td>
	                            <td>项目类型</td>
	                            <td id="lookleixing"></td>
	                            <td><span id="look_main_task_nomingzi">主任务单</span></td>
	                            <td id="look_main_task_no"></td>
	                            <td></td>
	                            <td></td>
	                           <!--  <td>重要程度</td>
	                            <td id="look_importance"></td>-->
	                        </tr>
	                         <tr>
		                            <td>项目概况及工作内容</td>
		                            <td colspan="8"  id="lookgaikuang"></td>
		                      </tr>
                    	</tbody>
                    </table>
                    
                    <table class="table table-bordered table-condensed">
                    	<thead>
                    		<tr>
                    			<th colspan="8">查看业主信息</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
	                            <td style="width:10%;">甲方单位</td>
	                            <td id="lookyezhudanwei" style="width:15%;"></td>
	                            <td style="width:10%;">任务金额</td>
	                            <td id="lookjine" style="width:15%;"></td>
	                            <td style="width:10%;">合同金额</td>
	                            <td id="lookhetonge" style="width:15%;"></td>
	                            <td style="width:10%;">暂定金</td>
	                            <td id="lookzandingjin" style="width:15%;"></td>
	                        </tr>
	                        <tr>
	                            <td>项目开始时间</td>
	                            <td  colspan="3">
	                            	<span  id="lookstartTime"></span><span>&nbsp;&nbsp;-&nbsp;&nbsp;</span><span  id="lookendTime"></span>
	                            </td>
	                            <td>项目来源</td>
	                            <td id="look_prj_source"></td>
	                            <td></td>
	                            <td></td>
	                        </tr>
                    	</tbody>
                    </table>
                    <table class="table table-bordered table-condensed"  id="looklianxibiaoge">
                        <thead>
                            <tr>
                                <th colspan="2">添加的联系人,联系方式</th>
                            </tr>
                            <tr>
                                <th style="width:10%;">联系人</th>
                                <th>联系方式</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    
                    <table class="table table-bordered table-condensed" id="look_xieban_table">
                    	<thead>
                    		<tr>
                    			<th colspan="12">查看承接部门信息</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    	</tbody>
                    </table>
					
					<table class="table table-bordered table-condensed" id="changeZyChengdu">
                    	<thead>
                    		<tr>
                    			<th colspan="2">更改重要程度</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    		<tr>
                    			<td style='width:150px;'>重要程度</td>
                    	   			 <td><select class='form-control' style='width:150px;' id='zyChengduSelect' disabled>
		                    	   			 <option value='一般'>一般</option>
		                    	   			 <option value='重要'>重要</option>
	                    	   			 </select>
							    	</td>
					    	</tr>
                    	</tbody>
                    </table>	
					<br/>
					<!-- <h2 style="color:red;">历史信息</h2>
					<table class="table table-bordered table-condensed" id="history_table">
						  <thead>
	                        	<tr>
	                        		<th>编号</th>
	                        		<th>项目名称</th>
	                        		<th>所属公司</th>
	                        		<th>业主单位</th>
	                        		<th>修改时间</th>
	                        		<th style="width:80px;;">操作</th>
	                        	</tr>
	                        </thead>
	                        <tbody></tbody>
					</table> -->
                    <div class="modal-footer">
			            <button type="button"  class="btn btn-success" onclick="save()" id="baocuna">保存</button>
			        </div>
        
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../select/js/select2.min.js"></script>
<script>  
    $(document).ready( function () {
    	initTable();
    	
	});
    //console.log(window.location.search)
    function GetQueryString(name){
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
    // 调用方法
    	id=GetQueryString("prjId");
    	no=GetQueryString("prjNo");
    	editOrView=GetQueryString("editOrView");
    	step=GetQueryString("step");
    	console.log(id,editOrView)
    	
    	var zhubanbumen;
        var xiebanbumen1;
        var xiebanbumen2;
        var xiabanbumen3;
    function initTable(){
    	//console.log(id)
    	//console.log(no)
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectTaskHistory',
            dataType: 'json',
            data: {
            	id:id,
            	no:no
            },
            success: function (json) {
            	console.log(json)
            	var task=json.task;
            	var taskList=json.taskList;
            	
            	zhubanbumen=task.mainDepartment;
            	xiebanbumen1=task.assistDepartment1;
            	xiebanbumen2=task.assistDepartment2;
            	xiebanbumen3=task.assistDepartment3;
            	
            	inithuman();
            	
            	$("#looktaskName").text(task.prjName);
            	$("#looktaskbianhao").text(task.prjNo);
            	$("#lookmoshi").text(task.prjManagementModel);
            	$("#lookgongsi").text(task.prjCompany1);
            	$("#lookleixing").text(task.prjType2);
            	$("#look_prj_area").text(task.prjArea);
            	$("#look_importance").text(task.importance);
            	if(task.mainPrjNo==null){
            		$("#look_main_task_nomingzi").hide();
            	}else{
            		$("#look_main_task_nomingzi").show();
            		$("#look_main_task_no").text(task.mainPrjNo);
            	}
            	
            	$("#lookyezhudanwei").text(task.ccName);
            	$("#look_prj_source").text(task.prjSource);
            	$("#lookjine").text(task.prjEstimateMoney);
            	$("#lookhetonge").text(task.contractMoney);
            	$("#lookzandingjin").text(task.provisionalSum);
            	$("#lookstartTime").text(task.prjStartTime);
            	$("#lookendTime").text(task.prjEndTime);
            	$("#lookgaikuang").text(task.workContent);
            	
            	if(editOrView=="view"||step!="2"){
            		$("#baocuna").hide();
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:7%'>主办部门</td><td style='width:9%;'>"
                			+task.omName
                			+"</td><td style='width:5%'>金额</td><td style='width:7%'>"
                			+task.mainDepartmentMoney
                			+"</td><td style='width:9%'>成本分摊比例</td><td style='width:4%'>"
                			+task.mainDepartmentCost
							+"</td><td style='width:8%'>项目负责人</td><td style='width:9%;'>"
                			+'<select class="form-control"  id="xmfzr" disabled></select>'
                			+"</td><td style='width:10%'>部门主任工程师</td><td style='width:9%;'>"
                			+'<select class="form-control"  id="zrgcs" disabled><option value="无">无</option></select>'
                			+"</td><td style='width:9%'>其他管理人员</td><td style='width:10%;'>"
                			+'<select class="form-control" id="qtfzr" disabled multiple="multiple"><option value="无">无</option></select>'
                			+"</td></tr>")
                		editzhubanren(task.mainPrjLeader,1)	
                		editzhubanren(task.mainEngineer,2)
                		editzhubanren(task.mainOther,3)
                		if(task.name1!=null&&task.name1!=''){
                    		$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
                    				+task.name1
                    				+"</td><td>金额</td><td>"
                    				+task.assistDepartment1Money
                    				+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment1Cost
                    				+"</td><td>项目负责人</td><td>"
                        			+'<select class="form-control"  id="xbxmfzr1" disabled></select>'
                        			+"</td><td>部门主任工程师</td><td>"
                        			+'<select class="form-control" id="xbzrgcs1" disabled><option value="无">无</option></select>'
                        			+"</td><td>其他管理人员</td><td>"
                        			+'<select class="form-control"  id="xbqtfzr1" disabled multiple="multiple"><option value="无">无</option></select>'
                    				+"</td></tr>")
                    				
                    		editxb1ren(task.assist1PrjLeader,1);
                    		editxb1ren(task.assist1Engineer,2);
                    		editxb1ren(task.assist1Other,3);
                    	}
        				if(task.name2!=null&&task.name2!=''){
        					$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
        							+task.name2
        							+"</td><td>金额</td><td>"
        							+task.assistDepartment2Money
        							+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment2Cost
        							+"</td><td>项目负责人</td><td>"
        	            			+'<select class="form-control"  id="xbxmfzr2" disabled></select>'
        	            			+"</td><td>部门主任工程师</td><td>"
        	            			+'<select class="form-control"  id="xbzrgcs2" disabled><option value="无">无</option></select>'
        	            			+"</td><td>其他管理人员</td><td>"
        	            			+'<select class="form-control"  id="xbqtfzr2" disabled multiple="multiple"><option value="无">无</option></select>'
        							+"</td></tr>")
        					editxb2ren(task.assist2PrjLeader,1);
                    		editxb2ren(task.assist2Engineer,2);
                    		editxb2ren(task.assist2Other,3);
                    	}
        				if(task.name3!=null&&task.name3!=''){
        					$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
        							+task.name3
        							+"</td><td>金额</td><td>"
        							+task.assistDepartment3Money
        							+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment3Cost
        							+"</td><td>项目负责人</td><td>"
        	            			+'<select class="form-control" id="xbxmfzr3" disabled></select>'
        	            			+"</td><td>部门主任工程师</td><td>"
        	            			+'<select class="form-control" id="xbzrgcs3" disabled><option value="无">无</option></select>'
        	            			+"</td><td>其他管理人员</td><td>"
        	            			+'<select class="form-control" id="xbqtfzr3" disabled multiple="multiple"><option value="无">无</option></select>'
        							+"</td></tr>")
        					editxb3ren(task.assist3PrjLeader,1);
                    		editxb3ren(task.assist3Engineer,2);
                    		editxb3ren(task.assist3Other,3);
        				}
        				
        				$("#looklianxibiaoge tbody").empty("");
                    	for(var i=0;i<task.enterprise.length;i++){
                    		$("#looklianxibiaoge").append("<tr><td>"
        											    			+task.enterprise[i].eMan
        											    			+"</td><td>"
        											    			+task.enterprise[i].eTel
        											    			+"</td></tr>")
                    	}
                    	if(step=='4'){
                    		$("#zyChengduSelect").removeAttr("disabled");
                    	}else{
                    		$("#zyChengduSelect").prop("diabled")
                    	}
                    	
            	}
            	if(editOrView=="edit"&&step=="2"){
            		$("#baocuna").hide();
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:7%;'>主办部门</td><td style='width:9%;'>"
                			+task.omName
                			+"</td><td style='width:5%;'>金额</td><td style='width:7%;'>"
                			+task.mainDepartmentMoney
                			+"</td><td style='width:9%;'>成本分摊比例</td><td style='width:4%;'>"
                			+task.mainDepartmentCost
                			+"</td><td style='width:8%;'>项目负责人</td><td style='width:9%;'>"
                			+'<select class="form-control" id="xmfzr"></select>'
                			+"</td><td style='width:10%;'>部门主任工程师</td><td style='width:9%;'>"
                			+'<select class="form-control" id="zrgcs"><option value="无">无</option></select>'
                			+"</td><td style='width:9%;'>其他管理人员</td><td style='width:10%;'>"
                			+'<select class="form-control" id="qtfzr" multiple="multiple"><option value="无">无</option></select>'
                			+"</td></tr>")
                		editzhubanren(task.mainPrjLeader,1)	
                		editzhubanren(task.mainEngineer,2)
                		editzhubanren(task.mainOther,3)
                		if(task.name1!=null&&task.name1!=''){
                    		$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
                    				+task.name1
                    				+"</td><td>金额</td><td>"
                    				+task.assistDepartment1Money
                    				+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment1Cost
                    				+"</td><td>项目负责人</td><td>"
                        			+'<select class="form-control" id="xbxmfzr1"></select>'
                        			+"</td><td>部门主任工程师</td><td>"
                        			+'<select class="form-control"  id="xbzrgcs1"><option value="无">无</option></select>'
                        			+"</td><td>其他管理人员</td><td>"
                        			+'<select class="form-control" id="xbqtfzr1" multiple="multiple"><option value="无">无</option></select>'
                    				+"</td></tr>")
                    				
                    		editxb1ren(task.assist1PrjLeader,1);
                    		editxb1ren(task.assist1Engineer,2);
                    		editxb1ren(task.assist1Other,3);
                    	}
        				if(task.name2!=null&&task.name2!=''){
        					$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
        							+task.name2
        							+"</td><td>金额</td><td>"
        							+task.assistDepartment2Money
        							+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment2Cost
        							+"</td><td>项目负责人</td><td>"
        	            			+'<select class="form-control"  id="xbxmfzr2"></select>'
        	            			+"</td><td>部门主任工程师</td><td>"
        	            			+'<select class="form-control" id="xbzrgcs2"><option value="无">无</option></select>'
        	            			+"</td><td>其他管理人员</td><td>"
        	            			+'<select class="form-control"  id="xbqtfzr2" multiple="multiple"><option value="无">无</option></select>'
        							+"</td></tr>")
        					editxb2ren(task.assist2PrjLeader,1);
                    		editxb2ren(task.assist2Engineer,2);
                    		editxb2ren(task.assist2Other,3);
                    	}
        				if(task.name3!=null&&task.name3!=''){
        					$("#look_xieban_table tbody").append("<tr><td>协办部门</td><td>"
        							+task.name3
        							+"</td><td>金额</td><td>"
        							+task.assistDepartment3Money
        							+"</td><td>成本分摊比例</td><td>"
                        			+task.assistDepartment3Cost
        							+"</td><td>项目负责人</td><td>"
        	            			+'<select class="form-control" id="xbxmfzr3"></select>'
        	            			+"</td><td>部门主任工程师</td><td>"
        	            			+'<select class="form-control"  id="xbzrgcs3"><option value="无">无</option></select>'
        	            			+"</td><td>其他管理人员</td><td>"
        	            			+'<select class="form-control"  id="xbqtfzr3" multiple="multiple"><option value="无">无</option></select>'
        							+"</td></tr>")
        					editxb3ren(task.assist3PrjLeader,1);
                    		editxb3ren(task.assist3Engineer,2);
                    		editxb3ren(task.assist3Other,3);
        				}
        				
        				$("#looklianxibiaoge tbody").empty("");
                    	for(var i=0;i<task.enterprise.length;i++){
                    		$("#looklianxibiaoge").append("<tr><td>"
        											    			+task.enterprise[i].eMan
        											    			+"</td><td>"
        											    			+task.enterprise[i].eTel
        											    			+"</td></tr>")
                    	}
                    	
            	}
            	
            		
            $("#zyChengduSelect").val(task.importance);
            }
        }); 
    }

  //项目负责人，主任工程师其他负责人
	function inithuman(){
		//console.log(zhubanbumen)
		//主办
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectGCSByDept",
			dataTyepe:"json",
			data:{ 
				omId:zhubanbumen
				},
			success:function(json){
				console.log(json)
				for(var i=0;i<json.length;i++){
                    $("#zrgcs").append("<option value='" + json[i].userId + "'>"
                    + json[i].uName + "</option>")
				}
			}
		});
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:zhubanbumen
				},
			success:function(json){
				$("#guanliren").empty();
				for(var i=0;i<json.length;i++){
					$("#xmfzr").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
                    $("#qtfzr").append("<option value='" + json[i].userId + "'>"
                    + json[i].uName + "</option>")
				}
				
				$("#qtfzr").select2({
		            tags: true,
		            placeholder: '请搜索或选择语言',
		            allowClear: true
		        });
			}
		})
		//协办1
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectGCSByDept",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen1
				},
			success:function(json){
				console.log(json)
				for(var i=0;i<json.length;i++){
					$("#xbzrgcs1").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
				}
			}
		});
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen1
				},
			success:function(json){
				$("#guanliren").empty();
				for(var i=0;i<json.length;i++){
					$("#xbxmfzr1").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
                    $("#xbqtfzr1").append("<option value='" + json[i].userId + "'>"
                    + json[i].uName + "</option>")
				}
				
				$("#xbqtfzr1").select2({
		            tags: true,
		            placeholder: '请搜索或选择语言',
		            allowClear: true
		        });
			}
		})
		//协办2
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectGCSByDept",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen2
				},
			success:function(json){
				for(var i=0;i<json.length;i++){
					$("#xbzrgcs2").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
				}
			}
		});
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen2
				},
			success:function(json){
				$("#guanliren").empty();
				for(var i=0;i<json.length;i++){
					$("#xbxmfzr2").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
                    $("#xbqtfzr2").append("<option value='" + json[i].userId + "'>"
                    + json[i].uName + "</option>")
				}
				
				$("#xbqtfzr2").select2({
		            tags: true,
		            placeholder: '请搜索或选择语言',
		            allowClear: true
		        });
			}
		})
		//协办3
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectGCSByDept",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen3
				},
			success:function(json){
				for(var i=0;i<json.length;i++){
					$("#xbzrgcs3").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
				}
			}
		});
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen3
				},
			success:function(json){
				$("#guanliren").empty();
				for(var i=0;i<json.length;i++){
					$("#xbxmfzr3").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
                    $("#xbqtfzr3").append("<option value='" + json[i].userId + "'>"
                    + json[i].uName + "</option>")
				}
				
				$("#xbqtfzr3").select2({
		            tags: true,
		            placeholder: '请搜索或选择语言',
		            allowClear: true
		        });
			}
		}) 
	}
  
  
  //回显主办三个人
  function editzhubanren(obj,obj2){
	  //console.log(obj)
	  $.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:zhubanbumen
				},
			success:function(json){
				if(obj2==1){
					/* $("#xmfzr").empty();
					for(var i=0;i<json.length;i++){
						$("#xmfzr").append("<option value='" + json[i].userId + "'>"
			                    + json[i].uName + "</option>")
					} */
					$("#xmfzr").val(obj);
				}else if(obj2==2){
					/* $("#zrgcs").empty();
					for(var i=0;i<json.length;i++){
			            $("#zrgcs").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>") 
					}*/
					$("#zrgcs").val(obj);
				}else if(obj2==3){
					/* $("#qtfzr").empty();
					for(var i=0;i<json.length;i++){
	                    $("#qtfzr").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>") 
					}*/
					$("#qtfzr").val(obj).select2();
				}
			}
		})
  }
  
  //回显协办1三个人
  function editxb1ren(obj,obj2){
	  $.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen1
				},
			success:function(json){
				if(obj2==1){
					/* $("#xbxmfzr1").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr1").append("<option value='" + json[i].userId + "'>"
			                    + json[i].uName + "</option>")
					} */
					$("#xbxmfzr1").val(obj);
				}else if(obj2==2){
					/* $("#xbzrgcs1").empty();
					for(var i=0;i<json.length;i++){
			            $("#xbzrgcs1").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs1").val(obj);
				}else if(obj2==3){
					/* $("#xbqtfzr1").empty();
					for(var i=0;i<json.length;i++){
	                    $("#xbqtfzr1").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbqtfzr1").val(obj).select2();
				}
			}
		})
  }
  
//回显协办2三个人
  function editxb2ren(obj,obj2){
	  $.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen2
				},
			success:function(json){
				if(obj2==1){
					/* $("#xbxmfzr2").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr2").append("<option value='" + json[i].userId + "'>"
			                    + json[i].uName + "</option>")
					} */
					$("#xbxmfzr2").val(obj);
				}else if(obj2==2){
					/* $("#xbzrgcs2").empty();
					for(var i=0;i<json.length;i++){
			            $("#xbzrgcs2").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs2").val(obj);
				}else if(obj2==3){
					/* $("#xbqtfzr2").empty();
					for(var i=0;i<json.length;i++){
	                    $("#xbqtfzr2").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbqtfzr2").val(obj).select2();
				}
			}
		})
  }
  
//回显协办3三个人
  function editxb3ren(obj,obj2){
	  $.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			data:{ 
				omId:xiebanbumen3
				},
			success:function(json){
				if(obj2==1){
					/* $("#xbxmfzr3").empty();
					for(var i=0;i<json.length;i++){
						$("#xbxmfzr3").append("<option value='" + json[i].userId + "'>"
			                    + json[i].uName + "</option>")
					} */
					$("#xbxmfzr3").val(obj);
				}else if(obj2==2){
					/* $("#xbzrgcs3").empty();
					for(var i=0;i<json.length;i++){
			            $("#xbzrgcs3").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbzrgcs3").val(obj);
				}else if(obj2==3){
					/* $("#xbqtfzr3").empty();
					for(var i=0;i<json.length;i++){
	                    $("#xbqtfzr3").append("<option value='" + json[i].userId + "'>"
	                    + json[i].uName + "</option>")
					} */
					$("#xbqtfzr3").val(obj).select2();
				}
			}
		})
  }
  
  
  
  //保存
  function save(){
	  var xmfzr=$("#xmfzr").val()
	  var zrgcs=$("#zrgcs").val();
	  var qtfzr=$("#qtfzr").val();
	  qtfzr=qtfzr.toString();
	  var xbxmfzr1=$("#xbxmfzr1").val();
	  if(xbxmfzr1==undefined){
		  xbxmfzr1='';
	  }
	  var xbzrgcs1=$("#xbzrgcs1").val();
	  if(xbzrgcs1==undefined){
		  xbzrgcs1='';
	  }
	  var xbqtfzr1=$("#xbqtfzr1").val();
	  if(xbqtfzr1==undefined){
		  xbqtfzr1='';
	  }else{
		  xbqtfzr1=xbqtfzr1.toString();
	  }
	  var xbxmfzr2=$("#xbxmfzr2").val();
	  if(xbxmfzr2==undefined){
		  xbxmfzr2='';
	  }
	  var xbzrgcs2=$("#xbzrgcs2").val();
	  if(xbzrgcs2==undefined){
		  xbzrgcs2='';
	  }
	  var xbqtfzr2=$("#xbqtfzr2").val();
	  if(xbqtfzr2==undefined){
		  xbqtfzr2='';
	  }else{
		  xbqtfzr2=xbqtfzr2.toString();
	  }
	  
	  var xbxmfzr3=$("#xbxmfzr3").val();
	  if(xbxmfzr3==undefined){
		  xbxmfzr3='';
	  }
	  var xbzrgcs3=$("#xbzrgcs3").val();
	  if(xbzrgcs3==undefined){
		  xbzrgcs3='';
	  }
	  var xbqtfzr3=$("#xbqtfzr3").val();
	  if(xbqtfzr3==undefined){
		  xbqtfzr3='';
	  }else{
		  xbqtfzr3=xbqtfzr3.toString(); 
	  }
	  
	  $.ajax({
			type:"POST",
			url:getContextPath()+"/task/updateById",
			dataTyepe:"json",
			data:{ 
				prjId:id,
				mainPrjLeader:xmfzr,
				mainEngineer:zrgcs,
				mainOther:qtfzr,
				assist1PrjLeader:xbxmfzr1,
				assist1Engineer:xbzrgcs1,
				assist1Other:xbqtfzr1,
				assist2PrjLeader:xbxmfzr2,
				assist2Engineer:xbzrgcs2,
				assist2Other:xbqtfzr2,
				assist3PrjLeader:xbxmfzr3,
				assist3Engineer:xbzrgcs3,
				assist3Other:xbqtfzr3
				},
			success:function(json){
				if(json>0){
					toastr.success("修改成功")
				}else{
					toastr.error("修改失败")
				}
			}
		}) 
  }
  
  function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/updateHistoryById',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	
	        }
	    });
	}
    
  function saveFlow4(){
  	var result={};
  	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/updateImportance',
	        dataType: 'text',
	        async:false,
	        data:{
	        	id:id,
	        	importance:$("#zyChengduSelect").val()
	        },
	        success: function (json) {
	        	result.rel=json;
	        }
	    });
  	return result; 
  }
</script>
</html>