<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        @media screen and (max-width: 1366px) {
		    #myModal {
		        margin-bottom:250px !important;
		    }
		}
		@media screen and (max-width: 1366px) {
		    #change {
		        margin-bottom:250px !important;
		    }
		}
		@media screen and (max-width: 1366px) {
		    #allMsg1 {
		        margin-bottom:250px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li class="active">任务单管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
    <h1 class="modal-title" ><b></b></h1>
        <table class="table table-bordered table-condensed lookhetong">
             <tr>
                 <td>项目名称</td>
                 <td id="looktaskName"></td>
                 <td style="width:100px;">编号</td>
                 <td id="looktaskbianhao"></td>
             </tr>
             <tr>
                 <td>项目经营模式</td>
                 <td id="lookmoshi"></td>
                 <td>项目所属公司</td>
                 <td id="lookgongsi"></td>
             </tr>
             <tr>
                 <td style="width:100px;">项目类型</td>
                 <td id="lookleixing"></td>
                 <td>设计阶段</td>
                 <td id="lookshejijieduan"></td>
             </tr>
             <tr>
                 <td>项目业主单位</td>
                 <td id="lookyezhudanwei"></td>
                 <td>项目金额</td>
                 <td id="lookjine"></td>
             </tr>
             <tr>
                 <td>合同金额</td>
                 <td id="lookhetonge"></td>
                 <td>暂定金</td>
                 <td id="lookzandingjin"></td>
             </tr>
             <tr>
                 <td>项目开始时间</td>
                 <td id="lookstartTime"></td>
                 <td>项目结束时间</td>
                 <td id="lookendTime"></td>
             </tr>
             <tr>
                  <td>主办部门</td>
                  <td id="lookzhuban"></td>
                  <td>金额</td>
                  <td id="lookzhubanjine"></td>
              </tr>
              <tr>
                  <td>协办部门1</td>
                  <td id="lookxieban1"></td>
                  <td>金额</td>
                  <td id="lookxiebanjine"></td>
              </tr>
              <tr>
                  <td>协办部门2</td>
                  <td id="lookxieban2"></td>
                  <td>金额</td>
                  <td id="lookxieban2jine"></td>
              </tr>
              <tr>
                  <td>协办部门3</td>
                  <td id="lookxieban3"></td>
                  <td>金额</td>
                  <td id="lookxieban3jine"></td>
              </tr>
             <tr>
                 <td>项目概况及工作内容</td>
                 <td colspan="3"  id="lookgaikuang"></td>
             </tr>
         </table>

         <table class="table table-bordered table-condensed"  id="looklianxibiaoge">
             <thead>
                 <tr>
                     <th colspan="2">添加的联系人,联系方式</th>
                 </tr>
                 <tr>
                     <th>联系人</th>
                     <th>联系方式</th>
                 </tr>
             </thead>
             <tbody>
                 
             </tbody>
         </table>
        
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script>  
    $(document).ready( function () {
    	initTable();
    	
	});
    var did;
	function getQueryStr(sArgName){
		var LocString=String(window.document.location.href);
    	var args = LocString.split("?"); 
    	var retval = ""; 
    	if(args[0] == LocString) {
	    	return retval; 
	    } 
    	var str = args[1]; 
    	args = str.split("&"); 
    	for(var i = 0; i < args.length; i ++){
	    	str = args[i]; 
	    	var arg = str.split("="); 
	    	if(arg.length <= 1) continue; 
	    	if(arg[0] == sArgName) retval = arg[1]; 
    	} 
    	return retval; 
    } 
    	
    	var a=getQueryStr("a"); 
    	did=a;
    	//console.log(a)
    	
    	
    function initTable(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/ selectTaskById',
            dataType: 'json',
            data: {
            	id:did
            },
            success: function (json) {
            	//console.log(json)
            	$("#looktaskName").text(json.prjName);
            	$("#looktaskbianhao").text(json.prjNo);
            	$("#lookmoshi").text(json.prjManagementModel);
            	$("#lookgongsi").text(json.prjCompany);
            	$("#lookleixing").text(json.prjType2);
            	$("#lookshejijieduan").text(json.jsPhases);
            	$("#lookyezhudanwei").text(json.prjOwnerUnit);
            	$("#lookjine").text(json.prjEstimateMoney);
            	$("#lookhetonge").text(json.contractMoney);
            	$("#lookzandingjin").text(json.provisionalSum);
            	$("#lookstartTime").text(json.prjStartTime);
            	$("#lookendTime").text(json.prjEndTime);
            	$("#lookzhuban").text(json.mainDepartment);
            	$("#lookzhubanjine").text(json.mainDepartmentMoney);
            	$("#lookxieban1").text(json.assistDepartment1);
            	$("#lookxiebanjine").text(json.assistDepartment1Money);
            	$("#lookxieban2").text(json.assistDepartment2);
            	$("#lookxieban2jine").text(json.assistDepartment2Money);
            	$("#lookxieban3").text(json.assistDepartment3);
            	$("#lookxieban3jine").text(json.assistDepartment3Money);
            	$("#lookgaikuang").text(json.workContent);
            	
            	$("#looklianxibiaoge tbody").empty("");
            	for(var i=0;i<json.enterprise.length;i++){
            		$("#looklianxibiaoge").append("<tr><td>"
											    			+json.enterprise[i].eMan
											    			+"</td><td>"
											    			+json.enterprise[i].eTel
											    			+"</td></tr>")
            	}
            }
        });
    }


    
</script>
</html>