<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        #xinjianCailiao input,#xinjianCailiao2 input{
            width:160px;
        }
        #xinjianCailiao select,#xinjianCailiao2 select{
            width:160px;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>材料采购管理</li>
            <li>项目材料管理</li>
            <li class="active">废旧品处理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL" style="font-size:18px;">
                <select class="form-control" id="prj"></select>
            </div>
            <div class="UpperPartR">
               <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">填报</button>  -->
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document" style="width:70%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>废旧品处理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" >
                            <tr>
                                <td style="width:18%;">采购合同编号 <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:34%;">
                                    <input type="text" class="form-control" style="width:66%;" id="cg_no" disabled>
                                 </td>
                                 <td style="width:18%;">采购合同名称 </td>
                                 <td style="width:30%;">
                                 	<input type="text" class="form-control" style="width:80%;" id="cg_name" disabled>
                                 </td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td>
                                	<input type="text" class="form-control" style="width:66%;" id="prj_no" disabled>
                                </td>
                                <td>项目名称</td>
                                <td>
                                	<input type="text" class="form-control" style="width:80%;" id="prj_name" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td>申请人</td>
                                <td>
                                	<input type="text" class="form-control" style="width:66%;" id="person" disabled>
                                	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addGuanliren">选择申请人</button>
                                </td>
                                <td>申请时间</td>
                                <td><input type="text" class="form-control" style="width:80%;" id="year"></td>
                            </tr>
                            <tr>
                                <td>处理原因</td>
                                <td>
                                    <input type="text" class="form-control" style="width:66%;" id="reason">
                                </td>
                                <td>处理方式</td>
                                <td>
                                    <select class="form-control" style="width:80%;" id="dispose_type">
                                        <option value="废弃">废弃</option>
                                        <option value="折旧">折旧</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>废旧品处理费用</td>
                                <td><input type="text" class="form-control" style="width:66%;" id="dispose_money"></td>
                                <td>备注</td>
                                <td><input type="text" class="form-control" style="width:80%;" id="dispose_desc"></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed"  id="waste_table">
                        	<thead>
                        		<tr>
                        			<th style="width:12%;">材料名称</th>
                        			<th style="width:12%;">材料类型</th>
                        			<th style="width:12%;">规格型号</th>
                        			<th style="width:8%;">单位</th>
                        			<th style="width:8%;">处理数量</th>
                        			<th style="width:9%;">采购单价</th>
                        			<th style="width:10%;">采购金额</th>
                        			<th style="width:15%;">拟折价出售金额</th>
                        			<th style="width:15%;">实际折价出售金额</th>
                        			<!-- <th style="width:7%;">操作</th> -->
                        		</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <!-- <button type="button" class="btn btn-default">保存</button> -->
            <button type="button" class="btn btn-success" id="wasteDispose">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="lookModal">
    <div class="modal-dialog modal-lg" role="document" style="width:70%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>废旧品处理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" >
                            <tr>
                                <td style="width:18%;">采购合同编号 <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td style="width:34%;" id="look_cg_no">
                                 </td>
                                 <td style="width:18%;">采购合同名称 </td>
                                 <td style="width:30%;" id="look_cg_name">
                                 </td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td id="look_prj_no">
                                </td>
                                <td>项目名称</td>
                                <td id="look_prj_name">
                                </td>
                            </tr>
                            <tr>
                                <td>申请人</td>
                                <td id="look_person">
                                </td>
                                <td>申请时间</td>
                                <td id="look_year"></td>
                            </tr>
                            <tr>
                                <td>处理原因</td>
                                <td id="look_reason">
                                </td>
                                <td>处理方式</td>
                                <td id="look_dispose_type">
                                </td>
                            </tr>
                            <tr>
                                <td>废旧品处理费用</td>
                                <td id="look_dispose_money"></td>
                                <td>备注</td>
                                <td id="look_dispose_desc"></td>
                            </tr>
                        </table>
                        <table class="table table-bordered table-condensed"  id="look_waste_table">
                        	<thead>
                        		<tr>
                        			<th style="width:12%;">材料名称</th>
                        			<th style="width:12%;">材料类型</th>
                        			<th style="width:12%;">规格型号</th>
                        			<th style="width:8%;">单位</th>
                        			<th style="width:8%;">处理数量</th>
                        			<th style="width:9%;">采购单价</th>
                        			<th style="width:10%;">采购金额</th>
                        			<th style="width:15%;">拟折价出售金额</th>
                        			<th style="width:15%;">实际折价出售金额</th>
                        		</tr>
                        	</thead>
                        	<tbody></tbody>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <!-- <button type="button" class="btn btn-default">保存</button> -->
            <button type="button" class="btn btn-success" id="wasteDispose">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!--选人 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addGuanliren">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">选择收货人</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div>
                            <span>部门:</span>
                            <select style="width:180px;" id="bumen" class="form-control" >
                                
                            </select>
                            <span>人员:</span>
                            <select style="width:180px;" id="guanliren" class="form-control" >
                                
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveGuanliren()" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
                <div style="overflow-x:scroll;">     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xinjianCailiao2">
                            <tr>
                                <td>项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                        <option value="">123</option>
                                    </select>
                                </td>
                                <td>任务单号</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>材料名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                        <option value="">123</option>
                                    </select>
                                </td>
                                <td>材料类型</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>规格型号</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>单位</td>
                                <td><input type="text" class="form-control" disabled></td>
                                <td>处理数量</td>
                                <td><input type="text" class="form-control"></td>
                                <td>采购价格</td>
                                <td><input type="text" class="form-control" disabled></td>
                            </tr>
                            <tr>
                                <td>采购金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td>申请人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                <td><input type="text" class="form-control"></td>
                                <td>处理原因</td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                        <option value="">123</option>
                                    </select>
                                </td>
                                <td>处理方式</td>
                                <td>
                                    <select class="form-control">
                                        <option value="">123</option>
                                        <option value="">123</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>拟折价出售金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td>备注</td>
                                <td><input type="text" class="form-control"></td>
                                <td>实际折价出售金额</td>
                                <td><input type="text" class="form-control"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
			                <thead>
			                    <tr>
			                        <th>项目名称</th>
			                        <th>任务单号</th>
			                        <th>采购合同名称</th>
			                        <th>采购合同单号</th>
			                        <th>收货人</th>
			                        <th>收货日期</th>
			                        <th>处理结果</th>
			                        <th>操作</th>
			                    </tr>
			                </thead>
                			<tbody>
                			</tbody> 
            			</table>
        </div>
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body" style="overflow-x:scroll;">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>任务单号</th>
                        <th>材料名称</th>
                        <th>材料类型</th>
                        <th>规格型号</th>
                        <th>单位</th>
                        <th>处理数量</th>
                        <th>采购价格</th>
                        <th>采购金额</th>
                        <th>申请人</th>
                        <th>处理原因</th>
                        <th>处理方式</th>
                        <th>拟折价出售金额</th>
                    </tr>
                </thead>
                <tr>
                    <td>111111</td>
                    <td>1111111</td>
                    <td>111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                    <td>11111111111111</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
        laydate.render({
            elem: '#year' //指定元素
        });
    	$('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
    	initDepartment();
    	initPrj();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "pickProject"}, 
		            { "data": "taskNo"}, 
		            { "data": "cgName"}, 
		            { "data": "cgNo"}, 
		            { "data": "getPerson"}, 
		            { "data": "pickDate"}, 
		            { "data": null},
		            { "data": null}
		        ],
		        "columnDefs": [
								{	
									 "class": "tcenter",
									    "targets": 6,
									    "searchable": true,
									    "render": function(data, type, full) {
									    		if(full.disposeStatus==1){
									    			return '<span class="label label-success state">已处理</span>';
									    		}else{
									    			return '<span class="label label-danger state">未处理</span>';
									    		}
									        }
									  },
								{	
										 "class": "tcenter",
										    "targets": 7,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	if(full.disposeStatus==1){
										    		return '<i class="iconfont icon-icon-test" style="font-size:18px;cursor:pointer;" onclick="look(this)" title="查看"></i>';
									    		}else{
									    			return '<i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;margin-left:5px;" title="废旧品处理" onclick="waste(this)"></i>';
									    		}
										    	
										     }
										  }
								],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
  
	});

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

//数组去重
Array.prototype.unique3 = function(){
 var res = [];
 var json = {};
 for(var i = 0; i < this.length; i++){
  if(!json[this[i]]){
   res.push(this[i]);
   json[this[i]] = 1;
  }
 }
 return res;
}

    var arr=[];
    // $('#renwuDanhao')[0].selectedIndex = -1;
    $("#renwuDanhao").change(function(){
        arr.push($("#renwuDanhao").val())
        $("#rwdh").text(arr.unique3())
    })
    var arr2=[];
    // $('#renwuDanhao2')[0].selectedIndex = -1;
    $("#renwuDanhao2").change(function(){
        arr2.push($("#renwuDanhao2").val())
        $("#rwdh2").text(arr2.unique3())
    })
    
    //初始化收货人部门及人员
	function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
	            	$("#bumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
	            	$("#xgbumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
            	}
            	$("#bumen").trigger('change');
	        	$("#xgbumen").trigger('change');
            }
        });
	}
	
	$("#bumen").change(function(){
		var bumen=$("#bumen").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataType:"json",
			async:false,
			data:{ 
				omId:bumen 
			},
			success:function(json){
				$("#guanliren").empty();
				for(var i=0;i<json.length;i++){
					$("#guanliren").append("<option value='" + json[i].userId + "'>"
		                    + json[i].uName + "</option>")
				}
			}
		})
	})
	
	//保存添加收货人
	function saveGuanliren(){
		var bumen=$("#bumen").val();
		var guanliren=$("#guanliren").val();
		$('#addGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		if(guanliren==''){
			toastr.error("人员为空");
			return;
		}
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserById",
			dataType:"json",
			async:false,
			data:{ 
				userId:guanliren 
				},
			success:function(json){
				$("#person").empty('');
				$("#person").val(json.uName);
			}
		})
	}
	
	function initPrj(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#prj").append("<option value='%'>全部</option>")
                for(var i=0;i<json.length;i++){
					$("#prj").append("<option value="+json[i].prjNo+">"+json[i].prjName+"</option>")                	
                }
            	$("#prj").trigger("change");
            }
        });
    }
	
	$("#prj").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/gsMaterialOut/selectCompanyMateriaOutForWaste',
            dataType: 'json',
            data: {
            	no:$("#prj").val()
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    })
    
    var cmoId;
    function waste(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		cmoId=data.cmoId;
		$("#cg_name").val(data.cgName);
		$("#cg_no").val(data.cgNo);
		$("#prj_name").val(data.pickProject);
		$("#prj_no").val(data.taskNo);
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/selectClRemainById',
            dataType: 'json',
            data:{
            	id:cmoId
            },
            success: function (json) {
            	$("#waste_table tbody").html('');
            	for(var i=0;i<json.length;i++){
            		if(json[i].remainNumber>0){
		            	$("#waste_table tbody").append("<tr>"+
		            														"<td>"+json[i].materialName+"</td>"+
		            														"<td>"+json[i].materialType+"</td>"+
		            														"<td>"+json[i].specificationModel+"</td>"+
		            														"<td>"+json[i].cmoUnit+"</td>"+
		            														"<td>"+json[i].remainNumber+"</td>"+
		            														"<td>"+json[i].cmoUnitPrice+"</td>"+
		            														"<td>"+Number(json[i].remainNumber)*Number(json[i].cmoUnitPrice)+"</td>"+
		            														"<td><input type='text' class='form-control' data="+json[i].crId+"></td>"+
		            														"<td><input type='text' class='form-control'></td>"+
		            													"</tr>");
            		}
            	}
            	var length=$("#waste_table tbody").find("tr").length;
        		if(length==0){
        			$("#wasteDispose").attr("disabled",true);
        		}else{
        			$("#wasteDispose").attr("disabled",false);
        		}
            }
        });
		
		$("#myModal").modal("show");
	}
	
	$("#wasteDispose").on("click",function(){
		var CompanyMateriaOut={
				cmoId:undefined,
				disposePerson:undefined,
				disposeTime:undefined,
				disposeReason:undefined,
				disposeType:undefined,
				disposeMoney:0,
				disposeDesc:undefined,
				disposeStatus:1,
				clRemain:undefined
		}
		var disposePerson=$("#person").val();
		var disposeTime=$("#year").val();
		var disposeReason=$("#reason").val();
		var disposeType=$("#dispose_type").val();
		var disposeMoney=$("#dispose_money").val();
		var disposeDesc=$("#dispose_desc").val();
		CompanyMateriaOut.cmoId=cmoId;
		CompanyMateriaOut.disposePerson=disposePerson;
		CompanyMateriaOut.disposeTime=disposeTime;
		CompanyMateriaOut.disposeReason=disposeReason;
		CompanyMateriaOut.disposeType=disposeType;
		CompanyMateriaOut.disposeMoney=disposeMoney;
		CompanyMateriaOut.disposeDesc=disposeDesc;
		
		var ClRemainArray=new Array();
		$("#waste_table tbody").find("tr").each(function(){
			var wasteNum=$(this).find("td").eq(4).text();
			var wasteMoney=$(this).find("td").eq(6).text();
			var wasteWantMoney=$(this).find("input").eq(0).val();
			var crId=$(this).find("input").eq(0).attr("data");
			var wasteActualMoney=$(this).find("input").eq(1).val();
			var reg=/^\+?[1-9][0-9]*$/;
    		if(!reg.test(wasteWantMoney)){
    			toastr.error("请输入拟折价出售金额")
        		return;
    		}
    		if(!reg.test(wasteActualMoney)){
    			toastr.error("请输入实际折价出售金额")
        		return;
    		}
			var ClRemain={
					crId:undefined,					
					wasteNumber:0,
					wasteMoney:0,
					wasteWantMoney:0,
					wasteActualMoney:0,
					remainNumber:0
			}
			ClRemain.crId=crId;
			ClRemain.wasteNumber=wasteNum;
			ClRemain.wasteMoney=wasteMoney;
			ClRemain.wasteWantMoney=wasteWantMoney;
			ClRemain.wasteActualMoney=wasteActualMoney;
			ClRemainArray.push(ClRemain);
		})
		CompanyMateriaOut.clRemain=ClRemainArray;

		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/wasteDispose',
            dataType: 'json',
            contentType:'application/json',
            data:JSON.stringify(CompanyMateriaOut),
            success: function (json) {
                if(json>0){
                	$("#myModal").modal("hide");
                	location.reload([true]);
                	toastr.success("提交成功");
                }else{
                	toastr.error("提交失败")
                }
            }
        });
		
	})
	
	function look(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		$("#look_cg_no").text(data.cgNo);
		$("#look_cg_name").text(data.cgName);
		$("#look_prj_no").text(data.taskNo);
		$("#look_prj_name").text(data.pickProject);
		$("#look_person").text(data.disposePerson);
		$("#look_year").text(data.disposeTime);
		$("#look_reason").text(data.disposeReason);
		$("#look_dispose_type").text(data.disposeType);
		$("#look_dispose_money").text(data.disposeMoney);
		$("#look_dispose_desc").text(data.disposeDesc);
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/selectClRemainById',
            dataType: 'json',
            data:{
            	id:data.cmoId
            },
            success: function (json) {
            	console.log(json)
            	$("#look_waste_table tbody").html('');
            	for(var i=0;i<json.length;i++){
            		if(json[i].wasteNumber>0){
		            	$("#look_waste_table tbody").append("<tr>"+
		            														"<td>"+json[i].materialName+"</td>"+
		            														"<td>"+json[i].materialType+"</td>"+
		            														"<td>"+json[i].specificationModel+"</td>"+
		            														"<td>"+json[i].cmoUnit+"</td>"+
		            														"<td>"+json[i].wasteNumber+"</td>"+
		            														"<td>"+json[i].cmoUnitPrice+"</td>"+
		            														"<td>"+json[i].wasteMoney+"</td>"+
		            														"<td>"+json[i].wasteWantMoney+"</td>"+
		            														"<td>"+json[i].wasteActualMoney+"</td>"+
		            													"</tr>");
            		}
            	}
            }
        });
		
		$("#lookModal").modal("show");
	}

</script>
</html>