<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li class="active">分包合同付款</li>
		</ul>
    </div>

    <div class="zhuti-content">
         <table class="table table-bordered table-condensed">
                        <tr>
                            <td>分包合同名称</td>
                            <td id="lookhetongming"></td>
                            <td>分包合同编号</td>
                            <td id="lookhetonghao"></td>
                        </tr>
                        <tr>
                            <td style="width:100px;">付款单号</td>
                            <td id="lookfukuandanhao"></td>
                            <td>合同金额(万元)</td>
                            <td id="lookhetongMoney"></td>
                        </tr>
                        <tr>
                            <td>已开票金额(万元)</td>
                            <td id="lookyikaipiaoMoney"></td>
                            <td>本次开票金额(万元)</td>
                            <td id="lookthiskaipiaoMoney"></td>
                        </tr>
                        <tr>
                            <td>主合同名称</td>
                            <td id="lookzhuhetongming"></td>
                            <td>主合同号</td>
                            <td id="lookzhuhetongNo"></td>
                        </tr>
                        <tr>
                            <td>主合同金额(万元)</td>
                            <td id="lookzhuhetongMoney"></td>
                            <td>项目名称</td>
                            <td id="lookxiangmuming"></td>
                        </tr>
                        <tr>
                            <td>任务单号</td>
                            <td id="lookrenwudanhao"></td>
                            <td>合同进度</td>
                            <td id="lookhetongjindu"></td>
                        </tr>
                        <tr>
                            <td>是否进行合同履约结算</td>
                            <td id="lookisjinxinghetongjiesuan"></td>
                            <td>合同履约结算金额(万元)</td>
                            <td id="lookhetongjiesuanMoney"></td>
                        </tr>
                        <tr>
                            <td>已累计付款金额(万元)</td>
                            <td id="lookyileijinfuMoney"></td>
                            <td>付款申请代垫款(万元)</td>
                            <td id="lookdaidianMoney"></td>
                        </tr>
                        <tr>
                            <td>本次申请付款(万元)</td>
                            <td id="lookbencishenqingfukuan"></td>
                            <td>付款性质</td>
                            <td id="lookfukuantype"></td>
                        </tr>
                        <!-- <tr>
                            <td>收款单位</td>
                            <td id="lookshoukuandanwei"></td>
                            <td>本次实际付款(万元)</td>
                            <td id="lookbencishijifukuan"></td>
                        </tr> -->
                        <tr>
                            <td>付款单说明</td>
                            <td id="lookfukuandanshuoming"></td>
                            <td>编制人</td>
                            <td id="lookuserSignetMan"></td>
                        </tr>
                        <tr>
                            <td>编制时间</td>
                            <td id="lookyear"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- <tr>
                            <td>开票附件</td>
                            <td>gdsaga</td>
                            <td>附件上传</td>
                            <td>agdhsds</td>
                        </tr> -->
                    </table> 
                    <table class="table table-bordered table-condensed" id="look_accessory1">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">开票附件  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_accessory2">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">附件上传  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_accessory3">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">法律顾问签字  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    
                    <!-- 历史信息表格 -->
				    <!-- <table style="width:100%;" class="table table-bordered table-condensed" id="lookHistory">
                        <thead>
                            <tr>
                                <th colspan="6">历史信息</th>
                            </tr>
                            <tr>
                                <td>付款单号</td>
                                <td>分包合同号</td>
                                <td>分包合同名称</td>
                                <td>分包合同金额(万元)</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table> -->
        
    </div>
<!-- 历史详细信息 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="History">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>历史所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td>分包合同名称</td>
                            <td id="Historyhetongming"></td>
                            <td>分包合同编号</td>
                            <td id="Historyhetonghao"></td>
                        </tr>
                        <tr>
                            <td style="width:100px;">付款单号</td>
                            <td id="Historyfukuandanhao"></td>
                            <td>合同金额(万元)</td>
                            <td id="HistoryhetongMoney"></td>
                        </tr>
                        <tr>
                            <td>已开票金额(万元)</td>
                            <td id="HistoryyikaipiaoMoney"></td>
                            <td>本次开票金额(万元)</td>
                            <td id="HistorythiskaipiaoMoney"></td>
                        </tr>
                        <tr>
                            <td>主合同名称</td>
                            <td id="Historyzhuhetongming"></td>
                            <td>主合同号</td>
                            <td id="HistoryzhuhetongNo"></td>
                        </tr>
                        <tr>
                            <td>主合同金额(万元)</td>
                            <td id="HistoryzhuhetongMoney"></td>
                            <td>项目名称</td>
                            <td id="Historyxiangmuming"></td>
                        </tr>
                        <tr>
                            <td>任务单号</td>
                            <td id="Historyrenwudanhao"></td>
                            <td>合同进度</td>
                            <td id="Historyhetongjindu"></td>
                        </tr>
                        <tr>
                            <td>是否进行合同履约结算</td>
                            <td id="Historyisjinxinghetongjiesuan"></td>
                            <td>合同履约结算金额(万元)</td>
                            <td id="HistoryhetongjiesuanMoney"></td>
                        </tr>
                        <tr>
                            <td>已累计付款金额(万元)</td>
                            <td id="HistoryyileijinfuMoney"></td>
                            <td>付款申请代垫款(万元)</td>
                            <td id="HistorydaidianMoney"></td>
                        </tr>
                        <tr>
                            <td>本次申请付款(万元)</td>
                            <td id="Historybencishenqingfukuan"></td>
                            <td>付款性质</td>
                            <td id="Historyfukuantype"></td>
                        </tr>
                        <!-- <tr>
                            <td>收款单位</td>
                            <td id="Historyshoukuandanwei"></td>
                            <td>本次实际付款(万元)</td>
                            <td id="Historybencishijifukuan"></td>
                        </tr> -->
                        <tr>
                            <td>付款单说明</td>
                            <td id="Historyfukuandanshuoming"></td>
                            <td>编制人</td>
                            <td id="HistoryuserSignetMan"></td>
                        </tr>
                        <tr>
                            <td>编制时间</td>
                            <td id="Historyyear"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table> 
                    <table class="table table-bordered table-condensed" id="History_accessory1">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">开票附件  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="History_accessory2">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">附件上传  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="History_accessory3">
                    	<thead>
                        		<tr>
                                	<td style="width:15%;">法律顾问签字  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                                	<td colspan="3"></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>


</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   
   
	//查看详细信息
	var payCode;
	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/pay/selectPayById2',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	data=json
	        	payCode=data.payCode;
				//initHistoryPay();
				
				$("#lookhetongming").text(data.contractName);
				$("#lookhetonghao").text(data.contractNo);
				$("#lookfukuandanhao").text(data.payCode);
				$("#lookhetongMoney").text(data.contractMoney);
				$("#lookyikaipiaoMoney").text(data.alreadyKpMoney);
				$("#lookthiskaipiaoMoney").text(data.thisTimeKpMoney);
				$("#lookzhuhetongming").text(data.mainContractName);
				$("#lookzhuhetongNo").text(data.mainContractCode);
				$("#lookzhuhetongMoney").text(data.mainContractMoney);
				$("#lookxiangmuming").text(data.prjName);
				$("#lookrenwudanhao").text(data.prjListCode);
				$("#lookhetongjindu").text(data.fbContractSchedule);
				$("#lookisjinxinghetongjiesuan").text(data.ifContractDoCost);
				$("#lookhetongjiesuanMoney").text(data.contractDoCostMoney);
				$("#lookyileijinfuMoney").text(data.alreadyAccumulateMoney);
				$("#lookdaidianMoney").text(data.generationAdvancesMoney)
				$("#lookbencishenqingfukuan").text(data.thisTimeAskMoney);
				$("#lookfukuantype").text(data.payMethod);
				$("#lookfukuandanshuoming").text(data.payListExplain);
				$("#lookyear").text(data.compilerTime);
				$("#lookuserSignetMan").text(data.uName);
				
				
				$.ajax({
					type:"post",
					url:getContextPath()+"/pay/selectAccessoryById",
					dataType:"json",
					async:false,
					data:{
						id:data.payId,
					},
					success:function(json){
						console.log(json);
						$("#look_accessory1 tbody").empty();
						$("#look_accessory2 tbody").empty();
						$("#look_accessory3 tbody").empty();
			            for(var i=0;i<json.length;i++){
			            	   if(json[i].aType=="开票附件"){
				            	   $("#look_accessory1 tbody").append("<tr>"+
											"<td>附件</td>"+
						         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
						         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
						         	    "</tr>");
			            	   }
			            	   if(json[i].aType=="附件上传"){
				            	   $("#look_accessory2 tbody").append("<tr>"+
											"<td>附件</td>"+
						         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
						         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
						         	    "</tr>");
			            	   }
			            	   if(json[i].aType=="法律顾问签字"){
				            	   $("#look_accessory3 tbody").append("<tr>"+
											"<td>附件</td>"+
						         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
						         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
						         	    "</tr>");
			            	   }
			               }
					}
				})
				
	        }
	    });
		
	}
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	//初始化历史信息列表
	function initHistoryPay(){
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/pay/selectHistoryBypayCode',
	            dataType: 'json',
	            data: {
	            	payCode:payCode,
	            },
	            error: function (msg) {
	                errMessage("请求失败");
	            },
	            success: function (json) {
	            	//console.log(json)
	                $('#lookHistory').dataTable().fnClearTable();
	                $('#lookHistory').DataTable().rows.add(json).draw(false);
	            }
	        });
	}
	
	//查看历史的详细信息
	function lookHistoryPay(obj){
		//$("#allMsg1").modal('hide')
		var dom=$(obj).parents('tr');
		var data=$('#lookHistory').DataTable().row(dom).data();
		console.log(data)
		$('#History').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        }) 
		
		$("#Historyhetongming").text(data.contractName);
		$("#Historyhetonghao").text(data.contractNo);
		$("#Historyfukuandanhao").text(data.payCode);
		$("#HistoryhetongMoney").text(data.contractMoney);
		$("#HistoryyikaipiaoMoney").text(data.alreadyAccumulateMoney);
		$("#HistorythiskaipiaoMoney").text(data.thisTimeKpMoney);
		$("#Historyzhuhetongming").text(data.mainContractName);
		$("#HistoryzhuhetongNo").text(data.mainContractCode);
		$("#HistoryzhuhetongMoney").text(data.mainContractMoney);
		$("#Historyxiangmuming").text(data.prjName);
		$("#Historyrenwudanhao").text(data.prjListCode);
		$("#Historyhetongjindu").text(data.fbContractSchedule);
		$("#Historyisjinxinghetongjiesuan").text(data.ifContractDoCost);
		$("#HistoryhetongjiesuanMoney").text(data.contractDoCostMoney);
		$("#HistoryyileijinfuMoney").text(data.alreadyAccumulateMoney);
		$("#HistorydaidianMoney").text(data.generationAdvancesMoney)
		$("#Historybencishenqingfukuan").text(data.thisTimeAskMoney);
		$("#Historyfukuantype").text(data.payMethod);
		$("#Historyshoukuandanwei").text(data.receieveMoneyCompany);
		$("#Historybencishijifukuan").text(data.thisTimeActualPayMoney);
		$("#Historyfukuandanshuoming").text(data.payListExplain);
		$("#Historyyear").text(data.compilerTime);
		$("#HistoryuserSignetMan").text(data.uName);
		
		$.ajax({
			type:"post",
			url:getContextPath()+"/subcontract/selectAccessoryById",
			dataType:"json",
			async:false,
			data:{
				id:data.payId,
			},
			success:function(json){
				console.log(json);
				$("#History_accessory1 tbody").empty();
				$("#History_accessory2 tbody").empty();
				$("#History_accessory3 tbody").empty();
	            for(var i=0;i<json.length;i++){
	            	   if(json[i].aType=="开票附件"){
		            	   $("#History_accessory1 tbody").append("<tr>"+
									"<td>附件</td>"+
				         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
				         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
				         	    "</tr>");
	            	   }
	            	   if(json[i].aType=="附件上传"){
		            	   $("#History_accessory2 tbody").append("<tr>"+
									"<td>附件</td>"+
				         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
				         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
				         	    "</tr>");
	            	   }
	            	   if(json[i].aType=="法律顾问签字"){
		            	   $("#History_accessory3 tbody").append("<tr>"+
									"<td>附件</td>"+
				         	    	"<td ><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
				         	    	"<td style='width:150px;'><button type='button' class='btn btn-primary' data1='"+json[i].aId+"' data2='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
				         	    "</tr>");
	            	   }
	               }
			}
		})
		

		
	}
	
	
	
	
	//添加开票附件
	function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td><input type='file' name='file1' id='file1' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	
	//添加附件上传
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td><input type='file' name='file2' id='file2' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	//添加附件上传
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td><input type='file' name='file3' id='file3' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	
	function xgaddFile1(){
		$("#edit_accessory1 tbody").append("<tr><td>新附件</td><td><input type='file' name='file1' id='xgfile1' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	
	function xgaddFile2(){
		$("#edit_accessory2 tbody").append("<tr><td>新附件</td><td><input type='file' name='file2' id='xgfile2' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	function xgaddFile3(){
		$("#edit_accessory3 tbody").append("<tr><td>新附件</td><td><input type='file' name='file3' id='xgfile3' style='width:70%;' class='form-control'></td><td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td></tr>");
	}
	
	function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}
	

    
    function chooseFb(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/subcontract/getFBNameAndNo',
            dataType: 'json',
            async:false,
            data: {
            },
            success: function (json) {
                $('#fb_table').dataTable().fnClearTable();
                $('#fb_table').DataTable().rows.add(json).draw(false);
            }
        });
    	$("#choose_fb").modal("show");
    	$('#choose_fb').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
    }

    
    function chooseFb2(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/subcontract/getFBNameAndNo',
            dataType: 'json',
            async:false,
            data: {
            },
            success: function (json) {
                $('#fb_table2').dataTable().fnClearTable();
                $('#fb_table2').DataTable().rows.add(json).draw(false);
            }
        });
    	$("#choose_fb2").modal("show");
    	$('#choose_fb2').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
    }

    function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
    
</script>
</html>