<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
			<li class="active">施工项目核算</li>
		</ul>
    </div>

    <div class="zhuti-content">
        	<form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                            	<td>项目名称</td>
                            	<td id="look_prj_name"></td>
                            	<td>任务单号</td>
                            	<td id="look_prj_no"></td>
                            </tr>
                            <tr>
                            	<td>业主单位</td>
                            	<td id="look_yezhudanwei"></td>
                            	<td>承接部门</td>
                            	<td id="look_cj_bumen"></td>
                            </tr>
                            <tr>
                            	<td>项目管理负责人</td>
                            	<td id="look_prj_leader"></td>
                            	<!-- <td>项目管理团队</td>
                            	<td></td> -->
                            	<td>项目结算金额(元)</td>
                            	<td id="look_prj_js_money"></td>
                            </tr>
                            <tr>
                            	<td>合同结算金额(元)</td>
                            	<td id="look_contract_js_money"></td>
                            	<td>项目核算单编号</td>
                            	<td id="look_hsNo"></td>
                            </tr>
                        </table>
						
						
						<table class="table table-bordered table-condensed" id="">
	                        <thead>
	                    		<tr>
		                            <th colspan="6">直接成本</th>
	                        	</tr>
	                        	<tr>
		                            <th style="width:20%;">科目</th>
		                            <th colspan="2">预算金额(元)</th>
		                            <th colspan="2">结算金额(元)</th>
	                        	</tr>
	                        </thead>
	                        <tbody>
	                        	<tr>
	                        		<td style="width:20%;">分包</td>
	                        		<td style="width:20%;">预算(元)</td>
	                        		<td style="width:20%;" id="look_fb_ys_money"></td>
	                        		<td style="width:20%;">结算(元)</td>
	                        		<td style="width:20%;" id="look_fb_js_money"></td>
	                        	</tr>
	                        	<tr>
	                        		<td>主材</td>
	                        		<td>预算(元)</td>
	                        		<td id="look_main_ys_money"></td>
	                        		<td>结算(元)</td>
	                        		<td id="look_main_js_money"></td>
	                        	</tr>
	                        	<tr>
	                        		<td>项目其他直接成本</td>
	                        		<td>预算(元)</td>
	                        		<td id="look_other_ys_money"></td>
	                        		<td>实际(元)</td>
	                        		<td id="look_other_js_money"></td>
	                        	</tr>
	                        	<tr>
	                        		<td>检测二部直接成本</td>
	                        		<td></td>
	                        		<td ></td>
	                        		<td class="jinqianyanse">实际(元)</td>
	                        		<td id="look_jc2_sj_money"></td>
	                        	</tr>
	                        </tbody>
	                        <tfoot>
	                        	<tr>
	                        		<td style="width:20%;">直接成本小计</td>
	                        		<td style="width:20%;">预算小计(元)</td>
	                        		<td  id="look_ys_xiaoji"></td>
	                        		<td  style="width:20%;">核算小计(元)</td>
	                        		<td  id="look_hs_xiaoji" ></td>
	                        	</tr>
	                        </tfoot>
                     </table>
                    
	                    <table class="table table-bordered table-condensed" id="">
		                        <thead>
		                            <tr>
		                                <th colspan="6">间接成本</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                        	<tr>
		                        		<td style="width:16%;">项目人员薪酬(元)</td>
		                        		<td style="width:17%;" id="look_prj_xinchou"></td>
		                        		<td style="width:16%;">折旧费用(元)</td>
		                        		<td style="width:17%;" id="look_zhejiu_fy" ></td>
		                        		<td style="width:16%;">间接成本小计(元)</td>
		                        		<td style="width:18%;" colspan="5" id="look_jjchengbenxj"></td>
		                        	</tr>
		                        </tbody>
		                        <tfoot>
		                        </tfoot>
	                     </table>
                     
                     <table class="table table-bordered table-condensed" id="">
		                        <thead>
		                            <tr>
		                                <th colspan="6">其他摊销费用</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr>
		                        		<td style="width:20%;">公司管理费用(元)</td>
		                        		<td id="look_gsgl_fy"></td>
		                        		<td style="width:20%;">公司销售费用(元)</td>
		                        		<td id="look_gsxs_fy"></td>
		                        	</tr>
		                        	<tr>
		                        		<td style="width:20%;">其他摊销费用(元)</td>
		                        		<td id="look_othertx_fy"></td>
		                        		<td style="width:20%;">其他摊销费用小计(元)</td>
		                        		<td colspan="5" id="look_qitafeiyongxiaoji"></td>
		                        	</tr>
		                        </tbody>
		                        <tfoot>
		                        </tfoot>
	                     </table>
                     
                     <table class="table table-bordered table-condensed" id="lookfyyusuan3">
	                        <thead>
	                            <tr>
	                                <th>总成本(元)</th>
	                                <th colspan="5" id="look_zongchengben"></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                  <td style="width:19%;">结算利润(元)</td>
		                              <td id="look_all_jslirun"></td>
		                              <td>预算利润(元)</td>
		                              <td id="look_all_yslirun"></td>
	                            </tr>
	                            <tr>
	                                  <td>结算利润率</td>
		                              <td id="look_all_jslirunlv"></td>
		                              <td>预算利润率</td>
		                              <td id="look_all_yslirunlv"></td>
	                            </tr>
	                        </tbody>
                      </table>
                      <table class="table table-bordered" id="look_renyuan">
                            <thead>
                                <tr>
                                    <th colspan="4">项目管理团队</th>
                                </tr>
                                    <tr>
                                        <th>人员</th>
                                        <th>分类</th>
                                        <th>工时</th>
                                    </tr>
                            </thead>
                            <tbody>
	                            
                            </tbody>
                        </table>
                     
                    </form>
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
	
	
	function initTable(){
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/projectaccounting/getProjectAccountingById',
            dataType: 'json',
            data:{
            	id:id,
            },
            success: function (json) {
            	$("#look_prj_name").text(json.prjName)
            	$("#look_prj_no").text(json.prjNo)
            	$("#look_yezhudanwei").text(json.yezhu)
            	$("#look_cj_bumen").text(json.cjDepartment)
            	$("#look_prj_leader").text(json.prjLeader)
            	$("#look_prj_js_money").text(json.prjJsMoney)
            	$("#look_contract_js_money").text(json.contractJsMoney)
            	$("#look_hsNo").text(json.hsNo)
            	$("#look_fb_ys_money").text(json.zjFbYsMoney)
            	$("#look_fb_js_money").text(json.zjFbJsMoney)
            	$("#look_main_ys_money").text(json.zjZcYsMoney)
            	$("#look_main_js_money").text(json.zjZcJsMoney)
            	$("#look_other_ys_money").text(json.zjPrjotherYsMoney)
            	$("#look_other_js_money").text(json.zjPrjotherJsMoney)
            	$("#look_jc2_sj_money").text(json.jcSjMoney)
            	$("#look_ys_xiaoji").text(Number(json.zjFbYsMoney)+Number(json.zjZcYsMoney)+Number(json.zjPrjotherYsMoney))
            	$("#look_hs_xiaoji").text(Number(json.zjFbJsMoney)+Number(json.zjZcJsMoney)+Number(json.zjPrjotherJsMoney)+Number(json.jcSjMoney))
            	$("#look_prj_xinchou").text(json.jjPersonMoney)
            	$("#look_zhejiu_fy").text(json.jjZhejiuMoney)
            	$("#look_jjchengbenxj").text(Number(json.jjPersonMoney)+Number(json.jjZhejiuMoney))
            	$("#look_gsgl_fy").text(json.qtGsGlMoney)
            	$("#look_gsxs_fy").text(json.qtGsXsMoney)
            	$("#look_othertx_fy").text(json.qtTxMoney)
            	$("#look_qitafeiyongxiaoji").text(Number(json.qtGsGlMoney)+Number(json.qtGsXsMoney)+Number(json.qtTxMoney))
            	$("#look_zongchengben").text(json.allSubtotal)
            	$("#look_all_jslirun").text(json.allJsProfit)
            	$("#look_all_yslirun").text(json.allYsProfit)
            	$("#look_all_jslirunlv").text(json.allJsProfitMargin)
            	$("#look_all_yslirunlv").text(json.allYsProfitMargin)
            	
            	//人员工时
           		$("#look_renyuan tbody").empty();
            	if(json.projectAccountingRg!=null){
            		for(var i=0;i<json.projectAccountingRg.length;i++){
            			$("#look_renyuan tbody").append("<tr><td>"
				    			+json.projectAccountingRg[i].name
				    			+"</td><td>"
				    			+json.projectAccountingRg[i].type
				    			+"</td><td>"
				    			+json.projectAccountingRg[i].workHours
				    			+"</td></tr>")
            		}
            	}
            	
            }
        });
	}
	
	
    
</script>
</html>