<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
			<li class="active">联营合同审签</li>
		</ul>
    </div>

    <div class="zhuti-content">
        	<form class="form-inline" method="post" id="" enctype="multipart/form-data">
	                    	<table class="table table-bordered table-condensed">
			                    	<thead>
			                    		<tr>
			                    			<th colspan="4">项目基本信息</th>
			                    		</tr>
			                    	</thead>
			                    	<tbody>
				                    	<tr>
		                            		<td style="width:15%;">项目名称</td>
		                            		<td style="width:35%;" id="look_prj_name"></td>
		                            		<td style="width:15%;">任务单号</td>
		                            		<td style="width:35%;" id="look_prj_no"></td>
		                            	</tr>
		                            	<tr>
		                            		<td>项目地区</td>
		                            		<td id="look_prj_area"></td>
		                            		<td>承接合同金额</td>
		                            		<td id="look_contract_money"></td>
		                            	</tr>
		                            	<tr>
		                            		<td>合同承接单位</td>
		                            		<td id="look_cj_danwei"></td>
		                            		<td>承接合同编号</td>
		                            		<td id="look_cj_contract_no"></td>
		                            	</tr>
		                            	<tr>
		                            		<td>项目类型</td>
		                            		<td id="look_prj_type"></td>
		                            		<td>业主单位</td>
		                            		<td id="look_yezhu"></td>
		                            	</tr>
			                    	</tbody>
	                    	</table>
	                        <table class="table table-bordered table-condensed">
	                            	<thead>
			                    		<tr>
			                    			<th colspan="4">业主单位基本信息</th>
			                    		</tr>
			                    	</thead>
			                    	<tbody>
				                    		<tr>
			                            		<td style="width:25%;">联营单位</td>
			                            		<td style="width:35%;" id="look_ly_danwei"></td>
			                            		<td style="width:15%;">社会统一代码</td>
			                            		<td style="width:25%;" id="look_sh_code"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>资质证书</td>
			                            		<td colspan="3" id="look_zz_zs"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>安全生产许可证有效期</td>
			                            		<td colspan="3" id="look_aq_zs"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>安全生产许可证有效期附件</td>
			                            		<td colspan="2" id="look_aq_zs_file"></td>
			                            		<td></td>
			                            	</tr>
			                            	<tr>
			                            		<td>开户许可证</td>
			                            		<td colspan="3" id="look_kh_zs"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>开户许可证附件</td>
			                            		<td colspan="2" id="look_kh_zs_file"></td>
			                            		<td></td>
			                            	</tr>
			                            	<tr>
			                            		<td>开户行</td>
			                            		<td id="look_bank_name"></td>
			                            		<td></td>
			                            		<td></td>
			                            	</tr>
			                    	</tbody>
	                        </table>
	                        <table class="table table-bordered table-condensed">
	                            	<thead>
			                    		<tr>
			                    			<th colspan="4">分包信息</th>
			                    		</tr>
			                    	</thead>
			                    	<tbody>
			                    			<tr>
			                            		<td style="width:25%;">分包内容</td>
			                            		<td colspan="3" style="width:35%;" id="look_fb_info"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>分包内容附件</td>
			                            		<td colspan="2" id="look_fb_info_file"></td>
			                            		<td></td>
			                            	</tr>
			                            	<tr>
			                            		<td style="width:25%;">合同形式</td>
			                            		<td style="width:35%;" id="look_contract_type"></td>
			                            		<td style="width:15%;">管理费率</td>
			                            		<td style="width:25%;" id="look_gl_fl"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>其他约定</td>
			                            		<td id="look_qt_yd"></td>
			                            		<td>分包金额</td>
			                            		<td id="look_fb_je"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>支付时间</td>
			                            		<td id="look_pay_time"></td>
			                            		<td>履约保证金形式</td>
			                            		<td id="look_lv_bzj_type"></td>
			                            	</tr>
			                            	<tr>
			                            		<td>履约保证金金额</td>
			                            		<td id="look_lv_bzj"></td>
			                            		<td></td>
			                            		<td></td>
			                            	</tr>
			                    	</tbody>
	                        </table>
                    </form>
    </div>



</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script>
    $(document).ready( function () {
    	lookBc();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
    id=GetQueryString("prjId");
	
    
	function lookBc(){
		
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/LianYing/selectLianYingById',
            dataType: 'json',
            data:{
          	  id:id
            },
            success: function (json) {
            	var data=json;
            	var accessory=json.accessory;
            	for(var i=0;i<accessory.length;i++){
            		if(accessory[i].aType=='资质证书'){
            			$("#look_zz_zs").parent("tr").after('<tr>'+
                        		'<td>资质证书附件</td>'+
                        		"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+accessory[i].acUrl+"' target='view_window' style='color:blue;'>"+accessory[i].acName+"</a></td>"+
                        		'<td></td>'+
                        	'</tr>')
            		}
					if(accessory[i].aType=='安全生产许可证有效期'){
						$("#look_aq_zs_file").append("<a href='"+getLocalPath()+"/oa_file/"+accessory[i].acUrl+"' target='view_window' style='color:blue;'>"+accessory[i].acName+"</a>")
					}
					if(accessory[i].aType=='开户许可证'){
						$("#look_kh_zs_file").append("<a href='"+getLocalPath()+"/oa_file/"+accessory[i].acUrl+"' target='view_window' style='color:blue;'>"+accessory[i].acName+"</a>")
					}
					if(accessory[i].aType=='分包内容'){
						$("#look_fb_info_file").append("<a href='"+getLocalPath()+"/oa_file/"+accessory[i].acUrl+"' target='view_window' style='color:blue;'>"+accessory[i].acName+"</a>")
					}
            	}
            	
            	$("#look_prj_name").text(data.prjName);
        		$("#look_prj_no").text(data.prjNo);
        		$("#look_prj_area").text(data.prjArea);
        		$("#look_contract_money").text(data.contractMoney);
        		$("#look_cj_danwei").text(data.contractNameYi);
        		$("#look_cj_contract_no").text(data.prjName);
        		$("#look_prj_type").text(data.prjType2);
        		$("#look_yezhu").text(data.ccName);
        		$("#look_ly_danwei").text(data.lyUnitName);
        		$("#look_sh_code").text(data.uniformCode);
        		$("#look_zz_zs").text(data.certifications);
        		$("#look_aq_zs").text(data.safetyCertificateInfo);
        		$("#look_kh_zs").text(data.openingAccounts);
        		$("#look_bank_name").text(data.openingBank);
        		$("#look_fb_info").text(data.fbInfo);
        		$("#look_contract_type").text(data.contractType);
        		$("#look_gl_fl").text(data.managementFee);
        		$("#look_qt_yd").text(data.otherFee);
        		$("#look_fb_je").text(data.fbMoney);
        		$("#look_pay_time").text(data.payTime);
        		$("#look_lv_bzj_type").text(data.pbType);
        		$("#look_lv_bzj").text(data.pbMoney);
            }
        }); 
		
	}
	
	
	function downloadFile(obj){
		var url=$(obj).parents("tr").find("input").eq(0).attr("data");
		var name=$(obj).parents("tr").find("input").eq(0).val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}

</script>
</html>