<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css"> 
    <style lang="">
        
    </style>
</head>
<body>

<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>材料采购管理</li>
			<li class="active">采购合同管理</li>
		</ul>
    </div>
    
    
    <div class="zhuti-content">
    			<table class="table table-bordered table-condensed">
                        <tr>
                            <td style="width:15%;">采购合同名称</td>
                            <td style="width:35%;" id="lookcghetongming"></td>
                            <td style="width:15%;">采购合同编号</td>
                            <td style="width:35%;" id="lookcgNo"></td>
                        </tr>
                        <tr>
                        	<td>采购单号</td>
                            <td id="lookcgdNo"></td>
                            <td style="width:100px;">采购合同类型</td>
                            <td id="lookcgType"></td>
                        </tr>
                        <tr>
                            <td>项目名称</td>
                            <td id="lookprjName"></td>
                            <td>任务单号</td>
                            <td id="looktask_no"></td>
                        </tr>
                        <tr>
                            <td>是否代购</td>
                            <td id="lookisdaigou"></td>
                            <td>分包合同</td>
                            <td id="lookfbhetong"></td>
                        </tr>
                        <tr>
                        	<td>借款合同号</td>
                        	<td id="lookborrow_no"></td>
                            <td>代购类型</td>
                            <td id="lookdaigouType"></td>
                        </tr>
                        <tr>
                            <td class="jinqianyanse">代购金额(元)</td>
                            <td id="lookdaigouMoney"></td>
                            <td class="jinqianyanse">采购合同金额(元)</td>
                            <td id="lookcghetongMoney"></td>
                        </tr>
                        <tr>
                            <td>合同甲方名称</td>
                            <td id="lookjiafang"></td>
                            <td>乙方</td>
                            <td id="lookyifang"></td>
                        </tr>
                        <tr>
                            <td>付款方式</td>
                            <td id="lookfukuanfangshi"></td>
                            <td>采购合同签订时间</td>
                            <td id="lookyear"></td>
                        </tr>
                        <tr>
                            <td>采购部门</td>
                            <td id="lookcg_bumen"></td>
                           	<td class="jinqianyanse">运费(元)</td>
                           	<td id="lookyunfei"></td>
                         </tr> 
                        <tr>
                            <td>采购合同概述</td>
                            <td colspan="3" id="lookcghetonggaishu"></td>
                        </tr>
                        <!-- <tr>
                            <td>主要概况及工作内容</td>
                            <td colspan="3" id="lookgaikuang"></td>
                        </tr> -->
                    </table>
                    <table class="table table-bordered table-condensed"  id="look_all_table">
				                        		
				    </table>
				    
				    
				    <div id="lookcailiaobiaoDiv">
				    
                    </div>
				    
				    <!-- 历史信息表格 -->
				    <!-- <table style="width:100%;" class="table table-bordered table-condensed" id="lookHistory">
                        <thead>
                            <tr>
                                <th colspan="6">历史信息</th>
                            </tr>
                            <tr>
                                <td>采购合同编号</td>
                                <td>采购合同名称</td>
                                <td>合同类型</td>
                                <td>修改时间</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table> -->
                    
                    
                    <!-- <table class="table table-bordered table-condensed">
                        <tr>
                            <td>采购合同名称</td>
                            <td id="Historycghetongming"></td>
                            <td style="width:100px;">采购合同编号</td>
                            <td id="HistorycgNo"></td>
                        </tr>
                        <tr>
                        	<td style="width:100px;">采购单号</td>
                            <td id="HistorycgdNo"></td>
                             <td style="width:100px;">采购合同类型</td>
                            <td id="HistorycgType"></td>
                        </tr>
                        <tr>
                            <td>项目名称</td>
                            <td id="HistoryprjName"></td>
                            <td>任务单号</td>
                            <td id="Historytask_no"></td>
                        </tr>
                        <tr>
                        	<td>是否代购</td>
                            <td id="Historyisdaigou"></td>
                            <td>分包合同</td>
                            <td id="Historyfbhetong"></td>
                        </tr>
                        <tr>
                            <td>代购类型</td>
                            <td id="HistorydaigouType"></td>
                            <td>代购金额(元)</td>
                            <td id="HistorydaigouMoney"></td>
                        </tr>
                        <tr>
                            <td>采购合同金额(元)</td>
                            <td id="HistorycghetongMoney"></td>
                            <td>合同甲方名称</td>
                            <td id="Historyjiafang"></td>
                        </tr>
                        <tr>
                            <td>乙方</td>
                            <td id="Historyyifang"></td>
                            <td>付款方式</td>
                            <td id="Historyfukuanfangshi"></td>
                        </tr>
                        <tr>
                            <td>采购合同签订时间</td>
                            <td id="Historyyear"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>采购合同概述</td>
                            <td colspan="3" id="Historycghetonggaishu"></td>
                        </tr>
                        <tr>
                            <td>主要概况及工作内容</td>
                            <td colspan="3" id="Historygaikuang"></td>
                        </tr>
                    </table> -->
                    
                    <!-- <div id="HistorycailiaobiaoDiv">
				    
                    </div>
                    
                    <table class="table table-bordered table-condensed"  id="History_all_table">
				                        		
				    </table>
				    <table class="table table-bordered table-condensed"  id="History_all_table1">
				                        		
				    </table> -->
     </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
    
	 function GetQueryString(name){
       var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
       var r = window.location.search.substr(1).match(reg);
       if(r!=null)return  unescape(r[2]); return null;
  }
	// 调用方法
  	id=GetQueryString("prjId");
  	//console.log(id)
	var cgNo;
	function initTable(){
		//console.log(data)
			$.ajax({
			type:"post",
			url:getContextPath()+"/cgcontract/selectCgContractById",
			dataType:"json",
			data:{
				id:id,
			},
			success:function(json){
				$("#lookcghetongming").text(json.contractName==null?"":json.contractName);
				var lookcgNoClick = '<a href="../chankanxiangqing/cgContractDetails.html?cgNo='
	    			+json.cgNo
	    			+'" target="_blank" style="color:blue;">'+json.cgNo+'</a>';	
	    		$("#lookcgNo").append(lookcgNoClick);	
				//$("#lookcgNo").text(json.cgNo==null?"":json.cgNo);
				$("#lookcgdNo").text(json.cgdNo==null?"":json.cgdNo);
				$("#lookcgbianhao").text(json.cgId==null?"":json.cgId)
				var taskprjNoClick = '<a href="../chankanxiangqing/taskDetails.html?prjNo='
	    			+json.workNo
	    			+'" target="_blank" style="color:blue;">'+json.workNo+'</a>';		
				$("#looktask_no").append(taskprjNoClick);
				$("#lookprjName").text(json.prjName==null?"":json.prjName)
				$("#lookisdaigou").text(json.isProgram==null?"":json.isProgram);
				var fbContractClick = '<a href="../chankanxiangqing/fbContractDetails.html?fbNo='
	    			+json.fbNo
	    			+'" target="_blank" style="color:blue;">'+json.fbNo+'</a>';	
	    		$("#lookfbhetong").append(fbContractClick);
	    		//$("#lookfbhetong").text(json.fbNo==""?"":json.fbNo);
				$("#lookborrow_no").text(json.borrowNo==''||json.borrowNo==null?"":json.borrowNo)
				$("#lookdaigouType").text(json.programType==null?"":json.programType),
				$("#lookcgType").text(json.cgcType==null?"":json.cgcType);
				$("#lookdaigouMoney").text(json.programMoney==null?"":json.programMoney);
				$("#lookcghetongMoney").text(json.cgContractMoney==null?"":json.cgContractMoney);
				$("#lookjiafang").text(json.contractNameJia==null?"":json.contractNameJia);
				$("#lookyifang").text(json.spName==null?"":json.spName);
				$("#lookfukuanfangshi").text(json.payMode==null?"":json.payMode);
				$("#lookyear").text(json.contractSignTime==null?"":json.contractSignTime);
				$("#lookcghetonggaishu").text(json.contractSummary==null?"":json.contractSummary);
				$("#lookgaikuang").text(json.workContent==null?"":json.workContent);
				$("#lookcg_bumen").text(json.cgDepartment==null?"":json.cgDepartment);
				$("#lookyunfei").text(json.freight);
				
				$("#lookcailiaobiaoDiv").empty();
				$("#lookcailiaobiaoDiv").append(
        				"<table  class='table table-bordered table-condensed' id='lookcailiaobiao'>"+
                    	"<thead>"+
                        	"<tr>"+
                            	"<th>材料名称</th>"+
                            	"<th>材料类型</th>"+
	                            "<th>材料型号</th>"+
	                            "<th style='width:6%;'>单位</th>"+
	                            "<th>数量</th>"+
	                            "<th style='width:8%;'>单价</th>"+
	                            "<th style='width:8%;'>金额</th>"+
	                            /*"<th>项目部推荐供应商</th>"+
	                             "<th>公司确定供应商</th>"+ */
	                            "<th>备注</th>"+
                        	"</tr>"+
                    	"</thead>"+
                    	"<tbody>"+
                    	"</tbody>"+
                    "</table>"
                    )
				if(json.cgcl!=null){
					for(var k=0;k<json.cgcl.length;k++){
						//console.log(json.cgcl[k].clName)
                   		$("#lookcailiaobiao tbody").append("<tr><td style='width:10%;'>"
           		  				+''+(json.cgcl[k].clName==null||""?"":json.cgcl[k].clName)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clType==null||""?"":json.cgcl[k].clType)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clMode==null||""?"":json.cgcl[k].clMode)+'' 
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clUnit==null||""?"":json.cgcl[k].clUnit)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clNumber==null||""?"":json.cgcl[k].clNumber)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clPrice==null||""?"":json.cgcl[k].clPrice)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(json.cgcl[k].clMoney==null||""?"":json.cgcl[k].clMoney)+''
           		  				+"</td><td style='width:9%;'>"
           		  			/*+''+(json.cgcl[k].clspName1==null||""?"":json.cgcl[k].clspName1)+''
           		  				+"</td><td style='width:10%;'>"
           		  				 +''+json.cgcl[k].clspName2+''
           		  				+"</td><td style='width:9%;'>" */
           		  				+''+(json.cgcl[k].clDesc==null||""?"":json.cgcl[k].clDesc)+''
           		  				+"</td></tr>")
                    	} 
				}
				
			}
		})
					
		$.ajax({
			type:"post",
			url:getContextPath()+"/cgcontract/selectAccessoryById",
			dataType:"json",
			async:false,
			data:{
				id:id,
			},
			success:function(json){
				$("#look_all_table").empty();
	            for(var i=0;i<json.length;i++){
	            	   if(json[i].aType=="采购合同文本"){
		            	   $("#look_all_table").append("<tr>"+
	      	   										"<td style='width:20%;'>采购合同文本</td>"+
	      	   										"<td colspan='3'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
							            	    "</tr>");
	            	   }
	            	  
	               }
			}
		})
		
	}
	
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	//初始化历史列表
	function initTableHistory(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/cgcontract/selectHistoryByNo',
            dataType: 'json',
            data: {
            	cgNo:cgNo,
            },
            error: function (msg) {
                errMessage("请求失败");
            },
            success: function (json) {
            	//console.log(json)
                $('#lookHistory').dataTable().fnClearTable();
                $('#lookHistory').DataTable().rows.add(json).draw(false);
            }
        });
    }

	//查看历史信息的详细信息
	function lookHistoryDetails(obj){
		var dom=$(obj).parents('tr');
		var data=$('#lookHistory').DataTable().row(dom).data();
		//console.log(data)
		$('#History').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		
		$("#Historycghetongming").text(data.contractName);
		$("#HistorycgNo").text(data.cgNo);
		$("#HistorycgdNo").text(data.cgdNo);
		$("#Historycgbianhao").text(data.cgId)
		$("#Historytask_no").text(data.workNo);
		$("#HistoryprjName").text(data.prjName)
		$("#Historyisdaigou").text(data.isProgram);
		$("#Historyfbhetong").text(data.fbNo==''||data.fbNo==null?"无":data.fbNo);
		$("#HistorydaigouType").text(data.programType),
		$("#HistorycgType").text(data.cgcType);
		$("#HistorydaigouMoney").text(data.programMoney);
		$("#HistorycghetongMoney").text(data.cgContractMoney);
		$("#Historyjiafang").text(data.contractNameJia);
		$("#Historyyifang").text(data.spName);
		$("#Historyfukuanfangshi").text(data.payMode);
		$("#Historyyear").text(data.contractSignTime);
		$("#Historycghetonggaishu").text(data.contractSummary);
		$("#Historygaikuang").text(data.workContent);
		
		
		var list=new Array();
		if(data.cgdNo.indexOf(",")){
			var no=data.cgdNo.split(",");
			for(var i=0;i<no.length;i++){
				list.push(no[i])
			}
		}else{
			list.push(data.cgdNo)
		}
		if(list!=null){
			$("#HistorycghetongMoney").val("");
			$("#HistorycailiaobiaoDiv table").remove();
			for(var i=0;i<list.length;i++){
				//console.log(list[i])
        		$("#HistorycailiaobiaoDiv").append(
        				"<table  class='table table-bordered table-condensed' id='Historycailiaobiao"+i+"'>"+
                    	"<thead>"+
                    		"<tr>"+
                            	"<td>采购部门</td>"+
                                "<td dataId='' id='Historycgbumen"+i+"'></td>"+
                                "<td  colspan='2'>部门采购金额</td>"+
                                "<td id='HistorybumencgMoney"+i+"' colspan='2'></td>"+
                            	"<th colspan='3' style='text-align:right;'></th>"+
                        	"</tr>"+
                        	"<tr>"+
                            	"<th>材料名称</th>"+
                            	"<th>材料类型</th>"+
	                            "<th>材料型号</th>"+
	                            "<th style='width:6%;'>单位</th>"+
	                            "<th>数量</th>"+
	                            "<th style='width:8%;'>单价</th>"+
	                            "<th style='width:8%;'>金额</th>"+
	                            "<th>项目部推荐供应商</th>"+
	                            "<th>公司确定供应商</th>"+
	                            "<th>备注</th>"+
                        	"</tr>"+
                    	"</thead>"+
                    	"<tbody>"+
                    	"</tbody>"+
                    "</table>"
                    )}
		  		$.ajax({
		            type: 'POST',
		            url: getContextPath()+'/PrjMaterialBuy/selectBuyByIds',
		            dataType: 'json',
		            data: {
		            	ids:list.toString()
		            },
		            success: function (json) {
		            	//console.log(json)
		            	for(var i=0;i<json.length;i++){
		            		var omName=json[i].omName
		            		var sumPrice=json[i].sumPrice;
		            		var pmbId=json[i].pmbId;
		            		$("#Historycgbumen"+i+"").text(json[i].omName)
		            		$("#Historycgbumen"+i+"").attr("dataId",pmbId)
		            		$("#HistorybumencgMoney"+i+"").text(json[i].sumPrice)
		            		
		            		$.ajax({
		                        type: 'POST',
		                        url: getContextPath()+'/cgcontract/getMdById',
		                        dataType: 'json',
		                        async:false,
		                        data: {
		                        	id:pmbId
		                        },
		                        success: function (json) {
		                        	//console.log(json)
		                        	for(var k=0;k<json.length;k++){
		                        		$("#Historycailiaobiao"+i+" tbody").append("<tr dataId="+json[k].mdlId+"><td>"
		                		  				+""+json[k].materialName+""
		                		  				+"</td><td>"
		                		  				+""+json[k].materialType+""
		                		  				+"</td><td>"
		                		  				+""+json[k].modeType+""
		                		  				+"</td><td>"
		                		  				+""+json[k].buyCompany+""
		                		  				+"</td><td>"
		                		  				+""+json[k].num+""
		                		  				+"</td><td>"
		                		  				+""+json[k].price+""
		                		  				+"</td><td>"
		                		  				+""+json[k].price+""
		                		  				+"</td><td>"
		                		  				+""+json[k].name+""
		                		  				+"</td><td>"
		                		  				+""+json[k].name2+""
		                		  				+"</td><td>"
		                		  				+""+json[k].infos+""
		                		  				+"</td></tr>")
		                        	} 
		                        }
		              		});
		            		
		            	}
		            }
		  		});
		  		
	  		}
		
		
		$.ajax({
			type:"post",
			url:getContextPath()+"/cgcontract/selectAccessoryById",
			dataType:"json",
			async:false,
			data:{
				id:data.cgId,
			},
			success:function(json){
				//console.log(json);
				$("#History_all_table").empty();
				$("#History_all_table1").empty();
	               for(var i=0;i<json.length;i++){
	            	   if(json[i].aType=="采购合同文本"){
		            	   $("#History_all_table").append("<tr>"+
	      	   										"<td style='width:20%;'>采购合同文本</td>"+
	      	   										"<td colspan='3'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
							            	    	/* "<td colspan='2'><input type='text' class='form-control' style='width:100%;' value='"+json[i].acName+"' disabled></td>"+
							            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+ */
							            	    "</tr>");
	            	   }
	            	   if(json[i].aType=="法律顾问签字"){
		            	   $("#History_all_table1").append("<tr>"+
	      	   										"<td style='width:20%;'>法律顾问签字</td>"+
	      	   										"<td colspan='3'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+
							            	    	/* "<td colspan='2'><input type='text' class='form-control' style='width:100%;' value='"+json[i].acName+"' disabled></td>"+
							            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+ */
							            	    "</tr>");
	            	   }
	               }
			}
		})
		
	}
	
	
	function changeData(did){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cgcontract/updateHistoryById',
	        dataType: 'json',
	        data:{
	        	id:did
	        },
	        success: function (json) {
	        	
	        }
	    });
	}


</script>
</html>