<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
        <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        
    </style>
</head>
<body>
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
			<li class="active">进度管理</li>
		</ul>
		</div>

    <div class="zhuti-content">
        <table class="table table-bordered table-condensed">
                        <tr>
                            <td  style="width:18%;">项目名称</td>
                            <td id="look_prj_name"></td>
                            <td  style="width:18%;">任务单号</td>
                            <td id="look_task_no"></td>
                        </tr>
                        <tr>
                            <td>项目类型</td>
                            <td id="look_prj_type"></td>
                            <td>合同金额</td>
                            <td id="look_contract_money"></td>
                        </tr>
                        <tr>
                            <td>项目金额(元)</td>
                            <td id="look_prj_money"></td>
                            <td>暂定金(元)</td>
                            <td id="look_provisional_sum"></td>
                        </tr>
                        <tr>
                            <td>项目开始时间</td>
                            <td id="look_prj_start_time"></td>
                            <td>项目预计结束时间</td>
                            <td id="look_prj_end_time"></td>
                        </tr>
                        <tr>
                            <td>预算总费用(元)</td>
                            <td id="look_budget_money_all"></td>
                            <td>本期</td>
                            <td id="look_this_time"></td>
                        </tr>
                        <tr>
                        	<td>总累计收入</td>
                            <td id="look_all_money"></td>
                            <td>项目本期收入</td>
                            <td id="look_prj_this_income"></td>
                        </tr>
                        <tr>
                            <td>总实际成本(元)</td>
                            <td id="look_all_cost"></td>
                            <td>总实际收入(元)</td>
                            <td id="look_in_come"></td>
                        </tr>
                        <tr>
                        	<td>项目负责人</td>
                            <td id="look_prj_leader"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    
                    <table class="table table-bordered table-condensed" id="look_accessory">
                    	<thead>
                    		<tr>
                    			<th colspan='3'>进度附件</th>
                    		</tr>
                    	</thead>
                    	<tbody></tbody>
                    </table>

                    <table class="table table-bordered table-condensed" id="look_xieban">
                        <thead>
                            <tr>
                                <th colspan="4">累计收入</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban2">
                        <thead>
                            <tr>
                                <th colspan="4">本期收入</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban3">
                        <thead>
                            <tr>
                                <th colspan="4">本期收款</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban4">
                        <thead>
                            <tr>
                                <th colspan="4">累计收款</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban5"> 
                        <thead>
                            <tr>
                                <th colspan="4">本期成本</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_xieban6">
                        <thead>
                            <tr>
                                <th colspan="4">累计成本</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <table class="table table-bordered table-condensed" id="look_cj">
                    	<thead>
                                <tr>
                                    <th colspan="5">承接合同表</th>
                                </tr>
                                <tr>
                                    <th style="width:32%;">合同名称</th>
                                    <th style="width:12%;">合同金额</th>
                                    <th style="width:12%;">暂定金</th>
                                    <th style="width:17%;">合同本期收入</th>
                                    <th style="width:17%;">总累计收入</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                    </table>
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
        initTable();
        
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
	

    function initTable(){
    	
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/ppf/selectPrjProgressFillInfo',
            dataType: 'json',
            data: {
            	id:id,
            },
            success: function (json) {
            	var ppfi=json.ppfi;
            	var ppfi2=json.ppfi2;
            	var ppfi3=json.ppfi3;
            	var ppfi4=json.ppfi4;
            	var ppfi5=json.ppfi5;
            	var ppfi6=json.ppfi6;
            	var ppcj=json.ppcj;
            	var accessory=json.accessory;
            	$("#look_prj_name").text(json.prjName);
            	$("#look_task_no").text(json.taskNo);
            	$("#look_prj_type").text(json.prjType);
            	$("#look_contract_money").text(json.contractMoney);
            	$("#look_prj_leader").text(json.prjLeader);
            	$("#look_provisional_sum").text(json.provisionalSum);
            	$("#look_prj_start_time").text(json.prjStartTime);
            	$("#look_prj_end_time").text(json.prjEndTime);
            	$("#look_budget_money_all").text(json.budgetMoneyAll);
            	$("#look_this_time").text(json.thisTime);
            	$("#look_all_money").text(json.allMoney);
            	$("#look_all_cost").text(json.allCost);
            	$("#look_in_come").text(json.allIncome);
            	$("#look_prj_money").text(json.prjMoney);
            	$("#look_prj_this_income").text(json.prjThisIncome);
            	$("#look_accessory tbody").html('');
            	for(var i=0;i<accessory.length;i++){
            		$("#look_accessory tbody").append("<tr>"+
            									"<td>附件"+(i+1)+"</td>"+
            									"<td>"+accessory[i].acName+"</td>"+
            									"<td><button type='button' class='btn btn-primary' data="+accessory[i].acUrl+" onclick='downloadFile(this)'>下载附件</button></td>"+
            								"</tr>")
            	}
            	
            	$("#look_xieban tbody").html('');
            	for(var i=0;i<ppfi.length;i++){
            		if(ppfi[i].main==1){
            			$("#look_xieban tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_xieban2 tbody").html('');
            	for(var i=0;i<ppfi2.length;i++){
            		if(ppfi2[i].main==1){
            			$("#look_xieban2 tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi2[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi2[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban2 tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi2[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi2[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_xieban3 tbody").html('');
            	for(var i=0;i<ppfi3.length;i++){
            		if(ppfi3[i].main==1){
            			$("#look_xieban3 tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi3[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi3[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban3 tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi3[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi3[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_xieban4 tbody").html('');
            	for(var i=0;i<ppfi4.length;i++){
            		if(ppfi4[i].main==1){
            			$("#look_xieban4 tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi4[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi4[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban4 tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi4[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi4[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_xieban5 tbody").html('');
            	for(var i=0;i<ppfi5.length;i++){
            		if(ppfi5[i].main==1){
            			$("#look_xieban5 tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi5[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi5[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban5 tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi5[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi5[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_xieban6 tbody").html('');
            	for(var i=0;i<ppfi6.length;i++){
            		if(ppfi6[i].main==1){
            			$("#look_xieban6 tbody").append("<tr>"+
								"<td style='width:25%;'>主办部门</td>"+
								"<td style='width:25%;'>"+ppfi6[i].department+"</td>"+
								"<td style='width:25%;'>金额</td>"+
								"<td style='width:25%;'>"+ppfi6[i].money+"</td>"+
							"</tr>")
            		}else{
            			$("#look_xieban6 tbody").append("<tr>"+
								"<td>协办部门</td>"+
								"<td>"+ppfi6[i].department+"</td>"+
								"<td>金额</td>"+
								"<td>"+ppfi6[i].money+"</td>"+
							"</tr>")
            		}
            	}
            	
            	$("#look_cj tbody").html('');
            	for(var i=0;i<ppcj.length;i++){
            		$("#look_cj tbody").append("<tr>"+
            														"<td>"+ppcj[i].cjName+"</td>"+
            														"<td>"+ppcj[i].contractMoney+"</td>"+
            														"<td>"+ppcj[i].temporaryMoney+"</td>"+
            														"<td>"+ppcj[i].incomeBq+"</td>"+
            														"<td>"+ppcj[i].incomeAll+"</td>"+
            													"</tr>")
            	}
            	myTool.mask.hide();
            	
            }
    	})
    	
    }
    
    function downloadFile(obj){
		var filePath=$(obj).attr("data");
		var fileName=$(obj).parents("tr").find("td").eq(1).text();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
    
    function changeData(did){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'',
	        dataType: 'json',
	        data:{
	        	id:did
	        },
	        success: function (json) {
	        	
	        }
	    });
	}
    
</script>
</html>