<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>现场管理</li>
            <li>项目报表</li>
			<li class="active">项目施工日志</li>
		</ul>
    </div>

    <div class="zhuti-content">

		 <table class="table table-bordered table-condensed">
                        <tr>
                            <td>项目名称</td>
                            <td id="lookprjName"></td>
                            <td>任务单号</td>
                            <td id="lookprjNo" ></td>
                        </tr>
                        <tr>
                            <td>项目工期</td>
                            <td id="lookprjTime_limit"></td>
                            <td>日期</td>
                            <td id="lookyear"></td>
                        </tr>
                        <tr>
                            <td>温度</td>
                            <td id="looktemperature"></td>
                            <td>天气</td>
                            <td id="lookweather"></td>
                        </tr>
                        <tr>
                            <td>施工部位1</td>
                            <td colspan="3" id="lookConstruction_site1"></td>
                        </tr>
                        <tr>
                            <td>人机料情况</td>
                            <td colspan="3" id="lookmaterial_condition"></td>
                        </tr>
                        <tr>
                            <td>施工内容</td>
                            <td colspan="3" id="lookconstruction_content"></td>
                        </tr>
                        <tr>
                            <td>安全情况</td>
                            <td colspan="3" id="looksafety_situation"></td>
                        </tr>
                        <tr>
                            <td>质量情况</td>
                            <td colspan="3" id="lookquality_condition"></td>
                        </tr>
                        <tr>
                            <td>重大事项</td>
                            <td colspan="3" id="lookimportent_things"></td>
                        </tr>
                        <tr>
                            <td>其它事项</td>
                            <td colspan="3" id="lookother_things"></td>
                        </tr>
                        <tr>
                            <td>明日计划</td>
                            <td colspan="3" id="looktomorrow_plan"></td>
                        </tr>
                        <tr>
                            <td>施工部位2</td>
                            <td colspan="3" id="lookConstruction_site2"></td>
                        </tr>
                    </table> 
        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
    
	function initTable(){
        
    }
	
	
	
	//查看详细信息
	function lookLog(obj){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		//console.log(data)
		$("#lookprjName").text(data.prjName);
		$("#lookprjNo").text(data.prjCode);
		$("#lookprjTime_limit").text(data.prjLongTime);
		$("#lookyear").text(data.fillTime);
		$("#looktemperature").text(data.temperature);
		$("#lookweather").text(data.weather);
		$("#lookConstruction_site1").text(data.constructionSite1);
		$("#lookmaterial_condition").text(data.materialCondition);
		$("#lookconstruction_content").text(data.constructionContent);
		$("#looksafety_situation").text(data.safetySituation);
		$("#lookquality_condition").text(data.qualityCondition);
		$("#lookimportent_things").text(data.importentThings);
		$("#lookother_things").text(data.otherThings);
		$("#looktomorrow_plan").text(data.tomorrowPlan);
		$("#lookConstruction_site2").text(data.constructionSite2);
	}
	
	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
	

	

</script>
</html>