<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
       
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>合同履约</li>
			<li class="active">劳务分包合同</li>
		</ul>
    </div>
    
    
    <div> 
				<table class="table table-bordered table-condensed">
                        <tr>   
                            <td style="width:15%;">承接合同名称</td>
                            <td id="look_cj_name"></td>
                            <td style="width:15%;">承接合同编号</td>
                            <td id="look_cj_no"></td>
                        </tr>
                        <tr>
                            <td>任务单号</td>
                            <td id="look_prj_no"></td>
                            <td>分包合同名称</td>
                            <td id="look_fb_name"></td>
                        </tr>
                        <tr>
                            <td>分包合同编号</td>
                            <td id="look_fb_no"></td>
                            <td>分包单位</td>
                            <td id="look_fb_department"></td>
                        </tr>
                        <tr>
                            <td>实际负责人</td>
                            <td id="look_leader"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="6">评价内容</td>
                            <td>人员、材料和设备配置情况（20%）</td>
                            <td colspan="2" id="score"></td>
                        </tr>
                        <tr>
                            <td>施工经验、施工组织管理能力（20%）</td>
                            <td colspan="2" id="score2"></td>
                        </tr>
                        <tr>
                            <td>质量控制（20%）</td>
                            <td colspan="2" id="score3"></td>
                        </tr>
                        <tr>
                            <td>个人信誉（15%）</td>
                            <td colspan="2" id="score4"></td>
                        </tr>
                        <tr>
                            <td>进度控制（15%）</td>
                            <td colspan="2" id="score5"></td>
                        </tr>
<!--                         <tr>
                            <td>安全文明与环保（10%）</td>
                            <td colspan="2" id="score6"></td>
                        </tr> -->
                        <tr>
                            <td>综合评价</td>
                            <td colspan="3" id="score7"></td>
                        </tr>
                    </table> 

    </div>
    
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
    });
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
	
   	console.log(id)
    
    function initTable(obj){
    	
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/fbScore/selectFbContractDoAppointScoreById',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	data=json;
	        	$("#look_cj_name").text(data.cjContractName);	    		
	        	$("#look_cj_no").html("");
				if(data.cjContractCode==""||data.cjContractCode==null){
					$("#look_cj_no").text(data.cjContractCode);
				}else{
					var cjContractClick = '<a href="../chankanxiangqing/cjContractDetails.html?cjCNo='
						+data.mainContractCode
						+'" target="_blank" style="color:blue;">'+data.cjContractCode+'</a>';
						$("#look_cj_no").append(cjContractClick);
				}	
	    		    	
	        	//$("#look_cj_no").text(data.cjContractCode);
	        	
	        	$("#look_prj_no").html("");
				if(data.taskListCode==""||data.taskListCode==null){
					$("#look_prj_no").text(data.taskListCode);
				}else{
					var taskprjNoClick = '<a href="../chankanxiangqing/taskDetails.html?prjNo='
		    			+data.taskListCode
		    			+'" target="_blank" style="color:blue;">'+data.taskListCode+'</a>';		
					$("#look_prj_no").append(taskprjNoClick);
				}
	        	
	        	
	        	//$("#look_prj_no").text(data.taskListCode);
	        	$("#look_fb_name").text(data.fbContractName);        	
	        	$("#look_fb_no").html("");
				if(data.fbContractCode==""||data.fbContractCode==null){
					$("#look_fb_no").text(data.fbContractCode);
				}else{
					var fbContractClick = '<a href="../chankanxiangqing/fbContractDetails.html?fbNo='
						+data.fbContractCode
						+'" target="_blank" style="color:blue;">'+data.fbContractCode+'</a>';
						$("#look_fb_no").append(fbContractClick);
				}
	        	
	        	$("#look_fb_department").text(data.fbDepartment);
	        	$("#look_leader").text(data.actualChargePerson);
	        	$("#score").text(data.scoreMaterialSituation);
	        	$("#score2").text(data.scoreManageAbility);
	        	$("#score3").text(data.scoreQualityControl);
	        	$("#score4").text(data.scoreCompanyReputation);
	        	$("#score5").text(data.scoreJinduControl);
	        	$("#score6").text(data.safetyCivilizationEnvironment);
	        	$("#score7").text(data.allScore);
	        }
	    });
    	
    	
    }
    

    
    function new_accessory(){
			var length=$("#new_accessory tr").length;
			$("#new_accessory tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>")
	}
    function new_accessory1(){
		var length=$("#new_accessory1 tr").length;
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>")
}
    
    function new_accessory2(){
		var length=$("#new_accessory2 tr").length;
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>")
	}
    function new_accessory3(){
		var length=$("#new_accessory3 tr").length;
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>")
	}
    


    
    function downLoadFile(obj){
			var filePath=$(obj).attr("data");
			var fileName=$(obj).parents("tr").find("td").eq(1).text();
			window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
    
    
    
    
    function exportThis(){
    	window.location.href=encodeURI(getContextPath()+'/fbOverWj/exportFbOverWj');
    }
    

    function changeData(did){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:did
	        },
	        success: function (json) {
	        	
	        }
	    });
	}
       
</script>
</html>