<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        @media screen and (max-width: 1920px) {
		    #myModal4{
		        margin-bottom:120px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li>合同管理</li>
			<li class="active">分包合同管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
    
					<table class="table table-bordered">
                        <tr>
                        	<td style="width:15%;">承接合同名称:</td>
                            <td id="lookchengjiehetongName"  style="width:35%;"></td>
                            <td  style="width:15%;">承接合同号:</td>
                            <td id="lookchengjiehetonghao"  style="width:35%;"></td>
                        </tr>
                        <tr>
                       		<td>项目名称:</td>
                            <td id="lookprjName"></td>
                            <td>任务单号:</td>
                            <td id="looktask_no"></td>
                        </tr>
                        <tr>
                        	<td>分包合同名称:</td>
                            <td id="lookhetongName"></td>
                            <td>分包合同编号</td>
                             <td id="lookfbNo"></td>
                        </tr>
                        <tr>
                            <td>合同甲方名称:</td>
                            <td id="lookjiafang"></td>
                            <td>乙方:</td>
                            <td id="lookyifang"></td>
                        </tr>
                        <tr>
                            <td>类型:</td>
                            <td id="lookType"></td>
                            <td>甲方管理部门:</td>
                            <td id="lookjiafangbumen"></td>
                        </tr>
                        <tr>
                            <td>主合同金额(元):</td>
                            <td id="lookzhuhetongMoney"></td>
                            <td>已累计分包金额(元):</td>
                            <td id="lookleijifenbaoMoney"></td>
                        </tr>
                        <tr>
                            <td>合同起日期:</td>
                            <td id="lookyear"></td>
                            <td>合同讫日期:</td>
                            <td id="lookyear2"></td>
                        </tr>
                        <tr>
                            <td>合同工期:</td>
                            <td id="lookhetonggongqi"></td>
                            <td>合同金额(元):</td>
                            <td id="lookhetongMoney"></td>
                        </tr>
                        <tr>
                            <td>暂定金(元):</td>
                            <td id="lookzandingMoney"></td>
                            <td>履约保证金(元):</td>
                            <td id="looklvyuebaozhengMoney"></td>
                        </tr>
                        <tr>
                            <!-- <td>税率:</td>
                            <td id="lookrate"></td> -->
                            <td>税票类型</td>
                            <td id="lookrateType"></td>
                            <td class="jinqianyanse">审批中的分包金额</td>
			                <td id="lookshenpiFbMoney"></td>
                        </tr>
                        <tr>
                            <td>付款方式:</td>
                            <td colspan="3" id="lookfukuanfangshi"></td>
                        </tr>
                        <tr>
                            <td>主要概况及工作内容:</td>
                            <td colspan="3" id="lookgaikuang"></td>
                        </tr>
                    </table> 
				    <table class="table table-bordered table-condensed"  id="look_all_table">
				                        		
				    </table>
				    <table class="table table-bordered table-condensed"  id="look_all_table2">
				                        		
				    </table>
</div>
    

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});

  //console.log(window.location.search)
    function GetQueryString(name){
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
    // 调用方法
    	lookId=GetQueryString("prjId");
    	console.log(lookId);
	
	
	
	//查看详细信息
	var fbNo;
	function initTable(obj){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/subcontract/selectSubContractById',
            dataType: 'json',
            data: {
            	id:lookId
            },
            success: function (json) {
            	//console.log(json);
            	data=json;
            	lookId=data.fbId;
				fbNo=data.fbNo;
				
				$("#lookhetongName").text(data.contractName)
				$("#lookfbNo").text(data.fbNo);
				$("#lookType").text(data.fbcType)
				$("#lookjiafang").text(data.contractNameJia)
				$("#lookyifang").text(data.ccName)
				$("#lookprjName").text(data.prjName)
				
				$("#looktask_no").html("");
				if(data.workNo==""||data.workNo==null){
					$("#looktask_no").text(data.workNo);
				}else{
					var taskprjNoClick = '<a href="../chankanxiangqing/taskDetails.html?prjNo='
		    			+data.workNo
		    			+'" target="_blank" style="color:blue;">'+data.workNo+'</a>';		
					$("#looktask_no").append(taskprjNoClick);
				}
				
				//$("#looktask_no").text(data.workNo)
				$("#lookchengjiehetongName").text(data.cjContractName)
				
				$("#lookchengjiehetonghao").html("");
				if(data.cjContractCode==""||data.cjContractCode==null){
					$("#lookchengjiehetonghao").text(data.cjContractCode);
				}else{
					var cjContractClick = '<a href="../chankanxiangqing/cjContractDetails.html?cjCNo='
						+data.cjContractCode
						+'" target="_blank" style="color:blue;">'+data.cjContractCode+'</a>';
						$("#lookchengjiehetonghao").append(cjContractClick);
				}
				getshenpifbMoney(data.cjContractCode)
				//$("#lookchengjiehetonghao").text(data.cjContractCode)
				$("#lookzhuhetongMoney").text(data.mainContractMoney)
				$('#lookleijifenbaoMoney').text(data.sm)
				$("#lookyear").text(data.contractStartTime)
				$("#lookyear2").text(data.contractEndTime)
				$("#lookjiafangbumen").text(data.omName)
				$("#lookhetonggongqi").text(data.contractLongTime);
				$("#lookfukuanfangshi").text(data.payMode);
				$("#lookhetongMoney").text(data.contractMoney);
				$("#lookzandingMoney").text(data.temporaryMoney);
				$("#looklvyuebaozhengMoney").text(data.performanceBond);
				$("#lookgaikuang").text(data.workContent);
				$("#lookrate").text(data.rate);
				$("#lookrateType").text(data.rateType);
				
				$.ajax({
					type:"post",
					url:getContextPath()+"/subcontract/selectAccessoryById",
					dataType:"json",
					async:false,
					data:{
						id:lookId,
					},
					success:function(json){
						console.log(json);
						$("#look_all_table").empty();
						$("#look_all_table2").empty();
						 for(var i=0;i<json.length;i++){
			            	   if(json[i].aType=="分包合同文本"){
				            	   $("#look_all_table").append("<tr>"+
			      	   										"<td style='width:15%;'>分包合同文本</td>"+
									            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue;'>"+json[i].acName+"</a></td>"+
									            	    "</tr>");
			            	   }
			            	   if(json[i].aType=="法律顾问签字"){
				            	   $("#look_all_table2").append("<tr>"+
			      	   										"<td style='width:15%;'>法律顾问签字</td>"+
									            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue;'>"+json[i].acName+"</a></td>"+
									            	    "</tr>");
			            	   }
			               
			               }
					}
				})
            }
  		});
		
		
	}
	
	//通过承接合同号查询审批中的分包合同金额
  	function getshenpifbMoney(obj){
  		$.ajax({
            type: 'POST',
            url: getContextPath()+'/subcontract/getShenpiFbMoneyByCjNo',
            dataType: 'json',
            data: {
            	cjno:obj
            },
            success: function (json) {
            	$("#lookshenpiFbMoney").text(json)
            }
  		});
  	}
	
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}

	function changeData(did){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/subcontract/updateHistoryById',
	        dataType: 'json',
	        data:{
	        	id:did
	        },
	        success: function (json) {
	        	
	        }
	    });
	}

</script>
</html>