<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        body{
            background: #fff;
        }
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>合同履约</li>
			<li class="active">承接合同</li>
		</ul>
    </div>
    
    
    <div> 

				<form class="form-inline">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td style="width:18%;">承接合同名称</td>
                            <td id="look_cj_name2" style="width:32%;"></td>
                            <td style="width:18%;">承接合同编号</td>
                            <td id="look_cj_no2" style="width:32%;"></td>
                        </tr>
                        <tr>
                            <td>任务单号</td>
                            <td id="look_prj_no2"></td>
                            <td>合同甲方</td>
                            <td id="look_jiafang2"></td>
                        </tr>
                        <tr>
                            <td class="jinqianyanse">动态合同金额(元)</td>
                            <td id="look_contract_money2"></td>
                            <td class="jinqianyanse">结算金额(元)</td>
                            <td id="look_end_money2"></td>
                        </tr>
                        <tr>
                        	<td>合同工期</td>
                        	<td id="look_cj_contract_long_time"></td>
                        	<td></td>
                        	<td></td>
                        </tr>
                        <tr>
                            <!-- <td>累计收款(元)</td>
                            <td id="look_all_money2"></td> -->
                            <td style="width:15%;">业主评级</td>
		                    <td colspan="2" id="look_rating"></td>
		                    <td style="width:35%;"></td>
                        </tr>
                        <tr>
                        	<td>项目负责人</td>
                            <td id="look_prj_leader2"></td>
                            <td>项目经理</td>
                            <td id="look_prj_manager2"></td>
                        </tr>
                        <tr>
                        	<td>项目副经理1</td>
                            <td id="look_deputy1_prj_manager2"></td>
                            <td>项目副经理2</td>
                            <td id="look_deputy2_prj_manager2"></td>
                        </tr>
                        <tr>
                        	<td>项目总工</td>
                            <td id="look_prj_general2"></td>
                            <td>项目工期</td>
                            <td>
                            	<span  id="look_prj_duration2"></span><span>&nbsp;&nbsp;-&nbsp;&nbsp;</span><span  id="look_prj_duration2_end"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>项目进度偏差</td>
                             	<td id="piancha"></td>
                        </tr>
                        <tr>
                        	 <td>公路等级</td>
                            <td id="look_prj_grade2"></td>
                            <td>履约完结时间</td>
                            <td id="look_cj_contract_end_time"></td>
                        </tr>
                        <tr>
                            <td>项目概况</td>
                            <td colspan="3" id="look_prj_info2"></td>
                        </tr>
                        <tr>
                            <td>工作内容</td>
                            <td colspan="3" id="look_work_info2"></td>
                        </tr>
                        <tr>
                            <td>实际工期</td>
                            <td colspan="3" id="look_gq_info2"></td>
                        </tr>
                    </table>
 					<br/>
                    <table class="table table-bordered table-condensed" id="look_person2">
                        <thead>
                            <tr>
                                <th>联系人</th>
                                <th>联系方式</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
					<br/>
					 <table class="table table-bordered table-condensed" id="look_accessory2">
                        <thead>
								<tr>
	                                <td style="width:18%;">履约证明文件:  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
	                                <td colspan="3"></td>
                            	</tr>
							</thead>
                        <tbody></tbody>
                    </table>
					<br/>
                    <div id="look_abcd"></div>
                </form> 
                
                    
    </div>

    
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.j></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script>
//用的时候把字段里面的开始日期和截止日期穿进去,列入countTime(endtime, starttime)
function countTime (e,s,day) {
	console.log(e)
	console.log(s)
	console.log(day)
    var d = 0,
    str = '',
    //设置截止时间  
	endstr = e,//截止日期
    str1 = s,//开始日期
    endDate = new Date(endstr),
    end = endDate.getTime(),//计算毫秒数
    startDate = new Date(str1),
	start = startDate.getTime(),//计算毫秒数
    //时间差  
	disparity = end - start;
    if( disparity >= 0 ) {
	  	d = Math.floor( disparity/ 1000 / 60 / 60 / 24 , 10);
	}else{
		d = 0
	}
//	d就是相差天数 
	if(d -parseInt(day)>0){
		str = '推迟'+ d -parseInt(day)+"天"
	}else{
		str = '提前'+ (Math.abs(d -parseInt(day)))+"天"
	}
    return str
}  

	  //初始化承接合同名称和承接合同号
	 function initSelect(){
			$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/cj/selectNameAndNo',
	        dataType: 'json',
	        data: {
	        },
	        error: function (msg) {
	        	toastr.error("请求失败");
	        },
	        success: function (json) {
	        	console.log(json)
	        	$("#contract_no").html('');
	        	/* $("#contract_name").html(''); */
	        	$("#contract_no2").html('');
	        	/* $("#contract_name2").html(''); */
	        	$("#contract_no3").html('');
	        	/* $("#contract_name3").html(''); */
	        	for(var i=0;i<json.length;i++){
	        		/* $("#contract_name").append("<option value="+json[i].contractName+">"+json[i].contractName+"</option>"); */
	        		$("#contract_no").append("<option value="+json[i].contractNo+">"+json[i].contractNo+"</option>");
	        		/* $("#contract_name2").append("<option value="+json[i].contractName+">"+json[i].contractName+"</option>"); */
	        		$("#contract_no2").append("<option value="+json[i].contractNo+">"+json[i].contractNo+"</option>");
	        		/* $("#contract_name3").append("<option value="+json[i].contractName+">"+json[i].contractName+"</option>"); */
	        		$("#contract_no3").append("<option value="+json[i].contractNo+">"+json[i].contractNo+"</option>");
	        	}
	        	$("#piancha").val(countTime(json[0].contractEndTime,json[0].contractStartTime,json[0].contractLongTime))
	        	
	        	
	          	$('#contract_no').editableSelect().on('select.editable-select', function (e, dom) {
	          		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/cj/selectCjContractByNo',
	                    dataType: 'json',
	                    data: {
	                    	no:$('#contract_no').val()
	                    },
	                    success: function (json) {
	                    	$('#contract_name').val(json.contractName);
	                    	$('#work_no').val(json.taskCode);
	                    }
	          		});
			  	})
	          	$('#contract_no2').editableSelect().on('select.editable-select', function (e, dom) {
	          		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/cj/selectCjContractByNo',
	                    dataType: 'json',
	                    data: {
	                    	no:$('#contract_no2').val()
	                    },
	                    success: function (json) {
	                    	$('#contract_name2').val(json.contractName);
	                    	$('#prj_no').val(json.taskCode);
	                    	$("#contract_money2").val(json.contractMoney);
	                    	$("#jiafang2").val(json.ccName);
	                    	getLeader($('#prj_no').val())
	                    }
	          		});
			  	})
	          	$('#contract_no3').editableSelect().on('select.editable-select', function (e, dom) {
	          		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/cj/selectCjContractByNo',
	                    dataType: 'json',
	                    data: {
	                    	no:$('#contract_no3').val()
	                    },
	                    success: function (json) {
	                    	$('#contract_name3').val(json.contractName);
	                    	$('#prj_no3').val(json.taskCode);
	                    	$('#contract_money3').val(json.contractMoney);
	                    	$("#jiafang3").val(json.ccName);
	                    }
	          		});
			  	})
			  	
	        }
			});
		}
</script>
<script>
    $(document).ready( function () {
        initTable();
        
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
  		console.log(id)
  		function initTable(){
  			$.ajax({
  		        type: 'POST',
  		        url: getContextPath()+'/work/selectContractWorkByid',
  		        dataType: 'json',
  		        data:{
  		        	id:id
  		        },
  		        success: function (json) {
  		        	console.log(json)
  		        	data=json;
  		        	$("#look_cj_name2").text(data.cjContractName);
  		    		
  		    		$("#look_cj_no2").html("");
  					if(data.cjContractCode==""||data.cjContractCode==null){
  						$("#look_cj_no2").text(data.cjContractCode);
  					}else{
  						var cjContractClick = '<a href="../chankanxiangqing/cjContractDetails.html?cjCNo='
  							+data.cjContractCode
  							+'" target="_blank" style="color:blue;">'+data.cjContractCode+'</a>';
  							$("#look_cj_no2").append(cjContractClick);
  					}
  		    		
  		  			//$("#look_cj_no2").text(data.cjContractCode);
  		  			
  		    		
  		    		$("#look_prj_no2").html("");
  					if(data.prjCode==""||data.prjCode==null){
  						$("#look_prj_no2").text(data.prjCode);
  					}else{
  						var taskprjNoClick = '<a href="../chankanxiangqing/taskDetails.html?prjNo='
  			    			+data.prjCode
  			    			+'" target="_blank" style="color:blue;">'+data.prjCode+'</a>';		
  						$("#look_prj_no2").append(taskprjNoClick);
  					}
  		    		
  		  			//$("#look_prj_no2").text(data.prjCode);
  		  			$("#look_jiafang2").text(data.contractNameJia);
  		  			$("#look_contract_money2").text(data.contractMoney);
  		  			$("#look_end_money2").text(data.endMoney);
  		  			/* $("#look_all_money2").text(data.allReceieveMoney); */
  		  			$("#look_cj_contract_long_time").text(data.cjContractLongTime==null?"":data.cjContractLongTime)
  		  			$("#look_work_info2").text(data.workText==null?"":data.workText);
  		  			$("#look_prj_info2").text(data.prjText==null?"":data.prjText);
  		  			$("#look_gq_info2").text(data.gqText==null?"":data.gqText);
  		  			$("#look_prj_leader2").text(data.prjChargeMan==null?"":data.prjChargeMan);
  		  			$("#look_prj_manager2").text(data.prjManager==null?"":data.prjManager);//项目经理
  		  	  		$("#look_deputy1_prj_manager2").text(data.deputyPrjManager1==null?"":data.deputyPrjManager1);//项目副经理1
  		  	  		$("#look_deputy2_prj_manager2").text(data.deputyPrjManager2==null?"":data.deputyPrjManager2);//项目副经理2
  		  	  		$("#look_prj_general2").text(data.prjGeneral==null?"":data.prjGeneral);//项目总工
  		  	  		$("#look_prj_duration2").text(data.prjDuration==null?"":data.prjDuration);//项目工期开始时间
  		  	  		$("#look_prj_duration2_end").text(data.prjDurationEnd==null?"":data.prjDurationEnd);//项目工期结束时间
  		  	   		$("#look_prj_grade2").text(data.prjGrade==null?"":data.prjGrade);//公路等级
  		  	  	    $("#piancha").text(data.xmJinduPiancha==null?"":data.xmJinduPiancha);//滞后时间
  		  	  		$("#look_cj_contract_end_time").text(data.cjContractEndTime==null?"":data.cjContractEndTime);
  		  	  		
  		  	  	$.ajax({
  		            type: 'POST',
  		            url: getContextPath()+'/task/selectTaskPrjName',
  		            dataType: 'json',
  		            data: {
  		            	prjNo:data.prjCode
  		            },
  		            success: function (json) {
  						$("#look_abcd").html('');		            	
  		                for(var i=0;i<json.length;i++){
  		                	$("#look_abcd").append('<table class="table table-bordered table-condensed" id="look_task_table'+(i+1)+'">'
  									                            +'<thead>'
  									                            +'<tr>'
  									                            	 +'<th style="width:30%;">任务单号：<input type="text" class="form-control" data='+json[i].prjId+' style="width:60%;" value='+json[i].prjNo+' disabled></th>'
  									                                 +'<th style="width:55%;">结算金额：<input type="text" class="form-control" style="width:50%;" value='+json[i].prjEstimateMoney+' disabled></th>'
  									                            +' </tr>'
  									                      	+' </thead>'
  									                        +' <tbody>'
  									                       +'  </tbody>'
  									                   +'  </table>')
  		                     	if(json[i].mainDepartment!=''&&json[i].mainDepartment!=null){
  		                     		$("#look_task_table"+(i+1)+" tbody").append('  <tr>'
  				                              +'   <td>主办部门</td>'
  				                              +'   <td>'
  				                                +'     <form class="form-inline">'
  				                                   +'      <input type="text" class="form-control" style="width:180px;" placeholder="部门" value='+json[i].omName+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="金额" value='+json[i].mainDepartmentMoney+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="成本分摊比例" onchange="appendBfh(this)"  value='+json[i].mainDepartmentCost+' disabled>'
  				                                   +'  </form>'
  				                               +'  </td>'
  				                           +'  </tr>')
  		                     	}
  			                	if(json[i].assistDepartment1!=''&&json[i].assistDepartment1!=null){
  		                     		$("#look_task_table"+(i+1)+" tbody").append('  <tr>'
  				                              +'   <td>协办部门</td>'
  				                              +'   <td>'
  				                                +'     <form class="form-inline">'
  				                                   +'      <input type="text" class="form-control" style="width:180px;" placeholder="部门"  value='+json[i].name1+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="金额"  value='+json[i].assistDepartment1Money+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="成本分摊比例"  value='+json[i].assistDepartment1Cost+' disabled>'
  				                                   +'  </form>'
  				                               +'  </td>'
  				                           +'  </tr>')
  		                     	}	  
  			                	if(json[i].assistDepartment2!=''&&json[i].assistDepartment2!=null){
  		                     		$("#look_task_table"+(i+1)+" tbody").append('  <tr>'
  				                              +'   <td>协办部门</td>'
  				                              +'   <td>'
  				                                +'     <form class="form-inline">'
  				                                   +'      <input type="text" class="form-control" style="width:180px;" placeholder="部门"  value='+json[i].name2+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="金额"  value='+json[i].assistDepartment2Money+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="成本分摊比例"  value='+json[i].assistDepartment2Cost+' disabled>'
  				                                   +'  </form>'
  				                               +'  </td>'
  				                           +'  </tr>')
  		                     	}	
  			                	if(json[i].assistDepartment3!=''&&json[i].assistDepartment3!=null){
  		                     		$("#look_task_table"+(i+1)+" tbody").append('  <tr>'
  				                              +'   <td>协办部门</td>'
  				                              +'   <td>'
  				                                +'     <form class="form-inline">'
  				                                   +'      <select class="form-control" style="width:180px;" id="task_xb3'+(i+1)+'">'
  				                                   +'      </select>'
  				                                   +'      <input type="text" class="form-control" style="width:180px;" placeholder="部门"  value='+json[i].name3+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="金额"  value='+json[i].assistDepartment3Money+' disabled>'
  				                                   +'      <input type="text" class="form-control" style="width:150px;" placeholder="成本分摊比例"  value='+json[i].assistDepartment3Cost+' disabled>'
  				                                   +'  </form>'
  				                               +'  </td>'
  				                           +'  </tr>')
  		                     	}	
  		                }
  		            }
  		        });
  		  	  	
  		  	$.ajax({
                type: 'POST',
                url: getContextPath()+'/work/selectDepartmentAndPerson',
                dataType: 'json',
                data: {
                	id:data.cwId
                },
                success: function (json) {
                	var enterprise=json.enterprise;
                	var accessory=json.accessory;
                	$("#look_person2 tbody").html('');
                	$("#look_accessory2 tbody").html('');
                	for(var i=0;i<enterprise.length;i++){
                		$("#look_person2 tbody").append("<tr><td>"+enterprise[i].eMan+"</td><td>"+enterprise[i].eTel+"</td></tr>")
                	}
					for(var j=0;j<accessory.length;j++){
						if(accessory[j].aType=="合同文本"){
			            	   $("#look_accessory2 tbody").append("<tr>"+
		      	   										"<td>附件</td>"+
								            	    	"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+accessory[j].acUrl+"' target='view_window' style='color:blue;'>"+accessory[j].acName+"</a></td>"+
								            	    	"<td></td>"+
								            	    "</tr>");
		            	}
						if(accessory[j].aType=="客户满意度"){
							$("#look_rating").append("<a href='"+getLocalPath()+"/oa_file/"+accessory[j].acUrl+"' target='view_window' style='color:blue;'>"+accessory[j].acName+"</a>")
						}
						
                	}
                }
      		});
  		  			
  		        }
  		    });			
  		}
  
  		function downLoadFile(obj){
  			var filePath=$(obj).attr("data");
  			var fileName=$(obj).parents("tr").find("td").eq(1).find("input").eq(0).val();
  			window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
  		}
  		
  		function downloadFile(obj){
  			var filePath=$(obj).parents("tr").find("td").eq(1).find("input").eq(0).attr("data");
  			var fileName=$(obj).parents("tr").find("td").eq(1).find("input").eq(0).val();
  			window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
  		}
  		
  		function new_accessory(){
  			var length=$("#new_accessory tr").length;
  			$("#new_accessory tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
  		function new_accessory1(){
  			var length=$("#new_accessory1 tr").length;
  			$("#new_accessory1 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
  		
  		function new_accessory2(){
  			var length=$("#new_accessory2 tr").length;
  			$("#new_accessory2 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
  		function new_accessory21(){
  			var length=$("#new_accessory21 tr").length;
  			$("#new_accessory21 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
  		
  		function new_accessory3(){
  			var length=$("#new_accessory3 tr").length;
  			$("#new_accessory3 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
  		function new_accessory31(){
  			var length=$("#new_accessory31 tr").length;
  			$("#new_accessory31 tbody").append("<tr><td>新附件</td><td><input type='file' id='file"+length+"' name='file1' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removePerson(this)'>移除</button></td></tr>")
  		}
	    
  		function getLocalPath(){
  			var pathArray = window.location.pathname.split('/');
  			var secondLevelLocation = pathArray[1];
  			var loginUrl = window.location.protocol + "//"  + window.location.host ;
  			return loginUrl;
  		}
  		
  		function changeData(did){
  			$.ajax({
  		        type: 'POST',
  		        url: getContextPath()+'/work/addContractUpdate',
  		        dataType: 'json',
  		        data:{
  		        	id:did
  		        },
  		        success: function (json) {
  		        	
  		        }
  		    });
  		}
  		
</script>


</html>