<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>综合查询</li>
			<li class="active">统计分析查询</li>
		</ul>
    </div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">本期</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">本月</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">年度</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		            <div style="border:1px solid red;" class="yihang">
	            			<div style="width:40%;border:1px solid #ccc;">
	            					
	            			</div>
	            			<div style="width:59%;margin-left:1%;border:1px solid #ccc;">
	            					
	            			</div>
	            	</div>
	            	<div style="border:1px solid pink;margin-top:12px;"></div>
	            	<div style="border:1px solid purple;margin-top:12px;"></div>
		        </div>
		    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		            	
		        </div>
		    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		            
		        </div>
		    </div>
    </div>
  </div>

</div>
    
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/echart.js"></script>
<script>
    $(document).ready( function () {
    	
	});
    

    
    

</script>
</html>