<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        .echbiaoti{
        	font-size:24px;
        	font-weigh:700;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>综合查询</li>
			<li class="active">统计分析查询</li>
		</ul>
    </div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">本期</a></li>
    <li role="presentation" onclick="initTab2()"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">月份</a></li>
    <li role="presentation" onclick="initTab3()"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">年度</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button新签合同额  累计收入 累计收款 " class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		            	<p class="echbiaoti">新签合同额</p>
		            	<div class="yihang">
		            		<div style="width:40%;border:1px solid #ccc;">
	            					<div id="echart1" style="width:100%;height:300px;"></div>
	            					<div style="width:100%;height:60px;text-align:center;font-size:22px;font-weigh:700;color:red;">
	            						<p>目标新签合同额：￥<span id="echart1_span1"></span>元</p>
	            						<p>实际新签合同额：￥<span id="echart1_span2"></span>元</p>
	            					</div>
	            					<div style="margin-bottom: 40px;">
	            						
	            					</div>
	            			</div>
	            			<div style="width:59%;margin-left:1%;border:1px solid #ccc;">
	            					<div id="echart2" style="width:100%;height:400px;"></div>
	            			</div>
		            	</div>
	            	<div style="margin-top:12px;">
	            		<p class="echbiaoti">累计收入</p>
	            		<div  class="yihang">
	            				<div style="width:40%;border:1px solid #ccc;">
	            					<div id="echart3" style="width:100%;height:300px;"></div>
	            					<div style="width:100%;height:60px;text-align:center;font-size:22px;font-weigh:700;color:red;">
	            						<p>目标累计收入：￥<span id="echart3_span1"></span>元</p>
	            						<p>实际累计收入：￥<span id="echart3_span2"></span>元</p>
	            					</div>
	            					<div style="margin-bottom: 40px;">
	            						
	            					</div>
		            			</div>
		            			<div style="width:59%;margin-left:1%;border:1px solid #ccc;">
		            					<div id="echart4" style="width:100%;height:400px;"></div>
		            			</div>
	            		</div>
	            	</div>
	            	<div style="margin-top:12px;">
	            		<p class="echbiaoti">累计收款</p>
	            		<div class="yihang">
	            			<div style="width:40%;border:1px solid #ccc;">
	            					<div id="echart5" style="width:100%;height:300px;"></div>
	            					<div style="width:100%;height:60px;text-align:center;font-size:22px;font-weigh:700;color:red;">
	            						<p>目标累计收款：￥<span id="echart5_span1"></span>元</p>
	            						<p>实际累计收款：￥<span id="echart5_span2"></span>元</p>
	            					</div>
	            					<div style="margin-bottom: 40px;">
	            						
	            					</div>
	            			</div>
	            			<div style="width:59%;margin-left:1%;border:1px solid #ccc;">
	            					<div id="echart6" style="width:100%;height:400px;"></div>
	            			</div>
	            		</div>
	            	</div>
		        </div>
		    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		        	<div class="form-inline">
		        			<label>项目筛选：</label>
							<input type="checkbox" name="item2" value="A" style="width:20px;height:20px;margin-left:  5px;">A 检测 
							<input type="checkbox" name="item2" value="B" style="width:20px;height:20px;margin-left:10px;">B 设计
							<input type="checkbox" name="item2" value="C" style="width:20px;height:20px;margin-left:10px;">C 施工
							<input type="checkbox" name="item2" value="E" style="width:20px;height:20px;margin-left:10px;">E 设计施工一体化项目
							<input type="checkbox" name="item2" value="K" style="width:20px;height:20px;margin-left:10px;">K 科研
							<input type="checkbox" name="item2" value="Q" style="width:20px;height:20px;margin-left:10px;">Q 其他       	
							<input type="checkbox" name="item2" value="X" style="width:20px;height:20px;margin-left:10px;">X 信息化
							<button type="button" class="btn btn-primary"  style="margin-left: 10px;" onclick="seach2()">查询</button>		
		        		</div>
		        		<br/>
		        		<p class="echbiaoti">新签合同额</p>
		            	<div style="overflow-x:auto;" class="yihang"  id="tab2_contract">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartB1" style="width:460px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB2" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB3" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB4" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB5" style="width:400px;height:300px;"></div>
	            			</div> -->
	            		</div>
            		</div>
	            	<div>
	            		<p class="echbiaoti">累计收入</p>
	            		<div style="margin-top:12px;overflow-x:auto;" class="yihang" id="tab2_income">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartB6" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB7" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB8" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB9" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB10" style="width:400px;height:300px;"></div>
	            			</div> -->
	            		</div>
	            	</div>
	            	<div>
	            		<p class="echbiaoti">累计收款</p>
	            		<div style="margin-top:12px;overflow-x:auto;" class="yihang" id="tab2_receipt">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartB11" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB12" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB13" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB14" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartB15" style="width:400px;height:300px;"></div>
	            			</div> -->
	            	</div>
		        </div>
		    </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
    		<div class="zhuti-content">
		        <div class="UpperPart">
		            <div class="UpperPartL">
		                
		            </div>
		            <div class="UpperPartR">
		                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">综合查询</button> -->
		            </div>
		        </div>
		        <div class="LowerPart" style="margin-top:3px;">
		        	<div class="form-inline">
		        			<label>项目筛选：</label>
							<input type="checkbox" name="item3" value="A" style="width:20px;height:20px;margin-left:  5px;">A 检测 
							<input type="checkbox" name="item3" value="B" style="width:20px;height:20px;margin-left:10px;">B 设计
							<input type="checkbox" name="item3" value="C" style="width:20px;height:20px;margin-left:10px;">C 施工
							<input type="checkbox" name="item3" value="E" style="width:20px;height:20px;margin-left:10px;">E 设计施工一体化项目
							<input type="checkbox" name="item3" value="K" style="width:20px;height:20px;margin-left:10px;">K 科研
							<input type="checkbox" name="item3" value="Q" style="width:20px;height:20px;margin-left:10px;">Q 其他       	
							<input type="checkbox" name="item3" value="X" style="width:20px;height:20px;margin-left:10px;">X 信息化
							<button type="button" class="btn btn-primary"  style="margin-left: 10px;" onclick="seach3()">查询</button>		
		        		</div>
		        		<br/>
		        	<p class="echbiaoti">新签合同额</p>
		            <div style="overflow-x:auto;" class="yihang" id="tab3_contract">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartC1" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC2" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC3" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC4" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC5" style="width:400px;height:300px;"></div>
	            			</div> -->
	            	</div>
		            	<p class="echbiaoti">累计收入</p>
		            	<div style="margin-top:12px;overflow-x:auto;" class="yihang" id="tab3_income">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartC6" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC7" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC8" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC9" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC10" style="width:400px;height:300px;"></div>
	            			</div> -->
	            		</div>
	            		<p class="echbiaoti">累计收款</p>
	            		<div style="margin-top:12px;overflow-x:auto;" class="yihang" id="tab3_receipt">
	            			<!-- <div style="border:1px solid #ccc;">
	            					<div id="echartC11" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC12" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC13" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC14" style="width:400px;height:300px;"></div>
	            			</div>
	            			<div style="margin-left:1%;border:1px solid #ccc;">
	            					<div id="echartC15" style="width:400px;height:300px;"></div>
	            			</div> -->
	            	</div>
		        </div>
		    </div>
    </div>
  </div>

</div>
    
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script src="../../js/echarts.min.js"></script>
<script>
    $(document).ready( function () {
    	initTab();
	});
    
    var count=0;
    var t1;
    function initTab(){
    	myTool.mask.show('查询中...');
    	initGsContract();
    	initDepartmentContract();
    	t1=window.setInterval('closeMyTool()',1000); 
    }
    
    function closeMyTool(){
    	if(count>=2){
    		myTool.mask.hide();
    		window.clearInterval(t1);
    	}
    }
    
    //初始化本期公司新签合同额、累计收入、累计收款
    function initGsContract(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initGsContract',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var mbContractMoney=json.mbContractMoney;
            	var contractAll=json.contractAll;
            	var mbIncome=json.mbIncome;
            	var allInCome=json.allInCome;
            	var mbReceipt=json.mbReceipt;
            	var allReceipt=json.allReceipt;
            	var percentageA=(contractAll*100/mbContractMoney).toFixed(2);
            	var percentageB=(allInCome*100/mbIncome).toFixed(2);
            	var percentageC=(allReceipt*100/mbReceipt).toFixed(2);
            	
            	$("#echart1_span1").text(mbContractMoney);
            	$("#echart1_span2").text(contractAll);
            	$("#echart3_span1").text(mbIncome);
            	$("#echart3_span2").text(allInCome);
            	$("#echart5_span1").text(mbReceipt);
            	$("#echart5_span2").text(allReceipt);
            	
            	var myChart = echarts.init(document.getElementById('echart1'));
                // 指定图表的配置项和数据
                option = {
               		title : {
                  	        text: '公司新签合同额'
                  	},       		
            	    tooltip : {
            	        formatter: "{a} <br/>{b} : {c}%"
            	    },
            	    toolbox: {
            	        feature: {
            	            restore: {},
            	            saveAsImage: {}
            	        }
            	    },
            	    series: [
            	        {
            	            name: '业务指标',
            	            type: 'gauge',
            	            detail: {formatter:'{value}%'},
            	            data: [{value: percentageA, name: '完成率'}]
            	        }
            	    ]
            	};
                myChart.setOption(option);
                
                var myChart3 = echarts.init(document.getElementById('echart3'));
                // 指定图表的配置项和数据
                option3 = {
               		title : {
                  	        text: '公司累计收入'
                  	},   
                	tooltip : {
            	        formatter: "{a} <br/>{b} : {c}%"
            	    },
            	    toolbox: {
            	        feature: {
            	            restore: {},
            	            saveAsImage: {}
            	        }
            	    },
            	    series: [
            	        {
            	            name: '业务指标',
            	            type: 'gauge',
            	            detail: {formatter:'{value}%'},
            	            data: [{value: percentageB, name: '完成率'}]
            	        }
            	    ]
            	};
                myChart3.setOption(option3);
                
              //echart5
                var myChart5 = echarts.init(document.getElementById('echart5'));
                // 指定图表的配置项和数据
                option5 = {
               		title : {
               	        text: '公司累计收款'
               	    },    		
            	    tooltip : {
            	        formatter: "{a} <br/>{b} : {c}%"
            	    },
            	    toolbox: {
            	        feature: {
            	            restore: {},
            	            saveAsImage: {}
            	        }
            	    },
            	    series: [
            	        {
            	            name: '业务指标',
            	            type: 'gauge',
            	            detail: {formatter:'{value}%'},
            	            data: [{value: percentageC, name: '完成率'}]
            	        }
            	    ]
            	};
                myChart5.setOption(option5);
                count++;
            }
        });
    }
    
    //初始化部门新签合同额、累计收款、累计收入
    function initDepartmentContract(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initDepartmentContract',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.omList;
            	var statistics=json.statistics;
            	var array=new Array();
            	var array2=new Array();
            	var array3=new Array();
            	var array4=new Array();
            	var array5=new Array();
            	var array6=new Array();
            	for(var i=0;i<statistics.length;i++){
            		var mbContractMoney=statistics[i].mbContractMoney;
                	var mbIncome=statistics[i].mbIncome;
                	var mbReceipt=statistics[i].mbReceipt;
                	var contractAll=statistics[i].contractAll;
                	var allInCome=statistics[i].allInCome;
                	var allReceipt=statistics[i].allReceipt;
                	array.push(mbContractMoney);
                	array2.push(contractAll);
                	array3.push(mbIncome);
                	array4.push(allInCome);
                	array5.push(mbReceipt);
                	array6.push(allReceipt);
            	}
            	
            	//echart2
            	var myChart2 = echarts.init(document.getElementById('echart2'));
                // 指定图表的配置项和数据
                option2 = {
                		title : {
                	        text: '部门新签合同额'
                	    },
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        data:['实际值','目标值']
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            dataView : {show: true, readOnly: false},
                	            magicType : {show: true, type: ['line', 'bar']},
                	            restore : {show: true},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    calculable : true,
                	    xAxis : [
                	        {
                	            type : 'category',
                	            data : om
                	        }
                	    ],
                	    yAxis : [
                	        {
                	            type : 'value'
                	        }
                	    ],
                	    series : [
                	        {
                	            name:'实际值',
                	            type:'bar',
                	            data:array2,
                	        },
                	        {
                	            name:'目标值',
                	            type:'bar',
                	            data:array,
                	        }
                	    ]
            	};
                myChart2.setOption(option2);
            	
              //echart4
            	var myChart4 = echarts.init(document.getElementById('echart4'));
                // 指定图表的配置项和数据
                option4 = {
                		title : {
                	        text: '部门累计收入'
                	    },
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        data:['实际值','目标值']
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            dataView : {show: true, readOnly: false},
                	            magicType : {show: true, type: ['line', 'bar']},
                	            restore : {show: true},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    calculable : true,
                	    xAxis : [
                	        {
                	            type : 'category',
                	            data : om
                	        }
                	    ],
                	    yAxis : [
                	        {
                	            type : 'value'
                	        }
                	    ],
                	    series : [
                	        {
                	            name:'实际值',
                	            type:'bar',
                	            data:array4,
                	        },
                	        {
                	            name:'目标值',
                	            type:'bar',
                	            data:array3,
                	        }
                	    ]
            	};
                myChart4.setOption(option4);
                
              //echart6
            	var myChart6 = echarts.init(document.getElementById('echart6'));
                // 指定图表的配置项和数据
                option6 = {
                		title : {
                	        text: '部门累计收款'
                	    },
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        data:['实际值','目标值']
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            dataView : {show: true, readOnly: false},
                	            magicType : {show: true, type: ['line', 'bar']},
                	            restore : {show: true},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    calculable : true,
                	    xAxis : [
                	        {
                	            type : 'category',
                	            data : om
                	        }
                	    ],
                	    yAxis : [
                	        {
                	            type : 'value'
                	        }
                	    ],
                	    series : [
                	        {
                	            name:'实际值',
                	            type:'bar',
                	            data:array6,
                	        },
                	        {
                	            name:'目标值',
                	            type:'bar',
                	            data:array5,
                	        }
                	    ]
            	};
                myChart6.setOption(option6);
                count++;
            }
    	});
    }
    
    function seach2(){
    	myTool.mask.show('查询中...');
    	var boxList=new Array();
    	$('input[name="item2"]:checked').each(function(){
    		var boxValue=$(this).val();
    		boxList.push(boxValue);
    	})
    	if(boxList.length==0){
    		toastr.error("请选择项目类型");
    		return;
    	}
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/seachTab2',
            dataType: 'json',
            data: {
            	prjType:boxList.toString()
            },
            success: function (json) {
            	var om=json.om;
            	var resultContract=json.resultContract;
            	var resultIncome=json.resultIncome;
            	var resultReceipt=json.resultReceipt;
            	$("#tab2_contract").html("");
            	$("#tab2_income").html("");
            	$("#tab2_receipt").html("");
            	for(var i=0;i<om.length;i++){
            		var echartName="echartB"+(i+1);
            		$("#tab2_contract").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		//合同额
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultContract[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
                    
            	}
            	
            	for(var i=0;i<om.length;i++){
            		 //收入
                    var echartName2="echartB2"+(i+1);
            		$("#tab2_income").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName2+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart2 = echarts.init(document.getElementById(echartName2));
                    // 指定图表的配置项和数据
                    optionB2 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultIncome[i]
                    	        }
                    	    ]
                	};
                    myChart2.setOption(optionB2);
            	}
            	
            	
            	for(var i=0;i<om.length;i++){
            		//收款
                    var echartName3="echartB3"+(i+1);
            		$("#tab2_receipt").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName3+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		var myChart3 = echarts.init(document.getElementById(echartName3));
                    // 指定图表的配置项和数据
                    optionB3 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultReceipt[i]
                    	        }
                    	    ]
                	};
                    myChart3.setOption(optionB3);
            	}
            	myTool.mask.hide();
            }
    	});
    }
    
    function seach3(){
    	myTool.mask.show('查询中...');
    	var boxList=new Array();
    	$('input[name="item3"]:checked').each(function(){
    		var boxValue=$(this).val();
    		boxList.push(boxValue);
    	})
    	if(boxList.length==0){
    		toastr.error("请选择项目类型");
    		return;
    	}
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/seachTab3',
            dataType: 'json',
            data: {
            	prjType:boxList.toString()
            },
            success: function (json) {
            	var om=json.om;
            	var resultContract=json.resultContract;
            	var resultIncome=json.resultIncome;
            	var resultReceipt=json.resultReceipt;
            	var year=json.year;
            	$("#tab3_contract").html("");
            	$("#tab3_income").html("");
            	$("#tab3_receipt").html("");
            	for(var i=0;i<om.length;i++){
            		var echartName="echartC"+(i+1);
            		$("#tab3_contract").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		//合同额
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultContract[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
                    
            	}
            	
            	for(var i=0;i<om.length;i++){
            		 //收入
                    var echartName2="echartC2"+(i+1);
            		$("#tab3_income").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName2+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart2 = echarts.init(document.getElementById(echartName2));
                    // 指定图表的配置项和数据
                    optionB2 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultIncome[i]
                    	        }
                    	    ]
                	};
                    myChart2.setOption(optionB2);
            	}
            	
            	
            	for(var i=0;i<om.length;i++){
            		//收款
                    var echartName3="echartC3"+(i+1);
            		$("#tab3_receipt").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName3+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		var myChart3 = echarts.init(document.getElementById(echartName3));
                    // 指定图表的配置项和数据
                    optionB3 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:resultReceipt[i]
                    	        }
                    	    ]
                	};
                    myChart3.setOption(optionB3);
            	}
            	myTool.mask.hide();
            }
    	});
    }
    
    
    var count2=0;
    var t2;
    //初始化标签页2（月份）
    function initTab2(){
    	myTool.mask.show('查询中...');
    	initTab2ContractMoney();
    	initTab2Income();
    	initTab2Receipt();
    	t2=window.setInterval('closeMyTool2()',1000); 
    }
    
    function closeMyTool2(){
    	if(count2>=3){
    		myTool.mask.hide();
    		window.clearInterval(t2);
    	}
    }
    
    //tab2 初始化新签合同额
    function initTab2ContractMoney(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab2ContractMoney',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	
            	for(var i=0;i<om.length;i++){
            		var echartName="echartB"+(i+1);
            		$("#tab2_contract").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count2++;
            }
    	});
    }
    
  	//tab2 初始化累计收入
	function initTab2Income(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab2Income',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	
            	for(var i=0;i<om.length;i++){
            		var echartName="echartB2"+(i+1);
            		$("#tab2_income").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count2++;
            }
		})
    }
	
	//tab2 初始化累计收款
	function initTab2Receipt(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab2Receipt',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	
            	for(var i=0;i<om.length;i++){
            		var echartName="echartB3"+(i+1);
            		$("#tab2_receipt").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count2++;
            }
		})
    }
	
	
    var count3=0;
    var t3;
  	//初始化标签页3（年度）
	function initTab3(){
		myTool.mask.show('查询中...');
		initTab3ContractMoney();
		initTab3Income();
		initTab3Receipt();
		t3=window.setInterval('closeMyTool3()',1000); 
    }
  	
  	function closeMyTool3(){
  		if(count3>=3){
  			myTool.mask.hide();
  			window.clearInterval(t3);
  		}
  	}
    
	function initTab3ContractMoney(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab3ContractMoney',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	var year=json.year;
            	for(var i=0;i<om.length;i++){
            		var echartName="echartC"+(i+1);
            		$("#tab3_contract").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count3++;
            }
    	});
    }
    
	function initTab3Income(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab3Income',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	var year=json.year;
            	for(var i=0;i<om.length;i++){
            		var echartName="echartC2"+(i+1);
            		$("#tab3_income").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count3++;
            }
    	});
    }
	
	function initTab3Receipt(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/Statistics/initTab3Receipt',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	console.log(json)
            	var om=json.om;
            	var result=json.result;
            	var mb=json.mb;
            	var year=json.year;
            	for(var i=0;i<om.length;i++){
            		var echartName="echartC3"+(i+1);
            		$("#tab3_receipt").append('<div style="border:1px solid #ccc;">'+
		    				 '<div id="'+echartName+'" style="width:460px;height:300px;"></div>'+
		    				 '</div>');
            		
            		var myChart = echarts.init(document.getElementById(echartName));
                    // 指定图表的配置项和数据
                    optionB1 = {
                    		title: {
                    	        text: om[i]
                    	    },
                    	    tooltip: {
                    	        trigger: 'axis'
                    	    },
                    	    legend: {
                    	        data:['实际值','目标值']
                    	    },
                    	    grid: {
                    	        left: '3%',
                    	        right: '4%',
                    	        bottom: '3%',
                    	        containLabel: true
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            saveAsImage: {}
                    	        }
                    	    },
                    	    xAxis: {
                    	        type: 'category',
                    	        boundaryGap: false,
                    	        data: year
                    	    },
                    	    yAxis: {
                    	        type: 'value'
                    	    },
                    	    series: [
                    	        {
                    	            name:'实际值',
                    	            type:'line',
                    	            data:result[i]
                    	        },
                    	        {
                    	            name:'目标值',
                    	            type:'line',
                    	            data:mb[i]
                    	        }
                    	    ]
                	};
                    myChart.setOption(optionB1);
            	}
            	count3++;
            }
    	});
    }

</script>
</html>