<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        #xinjianCailiao input,#xinjianCailiao2 input{
            width:160px;
        }
        #xinjianCailiao select,#xinjianCailiao2 select{
            width:160px;
        }
        #xinjianCailiaoZ input,#xinjianCailiao2Z input{
            width:160px;
        }
        #xinjianCailiaoZ select,#xinjianCailiao2Z select{
            width:160px;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>材料采购管理</li>
            <li>公司材料管理</li>
            <li class="active">结余管理</li>
		</ul>
    </div>

    <div>
        <div style="overflow-x:scroll;">     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
	                    		<td style="width:20%;">转出项目名称：</td>
	                    		<td style="width:35%;"><input type="text" style="width:62%;" class="form-control" id="out_prj_name" disabled></td>
	                    		<td style="width:20%;">转出项目编号：</td>
	                    		<td style="width:25%;"><input type="text" style="width:80%;" class="form-control" id="out_prj_no" disabled></td>
	                    	</tr>
	                    	<tr>
	                    		<td>转出采购合同名称：</td>
	                    		<td><input type="text" class="form-control"  style="width:62%;" id="out_cg_name" disabled></td>
	                    		<td>转出采购合同编号：</td>
	                    		<td><input type="text" class="form-control" style="width:80%;"  id="out_cg_no" disabled></td>
	                    	</tr>
	                    	<!-- <tr>
	                    		<td>转入采购合同名称：</td>
	                    		<td>
	                    			<select id="in_cg_name" class="form-control" style="width:62%;"></select>
	                    		</td>
	                    		<td>转入采购合同编号：</td>
	                    		<td>
	                    			<select id="in_cg_no" class="form-control" style="width:80%;"></select>
	                    		</td>
	                    	</tr> -->
	                    	<tr>
	                    		<td>转入项目名称：</td>
	                    		<td>
	                    			<!-- <select id="in_prj_name" class="form-control" style="width:62%;"></select> -->
	                    			<input type="text" class="form-control" id="in_prj_name" disabled  style="width:62%;">
                               		<button type="button" style="margin-left: 5px;" class="btn btn-primary"  id="chosexm">选择项目</button>  
	                    		</td>
	                    		<td>转入项目编号：</td>
	                    		<td>
	                    			<select id="in_prj_no" class="form-control" style="width:80%;"></select> 
	                    			<!-- <input type="text" style="width:62%;" class="form-control" id="in_prj_no" disabled> -->
	                    		</td>
	                    	</tr>
	                    	<tr>
	                    		<td>转出人：</td>
	                    		<td>
	                    			<input type="text" style="width:62%;" class="form-control" id="out_person" disabled>
	                    			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addGuanliren">选择转出人</button>
	                    		</td>
	                    		<td>转出时间：</td>
	                    		<td><input type="text" style="width:80%;" class="form-control" id="out_time"></td>
	                    	</tr>
	                    	<tr>
	                    		<td>备注：</td>
	                    		<td colspan="3"><input type="text" style="width:90%;" class="form-control" id="out_desc"></td>
	                    	</tr>
                        </table>
                        
                        <table class="table table-bordered table-condensed" id="remain_out_table" >
                        		<thead>
	                        		<tr>
	                                	<th colspan="9">材料信息列表</th>
	                            	</tr>
	                            	<tr>
	                        			<th>材料名称</th>
		                    			<th>材料类型</th>
		                    			<th>规格型号</th>
		                    			<th>单位</th>
		                    			<th>结余余数</th>
		                    			<th>单价</th>
		                    			<th>转出数量</th>
		                    			<th colspan="2">操作</th>
	                        		</tr>
	                        	</thead>
	                        	<tbody>
	                        	</tbody>
                        </table>
                    </form>  
                </div>
                
        <!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document" style="width:1500px">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div style="overflow-x:scroll;">     
                <form class="form-inline">
                	<table class="table table-bordered table-condensed" id="mainContent2">
		                <thead>
		                    <tr>
		                        <th>材料名称</th>
		                        <th>材料类型</th>
		                        <th>规格型号</th>
		                        <th>单位</th>
		                        <th>数量</th>
		                        <th>单价</th>
		                        <th>金额</th>
		                        <th>收货日期</th>
		                    </tr>
		                </thead>
		                <tbody>
		                </tbody> 
            		</table>
                </form> 
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg3">
    <div class="modal-dialog modal-lg" role="document"  style="width:70%;">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>结余转出</b></h4>
        </div>
        <div class="modal-body">
                
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" onclick="saveRemainOut()">保存</button>
            <button type="button" class="btn btn-success" onclick="submitRemainOut()">提交</button> 
        </div>
        </div>
    </div>
</div>
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- Modal项目 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="xiangmumd">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>选择项目</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" id="xiangmubiao">
                            <thead>
                            	<tr>
                            		<th></th>
                            		<th>编号</th>
                                    <th>项目名称</th>
                                    <th>采购合同号</th>
                                    <th>采购合同名</th>
                            	</tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="quedingxm">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model项目结束 -->
<!--选人 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="addGuanliren">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">选择收货人</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div>
                            <span>部门:</span>
                            <select style="width:180px;" id="bumen" class="form-control" >
                                
                            </select>
                        </div>
                    </div>
                </form>
                <div>
                     <table class="table table-bordered table-condensed"  id="bmmingzibiao" >
                     	<thead>
		   					<tr>
		   						<th></th>
		   						<th>姓名</th>
		   						<th>工号</th>
		   						<th>出生日期</th>
		   						<th>性别</th>
		   						<th>职务</th>
		   					</tr>
		   				</thead>
		   				<tbody></tbody>
                     </table>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="saveGuanliren()" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	
    	initSelectCG();
    	initbumen();
    	$('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
        $('#editable-select2').editableSelect({ 
            effects: 'slide' 
        });
        $('#editable-select3').editableSelect({ 
            effects: 'slide' 
        });
        $('#editable-select4').editableSelect({ 
            effects: 'slide' 
        });
        laydate.render({
            elem: '#out_time' //指定元素
        });
        
        initTable();
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   	console.log(id)
   	
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": null}, 
            { "data": "taskNo"}, 
            { "data": null}, 
            { "data": "cgNo"}, 
            { "data": "pickPerson"}, 
            { "data": "pickDate"}, 
        ],
        "columnDefs": [
						{	
							 "class": "tcenter",
							  "targets": 0,
							  "searchable": true,
							  "render": function(data, type, full) {
									return '<a onclick="gotoPrj(this)" style="color:	#4876FF;cursor: pointer;">'+data.pickProject+'</a>'
							  }
						},
						{
							  "class": "tcenter",
							   "targets": 2,
							   "searchable": true,
							   "render": function(data, type, full) {
									return '<a onclick="gotoCg(this)" style="color:	#4876FF;cursor: pointer;">'+data.cgName+'</a>'
							   }
						},
						{	
								 "class": "tcenter",
								    "targets": 6,
								    "searchable": true,
								    "render": function(data, type, full) {
								    	return '<i class="iconfont icon-icon-test Pedbca" style="font-size:20px;cursor:pointer;display:none;" title="查看详细信息" onclick="look(this)" data-toggle="modal" data-target="#allMsg1" id="lookDetall"></i> <i class="iconfont icon-zuzhijigou Pedbcb" style="font-size:18px;cursor:pointer;margin-left:5px;display:none;" title="结余转出" onclick="remainOut(this)" data-toggle="modal" data-target="#allMsg3"></i>'
								        }
								  }
						],
						"fnDrawCallback" : function() {
							$.ajax({
		                		type:"post",
		                		url:getContextPath()+"/login/getUser",
		                		async:false,
		                		data:{
		                		},
		                		success:function(json){
		                			
		                			if(json!=null &&json!=""){
		                				var arr = json.uPermissions.split(',');
		                				
		                				for(var i=0;i<arr.length;i++){
		                					var arr2 = arr[i].replace("+","");
		                					//console.log(arr2);
		                					if(arr[i].indexOf("Pedbca") >= 0 ){
		                						$(".Pedbca").show();
		                					}
		                					if(arr[i].indexOf("Pedbcb") >= 0 ){
		                						$(".Pedbcb").show();
		                					}
		                				}
		                				
		                			}
		                			
		                		}
		                	});
							
						},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    var table2=$('#mainContent2').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "materialName"}, 
            { "data": "materialType"}, 
            { "data": "specificationModel"}, 
            { "data": "cmoUnit"}, 
            { "data": "remainNumber"}, 
            { "data": "cmoUnitPrice"}, 
            { "data": null},
            { "data": "pickDate"}
        ],
        "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 6,
								    "searchable": true,
								    "render": function(data, type, full) {
									    	var price=data.cmoUnitPrice;
									    	var num=data.remainNumber;
									    	var sum=Number(price)*Number(num);
									    	return sum;
								        }
								  }
						],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});
    var table3=$('#xiangmubiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null},
		            { "data": "taskNo"},
		            { "data": "demandProject"},
		            { "data": "cgNo"},
		            { "data": "cgName"},
		            
		        ],
		        "columnDefs": [
								{
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="xiangmuName" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
  //选部门选人
    var bmtableren=$('#bmmingzibiao').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi2" style="width:16px;height:16px;">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});

	
	
	
	function look(obj){
		var tr=$(obj).parent().parent();
		var data=$("#mainContent").DataTable().row(tr).data();
		var cmoId=data.cmoId;
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/ClRemain/selectClRemainById',
            dataType: 'json',
            data:{
            	id:cmoId
            },
            success: function (json) {
            	//console.log(json)
            	if(json.length!=0){
	            	$('#mainContent2').dataTable().fnClearTable();
	                $('#mainContent2').DataTable().rows.add(json).draw(false);
            	}else{
            		$('#mainContent2').dataTable().fnClearTable();
            		$("#mainContent2 tbody").append("<tr><td colspan='8' style='text-align:center;color:red;font-size:24px'>材料为空</td></tr>")
            	}
            }
        });
	}
	

	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/gsMaterialOut/selectGsMaterialOutById',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	data=json;
	        	var cmoId=data.cmoId;
	    		$("#out_prj_name").val(data.pickProject);
	    		$("#out_prj_no").val(data.taskNo);
	    		$("#out_cg_name").val(data.cgName);
	    		$("#out_cg_no").val(data.cgNo);
	    		$("#in_prj_name").val(data.pickProject);
	    		$("#in_prj_no").val(data.taskNo);
	    		$("#out_person").val(data.getPerson);
	    		$("#out_time").val(data.pickDate);
	    		$("#out_desc").val(data.cmoDesc);
	    		$("#remain_out_table tbody").html('');
            	if(json.gsClOut.length!=0){
            		for(var i=0;i<json.gsClOut.length;i++){
            			$("#remain_out_table tbody").append("<tr>"+
								"<td style='width:10%;'>"+json.gsClOut[i].materialName+"</td>"+
								"<td style='width:10%;'>"+json.gsClOut[i].materialType+"</td>"+
								"<td style='width:10%;'>"+json.gsClOut[i].specificationModel+"</td>"+
								"<td style='width:10%;'>"+json.gsClOut[i].cmoUnit+"</td>"+
								"<td style='width:10%;'>"+json.gsClOut[i].remainNumber+"</td>"+
								"<td style='width:10%;'>"+json.gsClOut[i].cmoUnitPrice+"</td>"+
								"<td style='width:10%;'><input type='text' data="+json.gsClOut[i].crId+"  class='form-control' style='width:70%;' value='"+json.gsClOut[i].cmoNumber+"'></td>"+
								"<td style='width:10%;'><button type='button' class='btn btn-default' onclick='removeThis(this)'>移除</button></td>"+
							"</tr>")
            		}
            	}else{
        			$("#remain_out_table tbody").append("<tr><td  colspan='8' style='text-align:center;color:red;font-size:24px'>材料为空<td></tr>")
        		}
	    		
	        }
	    });
		
		
		
		
	}
	function removeThis(obj){
		var tr=$(obj).parent().parent();
		$(tr).remove();
	}
	
	
	//选择项目
	$("#chosexm").click(function(){
		$("#xiangmumd").modal("show");
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/gsMaterialIn/selectcgNotaskNoPrjName',
	            dataType: 'json',
	            async:false,
	            data: {
	            },
	            success: function (json) {
	            	var array=new Array();
	            	for(var i=0;i<json.length;i++){
	            		var prj=json[i].demandProject;
	            		var taskno=json[i].taskNo;
	            		if(prj.indexOf(",")){
	            			var name=prj.split(",")
	            			var no=taskno.split(",")
	            			for(var a=0;a<name.length;a++){
		            			for(var a=0;a<no.length;a++){
	            				var aJson={
	            						cgName:undefined,
	            						cgNo:undefined,
	            						demandProject:undefined,
	            						taskNo:undefined,
	            				}
		            				aJson.cgName=json[i].cgName;
		            				aJson.cgNo=json[i].cgNo;
		            				aJson.demandProject=name[a];
		            				aJson.taskNo=no[a];
		            				array.push(aJson)
		            			}
	            			}
	            		}else{
	            			var aJson={
	            					cgName:undefined,
	            					cgNo:undefined,
	            					demandProject:undefined,
	            					taskNo:undefined,
	            			}
	            			aJson.cgName=json[i].cgName;
            				aJson.cgNo=json[i].cgNo;
            				aJson.demandProject=prj;
            				aJson.taskNo=taskno;
            				array.push(aJson)
	            		}
	            	}
	                $('#xiangmubiao').dataTable().fnClearTable();
	                $('#xiangmubiao').DataTable().rows.add(array).draw(false);
	            }
	        });
	})
	$("#quedingxm").click(function(){
		var prjname=$("input[name='xiangmuName']:checked").parent().next().next().text();
		var prjNo=$("input[name='xiangmuName']:checked").parent().next().text();
		$("#in_prj_name").val(prjname);
		$("#in_prj_no").val(prjNo);
		$("#xiangmumd").modal("hide");
		
	})
	
	//初始化采购合同名和采购合同号
    function initSelectCG(){
		$.ajax({
        type: 'POST',
        url: getContextPath()+'/gsMaterialIn/selectcgNotaskNoPrjName',
        dataType: 'json',
        async:false,
        data: {
        },
        error: function (msg) {
        	toastr.error("请求失败");
        },
        success: function (json) {
        	$("#in_prj_name").html('');
        	$("#in_prj_no").html('');
        	for(var i=0;i<json.length;i++){
        		var prj=json[i].demandProject;
        		var taskno=json[i].taskNo;
         		var list=new Array();
         		var list2=new Array();
        		if(prj.indexOf(",")){
        			var name=prj.split(",")
        			for(var a=0;a<name.length;a++){
        				list.push(name[a])
        			}
        			var no=taskno.split(",")
        			for(var aa=0;aa<no.length;aa++){
        				list2.push(no[aa])
        			}
        		}else{
        			list.push(prj)
        			list2.push(taskno)
        		}
        		for(var k=0;k<list.length;k++){
        			$('#in_prj_name').append("<option value="+list[k]+">"+list[k]+"</option>")
        		}
        		for(var kk=0;kk<list2.length;kk++){
        			$('#in_prj_no').append("<option value="+list2[kk]+">"+list2[kk]+"</option>")
        		}
        	}
        	$('#in_prj_name').editableSelect().on('select.editable-select', function (e, dom) {
        		$.ajax({
                    type: 'POST',
                    url: getContextPath()+'/task/selectTaskPrjNo',
                    dataType: 'json',
                    data: {
                    	prjName:$('#in_prj_name').val()
                    },
                    success: function (json) {
                    	for(var i=0;i<json.length;i++){
                    		$('#in_prj_no').val(json[i].prjNo);
                    	}
                    }
          		});
          	})
          	$('#in_prj_no').editableSelect().on('select.editable-select', function (e, dom) {
        		$.ajax({
                    type: 'POST',
                    url: getContextPath()+'/task/selectTaskPrjName',
                    dataType: 'json',
                    data: {
                    	prjNo:$('#in_prj_no').val()
                    },
                    success: function (json) {
                    	for(var i=0;i<json.length;i++){
                    		$('#in_prj_name').val(json[i].prjName);
                    	}
                    }
          		});
          	}) 
          	 
        }
		});
	}
	
	//初始化收货人部门及人员
	function initbumen(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	//console.log(json);
            	for(var i=0;i<json.length;i++){
	            	$("#bumen").append("<option value='"+json[i].omId+"'>" + json[i].omName+ "</option>");
            	}
            	$("#bumen").trigger('change');
            }
        });
	}
	$("#bumen").change(function(){
		var bumen=$("#bumen").val();
		$('#addGuanliren').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataType:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#bmmingzibiao').dataTable().fnClearTable();
                $('#bmmingzibiao').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//保存添加保管人
	function saveGuanliren(){
		var tr=$("input[name='mingzi2']:checked").parents("tr");
		var data=$("#bmmingzibiao").DataTable().row(tr).data();
		
		//console.log(data)
		$("#out_person").val(data.uName);
		//$("#addGuanliren").modal("hide");
	}
	
	
	
	
	
	//填报保存
	function liuchengGaibian(){
		var clOut= new Array();
    	var material= new Array();
    	//材料信息
    	$("#remain_out_table tbody").find("tr").each(function(){
    		var data = $(this).children();
    		var clname = data.eq(0).text();//材料名
    	    var cltype = data.eq(1).text();//材料类型
    	    var clxinghao = data.eq(2).text();//材料型号
    	    var cldanwei = data.eq(3).text();//材料单位
    	    var yushu = data.eq(4).text();//结余余数
    	    var cldanjia = data.eq(5).text();//材料单价
    	    var lingNum = data.eq(6).find("input").val();//领料数量
    	    /* var shengyuNum = data.eq(7).text();//剩余数量
    	    var outMoney = data.eq(8).text();//出库金额 */
    	    var shengyuNum=yushu-lingNum;
			var outMoney=lingNum*cldanjia;
			var reg=/^\+?[1-9][0-9]*$/;
	   	    if(!reg.test(lingNum)){
	   			toastr.error("请输入数字")
	       		return;
	   		}
	        if(Number(lingNum)>Number(yushu)){
	    	   toastr.error("领料数量不能超过原有数量")
       			return;
	        }
    	    var arr={
    	    		gsId:undefined,
    	    		gsOutId:undefined,
    	    		materialName:undefined,
    	    		materialType:undefined,
    	    		specificationModel:undefined,
    	    		cmoUnit:undefined,
    	    		cmoUnitPrice:undefined,
    	    		cmoNumber:undefined,
    	    		remainNumber:undefined,
    	    		cmoMoney:undefined,
    	    		pickDate:undefined
    	    }
    	    arr.gsId=null;
    	    arr.gsOutId=null;
    	    arr.materialName=clname;
    	    arr.materialType=cltype;
    	    arr.specificationModel=clxinghao;
    	    arr.cmoUnit=cldanwei;
    	    arr.cmoUnitPrice=cldanjia
    	    arr.cmoNumber=lingNum;
    	    arr.remainNumber=shengyuNum;
    	    arr.cmoMoney=outMoney;
    	    arr.pickDate=null;
    	    material.push(arr);
    	    //console.log(material)
    	})
    	//修改结余材料的数目
    	var clRemain=new Array();
			$("#remain_out_table tbody").find("tr").each(function(){
				var data = $(this).children();
				var yushu = data.eq(4).text();//结余余数
				var cldanjia = data.eq(5).text();//材料单价
				var id = data.eq(6).find("input").attr("data");//id
				var lingNum = data.eq(6).find("input").val();//领料数量
				var shengyuNum=yushu-lingNum;
				var outMoney=lingNum*cldanjia;
				//console.log(outMoney)
				var reg=/^\+?[1-9][0-9]*$/;
		   	    if(!reg.test(lingNum)){
		   			toastr.error("请输入数字")
		       		return;
		   		}
		        if(Number(lingNum)>Number(yushu)){
		    	   toastr.error("领料数量不能超过原有数量")
	       			return;
		        }
		        var array={
		        		crId:undefined,
		        		cmoNumber:undefined,
	    	    		remainNumber:undefined,
	    	    		cmoMoney:undefined
	    	    }
		        array.crId=id;
		        array.cmoNumber=lingNum;
		        array.remainNumber=shengyuNum;
		        array.cmoMoney=outMoney;
		        clRemain.push(array);
			})
    	
    	if(material.length!=0){
	    	var cgNo=$("#out_cg_no").val();
			var cgName=$("#out_cg_name").val();
			var taskNo=$("#in_prj_no").val();
			var prjName=$("#in_prj_name").val();
			var year=$("#out_time").val();
			var renyuan=$("#out_person").val();
			var beizhu=$("#out_desc").val();
			if(prjName==''){
				toastr.error("项目名称为空")
				return;
			}
			var arr2={
					cmoId:undefined,
					cgNo:undefined,
					cgName:undefined,
					taskNo:undefined,
					pickProject:undefined,
					pickDate:undefined,
					pickPerson:undefined,
					cmoDesc:undefined,
					type:undefined,
					gsClOut:undefined,
					clRemain:undefined,
    		}
			arr2.cmoId=null;
			arr2.cgNo=cgNo;
			arr2.cgName=cgName;
			arr2.taskNo=taskNo;
			arr2.pickProject=prjName;
			arr2.pickDate=year;
			arr2.pickPerson=renyuan;
			arr2.cmoDesc=beizhu;
			arr2.type=3;
			arr2.gsClOut=material;
			arr2.clRemain=clRemain;
			clOut.push(arr2);
    		//console.log(clOut)
    		
			$.ajax({
				type: 'POST',
	            url: getContextPath()+'/gsMaterialOut/addGsMaterialOutSave',
	            dataType: 'json',
	            contentType:'application/json',
	            data:JSON.stringify(clOut),
	            success: function (json) {
	            	console.log(json);
	            	if(json.result>0){
						$("#allMsg3").modal("hide")
						toastr.success("添加成功")
						
						
					}else{
						toastr.error("添加失败")
					}
	            }
			}) 
	    }else{
	    	toastr.error("材料信息为空")
	    }
		
	}
	
	
	function submitRemainOut(){
		var clOut= new Array();
    	var material= new Array();
    	//材料信息
    	$("#remain_out_table tbody").find("tr").each(function(){
    		var data = $(this).children();
    		var clname = data.eq(0).text();//材料名
    	    var cltype = data.eq(1).text();//材料类型
    	    var clxinghao = data.eq(2).text();//材料型号
    	    var cldanwei = data.eq(3).text();//材料单位
    	    var yushu = data.eq(4).text();//结余余数
    	    var cldanjia = data.eq(5).text();//材料单价
    	    var lingNum = data.eq(6).find("input").val();//领料数量
    	    /* var shengyuNum = data.eq(7).text();//剩余数量
    	    var outMoney = data.eq(8).text();//出库金额 */
    	    var shengyuNum=yushu-lingNum;
			var outMoney=lingNum*cldanjia;
			var reg=/^\+?[1-9][0-9]*$/;
	   	    if(!reg.test(lingNum)){
	   			toastr.error("请输入数字")
	       		return;
	   		}
	        if(Number(lingNum)>Number(yushu)){
	    	   toastr.error("领料数量不能超过原有数量")
       			return;
	        }
    	    var arr={
    	    		gsId:undefined,
    	    		gsOutId:undefined,
    	    		materialName:undefined,
    	    		materialType:undefined,
    	    		specificationModel:undefined,
    	    		cmoUnit:undefined,
    	    		cmoUnitPrice:undefined,
    	    		cmoNumber:undefined,
    	    		remainNumber:undefined,
    	    		cmoMoney:undefined,
    	    		pickDate:undefined
    	    }
    	    arr.gsId=null;
    	    arr.gsOutId=null;
    	    arr.materialName=clname;
    	    arr.materialType=cltype;
    	    arr.specificationModel=clxinghao;
    	    arr.cmoUnit=cldanwei;
    	    arr.cmoUnitPrice=cldanjia
    	    arr.cmoNumber=lingNum;
    	    arr.remainNumber=shengyuNum;
    	    arr.cmoMoney=outMoney;
    	    arr.pickDate=null;
    	    material.push(arr);
    	    //console.log(material)
    	})
    	//修改结余材料的数目
    	var clRemain=new Array();
			$("#remain_out_table tbody").find("tr").each(function(){
				var data = $(this).children();
				var yushu = data.eq(4).text();//结余余数
				var cldanjia = data.eq(5).text();//材料单价
				var id = data.eq(6).find("input").attr("data");//id
				var lingNum = data.eq(6).find("input").val();//领料数量
				var shengyuNum=yushu-lingNum;
				var outMoney=lingNum*cldanjia;
				//console.log(outMoney)
				var reg=/^\+?[1-9][0-9]*$/;
		   	    if(!reg.test(lingNum)){
		   			toastr.error("请输入数字")
		       		return;
		   		}
		        if(Number(lingNum)>Number(yushu)){
		    	   toastr.error("领料数量不能超过原有数量")
	       			return;
		        }
		        var array={
		        		crId:undefined,
		        		cmoNumber:undefined,
	    	    		remainNumber:undefined,
	    	    		cmoMoney:undefined
	    	    }
		        array.crId=id;
		        array.cmoNumber=lingNum;
		        array.remainNumber=shengyuNum;
		        array.cmoMoney=outMoney;
		        clRemain.push(array);
			})
    	
    	if(material.length!=0){
	    	var cgNo=$("#out_cg_no").val();
			var cgName=$("#out_cg_name").val();
			var taskNo=$("#in_prj_no").val();
			var prjName=$("#in_prj_name").val();
			var year=$("#out_time").val();
			var renyuan=$("#out_person").val();
			var beizhu=$("#out_desc").val();
			if(prjName==''){
				toastr.error("项目名称为空")
				return;
			}
			var arr2={
					cmoId:undefined,
					cgNo:undefined,
					cgName:undefined,
					taskNo:undefined,
					pickProject:undefined,
					pickDate:undefined,
					pickPerson:undefined,
					cmoDesc:undefined,
					type:undefined,
					gsClOut:undefined,
					clRemain:undefined,
    		}
			arr2.cmoId=null;
			arr2.cgNo=cgNo;
			arr2.cgName=cgName;
			arr2.taskNo=taskNo;
			arr2.pickProject=prjName;
			arr2.pickDate=year;
			arr2.pickPerson=renyuan;
			arr2.cmoDesc=beizhu;
			arr2.type=3;
			arr2.gsClOut=material;
			arr2.clRemain=clRemain;
			clOut.push(arr2);
    		//console.log(clOut)
    		
			$.ajax({
				type: 'POST',
	            url: getContextPath()+'/gsMaterialOut/addGsMaterialOutSubmit',
	            dataType: 'json',
	            contentType:'application/json',
	            data:JSON.stringify(clOut),
	            success: function (json) {
	            	if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#allMsg3").modal("hide");
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	}
	            
	            }
			}) 
	    }else{
	    	toastr.error("材料信息为空")
	    }
	}
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	

</script>
</html>