<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
   <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
			<li class="active">通知公告</li>
		</ul>
    </div>   

    <div class="zhuti-content">

       <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td style="width:100px;">标题  </td>
                            <td id="look_title_all"></td>
                            <td style="width:100px;">类型</td>
                            <td id="look_type_all"></td>
                        </tr>
                        <tr>
                            <td>重要程度</td>
                            <td id="look_importance_all"></td>
                            <td>发布部门</td>
                            <td id="lookfabubumen" ></td>
                        </tr>
                        <tr>
                            <td>发布人</td>
                            <td id="look_user_all"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>内容  </td>
                            <td colspan="3" id="look_info_all"></td>
                        </tr>
                    </table>
                    <br/>
                    <table class="table table-bordered table-condensed"  id="look_all_table">
                    		
                    </table> 
                </form>  
            </div>

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	lookAll();
    	changeData();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("");
   	no=GetQueryString("");

    function lookAll(){
		
		$("#look_title_all").text(data.aTitle);
		$("#look_type_all").text(data.aType);
		$("#look_importance_all").text(data.aImportance);
		$("#look_user_all").text(data.issuer);
		$("#look_info_all").text(data.aDesc);
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/getOrgNameById',
	        dataType: 'json',
	        data: {
	        	omId:data.aDepartment
	        },
	        success: function (json) {
	        	$("#lookfabubumen").text(json.omName)
	        }
	    });
		
		var id=data.aId;
		$.ajax({
			type: 'POST',
            url: getContextPath()+'/announcement/selectAccessoryById',
            dataType: 'json',
            data: {
            	id:id
            },
            success: function (json) {
            	$("#look_all_table").empty();
               for(var i=0;i<json.length;i++){
            	   $("#look_all_table").append("<tr>"+
            	   														"<td>附件"+(i+1)+"</td>"+
												            	    	"<td colspan='2'><input type='text' class='form-control' style='width:100%;' value='"+json[i].acName+"' disabled></td>"+
												            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
												            	    "</tr>");
               }
            }
		})
		
		
	}
	
	
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}

	
	
	function download_this(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}

	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
</script>
</html>