<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
			<li class="active">成果文件用印管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        			<div>     
		                <form class="form-inline">
		                        <table class="table table-bordered table-condensed ">
		                            <tr>
		                                <td style="width:130px;">项目名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
		                                <td id="lookprjName"></td>
		                                <td style="width:120px;">任务单号</td>
		                                <td id="looktask_no"></td>
		                            </tr>
		                            <tr>
		                                <td>项目负责人</td>
		                                <td id="lookprj_ownerunit"></td>
		                                <td>项目阶段</td>
		                                <td id="lookprj_phase"></td>
		                            </tr>
		                            <tr>
		                                <td>分项主任工程师</td>
		                                <td id="lookdivisionEngineer"></td>
		                                <td>(副)总工程师</td>
		                                <td id="lookheadEngineer"></td>
		                            </tr>
		                            <tr>
		                                <td>用章管理人  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
		                                <td id="lookuserSignetMan"></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                            <tr>
		                                <td>项目情况说明  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
		                                <td colspan="3" id="lookprj_desc"></td>
		                            </tr>
		                        </table> 
		                    </form> 
		            </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	changeData();
    	lookRusing();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("");
   	no=GetQueryString("");

	
	//查看详细信息
	function lookRusing(){
		$.ajax({
			type:"post",
			url:getContextPath()+"/ResultsUsing/selectResultsUsingById",
			dataType:"json",
			data:{
				usId:id,
				status:2
			},
			success:function(json){
				//console.log(json);
				$("#lookprjName").text(json.prjName);
				$("#looktask_no").text(json.usNo);
				$("#lookprj_ownerunit").text(json.prjHead);//项目负责人
				$("#lookprj_phase").text(json.projectPhase);//项目阶段
				$("#lookdivisionEngineer").text(json.divisionEngineer);//主任
				$("#lookheadEngineer").text(json.headEngineer);//副总工程师
				$("#lookprj_desc").text(json.projectDesc);
				$("#lookuserSignetMan").text(json.uName);
			}
		})
	}
	
v

</script>
</html>