<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
   <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
            <li>培训管理</li>
            <li class="active">外出培训申请</li>
		</ul>
    </div>
    
     
<div>     
                <form class="form-inline" id="look_form" method="post" enctype="multipart/form-data">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td style="width:100px;">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td id="looktitle"></td>
                            <td style="width:100px;">所属部门</td>
                            <td id="lookdepartment"></td>
                        </tr>
                        <tr>
                            <td>申请人员  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td id="lookuser"></td>
                            <td>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务</td>
                            <td id="lookduty" ></td>
                        </tr>
                        <tr>
                            <td>课程名称  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            <td id="lookclassName"></td>
                            <td>申请时间</td>
                            <td id="lookyear"></td>
                        </tr>
                        <tr>
                            <td>培训费用</td>
                            <td id="lookstudyMoney"></td>
                            <td>培训时间</td>
                            <td id="lookyear2"></td>
                        </tr>
                        <tr>
                            <td>培训地点</td>
                            <td id="lookstudyAddr"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>课程内容</td>
                            <td colspan="3" id="lookstudy_infos"></td>
                        </tr>
                        <tr>
                            <td>参加理由和培训目标</td>
                            <td colspan="3" id="lookstudy_target"></td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-condensed" id="looktable">
                    	
                    </table> 
                </form>  
            </div>
            
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script>
    $(document).ready( function () {
    	lookAll();
    	
	});

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("");
	
	
	function lookAll(){
		
		$("#looktitle").text(data.otTitle);
		
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/getOrgNameById',
	        dataType: 'json',
	        data: {
	        	omId:data.proposerDepartment
	        },
	        success: function (json) {
	        	//console.log(json)
	        	$("#lookdepartment").text(json.omName);
	        }
	    });
		
		$("#lookuser").text(data.uName);
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/duty/selectDutyBydutyId',
	        dataType: 'json',
	        data: {
	        	dutyId:data.dutyId
	        },
	        success: function (data) {
	        	//console.log(data)
	        	$("#lookduty").text(data.dutyName);
	        }
	    });
		$("#lookclassName").text(data.courseName);
		$("#lookyear").text(data.applicationDate);
		$("#lookyear2").text(data.otDate);
		$("#lookstudyMoney").text(data.trainingMoney);
		$("#lookstudyAddr").text(data.trainingLocation);
		$("#lookstudy_infos").text(data.courseDesc);
		$("#lookstudy_target").text(data.trainingReason);
		
		$("#buttons").html('');
		$("#buttons").append("<button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>")
		
		$("#looktable").html('');
		 var acc=data.accessory;
		 for(var i=0;i<acc.length;i++){
			 $("#looktable").append("<tr><td>附件"+(i+1)+"</td><td><input style='width:100%;' type='text' value="+acc[i].acName+" class='form-control' disabled/></td><td><button type='button' data2="+acc[i].acUrl+" onclick='downloadFile(this)' class='btn btn-primary'>下载附件</button></td></tr>")	 
		 }
		
		
	}
	
	function downloadFile(obj){
		var filePath=$(obj).attr("data2");
		var fileName=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+fileName+"&filePath="+filePath);
	}
	

	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}

</script>
</html>