<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>行政事务</li>
			<li class="active">项目印章管理-使用管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        
            				<div>     
                    				<form id="edit_form2" class="form-inline" method="post" enctype="multipart/form-data">
                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <td>使用的项目</td>
                                                <td id="lookusePrj"></td>
                                                <td>任务单号</td>
                                                <td id="looktask_no2"></td>
                                            </tr>
                                            <tr>
                                            	<td>印章编号</td>
                                                <td  id="look_signet_no2"></td>
                                                <td>印章全称: </td>
			                                    <td  id="look_yzqc">></td>
                                            </tr>
                                            <tr>
                                                <td>开始时间</td>
                                                <td  id="lookbeginTime"></td>
                                            	<td>归还时间</td>
                                                <td id="lookendTime"></td>
                                            </tr>
                                            <tr>
                                                <td>归还人</td>
                                                <td id="lookreturnperson"></td>
                                            	<td>保管人</td>
                                                <td id="lookbaoguan"></td>
                                            </tr>
                                            <!-- <tr>
			                                    <td>附件</td>
				                            	<td colspan="2"><input type="text" class="form-control" id="looksyfile" ></td>
				                            	<td id="download_file2"></td>
			                                </tr> -->
                                        </table> 
                                        <table class="table table-bordered table-condensed" id="look_table2">
                        	
                        				</table>
                                    </form>  
                			</div>

    </div>
    						
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	lookUsing();
    	
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");

	
	
	//查看详细信息使用管理
	function lookUsing(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/signetUsers/selectUsersById',
	        dataType: 'json',
	        async:false,
	        data:{
	        	suId:id
	        },
	        success: function (json) {
	        	console.log(json)
	        	data2=json;
	        	$("#lookusePrj").text(data2.useProject);
	    		$("#looktask_no2").text(data2.taskNo);
	    		$("#look_signet_no2").text(data2.signetNo);
	    		$("#lookbeginTime").text(data2.beginTime);
	    		$("#lookbaoguan").text(data2.custodyMan);
	    		$("#lookendTime").text(data2.endTime);
	    		$("#lookreturnperson").text(data2.returnPerson);
	    		$("#look_yzqc").text(data2.yinzhangName)
	    		
	    		
	    		$.ajax({
	    			type:"post",
	    			url:getContextPath()+"/accessory/selectAccessoryById",
	    			dataType:"json",
	    			data:{
	    				id:id,
	    			},
	    			success:function(json){
	    				//console.log(json);
	    				$("#look_table2").empty();
	    	               for(var i=0;i<json.length;i++){
	    	            	   $("#look_table2").append("<tr>"+
	    	            	   														"<td style='width:15%;'>附件"+(i+1)+"</td>"+
	    													            	    	/* "<td colspan='2'><input type='text' class='form-control' style='width:70%;' value='"+json[i].acName+"' disabled></td>"+
	    													            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download2(this)'>下载附件</button></td>"+ */
	    													            	    	"<td><a href="+getLocalPath()+"/oa_file/"+json[i].acUrl+" target='view_window' style='color:blue;'>"+json[i].acName+"</a></td>"+
	    													            	    "</tr>");
	    	               }
	    			}
	    		}) 
	        }
	    });
		
		
	}
	
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	function download2(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	

	 function removeFile(obj){
			var tr=$(obj).parents("tr");
			$(tr).remove();
		}

	 function changeData(){
			$.ajax({
		        type: 'POST',
		        url: getContextPath()+'/signetUsers/updateStatus',
		        dataType: 'json',
		        data:{
		        	id:id,
		        	status:'0',
		        	status2:'1'
		        },
		        success: function (json) {
		        	
		        }
		    });
		}

</script>
</html>