<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
         <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
       /*  #tijiaoren{
                display: flex;
                flex-wrap:wrap;
        } */
        .tab-content>div{
            margin-top:18px;
        }
    </style>
</head>
<body>
   
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>经营管理</li>
			<li class="active">直接和间接成本</li>
		</ul>
    </div>

    <div class="zhuti-content">
	    <div>
	
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">直接和间接成本</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">外协费用</a></li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    		<div class="UpperPart">
	                       <div class="UpperPartL" style="font-size:18px;">
		                       		<form class="form-inline">
			                                <label>月份筛选:</label>
			                                <input type="text" class="form-control" id="yuefenshaixuan">
		                            	</form>
	                        </div>
	                        <div class="UpperPartR">
	                            <button type="button" class="btn btn-primary Pdea"  onclick="openA()">导入成本</button>
	                        </div>
	                    </div>
	                    <div class="LowerPart" style="margin-top:3px;">
	                        <table class="table table-bordered table-condensed" id="mainContent">
	                            <thead>
	                                <tr>
	                                    <th style="width:15%;">任务单号</th>
	                                    <th style="width:30%;">任务单名称</th>
	                                    <th style="width:15%;">部门</th>
	                                    <th style="width:15%;" class="jinqianyanse">间接成本(元)</th> 
	                                    <th style="width:15%;" class="jinqianyanse">直接成本(元)</th> 
	                                    <th style="width:10%;">月份</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                
	                            </tbody>   
	                        </table>
	                    </div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    		<div class="UpperPart">
	                       <div class="UpperPartL" style="font-size:18px;">
	                       			<form class="form-inline">
		                                <label>月份筛选:</label>
		                                <input type="text" class="form-control" id="yuefenshaixuan2">
	                            	</form>
	                        </div>
	                        <div class="UpperPartR">
	                            <button type="button" class="btn btn-primary Pdea"  onclick="openB()">导入外协费用</button>
	                        </div>
	                    </div>
	                    <div class="LowerPart" style="margin-top:3px;">
	                        <table class="table table-bordered table-condensed" id="mainContent2">
	                            <thead>
	                                <tr>
	                                    <th style="width:12%;">任务单号</th>
	                                    <th style="width:30%;">任务单名称</th>
	                                    <th style="width:20%;">外协单位</th>
	                                    <th style="width:15%;" class="jinqianyanse">外协费用(元)</th> 
	                                    <th style="width:15%;">部门</th> 
	                                    <th style="width:8%;">日期</th> 
	                                </tr>
	                            </thead>
	                            <tbody>
	                                
	                            </tbody>   
	                        </table>
	                    </div>
			    </div>
			  </div>
		
		</div>
            
       </div>
       
       
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>导入上月成本</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="form1" enctype="multipart/form-data" method="post">
                    	<table  class="table table-bordered table-condensed">
                    		<tr>
                    			<td style="width:20%;">附件</td>
                    			<td>
                    				<input style="width:60%;" type="file" name="file" id="file" class="form-control">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>日期</td>
                    			<td>
                    				<input type="text" id="time" class="form-control">
                    			</td>
                    		</tr>
                    	</table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="file_submit()">提交</button>
        </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看部门收入</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" >
                    	<table class="table table-bordered table-condensed" id="d_table">
                    		<thead>
                    			<tr>
                    				<th>部门名称</th>
                    				<th>部门合同金额</th>
                    				<th>部门收入</th>
                    			</tr>
                    		</thead>
                    		<tbody></tbody>
                    	</table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>导入外协费用</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" id="form2" enctype="multipart/form-data" method="post">
                        <table  class="table table-bordered table-condensed">
                    		<tr>
                    			<td style="width:20%;">附件</td>
                    			<td>
                    				<input style="width:60%;" type="file" name="file2" id="file2" class="form-control">
                    			</td>
                    		</tr>
                    		<tr>
                    			<td>日期</td>
                    			<td>
                    				<input type="text" id="time2" class="form-control">
                    			</td>
                    		</tr>
                    	</table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="file_submit2()">提交</button>
        </div>
        </div>
    </div>
</div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/myTool.js"></script>
<script>  
    $(document).ready( function () {
    	initTable();
    	initTable2();
    	laydate.render({
            elem: '#yuefenshaixuan' //指定元素
           ,type: 'month'
       	   ,done: function(value, date, endDate){
	       		 var d = value;
	     		$("#mainContent").DataTable().search(d).draw(true);
       		  }
        });
    	laydate.render({
            elem: '#yuefenshaixuan2' //指定元素
           ,type: 'month'
       	   ,done: function(value, date, endDate){
	       		 var d = value;
	     		$("#mainContent2").DataTable().search(d).draw(true);
       		  }
        });
    	laydate.render({
            elem: '#time' //指定元素
           ,type: 'month'
        });
    	laydate.render({
            elem: '#time2' //指定元素
           ,type: 'month'
        });
	});
    

    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "taskCode"},
		            { "data": "prjName"},
		            { "data": "departName"},
		            { "data": "money", render: $.fn.dataTable.render.number( ',', '.', 2, '' )},
		            { "data": "money2", render: $.fn.dataTable.render.number( ',', '.', 2, '' )},
		            { "data": "date"}
		        ],
					"fnDrawCallback" : function() {
						$.ajax({
	                		type:"post",
	                		url:getContextPath()+"/login/getUser",
	                		async:false,
	                		data:{
	                		},
	                		success:function(json){
	                			
	                			if(json!=null &&json!=""){
	                				var arr = json.uPermissions.split(',');
	                				
	                				for(var i=0;i<arr.length;i++){
	                					var arr2 = arr[i].replace("+","");
	                					//console.log(arr2);
	                					if(arr[i].indexOf("Pdea") >= 0 ){
	                						$(".Pdea").show();
	                					}
	                				}
	                				
	                			}
	                			
	                		}
	                	});
						
					},
        "order": [5, 'desc'],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var table=$('#mainContent2').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "prjNo"},
		            { "data": "prjName"},
		            { "data": "wxName"},
		            { "data": "wxCost"},
		            { "data": "dept"},
		            { "data": "time"}
		        ],
					"fnDrawCallback" : function() {
						$.ajax({
	                		type:"post",
	                		url:getContextPath()+"/login/getUser",
	                		async:false,
	                		data:{
	                		},
	                		success:function(json){
	                			
	                			if(json!=null &&json!=""){
	                				var arr = json.uPermissions.split(',');
	                				
	                				for(var i=0;i<arr.length;i++){
	                					var arr2 = arr[i].replace("+","");
	                					//console.log(arr2);
	                					if(arr[i].indexOf("Pdea") >= 0 ){
	                						$(".Pdea").show();
	                					}
	                				}
	                				
	                			}
	                			
	                		}
	                	});
						
					},
        "order": [0, 'desc'],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
	function initTable(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/task2/selectCompanyCost',
            dataType: 'json',
            data: {
            	//depart:$("#yuefenshaixuan").val()
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	function initTable2(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/wx/selectWxCost',
            dataType: 'json',
            data: {
            	
            },
            success: function (json) {
                $('#mainContent2').dataTable().fnClearTable();
                $('#mainContent2').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
	function file_submit(){
		var fileName=$("#file").val();
		if(fileName.indexOf("xls")==-1){
			toastr.error("请选择表格")
			return;
		}
		myTool.mask.show('导入中...');
		var options={
				url:getContextPath()+'/task2/importExcelCompanyCost',
				data:{
					time:$("#time").val()
				},  
				type:'POST',
				dataType: 'json',
				contentType : "application/x-www-form-urlencoded; charset=gbk",
				success:function(json){
					if(json>0){
						toastr.success('导入成功');
						location.reload([true]);
					}else{
						toastr.error('导入失败');
					}
					myTool.mask.hide();
				}
		}
		$("#form1").ajaxSubmit(options);
	}
  
	function file_submit2(){
		var fileName=$("#file2").val();
		if(fileName.indexOf("xls")==-1){
			toastr.error("请选择表格")
			return;
		}
		var options={
				url:getContextPath()+'/wx/addWxCost',
				data:{
					time:$("#time2").val()
				},  
				type:'POST',
				dataType: 'json',
				contentType : "application/x-www-form-urlencoded; charset=gbk",
				success:function(json){
					var result=json.result;
					if(result>0){
						initTable2();
		                $("#myModal2").modal("hide");
		                toastr.success('导入成功');
					}else{
						toastr.error('导入失败');
					}
				}
		}
		$("#form2").ajaxSubmit(options);
	}
	
	function openA(){
		var myDate=new Date();
		myDate.setMonth(myDate.getMonth()-1);
		var lastMonth=myDate.getFullYear() + "-" + (myDate.getMonth()+1);
		$("#time").val(lastMonth);
		$("#myModal").modal("show");
	}
	
	function openB(){
		var myDate=new Date();
		myDate.setMonth(myDate.getMonth()-1);
		var lastMonth=myDate.getFullYear() + "-" + (myDate.getMonth()+1);
		$("#time2").val(lastMonth);
		$("#myModal2").modal("show");
	}
		
</script>

</html>