<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="../../style/jquery-editable-select.css"> -->
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
       /*  #tijiaoren{
                display: flex;
                flex-wrap:wrap;
        } */
        .tab-content>div{
            margin-top:18px;
        }
    </style>
</head>
<body>
          <div role="tabpanel" class="tab-pane" id="settings">  
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td style="width:20%">采购合同名称</td>
                            <td style="width:30%" id="lookcghetongming"></td>
                            <td style="width:20%">采购合同编号</td>
                            <td style="width:30%" id="lookcgNo"></td>
                        </tr>
                        <tr>
                        	<td>采购单号</td>
                            <td id="lookcgdNo"></td>
                            <td style="width:100px;">采购合同类型</td>
                            <td id="lookcgType"></td>
                        </tr>
                        <tr>
                            <td>项目名称</td>
                            <td id="lookprjName"></td>
                            <td>任务单号</td>
                            <td id="looktask_no"></td>
                        </tr>
                        <tr>
                            <td>是否代购</td>
                            <td id="lookisdaigou"></td>
                            <td>分包合同</td>
                            <td id="lookfbhetong"></td>
                        </tr>
                        <tr>
                        	<td>借款合同号</td>
                        	<td id="lookborrow_no"></td>
                            <td>代购类型</td>
                            <td id="lookdaigouType"></td>
                        </tr>
                        <tr>
                            <td class="jinqianyanse">代购金额(元)</td>
                            <td id="lookdaigouMoney"></td>
                            <td class="jinqianyanse">采购合同金额(元)</td>
                            <td id="lookcghetongMoney"></td>
                        </tr>
                        <tr>
                            <td>合同甲方名称</td>
                            <td id="lookjiafang"></td>
                            <td>乙方</td>
                            <td id="lookyifang"></td>
                        </tr>
                        <tr>
                            <td>付款方式</td>
                            <td id="lookfukuanfangshi"></td>
                            <td>采购合同签订时间</td>
                            <td id="lookyear"></td>
                        </tr>
                        <tr>
                            <td>采购部门</td>
                            <td id="lookcg_bumen"></td>
                           	<td class="jinqianyanse">运费(元)</td>
                           	<td id="lookyunfei"></td>
                         </tr> 
                        <tr>
                            <td>采购合同概述</td>
                            <td colspan="3" id="lookcghetonggaishu"></td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-condensed"  id="look_all_table">                      		
				    </table>

				    <div class="wrap">
				    <div id="lookcailiaobiaoDiv" style="width:1580px;border=1">
				    
                    </div>
				    </div>
            </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<!-- <script src="../../js/jquery-editable-select.js"></script> -->
<script src="../../toastr/toastr.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../js/quanxian.js"></script>


<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>

<script src="../../select/js/select2.min.js"></script>
<script>  
    $(document).ready( function () {
    	initTable();
    });
    //获取url传参
    function getParam(paramName) { 
        paramValue = "", isFound = !1; 
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
        } 
        return paramValue == "" && (paramValue = null), paramValue 
    } 
    
    var cgNo=getParam("cgNo");
    function initTable(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/showDetailsPanel/cgContract',
            dataType: 'json',
            async:false,
            data: {
            	cgNo:cgNo
            },
            success: function (json) {
            	var data = json.cgc;
            	var result = json.result;
				$("#lookcghetongming").text(data.contractName);
				$("#lookcgNo").text(data.cgNo);
				$("#lookcgdNo").text(data.cgdNo);
				$("#lookcgbianhao").text(data.cgId)
				$("#looktask_no").text(data.workNo);
				$("#lookprjName").text(data.prjName)
				$("#lookisdaigou").text(data.isProgram);
				$("#lookfbhetong").text(data.fbNo==""?"无":data.fbNo);
				$("#lookborrow_no").text(data.borrowNo==''||data.borrowNo==null?"无":data.borrowNo)
				$("#lookdaigouType").text(data.programType==null?"无":data.programType),
				$("#lookcgType").text(data.cgcType);
				$("#lookdaigouMoney").text(data.programMoney==null?"":data.programMoney);
				$("#lookcghetongMoney").text(data.cgContractMoney==null?"":data.cgContractMoney);
				$("#lookjiafang").text(data.contractNameJia==null?"":data.contractNameJia);
				$("#lookyifang").text(data.spName==null?"":data.spName);
				$("#lookfukuanfangshi").text(data.payMode==null?"":data.payMode);
				$("#lookyear").text(data.contractSignTime==null?"":data.contractSignTime);
				$("#lookcghetonggaishu").text(data.contractSummary==null?"":data.contractSummary);
				$("#lookgaikuang").text(data.workContent==null?"":data.workContent);
				$("#lookcg_bumen").text(data.cgDepartment);
				$("#lookyunfei").text(data.freight);
				
				$("#lookcailiaobiaoDiv").empty();
				$("#lookcailiaobiaoDiv").append(
        				"<table  class='table table-bordered table-condensed' id='lookcailiaobiao'>"+
                    	"<thead>"+
                        	"<tr>"+
                            	"<th>材料名称</th>"+
                            	"<th>材料类型</th>"+
	                            "<th>材料型号</th>"+
	                            "<th style='width:6%;'>单位</th>"+
	                            "<th>数量</th>"+
	                            "<th style='width:8%;'>单价</th>"+
	                            "<th style='width:8%;'>金额</th>"+
	                            /*"<th>项目部推荐供应商</th>"+
	                             "<th>公司确定供应商</th>"+ */
	                            "<th>备注</th>"+
                        	"</tr>"+
                    	"</thead>"+
                    	"<tbody>"+
                    	"</tbody>"+
                    "</table>"
                    )
				if(data.cgcl!=null){
					for(var k=0;k<data.cgcl.length;k++){
                   		$("#lookcailiaobiao tbody").append("<tr><td style='width:10%;'>"
           		  				+''+(data.cgcl[k].clName==null?"":data.cgcl[k].clName)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clType==null?"":data.cgcl[k].clType)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clMode==null?"":data.cgcl[k].clMode)+'' 
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clUnit==null?"":data.cgcl[k].clUnit)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clNumber==null?"":data.cgcl[k].clNumber)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clPrice==null?"":data.cgcl[k].clPrice)+''
           		  				+"</td><td style='width:9%;'>"
           		  				+''+(data.cgcl[k].clMoney==null?"":data.cgcl[k].clMoney)+''
           		  				+"</td><td style='width:9%;'>"
           		  			/*+''+(data.cgcl[k].clspName1==null?"":data.cgcl[k].clspName1)+''
           		  				+"</td><td style='width:10%;'>"
           		  				 +''+(data.cgcl[k].clspName2==null?"":data.cgcl[k].clspName2)+''
           		  				+"</td><td style='width:9%;'>" */
           		  				+''+(data.cgcl[k].clDesc==null?"":data.cgcl[k].clDesc)+''
           		  				+"</td></tr>")
                    	} 
				}
				
			}
        });
    }
    
    
   	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
   	
    
  	function details_close(){
  		if(confirm("您确定要关闭本页吗？")){
  			window.opener=null;
  			window.open('','_self'); 
  			window.close();
  			} 
  		}    

</script>

</html>