<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="../../style/jquery-editable-select.css"> -->
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
       /*  #tijiaoren{
                display: flex;
                flex-wrap:wrap;
        } */
        .tab-content>div{
            margin-top:18px;
        }
    </style>
</head>
<body>
	    <div role="tabpanel" class="tab-pane" id="settings">
	    			<table class="table table-bordered table-condensed">
	                    	<thead>
	                    		<tr>
	                    			<th colspan="10">项目基本信息</th>
	                    		</tr>
	                    	</thead>
	                    	<tbody>
	                    		<tr>
		                        	<td style="width:15%;">承接合同名称:</td>
		                            <td id="lookchengjiehetongName" style="width:35%;"></td>
		                            <td style="width:15%;">承接合同号:</td>
		                            <td id="lookchengjiehetonghao" style="width:35%;"></td>
		                        </tr>
		                        <tr>
		                       		<td>项目名称:</td>
		                            <td id="lookprjName"></td>
		                            <td>任务单号:</td>
		                            <td id="looktask_no"></td>
		                        </tr>
	                    	</tbody>
		             </table>
		             <table class="table table-bordered table-condensed">
	                    	<thead>
	                    		<tr>
	                    			<th colspan="10">分包合同信息</th>
	                    		</tr>
	                    	</thead>
	                    	<tbody>
		                    	<tr>
		                        	<td style="width:15%;">分包合同名称:</td>
		                            <td id="lookhetongName" style="width:35%;"></td>
		                            <td style="width:15%;">分包合同编号</td>
		                             <td id="lookfbNo" style="width:35%;"></td>
		                        </tr>
		                        <tr>
		                            <td>合同甲方名称:</td>
		                            <td id="lookjiafang"></td>
		                             <td class="jinqianyanse">主合同金额(元):</td>
                           			 <td id="lookzhuhetongMoney"></td>
		                        </tr>
		                        <tr>
		                            <td>类型:</td>
		                            <td id="lookType"></td>
		                            <td>甲方管理部门:</td>
		                            <td id="lookjiafangbumen"></td>
		                        </tr>
	                    	</tbody>
		             </table>
	    			<table class="table table-bordered">
                           <thead>
	                    		<tr>
	                    			<th colspan="10">分包合同信息</th>
	                    		</tr>
	                    	</thead>
	                    	<tbody>
	                    			<tr>
			                            <td style="width:15%;">乙方:</td>
			                            <td id="lookyifang" style="width:35%;"></td>
			                            <td style="width:15%;" class="jinqianyanse">合同金额(元):</td>
			                            <td id="lookhetongMoney" style="width:35%;"></td>
			                        </tr>
			                        <tr>
			                            <td>合同起日期:</td>
			                            <td id="lookyear"></td>
			                            <td>合同讫日期:</td>
			                            <td id="lookyear2"></td>
			                        </tr>
			                        <tr>
			                            <td class="shuziyanse">合同工期:</td>
			                            <td id="lookhetonggongqi"></td>
			                            <td class="jinqianyanse">已累计分包金额(元):</td>
			                            <td id="lookleijifenbaoMoney"></td>
			                        </tr>
			                        <tr>
			                            <td class="jinqianyanse">暂定金(元):</td>
			                            <td id="lookzandingMoney"></td>
			                            <td class="jinqianyanse">履约保证金(元):</td>
			                            <td id="looklvyuebaozhengMoney"></td>
			                        </tr>
			                        <tr>
			                            <td style="display:none">税率:</td>
			                            <td id="lookrate" style="display:none"></td>
			                            <td>税票类型</td>
			                            <td id="lookrateType"></td>
			                        </tr>
			                        <tr>
			                            <td>付款方式:</td>
			                            <td colspan="3" id="lookfukuanfangshi"></td>
			                        </tr>
			                        <tr>
			                            <td>主要概况及工作内容:</td>
			                            <td colspan="3" id="lookgaikuang"></td>
			                        </tr>
	                    	</tbody>
                        <!-- <tr>
                            <td>合同文本:</td>
                            <td colspan="3"></td>
                        </tr> -->
                    </table> 
                    <table class="table table-bordered table-condensed"  id="look_all_table">
				                        		
				    </table>
				    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="details_close()">关闭本页</button>
                    </div>
	    </div>
       
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<!-- <script src="../../js/jquery-editable-select.js"></script> -->
<script src="../../toastr/toastr.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../js/quanxian.js"></script>


<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>

<script src="../../select/js/select2.min.js"></script>
<script>  
    $(document).ready( function () {
    	initTable();
    });
    //获取url传参
    function getParam(paramName) { 
        paramValue = "", isFound = !1; 
        if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
            arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
            while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
        } 
        return paramValue == "" && (paramValue = null), paramValue 
    } 
    
    var fbNo=getParam("fbNo");
    var fbId;
    function initTable(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/showDetailsPanel/fbContract',
            dataType: 'json',
            async:false,
            data: {
            	fbNo:fbNo
            },
            success: function (json) {
            	//console.log(json);
            	var data=json.fbc;
            	fbId=data.fbId;
        		fbNo=data.fbNo;
        		
        		$("#lookhetongName").text(data.contractName)
        		$("#lookfbNo").text(data.fbNo);
        		$("#lookType").text(data.fbcType)
        		$("#lookjiafang").text(data.contractNameJia)
        		$("#lookyifang").text(data.ccName)
        		$("#lookprjName").text(data.prjName)
        		$("#looktask_no").text(data.workNo)
        		$("#lookchengjiehetongName").text(data.cjContractName)
        		$("#lookchengjiehetonghao").text(data.cjContractCode)
        		$("#lookzhuhetongMoney").text(data.mainContractMoney)
        		$('#lookleijifenbaoMoney').text(data.nowFbAllMoney)
        		$("#lookyear").text(data.contractStartTime)
        		$("#lookyear2").text(data.contractEndTime)
        		$("#lookjiafangbumen").text(data.omName)
        		$("#lookhetonggongqi").text(data.contractLongTime)
        		$("#lookfukuanfangshi").text(data.payMode)
        		$("#lookhetongMoney").text(data.contractMoney)
        		$("#lookzandingMoney").text(data.temporaryMoney)
        		$("#looklvyuebaozhengMoney").text(data.performanceBond)
        		$("#lookgaikuang").text(data.workContent)
        		$("#lookrate").text(data.rate);
        		$("#lookrateType").text(data.rateType);
        		
        		$.ajax({
        			type:"post",
        			url:getContextPath()+"/subcontract/selectAccessoryById",
        			dataType:"json",
        			async:false,
        			data:{
        				id:fbId,
        			},
        			success:function(json){
        				//console.log(json);
        				$("#look_all_table").empty();     		
        	               for(var i=0;i<json.length;i++){
        	            	   if(json[i].aType=="分包合同文本"){
        		            	   $("#look_all_table").append("<tr>"+
        	      	   										"<td>分包合同文本</td>"+
        							            	    	"<td colspan='2'><input type='text' class='form-control' style='width:100%;' value='"+json[i].acName+"' disabled></td>"+
        							            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
        							            	    "</tr>");
        	            	   }
        	            	   if(json[i].aType=="法律顾问签字"){
        		            	   $("#look_all_table").append("<tr>"+
        	      	   										"<td>法律顾问签字</td>"+
        							            	    	"<td colspan='2'><input type='text' class='form-control' style='width:100%;' value='"+json[i].acName+"' disabled></td>"+
        							            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
        							            	    "</tr>");
        	            	   }
        	            	   if(json[i].aType=="合同扫描件"){
        		            	   $("#look_all_table").append("<tr>"+
        	      	   										"<td style='width:20%;'>合同扫描件</td>"+
        	      	   										"<td colspan='3'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' style='color:blue'>"+json[i].acName+"</a></td>"+							            	    	
        							            	    "</tr>");
        		            	   } 
        	               }
        			}
        		});
            }
        });
    }
    
    
   	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
   	
    
  	function details_close(){
  		if(confirm("您确定要关闭本页吗？")){
  			window.opener=null;
  			window.open('','_self'); 
  			window.close();
  			} 
  		}    

</script>

</html>