<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>安全管理</li>
			<li class="active">项目报表</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
             <div class="UpperPartL" style="font-size:18px;">
                     <form class="form-inline">
                         <label>选择日期:</label>
                         <input class="form-control" id="time" style="width:160px;">
                         <button type="button" class="btn btn-primary"  onclick="seachTime()">查询</button>
                         
                         <button type="button" class="btn btn-primary"  onclick="abcd()">aaaa</button>
                     </form>
               </div>
               <div class="UpperPartR">
               		<div id="tabBtn"></div>
               </div>
        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                  <thead>
                  		<tr>
                  			<th>序号</th>
                  			<th>任务单号</th>
                  			<th>项目名称</th>
                  			<th>项目类型</th>
                  			<th>项目负责人</th>
                  			<th>总进度</th>
                  			<th>阶段数</th>
                  			<th>重要程度</th>
                  		</tr>
                  </thead>
            </table>
        </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<!-- <script src="../../js/jquery.dataTables.min.js"></script> -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>

<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#time',//指定元素
            type:'month'
        });
    	initTable();
	});
    
    $.fn.dataTable.Buttons.swfPath = '../../js/datatables/swf/flashExport.swf';
    var table=$('#mainContent').DataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": null},
		            { "data": "prjNo"},
		            { "data": "prjName"}, 
		            { "data": "prjType2"}, 
		            { "data": "uName"}, 
		            { "data": "allMoney"},
		            { "data": null},
		            { "data": "importance"}
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 6,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		var type=full.prjType2;
										  	  		var frist=full.fristDesign;
								  	  				var second=full.secondDesign;
								  	  				var ygk=full.ygDesign;
										  	  		if(type=="B2 初设+施设"){
										  	  			/* 
										  	  			if(second!=''&&second!=null&&second!='无'){
										  	  				return second;
										  	  			}else{
										  	  				return frist;
										  	  			} */
										  	  			return frist+"+"+second;
										  	  		}else if(type=="B3 预工可+初设+施设"){
										  	  			return ygk+"+"+frist+"+"+second;
										  	  		}else if(type=="B4 预工可+施设"){
										  	  			return ygk+"+"+second;
										  	  		}else{
										  	  			return '';
										  	  		}
										        }
										  }
								],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
       "fnDrawCallback"  : function(){
          　　this.api().column(0).nodes().each(function(cell, i) {
          　　　　cell.innerHTML =  i + 1;
          　  　});
        },
        "buttons": [
		        	{
		                extend: "csv",
		                text: "导出csv",
		                bom: true,
		                filename: '项目报表',
		                fieldSeparator: ',',
		                exportOptions: {
		                	format: {
		                        header: function ( data) {
		                            return data;
		                        },
		                        body: function ( data, columnIdx, rowIdx, code ) {
					                return data;
					            }
		                    },
		                    columns:[1,2,3,4,5,6,7]
		                }
		            }
		        ]
	});
    
    $(".hasinput").on( 'change', function () {
        table
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw(false);
    } );
 
 
  table.buttons().container().appendTo( $('#tabBtn') );
   $('.buttons-csv').addClass('btn btn-primary');
    
	function initTable(){
		myTool.mask.show('查询中..');
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/PrjSafetyReport/selectPrjSafetyReport',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	myTool.mask.hide();
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
	function seachTime(){
		myTool.mask.show('查询中..');
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/PrjSafetyReport/selectPrjSafetyReportByTime',
            dataType: 'json',
            data: {
            	time:$("#time").val()
            },
            success: function (json) {
            	myTool.mask.hide();
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
	}

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }
    
	  /*去除DateTables 表格无参数错误提示*/
	$.fn.dataTable.ext.errMode = function(s,h,m){}
	  
</script>
</html>