<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent1 th,#mainContent2 th,#mainContent3 th,#mainContent4 th,#mainContent5 th{
            width:15%;
        }
          .details-control{
        	text-align:center;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">档案统计表</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建</button> -->
            </div>

        </div>
        <div class="LowerPart">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th></th>
                        <th>项目编号</th>
                        <th>项目名称</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>

        
    </div>
    
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan"  frameborder="false" scrolling="auto" style="border: none;" width="100%" height=700px allowtransparency="true"></iframe>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->



</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "prjName"}, 
		            { "data": "prjNo"}
		        ],
		        "columnDefs": [
								{	
										 	"class": "details-control",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	 return '<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size:22px;cursor:pointer;" onclick="showerji(this)"></span>'
										    	}
										  }
								],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectPrjAndNo',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }

	var stateArray=[];
	var prjId;
	var prjNo;
	var flag=true;
	function showerji(obj){
		var tr=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(tr).data();
		console.log(data)
		prjId=data.prjId;
		prjNo=data.prjNo;
		
		var id=data.prjNo;
		if(stateArray.indexOf(id)>=0){
			stateArray.splice($.inArray(id,stateArray),1);// $.inArray(data.idFirst,stateArray)获取idFirst在数组中的索引值 ；stateArray.splice(索引值，数量)删除数组中指定索引值的元素
			$(".qwe"+id).remove();
		}else{
			stateArray.push(id);
			$.ajax({
	            type: 'POST',
	            url: getContextPath()+'/ArchivalStatistics/selectArchivalStatistics',
	            dataType: 'json',
	            async:false,
	            data: {
	            	id:id
	            },
	            success: function (json) {
	            	for(var i=0;i<json.length;i++){
	            		var aa=json[i];
	            		$(obj).parent().parent().after('<tr class="qwe'+id+'" data='+aa[0]+'><td style="border:none;"></td><td>'+aa[1]+'</td><td><i class="iconfont icon-icon-test" style="font-size:18px;cursor:pointer;" title="查看" onclick="look2(this)"></i></td></tr>');
	    			}
	            	$(obj).parent().parent().after('<tr class="qwe'+id+'" style="font-weight:700;font-size:18px;"><td style="border:none;"></td><td>档案类型</td><td>操作</td></tr>');
	            }
	        });
		}
		if(flag==true){
			$(obj).removeClass("glyphicon-chevron-down");
			$(obj).addClass("glyphicon-chevron-up");
			flag=false;
		}else{
			$(obj).removeClass("glyphicon-chevron-up");
			$(obj).addClass("glyphicon-chevron-down");
			flag=true;
		}
	}
     
	function look2(aa){
		$("#myModal").modal('show');
		var dataid=$(aa).parent().parent().attr("data");
		var fileIndex=$(aa).parent().prev().text();
		//console.log(fileIndex)
		if(fileIndex=="经营文档资料"){
			$("#lookdangan").attr('src', './OperatingDocumentLook.html?dataid='+dataid+'&no='+prjNo+'');
		}else if(fileIndex=="施工文档资料"){
			$("#lookdangan").attr('src', './ConstructionDocumentLook.html?dataid='+dataid+'&no='+prjNo+'');
		}else if(fileIndex=="检测评估资料"){
			$("#lookdangan").attr('src', './DetectionEvaluationLook.html?dataid='+dataid+'&no='+prjNo+'');
		}else if(fileIndex=="设计文件资料"){
			$("#lookdangan").attr('src', './designDocumentLook.html?dataid='+dataid+'&no='+prjNo+'');
		}else if(fileIndex=="维修加固设计资料"){
			$("#lookdangan").attr('src', './MaintenanceReinforcementLook.html?dataid='+dataid+'&no='+prjNo+'');
		}else if(fileIndex=="科技文档资料"){
			$("#lookdangan").attr('src', './ScienceTechnologyLook.html?dataid='+dataid+'&no='+prjNo+'');
		}
		
	}	
	
	
	
	
</script>
</html>