<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>

    <div class="zhuti-content">
        <form class="form-inline">
                        <table class="table table-bordered">
                        <thead>
		                    <tr>
		                    	<th>设计阶段</th>
		                        <th>主要工作内容</th>
		                        <th>存档形式</th>
		                        <th>是否强制</th>
		                    </tr>
		                </thead>
		                <tbody>
		                	<tr>
		                    	<td>/</td>
		                    	<td>项目实际存档目录</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>/</td>
		                    	<td>项目特点介绍、关键词（尤其施工图阶段）</td>
		                    	<td>电子（word）</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>/</td>
		                    	<td>合同资料（合同原件提交经营部综合部）</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td rowspan="16">工可阶段</td>
		                    	<td>设计任务书</td>
		                    	<td>纸质</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>建设用地批准书、规划要点</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>用地红线图（地形图）</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>用地实测图</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>区域控制性详细规划</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>开发可行性报告与市场调查</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>工程地质勘察报告</td>
		                    	<td>纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>工程场地地震安评报告</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>用地范围周边市政系统情况</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>工可报告、图纸</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>相关单位往来函、文</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>效果图</td>
		                    	<td>电子</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>报批文本</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>图纸</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>审查意见</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>校审单</td>
		                    	<td>纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td rowspan="7">初设阶段</td>
		                    	<td>方案批文（规划、环评、安评等）</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>施工图文件</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>概算书</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>地勘报告（初勘或详勘）</td>
		                    	<td>纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>审查意见</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>校审单</td>
		                    	<td>纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>相关单位往来函、文</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td rowspan="15">施工图阶段</td>
		                    	<td>初设批文</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>施工图文件</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>预算书</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    	
		                    </tr>
		                    <tr>
		                    	<td>依据历史图纸和报告</td>
		                    	<td>电子或纸质</td>
		                    	<td>不强制</td>
		                    </tr>
		                    <tr>
		                    	<td>结构模型、计算书</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>地勘报告（详勘）</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>工程咨询报告</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>审查意见</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>校审单</td>
		                    	<td>纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>施工交底记录及回复</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>设计变更资料</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>重点项目项目总结</td>
		                    	<td>电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>交工验收文件（原件提交经营发展部，如施工任务由公司承担则不需要）</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>获奖证书</td>
		                    	<td>原件</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr>
		                    	<td>相关单位往来函、文</td>
		                    	<td>电子及纸质</td>
		                    	<td>强制</td>
		                    </tr>
		                </tbody>
                        </table>
                        
                    </form>  

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	lookDd();
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("dataid");
   	no=GetQueryString("no");
   	var nameprj;
   	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/selectTaskPrjName',
	        dataType: 'json',
	        async:false,
	        data: {
	        	prjNo:no
	        },
	        success: function (json) {
	        	console.log(json)
	        	for(var i=0;i<json.length;i++){
	            	nameprj=json[i].prjName
	        	}
	        	
	        }
		});
	
	function lookDd(){
		
		$("#lookprjName").text(nameprj);
		$("#lookprjNo").text(no);
		
		
					
		
	}
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	
	
	
	// 删除
	function deleteDd(obj){
		$.SmartMessageBox({
            title: "删除提示",
            content: "确认删除？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
        	if (ButtonPressed === "确定") {
        		myTool.mask.show('删除中...');
            	var dom=$(obj).parents("tr");
        		var data=$("#mainContent").DataTable().row(dom).data();
        		$.ajax({
        			type:"POST",
        			url:getContextPath()+"/DesignDocuments/deleteDesignDocuments",
        			dataType:"json",
        			data:{ 
        				id:data.ddId
        				},
        			success:function(json){
        				myTool.mask.hide();
        				if(json>0){
        					toastr.success("删除成功")
        					$('#mainContent').DataTable().row(dom).remove().draw(true); //删除行立即显示
        				}else{
        					toastr.error("删除失败")
        				}
        			}
        		})
        	}
        });
	}
	
	function showMask() {
    	myTool.mask.show('查询中...');
	 }
	function hidMask() {
	 	myTool.mask.hide();
	 }
	
	
	function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file1' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file2' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file3' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile4(){
		$("#new_accessory4 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file4' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile5(){
		$("#new_accessory5 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file5' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile6(){
		$("#new_accessory6 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file6' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile7(){
		$("#new_accessory7 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file7' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile8(){
		$("#new_accessory8 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file8' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile9(){
		$("#new_accessory9 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file9' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile10(){
		$("#new_accessory10 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file10' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile11(){
		$("#new_accessory11 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file11' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile12(){
		$("#new_accessory12 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file12' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile13(){
		$("#new_accessory13 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file13' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile14(){
		$("#new_accessory14 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file14' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile15(){
		$("#new_accessory15 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file15' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile16(){
		$("#new_accessory16 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file16' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile17(){
		$("#new_accessory17 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file17' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile18(){
		$("#new_accessory18 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file18' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile19(){
		$("#new_accessory19 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file19' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile20(){
		$("#new_accessory20 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file20' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile21(){
		$("#new_accessory21 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file21' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile22(){
		$("#new_accessory22 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file22' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile23(){
		$("#new_accessory23 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file23' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile24(){
		$("#new_accessory24 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file24' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile25(){
		$("#new_accessory25 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file25' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile26(){
		$("#new_accessory26 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file26' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile27(){
		$("#new_accessory27 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file27' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile28(){
		$("#new_accessory28 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file28' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile29(){
		$("#new_accessory29 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file29' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile30(){
		$("#new_accessory30 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file30' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile31(){
		$("#new_accessory31 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file31' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile32(){
		$("#new_accessory32 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file32' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile33(){
		$("#new_accessory33 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file33' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile34(){
		$("#new_accessory34 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file34' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile35(){
		$("#new_accessory35 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file35' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td ><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile36(){
		$("#new_accessory36 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file36' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile37(){
		$("#new_accessory37 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file37' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile38(){
		$("#new_accessory38 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file38' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile39(){
		$("#new_accessory39 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file1' id='file39' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	
	function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}
	
	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}

</script>
</html>