<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #addJYWD select{
            width:180px;
        }
    </style>
</head>
<body>

    <div class="zhuti-content">
        <form class="form-inline">
                    <table class="table table-bordered" id="addJYWD">
                        <tr>
                            <td>项目名称</td>
                            <td id="lookprjName"></td>
                            <td>任务单号</td>
                            <td id="lookprjNo"></td>
                        </tr>
                        <tr>
                            <td>项目地区</td>
                            <td id="lookprjArea"></td>
                            <td>项目类型</td>
                            <td id="lookprjType"></td>
                        </tr>
                        <tr>
                            <td>填报人</td>
                            <td id="lookfill_in_one"></td>
                            <td>关键词</td>
                            <td id="lookkey_word"></td>
                        </tr>
                        <tr>
                            <td>招标代理</td>
                            <td id="lookbidding_agent"></td>
                            <td>项目投标时间</td>
                            <td id="lookyear1"></td>
                        </tr>
                        <tr>
                            <td>是否中标</td>
                            <td id="lookisBidding"></td>
                            <td>参与开标单位数量</td>
                            <td id="looknumber"></td>
                        </tr>
                        <tr>
                            <td>本公司报价</td>
                            <td id="lookoffer"></td>
                            <td>中标项目经理</td>
                            <td id="lookprj_manager"></td>
                        </tr>
                        <tr>
                            <td>项目总工</td>
                            <td id="lookprj_general"></td>
                            <td>项目工起期</td>
                            <td id="lookyear2"></td>
                        </tr>
                        <tr>
                            <td>项目工止期</td>
                            <td id="lookyear3"></td>
                            <td>中标价</td>
                            <td id="lookbidding_price"></td>
                        </tr>
                        <tr>
                            <td>中标单位</td>
                            <td id="lookbidding_unit"></td>
                            <td>投标限价</td>
                            <td id="lookbid_price_limit"></td>
                        </tr>
                        <tr>
                            <td>项目预算价</td>
                            <td id="lookprj_budget_price"></td>
                            <td>评标办法</td>
                            <td id="lookbid_evaluation_method"></td>
                        </tr>
                    </table>
					
					<table class="table table-bordered table-condensed"  id="look_accessory1">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">招标文件<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory2">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">技术文件<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory3">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">商务文件<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory4">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">中标通知书<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory5">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">验收证书<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					<table class="table table-bordered table-condensed"  id="look_accessory6">
						<thead>
                        		<tr>
                                	<td style="width:15%;" colspan="5">开标记录<i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
                            	</tr>
                        </thead>
                        <tbody></tbody>
					</table>
					
                    <table class="table table-bordered" id="look_tender">
                        <thead>
                            <tr>
                                <th colspan="3">添加的招标人</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form> 

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../js/mainsanji.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	lookMd();
	});

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("dataid");
   	no=GetQueryString("no");
   	var nameprj;
   	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/selectTaskPrjName',
	        dataType: 'json',
	        async:false,
	        data: {
	        	prjNo:no
	        },
	        success: function (json) {
	        	console.log(json)
	        	for(var i=0;i<json.length;i++){
	            	nameprj=json[i].prjName
	        	}
	        	
	        }
		});
	//查看详细信息
	function lookMd(){
		showMask();
		
		$("#lookprjName").text(nameprj);
		$("#lookprjNo").text(no);
		/* $("#lookprjArea").text(data.prjArea);
		$("#lookprjType").text(data.prjType);
		$("#lookfill_in_one").text(data.fillInOne);
		$("#lookkey_word").text(data.keyWord);
		$("#lookbidding_agent").text(data.biddingAgent);
		$("#lookyear1").text(data.prjBidTime);
		$("#lookisBidding").text(data.isBidding);
		$("#looknumber").text(data.numberParticipatingUnits);
		$("#lookoffer").text(data.offer);
		$("#lookprj_manager").text(data.biddingPrjManager);
		$("#lookprj_general").text(data.prjGeneral);
		$("#lookyear2").text(data.prjStartTime);
		$("#lookyear3").text(data.prjEndTime);
		$("#lookbidding_price").text(data.biddingPrice);
		$("#lookbidding_unit").text(data.biddingUnit);
		$("#lookbid_price_limit").text(data.bidPriceLimit);
		$("#lookprj_budget_price").text(data.prjBudgetPrice);
		$("#lookbid_evaluation_method").text(data.bidEvaluationMethod);
		var tender=data.managingDocumentsTenderer;
		$("#look_tender tbody").empty();
		for(var i=0;i<tender.length;i++){
			$("#look_tender tbody").append("<tr>"
					+"<td style='width:25%;'>"+tender[i].tName+"</td>"
			+"</tr>")
		} */
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/ManagingDocuments/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:id
				},
			success:function(json){
				if(json!=null){
					$("#look_accessory1 tbody").empty();
					$("#look_accessory2 tbody").empty();
					$("#look_accessory3 tbody").empty();
					$("#look_accessory4 tbody").empty();
					$("#look_accessory5 tbody").empty();
					$("#look_accessory6 tbody").empty();
		            for(var i=0;i<json.length;i++){
		            	if(json[i].aType=="招标文件"){
		            	   $("#look_accessory1 tbody").append("<tr>"+
				     	   									"<td style='width:15%;'>附件</td>"+
									            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
									            	    	"<td>附件说明</td>"+
									            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
									            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
									            	    "</tr>");
		            	}
		            	if(json[i].aType=="技术文件"){
			            	   $("#look_accessory2 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td>附件说明</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	if(json[i].aType=="商务文件"){
			            	   $("#look_accessory3 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td>附件说明</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	if(json[i].aType=="中标通知书"){
			            	   $("#look_accessory4 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td>附件说明</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	if(json[i].aType=="验收证书"){
			            	   $("#look_accessory5 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td>附件说明</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            	if(json[i].aType=="开标记录"){
			            	   $("#look_accessory6 tbody").append("<tr>"+
					     	   									"<td style='width:15%;'>附件</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
										            	    	"<td>附件说明</td>"+
										            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+(json[i].aDesc==null||json[i].aDesc==''?'无':json[i].aDesc)+"' disabled></td>"+
										            	    	"<td><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' onclick='download_all(this)'>下载附件</button></td>"+
										            	    "</tr>");
			            }
		            } 
	            	hidMask();
	            	$("#allMsg").modal("show");
					
				}
			}
		})
		
	}
	
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		if(!confirm("确认删除该附件吗?")){
			   return false;
			}
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/deleteAccessory',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("删除失败");
	        	}else{
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        		//$("#change").modal("hide")
	        	}
	        }
		});
	}
	
	
	
    function removeTender(obj){
		var tr=$(obj).parent().parent();
		$(tr).remove();
	}
    
    
    function showMask() {
    	myTool.mask.show('查询中...');
	 }
	 function hidMask() {
	 	myTool.mask.hide();
	 }
    
    
	
	function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile4(){
		$("#new_accessory4 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile5(){
		$("#new_accessory5 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile6(){
		$("#new_accessory6 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
	
	function edit_addFile1(){
		$("#edit_accessory1 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile2(){
		$("#edit_accessory2 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile3(){
		$("#edit_accessory3 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile4(){
		$("#edit_accessory4 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile5(){
		$("#edit_accessory5 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile6(){
		$("#edit_accessory6 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	
	function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}

	
</script>
</html>