<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #addJYWD select{
            width:180px;
        }
    </style>
</head>
<body>

    <div class="zhuti-content">
        <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="look_table">
		                <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr id="zb1_look">
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb2_look">
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb3_look">
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb4_look">
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb5_look">
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 

        
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../js/mainsanji.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	lookMd();
	});

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("dataid");
   	no=GetQueryString("no");
   	var nameprj;
   	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/task/selectTaskPrjName',
	        dataType: 'json',
	        async:false,
	        data: {
	        	prjNo:no
	        },
	        success: function (json) {
	        	console.log(json)
	        	for(var i=0;i<json.length;i++){
	            	nameprj=json[i].prjName
	        	}
	        	
	        }
		});
	//查看详细信息
	function lookMd(){
		
		
		$("#lookprjName").text(nameprj);
		$("#lookprjNo").text(no);
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:no,
	        },
	        success: function (json) {
	        	id=json.mdId;
	        }
		});
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:id
				},
			success:function(json){
				//$("#edit_accessory1 zb1").siblings().empty();
				$(".lookfujian").parent().parent().empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JY招标文件"){
	            	   $("#zb1_look").after("<tr>"+
								"<td>附件</td>"+
								"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
		            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
		            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JY招标图纸"){
		            	   $("#zb2_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY投标文件(技术+商务)"){
		            	   $("#zb3_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY中标通知书(原件由经营部存档)"){
		            	   $("#zb4_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY开标记录"){
		            	   $("#zb5_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            } 
			}
		})
		
	}
	
	//下载附件
	function download_all(obj){
		var url=$(obj).attr("data1");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		window.location.href=encodeURI(getContextPath()+"/FileDownLoad?fileName="+name+"&filePath="+url);
	}
	
	
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		if(!confirm("确认删除该附件吗?")){
			   return false;
			}
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/deleteAccessory',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json==0){
	        		toastr.error("删除失败");
	        	}else{
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        		//$("#change").modal("hide")
	        	}
	        }
		});
	}
	
	
	
    function removeTender(obj){
		var tr=$(obj).parent().parent();
		$(tr).remove();
	}
    
    
    function showMask() {
    	myTool.mask.show('查询中...');
	 }
	 function hidMask() {
	 	myTool.mask.hide();
	 }
    
    
	
	function addFile1(){
		$("#new_accessory1 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile2(){
		$("#new_accessory2 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile3(){
		$("#new_accessory3 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile4(){
		$("#new_accessory4 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile5(){
		$("#new_accessory5 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function addFile6(){
		$("#new_accessory6 tbody").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
    
	
	function edit_addFile1(){
		$("#edit_accessory1 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile2(){
		$("#edit_accessory2 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile3(){
		$("#edit_accessory3 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile4(){
		$("#edit_accessory4 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file'  name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile5(){
		$("#edit_accessory5 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	function edit_addFile6(){
		$("#edit_accessory6 tfoot").append("<tr><td>新附件</td><td style='width:40%;'><input style='width:80%;' type='file' name='file' class='form-control'></td><td>附件说明</td><td><input style='width:80%;' type='text' class='form-control'></td><td><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除</button></td></tr>")
	}
	
	function removeFile(obj){
		var tr=$(obj).parents("tr");
		$(tr).remove();
	}

	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}
	
</script>
</html>