<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent1 th,#mainContent2 th,#mainContent3 th,#mainContent4 th,#mainContent5 th{
            width:15%;
        }
          .details-control{
        	text-align:center;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">文档管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建</button> -->
            </div>

        </div>
        <div class="LowerPart">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>任务单号</th>
                        <th>项目类型</th>
                        <th>责任部门</th>
                        <th>经营文档是否归档</th>
                        <th>其他文档是否归档</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>

        
    </div>
    
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="all_table">
		                <thead>
		                    <tr>
		                        <th>主要工作内容</th>
		                        <th>存档形式</th>
		                        <th>是否强制</th>
		                        <th>操作</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  id="uploaderBox1">添加附件</button></td>
		                    </tr>
		                    <tr>
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox2">添加附件</button></td>
		                    </tr>
		                    <tr>
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox3">添加附件</button></td>
		                    </tr>
		                    <tr>
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox4">添加附件</button></td>
		                    </tr>
		                    <tr>
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox5">添加附件</button></td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan"  frameborder="false"  scrolling="auto" style="border: none;" width="100%"  height=700px  allowtransparency="true"></iframe>
                   			
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->



</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "prjName"}, 
		            { "data": "prjNo"},
		            { "data": "prjType2"},
		            { "data": "omName"},
		            { "data": null},
		            { "data": null},
		        ],
		        "columnDefs": [
							  {	
									 "class": "tcenter",
									    "targets": 4,
									    "searchable": true,
									    "render": function(data, type, full) {
									  	  		return '<button type="button" class="btn btn-primary"  onclick="look(this)">文档资料</button>'
									        }
									  },
									  {	
											 "class": "tcenter",
											    "targets": 5,
											    "searchable": true,
											    "render": function(data, type, full) {
											  	  		return '<button type="button" class="btn btn-primary" onclick="look2(this)">文档资料</button>'
											        }
											  },
							],
		"fnDrawCallback" : function() {},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectPrjNameAndWorkNo',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                
            }
        });
    }

	var stateArray=[];
	var flag=true;
	var panbie;
	function showerji(obj){
		//panbie=$(obj).parent().prev().prev().prev().text();
		panbie = obj.parentNode.parentNode.rowIndex; 
		if(stateArray.indexOf(panbie)>=0){
			stateArray.splice($.inArray(panbie,stateArray),1);// $.inArray(data.idFirst,stateArray)获取idFirst在数组中的索引值 ；stateArray.splice(索引值，数量)删除数组中指定索引值的元素
			$(".qwe"+panbie).remove();
			
			$(obj).removeClass("glyphicon-chevron-up");
			$(obj).addClass("glyphicon-chevron-down");
			
		}else{
			stateArray.push(panbie);
			$(obj).parent().parent().after("<tr class='qwe"+panbie+"'><td colspan='4'>"
					+'<table class="table table-bordered table-condensed" id="all_table'+panbie+'">'
	                +'<thead>'
	            	+'<tr>'
	                +'<td style="width:15%;">附件</td>'
	                +'<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox'+panbie+'">添加附件</button></td>'
	                +'</tr>'
	            	+'</thead>'
	            	+'<tbody></tbody>'
            		+'</table>'
					+"</td></tr>");
			
			$(obj).removeClass("glyphicon-chevron-down");
			$(obj).addClass("glyphicon-chevron-up");
			
		}
		
		
	}
	$("#uploaderBox1").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file1' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox2").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file2' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox3").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file3' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox4").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file4' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox5").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file5' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-primary' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}
	
	function look(aa){
		$("#myModal").modal('show');
		var dom = $(aa).parents('tr');
		var datas=$('#mainContent').DataTable().row(dom).data();
		console.log(datas)
		$("#edit_prjName").val(datas.prjName);
        $("#edit_prjNo").val(datas.prjNo);
        /* 回显城市 */
    	var area=datas.prjArea;
    	if(area!=''&&area!=null){
    		var province=area.split("/")[0];
        	var city=area.split("/")[1];
        	var district=area.split("/")[2];
        	$("#edit_prjArea").citypicker("reset");
      		$("#edit_prjArea").citypicker("destroy");
      		$("#edit_prjArea").citypicker({
      			province:province,
      			city:city,
      			district:district
      		});
    	}
		$("#edit_prjType").val(datas.prjType2);
		
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
            dataType: 'json',
            data: {
            	no:datas.prjNo
            },
            success: function (json) {
            	data=json;
            	console.log(data)
            	
        		$("#edit_fill_in_one").val(data.fillInOne);
        		$("#edit_key_word").val(data.keyWord);
        		$("#edit_bidding_agent").val(data.biddingAgent);
        		$("#edit_year1").val(data.prjBidTime);
        		$("#edit_isBidding").val(data.isBidding);
        		$("#edit_number").val(data.numberParticipatingUnits);
        		$("#edit_offer").val(data.offer);
        		$("#edit_prj_manager").val(data.biddingPrjManager);
        		$("#edit_prj_general").val(data.prjGeneral);
        		$("#edit_year2").val(data.prjStartTime);
        		$("#edit_year3").val(data.prjEndTime);
        		$("#edit_bidding_price").val(data.biddingPrice);
        		$("#edit_bidding_unit").val(data.biddingUnit);
        		$("#edit_bid_price_limit").val(data.bidPriceLimit);
        		$("#edit_prj_budget_price").val(data.prjBudgetPrice);
        		$("#edit_bid_evaluation_method").val(data.bidEvaluationMethod);
                
        		var tender=data.managingDocumentsTenderer;
        		$("#edit_table_Tender tbody").empty();
        		for(var i=0;i<tender.length;i++){
        			$("#edit_table_Tender tbody").append("<tr>"
        					+"<td style='width:25%;'>"+tender[i].tName+"</td>"
        					+"<td style='width:25%;'><button type='button' class='btn btn-primary' onclick='removeTender(this)'>移除</button></td>"
        			+"</tr>")
        		}
        		
        		$.ajax({
        			type:"POST",
        			url:getContextPath()+"/ManagingDocuments/selectAccessoryById",
        			dataType:"json",
        			data:{ 
        				id:data.mdId
        				},
        			success:function(json){
        				$("#edit_accessory1 thead").siblings().empty();
        				$("#edit_accessory2 thead").siblings().empty();
        				$("#edit_accessory3 thead").siblings().empty();
        				$("#edit_accessory4 thead").siblings().empty();
        				$("#edit_accessory5 thead").siblings().empty();
        				$("#edit_accessory6 thead").siblings().empty();
        	            for(var i=0;i<json.length;i++){
        	            	if(json[i].aType=="招标文件"){
        	            	   $("#edit_accessory1 tbody").append("<tr>"+
        								"<td>附件</td>"+
        		            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        		            	    	"<td>附件说明</td>"+
        		            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        		            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        		            	    "</tr>");
        	            	}
        	            	if(json[i].aType=="技术文件"){
        		            	   $("#edit_accessory2 tbody").append("<tr>"+
        									"<td>附件</td>"+
        			            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        			            	    	"<td>附件说明</td>"+
        			            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        			            	    "</tr>");
        		            }
        	            	if(json[i].aType=="商务文件"){
        		            	   $("#edit_accessory3 tbody").append("<tr>"+
        									"<td>附件</td>"+
        			            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        			            	    	"<td>附件说明</td>"+
        			            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        			            	    "</tr>");
        		            }
        	            	if(json[i].aType=="中标通知书"){
        		            	   $("#edit_accessory4 tbody").append("<tr>"+
        									"<td>附件</td>"+
        			            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        			            	    	"<td>附件说明</td>"+
        			            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        			            	    "</tr>");
        		            }
        	            	if(json[i].aType=="验收证书"){
        		            	   $("#edit_accessory5 tbody").append("<tr>"+
        									"<td>附件</td>"+
        			            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        			            	    	"<td>附件说明</td>"+
        			            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        			            	    "</tr>");
        		            }
        	            	if(json[i].aType=="开标记录"){
        		            	   $("#edit_accessory6 tbody").append("<tr>"+
        									"<td>附件</td>"+
        			            	    	"<td style='width:40%;'><input type='text' style='width:80%;' class='form-control' value='"+json[i].acName+"' disabled></td>"+
        			            	    	"<td>附件说明</td>"+
        			            	    	"<td><input type='text' style='width:80%;' class='form-control' value='"+json[i].aDesc+"' disabled></td>"+
        			            	    	"<td style='width:100px;'><button type='button' class='btn btn-primary' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
        			            	    "</tr>");
        		            }
        	            } 
        			}
        		})
                
            }
        });
    }
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json>0){
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        	}else{
	        		toastr.error("删除失败");
	        	}
	        }
		});
	}
	
	function look2(aa){
		$("#myModal2").modal('show');
		var dom = $(aa).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		
		if(data.prjType2.indexOf("C")>=0){
			//施工文档资料
			$("#lookdangan").attr('src', '../danganGuanliChange/ConstructionDocument.html?dataid='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("A")>=0){
			//检测评估资料
			$("#lookdangan").attr('src', '../danganGuanliChange/DetectionEvaluation.html?dataid='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("B")>=0){
			//设计文件资料
			$("#lookdangan").attr('src', '../danganGuanliChange/designDocument.html?dataid='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("K")>=0){
			//科技文档资料
			$("#lookdangan").attr('src', '../danganGuanliChange/ScienceTechnology.html?dataid='+data.prjId+'&no='+data.prjNo+'');
		}
		
	}	
	
	
	
	
</script>
</html>