<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent1 th,#mainContent2 th,#mainContent3 th,#mainContent4 th,#mainContent5 th{
            width:15%;
        }
          .details-control{
        	text-align:center;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>档案管理</li>
			<li class="active">项目档案</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <div class="yihang">
                	<div>部门筛选：</div>
	            	<div>
		            	<select class="form-control" id="department">
                        </select>
	            	</div>
                </div>
               
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建</button> -->
            </div>

        </div>
        <div class="LowerPart">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>任务单号</th>
                        <th>项目类型</th>
                        <th>责任部门</th>
                        <th>经营资料是否归档</th>
                        <th>项目资料是否归档</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>

        
    </div>
    
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="all_table">
		                <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                        <th style="width:25%">操作</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr id="zb1">
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input"  id="uploaderBox1">添加附件</button></td>
		                    </tr>
		                    <tr id="zb2">
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox2">添加附件</button></td>
		                    </tr>
		                    <tr id="zb3">
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox3">添加附件</button></td>
		                    </tr>
		                    <tr id="zb4">
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox4">添加附件</button></td>
		                    </tr>
		                    <tr id="zb5">
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    	<td><button type="button" class="btn btn-primary weui-uploader__input "  id="uploaderBox5">添加附件</button></td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="checksave1()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="mydal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered table-condensed" id="look_table">
		                <thead>
		                    <tr>
		                        <th style="width:25%">主要工作内容</th>
		                        <th style="width:25%">存档形式</th>
		                        <th style="width:25%">是否强制</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr id="zb1_look">
		                    	<td>招标文件</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb2_look">
		                    	<td>招标图纸</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb3_look">
		                    	<td>投标文件(技术+商务)</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb4_look">
		                    	<td>中标通知书(原件由经营部存档)</td>
		                    	<td>纸质及电子</td>
		                    	<td>强制</td>
		                    </tr>
		                    <tr id="zb5_look">
		                    	<td>开标记录</td>
		                    	<td>纸质或电子</td>
		                    	<td>强制</td>
		                    </tr>
		                </tbody>   
		            </table>
                        
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan"  frameborder="false"  scrolling="auto" style="border: none;" width="100%"  height=700px  allowtransparency="true"></iframe>
                   			
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" onclick="baoCun()">提交</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b></b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        	<iframe name="view_frame" id="lookdangan2"  frameborder="false"  scrolling="auto" style="border: none;" width="100%"  height=700px  allowtransparency="true"></iframe>
                   			
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-condensed" id="tijiaoren">
                        	<thead>
                        			<tr>
		                            	<th></th>
		                                <th>部门</th>
		                                <th>职务</th>
		                                <th>审批人</th>
		                            </tr>
                        	</thead>
                            <tbody>
                            	
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitPerson()">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/city-picker.data.js"></script>
<script src="../../js/city-picker.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	//initTable();
    	initbumen();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "prjName"}, 
		            { "data": "prjNo"},
		            { "data": "prjType2"},
		            { "data": "omName"},
		            { "data": null},
		            { "data": null},
		        ],
		        "columnDefs": [
							  {	
									 "class": "tcenter",
									    "targets": 4,
									    "searchable": true,
									    "render": function(data, type, full) {
									    	if(full.fileLength>0){
									  	  		return '<button type="button" class="btn btn-primary"  onclick="look(this)">已归档</button>  <i class="iconfont icon-icon-test Pjbb" style="font-size:20px;cursor:pointer;" title="查看详细信息" onclick="lookJY(this)"  id="lookDetall"></i>'
									    	}else{
									    		return '<button type="button" class="btn btn-danger"  onclick="look(this)">未归档</button>'
									    	}
									        }
									  },
									  {	
											 "class": "tcenter",
											    "targets": 5,
											    "searchable": true,
											    "render": function(data, type, full) {
											    	if(full.fileLengthSG>0 || full.fileLengthJC>0 || full.fileLengthSJ>0 || full.fileLengthKJ>0){
											  	  		return '<button type="button" class="btn btn-primary" onclick="look2(this)">已归档</button> <i class="iconfont icon-icon-test Pjbb" style="font-size:20px;cursor:pointer;" title="查看详细信息" onclick="lookQt(this)"  id="lookDetall"></i>'
											    	}else{
											    		return '<button type="button" class="btn btn-danger"  onclick="look2(this)">未归档</button>'
											    	}
											     }
											  },
							],
		"fnDrawCallback" : function() {},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	/* function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/selectTask',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    } */

	function initbumen(){
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
	            dataType: 'json',
	            data: {
	            },
	            success: function (json) {
	            	$("#department").append("<option value='%'>全部</option>")
	                for(var i=0;i<json.length;i++){
						$("#department").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")                	
	                }
	            	$("#department").trigger("change");
	            }
	        });
	    }
	
	$("#department").on("change",function(){
		showMask();
		 var department=$("#department").val();
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/task/selectTask',
	            dataType: 'json',
	            data: {
	            	mainDepartment:department
	            },
	            success: function (json) {
	            	hidMask();
	                $('#mainContent').dataTable().fnClearTable();
	                $('#mainContent').DataTable().rows.add(json).draw(false);
	            }
	        }); 
	 })
	 
	 
	
	var stateArray=[];
	var flag=true;
	var panbie;
	function showerji(obj){
		//panbie=$(obj).parent().prev().prev().prev().text();
		panbie = obj.parentNode.parentNode.rowIndex; 
		if(stateArray.indexOf(panbie)>=0){
			stateArray.splice($.inArray(panbie,stateArray),1);// $.inArray(data.idFirst,stateArray)获取idFirst在数组中的索引值 ；stateArray.splice(索引值，数量)删除数组中指定索引值的元素
			$(".qwe"+panbie).remove();
			
			$(obj).removeClass("glyphicon-chevron-up");
			$(obj).addClass("glyphicon-chevron-down");
			
		}else{
			stateArray.push(panbie);
			$(obj).parent().parent().after("<tr class='qwe"+panbie+"'><td colspan='4'>"
					+'<table class="table table-bordered table-condensed" id="all_table'+panbie+'">'
	                +'<thead>'
	            	+'<tr>'
	                +'<td style="width:15%;">附件</td>'
	                +'<td colspan="3"><button type="button" class="btn btn-primary weui-uploader__input" id="uploaderBox'+panbie+'">添加附件</button></td>'
	                +'</tr>'
	            	+'</thead>'
	            	+'<tbody></tbody>'
            		+'</table>'
					+"</td></tr>");
			
			$(obj).removeClass("glyphicon-chevron-down");
			$(obj).addClass("glyphicon-chevron-up");
			
		}
		
		
	}
	$("#uploaderBox1").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input type='file' name='file1' /></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-danger' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox2").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file2' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-danger' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox3").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file3' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-danger' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox4").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file4' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-danger' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	$("#uploaderBox5").on("click", function(e) {
        $(this).parent().parent().after("<tr>"+
        											"<td>新附件</td>"+
        											"<td colspan='2'><input name='file5' type='file'/></td>"+
        											"<td style='width:150px;'><button type='button' class='btn btn-danger' onclick='removeFile(this)'>移除附件</button></td>"+
        								      "</tr>");
        
    });
	function removeFile(obj){
  		var tr=$(obj).parents("tr");
  		$(tr).remove();
  	}
	
	var dom;
	var datas;
	function look(aa){
		$("#myModal").modal('show');
		dom = $(aa).parents('tr');
		datas=$('#mainContent').DataTable().row(dom).data();
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:datas.prjNo,
	        },
	        success: function (json) {
	        	id=json.mdId;
	        }
		});
		/* $("#edit_prjName").val(datas.prjName);
        $("#edit_prjNo").val(datas.prjNo); 
        //回显城市 
    	var area=datas.prjArea;
    	if(area!=''&&area!=null){
    		var province=area.split("/")[0];
        	var city=area.split("/")[1];
        	var district=area.split("/")[2];
        	$("#edit_prjArea").citypicker("reset");
      		$("#edit_prjArea").citypicker("destroy");
      		$("#edit_prjArea").citypicker({
      			province:province,
      			city:city,
      			district:district
      		});
    	}
		$("#edit_prjType").val(datas.prjType2);
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
            dataType: 'json',
            data: {
            	no:datas.prjNo
            },
            success: function (json) {
            	data=json;
            	console.log(data)
            	
        		$("#edit_fill_in_one").val(data.fillInOne);
        		$("#edit_key_word").val(data.keyWord);
        		$("#edit_bidding_agent").val(data.biddingAgent);
        		$("#edit_year1").val(data.prjBidTime);
        		$("#edit_isBidding").val(data.isBidding);
        		$("#edit_number").val(data.numberParticipatingUnits);
        		$("#edit_offer").val(data.offer);
        		$("#edit_prj_manager").val(data.biddingPrjManager);
        		$("#edit_prj_general").val(data.prjGeneral);
        		$("#edit_year2").val(data.prjStartTime);
        		$("#edit_year3").val(data.prjEndTime);
        		$("#edit_bidding_price").val(data.biddingPrice);
        		$("#edit_bidding_unit").val(data.biddingUnit);
        		$("#edit_bid_price_limit").val(data.bidPriceLimit);
        		$("#edit_prj_budget_price").val(data.prjBudgetPrice);
        		$("#edit_bid_evaluation_method").val(data.bidEvaluationMethod);
                
        		var tender=data.managingDocumentsTenderer;
        		$("#edit_table_Tender tbody").empty();
        		for(var i=0;i<tender.length;i++){
        			$("#edit_table_Tender tbody").append("<tr>"
        					+"<td style='width:25%;'>"+tender[i].tName+"</td>"
        					+"<td style='width:25%;'><button type='button' class='btn btn-primary' onclick='removeTender(this)'>移除</button></td>"
        			+"</tr>")
        		}
        		
                
            }
        });*/
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:id
				},
			success:function(json){
				$(":file").parent().parent().empty();
				$(".fujian").parent().parent().empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JY招标文件"){
	            	   $("#zb1").after("<tr>"+
								"<td>附件</td>"+
		            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
		            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JY招标图纸"){
		            	   $("#zb2").after("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY投标文件(技术+商务)"){
		            	   $("#zb3").after("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY中标通知书(原件由经营部存档)"){
		            	   $("#zb4").after("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY开标记录"){
		            	   $("#zb5").after("<tr>"+
									"<td>附件</td>"+
			            	    	"<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+
			            	    "</tr>");
		            }
	            } 
			}
		})
    }
	function delete_thisFile(obj){
		var url=$(obj).attr("data1");
		var id=$(obj).attr("data2");
		var name=$(obj).parents("tr").find("td").eq(1).find("input").val();
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/accessory/deleteAccessoryByIdAndName',
	        dataType: 'json',
	        data: {
	        	aId:id,
            	acName:name,
            	acUrl:url
	        },
	        success: function (json) {
	        	if(json>0){
	        		toastr.success("删除成功");
	        		$(obj).parent().parent().remove();
	        	}else{
	        		toastr.error("删除失败");
	        	}
	        }
		});
	}
	
	
	function lookJY(obj){
		$("#mydal2").modal('show');
		var dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:data.prjNo,
	        },
	        success: function (json) {
	        	id=json.mdId;
	        }
		});
		$.ajax({
			type:"POST",
			url:getContextPath()+"/accessory/selectAccessoryById",
			dataType:"json",
			data:{ 
				id:id
				},
			success:function(json){
				//$("#edit_accessory1 zb1").siblings().empty();
				$(".lookfujian").parent().parent().empty();
	            for(var i=0;i<json.length;i++){
	            	if(json[i].aType=="JY招标文件"){
	            	   $("#zb1_look").after("<tr>"+
								"<td>附件</td>"+
								"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
		            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
		            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
		            	    "</tr>");
	            	}
	            	if(json[i].aType=="JY招标图纸"){
		            	   $("#zb2_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY投标文件(技术+商务)"){
		            	   $("#zb3_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY中标通知书(原件由经营部存档)"){
		            	   $("#zb4_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            	if(json[i].aType=="JY开标记录"){
		            	   $("#zb5_look").after("<tr>"+
									"<td>附件</td>"+
									"<td colspan='2'><a href='"+getLocalPath()+"/oa_file/"+json[i].acUrl+"' target='view_window' class='lookfujian' style='color:blue'>"+json[i].acName+"</a></td>"+
			            	    	/* "<td colspan='2'><input type='text' style='width:80%;' class='form-control fujian' value='"+json[i].acName+"' disabled></td>"+
			            	    	"<td style='width:100px;'><button type='button' class='btn btn-danger' data1='"+json[i].acUrl+"' data2='"+json[i].aId+"' onclick='delete_thisFile(this)'>删除附件</button></td>"+ */
			            	    "</tr>");
		            }
	            } 
			}
		})
	}
	function getLocalPath(){
		var pathArray = window.location.pathname.split('/');
		var secondLevelLocation = pathArray[1];
		var loginUrl = window.location.protocol + "//"  + window.location.host ;
		return loginUrl;
	}
	
	
	
	
	function submitPerson(){
  		var uid=$("input[name='tijiaorenming']:checked").attr("data-id");
  	  var omid=$("input[name='tijiaorenming']:checked").attr("data-id2");
  	  var dutyid=$("input[name='tijiaorenming']:checked").attr("data-id3");
  	  var bmmc=$("input[name='tijiaorenming']:checked").parent().next().text();
  	  var zw=$("input[name='tijiaorenming']:checked").parent().next().next().text();
  	  var uname=$("input[name='tijiaorenming']:checked").parent().next().next().next().text();
  	  //var uname=$("input[name='tijiaorenming']:checked").val();
  	  $.ajax({
            type: 'POST',
            url: getContextPath()+'/task/addTask4',
            dataType: 'json',
            data:{
          	  url:lianjie,
          	  userId:uid,
          	  uName:uname,
          	  omName:bmmc,
          	  dutyName:zw,
          	  omId:omid,
          	  dutyId:dutyid
            },
            success: function (json) {
          	  toastr.success('提交成功');
            }
        });  
  	}
	
	
	//保存经营资料
	function checksave1(){
		var id;
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/ManagingDocuments/selectManagingDocumentsByNo',
	        dataType: 'json',
	        async:false,
	        data: {
	        	no:datas.prjNo,
	        },
	        success: function (json) {
	        	id=json.mdId;
	        }
		});
			var ManagingDocuments={
					mdId:null,
					prjName:undefined,
					prjNo:undefined,
			}
			ManagingDocuments.mdId=id;
			ManagingDocuments.prjName=datas.prjName;
			ManagingDocuments.prjNo=datas.prjNo;
			var formData = new FormData();
	  		formData.append("managingDocuments", JSON.stringify(ManagingDocuments));
	  		
	  		$("#all_table tbody").find("tr").each(function(){
	  			var val=$(this).find("td").eq(0).text();
	  			if(val=="新附件"){
		  			var name=$(this).find("td").eq(1).find("input").attr("name");
		  			if(name=="file1"){
			  			formData.append("file1", $(this).find("input[name='file1']")[0].files[0]);
		  			}else if(name=="file2"){
			  			formData.append("file2", $(this).find("input[name='file2']")[0].files[0]);
		  			}else if(name=="file3"){
			  			formData.append("file3", $(this).find("input[name='file3']")[0].files[0]);
		  			}else if(name=="file4"){
			  			formData.append("file4", $(this).find("input[name='file4']")[0].files[0]);
		  			}else if(name=="file5"){
			  			formData.append("file5", $(this).find("input[name='file5']")[0].files[0]);
		  			}
	  			}
	  		})
	  		if($("#zb1").next().find("input").length<=0||$("input[name='file1']").val()==""){
				toastr.error("招标文件附件为空")
				return;
			}
	  		if($("#zb2").next().find("input").length<=0||$("input[name='file2']").val()==""){
				toastr.error("招标图纸附件为空")
				return;
			}
	  		if($("#zb3").next().find("input").length<=0||$("input[name='file3']").val()==""){
				toastr.error("投标文件(技术+商务)附件为空")
				return;
			}
	  		if($("#zb4").next().find("input").length<=0||$("input[name='file4']").val()==""){
				toastr.error("中标通知书(原件由经营部存档)附件为空")
				return;
			}
	  		if($("#zb5").next().find("input").length<=0||$("input[name='file5']").val()==""){
				toastr.error("开标记录附件为空")
				return;
			}
			 $.ajax({
	  			type: 'POST',
	            url: getContextPath()+'/ManagingDocuments/updateManagingDocumentsSave',
	            data: formData,  
	            processData: false,
	            contentType: false,
	            dataType: 'json',
	            success: function (json) {
	            	if(json=='0'){
		        		toastr.error("保存失败");
		        	}else{
		        		$("#myModal").modal("hide")
		        		lianjie=json.url;
		            	if(json.receiver!=null&&json.receiver.length>=1){
			        		  $("#tijiaogei").modal('show');
			        		  $("#tijiaoren tbody").empty("");
			        		  for(var i=0;i<json.receiver.length;i++){
			        			  $("#tijiaoren tbody").append('<tr><td>'
			        					  +'<input type="radio" name="tijiaorenming" data-id="'+json.receiver[i].userId+'" data-id2="'+json.receiver[i].omId+'" data-id3="'+json.receiver[i].dutyId+'">'
			        					  +'</td><td>'
			        					  +json.receiver[i].omName
			        					  +'</td><td>'
			        					  +json.receiver[i].dutyName
			        					  +'</td><td>'
			        					  +json.receiver[i].uName
			        					  +'</td></tr>');
			        		  }
			        	  }else if(json.receiver.length==1){
			        		  $.ajax({
			        	          type: 'POST',
			        	          url: getContextPath()+'/task/addTask4',
			        	          dataType: 'json',
			        	          data:{
			        	        	  url:json.url,
			        	        	  userId:json.receiver.userId,
			        	        	  uName:json.receiver.uName,
			        	        	  omName:json.receiver.omName,
			        	        	  dutyName:json.receiver.dutyName,
			        	        	  omId:json.receiver.omId,
			        	        	  dutyId:json.receiver.dutyId
			        	          },
			        	          success: function (json) {
			        	        	  toastr.success('提交成功');
			        	          }
			        	      }); 
			        	  }
		        	}
	            	/* if(json.result>0){
	            		$("#myModal").modal("hide");
	            		toastr.success("保存成功")
	            		//$('#mainContent').DataTable().row.add(json.ManagingDocuments).draw(false);     //新增行立即显示
	            		datas.fileLength=1;
	            		$('#mainContent').DataTable().row(dom).data(datas).draw(false);;//修改行立即显示
	            	}else{
	            		toastr.error("保存失败")
	            	} */
	            }
	  		}) 
			
	} 
	
	
	var type;
	var dom;
	var data;
	function look2(aa){
		$("#myModal2").modal('show');
		dom = $(aa).parents('tr');
		data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		type=data.prjType2;
		if(data.prjType2.indexOf("C")>=0){
			//施工文档资料
			$("#lookdangan").attr('src', '../danganGuanliChange/ConstructionDocument.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("A")>=0){
			//检测评估资料
			$("#lookdangan").attr('src', '../danganGuanliChange/DetectionEvaluation.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("B")>=0){
			//设计文件资料
			$("#lookdangan").attr('src', '../danganGuanliChange/designDocument.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("K")>=0){
			//科技文档资料
			$("#lookdangan").attr('src', '../danganGuanliChange/ScienceTechnology.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}
		
	}	
	
	function lookQt(aa){
		$("#myModal4").modal('show');
		var dom = $(aa).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		//console.log(data)
		if(data.prjType2.indexOf("C")>=0){
			//施工文档资料
			$("#lookdangan2").attr('src', './ConstructionDocumentLook.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("A")>=0){
			//检测评估资料
			$("#lookdangan2").attr('src', './DetectionEvaluationLook.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("B")>=0){
			//设计文件资料
			$("#lookdangan2").attr('src', './designDocumentLook.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}else if(data.prjType2.indexOf("K")>=0){
			//科技文档资料
			$("#lookdangan2").attr('src', './ScienceTechnologyLook.html?prjId='+data.prjId+'&no='+data.prjNo+'');
		}
		
	}
	
	
	
	
	
	 function baoCun(){
	    	var childWindow = $("#lookdangan")[0].contentWindow; //表示获取了嵌入在iframe中的子页面的window对象。  []将JQuery对象转成DOM对象，用DOM对象的contentWindow获取子页面window对象。
	    	if(type.indexOf("C")>=0){
				//施工文档资料
	    		var result = childWindow.baocunSG();
	    		//result=JSON.parse(result)
	    		if(result=='0'||result==undefined){
	      			toastr.error("提交出错");
	      			return false;
	  		    }else{
	      			//toastr.success("提交成功");
	      			$("#myModal2").modal("hide")
	      			data.fileLengthSG=1;
	            	$('#mainContent').DataTable().row(dom).data(data).draw(false);;//修改行立即显示
	        		lianjie=result.url;
	            	if(result.receiver!=null&&result.receiver.length>=1){
		        		  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<result.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" name="tijiaorenming" data-id="'+result.receiver[i].userId+'" data-id2="'+result.receiver[i].omId+'" data-id3="'+result.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +result.receiver[i].omName
		        					  +'</td><td>'
		        					  +result.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +result.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(result.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:result.url,
		        	        	  userId:result.receiver.userId,
		        	        	  uName:result.receiver.uName,
		        	        	  omName:result.receiver.omName,
		        	        	  dutyName:result.receiver.dutyName,
		        	        	  omId:result.receiver.omId,
		        	        	  dutyId:result.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  } 
	  		    }
			}else if(type.indexOf("A")>=0){
				//检测评估资料
				var result = childWindow.baocunJC();
				//result=JSON.parse(result)
	    		if(result=='0'||result==undefined){
	      			toastr.error("提交出错");
	      			return false;
	  		    }else{
	      			//toastr.success("提交成功");
	      			$("#myModal2").modal("hide")
	      			data.fileLengthJC=1;
	            	$('#mainContent').DataTable().row(dom).data(data).draw(false);;//修改行立即显示
	        		lianjie=result.url;
	            	if(result.receiver!=null&&result.receiver.length>=1){
		        		  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<result.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" name="tijiaorenming" data-id="'+result.receiver[i].userId+'" data-id2="'+result.receiver[i].omId+'" data-id3="'+result.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +result.receiver[i].omName
		        					  +'</td><td>'
		        					  +result.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +result.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(result.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:result.url,
		        	        	  userId:result.receiver.userId,
		        	        	  uName:result.receiver.uName,
		        	        	  omName:result.receiver.omName,
		        	        	  dutyName:result.receiver.dutyName,
		        	        	  omId:result.receiver.omId,
		        	        	  dutyId:result.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  } 
	      			
	  		    }
			}else if(type.indexOf("B")>=0){
				//设计文件资料
				var result = childWindow.baocunSJ();
				//result=JSON.parse(result)
	    		if(result=='0'||result==undefined){
	      			toastr.error("提交出错");
	      			return false;
	  		    }else{
	      			//toastr.success("提交成功");
	      			$("#myModal2").modal("hide")
	      			data.fileLengthSJ=1;
	            	$('#mainContent').DataTable().row(dom).data(data).draw(false);;//修改行立即显示
	            	lianjie=result.url;
	            	if(result.receiver!=null&&result.receiver.length>=1){
		        		  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<result.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" name="tijiaorenming" data-id="'+result.receiver[i].userId+'" data-id2="'+result.receiver[i].omId+'" data-id3="'+result.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +result.receiver[i].omName
		        					  +'</td><td>'
		        					  +result.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +result.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(result.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:result.url,
		        	        	  userId:result.receiver.userId,
		        	        	  uName:result.receiver.uName,
		        	        	  omName:result.receiver.omName,
		        	        	  dutyName:result.receiver.dutyName,
		        	        	  omId:result.receiver.omId,
		        	        	  dutyId:result.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  } 
	  		    }
			}else if(type.indexOf("K")>=0){
				//科技文档资料
				var result = childWindow.baocunKJ();
				//result=JSON.parse(result)
	    		if(result=='0'||result==undefined){
	      			toastr.error("保存出错");
	      			return false;
	  		    }else{
	      			//toastr.success("保存成功");
	      			$("#myModal2").modal("hide")
	      			data.fileLengthKJ=1;
	            	$('#mainContent').DataTable().row(dom).data(data).draw(false);;//修改行立即显示
	            	lianjie=result.url;
	            	if(result.receiver!=null&&result.receiver.length>=1){
		        		  $("#tijiaogei").modal('show');
		        		  $("#tijiaoren tbody").empty("");
		        		  for(var i=0;i<result.receiver.length;i++){
		        			  $("#tijiaoren tbody").append('<tr><td>'
		        					  +'<input type="radio" name="tijiaorenming" data-id="'+result.receiver[i].userId+'" data-id2="'+result.receiver[i].omId+'" data-id3="'+result.receiver[i].dutyId+'">'
		        					  +'</td><td>'
		        					  +result.receiver[i].omName
		        					  +'</td><td>'
		        					  +result.receiver[i].dutyName
		        					  +'</td><td>'
		        					  +result.receiver[i].uName
		        					  +'</td></tr>');
		        		  }
		        	  }else if(result.receiver.length==1){
		        		  $.ajax({
		        	          type: 'POST',
		        	          url: getContextPath()+'/task/addTask4',
		        	          dataType: 'json',
		        	          data:{
		        	        	  url:result.url,
		        	        	  userId:result.receiver.userId,
		        	        	  uName:result.receiver.uName,
		        	        	  omName:result.receiver.omName,
		        	        	  dutyName:result.receiver.dutyName,
		        	        	  omId:result.receiver.omId,
		        	        	  dutyId:result.receiver.dutyId
		        	          },
		        	          success: function (json) {
		        	        	  toastr.success('提交成功');
		        	          }
		        	      }); 
		        	  } 
	  		    }
			}
	    }
	
	 function showMask() {
	    	myTool.mask.show('查询中...');
	 }
	 function hidMask() {
	 	myTool.mask.hide();
	 }
	
	
</script>
</html>