<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        tr{
        	text-align:center;
        	vertical-align:middle;
        }
        th{
        	text-align:center;
        	vertical-align:middle;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>薪酬管理</li>
			<li class="active">员工薪酬结构</li>
		</ul>
    </div>

    <div class="zhuti-content">
    	<!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">月度基础工资</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">月度岗位工资</a></li>
            </ul>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
        			<div class="LowerPart" style="margin-top:3px;">
            			<table class="table table-bordered table-condensed" id="mainContent">
            				<thead>
            					<tr>
            						<th>类别</th>
            						<th colspan="2">计算标准</th>
            					</tr>
            				</thead>
            				<tbody>
            					<tr>
            						<td>起算工资</td>
            						<td colspan="2">500元/月</td>
            					</tr>
            					<tr>
            						<td>年功工资</td>
            						<td colspan="2">工作年限*20元/年（2004年起算）</td>
            					</tr>
            					<tr>
            						<td rowspan="5">学历工资</td>
            						<td>博士</td>
            						<td>500元/月</td>
            					</tr>
            					<tr>
            						<td>硕士</td>
            						<td>300元/月</td>
            					</tr>
            					<tr>
            						<td>本科</td>
            						<td>220元/月</td>
            					</tr>
            					<tr>
            						<td>大专</td>
            						<td>160元/月</td>
            					</tr>
            					<tr>
            						<td>高中</td>
            						<td>100元/月</td>
            					</tr>
            					<tr>
            						<td rowspan="5">职称（技能）工资</td>
            						<td>研究员级高级工程师</td>
            						<td>400元/月</td>
            					</tr>
            					<tr>
            						<td>高级工程师</td>
            						<td>300元/月</td>
            					</tr>
            					<tr>
            						<td>工程师</td>
            						<td>220元/月</td>
            					</tr>
            					<tr>
            						<td>助理工程师</td>
            						<td>160元/月</td>
            					</tr>
            					<tr>
            						<td>技术员</td>
            						<td>100元/月</td>
            					</tr>
            					<tr>
            						<td>交通补贴</td>
            						<td colspan="2">300元/月</td>
            					</tr>
            				</tbody>
            			</table>
            		</div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
        			<div class="LowerPart" style="margin-top:3px;">
            			<table class="table table-bordered table-condensed" id="mainContent2">
            				<thead>
            					<tr>
            						<th colspan="3">职位等级</th>
            						<th>月度岗位工资标准（元/月）</th>
            					</tr>
            				</thead>
            				<tbody>
            					<tr>
            						<td rowspan="3">经营层</td>
            						<td rowspan="3">T</td>
            						<td>T1</td>
            						<td>7800</td>
            					</tr>
            					<tr>
            						<td>T2</td>
            						<td>7800</td>
            					</tr>
            					<tr>
            						<td>T3</td>
            						<td>5800</td>
            					</tr>
            					<tr>
            						<td rowspan="3">中层</td>
            						<td>S</td>
            						<td>S</td>
            						<td>4800</td>
            					</tr>
            					<tr>
             						<td rowspan="2">A</td>
            						<td>A1</td>
            						<td>4300</td>
            					</tr>
            					<tr>
            						<td>A2</td>
            						<td>3900</td>
            					</tr>
            					<tr>
            						<td rowspan="2">主管层</td>
            						<td rowspan="2">B</td>
            						<td>B1</td>
            						<td>3500</td>
            					</tr>
            					<tr>
            						<td>B2</td>
            						<td>3200</td>
            					</tr>
            					<tr>
            						<td rowspan="8">基层</td>
            						<td rowspan="2">C</td>
            						<td>C1</td>
            						<td>2900</td>
            					</tr>
            					<tr>
            						<td>C2</td>
            						<td>2700</td>
            					</tr>
            					<tr>
            						<td rowspan="2">D</td>
            						<td>D1</td>
            						<td>2500</td>
            					</tr>
            					<tr>
            						<td>D2</td>
            						<td>2300</td>
            					</tr>
            					<tr>
            						<td rowspan="2">E</td>
            						<td>E1</td>
            						<td>2100</td>
            					</tr>
            					<tr>
            						<td>E2</td>
            						<td>2000</td>
            					</tr>
            					<tr>
            						<td rowspan="2">F</td>
            						<td>F1</td>
            						<td>1900</td>
            					</tr>
            					<tr>
            						<td>F2</td>
            						<td>1800</td>
            					</tr>
            				</tbody>
            			</table>
            		</div>
                </div>
            </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	
	});

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })

    

</script>
</html>