<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>其他合同</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
    <link href="../../toastr/toastr.css" rel="stylesheet">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        @media screen and (max-width: 1920px) {
		    #myModal4{
		        margin-bottom:120px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>生产管理</li>
			<li>非项目合同管理</li>
			<li class="active">其他合同管理</li>
		</ul>
    </div>
<!--startprint-->
    <div class="zhuti-content">
    	<table class="table table-bordered table-condensed">
    							<tr>
	                    			<th colspan="4"  style="text-align:center;font-size:30px;" height="60px">其他合同</th>
	                    		</tr>
			                    <tr>
			                        <td style="width:15%;">合同名称:</td>
			                        <td style="width:35%;" id="look_contract_name"></td>
			                        <td style="width:15%;">合同编号:</td>
			                        <td style="width:35%;" id="look_contract_no"></td>
			                    </tr>
			                    <tr>
			                        <td>合同金额(元):</td>
			                        <td id="look_contract_money"></td>
			                        <td>暂定金</td>
			                        <td  id="lookzandingjin" ></td>
			                    </tr>
			                    <tr>
			                    	<!-- <td>合同类型:</td>
			                        <td id="look_contract_type"></td> -->
			                        <td>甲方单位:</td>
			                        <td id="look_organization_jia"></td>
			                        <td>乙方单位:</td>
			                        <td id="look_organization_yi"></td>
			                    </tr>
			                    <tr>
			                        <td>开始时间:</td>
			                        <td id="look_year2"></td>
			                        <td>结束时间:</td>
			                        <td id="look_year3"></td>
			                    </tr>
			                    <tr>
			                    	<td>合同签订时间:</td>
			                        <td id="look_year"></td>
			                         <td>对接部门:</td>
			                        <td id="look_department"></td>
			                    </tr>
			                    <tr id="lookFlowHistory">
			                        <td>合同概述:</td>
			                        <td colspan="3" id="look_contract_info"></td>
			                    </tr>
		                        <tr>
		                            <td>审批流程:</td>
		                            <td></td>
		                        </tr>
                    </table>
    </div>
<!--endprint-->
				<div class="modal-footer">
		          <!-- <button type="button" class="btn btn-default" onclick="quxiao()">取消</button> -->
		          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="day()">打印</button>
		        </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../js/quanxian.js"></script>

<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>

<script src="../../select/js/select2.min.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    
    var searchUrl = window.location.href;
  	var searchData = searchUrl.split("="); //截取 url中的“=”,获得“=”后面的参数
  	var id = decodeURI(searchData[1]); //decodeURI解码
 	console.log(id)
 	
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/other/selectOtherContractById',
            dataType: 'json',
            data: {
            	id:id
            },
            success: function (json) {
            	data=json;
            	$("#look_contract_no").text(data.contractCode==null?"":data.contractCode);
            	$("#look_contract_name").text(data.contractName==null?"":data.contractName);
            	$("#look_organization_jia").text(data.contractNameJia==null?"":data.contractNameJia);
            	$("#look_organization_yi").text(data.ccName==null?"":data.ccName);
            	$("#look_contract_money").text(data.contractMoney==null?"":data.contractMoney);
            	$("#look_department").text(data.omName==null?"":data.omName);
            	$("#look_year2").text(data.contractStartTime==null?"":data.contractStartTime);
            	$("#look_year3").text(data.contractEndTime==null?"":data.contractEndTime);
            	$("#look_contract_info").text(data.contractProbablyText==null?"":data.contractProbablyText);
            	$("#look_year").text(data.abutmentSignedTime==null?"":data.abutmentSignedTime);
            	$("#lookzandingjin").text(data.zandingMoney==null?"":data.zandingMoney)
            	
            	getHistoryNowAndLast();
            }
        });
    }

  	
 	function removeTr(){
		var dom = $("#lookFlowHistory").nextAll();
		$(dom).each(function(){
			$(this).remove();
		})
	}
	function getHistoryNowAndLast(){
    	$.ajax({
        	type: 'POST',
            url: getContextPath()+'/flowHistory/getHistoryNowAndLastByModeId',
            data:{
            	id:id
            },
            success: function (json) {
            	removeTr();
            	for(var i in json){
            		var operatorType = json[i].operateType;
            		operatorType = getCnByOt(operatorType);
            		var date = json[i].doDate;
            		var title = json[i].title;
            		var name = json[i].actorname;
            		var view=json[i].view;
            		if(json[i].view==""||json[i].view==null){
            			view="无";
            		}
            		if(i==json.length-1){
                	$("#lookFlowHistory").after("<tr><td rowspan="+json.length+" style='display:table-cell;vertical-align:middle;'>审批流程</td><td colspan='3'>"+json[i].roleName+""+name+";操作类型:"+operatorType+";操作意见:"+view+";操作时间:"+date+"</td></tr>");
            		}else{
                	$("#lookFlowHistory").after("<tr><td colspan='3'>"+json[i].roleName+""+name+";操作类型:"+operatorType+";操作意见:"+view+";操作时间:"+date+"</td></tr>");
            		}
            	}
            }
        });
	}
	
	function getCnByOt(s){
		  if(s==1){
			  return "提交";
		  }else if(s==2){
			  return "退回";
		  }else if(s==3){
			  return "撤销";
		  }else if(s==0){
			  return "驳回";
		  }else if(s==8){
			  return "待审批";
		  }
	  }
    
	
	function day(){
		// 获取当前页的html代码
		    var bdhtml = window.document.body.innerHTML;
		    //设置打印开始区域
		    var startStr = '<!--startprint-->';
		    // 设置打印结束区域
		    var endStr = '<!--endprint-->';
		    //从标记里获取需要打印的页面
		    var printHtml = bdhtml.substring(bdhtml.indexOf(startStr) + startStr.length, bdhtml.indexOf(endStr));
		    //隐藏不必要的按钮和样式
		   /*  var iframe = document.getElementById('rightMain');
		    var iframeHtml=iframe.contentWindow.document.body;
		    $(iframeHtml).find("a").each(function(){
		    	var fileName=$(this).text();
		    	var qq=$(this).parent("td");
		    	qq.empty();
		    	qq.append("<span>"+fileName+"</span>");
		    })
		    var iframeHtml2=iframeHtml.innerHTML;
		    var printHtml = document.getElementById('dy_html').innerHTML;
		    var allHtml=iframeHtml2+printHtml; */
		    var allHtml=printHtml;
		    
		   //iframe.contentWindow.focus();
		   //iframe.contentWindow.print(); 
		    
		 	// 通过id获取需要打印的页面
		    
		    window.document.body.innerHTML = allHtml;
		    if (!!window.ActiveXObject || "ActiveXObject" in window) { //是否ie
		        remove_ie_header_and_footer();
		     }
		    remove_ie_header_and_footer();
		    window.print();
		    // 还原界面
		    window.document.body.innerHTML = allHtml;
		    window.location.reload();
	  } 
//去掉页眉、页脚
	function remove_ie_header_and_footer() {
	  var hkey_path;
	  hkey_path = "HKEY_CURRENT_USER\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
	  try {
	     var RegWsh = new ActiveXObject("WScript.Shell");
	     RegWsh.RegWrite(hkey_path + "header", "");
	     RegWsh.RegWrite(hkey_path + "footer", "");
	  } catch (e) {
	  }
	
	}
  	
  	
    /* function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    } */


    
    
    
    
    
    
	
	
	
	
	
    
</script>
</html>