<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>采购合同</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link href="../../font3/bootstrap-select.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css"> 
    <link href="../../select/css/select2.min.css" rel="stylesheet">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
            font-size: 14px;
        }
        
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>生产管理</li>
            <li>合同管理</li>
            <li>项目合同管理</li>
            <li>采购合同管理</li>
			<li class="active">其他采购合同审签</li>
		</ul>
    </div>

<!--startprint-->
    <div class="zhuti-content">
    
    	<div>

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <!-- <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a> -->
		    <!-- <li role="presentation" id="dier"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">打印预览</a> -->
		    <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a> -->
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<table class="table table-bordered table-condensed">
		    				<tr>
		    					<th colspan="4"  style="text-align:center;font-size:30px;" height="60px">采购合同单</th>
		    				</tr>
					                        <tr>
					                            <td style="width:20%;">其他采购合同名称</td>
					                            <td style="width:30%;" id="lookcghetongming"></td>
					                            <td style="width:20%;">采购合同编号</td>
					                            <td style="width:30%;" id="lookcgNo"></td>
					                        </tr>
					                        <tr>
					                            <td style="width:100px;">采购合同类型</td>
					                            <td id="lookcgType"></td>
					                            <td>项目名称</td>
					                            <td id="lookprjName"></td>
					                        </tr>
					                        <tr>
					                            <td>任务单号</td>
                           						<td id="looktask_no"></td>
					                            <td>采购合同金额(元)</td>
					                            <td id="lookcghetongMoney"></td>
					                        </tr>
					                        <tr>
					                            <td>合同甲方名称</td>
					                            <td id="lookjiafang"></td>
					                            <td>乙方</td>
					                            <td id="lookyifang"></td>
					                        </tr>
					                        <tr>
					                            <td>付款方式</td>
					                            <td id="lookfukuanfangshi"></td>
					                            <td>采购合同签订时间</td>
					                            <td id="lookyear"></td>
					                        </tr>
					                        <tr>
					                            <td>采购部门</td>
					                            <td id="lookcg_bumen"></td>
					                           	<td>运费(元)</td>
					                           	<td id="lookyunfei"></td>
					                         </tr> 
					                        <tr>
					                            <td>采购合同概述</td>
					                            <td colspan="3"  id="lookcghetonggaishu"></td>
					                        </tr>
					                        <!-- <tr>
					                            <td>合同处理意见</td>
					                            <td colspan="3"  id="lookhetongchuliyijian"></td>
					                        </tr>
					                        <tr>
					                            <td>编制人</td>
					                            <td id="lookbianzhiren"></td>
					                           	<td>编制时间</td>
					                           	<td id="lookbianzhishijian"></td>
					                         </tr>  -->
					                        <!-- <tr>
					                            <td>主要概况及工作内容</td>
					                            <td colspan="3" id="lookgaikuang"></td>
					                        </tr> -->
					                        <!-- <tr>
					                            <td>采购合同文本</td>
					                            <td colspan="3"></td>
					                        </tr> -->
					                    </table>
					                    
					                    <!-- <table class="table table-bordered table-condensed"  id="look_all_table">
									                        		
									    </table> -->
									   <!--  <table class="table table-bordered table-condensed"  id="look_all_table1">
									                        		
									    </table> -->
									    <div id="lookcailiaobiaoDiv">
									    
					                    </div>
									    <table class="table table-bordered table-condensed" id="d_table">
				                    			<!-- <tr>
				                    				<th colspan="5">合同处理意见</th>
				                    			</tr> -->
				                    			<tr id="lookFlowHistory">
				                    				<!-- <th style="width:30%;">业务名称</th>
				                    				<th style="width:12%;">操作人</th>
				                    				<th style="width:23%;">意见</th>
				                    				<th style="width:12%;">操作类型</th>
				                    				<th style="width:23%;">操作时间</th> -->
				                    			</tr>
				                    	</table>
				                    	<!-- <div id="NodeBox" style="margin-left:15px;">
								            <div class="yihang"><b>审批流程:</b><div id="nodeRole3"></div></div>
								        </div> --> 
									    <!-- 历史信息表格 -->
									    <!-- <table style="width:100%;" class="table table-bordered table-condensed" id="lookHistory">
					                        <thead>
					                            <tr>
					                                <th colspan="6">历史信息</th>
					                            </tr>
					                            <tr>
					                                <td style="width:20%;">采购合同编号</td>
					                                <td style="width:20%;">采购合同名称</td>
					                                <td style="width:20%;">合同类型</td>
					                                <td style="width:20%;">修改时间</td>
					                                <td style="width:20%;">操作</td>
					                            </tr>
					                        </thead>
					                        <tbody>
					                            
					                        </tbody>
					                    </table> -->
				
		    </div>
		    <div role="tabpanel" class="tab-pane" id="messages">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div>
		
		</div>
    </div>

<!--endprint-->
			<div class="modal-footer">
		          <!-- <button type="button" class="btn btn-default" onclick="quxiao()">取消</button> -->
		          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="day()">打印</button>
		        </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script> 
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/bootstrap-select.js"></script>
<script src="../../js/quanxian.js"></script>

<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<!-- <script src="../../js/datatables/dataTables.bootstrap.min.js"></script> -->
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>

<script src="../../select/js/select2.min.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>

<script>
    $(document).ready( function () {
    	initTable();
    	/* initSelect();
    	selectDepartment();
    	inityifang(); */
    	//initSelectfb();
    	//initPrj();
        laydate.render({
            elem: '#year' //指定元素
        });
        laydate.render({
            elem: '#xgyear' //指定元素
        });
        laydate.render({
            elem: '#seach_time_min' //指定元素
        });
        laydate.render({
            elem: '#seach_time_max' //指定元素
        });
    	
        $("#sousuodiv").hide();//超级搜索折叠div
        $("#isdaigou").trigger("change");
	});
    
  //超级搜索折叠div
    var zhediepanduan=true;
    $("#zhedieBtn").click(function(){
    	if(zhediepanduan==true){
    		$("#sousuodiv").show(300);
    		zhediepanduan=false;
    	}else{
    		$("#sousuodiv").hide(300);
    		zhediepanduan=true;
    	}
    })
    
    $.fn.dataTable.Buttons.swfPath = '../../js/datatables/swf/flashExport.swf';
    var table=$('#mainContent').DataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": null}, 
            { "data": "cgoNo"},
            { "data": "contractName"}, 
            { "data": "cgocType"}, 
            { "data": "spName"}, 
            { "data": "cgoContractMoney",render: $.fn.dataTable.render.number( ',', '.', 2, '' )}, 
            { "data": "contractSignTime"}, 
        ],
        "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 7,
								    "searchable": true,
								    "render": function(data, type, full) {
								    	if(full.workNo==""||full.workNo==null){
								  	  		return '<i class="iconfont icon-icon-test Peccb" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="查看详细信息" onclick="lookCgC(this)" data-toggle="modal" data-target="#allMsg1"   id="lookDetall"></i><i class="iconfont icon-xiugai iconxiugai Peccc" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="合同变更" onclick="checkCgC(this)" data-toggle="modal" data-target="#change"  id="Changedanwei"></i><i class="iconfont icon-arrow chongqi Peccf" style="font-size:20px;cursor:pointer;display:none;margin-left:5px;" title="重启" onclick="openModal3(this)"></i><i class="iconfont icon-tuichu iconzhongzhi Peccd" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="采购合同取消"  onclick="openModal2(this)"></i>  <i class="iconfont icon-icon_edit bulu" style="font-size:18px;cursor:pointer;display:none;" title="补录项目" onclick="buluxiangmu(this)"></i>'
								    	}else{
								    		return '<i class="iconfont icon-icon-test Peccb" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="查看详细信息" onclick="lookCgC(this)" data-toggle="modal" data-target="#allMsg1"   id="lookDetall"></i><i class="iconfont icon-xiugai iconxiugai Peccc" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="合同变更" onclick="checkCgC(this)" data-toggle="modal" data-target="#change"  id="Changedanwei"></i><i class="iconfont icon-arrow chongqi Peccf" style="font-size:20px;cursor:pointer;display:none;margin-left:5px;" title="重启" onclick="openModal3(this)"></i><i class="iconfont icon-tuichu iconzhongzhi Peccd" style="font-size:20px;cursor:pointer;margin-left:5px;display:none;" title="采购合同取消"  onclick="openModal2(this)"></i>'
								    	}
								  	  	
								        }
								  }
						],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        "fnDrawCallback"  : function(){
          　　this.api().column(0).nodes().each(function(cell, i) {
          　　　　cell.innerHTML =  i + 1;
         });
	        $.ajax({
	     		type:"post",
	     		url:getContextPath()+"/login/getUser",
	     		async:false,
	     		data:{
	     		},
	     		success:function(json){
	     			
	     			if(json!=null &&json!=""){
	     				var arr = json.uPermissions.split(',');
	     				for(var i=0;i<arr.length;i++){
	     					var arr2 = arr[i].replace("+","");
	     					if(arr[i].indexOf("Peccb") >= 0 ){
	     						$(".Peccb").show();
	     						$(".bulu").show();
	     					}
	     					if(arr[i].indexOf("Peccc") >= 0 ){
	     						$(".Peccc").show();
	     						$(".bulu").show();
	     					}
	     					if(arr[i].indexOf("Peccd") >= 0 ){
	     						$(".Peccd").show();
	     						$(".bulu").show();
	     					}
	     				}
	     			}
	     		}
	     	});
        },
        "buttons": [
		        	{
		                extend: "csv",
		                text: "导出csv",
		                bom: true,
		                filename: '采购合同',
		                fieldSeparator: ',',
		                exportOptions: {
		                	format: {
		                        header: function ( data) {
		                            return data;
		                        },
		                        body: function ( data, columnIdx, rowIdx, code ) {
					                return data;
					            }
		                    },
		                    columns:[1,2,3,4,5,6]
		                }
		            }
		        ]
	});
    
    $(".hasinput").on( 'change', function () {
        table
            .column( $(this).parent().index()+':visible' )
            .search( this.value )
            .draw(false);
    } );
 
 
  table.buttons().container().appendTo( $('#tabBtn') );
   $('.buttons-csv').addClass('btn btn-primary');
    
    
 // 调用方法
  	//GetQueryString("id");
  	var searchUrl = window.location.href;
  	var searchData = searchUrl.split("="); //截取 url中的“=”,获得“=”后面的参数
  	var id = decodeURI(searchData[1]); //decodeURI解码
 	console.log(id)
	function initTable(){
		 $("#diyi").removeClass("active");
	     $("#dier").addClass("active");
	     $("#diyi a").show();
	     $("#dier a").show();
	     $("#home").removeClass("active");
	     $("#profile").addClass("active");
		$.ajax({
			type:"post",
			url:getContextPath()+"/cgOtherContract/selectCgoContractById",
			dataType:"json",
			data:{
				id:id,
			},
			success:function(json){
				console.log(json)
				$("#lookcghetongming").text(json.contractName);
				$("#lookcgNo").text(json.cgoNo);
				$("#lookcgbianhao").text(json.cgoId)
				$("#lookprjName").text(json.prjName)
				$("#looktask_no").text(json.workNo);
				$("#lookcgType").text(json.cgocType);
				$("#lookcghetongMoney").text(json.cgoContractMoney==null?"":json.cgoContractMoney);
				$("#lookjiafang").text(json.contractNameJia==null?"":json.contractNameJia);
				$("#lookyifang").text(json.spName==null?"":json.spName);
				$("#lookfukuanfangshi").text(json.payMode==null?"":json.payMode);
				$("#lookyear").text(json.contractSignTime==null?"":json.contractSignTime);
				$("#lookcghetonggaishu").text(json.contractSummary==null?"":json.contractSummary);
				$("#lookgaikuang").text(json.workContent==null?"":json.workContent);
				$("#lookcg_bumen").text(json.cgoDepartment);
				$("#lookyunfei").text(json.freight);
				

				
				$.ajax({
		        	type: 'POST',
		            url: getContextPath()+'/flowHistory/getHistoryNowAndLastByModeId',
		            data:{
		            	id:id
		            },
		            success: function (json) {
		            	//console.log(json)
		            	var dom = $("#lookFlowHistory").nextAll();
						$(dom).each(function(){
							$(this).remove();
						})
						for(var i in json){
		            		var operatorType = json[i].operateType;
		            		operatorType = getCnByOt(operatorType);
		            		var date = json[i].doDate;
		            		var title = json[i].title;
		            		var name = json[i].actorname;
		            		var view=json[i].view;
		            		if(json[i].view==""||json[i].view==null){
		            			view="无";
		            		}
		            		if(i==json.length-1){
	                    		$("#lookFlowHistory").after("<tr><td rowspan="+json.length+" style='display:table-cell;vertical-align:middle;'>审批流程</td><td colspan='3'>"+json[i].roleName+""+name+";操作类型:"+operatorType+";操作意见:"+view+";操作时间:"+date+"</td></tr>");
	                		}else{
	                    		$("#lookFlowHistory").after("<tr><td colspan='3'>"+json[i].roleName+""+name+";操作类型:"+operatorType+";操作意见:"+view+";操作时间:"+date+"</td></tr>");
	                		}
		            	}
		            	
		            }
		        });
				
				
			}
		})
		
    }
  
  
	 function getCnByOt(s){
		  if(s==1){
			  return "提交";
		  }else if(s==2){
			  return "退回";
		  }else if(s==3){
			  return "撤销";
		  }else if(s==0){
			  return "驳回";
		  }else if(s==8){
			  return "待审批";
		  }
	 }
	 
	 function quxiao(){
		 window.history.back(-1);
	 }
	 
	  function day(){
			// 获取当前页的html代码
			    var bdhtml = window.document.body.innerHTML;
			    //设置打印开始区域
			    var startStr = '<!--startprint-->';
			    // 设置打印结束区域
			    var endStr = '<!--endprint-->';
			    //从标记里获取需要打印的页面
			    var printHtml = bdhtml.substring(bdhtml.indexOf(startStr) + startStr.length, bdhtml.indexOf(endStr));
			    //隐藏不必要的按钮和样式
			   /*  var iframe = document.getElementById('rightMain');
			    var iframeHtml=iframe.contentWindow.document.body;
			    $(iframeHtml).find("a").each(function(){
			    	var fileName=$(this).text();
			    	var qq=$(this).parent("td");
			    	qq.empty();
			    	qq.append("<span>"+fileName+"</span>");
			    })
			    var iframeHtml2=iframeHtml.innerHTML;
			    var printHtml = document.getElementById('dy_html').innerHTML;
			    var allHtml=iframeHtml2+printHtml; */
			    var allHtml=printHtml;
			    
			   //iframe.contentWindow.focus();
			   //iframe.contentWindow.print(); 
			    
			 	// 通过id获取需要打印的页面
			    
			    window.document.body.innerHTML = allHtml;
			    if (!!window.ActiveXObject || "ActiveXObject" in window) { //是否ie
			        remove_ie_header_and_footer();
			     }
			    remove_ie_header_and_footer();
			    window.print();
			    // 还原界面
			    window.document.body.innerHTML = allHtml;
			    window.location.reload();
		  } 
	//去掉页眉、页脚
		function remove_ie_header_and_footer() {
		  var hkey_path;
		  hkey_path = "HKEY_CURRENT_USER\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
		  try {
		     var RegWsh = new ActiveXObject("WScript.Shell");
		     RegWsh.RegWrite(hkey_path + "header", "");
		     RegWsh.RegWrite(hkey_path + "footer", "");
		  } catch (e) {
		  }
		
		}
	 
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

    // $("#mainContent tbody tr").click(function (){
    //     $(this).addClass('selected')
    //     .siblings().removeClass('selected')
    //     .end();
    // })
	//数组去重
	/* Array.prototype.unique3 = function(){
	 var res = [];
	 var json = {};
	 for(var i = 0; i < this.length; i++){
	  if(!json[this[i]]){
	   res.push(this[i]);
	   json[this[i]] = 1;
	  }
	 }
	 return res;
	}

    var arr=[];
    // $('#renwuDanhao')[0].selectedIndex = -1;
    $("#renwuDanhao").change(function(){
        arr.push($("#renwuDanhao").val())
        $("#rwdh").text(arr.unique3())
    })
    var arr2=[];
    // $('#renwuDanhao2')[0].selectedIndex = -1;
    $("#renwuDanhao2").change(function(){
        arr2.push($("#renwuDanhao2").val())
        $("#rwdh2").text(arr2.unique3())
    })

    $(".zhuangtai").change(function(){
        var zt=$(".zhuangtai").val();
        if(zt=="合同终止"){
            $(".quxiao").hide();
            $(".chongqi").show()
        }else{
            $(".quxiao").show();
            $(".chongqi").hide();
        }
    }) */
    
    

</script>
</html>