<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>
  <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
			<li class="active">项目跟踪</li>
		</ul>
    </div>
    
       
    <div class="zhuti-content">

        <table class="table table-bordered table-condensed">
                <tr>
                    <td style="width:100px;">项目名称</td>
                    <td id="look_prj_name_log"></td>
                    <td style="width:100px;">经营编号</td>
                    <td id="look_business_no_log"></td>
                </tr>
                <tr>
                    <td>客户名称</td>
                    <td id="look_client_name"></td>
                    <td>主办部门</td>
                    <td id="look_main_department"></td>
                </tr>
                <tr>
                    <td>日志</td>
                    <td colspan="3" id="look_log"></td>
                </tr>
            </table> 

        
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../js/jquery-form.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	lookThisLog();
    	
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");


	
	function lookThisLog(){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent2").DataTable().row(dom).data();
		
		$("#look_prj_name_log").text(data.prjName);
		$("#look_business_no_log").text(data.manageNo);
		$("#look_client_name").text(data.clientName);
		$("#look_main_department").text(data.sponsorDepartment);
		$("#look_log").text(data.ptlLog);
		
	}
	



</script>
</html>