<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        .yijian{
        	width:25px;
        	height:25px;
        }
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
            <li>项目投标</li>
			<li class="active">项目风险评估</li>
		</ul>
    </div>
    

    		<div class="zhuti-content">
					<table class="table table-bordered table-condensed">
                          <tr>
                              <td>项目名称</td>
                              <td id="lookprjName"></td>
                              <td>投标审批单号</td>
                              <td id="lookprjNo"></td>
                          </tr>
                          <tr>
                              <td>项目类型</td>
                              <td id="lookprjType"></td>
                              <td>项目规模</td>
                              <td id="lookprjScale"></td>
                          </tr>
                          <tr>
	                           	<td>项目概况</td>
	                           	<td colspan="3"  id="prj_info"></td>
                           </tr>
                          <tr>
                              <td rowspan="12">风险评估要素</td>
                              <td colspan="2">评估项目</td>
                              <td>摘要描述</td>
                          </tr>
                          <tr>
                              <td colspan="2">甲方单位评估</td>
                              <td id="lookjiapinggu"></td>
                          </tr>
                          <tr>
                              <td rowspan="2">财务</td>
                              <td style="width:150px;">现金流量</td>
                              <td id="lookxianjin"></td>
                          </tr>
                          <tr>
                              <td>盈利能力</td>
                              <td id="lookyingli"></td>
                          </tr>
                          <tr>
                              <td rowspan="4">合同条款</td>
                              <td>合同模式</td>
                              <td id="lookhetong"></td>
                          </tr>
                          <tr>
                              <td>合同中对人员、主材、财务、变更条件等条款的约定</td>
                              <td id="looktiaokuan"></td>
                          </tr>
                          <tr>
                              <td>价差调整</td>
                              <td id="lookchajia"></td>
                          </tr>
                          <tr>
                              <td>付款条件</td>
                              <td id="lookfukuan"></td>
                          </tr>
                          <tr>
                              <td rowspan="2">环境</td>
                              <td>人文环境</td>
                              <td id="lookrenwen"></td>
                          </tr>
                          <tr>
                              <td>地理环境</td>
                              <td id="lookdili"></td>
                          </tr>
                          <tr>
                              <td rowspan="2">技术</td>
                              <td>技术负杂程度</td>
                              <td id="lookjishu"></td>
                          </tr>
                          <tr>
                              <td>安全管理难度</td>
                              <td id="lookanquan"></td>
                          </tr>
                          <tr>
                            	<td>协作</td>
                                <td>联营或联合体单位情况</td>
                                <td id="lianying_info" ></td>
                            </tr>
                          <tr>
                              <td>评标办法</td>
                              <td colspan="4" id="lookpingbiao"> </td>
                          </tr>
                      </table>
                       
	        		  <table class="table table-bordered table-condensed">
	        				<tr id="jyfzb">
	                              <td>经营发展部意见</td>
	                              <td>
	                              		<input type="radio" name="jingyingfazhanbu" value="一般风险" class="yijian">一般风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfazhanbu" value="较大风险" class="yijian">较大风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfazhanbu" value="重大风险" class="yijian">重大风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfazhanbu" value="特大风险" class="yijian">特大风险&nbsp;&nbsp;
	                              </td>
                             </tr>
                             <tr id="zhcwb">
	                              <td>综合财务部意见</td>
	                              <td>
	                              		<input type="radio" name="zonghecaiwubu" value="一般风险" class="yijian">一般风险&nbsp;&nbsp;
	                              		<input type="radio" name="zonghecaiwubu" value="较大风险" class="yijian">较大风险&nbsp;&nbsp;
	                              		<input type="radio" name="zonghecaiwubu" value="重大风险" class="yijian">重大风险&nbsp;&nbsp;
	                              		<input type="radio" name="zonghecaiwubu" value="特大风险" class="yijian">特大风险&nbsp;&nbsp;
	                              </td>
                             </tr>
                             <tr id="xmcbb">
	                              <td>项目承办部门意见</td>
	                              <td>
	                              		<input type="radio" name="xiangmuchengbanbu" value="一般风险" class="yijian">一般风险&nbsp;&nbsp;
	                              		<input type="radio" name="xiangmuchengbanbu" value="较大风险" class="yijian">较大风险&nbsp;&nbsp;
	                              		<input type="radio" name="xiangmuchengbanbu" value="重大风险" class="yijian">重大风险&nbsp;&nbsp;
	                              		<input type="radio" name="xiangmuchengbanbu" value="特大风险" class="yijian">特大风险&nbsp;&nbsp;
	                              </td>
                             </tr>
                             <tr id="zlaqb">
	                              <td>质量安全部门意见</td>
	                              <td>
	                              		<input type="radio" name="anquanzhiliangbu" value="一般风险" class="yijian">一般风险&nbsp;&nbsp;
	                              		<input type="radio" name="anquanzhiliangbu" value="较大风险" class="yijian">较大风险&nbsp;&nbsp;
	                              		<input type="radio" name="anquanzhiliangbu" value="重大风险" class="yijian">重大风险&nbsp;&nbsp;
	                              		<input type="radio" name="anquanzhiliangbu" value="特大风险" class="yijian">特大风险&nbsp;&nbsp;
	                              </td>
                             </tr>
                             <tr id="jyfg">
	                              <td>经营分管领导</td>
	                              <td>
	                              		<input type="radio" name="jingyingfenguan" value="一般风险" class="yijian">一般风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfenguan" value="较大风险" class="yijian">较大风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfenguan" value="重大风险" class="yijian">重大风险&nbsp;&nbsp;
	                              		<input type="radio" name="jingyingfenguan" value="特大风险" class="yijian">特大风险&nbsp;&nbsp;
	                              </td>
                             </tr>
	        		  </table>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	
	});
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   	editOrView=GetQueryString("editOrView");
	step=GetQueryString("step");
	console.log(id,editOrView,step)
	function initTable(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/riskAssessment/selectRiskAssessmentById',
	        dataType: 'json',
	        data:{
	        	raId:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	data=json;
	        	 $("#prj_info").text(data.prjInfo);
	        	 $("#lianying_info").text(data.lianyingInfo);
	        	 $("#lookprjName").text(data.prjName);
	    		 $("#lookprjNo").text(data.prjNo);
	    		 $("#lookprjScale").text(data.prjScale);
	    		 $("#lookprjType").text(data.prjType);
	    		 $("#lookjiapinggu").text(data.pecificAssessment);
	    		 $("#lookxianjin").text(data.flows);
	    		 $("#lookyingli").text(data.profitability);
	    		 $("#lookhetong").text(data.contractModel);
	    		 $("#looktiaokuan").text(data.conditionsTerms);
	    		 $("#lookchajia").text(data.priceAdjustment);
	    		 $("#lookfukuan").text(data.paymentClause);
	    		 $("#lookrenwen").text(data.culturalEnvironment);
	    		 $("#lookdili").text(data.geographicalConditions);
	    		 $("#lookjishu").text(data.technicalDifficulty);
	    		 $("#lookanquan").text(data.safetyManagementDifficulty);
	    		 $("#lookpingbiao").text(data.evaluationMethod);
	    		 
	    		 $("#jyfzb").hide();
	    		 $("#zhcwb").hide();
	    		 $("#xmcbb").hide();
	    		 $("#zlaqb").hide();
	    		 $("#jyfg").hide();
	    		//view
	    		 if(editOrView=="view"&&step=="2"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").hide();
		    		 $("#xmcbb").hide();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="view"&&step=="3"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").hide();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="view"&&step=="4"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
		    		 $("#xmcbb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="view"&&step=="5"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").show();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
		    		 $("#xmcbb").find("input:radio").attr("disabled","disabled");
		    		 $("#zlaqb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="view"&&step=="6"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").show();
		    		 $("#jyfg").show();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
		    		 $("#xmcbb").find("input:radio").attr("disabled","disabled");
		    		 $("#zlaqb").find("input:radio").attr("disabled","disabled");
		    		 $("#jyfg").find("input:radio").attr("disabled","disabled");
	    		 }
	    		//edit
	    		 if(editOrView=="edit"&&step=="2"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").hide();
		    		 $("#xmcbb").hide();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
	    		 }else if(editOrView=="edit"&&step=="3"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").hide();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="edit"&&step=="4"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").hide();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="edit"&&step=="5"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").show();
		    		 $("#jyfg").hide();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
		    		 $("#xmcbb").find("input:radio").attr("disabled","disabled");
	    		 }else if(editOrView=="edit"&&step=="6"){
	    			 $("#jyfzb").show();
	    			 $("#zhcwb").show();
		    		 $("#xmcbb").show();
		    		 $("#zlaqb").show();
		    		 $("#jyfg").show();
		    		 $("#jyfzb").find("input:radio").attr("disabled","disabled");
		    		 $("#zhcwb").find("input:radio").attr("disabled","disabled");
		    		 $("#xmcbb").find("input:radio").attr("disabled","disabled");
		    		 $("#zlaqb").find("input:radio").attr("disabled","disabled");
		    		// $("#jyfg").find("input:radio").attr("disabled","disabled");
	    		 }
	    		
	    		
	        }
	    });
		
    }
	
	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	//console.log(json)
	        	
	        }
	    });
	}



</script>
</html>