<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
    </style>
</head>
<body>
<!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>经营管理</li>
            <li>项目投标</li>
			<li class="active">投标审批单</li>
		</ul>
    </div>
    

    <div class="zhuti-content">

				<table class="table table-bordered table-condensed">
                    		<tr>
                            	<td>项目名称</td>
                            	<td id="lookprjName"></td>
                            	<td>项目编号</td>
                            	<td id="lookprjNo"></td>
                            </tr>
                            <tr>
                            	<td>标段编号</td>
                            	<td id="look_bd_no" colspan="3"></td>
                            </tr>
                            <tr>
                            	<td>业主单位</td>
                            	<td id="lookyezhudanwei"></td>
                            	<td>项目类型</td>
                            	<td id="lookprjType"></td>
                            </tr>
                            <tr>
                            	<td>投标人</td>
                            	<td id="looktoubiaoren"></td>
                            	<td>项目报名人员</td>
                            	<td id="lookbaomingren"></td>
                            </tr>
                            <tr>
                            	<td>项目购买标书人员</td>
                            	<td id="lookgoumairen"></td>
                            	<td>现场考察时间</td>
                            	<td id="lookyear2"></td>
                            </tr>
                            <tr>
                            	<td>标前会时间</td>
                            	<td id="lookyear3"></td>
                            	<td>资格预审递交时间</td>
                            	<td id="lookyear"></td>
                            </tr>
                            <tr>
                            	<td>投标文件递交时间</td>
                            	<td id="lookyear4"></td>
                            	<td>商务负责人</td>
                            	<td id="lookBusinessPeople"></td>
                            </tr>
                            <tr>
                            	<td class="jinqianyanse">预估项目规模(元)</td>
                            	<td  id="look_yuguguimo"></td>
								<td>采购方式</td>
                            	<td id="look_caigou_type"></td>
                            </tr>
                            <tr>
	                            <td>概述</td>
	                            <td colspan="3" id="look_gaishu"></td>
	                        </tr>
                </table> 
                
        		<table class="table table-bordered table-condensed" id="look_xieban_table">
                    	<thead>
                    		<tr>
                    			<th colspan="8">经营发展处意见</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    	</tbody>
                 </table>
                 <table class="table table-bordered table-condensed" id="fgldxuanbumen">
                    	<thead>
                    		<tr>
                    			<th colspan="8">协作部门分管领导选择协办部门</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    	</tbody>
                 </table>
                 <table class="table table-bordered table-condensed" id="fgldyijian">
                    	<thead>
                    		<tr>
                    			<th colspan="8">协作部门意见</th>
                    		</tr>
                    	</thead>
                    	<tbody>
                    	</tbody>
                 </table>
        <!-- Modal选人 -->
<div class="modal fade" id="people1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="bumenshangwu" class="form-control" ></select>
	                    </div>
	                </form>
	       			<table class="table table-bordered table-condensed" id="mingzibiaoshangwu">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="querenshangwu">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
        <!-- Modal选人 -->
<div class="modal fade" id="people2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="bumenbaojia" class="form-control" ></select>
	                    </div>
	                </form>
	       			<table class="table table-bordered table-condensed" id="mingzibiaobaojia">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="querenbaojia">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
        <!-- Modal选人 -->
<div class="modal fade" id="people3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       			<!-- <select class="form-control" style="width:180px;" id=""></select> -->
	       			<form class="form-inline">
	                    <div class="form-group">
	                        	<span>部门:</span>
	                            <select style="width:180px;"id="bumenzerenren" class="form-control" ></select>
	                    </div>
	                </form>
	       			<table class="table table-bordered table-condensed" id="mingzibiaozerenren">
	       				<thead>
	       					<tr>
	       						<th></th>
	       						<th>姓名</th>
	       						<th>工号</th>
	       						<th>出生日期</th>
	       						<th>性别</th>
	       						<th>职务</th>
	       					</tr>
	       				</thead>
	       				<tbody></tbody>
	       			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary" id="querenzerenren">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal选人结束 -->
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js">
</script><script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	/* initlindao(); */
	});
    //已知部门选人
    var tableren=$('#mingzibiaoshangwu').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi" style="width:16px;height:16px;" id="chked">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var tableren2=$('#mingzibiaobaojia').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi2" style="width:16px;height:16px;" id="chked">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    var tableren3=$('#mingzibiaozerenren').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 5,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
					{ "data": null}, 
		            { "data": "uName"}, 
		            { "data": "workId"},
		            { "data": "birthday"}, 
		            { "data": "sex"}, 
		            { "data": "dutyName"}, 
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 0,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<input type="radio" name="mingzi3" style="width:16px;height:16px;" id="chked">'
										        }
										  }
								],
        "order": [[2, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
   }
   // 调用方法
   	id=GetQueryString("prjId");
   	editOrView=GetQueryString("editOrView");
   	step=GetQueryString("step");
   	viewIndex=GetQueryString("viewIndex");
   	console.log(id,editOrView,step)
	
	
	function initTable(){
		$.ajax({
			type:"POST",
			url:getContextPath()+"/BidApproval/selectBidApprovalById",
			dataType:"json",
			async:false,
			data:{
				id:id,
			},
			success:function(json){
				$("#lookprjName").text(json.prjName);
				$("#lookprjNo").text(json.prjNo);
				$("#look_bd_no").text(json.bdNo);
				$("#lookyezhudanwei").text(json.ccName);
				$("#lookprjType").text(json.prjType);
				$("#looktoubiaoren").text(json.bidder);
				$("#lookyear").text(json.pretrialSubmissionTime);
				$("#lookyear2").text(json.fieldTime);
				$("#lookyear3").text(json.pretenderMeetingTime);
				$("#lookyear4").text(json.submissionTime);
				$("#lookbaomingren").text(json.projectApplicants);
				$("#lookgoumairen").text(json.purchaseTenderPersonnel);
				$("#look_caigou_type").text(json.cgType);
				$("#look_gaishu").text(json.baDesc)
				$("#look_yuguguimo").text(json.yuguPrjScale)
				
				/* if(editOrView=="view"){
            		$("#baocuna").hide();
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			//+'<input type="text" style="width:80%;" class="form-control" id="lindao" disabled>'
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                	
                		
            	} */
				//view
				if(editOrView=="view"&&step=="2"){
            		$("#baocuna").hide();
            		$("#look_xieban_table tbody").html('');
            		$("#fgldxuanbumen").hide();
            		$("#fgldyijian").hide();
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			//+'<input type="text" style="width:80%;" class="form-control" id="lindao" disabled><button type="button" class="btn btn-primary"  id="chooseld" data-toggle="modal" data-target="#people">选择协作部门分管领导</button>'
                			+'<input type="radio" name="fileLevel" value="一级文件" style="width:25px;height:25px;" id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="二级文件" style="width:25px;height:25px;" id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao"></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled>&nbsp;<button type="button" class="btn btn-primary"  id="chooseshangwu" data-toggle="modal" data-target="#people1">选择商务负责人</button></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled>&nbsp;<button type="button" class="btn btn-primary"  id="choosebaojia" data-toggle="modal" data-target="#people2">选择报价负责人</button></div></td></tr>')
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
                			
            	}else if(editOrView=="view"&&step=="3"){
            		$("#look_xieban_table tbody").html('');
            		$("#fgldyijian").hide();
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;" disabled id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;" disabled id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
                			
            		$("#fgldxuanbumen tbody").html('');
                	$("#fgldxuanbumen tbody").append('<tr><td style="width:150px;">选择协办部门'
                			+'</td><td><div class="yihang"><select class="form-control" id="toubiaobumen" style="width:180px;" disabled></select></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#toubiaobumen").val(json.xbDepartment)
                			
            	}else if(editOrView=="view"&&step=="4"||viewIndex=="viewIndex"){
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;" disabled id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;" disabled  id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                			
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
            		$("#fgldxuanbumen tbody").html('');
                	$("#fgldxuanbumen tbody").append('<tr><td style="width:150px;">选择协办部门'
                			+'</td><td><div class="yihang"><select class="form-control" id="toubiaobumen" style="width:180px;" disabled></select></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#toubiaobumen").val(json.xbDepartment)
                			
                	$("#fgldyijian tbody").html('');
                	$("#fgldyijian tbody").append('<tr><td style="width:150px;">选择投标责任人'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="zerenren" disabled></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#zerenren").val(json.tbPeople)
                			
            	}else if(editOrView=="view"&&step=="5"||viewIndex=="viewIndex"){
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;" disabled id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;" disabled  id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                			
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
            		$("#fgldxuanbumen tbody").html('');
                	$("#fgldxuanbumen tbody").append('<tr><td style="width:150px;">选择协办部门'
                			+'</td><td><div class="yihang"><select class="form-control" id="toubiaobumen" style="width:180px;" disabled></select></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#toubiaobumen").val(json.xbDepartment)
                			
                	$("#fgldyijian tbody").html('');
                	$("#fgldyijian tbody").append('<tr><td style="width:150px;">选择投标责任人'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="zerenren" disabled></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#zerenren").val(json.tbPeople)
                			
            	}
				//edit
            	if(editOrView=="edit"&&step=="2"){
            		$("#baocuna").hide();
            		$("#look_xieban_table tbody").html('');
            		$("#fgldxuanbumen").hide();
            		$("#fgldyijian").hide();
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			//+'<input type="text" style="width:80%;" class="form-control" id="lindao" disabled><button type="button" class="btn btn-primary"  id="chooseld" data-toggle="modal" data-target="#people">选择协作部门分管领导</button>'
                			+'<input type="radio" name="fileLevel" value="一级文件" style="width:25px;height:25px;" id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="二级文件" style="width:25px;height:25px;" id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao"></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled>&nbsp;<button type="button" class="btn btn-primary"  id="chooseshangwu" data-toggle="modal" data-target="#people1">选择商务负责人</button></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled>&nbsp;<button type="button" class="btn btn-primary"  id="choosebaojia" data-toggle="modal" data-target="#people2">选择报价负责人</button></div></td></tr>')
                		
        				
            	}else if(editOrView=="edit"&&step=="3"){
            		$("#look_xieban_table tbody").html('');
            		$("#fgldyijian").hide();
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;" disabled id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;" disabled id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
                			
            		$("#fgldxuanbumen tbody").html('');
                	$("#fgldxuanbumen tbody").append('<tr><td style="width:150px;">选择协办部门'
                			+'</td><td><div class="yihang"><select class="form-control" id="toubiaobumen" style="width:180px;"></select></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#toubiaobumen").val(json.xbDepartment)
                			
            	}else if(editOrView=="edit"&&step=="4"){
            		$("#look_xieban_table tbody").html('');
                	$("#look_xieban_table tbody").append("<tr><td style='width:150px;'>文件等级</td><td>"
                			+'<input type="radio" name="fileLevel" value="1" style="width:25px;height:25px;" disabled id="yijiwj">一级文件'
                			+'<input type="radio" name="fileLevel" value="2" style="width:25px;height:25px;" disabled id="erjiwj">二级文件'
                			+"</td><td>选择协作部门分管领导"
                			+"</td><td>"
                			+'<select class="form-control" style="width:180px;" id="lindao" disabled></select>'
                			+"</td></tr>"
                			+'<tr><td style="width:150px;">商务部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="shangwu" disabled></div>'
                			+'</td><td>报价部分'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="baojia" disabled></div></td></tr>')
                			if(json.fileLevel=="一级文件"){
                				$("#yijiwj").prop("checked","checked");
                			}
                			if(json.fileLevel=="二级文件"){
                				$("#erjiwj").prop("checked","checked");
                			}
                			$("#lindao").val(json.fgLindao)
                			$("#shangwu").val(json.businessPeople);
                			$("#baojia").val(json.bidPeople);
                			
                			
            		$("#fgldxuanbumen tbody").html('');
                	$("#fgldxuanbumen tbody").append('<tr><td style="width:150px;">选择协办部门'
                			+'</td><td><div class="yihang"><select class="form-control" id="toubiaobumen" style="width:180px;" disabled></select></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
                			
                			$("#toubiaobumen").val(json.xbDepartment)
                			
                	$("#fgldyijian tbody").html('');
                	$("#fgldyijian tbody").append('<tr><td style="width:150px;">选择投标责任人'
                			+'</td><td><div class="yihang"><input type="text" style="width:180px;" class="form-control" id="zerenren" disabled>&nbsp;<button type="button" class="btn btn-primary"  id="choosezerenren" data-toggle="modal" data-target="#people3">选择投标责任人</button></div>'
                			+'</td><td>'
                			+'</td><td><div class="yihang"></div></td></tr>')
            	}
            	
            	inithuman();
            	initlindao();
            	$("#toubiaobumen").val(json.xbDepartment)
            	$("#zerenren").val(json.tbUname);
    			$("#zerenren").attr("data-id3",json.tbPeople);
    			$("#lindao").val(json.fgLindao)
    			$("#shangwu").val(json.businessPeople);
    			$("#baojia").val(json.bidPeople);
    			if(json.fileLevel=="一级文件"){
    				$("#yijiwj").prop("checked","checked");
    			}
    			if(json.fileLevel=="二级文件"){
    				$("#erjiwj").prop("checked","checked");
    			}
			}
		})
    }

	//初始化领导
	function initlindao(){
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectFgldByRoleName",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:id
				},
			success:function(json){
				console.log(json)
				$("#lindao").empty();
				for(var i=0;i<json.length;i++){
					$("#lindao").append("<option data-id='" + json[i].flowOmNo + "' value='"+json[i].userId+"'>"
		                    + json[i].uName + "</option>")
				}
			}
		})
	}
	//协作部门分管领导
	function inithuman(){
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/organizationManagement/getAllOrganizationManagement",
			dataTyepe:"json",
			async:false,
			data:{ 
				
				},
			success:function(json){
				//console.log(json)
				$("#bumenshangwu").empty();
				$("#bumenbaojia").empty();
				$("#toubiaobumen").empty();
				$("#bumenzerenren").empty();
				for(var i=0;i<json.length;i++){
					$("#bumenshangwu").append("<option value='" + json[i].omId + "'>"
		                    + json[i].omName + "</option>")
                   $("#bumenbaojia").append("<option value='" + json[i].omId + "'>"
                   			+ json[i].omName + "</option>")
                  $("#toubiaobumen").append("<option value='" + json[i].omId + "' data-no='" + json[i].omNo + "'>"
                   			+ json[i].omName + "</option>")
                  $("#bumenzerenren").append("<option value='" + json[i].omId + "'>"
                   			+ json[i].omName + "</option>")
				}
				$("#bumenshangwu").trigger('change');
				$("#bumenbaojia").trigger('change');
				$("#bumenzerenren").trigger('change');
			}
		})
	}
  //已知部门，获取部门所属人员
	$("#bumenshangwu").change(function(){
		$('#people1').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#bumenshangwu").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#mingzibiaoshangwu').dataTable().fnClearTable();
                $('#mingzibiaoshangwu').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//添加人员到input框
	$("#querenshangwu").click(function(){
		var tr=$("input[name='mingzi']:checked").parents("tr");
		var data=$("#mingzibiaoshangwu").DataTable().row(tr).data();
		var a=data.uName;
		//console.log(data);
		$("#shangwu").val(a);
		$("#shangwu").attr('data-id',data.userId);
		//console.log($("#shangwu").attr('data-id'));
		$("#people1").modal("hide");
	})
	$("#bumenbaojia").change(function(){
		$('#people2').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#bumenbaojia").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#mingzibiaobaojia').dataTable().fnClearTable();
                $('#mingzibiaobaojia').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//添加人员到input框
	$("#querenbaojia").click(function(){
		var tr=$("input[name='mingzi2']:checked").parents("tr");
		var data=$("#mingzibiaobaojia").DataTable().row(tr).data();
		var a=data.uName;
		
		$("#baojia").val(a);
		$("#baojia").attr('data-id2',data.userId);
		$("#people2").modal("hide");
	})
	$("#bumenzerenren").change(function(){
		$('#people3').on('hidden.bs.modal', function () {//解决模态框页面滚动问题
            if ($('.modal.in').size() >= 1) {
                $('body').addClass('modal-open')
            }
        })
		var bumen=$("#bumenzerenren").val();
		
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataTyepe:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
				$('#mingzibiaozerenren').dataTable().fnClearTable();
                $('#mingzibiaozerenren').DataTable().rows.add(json).draw(false);
			}
		})
	})
	//添加人员到input框
	$("#querenzerenren").click(function(){
		var tr=$("input[name='mingzi3']:checked").parents("tr");
		var data=$("#mingzibiaozerenren").DataTable().row(tr).data();
		var a=data.uName;
		
		$("#zerenren").val(a);
		$("#zerenren").attr('data-id3',data.userId);
		$("#people3").modal("hide");
	})
	
	
	function changeData(){
		$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/OpeningRecord/addOpeningRecord',
	        dataType: 'json',
	        data:{
	        	id:id
	        },
	        success: function (json) {
	        	
	        }
	    });
	}

    function saveFlow2(){
    	
    	var fileLevel = $("input[name='fileLevel']:checked").val();
    	var fgLindao= $("#lindao").val();
    	var flowOmNo = $("#lindao option:selected").attr("data-id");
    	var businessPeople = $("#shangwu").val();
    	var bidPeople = $("#baojia").val();
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/updateFlowEdit',
	        dataType: 'text',
	        async:false,
	        data:{
	        	baId:id,
	        	fileLevel:fileLevel,
	        	nextDepartment:flowOmNo,
	        	businessPeople:businessPeople,
	        	bidPeople:bidPeople,
	        	fgLindao:fgLindao
	        },
	        success: function (json) {
	        	return json;
	        }
	    });
    	
    	businessPeopleId =$("#shangwu").attr("data-id");
    	businessPeopleIdName = businessPeople;
    	bidPeopleId = $("#baojia").attr("data-id2");
    	bidPeopleName = bidPeople;
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/insertChaoSong',
	        dataType: 'text',
	        async:false,
	        data:{
	        	id:id,
	        	businessPeopleId:businessPeopleId,
	        	businessPeopleIdName:businessPeopleIdName,
	        	bidPeopleId:bidPeopleId,
	        	bidPeopleName:bidPeopleName
	        },
	        success: function (json) {
	        	return json;
	        }
	    });
    }
    
    function saveFlow3(){
    	var nextDepartment = $("#toubiaobumen option:selected").attr("data-no");
    	var tbDepartId = $("#toubiaobumen").val();
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/updateFlowEdit',
	        dataType: 'text',
	        async:false,
	        data:{
	        	baId:id,
	        	nextDepartment:nextDepartment,
	        	xbDepartment:tbDepartId
	        },
	        success: function (json) {
	        	return json;
	        }
	    });
    	var businessPeople = $("#shangwu").val();
    	var bidPeople = $("#baojia").val();
    	businessPeopleId =$("#shangwu").attr("data-id");
    	businessPeopleIdName = businessPeople;
    	bidPeopleId = $("#baojia").attr("data-id2");
    	bidPeopleName = bidPeople;
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/insertChaoSong',
	        dataType: 'text',
	        async:false,
	        data:{
	        	id:id,
	        	businessPeopleId:businessPeopleId,
	        	businessPeopleIdName:businessPeopleIdName,
	        	bidPeopleId:bidPeopleId,
	        	bidPeopleName:bidPeopleName
	        },
	        success: function (json) {
	        }
	    });
    }
    
    function saveFlow4(){
    	var tbPeople = $("#zerenren").attr("data-id3");
    	var tbPeopleName = $("#zerenren").val();
    	var result={};
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/updateFlowEdit',
	        dataType: 'text',
	        async:false,
	        data:{
	        	baId:id,
	        	tbPeople:tbPeople
	        },
	        success: function (json) {
	        	
	        	result.rel = json;
	        	result.uId = $("#zerenren").attr("data-id3");
	        	result.uName = $("#zerenren").val();
	        }
	    });
    	
    	$.ajax({
	        type: 'POST',
	        url: getContextPath()+'/BidApproval/insertChaoSongTb',
	        dataType: 'text',
	        async:false,
	        data:{
	        	id:id,
	        	tbPeople:tbPeople,
	        	tbPeopleName:tbPeopleName
	        },
	        success: function (json) {
	        }
	    });
    	return result;
    }
    //修改对应步骤的下一步抽象部门具体部门编号
    function updateFkDept2(page_cNodeId){
    	var pcid = page_cNodeId;
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/updateFlowFkDept',
            async:false,
            data:{
            	cFlowId:page_cNodeId,
            	fkdept:$("#lindao option:selected").attr("data-id")
            },
            dataType: 'text',
            success: function (json) {
            	return json;
            }
        });
    }
    //修改对应步骤的下一步抽象部门具体部门编号
    function updateFkDept3(page_cNodeId){
    	var pcid = page_cNodeId;
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/task/updateFlowFkDept',
            async:false,
            data:{
            	cFlowId:page_cNodeId,
            	fkdept:$("#toubiaobumen option:selected").attr("data-no")
            },
            dataType: 'text',
            success: function (json) {
            }
        });
    }
</script>
</html>