<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../../css/zTreeStyle.css" /> 
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">权限管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                
            </div>

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <!-- <div class="modal-body" style="display:flex;justify-content: space-around;" >
               <div class="f-tree"></div>
               <div class="f-tree2"></div>
        </div>  -->
        <div class="zTreeDemoBackground left">
        	<ul id="checkboxTree" class="ztree"></ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="savePermissions()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>档案号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系电话</th>
                        <th>职务</th>
                        <th>所属公司部门</th>
                        <!-- <th>拥有权限</th> -->
                        <th style="width:50px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
        </div>
    </div>
   <!-- 查看权限信息 -->
   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="permissions">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看用户权限</b></h4>
        </div>
        <div class="modal-body">
            <div>
                <form class="form-inline">
                    <div class="yihang3" style="display:flex;flex-wrap:wrap;" id="permissionsDiv" >
                    </div>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/jquery.ztree.core.js"></script>
<script src="../../js/jquery.ztree.excheck.js"></script>
<script src="../../js/data.js"></script>
<script src="../../js/myTool.js"></script>
<script>
	$(document).ready( function () {
		initTable();
		fzTree = $.fn.zTree.init($("#checkboxTree"),setting, zNodes);
	});

	var setting = {
      	view: { selectedMulti: true , showIcon:false },
     	 check: { enable: true,  chkStyle: "checkbox" /* chkboxType :{ "Y" : "p", "N" : "s" } */ },
     	 data : { simpleData : { enable : true},
      			keep: {parent: false,leaf:false}
      	},
    	async: { enable: true},
    	callback:{
     		beforeCheck:true,
            onCheck:onCheck
     		}
     	},zTree;

	var zNodes =[
      	{id: "Pa+", pId: 0, name: "个人任务菜单栏", open:false},
		{id: "Pb+", pId: 0, name: "行政事务菜单栏", open:false},
		{id: "Pc+", pId: 0, name: "收款管理菜单栏", open:false},
		{id: "Pd+", pId: 0, name: "经营管理菜单栏", open:false},
		{id: "Pe+", pId: 0, name: "生产管理菜单栏", open:false},
		{id: "Pf+", pId: 0, name: "检测二部菜单栏", open:false},
		{id: "Pg+", pId: 0, name: "薪酬管理菜单栏", open:false},
		{id: "Ph+", pId: 0, name: "质量安全管理菜单栏", open:false},
		{id: "Pi+", pId: 0, name: "科研管理菜单栏", open:false},
		{id: "Pj+", pId: 0, name: "档案管理菜单栏", open:false},
		{id: "Pk+", pId: 0, name: "综合查询菜单栏", open:false},
		{id: "Pl+", pId: 0, name: "基础数据管理菜单栏", open:false},
		{id: "Pm+", pId: 0, name: "系统管理菜单栏", open:false},
		{id: "Paa+", pId: "Pa+", name: "待办事项菜单栏"},
		{id: "Pab+", pId: "Pa+", name: "已办事项菜单栏"},
		{id: "Pac+", pId: "Pa+", name: "业务催办菜单栏"},
		{id: "Pad+", pId: "Pa+", name: "业务办理通知菜单栏"},
		{id: "Pba+", pId: "Pb+", name: "通知公告菜单栏"},
		{id: "Pbb+", pId: "Pb+", name: "项目印章管理菜单栏"},
		{id: "Pbc+", pId: "Pb+", name: "成果文件用印管理菜单栏"},
		{id: "Pbd+", pId: "Pb+", name: "培训管理菜单栏"},
		{id: "Pca+", pId: "Pc+", name: "到账与认领菜单栏"},
		{id: "Pcb+", pId: "Pc+", name: "项目款认领菜单栏"},
		{id: "Pcc+", pId: "Pc+", name: "财务还款菜单栏"},
		{id: "Pcd+", pId: "Pc+", name: "开票申请菜单栏"},
		{id: "Pda+", pId: "Pd+", name: "项目跟踪菜单栏"},
		{id: "Pdb+", pId: "Pd+", name: "项目投标菜单栏"},
		{id: "Pdc+", pId: "Pd+", name: "经营目标管理菜单栏"},
		{id: "Pea+", pId: "Pe+", name: "任务单管理菜单栏"},
		{id:"Pebx+",pId:"Pe+",name:"预算与核算管理菜单栏"},
		{id: "Peb+", pId: "Pebx+", name: "项目预算管理菜单栏"},
		{id: "Pec+", pId: "Pe+", name: "合同管理菜单栏"},
		{id: "Ped+", pId: "Pe+", name: "材料采购管理菜单栏"},
		{id: "Pee+", pId: "Pe+", name: "进度管理菜单栏"},
		{id: "Pef+", pId: "Pe+", name: "项目成本预警菜单栏"},
		{id:"Pecgx+",pId:"Pe+",name:"现场管理菜单栏"},
		{id: "Peg+", pId: "Pehx+", name: "项目工时管理菜单栏"},
		{id: "Peh+", pId: "Pecgx+", name: "施工报表菜单栏"},
		/* {id: "Pei+", pId: "Pe+", name: "项目结算审计菜单栏"}, */
		{id: "Pfa+", pId: "Pf+", name: "检测二部新签合同额管理菜单栏"},
		{id: "Pfbx+", pId: "Pf+", name: "检测二部收入管理菜单栏"},
		{id: "Pfcx+", pId: "Pf+", name: "检测二部收款管理菜单栏"},
		{id: "Pfb+", pId: "Pfcx+", name: "检测二部财务收款菜单栏"},
		/* {id: "Pfc+", pId: "Pfcx+", name: "检测二部项目款认领菜单栏"}, */
		{id: "Pfdx+", pId: "Pf+", name: "检测二部直接成本菜单栏"},
		{id: "Pfdxa+", pId: "Pfdx+", name: "检测二部导入直接成本"},
		{id: "Pga+", pId: "Pg+", name: "职务等级体系菜单栏"},
		{id: "Pgb+", pId: "Pg+", name: "项目规模及人员要求菜单栏"},
		{id: "Pgc+", pId: "Pg+", name: "员工薪酬结构菜单栏"},
		{id: "Pgd+", pId: "Pg+", name: "年度奖金菜单栏"},
		{id: "Pha+", pId: "Ph+", name: "项目安全管理菜单栏"},
		{id: "Phb+", pId: "Ph+", name: "公司安全管理菜单栏"},
		{id: "Pia+", pId: "Pi+", name: "科研管理经营管理菜单栏"},
		{id: "Pib+", pId: "Pi+", name: "科研管理过程管理菜单栏"},
		/* {id: "Pja+", pId: "Pj+", name: "档案交接菜单栏"},
		{id: "Pjb+", pId: "Pj+", name: "经营文档资料菜单栏"},
		{id: "Pjc+", pId: "Pj+", name: "施工文档资料菜单栏"},
		{id: "Pjd+", pId: "Pj+", name: "检测评估资料菜单栏"},
		{id: "Pje+", pId: "Pj+", name: "设计文件资料菜单栏"},
		{id: "Pjf+", pId: "Pj+", name: "维修加固设计资料菜单栏"},
		{id: "Pjg+", pId: "Pj+", name: "科技文档资料菜单栏"}, */
		{id: "Pjh+", pId: "Pj+", name: "档案统计表菜单栏"},
		{id: "Pka+", pId: "Pk+", name: "公司经营情况总览菜单栏"},
		{id: "Pkb+", pId: "Pk+", name: "部门经营情况总览菜单栏"},
		{id: "Pkc+", pId: "Pk+", name: "项目综合查询菜单栏"},
		{id: "Pla+", pId: "Pl+", name: "项目类型管理菜单栏"},
		{id: "Plb+", pId: "Pl+", name: "项目规模管理菜单栏"},
		{id: "Plc+", pId: "Pl+", name: "成本科目管理菜单栏"},
		{id: "Pld+", pId: "Pl+", name: "合作伙伴管理菜单栏"},
		{id: "Ple+", pId: "Pl+", name: "采购供应商管理菜单栏"},
		{id: "Plf+", pId: "Pl+", name: "材料类型管理菜单栏"},
		{id: "Plg+", pId: "Pl+", name: "系数管理菜单栏"},
		{id: "Pma+", pId: "Pm+", name: "组织机构管理菜单栏"},
		{id: "Pmb+", pId: "Pm+", name: "职务管理菜单栏"},
		{id: "Pmc+", pId: "Pm+", name: "职务等级管理菜单栏"},
		{id: "Pmd+", pId: "Pm+", name: "人员用户管理菜单栏"},
		{id: "Pme+", pId: "Pm+", name: "角色管理菜单栏"},
		{id: "Pmf+", pId: "Pm+", name: "权限管理菜单栏"},
		{id: "Pmg+", pId: "Pm+", name: "流程管理菜单栏"},
		{id: "Pmh+", pId: "Pm+", name: "短信通知查询菜单栏"},
		{id: "Pmi+", pId: "Pm+", name: "短信通知管理菜单栏"},
		{id: "Paaa+", pId: "Paa+", name: "待办事项业务办理"},
		{id: "Paba+", pId: "Pab+", name: "已办事项查看办理业务"},
		{id: "Pabb+", pId: "Pab+", name: "已办事项删除"},
		{id: "Pabc+", pId: "Pab+", name: "已办事项撤回"},
		{id: "Paca+", pId: "Pac+", name: "业务催办通知催办"},
		{id: "Pbaa+", pId: "Pba+", name: "公司通知公告新建"},
		{id: "Pbab+", pId: "Pba+", name: "公司通知公告查看详细信息"},
		{id: "Pbac+", pId: "Pba+", name: "公司通知公告修改"},
		{id: "Pbad+", pId: "Pba+", name: "部门通知公告新建"},
		{id: "Pbae+", pId: "Pba+", name: "部门通知公告查看详细信息"},
		{id: "Pbaf+", pId: "Pba+", name: "部门通知公告修改"},
		{id: "Pbba+", pId: "Pbb+", name: "刻制申请填报"},
		{id: "Pbbb+", pId: "Pbb+", name: "刻制申请查看详细信息"},
		{id: "Pbbc+", pId: "Pbb+", name: "刻制申请修改"},
		{id: "Pbbd+", pId: "Pbb+", name: "使用管理填报"},
		{id: "Pbbe+", pId: "Pbb+", name: "使用管理查看详细信息"},
		{id: "Pbbf+", pId: "Pbb+", name: "使用管理修改"},
		{id: "Pbca+", pId: "Pbc+", name: "成果文件用印填报"},
		{id: "Pbcb+", pId: "Pbc+", name: "成果文件用印查看详细信息"},
		{id: "Pbcc+", pId: "Pbc+", name: "成果文件用印修改"},
		{id: "Pbda+", pId: "Pbd+", name: "外出培训申请菜单栏"},
		{id: "Pbdb+", pId: "Pbd+", name: "外部培训申请菜单栏"},
		{id: "Pbdc+", pId: "Pbd+", name: "内部培训申请菜单栏"},
		{id: "Pbdd+", pId: "Pbd+", name: "培训资料管理菜单栏"},
		{id:"Pcaa+",pId:"Pca+",name:"新建到账记录"},
		{id:"Pcab+",pId:"Pca+",name:"导入到账记录"},
		{id:"Pcac+",pId:"Pca+",name:"收款认领"},
		{id:"Pcad+",pId:"Pca+",name:"修改到账记录"},
		{id:"Pcae+",pId:"Pca+",name:"删除到账记录"},
		{id:"Pcbb+",pId:"Pcb+",name:"取消认领"},
		{id:"Pcba+",pId:"Pcb+",name:"项目款未认领查看详细信息"},
		{id:"Pcca+",pId:"Pcc+",name:"财务还款新建"},
		{id:"Pccb+",pId:"Pcc+",name:"财务还款查看详细信息"},
		{id:"Pcda+",pId:"Pcd+",name:"开票申请新建"},
		{id:"Pcdb+",pId:"Pcd+",name:"开票申请查看详细信息"},
		{id:"Pcdc+",pId:"Pcd+",name:"开票申请补录发票编号"},
		{id:"Pdaa+",pId:"Pda+",name:"项目跟踪单新建"},
		{id:"Pdab+",pId:"Pda+",name:"项目跟踪单查看详细信息"},
		{id:"Pdac+",pId:"Pda+",name:"项目跟踪单修改"},
		{id:"Pdad+",pId:"Pda+",name:"项目跟踪日志新建"},
		{id:"Pdae+",pId:"Pda+",name:"项目跟踪日志查看详细信息"},
		{id:"Pdaf+",pId:"Pda+",name:"项目跟踪日志修改"},
		{id:"Pdba+",pId:"Pdb+",name:"投标审批单菜单栏"},
		{id:"Pdbb+",pId:"Pdb+",name:"项目风险评估菜单栏"},
		{id:"Pdbc+",pId:"Pdb+",name:"开标记录菜单栏"},
		{id:"Pdbd+",pId:"Pdb+",name:"中标项目移交菜单栏"},
		{id:"Pdbe+",pId:"Pdb+",name:"投标项目列表菜单栏"},
		{id:"Pdca+",pId:"Pdc+",name:"经营目标管理新建"},
		{id:"Pdcb+",pId:"Pdc+",name:"经营目标管理导入开票记录"},
		{id:"Pdcc+",pId:"Pdc+",name:"经营目标管理查看详细信息"},
		{id:"Pdcd+",pId:"Pdc+",name:"经营目标管理修改"},
		{id:"Pdce+",pId:"Pdc+",name:"经营目标管理拆解公司指标"},
		{id:"Peaa+",pId:"Pea+",name:"任务单管理填报"},
		{id:"Peab+",pId:"Pea+",name:"任务单管理查看详细信息"},
		{id:"Peac+",pId:"Pea+",name:"任务单管理修改"},
		{id:"Pead+",pId:"Pea+",name:"任务单管理项目中止"},
		{id:"Peae+",pId:"Pea+",name:"任务单管理项目重启"},
		{id:"Peba+",pId:"Peb+",name:"项目预算管理新建"},
		{id:"Pebb+",pId:"Peb+",name:"项目预算管理查看详细信息"},
		{id:"Pebc+",pId:"Peb+",name:"项目预算管理修改"},
		{id:"Pecax+",pId:"Pec+",name:"项目合同管理菜单栏"},
		{id:"Pecbx+",pId:"Pec+",name:"非项目合同管理菜单栏"},
		{id:"Peccx+",pId:"Pec+",name:"联营合同管理菜单栏"},
		{id:"Peca+",pId:"Pecax+",name:"承接合同管理菜单栏"},
		{id:"Pecaxa+",pId:"Peca+",name:"承接合同审签菜单栏"},
		{id:"Pecb+",pId:"Pecax+",name:"分包合同管理菜单栏"},
		{id:"Pecbxb+",pId:"Pecb+",name:"分包合同审签菜单栏"},
		{id:"Pecc+",pId:"Pecax+",name:"采购合同管理菜单栏"},
		{id:"Pecd+",pId:"Pecax+",name:"借款合同管理菜单栏"},
		{id:"Pece+",pId:"Pecbx+",name:"其他合同管理菜单栏"},
		{id:"Pecgc+",pId:"Pecb+",name:"分包合同履约菜单栏"},
		{id:"Pecf+",pId:"Pecb+",name:"分包合同付款菜单栏"},
		/* {id:"Pecg+",pId:"Pec+",name:"合同履约菜单栏"}, */
		{id:"Peda+",pId:"Ped+",name:"材料采购申请菜单栏"},
		{id:"Pedb+",pId:"Ped+",name:"公司材料管理菜单栏"},
		{id:"Pedc+",pId:"Ped+",name:"项目材料管理菜单栏"},
		{id:"Peea+",pId:"Pee+",name:"进度管理填报"},
		{id:"Peeb+",pId:"Pee+",name:"进度管理查看详细信息"},
		{id:"Pefa+",pId:"Pef+",name:"项目成本预警查看详细信息"},
		{id:"Pefb+",pId:"Pef+",name:"项目成本预警录入原因"},
		{id:"Pega+",pId:"Peg+",name:"项目工时管理填报"},
		{id:"Pegb+",pId:"Peg+",name:"项目工时管理删除"},
		{id:"Pegc+",pId:"Peg+",name:"项目工时管理查看详细信息"},
		{id:"Pegd+",pId:"Peg+",name:"项目工时管理修改 "},
		{id:"Peha+",pId:"Peh+",name:"项目施工日志菜单栏"},
		{id:"Pehb+",pId:"Peh+",name:"项目周报菜单栏"},
		{id:"Pehc+",pId:"Peh+",name:"项目月报菜单栏"},
		/* {id:"Peia+",pId:"Pei+",name:"项目结算审计填报"},
		{id:"Peib+",pId:"Pei+",name:"项目结算审计查看详细信息"}, */
		{id:"Pfaa+",pId:"Pfa+",name:"检测二部新签合同额管理导入新签合同"},
		/* {id:"Pfab+",pId:"Pfa+",name:"检测二部新签合同额管理导入上月合同"}, */
		{id:"Pfac+",pId:"Pfa+",name:"检测二部新签合同额管理查看详细信息"},
		{id:"Pfad+",pId:"Pfa+",name:"检测二部新签合同额管理删除"},
		{id:"Pfba+",pId:"Pfb+",name:"检测二部财务收款导入收款项目"},
		{id:"Pfbb+",pId:"Pfb+",name:"检测二部财务收款查看详细信息"},
		/* {id:"Pfca+",pId:"Pfc+",name:"检测二部项目款已认领查看详细信息"},
		{id:"Pfcb+",pId:"Pfc+",name:"检测二部项目款未认领查看详细信息"}, */
		/*{id:"Pjaa+",pId:"Pja+",name:"档案交接接收人签字"},
		{id:"Pjab+",pId:"Pja+",name:"档案交接查看详细信息"},
		{id:"Pjba+",pId:"Pjb+",name:"经营文档资料删除"},
		{id:"Pjbb+",pId:"Pjb+",name:"经营文档资料查看详细信息"},
		{id:"Pjbc+",pId:"Pjb+",name:"经营文档资料修改"},
		{id:"Pjca+",pId:"Pjc+",name:"施工文档资料删除"},
		{id:"Pjcb+",pId:"Pjc+",name:"施工文档资料查看详细信息"},
		{id:"Pjcc+",pId:"Pjc+",name:"施工文档资料修改"},
		{id:"Pjda+",pId:"Pjd+",name:"检测评估资料删除"},
		{id:"Pjdb+",pId:"Pjd+",name:"检测评估资料查看详细信息"},
		{id:"Pjdc+",pId:"Pjd+",name:"检测评估资料修改"},
		{id:"Pjea+",pId:"Pje+",name:"设计文件资料删除"},
		{id:"Pjeb+",pId:"Pje+",name:"设计文件资料查看详细信息"},
		{id:"Pjec+",pId:"Pje+",name:"设计文件资料修改"},
		{id:"Pjfa+",pId:"Pjf+",name:"维修加固设计资料删除"},
		{id:"Pjfb+",pId:"Pjf+",name:"维修加固设计资料修改"},
		{id:"Pjfc+",pId:"Pjf+",name:"维修加固设计资料查看详细信息"},
		{id:"Pjga+",pId:"Pjg+",name:"科技文档资料删除"},
		{id:"Pjgb+",pId:"Pjg+",name:"科技文档资料查看详细信息"},
		{id:"Pjgc+",pId:"Pjg+",name:"科技文档资料修改"}, */ 
		{id:"Pjha+",pId:"Pjh+",name:"档案统计表查看详细信息"},
		{id:"Plaa+",pId:"Pla+",name:"项目类型管理新建一级类型"},
		{id:"Plab+",pId:"Pla+",name:"项目类型管理删除一级类型"},
		{id:"Plac+",pId:"Pla+",name:"项目类型管理修改一级类型"},
		{id:"Plad+",pId:"Pla+",name:"项目类型管理新建二级类型"},
		{id:"Plae+",pId:"Pla+",name:"项目类型管理删除二级类型"},
		{id:"Plaf+",pId:"Pla+",name:"项目类型管理修改二级类型"},
		{id:"Plba+",pId:"Plb+",name:"项目规模管理修改项目规模"},
		{id:"Plca+",pId:"Plc+",name:"成本科目管理新建一级科目"},
		{id:"Plcb+",pId:"Plc+",name:"成本科目管理删除一级科目"},
		{id:"Plcc+",pId:"Plc+",name:"成本科目管理修改一级科目"},
		{id:"Plcd+",pId:"Plc+",name:"成本科目管理新建二级科目"},
		{id:"Plce+",pId:"Plc+",name:"成本科目管理删除二级科目"},
		{id:"Plcf+",pId:"Plc+",name:"成本科目管理修改二级科目"},
		{id:"Plda+",pId:"Pld+",name:"合作单位管理新建"},
		{id:"Pldb+",pId:"Pld+",name:"合作单位管理导出Excel文件"},
		{id:"Pldc+",pId:"Pld+",name:"合作单位管理删除"},
		{id:"Pldd+",pId:"Pld+",name:"合作单位管理查看详细信息"},
		{id:"Plde+",pId:"Pld+",name:"合作单位管理修改"},
		{id:"Plea+",pId:"Ple+",name:"采购供应商管理新建"},
		{id:"Pleb+",pId:"Ple+",name:"采购供应商管理导出Excel文件"},
		{id:"Plec+",pId:"Ple+",name:"采购供应商管理删除"},
		{id:"Pled+",pId:"Ple+",name:"采购供应商管理查看详细信息"},
		{id:"Plee+",pId:"Ple+",name:"采购供应商管理修改"},
		{id:"Plfa+",pId:"Plf+",name:"材料类型管理新建材料类型"},
		{id:"Plfb+",pId:"Plf+",name:"材料类型管理删除材料类型"},
		{id:"Plfc+",pId:"Plf+",name:"材料类型管理修改材料类型"},
		{id:"Plga+",pId:"Plg+",name:"系数管理新建系数"},
		{id:"Plgb+",pId:"Plg+",name:"系数管理删除系数"},
		{id:"Plgc+",pId:"Plg+",name:"系数管理修改系数"},
		{id:"Pmaa+",pId:"Pma+",name:"组织机构管理新建组织机构"},
		{id:"Pmab+",pId:"Pma+",name:"组织机构管理删除组织机构"},
		{id:"Pmac+",pId:"Pma+",name:"组织机构管理修改组织机构"},
		{id:"Pmba+",pId:"Pmb+",name:"职务管理新建职务"},
		{id:"Pmbb+",pId:"Pmb+",name:"职务管理删除职务"},
		{id:"Pmbc+",pId:"Pmb+",name:"职务管理修改职务"},
		{id:"Pmca+",pId:"Pmc+",name:"职务等级管理新建职务等级"},
		{id:"Pmcb+",pId:"Pmc+",name:"职务等级管理删除职务等级"},
		{id:"Pmcc+",pId:"Pmc+",name:"职务等级管理修改职务等级"},
		{id:"Pmcd+",pId:"Pmc+",name:"职务等级管理新建岗位职务"},
		{id:"Pmce+",pId:"Pmc+",name:"职务等级管理删除岗位职务"},
		{id:"Pmcf+",pId:"Pmc+",name:"职务等级管理修改岗位职务"},
		{id:"Pmda+",pId:"Pmd+",name:"人员用户管理新建"},
		{id:"Pmdb+",pId:"Pmd+",name:"人员用户管理删除"},
		{id:"Pmdc+",pId:"Pmd+",name:"人员用户管理修改"},
		{id:"Pmdd+",pId:"Pmd+",name:"人员用户管理查看详细信息"},
		{id:"Pmea+",pId:"Pme+",name:"角色管理分配角色"},
		{id:"Pmeb+",pId:"Pme+",name:"角色管理新建角色"},
		{id:"Pmfa+",pId:"Pmf+",name:"权限管理修改"},
		{id:"Pmga+",pId:"Pmg+",name:"流程管理新建流程管理"},
		{id:"Pmgb+",pId:"Pmg+",name:"流程管理修改流程"},
		{id:"Pmgc+",pId:"Pmg+",name:"流程管理删除流程"},
		{id:"Pmgd+",pId:"Pmg+",name:"流程管理新建步骤"},
		{id:"Pmge+",pId:"Pmg+",name:"流程管理修改步骤"},
		{id:"Pmgf+",pId:"Pmg+",name:"流程管理删除步骤"},
		{id:"Pmha+",pId:"Pmh+",name:"短信通知查询重发短信通知"},
		{id:"Pmia+",pId:"Pmi+",name:"短信通知管理确定通知"},
		{id:"Pbdaa+",pId:"Pbda+",name:"外出培训申请填报"},
		{id:"Pbdab+",pId:"Pbda+",name:"外出培训申请查看详细信息"},
		{id:"Pbdac+",pId:"Pbda+",name:"外出培训申请修改"},
		{id:"Pbdba+",pId:"Pbdb+",name:"外部培训申请填报"},
		{id:"Pbdbb+",pId:"Pbdb+",name:"外部培训申请查看详细信息"},
		{id:"Pbdbc+",pId:"Pbdb+",name:"外部培训申请修改"},
		{id:"Pbdca+",pId:"Pbdc+",name:"内部培训申请填报"},
		{id:"Pbdcb+",pId:"Pbdc+",name:"内部培训申请查看详细信息"},
		{id:"Pbdcc+",pId:"Pbdc+",name:"内部培训申请修改"},
		{id:"Pbdda+",pId:"Pbdd+",name:"培训资料管理填报"},
		{id:"Pbddb+",pId:"Pbdd+",name:"培训资料管理查看详细信息"},
		{id:"Pbddc+",pId:"Pbdd+",name:"培训资料管理修改"},
		{id:"Pdbaa+",pId:"Pdba+",name:"投标审批单新建"},
		{id:"Pdbab+",pId:"Pdba+",name:"投标审批单查看详细信息"},
		{id:"Pdbac+",pId:"Pdba+",name:"投标审批单修改"},
		{id:"Pdbad+",pId:"Pdba+",name:"投标审批单删除"},
		{id:"Pdbba+",pId:"Pdbb+",name:"项目风险评估新建"},
		{id:"Pdbbb+",pId:"Pdbb+",name:"项目风险评估查看详细信息"},
		{id:"Pdbbc+",pId:"Pdbb+",name:"项目风险评估修改"},
		{id:"Pdbca+",pId:"Pdbc+",name:"开标记录新建"},
		{id:"Pdbcb+",pId:"Pdbc+",name:"开标记录查看详细信息"},
		{id:"Pdbcc+",pId:"Pdbc+",name:"开标记录修改"},
		{id:"Pdbda+",pId:"Pdbd+",name:"中标项目移交新建"},
		{id:"Pdbdb+",pId:"Pdbd+",name:"中标项目移交查看详细信息"},
		{id:"Pdbdc+",pId:"Pdbd+",name:"中标项目移交修改"},
		{id:"Pdbea+",pId:"Pdbe+",name:"投标项目列表新建"},
		{id:"Pdbeb+",pId:"Pdbe+",name:"投标项目列表导出excel文件"},
		{id:"Pdbec+",pId:"Pdbe+",name:"投标项目列表查看详细信息"},
		{id:"Pdbed+",pId:"Pdbe+",name:"投标项目列表修改"},
		{id:"Pdbee+",pId:"Pdbe+",name:"投标项目列表删除"},
		{id:"Pecaa+",pId:"Pecaxa+",name:"承接合同管理填报"},
		{id:"Pecab+",pId:"Pecaxa+",name:"承接合同管理查看详细信息"},
		{id:"Pecac+",pId:"Pecaxa+",name:"承接合同管理合同变更"},
		{id:"Pecad+",pId:"Pecaxa+",name:"承接合同管理合同取消"},
		{id:"Pecae+",pId:"Pecaxa+",name:"承接合同管理查看取消原因"},
		{id:"Pecaf+",pId:"Pecaxa+",name:"承接合同管理合同重启"},
		{id:"Pecba+",pId:"Pecbxb+",name:"分包合同管理填报"},
		{id:"Pecbb+",pId:"Pecbxb+",name:"分包合同管理查看详细信息"},
		{id:"Pecbc+",pId:"Pecbxb+",name:"分包合同管理合同变更"},
		{id:"Pecbd+",pId:"Pecbxb+",name:"分包合同管理合同取消"},
		{id:"Pecbe+",pId:"Pecbxb+",name:"分包合同管理查看合同取消原因"},
		{id:"Pecbf+",pId:"Pecbxb+",name:"分包合同管理合同重启"},
		{id:"Peccxc+",pId:"Pecc+",name:"采购合同审签菜单栏"},
		{id:"Pecca+",pId:"Peccxc+",name:"采购合同管理填报"},
		{id:"Peccb+",pId:"Peccxc+",name:"采购合同管理查看详细信息"},
		{id:"Peccc+",pId:"Peccxc+",name:"采购合同管理合同变更"},
		{id:"Peccd+",pId:"Peccxc+",name:"采购合同管理合同取消"},
		{id:"Pecce+",pId:"Peccxc+",name:"采购合同管理查看合同取消原因"},
		{id:"Peccf+",pId:"Peccxc+",name:"采购合同管理合同重启"},
		{id:"Pecda+",pId:"Pecd+",name:"借款合同管理填报"},
		{id:"Pecdb+",pId:"Pecd+",name:"借款合同管理查看详细信息"},
		{id:"Pecdc+",pId:"Pecd+",name:"借款合同管理合同变更"},
		{id:"Pecdd+",pId:"Pecd+",name:"借款合同管理合同取消"},
		{id:"Pecde+",pId:"Pecd+",name:"借款合同管理查看合同取消原因"},
		{id:"Pecdf+",pId:"Pecd+",name:"借款合同管理合同重启"},
		{id:"Pecea+",pId:"Pece+",name:"其他合同管理填报"},
		{id:"Peceb+",pId:"Pece+",name:"其他合同管理查看详细信息"},
		{id:"Pecec+",pId:"Pece+",name:"其他合同管理合同变更"},
		{id:"Peced+",pId:"Pece+",name:"其他合同管理合同取消"},
		{id:"Pecee+",pId:"Pece+",name:"其他合同管理查看合同取消原因"},
		{id:"Pecef+",pId:"Pece+",name:"其他合同管理合同重启"},
		{id:"Pecfa+",pId:"Pecf+",name:"分包合同付款填报"},
		{id:"Pecfb+",pId:"Pecf+",name:"分包合同付款查看详细信息"},
		{id:"Pecfc+",pId:"Pecf+",name:"分包合同付款合同变更"},
		{id:"Pecga+",pId:"Peca+",name:"承接合同履约菜单栏"},
		{id:"Pecgb+",pId:"Pecc+",name:"采购合同履约菜单栏"},
		{id:"Pedaa+",pId:"Peda+",name:"材料采购申请填报"},
		{id:"Pedab+",pId:"Peda+",name:"材料采购申请查看详细信息"},
		{id:"Pedba+",pId:"Pedb+",name:"公司材料管理材料入库菜单栏"},
		{id:"Pedbb+",pId:"Pedb+",name:"公司材料管理材料出库菜单栏"},
		{id:"Pedbc+",pId:"Pedb+",name:"公司材料管理结余管理菜单栏"},
		{id:"Pedbd+",pId:"Pedb+",name:"公司材料管理废旧品处理菜单栏"},
		{id:"Pedbe+",pId:"Pedb+",name:"公司材料管理统计花销费用菜单栏"},
		{id:"Pedbf+",pId:"Pedb+",name:"公司材料管理退货菜单栏"},
		{id:"Pedca+",pId:"Pedc+",name:"项目材料管理材料入库菜单栏"},
		{id:"Pedcb+",pId:"Pedc+",name:"项目材料管理材料出库菜单栏"},
		{id:"Pedcc+",pId:"Pedc+",name:"项目材料管理结余管理菜单栏"},
		{id:"Pedcd+",pId:"Pedc+",name:"项目材料管理废旧品处理菜单栏"},
		{id:"Pehaa+",pId:"Peha+",name:"项目施工日志填报"},
		{id:"Pehab+",pId:"Peha+",name:"项目施工日志删除"},
		{id:"Pehac+",pId:"Peha+",name:"项目施工日志修改"},
		{id:"Pehad+",pId:"Peha+",name:"项目施工日志查看详细信息"},
		{id:"Pehba+",pId:"Pehb+",name:"项目周报填报"},
		{id:"Pehbb+",pId:"Pehb+",name:"项目周报删除"},
		{id:"Pehbc+",pId:"Pehb+",name:"项目周报查看详细信息"},
		{id:"Pehbd+",pId:"Pehb+",name:"项目周报修改"},
		{id:"Pehca+",pId:"Pehc+",name:"项目月报填报"},
		{id:"Pehcb+",pId:"Pehc+",name:"项目月报删除"},
		{id:"Pehcc+",pId:"Pehc+",name:"项目月报查看详细信息"},
		{id:"Pehcd+",pId:"Pehc+",name:"项目月报修改"},
		{id:"Pecgaa+",pId:"Pecga+",name:"承接合同履约合同交工履约申请填报"},
		{id:"Pecgab+",pId:"Pecga+",name:"承接合同履约合同交工履约申请查看详细信息"},
		{id:"Pecgac+",pId:"Pecga+",name:"承接合同履约合同竣工履约申请填报"},
		{id:"Pecgad+",pId:"Pecga+",name:"承接合同履约合同竣工履约申请查看详细信息"},
		{id:"Pecgba+",pId:"Pecgb+",name:"采购合同履约履约评价填报"},
		{id:"Pecgbb+",pId:"Pecgb+",name:"采购合同履约履约评价查看详细信息"},
		{id:"Pecgbc+",pId:"Pecgb+",name:"采购合同履约履约评价修改"},
		{id:"Pecgbd+",pId:"Pecgb+",name:"采购合同履约采购结算申请填报"},
		{id:"Pecgbe+",pId:"Pecgb+",name:"采购合同履约采购结算申请查看详细信息"},
		{id:"Pecgbf+",pId:"Pecgb+",name:"采购合同履约采购结算申请修改"},
		{id:"Pecgbg+",pId:"Pecgb+",name:"采购合同履约采购合同履约填报"},
		{id:"Pecgbh+",pId:"Pecgb+",name:"采购合同履约采购合同履约导出打印"},
		{id:"Pecgbi+",pId:"Pecgb+",name:"采购合同履约采购合同履约查看详细信息"},
		{id:"Pecgbj+",pId:"Pecgb+",name:"采购合同履约采购合同履约修改"},
		{id:"Pecgca+",pId:"Pecgc+",name:"分包合同履约评价填报"},
		{id:"Pecgcb+",pId:"Pecgc+",name:"分包合同履约评价查看详细信息"},
		{id:"Pecgcc+",pId:"Pecgc+",name:"分包合同结算申请填报"},
		{id:"Pecgcd+",pId:"Pecgc+",name:"分包合同结算申请查看详细信息"},
		{id:"Pecgce+",pId:"Pecgc+",name:"分包合同履约填报"},
		{id:"Pecgcf+",pId:"Pecgc+",name:"分包合同履约导出打印"},
		{id:"Pecgcg+",pId:"Pecgc+",name:"分包合同履约查看详细信息"},
		{id:"Pedbaa+",pId:"Pedba+",name:"公司材料管理材料入库填报"},
		{id:"Pedbab+",pId:"Pedba+",name:"公司材料管理材料入库查看详细信息"},
		{id:"Pedbba+",pId:"Pedbb+",name:"公司材料管理材料出库填报"},
		{id:"Pedbbb+",pId:"Pedbb+",name:"公司材料管理材料出库查看详细信息"},
		{id:"Pedbca+",pId:"Pedbc+",name:"公司材料管理结余管理查看详细信息"},
		{id:"Pedbcb+",pId:"Pedbc+",name:"公司材料管理结余管理结余转出"},
		{id:"Pedbda+",pId:"Pedbd+",name:"公司材料管理废旧品处理填报"},
		{id:"Pedbdb+",pId:"Pedbd+",name:"公司材料管理废旧品处理查看详细信息"},
		{id:"Pedbfa+",pId:"Pedbf+",name:"公司材料管理退货填报"},
		{id:"Pedbfb+",pId:"Pedbf+",name:"公司材料管理退货查看详细信息"},
		{id:"Pedcaa+",pId:"Pedca+",name:"项目材料管理材料入库收货确认"},
		{id:"Pedcab+",pId:"Pedca+",name:"项目材料管理材料入库查看详细信息"},
		{id:"Pedcba+",pId:"Pedcb+",name:"项目材料管理材料出库填报"},
		{id:"Pedcbb+",pId:"Pedcb+",name:"项目材料管理材料出库查看详细信息"},
		{id:"Pedcca+",pId:"Pedcc+",name:"项目材料管理结余管理结余确认"},
		{id:"Pedccb+",pId:"Pedcc+",name:"项目材料管理结余管理结余利用"},
		{id:"Pedcda+",pId:"Pedcd+",name:"项目材料管理废旧品处理填报"},
		{id:"Pedcdb+",pId:"Pedcd+",name:"项目材料管理废旧品处理查看详细信息"},
		/* {id:"Pdd+",pId:"Pd+",name:"经营目标管理2菜单栏"}, */
		{id:"Pbag+",pId:"Pba+",name:"公司通知公告删除"},
		{id:"Pbah+",pId:"Pba+",name:"部门通知公告删除"},
		{id:"Pde+",pId:"Pd+",name:"直接和间接成本菜单栏"},
		{id:"Pdea+",pId:"Pde+",name:"导入成本"},
		{id:"Pebxb+",pId:"Pebx+",name:"项目核算管理菜单栏"},
		{id:"Pebxba+",pId:"Pebxb+",name:"填报项目核算"},
		{id:"Pebxbb+",pId:"Pebxb+",name:"查看项目核算详细信息"},
		{id:"Peccxa+",pId:"Peccx+",name:"联营合同审签菜单栏"},
		{id:"Peccxaa+",pId:"Peccxa+",name:"填报联营合同审签"},
		{id:"Peccxab+",pId:"Peccxa+",name:"查看联营合同审签"},
		{id:"Peccxb+",pId:"Peccx+",name:"联营项目核算菜单栏"},
		{id:"Peccxba+",pId:"Peccxb+",name:"填报联营项目核算"},
		{id:"Pfbxa+",pId:"Pfbx+",name:"检测二部导入上月收入"},
		{id:"Pfbxb+",pId:"Pfbx+",name:"检测二部删除上月收入"},
		{id:"Phax+",pId:"Ph+",name:"项目报表菜单栏"},
		{id:"Pkd+",pId:"Pk+",name:"统计分析查询菜单栏"},
		{id:"Pmex+",pId:"Pm+",name:"工作移交菜单栏"},
		{id:"Pmexa+",pId:"Pmex+",name:"新建工作移交"},
		{id:"Pmexb+",pId:"Pmex+",name:"修改工作移交"},
		{id:"Pmexc+",pId:"Pmex+",name:"删除工作移交"},
		{id:"Pmj+",pId:"Pm+",name:"分公司管理菜单栏"},
		{id:"Pmja+",pId:"Pmj+",name:"新建分公司管理"},
		{id:"Pmjb+",pId:"Pmj+",name:"修改分公司管理"},
		{id:"Pmjc+",pId:"Pmj+",name:"删除分公司管理"},
		{id:"Peaf+",pId:"Pea+",name:"任务单管理部门统计"},
		{id:"Peag+",pId:"Pea+",name:"任务单拆分"},
		{id:"Pehx+",pId:"Pe+",name:"工时管理菜单栏"},
		{id:"Pehxb+",pId:"Pehx+",name:"项目非工时管理菜单栏"},
		{id:"Pehxba+",pId:"Pehxb+",name:"项目非工时管理填报"},
		{id:"Pehxbb+",pId:"Pehxb+",name:"项目非工时管理删除"},
		{id:"Pehxbd+",pId:"Pehxb+",name:"项目非工时管理修改"},
		{id:"Pehxbc+",pId:"Pehxb+",name:"项目非工时管理查看详细信息"},
		{id:"Pjax+",pId:"Pj+",name:"项目档案管理菜单栏"},
		{id:"Pjaxa+",pId:"Pjax+",name:"项目档案新增归档"},
		{id:"Pjaxb+",pId:"Pjax+",name:"项目档案归档提交"},
		{id:"Pjcx+",pId:"Pj+",name:"其他文件资料管理菜单栏"},
		{id:"Pjcxa+",pId:"Pjcx+",name:"其他文件资料管理新增文件资料"},
		{id:"Pjcxb+",pId:"Pjcx+",name:"其他文件资料管理下载"},
		{id:"Pjcxc+",pId:"Pjcx+",name:"其他文件资料管理删除"},
     ]; 

    
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "workId"},
            { "data": "recordNo"}, 
            { "data": "uName"}, 
            { "data": "sex"}, 
            { "data": "phoneNo"}, 
            { "data": "dutyName2"}, 
            { "data": "omName"}, 
            { "data": null}, 
            //{ "data": null},
        ],
        "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 7,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return ' <i class="iconfont icon-xiugai Pmfa" style="font-size:18px;cursor:pointer;display:none;" title="修改权限" onclick="checkpermissions(this)" data-toggle="modal" data-target="#change" id="Changedanwei"></i>'
								        }
								  }/* ,
								  {	
										 "class": "tcenter",
										    "targets": 7,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看权限" data-toggle="modal"  onclick="lookpermissions(this)" ></i>'
										        }
										  } */
						],
						"fnDrawCallback" : function() {
							$.ajax({
		                		type:"post",
		                		url:getContextPath()+"/login/getUser",
		                		async:false,
		                		data:{
		                		},
		                		success:function(json){
		                			
		                			if(json!=null &&json!=""){
		                				var arr = json.uPermissions.split(',');
		                				
		                				for(var i=0;i<arr.length;i++){
		                					var arr2 = arr[i].replace("+","");
		                					//console.log(arr2);
		                					if(arr[i].indexOf("Pmfa") >= 0 ){
		                						$(".Pmfa").show();
		                					}
		                				}
		                				
		                			}
		                			
		                		}
		                	});
							
						},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectAllUser',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					//console.log(arr2);
            					if(arr[i].indexOf("Pmfa") >= 0 ){
            						$(".Pmfa").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
                
            }
        });
    }

		
	//查看权限
	function lookpermissions(obj){
		showMask();
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		//console.log(data.uPermissions)
		var ups=data.uPermissions;
		$("#permissionsDiv").empty();
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/permissions/getNameByPermissions',
            dataType: 'json',
            data: {
            	uPermissions:ups
            },
            success: function (json) {
                var roleidArray = new Array();
				if(json.length!=0){
					for(i = 0; i < json.length; i++) {
		                $("#permissionsDiv").append(
		                		"<p style='width:220px'>"+json[i].name+"</p>"
		                		)
					}
				}else{
					$("#permissionsDiv").append(
	                		"<p>无任何权限</p>"
	                		)
				}
				hidMask();
            	$("#permissions").modal("show");
            }
        });
	}
    
	
	//修改权限
	var userId;
	//var zNodes=[]
	function checkpermissions(obj){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		userId=data.userId;
		var uPermissions=data.uPermissions;
		var zTree = $.fn.zTree.getZTreeObj("checkboxTree");//treeDemo界面中加载ztree的div
		zTree.cancelSelectedNode();//先取消所有的选中状态
		if(uPermissions!=null&&uPermissions!=''){
			var arr=uPermissions.split(',');
			for(var i=0;i<arr.length;i++){
				zTree.checkAllNodes(false);
				var id = arr[i]; 
				var node = zTree.getNodeByParam("id",id);
				if(node!=null){
					zTree.checkNode(node,false);//将指定ID的节点取消选中
				}
			}
			for(var i=0;i<arr.length;i++){
				var id = arr[i]; 
				var node = zTree.getNodeByParam("id",id);
				if(node!=null){
					zTree.checkNode(node,true);//将指定ID的节点选中
				}
				//zTree.expandNode(node, true, false);//将指定ID节点展开
				
			} 
			
		}else{
			zTree.checkAllNodes(false);
		}
	}  
	
	var permissions;
	function onCheck(e,treeId,treeNode){
	    var treeObj=$.fn.zTree.getZTreeObj("checkboxTree"),
	    nodes=treeObj.getCheckedNodes(true),
	    v="";
	    var arr = [];
	    for(var i=0;i<nodes.length;i++){
		    v+=nodes[i].name + ",";
		    arr[i]=nodes[i].id;
	    	//console.log("节点id:"+nodes[i].id+"节点名称"+v); //获取选中节点的值
	    }
	    permissions = arr.join(',');
	    //console.log(permissions)
	}
	//修改保存
	function savePermissions(){
	  	  $.ajax({
	          type: 'POST',
	          url: getContextPath()+'/permissions/updatePermissionsSave',
	          dataType: 'json',
	          data: {
	        	  uId:userId,
	        	  uPermissions:permissions
	          },
	          success: function (json) {
	        	  if(json>0){
		        	  toastr.success("修改成功");
		        	  $("#change").modal("hide")
		        	  initTable();
	        	  }else{
	        		  toastr.error("修改失败")
	        	  }
	          }
	      });
	}

	function showMask() {
    	myTool.mask.show('查询中...');
	 }
	function hidMask() {
	 	myTool.mask.hide();
	 }
	
	
	 /* var arr1 = json.list1;
   	var pId1=[];
    if(arr1!=null&&arr1.length>0){
        for(var i in arr1){
        	pId1[i]=arr1[i].coding;
        	var a  = {};
    		a.id=arr1[i].coding;
    		a.pId = 0;
    		a.name=arr1[i].name;
    		a.open=false
    		zNodes.push(a);
        }
    }
    var arr2 = json.list2;
		var pId2=[];
    for(var j in pId1){
    	if(arr2!=null&&arr2.length>0){
    		for(var k in arr2){
    			if(arr2[k].coding.substr(0,2)==pId1[j].substr(0,2)){
    				pId2[k]=arr2[k].coding;
                	var b  = {};
            		b.id=arr2[k].coding;
            		b.pId = pId1[j];
            		b.name=arr2[k].name;
            		zNodes.push(b);
            		
    			}
    		}
    	}
    }
    var arr3 = json.list3;
		var pId3=[];
	for(var n in pId2){
        	if(arr3!=null&&arr3.length>0){
        		for(var m in arr3){
        			var cal=arr3[m].coding;
        			if(cal.substr(0,3)==pId2[n].substr(0,3)){
            			pId3[m]=arr3[m].coding;
	                	var c  = {};
                		c.id=arr3[m].coding;
                		c.pId = pId2[n];
                		c.name=arr3[m].name;
                		zNodes.push(c);
        			}
        		}
        		
        	}
		}
	var arr4 = json.list4;
		var pId4=[];
	for(var ii in pId3){
		if(arr4!=null&&arr4.length>0){
   		for(var jj in arr4){
   			var val=arr4[jj].coding
   			if(val.substr(0,4)==pId3[ii].substr(0,4)){
        			pId4[jj]=arr4[jj].coding;
                	var d = {};
            		d.id=arr4[jj].coding;
            		d.pId = pId3[ii];
            		d.name=arr4[jj].name;
            		zNodes.push(d);
            		
   			}
   		}
   	}
	}
	var arr5 = json.list5;
	var pId5=[];
	for(var mm in pId4){
   		if(arr5!=null&&arr5.length>0){
       		for(var nn in arr5){
       			if(arr5[nn].coding.substr(0,5)==pId4[mm].substr(0,5)){
            			pId5[nn]=arr5[nn].coding;
	                	var e = {};
                		e.id=arr5[nn].coding;
                		e.pId = pId4[mm];
                		e.name=arr5[nn].name;
                		zNodes.push(e);
                		
       			}
       		}
       	} 
	} 
   	console.log(zNodes) */
	
</script>
</html>