<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
     <link rel="stylesheet" href="../../style/bootstrap-treeview.css" /> 
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../js/ace-skins.min.css" />
	<link rel="stylesheet" href="../../js/ace-rtl.min.css" />
	<link rel="stylesheet" href="../../js/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<link rel="stylesheet" href="../../font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../css/css.css" /> 
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">权限管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                
            </div>

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
               <div class="f-tree"></div>
        </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="savePermissions()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>档案号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系电话</th>
                        <th>岗位职务</th>
                        <th>所属公司部门</th>
                        <th>拥有权限</th>
                        <th style="width:50px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
        </div>
    </div>
   <!-- 查看权限信息 -->
   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="permissions">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看用户权限</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" id="permissions">
                        <thead>
                        	<tr>
                        		<th>权限名</th>
                        	</tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-treeview.js" ></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/tree.min.js"></script>
<script src="../../js/ace-elements.min.js"></script>
<script src="../../js/ace.min.js"></script>
<script src="../../js/ace-extra.min.js"></script>
<script type="text/javascript" src="../../js/config.js" ></script>
<script type="text/javascript" src="../../js/data.js" ></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "workId"},
            { "data": "recordNo"}, 
            { "data": "uName"}, 
            { "data": "sex"}, 
            { "data": "phoneNo"}, 
            { "data": "dutyName"}, 
            { "data": "omName"}, 
            { "data": null}, 
            { "data": null},
        ],
        "columnDefs": [
						{	
								 "class": "tcenter",
								    "targets": 8,
								    "searchable": true,
								    "render": function(data, type, full) {
								  	  		return ' <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改权限" onclick="checkpermissions(this)" data-toggle="modal" data-target="#change" id="Changedanwei"></i>'
								        }
								  },
								  {	
										 "class": "tcenter",
										    "targets": 7,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看权限" data-toggle="modal" data-target="#permissions" onclick="lookpermissions(this)" ></i>'
										        }
										  }
						],
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectAllUser',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }

		
	//查看权限
	function lookpermissions(obj){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		//console.log(data.uPermissions)
		var ups=data.uPermissions;
		$("#permissions tbody").empty();
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/permissions/getNameByPermissions',
            dataType: 'json',
            data: {
            	uPermissions:ups
            },
            success: function (json) {
                var roleidArray = new Array();
				for(i = 0; i < json.length; i++) {
				  roleidArray[i]=json[i].name;
				}
				roleidArray = roleidArray.join("  ,  ");
				
				if(json.length!=0){
	                $("#permissions tbody").append("<tr>"
	                		+"<td>"+roleidArray+"</td>"
	                		+"</tr>")
				}else{
					$("#permissions tbody").append("<tr>"
	                		+"<td>无任何权限</td>"
	                		+"</tr>")
				}
            }
        });
	}
    
	
	//修改权限
	var userId;
	function checkpermissions(obj){
		var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
		userId=data.userId;
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/permissions/getAllPermissions',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                //console.log(json)
                /* var tree_data = []
                var arr1 = json.list1;
               	var pId1=[];
                if(arr1!=null&&arr1.length>0){
	                for(var i in arr1){
	                	pId1[i]=arr1[i].coding;
	                	var a  = {};
                		a.id=arr1[i].coding;
                		a.pid = 0;
                		a.title=arr1[i].name;
                		tree_data.push(a);
	                }
                }
                var arr2 = json.list2;
       			var pId2=[];
                for(var j in pId1){
                	if(arr2!=null&&arr2.length>0){
                		for(var k in arr2){
                			if(arr2[k].coding.substr(0,2)==pId1[j].substr(0,2)){
                				pId2[k]=arr2[k].coding;
			                	var b  = {};
		                		b.id=arr2[k].coding;
		                		b.pid = pId1[j];
		                		b.title=arr2[k].name;
		                		tree_data.push(b);
		                		
                			}
                		}
                	}
                }
                var arr3 = json.list3;
           		var pId3=[];
        		for(var n in pId2){
	                	if(arr3!=null&&arr3.length>0){
	                		for(var m in arr3){
	                			var cal=arr3[m].coding;
	                			if(cal.substr(0,3)==pId2[n].substr(0,3)){
		                			pId3[m]=arr3[m].coding;
				                	var c  = {};
			                		c.id=arr3[m].coding;
			                		c.pid = pId2[n];
			                		c.title=arr3[m].name;
			                		tree_data.push(c);
	                			}
	                		}
	                		
	                	}
        			}
        		var arr4 = json.list4;
       			var pId4=[];
        		for(var ii in pId3){
            		if(arr4!=null&&arr4.length>0){
               		for(var jj in arr4){
               			var val=arr4[jj].coding
               			if(val.substr(0,4)==pId3[ii].substr(0,4)){
	                			pId4[jj]=arr4[jj].coding;
			                	var d = {};
		                		d.id=arr4[jj].coding;
		                		d.pid = pId3[ii];
		                		d.title=arr4[jj].name;
		                		tree_data.push(d);
		                		
               			}
               		}
               	}
        		}
        		var arr5 = json.list5;
        		var pId5=[];
        		for(var mm in pId4){
	           		if(arr5!=null&&arr5.length>0){
	               		for(var nn in arr5){
	               			if(arr5[nn].coding.substr(0,5)==pId4[mm].substr(0,5)){
		                			pId5[nn]=arr5[nn].coding;
				                	var e = {};
			                		e.id=arr5[nn].coding;
			                		e.pid = pId4[mm];
			                		e.title=arr5[nn].name;
			                		tree_data.push(e);
			                		
	               			}
	               		}
	               	} 
        		}
               	console.log(tree_data) */
               	
               	$(".f-tree").empty();
                config.tree({
              		type:1,//1有选择框，没有则不传type或传0
              		wrapper:'.f-tree',//容器
              		data:treeData,//数据
              		check:[1]//选中的数据，可以不传
              	});
                
            }
        });
	}  
	
	//修改保存
	function savePermissions(){
		console.log(userId)
		var selects = $(".f-iconRadioTrue");
  	  	var arr = []; 
  	  	$(selects).each(function(i){
  			 var e = $(this).next().val();
  			arr[i]=e;
  	  	});
  	  var permissions = arr.join(',');
	  	  $.ajax({
	          type: 'POST',
	          url: getContextPath()+'/permissions/updatePermissionsSave',
	          dataType: 'json',
	          data: {
	        	  uId:userId,
	        	  uPermissions:permissions
	          },
	          success: function (json) {
	        	  if(json>0){
		        	  toastr.success("修改成功");
		        	  $("#change").modal("hide")
	        	  }else{
	        		  toastr.error("修改失败")
	        	  }
	          }
	      });
	}

</script>
</html>