<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">

    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../../font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../css/css.css" />
	<link href="../../toastr/toastr.css" rel="stylesheet">
	
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" href="../../css/zTreeStyle.css" /> 
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .UpperPartL{
            font-size: 16px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body style="">
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">工作移交管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
            </div> 
            <div class="UpperPartR">
                 <button type="button" class="btn btn-primary Pmda" data-toggle="modal" data-target="#myModal">移交</button>
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>移交</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td colspan="2" style="width:16%;">被移交人员</td>
                              	<td colspan="2" style="width:16%;">移交人员</td>
                            </tr>
                             <tr>
                                <td  style="width:16%;">部门</td>
                             	   <td>
                             		   <div>
											<select name = "bumensqry" style="width:180px;"id="bumensqry" class="form-control" ></select>
                               			 </div>
                                	</td>
                              	<td  style="width:16%;">部门</td>
                              	  <td>
                              		  <div>
										<select style="width:180px;"id="bumensqry1" class="form-control" ></select>
                               		 </div>
                                </td>
                            </tr>
                            <tr>
                                <td  style="width:16%;">员工</td>
                             	   <td>
                             		   <div>
                             			   <select name = "yuangong0" id="yuangong0"  class="form-control" >
                               				 </select>
                               			 </div>
                                	</td>
                              	<td  style="width:16%;">员工</td>
                              	  <td>
                              		  <div>
                              			  <select id="yuangong1"  class="form-control">
                               			 </select>
                               		 </div>
                                </td>                            	
                            </tr>
                            <tr>
                            	<td style = "width:16%;">角色</td>
                            	<td>
                            		<div class = "f-tree" >
                            			
                            		</div>
                            	</td>
                            	<td style = "width:16%;">角色</td>
                            	<td>
                            		<div class = "f2-tree" >
                            			                            			                            			                            			
                            		</div>
                            	</td>
                            </tr>
                            <tr>
                            	<td style = "width:16%;">权限</td>
                            	<td>
                            		<div>
                            			<div id = "quanxian1" class = "ztree"></div>
                            		</div>
                            	</td>
                            	<td style = "width:16%;">权限</td>
                            	<td>
                            		<div id = "quanxian2" class = "ztree"></div>
                            	</td>
                            </tr> 
                                                       
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" id="saveRoleAndPermit">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->



<!-- 分配权限 -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="selectlimit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>分配权限</b></h4>
        </div>
        <div class="modal-body">
               <div ></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="savePersonRoles">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
    </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>部门</th>
                        <th>姓名</th>
                        <th>角色</th>
                        <th>职务</th>
                        <th style="width:10%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>

<script type="text/javascript" src="../../js/config.js" ></script>

<script src="../../js/jquery.ztree.core.js"></script>
<script src="../../js/jquery.ztree.excheck.js"></script>
<script src="../../js/data.js"></script>

<script>

var pageUId1,pageUId2;

   var nodes2 = [];
var zNodes =[
  	{id: "Pa+", pId: 0, name: "个人任务菜单栏", open:false},
	{id: "Pb+", pId: 0, name: "行政事务菜单栏", open:false},
	{id: "Pc+", pId: 0, name: "收款管理菜单栏", open:false},
	{id: "Pd+", pId: 0, name: "经营管理菜单栏", open:false},
	{id: "Pe+", pId: 0, name: "生产管理菜单栏", open:false},
	{id: "Pf+", pId: 0, name: "检测二部菜单栏", open:false},
	{id: "Pg+", pId: 0, name: "薪酬管理菜单栏", open:false},
	{id: "Ph+", pId: 0, name: "质量安全管理菜单栏", open:false},
	{id: "Pi+", pId: 0, name: "科研管理菜单栏", open:false},
	{id: "Pj+", pId: 0, name: "档案管理菜单栏", open:false},
	{id: "Pk+", pId: 0, name: "综合查询菜单栏", open:false},
	{id: "Pl+", pId: 0, name: "基础数据管理菜单栏", open:false},
	{id: "Pm+", pId: 0, name: "系统管理菜单栏", open:false},
	{id: "Paa+", pId: "Pa+", name: "待办事项菜单栏"},
	{id: "Pab+", pId: "Pa+", name: "已办事项菜单栏"},
	{id: "Pac+", pId: "Pa+", name: "业务催办菜单栏"},
	{id: "Pad+", pId: "Pa+", name: "业务办理通知菜单栏"},
	{id: "Pba+", pId: "Pb+", name: "通知公告菜单栏"},
	{id: "Pbb+", pId: "Pb+", name: "项目印章管理菜单栏"},
	{id: "Pbc+", pId: "Pb+", name: "成果文件用印管理菜单栏"},
	{id: "Pbd+", pId: "Pb+", name: "培训管理菜单栏"},
	{id: "Pca+", pId: "Pc+", name: "到账与认领菜单栏"},
	{id: "Pcb+", pId: "Pc+", name: "项目款认领菜单栏"},
	{id: "Pcc+", pId: "Pc+", name: "财务还款菜单栏"},
	{id: "Pcd+", pId: "Pc+", name: "开票申请菜单栏"},
	{id: "Pda+", pId: "Pd+", name: "项目跟踪菜单栏"},
	{id: "Pdb+", pId: "Pd+", name: "项目投标菜单栏"},
	{id: "Pdc+", pId: "Pd+", name: "经营目标管理菜单栏"},
	{id: "Pea+", pId: "Pe+", name: "任务单管理菜单栏"},
	{id:"Pebx+",pId:"Pe+",name:"预算与核算管理菜单栏"},
	{id: "Peb+", pId: "Pebx+", name: "项目预算管理菜单栏"},
	{id: "Pec+", pId: "Pe+", name: "合同管理菜单栏"},
	{id: "Ped+", pId: "Pe+", name: "材料采购管理菜单栏"},
	{id: "Pee+", pId: "Pe+", name: "进度管理菜单栏"},
	{id: "Pef+", pId: "Pe+", name: "项目成本预警菜单栏"},
	{id:"Pecgx+",pId:"Pe+",name:"现场管理菜单栏"},
	{id: "Peg+", pId: "Pehx+", name: "项目工时管理菜单栏"},
	{id: "Peh+", pId: "Pecgx+", name: "施工报表菜单栏"},
	/* {id: "Pei+", pId: "Pe+", name: "项目结算审计菜单栏"}, */
	{id: "Pfa+", pId: "Pf+", name: "检测二部新签合同额管理菜单栏"},
	{id: "Pfbx+", pId: "Pf+", name: "检测二部收入管理菜单栏"},
	{id: "Pfcx+", pId: "Pf+", name: "检测二部收款管理菜单栏"},
	{id: "Pfb+", pId: "Pfcx+", name: "检测二部财务收款菜单栏"},
	/* {id: "Pfc+", pId: "Pfcx+", name: "检测二部项目款认领菜单栏"}, */
	{id: "Pfdx+", pId: "Pf+", name: "检测二部直接成本菜单栏"},
	{id: "Pfdxa+", pId: "Pfdx+", name: "检测二部导入直接成本"},
	{id: "Pga+", pId: "Pg+", name: "职务等级体系菜单栏"},
	{id: "Pgb+", pId: "Pg+", name: "项目规模及人员要求菜单栏"},
	{id: "Pgc+", pId: "Pg+", name: "员工薪酬结构菜单栏"},
	{id: "Pgd+", pId: "Pg+", name: "年度奖金菜单栏"},
	{id: "Pha+", pId: "Ph+", name: "项目安全管理菜单栏"},
	{id: "Phb+", pId: "Ph+", name: "公司安全管理菜单栏"},
	{id: "Pia+", pId: "Pi+", name: "科研管理经营管理菜单栏"},
	{id: "Pib+", pId: "Pi+", name: "科研管理过程管理菜单栏"},
	/* {id: "Pja+", pId: "Pj+", name: "档案交接菜单栏"},
	{id: "Pjb+", pId: "Pj+", name: "经营文档资料菜单栏"},
	{id: "Pjc+", pId: "Pj+", name: "施工文档资料菜单栏"},
	{id: "Pjd+", pId: "Pj+", name: "检测评估资料菜单栏"},
	{id: "Pje+", pId: "Pj+", name: "设计文件资料菜单栏"},
	{id: "Pjf+", pId: "Pj+", name: "维修加固设计资料菜单栏"},
	{id: "Pjg+", pId: "Pj+", name: "科技文档资料菜单栏"}, */
	{id: "Pjh+", pId: "Pj+", name: "档案统计表菜单栏"},
	{id: "Pka+", pId: "Pk+", name: "公司经营情况总览菜单栏"},
	{id: "Pkb+", pId: "Pk+", name: "部门经营情况总览菜单栏"},
	{id: "Pkc+", pId: "Pk+", name: "项目综合查询菜单栏"},
	{id: "Pla+", pId: "Pl+", name: "项目类型管理菜单栏"},
	{id: "Plb+", pId: "Pl+", name: "项目规模管理菜单栏"},
	{id: "Plc+", pId: "Pl+", name: "成本科目管理菜单栏"},
	{id: "Pld+", pId: "Pl+", name: "合作伙伴管理菜单栏"},
	{id: "Ple+", pId: "Pl+", name: "采购供应商管理菜单栏"},
	{id: "Plf+", pId: "Pl+", name: "材料类型管理菜单栏"},
	{id: "Plg+", pId: "Pl+", name: "系数管理菜单栏"},
	{id: "Pma+", pId: "Pm+", name: "组织机构管理菜单栏"},
	{id: "Pmb+", pId: "Pm+", name: "职务管理菜单栏"},
	{id: "Pmc+", pId: "Pm+", name: "职务等级管理菜单栏"},
	{id: "Pmd+", pId: "Pm+", name: "人员用户管理菜单栏"},
	{id: "Pme+", pId: "Pm+", name: "角色管理菜单栏"},
	{id: "Pmf+", pId: "Pm+", name: "权限管理菜单栏"},
	{id: "Pmg+", pId: "Pm+", name: "流程管理菜单栏"},
	{id: "Pmh+", pId: "Pm+", name: "短信通知查询菜单栏"},
	{id: "Pmi+", pId: "Pm+", name: "短信通知管理菜单栏"},
	{id: "Paaa+", pId: "Paa+", name: "待办事项业务办理"},
	{id: "Paba+", pId: "Pab+", name: "已办事项查看办理业务"},
	{id: "Pabb+", pId: "Pab+", name: "已办事项删除"},
	{id: "Pabc+", pId: "Pab+", name: "已办事项撤回"},
	{id: "Paca+", pId: "Pac+", name: "业务催办通知催办"},
	{id: "Pbaa+", pId: "Pba+", name: "公司通知公告新建"},
	{id: "Pbab+", pId: "Pba+", name: "公司通知公告查看详细信息"},
	{id: "Pbac+", pId: "Pba+", name: "公司通知公告修改"},
	{id: "Pbad+", pId: "Pba+", name: "部门通知公告新建"},
	{id: "Pbae+", pId: "Pba+", name: "部门通知公告查看详细信息"},
	{id: "Pbaf+", pId: "Pba+", name: "部门通知公告修改"},
	{id: "Pbba+", pId: "Pbb+", name: "刻制申请填报"},
	{id: "Pbbb+", pId: "Pbb+", name: "刻制申请查看详细信息"},
	{id: "Pbbc+", pId: "Pbb+", name: "刻制申请修改"},
	{id: "Pbbd+", pId: "Pbb+", name: "使用管理填报"},
	{id: "Pbbe+", pId: "Pbb+", name: "使用管理查看详细信息"},
	{id: "Pbbf+", pId: "Pbb+", name: "使用管理修改"},
	{id: "Pbca+", pId: "Pbc+", name: "成果文件用印填报"},
	{id: "Pbcb+", pId: "Pbc+", name: "成果文件用印查看详细信息"},
	{id: "Pbcc+", pId: "Pbc+", name: "成果文件用印修改"},
	{id: "Pbda+", pId: "Pbd+", name: "外出培训申请菜单栏"},
	{id: "Pbdb+", pId: "Pbd+", name: "外部培训申请菜单栏"},
	{id: "Pbdc+", pId: "Pbd+", name: "内部培训申请菜单栏"},
	{id: "Pbdd+", pId: "Pbd+", name: "培训资料管理菜单栏"},
	{id:"Pcaa+",pId:"Pca+",name:"新建到账记录"},
	{id:"Pcab+",pId:"Pca+",name:"导入到账记录"},
	{id:"Pcac+",pId:"Pca+",name:"收款认领"},
	{id:"Pcad+",pId:"Pca+",name:"修改到账记录"},
	{id:"Pcae+",pId:"Pca+",name:"删除到账记录"},
	{id:"Pcbb+",pId:"Pcb+",name:"取消认领"},
	{id:"Pcba+",pId:"Pcb+",name:"项目款未认领查看详细信息"},
	{id:"Pcca+",pId:"Pcc+",name:"财务还款新建"},
	{id:"Pccb+",pId:"Pcc+",name:"财务还款查看详细信息"},
	{id:"Pcda+",pId:"Pcd+",name:"开票申请新建"},
	{id:"Pcdb+",pId:"Pcd+",name:"开票申请查看详细信息"},
	{id:"Pcdc+",pId:"Pcd+",name:"开票申请补录发票编号"},
	{id:"Pdaa+",pId:"Pda+",name:"项目跟踪单新建"},
	{id:"Pdab+",pId:"Pda+",name:"项目跟踪单查看详细信息"},
	{id:"Pdac+",pId:"Pda+",name:"项目跟踪单修改"},
	{id:"Pdad+",pId:"Pda+",name:"项目跟踪日志新建"},
	{id:"Pdae+",pId:"Pda+",name:"项目跟踪日志查看详细信息"},
	{id:"Pdaf+",pId:"Pda+",name:"项目跟踪日志修改"},
	{id:"Pdba+",pId:"Pdb+",name:"投标审批单菜单栏"},
	{id:"Pdbb+",pId:"Pdb+",name:"项目风险评估菜单栏"},
	{id:"Pdbc+",pId:"Pdb+",name:"开标记录菜单栏"},
	{id:"Pdbd+",pId:"Pdb+",name:"中标项目移交菜单栏"},
	{id:"Pdbe+",pId:"Pdb+",name:"投标项目列表菜单栏"},
	{id:"Pdca+",pId:"Pdc+",name:"经营目标管理新建"},
	{id:"Pdcb+",pId:"Pdc+",name:"经营目标管理导入开票记录"},
	{id:"Pdcc+",pId:"Pdc+",name:"经营目标管理查看详细信息"},
	{id:"Pdcd+",pId:"Pdc+",name:"经营目标管理修改"},
	{id:"Pdce+",pId:"Pdc+",name:"经营目标管理拆解公司指标"},
	{id:"Peaa+",pId:"Pea+",name:"任务单管理填报"},
	{id:"Peab+",pId:"Pea+",name:"任务单管理查看详细信息"},
	{id:"Peac+",pId:"Pea+",name:"任务单管理修改"},
	{id:"Pead+",pId:"Pea+",name:"任务单管理项目中止"},
	{id:"Peae+",pId:"Pea+",name:"任务单管理项目重启"},
	{id:"Peba+",pId:"Peb+",name:"项目预算管理新建"},
	{id:"Pebb+",pId:"Peb+",name:"项目预算管理查看详细信息"},
	{id:"Pebc+",pId:"Peb+",name:"项目预算管理修改"},
	{id:"Pecax+",pId:"Pec+",name:"项目合同管理菜单栏"},
	{id:"Pecbx+",pId:"Pec+",name:"非项目合同管理菜单栏"},
	{id:"Peccx+",pId:"Pec+",name:"联营合同管理菜单栏"},
	{id:"Peca+",pId:"Pecax+",name:"承接合同管理菜单栏"},
	{id:"Pecaxa+",pId:"Peca+",name:"承接合同审签菜单栏"},
	{id:"Pecb+",pId:"Pecax+",name:"分包合同管理菜单栏"},
	{id:"Pecbxb+",pId:"Pecb+",name:"分包合同审签菜单栏"},
	{id:"Pecc+",pId:"Pecax+",name:"采购合同管理菜单栏"},
	{id:"Pecd+",pId:"Pecax+",name:"借款合同管理菜单栏"},
	{id:"Pece+",pId:"Pecbx+",name:"其他合同管理菜单栏"},
	{id:"Pecgc+",pId:"Pecb+",name:"分包合同履约菜单栏"},
	{id:"Pecf+",pId:"Pecb+",name:"分包合同付款菜单栏"},
	/* {id:"Pecg+",pId:"Pec+",name:"合同履约菜单栏"}, */
	{id:"Peda+",pId:"Ped+",name:"材料采购申请菜单栏"},
	{id:"Pedb+",pId:"Ped+",name:"公司材料管理菜单栏"},
	{id:"Pedc+",pId:"Ped+",name:"项目材料管理菜单栏"},
	{id:"Peea+",pId:"Pee+",name:"进度管理填报"},
	{id:"Peeb+",pId:"Pee+",name:"进度管理查看详细信息"},
	{id:"Pefa+",pId:"Pef+",name:"项目成本预警查看详细信息"},
	{id:"Pefb+",pId:"Pef+",name:"项目成本预警录入原因"},
	{id:"Pega+",pId:"Peg+",name:"项目工时管理填报"},
	{id:"Pegb+",pId:"Peg+",name:"项目工时管理删除"},
	{id:"Pegc+",pId:"Peg+",name:"项目工时管理查看详细信息"},
	{id:"Pegd+",pId:"Peg+",name:"项目工时管理修改 "},
	{id:"Peha+",pId:"Peh+",name:"项目施工日志菜单栏"},
	{id:"Pehb+",pId:"Peh+",name:"项目周报菜单栏"},
	{id:"Pehc+",pId:"Peh+",name:"项目月报菜单栏"},
	/* {id:"Peia+",pId:"Pei+",name:"项目结算审计填报"},
	{id:"Peib+",pId:"Pei+",name:"项目结算审计查看详细信息"}, */
	{id:"Pfaa+",pId:"Pfa+",name:"检测二部新签合同额管理导入新签合同"},
	/* {id:"Pfab+",pId:"Pfa+",name:"检测二部新签合同额管理导入上月合同"}, */
	{id:"Pfac+",pId:"Pfa+",name:"检测二部新签合同额管理查看详细信息"},
	{id:"Pfad+",pId:"Pfa+",name:"检测二部新签合同额管理删除"},
	{id:"Pfba+",pId:"Pfb+",name:"检测二部财务收款导入收款项目"},
	{id:"Pfbb+",pId:"Pfb+",name:"检测二部财务收款查看详细信息"},
	/* {id:"Pfca+",pId:"Pfc+",name:"检测二部项目款已认领查看详细信息"},
	{id:"Pfcb+",pId:"Pfc+",name:"检测二部项目款未认领查看详细信息"}, */
	/*{id:"Pjaa+",pId:"Pja+",name:"档案交接接收人签字"},
	{id:"Pjab+",pId:"Pja+",name:"档案交接查看详细信息"},
	{id:"Pjba+",pId:"Pjb+",name:"经营文档资料删除"},
	{id:"Pjbb+",pId:"Pjb+",name:"经营文档资料查看详细信息"},
	{id:"Pjbc+",pId:"Pjb+",name:"经营文档资料修改"},
	{id:"Pjca+",pId:"Pjc+",name:"施工文档资料删除"},
	{id:"Pjcb+",pId:"Pjc+",name:"施工文档资料查看详细信息"},
	{id:"Pjcc+",pId:"Pjc+",name:"施工文档资料修改"},
	{id:"Pjda+",pId:"Pjd+",name:"检测评估资料删除"},
	{id:"Pjdb+",pId:"Pjd+",name:"检测评估资料查看详细信息"},
	{id:"Pjdc+",pId:"Pjd+",name:"检测评估资料修改"},
	{id:"Pjea+",pId:"Pje+",name:"设计文件资料删除"},
	{id:"Pjeb+",pId:"Pje+",name:"设计文件资料查看详细信息"},
	{id:"Pjec+",pId:"Pje+",name:"设计文件资料修改"},
	{id:"Pjfa+",pId:"Pjf+",name:"维修加固设计资料删除"},
	{id:"Pjfb+",pId:"Pjf+",name:"维修加固设计资料修改"},
	{id:"Pjfc+",pId:"Pjf+",name:"维修加固设计资料查看详细信息"},
	{id:"Pjga+",pId:"Pjg+",name:"科技文档资料删除"},
	{id:"Pjgb+",pId:"Pjg+",name:"科技文档资料查看详细信息"},
	{id:"Pjgc+",pId:"Pjg+",name:"科技文档资料修改"}, */ 
	{id:"Pjha+",pId:"Pjh+",name:"档案统计表查看详细信息"},
	{id:"Plaa+",pId:"Pla+",name:"项目类型管理新建一级类型"},
	{id:"Plab+",pId:"Pla+",name:"项目类型管理删除一级类型"},
	{id:"Plac+",pId:"Pla+",name:"项目类型管理修改一级类型"},
	{id:"Plad+",pId:"Pla+",name:"项目类型管理新建二级类型"},
	{id:"Plae+",pId:"Pla+",name:"项目类型管理删除二级类型"},
	{id:"Plaf+",pId:"Pla+",name:"项目类型管理修改二级类型"},
	{id:"Plba+",pId:"Plb+",name:"项目规模管理修改项目规模"},
	{id:"Plca+",pId:"Plc+",name:"成本科目管理新建一级科目"},
	{id:"Plcb+",pId:"Plc+",name:"成本科目管理删除一级科目"},
	{id:"Plcc+",pId:"Plc+",name:"成本科目管理修改一级科目"},
	{id:"Plcd+",pId:"Plc+",name:"成本科目管理新建二级科目"},
	{id:"Plce+",pId:"Plc+",name:"成本科目管理删除二级科目"},
	{id:"Plcf+",pId:"Plc+",name:"成本科目管理修改二级科目"},
	{id:"Plda+",pId:"Pld+",name:"合作单位管理新建"},
	{id:"Pldb+",pId:"Pld+",name:"合作单位管理导出Excel文件"},
	{id:"Pldc+",pId:"Pld+",name:"合作单位管理删除"},
	{id:"Pldd+",pId:"Pld+",name:"合作单位管理查看详细信息"},
	{id:"Plde+",pId:"Pld+",name:"合作单位管理修改"},
	{id:"Plea+",pId:"Ple+",name:"采购供应商管理新建"},
	{id:"Pleb+",pId:"Ple+",name:"采购供应商管理导出Excel文件"},
	{id:"Plec+",pId:"Ple+",name:"采购供应商管理删除"},
	{id:"Pled+",pId:"Ple+",name:"采购供应商管理查看详细信息"},
	{id:"Plee+",pId:"Ple+",name:"采购供应商管理修改"},
	{id:"Plfa+",pId:"Plf+",name:"材料类型管理新建材料类型"},
	{id:"Plfb+",pId:"Plf+",name:"材料类型管理删除材料类型"},
	{id:"Plfc+",pId:"Plf+",name:"材料类型管理修改材料类型"},
	{id:"Plga+",pId:"Plg+",name:"系数管理新建系数"},
	{id:"Plgb+",pId:"Plg+",name:"系数管理删除系数"},
	{id:"Plgc+",pId:"Plg+",name:"系数管理修改系数"},
	{id:"Pmaa+",pId:"Pma+",name:"组织机构管理新建组织机构"},
	{id:"Pmab+",pId:"Pma+",name:"组织机构管理删除组织机构"},
	{id:"Pmac+",pId:"Pma+",name:"组织机构管理修改组织机构"},
	{id:"Pmba+",pId:"Pmb+",name:"职务管理新建职务"},
	{id:"Pmbb+",pId:"Pmb+",name:"职务管理删除职务"},
	{id:"Pmbc+",pId:"Pmb+",name:"职务管理修改职务"},
	{id:"Pmca+",pId:"Pmc+",name:"职务等级管理新建职务等级"},
	{id:"Pmcb+",pId:"Pmc+",name:"职务等级管理删除职务等级"},
	{id:"Pmcc+",pId:"Pmc+",name:"职务等级管理修改职务等级"},
	{id:"Pmcd+",pId:"Pmc+",name:"职务等级管理新建岗位职务"},
	{id:"Pmce+",pId:"Pmc+",name:"职务等级管理删除岗位职务"},
	{id:"Pmcf+",pId:"Pmc+",name:"职务等级管理修改岗位职务"},
	{id:"Pmda+",pId:"Pmd+",name:"人员用户管理新建"},
	{id:"Pmdb+",pId:"Pmd+",name:"人员用户管理删除"},
	{id:"Pmdc+",pId:"Pmd+",name:"人员用户管理修改"},
	{id:"Pmdd+",pId:"Pmd+",name:"人员用户管理查看详细信息"},
	{id:"Pmea+",pId:"Pme+",name:"角色管理分配角色"},
	{id:"Pmeb+",pId:"Pme+",name:"角色管理新建角色"},
	{id:"Pmfa+",pId:"Pmf+",name:"权限管理修改"},
	{id:"Pmga+",pId:"Pmg+",name:"流程管理新建流程管理"},
	{id:"Pmgb+",pId:"Pmg+",name:"流程管理修改流程"},
	{id:"Pmgc+",pId:"Pmg+",name:"流程管理删除流程"},
	{id:"Pmgd+",pId:"Pmg+",name:"流程管理新建步骤"},
	{id:"Pmge+",pId:"Pmg+",name:"流程管理修改步骤"},
	{id:"Pmgf+",pId:"Pmg+",name:"流程管理删除步骤"},
	{id:"Pmha+",pId:"Pmh+",name:"短信通知查询重发短信通知"},
	{id:"Pmia+",pId:"Pmi+",name:"短信通知管理确定通知"},
	{id:"Pbdaa+",pId:"Pbda+",name:"外出培训申请填报"},
	{id:"Pbdab+",pId:"Pbda+",name:"外出培训申请查看详细信息"},
	{id:"Pbdac+",pId:"Pbda+",name:"外出培训申请修改"},
	{id:"Pbdba+",pId:"Pbdb+",name:"外部培训申请填报"},
	{id:"Pbdbb+",pId:"Pbdb+",name:"外部培训申请查看详细信息"},
	{id:"Pbdbc+",pId:"Pbdb+",name:"外部培训申请修改"},
	{id:"Pbdca+",pId:"Pbdc+",name:"内部培训申请填报"},
	{id:"Pbdcb+",pId:"Pbdc+",name:"内部培训申请查看详细信息"},
	{id:"Pbdcc+",pId:"Pbdc+",name:"内部培训申请修改"},
	{id:"Pbdda+",pId:"Pbdd+",name:"培训资料管理填报"},
	{id:"Pbddb+",pId:"Pbdd+",name:"培训资料管理查看详细信息"},
	{id:"Pbddc+",pId:"Pbdd+",name:"培训资料管理修改"},
	{id:"Pdbaa+",pId:"Pdba+",name:"投标审批单新建"},
	{id:"Pdbab+",pId:"Pdba+",name:"投标审批单查看详细信息"},
	{id:"Pdbac+",pId:"Pdba+",name:"投标审批单修改"},
	{id:"Pdbad+",pId:"Pdba+",name:"投标审批单删除"},
	{id:"Pdbba+",pId:"Pdbb+",name:"项目风险评估新建"},
	{id:"Pdbbb+",pId:"Pdbb+",name:"项目风险评估查看详细信息"},
	{id:"Pdbbc+",pId:"Pdbb+",name:"项目风险评估修改"},
	{id:"Pdbca+",pId:"Pdbc+",name:"开标记录新建"},
	{id:"Pdbcb+",pId:"Pdbc+",name:"开标记录查看详细信息"},
	{id:"Pdbcc+",pId:"Pdbc+",name:"开标记录修改"},
	{id:"Pdbda+",pId:"Pdbd+",name:"中标项目移交新建"},
	{id:"Pdbdb+",pId:"Pdbd+",name:"中标项目移交查看详细信息"},
	{id:"Pdbdc+",pId:"Pdbd+",name:"中标项目移交修改"},
	{id:"Pdbea+",pId:"Pdbe+",name:"投标项目列表新建"},
	{id:"Pdbeb+",pId:"Pdbe+",name:"投标项目列表导出excel文件"},
	{id:"Pdbec+",pId:"Pdbe+",name:"投标项目列表查看详细信息"},
	{id:"Pdbed+",pId:"Pdbe+",name:"投标项目列表修改"},
	{id:"Pdbee+",pId:"Pdbe+",name:"投标项目列表删除"},
	{id:"Pecaa+",pId:"Pecaxa+",name:"承接合同管理填报"},
	{id:"Pecab+",pId:"Pecaxa+",name:"承接合同管理查看详细信息"},
	{id:"Pecac+",pId:"Pecaxa+",name:"承接合同管理合同变更"},
	{id:"Pecad+",pId:"Pecaxa+",name:"承接合同管理合同取消"},
	{id:"Pecae+",pId:"Pecaxa+",name:"承接合同管理查看取消原因"},
	{id:"Pecaf+",pId:"Pecaxa+",name:"承接合同管理合同重启"},
	{id:"Pecba+",pId:"Pecbxb+",name:"分包合同管理填报"},
	{id:"Pecbb+",pId:"Pecbxb+",name:"分包合同管理查看详细信息"},
	{id:"Pecbc+",pId:"Pecbxb+",name:"分包合同管理合同变更"},
	{id:"Pecbd+",pId:"Pecbxb+",name:"分包合同管理合同取消"},
	{id:"Pecbe+",pId:"Pecbxb+",name:"分包合同管理查看合同取消原因"},
	{id:"Pecbf+",pId:"Pecbxb+",name:"分包合同管理合同重启"},
	{id:"Peccxc+",pId:"Pecc+",name:"材料设备采购合同审签菜单栏"},
	{id:"Pecacb+",pId:"Pecc+",name:"其他采购合同审签菜单栏"},
	{id:"Pecca+",pId:"Peccxc+",name:"采购合同管理填报"},
	{id:"Peccb+",pId:"Peccxc+",name:"采购合同管理查看详细信息"},
	{id:"Peccc+",pId:"Peccxc+",name:"采购合同管理合同变更"},
	{id:"Peccd+",pId:"Peccxc+",name:"采购合同管理合同取消"},
	{id:"Pecce+",pId:"Peccxc+",name:"采购合同管理查看合同取消原因"},
	{id:"Peccf+",pId:"Peccxc+",name:"采购合同管理合同重启"},
	{id:"Pecda+",pId:"Pecd+",name:"借款合同管理填报"},
	{id:"Pecdb+",pId:"Pecd+",name:"借款合同管理查看详细信息"},
	{id:"Pecdc+",pId:"Pecd+",name:"借款合同管理合同变更"},
	{id:"Pecdd+",pId:"Pecd+",name:"借款合同管理合同取消"},
	{id:"Pecde+",pId:"Pecd+",name:"借款合同管理查看合同取消原因"},
	{id:"Pecdf+",pId:"Pecd+",name:"借款合同管理合同重启"},
	{id:"Pecea+",pId:"Pece+",name:"其他合同管理填报"},
	{id:"Peceb+",pId:"Pece+",name:"其他合同管理查看详细信息"},
	{id:"Pecec+",pId:"Pece+",name:"其他合同管理合同变更"},
	{id:"Peced+",pId:"Pece+",name:"其他合同管理合同取消"},
	{id:"Pecee+",pId:"Pece+",name:"其他合同管理查看合同取消原因"},
	{id:"Pecef+",pId:"Pece+",name:"其他合同管理合同重启"},
	{id:"Pecfa+",pId:"Pecf+",name:"分包合同付款填报"},
	{id:"Pecfb+",pId:"Pecf+",name:"分包合同付款查看详细信息"},
	{id:"Pecfc+",pId:"Pecf+",name:"分包合同付款合同变更"},
	{id:"Pecga+",pId:"Peca+",name:"承接合同履约菜单栏"},
	{id:"Pecgb+",pId:"Pecc+",name:"采购合同履约菜单栏"},
	{id:"Pedaa+",pId:"Peda+",name:"材料采购申请填报"},
	{id:"Pedab+",pId:"Peda+",name:"材料采购申请查看详细信息"},
	{id:"Pedba+",pId:"Pedb+",name:"公司材料管理材料入库菜单栏"},
	{id:"Pedbb+",pId:"Pedb+",name:"公司材料管理材料出库菜单栏"},
	{id:"Pedbc+",pId:"Pedb+",name:"公司材料管理结余管理菜单栏"},
	{id:"Pedbd+",pId:"Pedb+",name:"公司材料管理废旧品处理菜单栏"},
	{id:"Pedbe+",pId:"Pedb+",name:"公司材料管理统计花销费用菜单栏"},
	{id:"Pedbf+",pId:"Pedb+",name:"公司材料管理退货菜单栏"},
	{id:"Pedca+",pId:"Pedc+",name:"项目材料管理材料入库菜单栏"},
	{id:"Pedcb+",pId:"Pedc+",name:"项目材料管理材料出库菜单栏"},
	{id:"Pedcc+",pId:"Pedc+",name:"项目材料管理结余管理菜单栏"},
	{id:"Pedcd+",pId:"Pedc+",name:"项目材料管理废旧品处理菜单栏"},
	{id:"Pehaa+",pId:"Peha+",name:"项目施工日志填报"},
	{id:"Pehab+",pId:"Peha+",name:"项目施工日志删除"},
	{id:"Pehac+",pId:"Peha+",name:"项目施工日志修改"},
	{id:"Pehad+",pId:"Peha+",name:"项目施工日志查看详细信息"},
	{id:"Pehba+",pId:"Pehb+",name:"项目周报填报"},
	{id:"Pehbb+",pId:"Pehb+",name:"项目周报删除"},
	{id:"Pehbc+",pId:"Pehb+",name:"项目周报查看详细信息"},
	{id:"Pehbd+",pId:"Pehb+",name:"项目周报修改"},
	{id:"Pehca+",pId:"Pehc+",name:"项目月报填报"},
	{id:"Pehcb+",pId:"Pehc+",name:"项目月报删除"},
	{id:"Pehcc+",pId:"Pehc+",name:"项目月报查看详细信息"},
	{id:"Pehcd+",pId:"Pehc+",name:"项目月报修改"},
	{id:"Pecgaa+",pId:"Pecga+",name:"承接合同履约合同交工履约申请填报"},
	{id:"Pecgab+",pId:"Pecga+",name:"承接合同履约合同交工履约申请查看详细信息"},
	{id:"Pecgac+",pId:"Pecga+",name:"承接合同履约合同竣工履约申请填报"},
	{id:"Pecgad+",pId:"Pecga+",name:"承接合同履约合同竣工履约申请查看详细信息"},
	{id:"Pecgba+",pId:"Pecgb+",name:"采购合同履约履约评价填报"},
	{id:"Pecgbb+",pId:"Pecgb+",name:"采购合同履约履约评价查看详细信息"},
	{id:"Pecgbc+",pId:"Pecgb+",name:"采购合同履约履约评价修改"},
	{id:"Pecgbd+",pId:"Pecgb+",name:"采购合同履约采购结算申请填报"},
	{id:"Pecgbe+",pId:"Pecgb+",name:"采购合同履约采购结算申请查看详细信息"},
	{id:"Pecgbf+",pId:"Pecgb+",name:"采购合同履约采购结算申请修改"},
	{id:"Pecgbg+",pId:"Pecgb+",name:"采购合同履约采购合同履约填报"},
	{id:"Pecgbh+",pId:"Pecgb+",name:"采购合同履约采购合同履约导出打印"},
	{id:"Pecgbi+",pId:"Pecgb+",name:"采购合同履约采购合同履约查看详细信息"},
	{id:"Pecgbj+",pId:"Pecgb+",name:"采购合同履约采购合同履约修改"},
	{id:"Pecgca+",pId:"Pecgc+",name:"分包合同履约评价填报"},
	{id:"Pecgcb+",pId:"Pecgc+",name:"分包合同履约评价查看详细信息"},
	{id:"Pecgcc+",pId:"Pecgc+",name:"分包合同结算申请填报"},
	{id:"Pecgcd+",pId:"Pecgc+",name:"分包合同结算申请查看详细信息"},
	{id:"Pecgce+",pId:"Pecgc+",name:"分包合同履约填报"},
	{id:"Pecgcf+",pId:"Pecgc+",name:"分包合同履约导出打印"},
	{id:"Pecgcg+",pId:"Pecgc+",name:"分包合同履约查看详细信息"},
	{id:"Pedbaa+",pId:"Pedba+",name:"公司材料管理材料入库填报"},
	{id:"Pedbab+",pId:"Pedba+",name:"公司材料管理材料入库查看详细信息"},
	{id:"Pedbba+",pId:"Pedbb+",name:"公司材料管理材料出库填报"},
	{id:"Pedbbb+",pId:"Pedbb+",name:"公司材料管理材料出库查看详细信息"},
	{id:"Pedbca+",pId:"Pedbc+",name:"公司材料管理结余管理查看详细信息"},
	{id:"Pedbcb+",pId:"Pedbc+",name:"公司材料管理结余管理结余转出"},
	{id:"Pedbda+",pId:"Pedbd+",name:"公司材料管理废旧品处理填报"},
	{id:"Pedbdb+",pId:"Pedbd+",name:"公司材料管理废旧品处理查看详细信息"},
	{id:"Pedbfa+",pId:"Pedbf+",name:"公司材料管理退货填报"},
	{id:"Pedbfb+",pId:"Pedbf+",name:"公司材料管理退货查看详细信息"},
	{id:"Pedcaa+",pId:"Pedca+",name:"项目材料管理材料入库收货确认"},
	{id:"Pedcab+",pId:"Pedca+",name:"项目材料管理材料入库查看详细信息"},
	{id:"Pedcba+",pId:"Pedcb+",name:"项目材料管理材料出库填报"},
	{id:"Pedcbb+",pId:"Pedcb+",name:"项目材料管理材料出库查看详细信息"},
	{id:"Pedcca+",pId:"Pedcc+",name:"项目材料管理结余管理结余确认"},
	{id:"Pedccb+",pId:"Pedcc+",name:"项目材料管理结余管理结余利用"},
	{id:"Pedcda+",pId:"Pedcd+",name:"项目材料管理废旧品处理填报"},
	{id:"Pedcdb+",pId:"Pedcd+",name:"项目材料管理废旧品处理查看详细信息"},
	/* {id:"Pdd+",pId:"Pd+",name:"经营目标管理2菜单栏"}, */
	{id:"Pbag+",pId:"Pba+",name:"公司通知公告删除"},
	{id:"Pbah+",pId:"Pba+",name:"部门通知公告删除"},
	{id:"Pde+",pId:"Pd+",name:"直接和间接成本菜单栏"},
	{id:"Pdea+",pId:"Pde+",name:"导入成本"},
	{id:"Pebxb+",pId:"Pebx+",name:"项目核算管理菜单栏"},
	{id:"Pebxba+",pId:"Pebxb+",name:"填报项目核算"},
	{id:"Pebxbb+",pId:"Pebxb+",name:"查看项目核算详细信息"},
	{id:"Peccxa+",pId:"Peccx+",name:"联营合同审签菜单栏"},
	{id:"Peccxaa+",pId:"Peccxa+",name:"填报联营合同审签"},
	{id:"Peccxab+",pId:"Peccxa+",name:"查看联营合同审签"},
	{id:"Peccxb+",pId:"Peccx+",name:"联营项目核算菜单栏"},
	{id:"Peccxba+",pId:"Peccxb+",name:"填报联营项目核算"},
	{id:"Pfbxa+",pId:"Pfbx+",name:"检测二部导入上月收入"},
	{id:"Pfbxb+",pId:"Pfbx+",name:"检测二部删除上月收入"},
	{id:"Phax+",pId:"Ph+",name:"项目报表菜单栏"},
	{id:"Pkd+",pId:"Pk+",name:"统计分析查询菜单栏"},
	{id:"Pmex+",pId:"Pm+",name:"工作移交菜单栏"},
	{id:"Pmexa+",pId:"Pmex+",name:"新建工作移交"},
	{id:"Pmexb+",pId:"Pmex+",name:"修改工作移交"},
	{id:"Pmexc+",pId:"Pmex+",name:"删除工作移交"},
	{id:"Pmj+",pId:"Pm+",name:"分公司管理菜单栏"},
	{id:"Pmja+",pId:"Pmj+",name:"新建分公司管理"},
	{id:"Pmjb+",pId:"Pmj+",name:"修改分公司管理"},
	{id:"Pmjc+",pId:"Pmj+",name:"删除分公司管理"},
	{id:"Peaf+",pId:"Pea+",name:"任务单管理部门统计"},
	{id:"Peag+",pId:"Pea+",name:"任务单拆分"},
	{id:"Pehx+",pId:"Pe+",name:"工时管理菜单栏"},
	{id:"Pehxb+",pId:"Pehx+",name:"项目非工时管理菜单栏"},
	{id:"Pehxba+",pId:"Pehxb+",name:"项目非工时管理填报"},
	{id:"Pehxbb+",pId:"Pehxb+",name:"项目非工时管理删除"},
	{id:"Pehxbd+",pId:"Pehxb+",name:"项目非工时管理修改"},
	{id:"Pehxbc+",pId:"Pehxb+",name:"项目非工时管理查看详细信息"},
	{id:"Pjax+",pId:"Pj+",name:"项目档案管理菜单栏"},
	{id:"Pjaxa+",pId:"Pjax+",name:"项目档案新增归档"},
	{id:"Pjaxb+",pId:"Pjax+",name:"项目档案归档提交"},
	{id:"Pjcx+",pId:"Pj+",name:"其他文件资料管理菜单栏"},
	{id:"Pjcxa+",pId:"Pjcx+",name:"其他文件资料管理新增文件资料"},
	{id:"Pjcxb+",pId:"Pjcx+",name:"其他文件资料管理下载"},
	{id:"Pjcxc+",pId:"Pjcx+",name:"其他文件资料管理删除"},
	{id:"Pecacba+",pId:"Pecacb+",name:"其他采购合同审签填报"},
	{id:"Pecacbb+",pId:"Pecacb+",name:"其他采购合同审签查看详细信息"},
	{id:"Pecacbc+",pId:"Pecacb+",name:"其他采购合同审签合同变更"},
	{id:"Pecacbd+",pId:"Pecacb+",name:"其他采购合同审签合同取消"},
	{id:"Pecacbe+",pId:"Pecacb+",name:"其他采购合同审签合同重启"},
	{id: "Pfe+", pId: "Pf+", name: "检测二部分包采购合同管理菜单栏"},
	{id: "Pfea+", pId: "Pfe+", name: "检测二部分包采购合同审签菜单栏"},
	{id: "Pfeaa+", pId: "Pfea+", name: "检测二部分包采购合同审签填报"},
	{id: "Pfeab+", pId: "Pfea+", name: "检测二部分包采购合同审签查看详细信息"},
	{id: "Pfeac+", pId: "Pfea+", name: "检测二部分包采购合同审签变更"},
	{id: "Pfead+", pId: "Pfea+", name: "检测二部分包采购合同审签取消"},
	{id: "Pfeae+", pId: "Pfea+", name: "检测二部分包采购合同审签重启"},
	{id: "Peec+", pId: "Pee+", name: "进度管理收回"},
 ]; 

	var roles;
    $(document).ready( function () {
    	initTable();
    	initrolebox();
    	initDepartment();
    	fzTree = $.fn.zTree.init($("#quanxian1"),setting1, zNodes);
    	fzTree = $.fn.zTree.init($("#quanxian2"),setting2, zNodes);
	});
    
	var setting1 = {
	      	view: { selectedMulti: true , showIcon:false },
	     	 check: { enable: true,  chkStyle: "checkbox" /* chkboxType :{ "Y" : "p", "N" : "s" } */ },
	     	 data : { simpleData : { enable : true},
	 	      		key : {isHidden : true},
	      			keep: {parent: false,leaf:false}
	      	},

	    	async: { enable: true},
	    	callback:{
	     		beforeCheck:true,
	            //onCheck:onCheck1
	     		}
	     	},zTree;
	var setting2 = {
	      	view: { selectedMulti: true , showIcon:false },
	     	 check: { enable: true ,  chkStyle: "checkbox"/* chkboxType :{ "Y" : "p", "N" : "s" } */ },
	     	 data : { simpleData : { enable : true},
	     			key : {isHidden : true},
	      			keep: {parent: false,leaf:false}
	      	},
	    	async: { enable: true},
	    	callback:{
	     		beforeCheck:true,
	            //onCheck:onCheck2
	     		}
	     	},zTree;

    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "omName"}, 
		            { "data": "uName"}, 
		            { "data": "userRoleNames"}, 
		            { "data": "dutyName2"}, 
		            { "data": null}, 
		            {"data":"userRole","visible": false},
		            {"data":"uPermissions","visible": false},
		        ],
		"columnDefs": [
						{	
							"class": "tcenter",
							"targets": 4,
							"searchable": true,
							"render": function(data, type, full) {
									return '<i class="iconfont icon-xiugai Pmexb" style="font-size:22px;cursor:pointer;margin-left:10px;display:none;" title="转移" data-toggle="modal" data-target="#myModal" onclick="exchange(this)"></i>'
								}
						}
					],
		"fnDrawCallback" : function() {
			$.ajax({
				type:"post",
				url:getContextPath()+"/login/getUser",
				async:false,
				data:{},
				success:function(json){
				                			
					if(json!=null &&json!=""){
						var arr = json.uPermissions.split(',');
				    	            				
						for(var i=0;i<arr.length;i++){
							var arr2 = arr[i].replace("+","");
							//console.log(arr2);
							if(arr[i].indexOf("Pmexb") >= 0 ){
								$(".Pmexb").show();
							}
							if(arr[i].indexOf("Pmexc") >= 0 ){
								$(".Pmexc").show();
							}
						}
				                				
					}
				                			
				}
			});
									
			},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
		var base64 = new Base64();
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectUserAndRoles',
            data: {
            },
            error: function (msg) {
            	toastr.error("请求失败");
            },
            success: function (data) {
            	var arr = base64.decode(data);
            	var json = JSON.parse(arr);
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
	function initDepartment(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getAllOrganizationManagement',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $("#bumensqry").empty();
                $("#bumensqry1").empty();
                for(var i=0;i<json.length;i++){
                	$("#bumensqry").append("<option value='"+json[i].omName+"' data-omId="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#bumensqry1").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                }
                
                $("#bumensqry").trigger('change');
                
                $("#bumensqry1").trigger('change');
            }
        });
		
	}
	//随部门变换改变对应员工列表
	$("#bumensqry").change(function(){
		bumen1change();
	})
	function bumen1change()
	{
	  	  var options=$("#bumensqry option:selected"); 	  
		  var bumen = options.attr("data-omId");
			$.ajax({
				type:"POST",
				url:getContextPath()+"/user/selectUserByomId",
				dataType:"json",
				async:false,
				data:{ 
					omId:bumen 
					},
				success:function(json){
	                $("#yuangong0").empty();

	                for(var i=0;i<json.length;i++){
	                	var uid = json[i].userId;
	                   	$("#yuangong0").append('<option data-id="'+json[i].userId+'"data-role="'+json[i].userRole+'" value = "'+json[i].uName+'">'+json[i].uName+"</option>");                 	             	
	                }
	                $("#yuangong0").trigger('change');
				}
			})
	}
	//左侧员工更换后刷新
	var checkrole1,checkper1;
	$("#yuangong0").change(function(){
		initroleandper_L();				
	})
	//部门2的变换后更新右侧的员工列表
	$("#bumensqry1").change(function(){
		var bumen=$("#bumensqry1").val();
		$.ajax({
			type:"POST",
			url:getContextPath()+"/user/selectUserByomId",
			dataType:"json",
			async:false,
			data:{ 
				omId:bumen 
				},
			success:function(json){
                $("#yuangong1").empty();

                for(var i=0;i<json.length;i++){
                	var uid = json[i].userId;
                   	$("#yuangong1").append('<option data-id="'+json[i].userId+'"data-role="'+json[i].userRole+'" >'+json[i].uName+"</option>");                 	             	
                }
                $("#yuangong1").trigger('change');
			}
		})
	})
	//右侧员工更换后刷新对应的角色和权限树
	var checkrole2,checkper2;
	$("#yuangong1").change(function(){  	 
		initroleandper_R();		
	})
	//保存按钮响应函数
	/*功能：
		将左侧人员选中的角色和权限均移交给右侧人员
		若所移交的权限或角色右侧人员已有
		则仅从左侧人员的角色及权限中删除
	*/
	  $("#saveRoleAndPermit").bind('click',function(){
    	  var selects = $(".f-iconRadioTrue");
    	  var personRoles1 = "";
    	  $(selects).each(function(){
    		var e = $(this).next().val();
    		 personRoles1+=e+"_";
    	  });
    	  var newroles1 = personRoles1.split("_");
    	  //获得左边的所有选中项，因为右边并不会发生变化
    	  for(var i = 0;i<checkrole2.length;i++)
    		  {
    		  	for(var j = 0;j<newroles1.length;j++)
    		  		{
    		  			if(checkrole2[i]==newroles1[i])
    		  				{
    		  					newroles1.splice(j,1);
    		  					break;
    		  				}    		  			
    		  		}
    		  }    	 
    	  var roles2 = checkrole2;
    	  for(var i = 0;i<newroles1.length;i++)
    		  {
    		  	for(var j = 0;j<checkrole2.length;j++)
    		  		{
    		  			if(newroles1[i]==checkrole2[j])
    		  				break;
    		  			else if(j+1 == checkrole2.length)
    		  				{
    		  					roles2.push(newroles1[i]);
    		  				}
    		  		}
    		  }
    	  var roles1 = [];
    	  for(var i = 0;i<checkrole1.length;i++)
    		  {
    		  	var b = false;
    		  	for(var j = 0;j<newroles1.length;j++)
    		  		{
    		  			if(checkrole1[i]== newroles1[j])
    		  				b = true;
    		  		}
    		  	if(!b)
    		  		roles1.push(checkrole1[i]);
    		  }
    	  remove_null(roles1);
    	  remove_null(roles2);
    	 	var personRoles2 = roles2.join("_")+"_";
    	  	var personRoles1 = roles1.join("_")+"_";
    	  updateParentRole(pageUId2,personRoles2);
    	  updateParentRole(pageUId1,personRoles1);
    	  
    	  //var temppermission = permissions1;
    	  var per1 = [],per2 = [];
    	  var permissions1;
    	  var nodes1 = [];
    	  
    	  var treeObj=$.fn.zTree.getZTreeObj("quanxian1");
		  nodes1=treeObj.getCheckedNodes(true);
   		    permissions1 = [];
   		    for(var i=0;i<nodes1.length;i++){
   			    permissions1[i]=nodes1[i].id;   		    	
  		    }
   		    
   	      var permissions2 = [];

	   	    //var treeObj=$.fn.zTree.getZTreeObj("quanxian2");
     		 // nodes2=treeObj.getNodes();
     		    for(var i=0;i<nodes2.length;i++){
     		    	permissions2[i]=nodes2[i].id;   		    	
     		    }
   	  
     		    per2 = permissions2;
     		//添加到per1
     		if(permissions1.length != 0)
     			{
     			for(var i = 0;i<checkper1.length;i++)
     				{
     					for(var j = 0;j<permissions1.length;j++)
     						{
     							if(checkper1[i] == permissions1[j])
     								{
     									break;
     								}
     							else if(j == permissions1.length-1)
     								{
     									per1.push(checkper1[i]);
     								}
     						}
     				}
     			
     			//添加权限2
     			if(permissions2.length == 0)
     				{
     					per2 = permissions1;
     				}
     			else
     				{
     					for(var i = 0;i<permissions1.length;i++)
     						{
     							for(var j = 0;j<permissions2.length;j++)
     								{
     									if(permissions1[i]  == permissions2[j])
     										{
     											break;
     										}
     									else if(j + 1 == permissions2.length)
     										{
     											per2.push(permissions1[i]);
     										}
     								}
     						}
     				}
     			}
     		else
     			{
     				per1 = checkper1;
     				per2 = permissions2;
     			}
    	 
    	 var p1 = per1.join(',');
    	 var p2 = per2.join(',');
    	 savePermissions(pageUId1,p1);
    	 savePermissions(pageUId2,p2);
    	 //initroleandper_R();
    	 //initroleandperR();
    	 //initroleandperL();
      })
      //更新数据库中的人员权限
      	function savePermissions(userId,permissions){
	  	  $.ajax({
	          type: 'POST',
	          url: getContextPath()+'/permissions/updatePermissionsSave',
	          dataType: 'json',
	          data: {
	        	  uId:userId,
	        	  uPermissions:permissions
	          },
	          success: function (json) {
	        	  if(json>0){
		        	  initTable();
	        	  }else{
	        		  toastr.error("修改失败")
	        	  }
	          }
	      });
	}
	//更新数据库中的人员角色
      function updateParentRole(pageUID,personRoles){
    	  var test;
    	  test  = 1+1;
    	$.ajax({
              type: 'POST',
              url: getContextPath()+'/role/updateParentRole',
              dataType: 'json',
              data: {
            	  personId:pageUID,
            	  personRoles:personRoles
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (json) {
            	  var json = json;
              }
          });
      }
	
      //判断a是否在array中
      function isinarray(a,array)
      {
    	  for(var i = 0;i<array.length;i++)
    		  {
    		  	if(a==array[i])
    		  		{
    		  			return true;
    		  		}
    		  }
    	  return false;
      }
      //将ztree中未被选中的节点从树中去除
      function remove_notchecked_children(obj,children)
      {
    	  var zTree = $.fn.zTree.getZTreeObj(obj);
    	  for(var i = 0;i<children.length;i++)
			{
				if(children[i].isParent)
					{
						if(children[i].check_Child_State==0)
							{
							zTree.removeNode(children[i]);
							i--;
							}
						else if(children[i].check_Child_State==1)							
							{
								remove_notchecked_children(obj,children[i].children);
							}
					}
				else
					{
						var ischecked = children[i].getCheckStatus();
						if(typeof(ischecked.checked) == "undefined")
							{
								zTree.removeNode(children[i]);
								i--;
							}
					}				
			}
      }
      //从数组中移除""
      function remove_null(array)
      {
    	  for(var i = 0;i<array.length;i++)
    		  {
    		  	if(array[i] == "")
    		  		{
    		  		array.splice(i,1);
    		  		i--;
    		  		}
    		  }
      }
      //初始化左边人员的权限和角色
      function initroleandper_L()
      {
      	  $(".f-tree").empty();
    	  //pageUId1=undefined;
    	  var options=$("#yuangong0 option:selected");
    	  var userRole = options.attr("data-role");
    	  checkrole1 = userRole.split("_")
    	  //pageUId1 = $("#yuangong0").userId;
            	  var json = roles;
            	  var tree_data = [];      	  
            	  for(var i=0;i<json.length;i++){
            		  var a  = {}
            		  var tf = false;
            		  a.id = json[i].roleCode;
            		  a.pid = json[i].parentRoleCode;
            		  a.title = json[i].roleName;
            		  var array = json[i].nodes;
            		  if(null!=array&&array.length>0){
            			  for(var k in array){
            				  if(isinarray(array[k].roleCode,checkrole1))
            					  {
            					  	if(!tf)
            					  		{
            			        		  tree_data.push(a);
            			        		  tf = true;
            					  		}
                  					  var b  = {}
                					  b.id = array[k].roleCode;
                        			  b.pid = array[k].parentRoleCode;
                        			  b.title = array[k].roleName;
                        			  tree_data.push(b);
            					  }
            			  }
            		  }        		  
            	  }
            	config.tree({
              		type:1,//1有选择框，没有则不传type或传0
              		wrapper:'.f-tree',//容器
              		data:tree_data,//数据
              		check:checkrole1//选中的数据，可以不传
              	});
            	$(".f-treeListWrapper").attr("class","f-treeListWrapper show");
            	$(".f-iconJia").attr("class","f-iconJian");
            	//config.show(tree_data);
            	  tree_data = [];

    	  fzTree = $.fn.zTree.init($("#quanxian1"),setting1, zNodes);  
    	  var options=$("#yuangong0 option:selected"); 	  
    	  var uid = options.attr("data-id");
    	  pageUId1 = uid;	  
    	  $.ajax({
    			type:"POST",
    			url:getContextPath()+"/permissions/getPermissionsByuId",
    			//dataType:"json",
    			async:false,
    			data:{ 
    				uId:uid 
    				},
    			error: function (msg) {
    		        toastr.error("请求失败");
    		        },
    			success:function(str){
    			  	var uPermissions = str;			
    				var zTree = $.fn.zTree.getZTreeObj("quanxian1");//treeDemo界面中加载ztree的div
    				zTree.cancelSelectedNode();//先取消所有的选中状态
    					checkper1=uPermissions.split(',');

    					for(var i=0;i<checkper1.length;i++){
    						var id = checkper1[i]; 
    						var node = zTree.getNodeByParam("id",id);
    						if(node!=null){
    							zTree.checkNode(node,true);//将指定ID的节点选中
    						}
    					} 
    					var nodes = zTree.getNodes();
    					remove_notchecked_children("quanxian1",nodes);
    					
    			}
    		})
      }
      
      //初始化右边角色的角色和权限
      function initroleandper_R()
      {
    	  $(".f2-tree").empty();
    	  //pageUId1=undefined;
    	  var options=$("#yuangong1 option:selected");
    	  var userRole = options.attr("data-role");
    	  checkrole2 = userRole.split("_")
    	  //pageUId1 = $("#yuangong0").userId;
            	  var json = roles;
            	  var tree_data = [];
            	  for(var i=0;i<json.length;i++){
            		  var a  = {}
            		  var tf = false;
            		  a.id = json[i].roleCode;
            		  a.pid = json[i].parentRoleCode;
            		  a.title = json[i].roleName;
            		  var array = json[i].nodes;
            		  if(null!=array&&array.length>0){
            			  for(var k in array){
            				  if(isinarray(array[k].roleCode,checkrole2))
            					  {
            					  	if(!tf)
            					  		{
            			        		  tree_data.push(a);
            			        		  tf = true;
            					  		}
                  					  var b  = {}
                					  b.id = array[k].roleCode;
                        			  b.pid = array[k].parentRoleCode;
                        			  b.title = array[k].roleName;
                        			  tree_data.push(b);
            					  }
            			  }
            		  }
            		  
            	  }
            	config.tree({
              		type:0,//1有选择框，没有则不传type或传0
              		wrapper:'.f2-tree',//容器
              		data:tree_data,//数据
              		check:checkrole2//选中的数据，可以不传
              	});
            	  tree_data = [];
    	  
    	  fzTree = $.fn.zTree.init($("#quanxian2"),setting2, zNodes);
    	  var options=$("#yuangong1 option:selected"); 	  
    	  var uid = options.attr("data-id");
    	  pageUId2 = uid;
    	  
    	  $.ajax({
    			type:"POST",
    			url:getContextPath()+"/permissions/getPermissionsByuId",
    			//dataType:"String",
    			async:false,
    			data:{ 
    				uId:uid 
    				},
    			error: function (msg) {
    		        toastr.error("请求失败");
    		        },
    			success:function(str){
    				//uPermissions = json.toString();
    			  	var uPermissions = str;			
    				var zTree = $.fn.zTree.getZTreeObj("quanxian2");//treeDemo界面中加载ztree的div
    				zTree.cancelSelectedNode();//先取消所有的选中状态
    				//if(uPermissions!=null&&uPermissions!=''){
    					checkper2=uPermissions.split(',');

    					for(var i=0;i<checkper2.length;i++){
    						var id = checkper2[i]; 
    						var node = zTree.getNodeByParam("id",id);
    						if(node!=null){
    							zTree.checkNode(node,true);//将指定ID的节点选中
    							
    						}
    						//zTree.expandNode(node, true, false);//将指定ID节点展开
    					} 
    					var nodes = zTree.getNodes();
    					nodes2  = zTree.getCheckedNodes(true);
    					remove_notchecked_children("quanxian2",nodes);

    					for(var i = 0;i<nodes.length;i++)
    						{
    							zTree.setChkDisabled(nodes[i],true,true,true);
    						}    						
    			}
    		})
      }
   	//datatable中操作按钮响应函数，设置左边人员 
    function exchange(obj)
    {
    	var dom=$(obj).parents("tr");
		var data=$("#mainContent").DataTable().row(dom).data();
    	document.getElementsByName("bumensqry")[0].value=data.omName;
    	bumen1change();
    	document.getElementsByName("yuangong0")[0].value=data.uName;
    	initroleandper_L();
    }
    //初始化角色树
    function initrolebox()
    {
  	  $.ajax({
          type: 'POST',
          url: getContextPath()+'/role/initRoleListById',
          dataType: 'json',
          async:false,
          data: {
          },
          error: function (msg) {
          	toastr.error("请求失败");
          },
          success: function (json) {
        	 roles = json;
          }
      });
    }
</script>
</html>