<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
     <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        body{
        	overflow-y: auto;
        	background: #fff;
        }
        @media screen and (max-width: 1366px) {
		    body {
		        margin-bottom:300px !important;
		    }
		}
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>系统管理</li>
			<li class="active">职务管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <form class="form-inline">
                    <div class="form-group">
                        <span>部门名称:</span>
                        <select id="index_om" style="width:150px;font-size:16px;" class="form-control">
                        </select>
                    </div>
                </form>
            </div>
            <div class="UpperPartR">
                <button type="button" class="btn btn-primary Pmba" onclick="newJob()">新建职务</button>
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建职务</b></h4>
        </div>
        <div class="modal-body">
                <div>
                    <form class="form-inline">
                    <div class="form-group">
                        <span>部门名称:</span>
                        <select id="om_name" style="width:150px;font-size:16px;" class="form-control">
                        </select>
                    </div>
                    </form><br>
                    
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:20%;">岗位职务名称</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="duty_name"></td>
                                <td style="width:20%;"></td>
                                <td style="width:30%;"></td>
                            </tr>
                            <tr>
                            	<td>职位标准</td>
                            	<td>
                            		<select id="duty_norm"  class="form-control">
                            			<option value="职能岗">职能岗</option>
			                            <option value="技术岗">技术岗</option>
			                            <option value="工程岗">工程岗</option>
			                            <option value="营销岗">营销岗</option>
			                            <option value="管理岗">管理岗</option>
                        			</select>
                            	</td>
                            	<td>岗位职务</td>
                                <td>
                               		<select id="job_lv" class="form-control">
                        			</select>
                                </td>
                            </tr>
                            <tr>
                                <td>描述</td>
                                <td colspan="3">
                                    <textarea cols="30" rows="4" class="form-control" id="duty_desc"></textarea>
                                </td>
                            </tr>
                        </table> 
                 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success"  onclick="save()" >保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改职务</b></h4>
        </div>
        <div class="modal-body">
                <div>
                    <form class="form-inline">
                    <div class="form-group">
                        <span>部门名称:</span>
                        <select id="change_om_name" style="width:150px;font-size:16px;" class="form-control">
                        </select>
                    </div>
                    </form><br> 
                   
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:20%;">部门职务名称</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="change_duty_name"></td>
                                <td style="width:20%;"></td>
                                <td style="width:30%;"></td>
                            </tr>
                            <tr>
                            	<td>职位标准</td>
                            	<td>
                            		<select id="duty_norm_edit"  class="form-control">
                            			<option value="职能岗">职能岗</option>
			                            <option value="技术岗">技术岗</option>
			                            <option value="工程岗">工程岗</option>
			                            <option value="营销岗">营销岗</option>
			                            <option value="管理岗">管理岗</option>
                        			</select>
                            	</td>
                            	<td>岗位职务</td>
                                <td>
                               		<select id="job_lv_edit"  class="form-control">
                        			</select>
                                </td>
                            </tr>
                            <tr>
                                <td>描述</td>
                                <td colspan="3">
                                    <textarea cols="30" rows="4" id="change_duty_desc" class="form-control"></textarea>
                                </td>
                            </tr>
                        </table> 
                  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="change_save()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th style="width:20%;">部门职务名称</th>
                        <th style="width:15%;">职位标准</th>
                        <th style="width:20%;">岗位职务</th>
                        <th style="width:30%;">备注</th>
                        <th style="width:15%;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	index_om();
    	initSelect();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "dutyName"}, 
		            { "data": "jobType"}, 
		            { "data": "jobSecond"}, 
		            { "data": "dutyDesc"}, 
		            { "data": null},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 4,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<i class="iconfont icon-xiugai Pmbc" style="font-size:18px;cursor:pointer;display:none;" title="修改" onclick="editDuty(this)"></i>&nbsp<i class="iconfont icon-shanchu Pmbb" style="font-size:18px;cursor:pointer;display:none;" onclick="deleteDuty(this)" title="删除"></i>';
										        }
										  }
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pmbc") >= 0 ){
				                						$(".Pmbc").show();
				                					}
				                					if(arr[i].indexOf("Pmbb") >= 0 ){
				                						$(".Pmbb").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
    function  initSelect(){
    	 $.ajax({
             type: 'POST',
             url: getContextPath()+'/jobc/selectJobByType',
             dataType: 'json',
             data: {
             	type:$("#duty_norm").val()
             },
             error: function (msg) {
             	toastr.error('请求失败');
             },
             success: function (json) {
                 $("#job_lv").html('');
                 for(var i=0;i<json.length;i++){
                	 $("#job_lv").append("<option value='"+json[i].jobId+"'>"+json[i].jobSecond+"</option>");
                 }
             }
         });
    }
    
    
    $("#duty_norm").on("change",function(){
    	 $.ajax({
             type: 'POST',
             url: getContextPath()+'/jobc/selectJobByType',
             dataType: 'json',
             data: {
             	type:$("#duty_norm").val()
             },
             error: function (msg) {
             	toastr.error('请求失败');
             },
             success: function (json) {
                 $("#job_lv").html('');
                 for(var i=0;i<json.length;i++){
                	 $("#job_lv").append("<option value='"+json[i].jobId+"'>"+json[i].jobSecond+"</option>");
                 }
             }
         });
    })
    
    
    function initSelectOnEdit(obj){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/jobc/selectJobByType',
            dataType: 'json',
            data: {
            	type:$("#duty_norm_edit").val()
            },
            error: function (msg) {
            	toastr.error('请求失败');
            },
            success: function (json) {
                $("#job_lv_edit").html('');
                for(var i=0;i<json.length;i++){
               	 $("#job_lv_edit").append("<option value='"+json[i].jobId+"'>"+json[i].jobSecond+"</option>");
                }
                $("#job_lv_edit").val(obj);
            }
        });
    }
    
    
    $("#duty_norm_edit").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/jobc/selectJobByType',
            dataType: 'json',
            data: {
            	type:$("#duty_norm_edit").val()
            },
            error: function (msg) {
            	toastr.error('请求失败');
            },
            success: function (json) {
                $("#job_lv_edit").html('');
                for(var i=0;i<json.length;i++){
               	 $("#job_lv_edit").append("<option value='"+json[i].jobId+"'>"+json[i].jobSecond+"</option>");
                }
            }
        });
    })
    
    function newJob(){
    	$("#om_name").val($("#index_om").val()).attr("disabled","disabled");
    	$("#myModal").modal("show");
    }
    
    $("#index_om").on("change",function(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/duty/selectDutyByOmId',
            dataType: 'json',
            data: {
            	id:$("#index_om").val()
            },
            error: function (msg) {
            	toastr.error("请求失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
                
                $.ajax({
            		type:"post",
            		url:getContextPath()+"/login/getUser",
            		data:{
            		},
            		success:function(json){
            			
            			if(json!=null &&json!=""){
            				var arr = json.uPermissions.split(',');
            				
            				for(var i=0;i<arr.length;i++){
            					var arr2 = arr[i].replace("+","");
            					//console.log(arr2);
            					if(arr[i].indexOf("Pmbc") >= 0 ){
            						$(".Pmbc").show();
            					}
            					if(arr[i].indexOf("Pmbb") >= 0 ){
            						$(".Pmbb").show();
            					}
            				}
            				
            			}
            			
            		}
            	});
                
            }
        });
    });
    

	function save(){
		var omId=$("#om_name").val();
		var dutyName=$("#duty_name").val();
		var jobType=$("#duty_norm").val();
		var jobId=$("#job_lv").val();
		var jobSecond=$("#job_lv option:selected").text();
		var dutyDesc=$("#duty_desc").val();
		if(dutyName==''||jobId==null){
			toastr.error("请检查是否填写完整");
			return;
		}
		
		 $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/duty/addDuty',
	            dataType: 'json',
	            data: {
	            	omId:omId,
	            	dutyName:dutyName,
	            	jobType:jobType,
	            	jobId:jobId,
	            	jobSecond:jobSecond,
	            	dutyDesc:dutyDesc
	            },
	            error: function (msg) {
	            	toastr.error("请求失败");
	            },
	            success: function (json) {
	                if(json.result==0){
	                	toastr.error('新建失败');
	                }else if(json.result==1){
	                	 $('#mainContent').DataTable().row.add(json.duty).draw(false);     //新增行立即显示
	                	 toastr.success('新建成功');
	                	 $('#myModal').modal('hide');
	                }else if(json.result==2){
	                	toastr.error('部门职务名称重复');
	                }
	               
	            }
	        });
	}
	
	
	var dutyId;
	var dom;
	function editDuty(obj){
		dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		dutyId=data.dutyId;
		$("#change_om_name").val(data.omId).attr("disabled","disabled");
		$("#change_duty_name").val(data.dutyName);
		$("#duty_norm_edit").val(data.jobType);
		 initSelectOnEdit(data.jobId);
		$("#change_duty_desc").text(data.dutyDesc);
		$('#change').modal('show');
	}
	
	function change_save(){
		var omId=$("#change_om_name").val();
		var dutyName=$("#change_duty_name").val();
		var jobType=$("#duty_norm_edit").val();
		var jobId=$("#job_lv_edit").val();
		var jobSecond=$("#job_lv_edit option:selected").text();
		var dutyDesc=$("#change_duty_desc").val();
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/duty/updateDutyById',
            dataType: 'json',
            data: {
            	dutyId:dutyId,
            	omId:omId,
            	dutyName:dutyName,
            	jobType:jobType,
            	jobId:jobId,
            	jobSecond:jobSecond,
            	dutyDesc:dutyDesc
            },
            error: function (msg) {
            	toastr.error("请求失败");
            },
            success: function (json) {
                if(json.result==0){
                	 toastr.error('修改失败');
                }else if(json.result==1){
                	$('#mainContent').DataTable().row(dom).data(json.duty);  //修改显示
               	 	toastr.success('修改成功');
               	 	$('#change').modal('hide');
                }else if(json.result==2){
                	 toastr.error('部门职务名称重复');
                }
                
            }
        });
	}
	
	function index_om(){
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/organizationManagement/getOrgIdAndName',
            dataType: 'json',
            data: {

            },
            error: function (msg) {
            	toastr.error("请求失败");
            },
            success: function (json) {
                for(var i=0;i<json.length;i++){
                	$("#index_om").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#change_om_name").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                	$("#om_name").append("<option value="+json[i].omId+">"+json[i].omName+"</option>")
                }
                $("#index_om").trigger("change");
            }
		});
	}
	
	function deleteDuty(obj){
		var dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		var dutyId=data.dutyId;
		$.SmartMessageBox({
            title: "删除提示",
            content: "确认删除？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
        	if (ButtonPressed === "确定") {
        		myTool.mask.show('删除中...');
        		$.ajax({
    	            type: 'POST',
    	            url: getContextPath()+'/duty/deleteDutyById',
    	            dataType: 'json',
    	            data: {
    	            	id:dutyId
    	            },
    	            error: function (msg) {
    	            	toastr.error("请求失败");
    	            },
    	            success: function (json) {
						myTool.mask.hide();
    	                if(json>0){
    	                	$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
    	                	 toastr.success('删除成功');
    	                }else{
    	                	 toastr.error('删除失败');
    	                }
    	            }
    	        });
        	    	
        	}
        });
		 
	}
	
    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex; 
    }

</script>
</html>