<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">人员用户管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                
            </div>
            <div class="UpperPartR">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建</button>
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                    <table class="table table-bordered table-condensed">
	                    	<thead>
	                        	<tr>
	                        		<th colspan="4">用户管理</th>
	                        	</tr>
	                        </thead>
	                        <tbody>
	                        <tr>
	                        	<td style="width:20%;">用户名称</td>
                                <td style="width:30%;">
                                    <input type="text" class="form-control" id="name" style="width:70%;">
                                </td>
                                <td style="width:20%;">密码口令</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="pwd" style="width:70%;"></td>
	                        </tr>
	                        </tbody>
                    </table>
                        <table class="table table-bordered table-condensed">
                        <thead>
                        	<tr>
                        		<th colspan="4">人员管理</th>
                        	</tr>
                        </thead>
                        <tbody>
                        	<tr>
                                <td style="width:20%;">工号</td>
                                <td style="width:30%;">
                                    <input type="text" class="form-control" id="gonghao" style="width:70%;">
                                </td>
                                <td style="width:20%;">档案号</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="danganhao" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td><input type="text" class="form-control" id="xingming" style="width:70%;"></td>
                                <td>性别</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="sex">
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>出生日期</td>
                                <td><input type="text" class="form-control" id="year" style="width:70%;"></td>
                                <td>民族</td>
                                <td><input type="text" class="form-control" id="mingzu" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>婚姻状况</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="marry">
                                        <option>已婚</option>
                                        <option>未婚</option>
                                    </select>
                                </td>
                                <td>政治面貌</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="zhengzhi">
                                        <option>群众</option>
                                        <option>党员</option>
                                        <option>民主人士</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>入职时间</td>
                                <td><input type="text" class="form-control" id="year2" style="width:70%;"></td>
                                <td>身份证号</td>
                                <td><input type="text" class="form-control" id="shenfenzheng" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>家庭住址</td>
                                <td><input type="text" class="form-control" id="dizhi" style="width:70%;"></td>
                                <td>邮政编码</td>
                                <td><input type="text" class="form-control" id="youzheng" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td><input type="text" class="form-control" id="phone" style="width:70%;"></td>
                                <td>邮箱</td>
                                <td><input type="text" class="form-control" id="email" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>文化程度</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="wenhua">
                                        <option>初中</option>
                                        <option>高中</option>
                                        <option>大专</option>
                                        <option>大学本科</option>
                                        <option>硕士研究生</option>
                                        <option>博士研究生</option>
                                    </select>
                                </td>
                                <td>毕业学校</td>
                                <td><input type="text" class="form-control" id="school" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>所学专业</td>
                                <td><input type="text" class="form-control" id="zhuanye" style="width:70%;"></td>
                                <td>毕业时间</td>
                                <td><input type="text" class="form-control" id="year3" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>所属公司部门</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="bumen">
                                    
                                    </select>
                                </td>
                                <td>岗位职务</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="gangwu">
                                        <option>职能岗</option>
                                        <option>技术岗</option>
                                        <option>工程岗</option>
                                        <option>营销岗</option>
                                        <option>管理岗</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>职称</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="zhicheng">
                                    </select>
                                </td>
                                <td>具有行业相关证书</td>
                                <td><input type="text" class="form-control" id="zhengshu" style="width:70%;"></td>
                            </tr>
                            <tr>
                            	<td>人员证书等级</td>
                            	<td>
	                            	<select style="width:70%;" class="form-control" id="zhengshuGrade">
                                        <option>一级</option>
                                        <option>二级</option>
                                    </select>
                            	</td>
                            </tr>
                        </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success"  onclick="addrenwudan()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
	                    	<thead>
	                        	<tr>
	                        		<th colspan="4">用户管理</th>
	                        	</tr>
	                        </thead>
	                        <tbody>
	                        <tr>
	                        	<td style="width:20%;">用户名称</td>
                                <td style="width:30%;">
                                    <input type="text" class="form-control" id="xgname" style="width:70%;">
                                </td>
                                <td style="width:20%;">密码口令</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="xgpwd" style="width:70%;"></td>
	                        </tr>
	                        </tbody>
                    </table>
                        <table class="table table-bordered table-condensed">
                        <thead>
                        	<tr>
                        		<th colspan="4">人员管理</th>
                        	</tr>
                        </thead>
                        <tbody>
                        	<tr>
                                <td style="width:20%;">工号</td>
                                <td style="width:30%;">
                                    <input type="text" class="form-control" id="xggonghao" style="width:70%;">
                                </td>
                                <td style="width:20%;">档案号</td>
                                <td style="width:30%;"><input type="text" class="form-control" id="xgdanganhao" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td><input type="text" class="form-control" id="xgxingming" style="width:70%;"></td>
                                <td>性别</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgsex">
                                        <option >男</option>
                                        <option>女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>出生日期</td>
                                <td><input type="text" class="form-control" id="xgyear" style="width:70%;"></td>
                                <td>民族</td>
                                <td><input type="text" class="form-control" id="xgmingzu" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>婚姻状况</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgmarry">
                                        <option>已婚</option>
                                        <option>未婚</option>
                                    </select>
                                </td>
                                <td>政治面貌</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgzhengzhi">
                                        <option >群众</option>
                                        <option >党员</option>
                                        <option>民主人士</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>入职时间</td>
                                <td><input type="text" class="form-control" id="xgyear2" style="width:70%;"></td>
                                <td>身份证号</td>
                                <td><input type="text" class="form-control" id="xgshenfenzheng" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>家庭住址</td>
                                <td><input type="text" class="form-control" id="xgdizhi" style="width:70%;"></td>
                                <td>邮政编码</td>
                                <td><input type="text" class="form-control" id="xgyouzheng" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td><input type="text" class="form-control" id="xgphone" style="width:70%;"></td>
                                <td>邮箱</td>
                                <td><input type="text" class="form-control" id="xgemail" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>文化程度</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgwenhua">
                                        <option >初中</option>
                                        <option >高中</option>
                                        <option>大专</option>
                                        <option>大学本科</option>
                                        <option >硕士研究生</option>
                                        <option >博士研究生</option>
                                    </select>
                                </td>
                                <td>毕业学校</td>
                                <td><input type="text" class="form-control" id="xgschool" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>所学专业</td>
                                <td><input type="text" class="form-control" id="xgzhuanye" style="width:70%;"></td>
                                <td>毕业时间</td>
                                <td><input type="text" class="form-control" id="xgyear3" style="width:70%;"></td>
                            </tr>
                            <tr>
                                <td>所属公司部门</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgbumen">
                                    
                                    </select>
                                </td>
                                <td>岗位职务</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xggangwu">
                                   		<option>职能岗</option>
                                        <option>技术岗</option>
                                        <option>工程岗</option>
                                        <option>营销岗</option>
                                        <option>管理岗</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>职称</td>
                                <td>
                                    <select style="width:70%;" class="form-control" id="xgzhicheng">
                                    </select>
                                </td>
                                <td>具有行业相关证书</td>
                                <td><input type="text" class="form-control" id="xgzhengshu" style="width:70%;"></td>
                            </tr>
                            <tr>
                            	<td>人员证书等级</td>
                            	<td>
	                            	<select style="width:70%;" class="form-control" id="xgzhengshuGrade">
                                        <option>一级</option>
                                        <option>二级</option>
                                    </select>
                            	</td>
                            	<td></td>
                            	<td></td>
                            </tr>
                        </tbody>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success"  onclick="checkxiugai()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>档案号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>出生日期</th>
                        <th>民族</th>
                        <th>联系电话</th>
                        <th>所学专业</th>
                        <th>岗位职务</th>
                        <th style="width:80px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                <table class="table table-bordered table-condensed">
	                    	<thead>
	                        	<tr>
	                        		<th colspan="4">用户管理</th>
	                        	</tr>
	                        </thead>
	                        <tbody>
	                        <tr>
	                        	<td style="width:100px;">用户名称</td>
                                <td id="lookname"></td>
                                <td>密码口令</td>
                                <td id="lookpwd"></td>
	                        </tr>
	                        </tbody>
                    </table>
                        <table class="table table-bordered table-condensed">
                        <thead>
                        	<tr>
                        		<th colspan="4">人员管理</th>
                        	</tr>
                        </thead>
                        <tbody>
                        	<tr>
                                <td style="width:100px;">工号</td>
                                <td id="lookgonghao"></td>
                                <td style="width:100px;">档案号</td>
                                <td id="lookdanganhao"></td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td id="lookxingming"></td>
                                <td>性别</td>
                                <td id="looksex"></td>
                            </tr>
                            <tr>
                                <td>出生日期</td>
                                <td id="lookyear"></td>
                                <td>民族</td>
                                <td id="lookmingzu"></td>
                            </tr>
                            <tr>
                                <td>婚姻状况</td>
                                <td id="lookmarry"></td>
                                <td>政治面貌</td>
                                <td id="lookzhengzhi"></td>
                            </tr>
                            <tr>
                                <td>入职时间</td>
                                <td id="lookyear2"></td>
                                <td>身份证号</td>
                                <td id="lookshenfenzheng"></td>
                            </tr>
                            <tr>
                                <td>家庭住址</td>
                                <td id="lookdizhi"></td>
                                <td>邮政编码</td>
                                <td id="lookyouzheng"></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td id="lookphone"></td>
                                <td>邮箱</td>
                                <td id="lookemail"></td>
                            </tr>
                            <tr>
                                <td>文化程度</td>
                                <td id="lookwenhua"></td>
                                <td>毕业学校</td>
                                <td id="lookschool"></td>
                            </tr>
                            <tr>
                                <td>所学专业</td>
                                <td id="lookzhuanye"></td>
                                <td>毕业时间</td>
                                <td id="lookyear3"></td>
                            </tr>
                            <tr>
                                <td>所属公司部门</td>
                                <td id="lookbumen"></td>
                                <td>岗位职务</td>
                                <td id="lookgangwu"></td>
                            </tr>
                            <tr>
                                <td>职称</td>
                                <td id="lookzhicheng"></td>
                                <td>具有行业相关证书</td>
                                <td id="lookzhengshu"></td>
                            </tr>
                            <tr>
                            	<td>人员证书等级</td>
                            	<td id="lookzhengshuGrade"></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                        </tbody>
                        </table> 
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
    	leixingSelect();
    	laydate.render({
            elem: '#year' //指定元素
        });
        laydate.render({
            elem: '#year2' //指定元素
        });
        laydate.render({
            elem: '#year3' //指定元素
        });
        laydate.render({
            elem: '#xgyear' //指定元素
        });
        laydate.render({
            elem: '#xgyear2' //指定元素
        });
        laydate.render({
            elem: '#xgyear3' //指定元素
        });
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "workId"},
		            { "data": "recordNo"}, 
		            { "data": "uName"}, 
		            { "data": "sex"}, 
		            { "data": "birthday"}, 
		            { "data": "nation"}, 
		            { "data": "phoneNo"}, 
		            { "data": "specialty"}, 
		            { "data": "dutyName"}, 
		            { "data": null},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 9,
										    "searchable": true,
										    "render": function(data, type, full) {
										  	  		return '<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1" id="lookDetall"></i>   <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" data-target="#change" id="Changedanwei"></i>   <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除" id="delOrg"></i>'
										        }
										  }
								],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectAllUser',
            dataType: 'json',
            data: {
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	 //初始化所属公司部门
    function leixingSelect(){
	    $.ajax({
	        type: 'POST',
	        url: getContextPath()+'/organizationManagement/getAllOrganizationManagement',
	        dataType: 'json',
	        data: {
	           
	        },
	        success: function (json) {
	        	//console.log(json)
	        	 for(var i=0;i<json.length;i++){
	        		$("#bumen").append( "<option value='" + json[i].omId + "'>"
		                    + json[i].omName + "</option>");
	        		$("#xgbumen").append( "<option value='" + json[i].omId + "'>"
		                    + json[i].omName + "</option>");
	        	} 
	        	$("#bumen").trigger('change');
	        	$("#xgbumen").trigger('change');
	        }
	    });
	}
	 //初始化职称
	 $("#bumen").change(function(){
		 var bumen=$("#bumen").children('option:selected').val();
		 var jobType=$("#gangwu").find('option:selected').val();
		 $.ajax({
			 type:"POST",
			 url:getContextPath()+"/duty/selectDutyByOmIdAndJobType",
			 dataType:"json",
			 async:false,
			 data:{
				 omId:bumen,
				 jobType:jobType
			 },
			 success:function(json){
				 $("#zhicheng").empty();
				 for(var i=0;i<json.length;i++){
					 $("#zhicheng").append("<option value='"+json[i].dutyId+"'>"+json[i].dutyName+"</option>")
				 }
			 }
		 })
	 })
	 
	 function  initSelectByEdit(obj1,obj2,obj3){
		 $.ajax({
			 type:"POST",
			 url:getContextPath()+"/duty/selectDutyByOmIdAndJobType",
			 dataType:"json",
			 async:false,
			 data:{
				 omId:obj1,
				 jobType:obj2
			 },
			 success:function(json){
				 $("#xgzhicheng").empty();
				 for(var i=0;i<json.length;i++){
					 $("#xgzhicheng").append("<option value='"+json[i].dutyId+"'>"+json[i].dutyName+"</option>")
				 }
				 $("#xgzhicheng").val(obj3);
			 }
		 })
	 }
	 
	 
	 
	 
	 $("#gangwu").change(function(){
		 var bumen=$("#bumen").children('option:selected').val();
		 var jobType=$("#gangwu").find('option:selected').val();
		 $.ajax({
			 type:"POST",
			 url:getContextPath()+"/duty/selectDutyByOmIdAndJobType",
			 dataType:"json",
			 async:false,
			 data:{
				 omId:bumen,
				 jobType:jobType
			 },
			 success:function(json){
				 $("#zhicheng").empty();
				 for(var i=0;i<json.length;i++){
					 $("#zhicheng").append("<option value='"+json[i].dutyId+"'>"+json[i].dutyName+"</option>")
				 }
			 }
		 })
	 })
	 $("#xgbumen").change(function(){
		 var bumen=$("#xgbumen").children('option:selected').val();
		 var jobType=$("#xggangwu").find('option:selected').val();
		 $.ajax({
			 type:"POST",
			 url:getContextPath()+"/duty/selectDutyByOmIdAndJobType",
			 dataType:"json",
			 async:false,
			 data:{
				 omId:bumen,
				 jobType:jobType
			 },
			 success:function(json){
				 $("#xgzhicheng").empty();
				 for(var i=0;i<json.length;i++){
					 $("#xgzhicheng").append("<option value='"+json[i].dutyId+"'>"+json[i].dutyName+"</option>")
				 }
			 }
		 })
	 })
	 $("#xggangwu").change(function(){
		 var bumen=$("#xgbumen").children('option:selected').val();
		 var jobType=$("#xggangwu").find('option:selected').val();
		 $.ajax({
			 type:"POST",
			 url:getContextPath()+"/duty/selectDutyByOmIdAndJobType",
			 dataType:"json",
			 async:false,
			 data:{
				 omId:bumen,
				 jobType:jobType
			 },
			 success:function(json){
				 $("#xgzhicheng").empty();
				 for(var i=0;i<json.length;i++){
					 $("#xgzhicheng").append("<option value='"+json[i].dutyId+"'>"+json[i].dutyName+"</option>")
				 }
			 }
		 })
	 })
  //添加人员
    function addrenwudan(){
    	
    	    var name=$("#name").val();
	    	var pwd=$("#pwd").val();
    		var gonghao=$("#gonghao").val();
        	var danganhao=$("#danganhao").val();
        	var xingming=$("#xingming").val();
        	var sex=$("#sex").find("option:selected").val();
        	var year=$("#year").val();
        	var mingzu=$("#mingzu").val();
        	var marry=$("#marry").find("option:selected").val();
        	var zhengzhi=$("#zhengzhi").find("option:selected").val();
        	var year2=$("#year2").val();
        	var shenfenzheng=$("#shenfenzheng").val();
        	var dizhi=$("#dizhi").val();
        	var youzheng=$("#youzheng").val();
        	var phone=$("#phone").val();
        	var email=$("#email").val();
        	var wenhua=$("#wenhua").find("option:selected").val();
        	var school=$("#school").val();
        	var zhuanye=$("#zhuanye").val();
        	var year3=$("#year3").val();
        	var bumen=$("#bumen").val();
        	var gangwu=$("#gangwu").find("option:selected").val();
        	var zhicheng=$("#zhicheng").val();
        	var zhengshu=$("#zhengshu").val();
        	var zhengshuGrade=$("#zhengshuGrade").val();
        	var reg=/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
    	    if(name==''){
        		toastr.error("用户名为空");
        		return;
        	}
	    	if(pwd==''){
        		toastr.error("用户口令为空");
        		return;
        	}
    		if(gonghao==''){
        		toastr.error("工号为空");
        		return;
        	}
        	if(danganhao==''){
        		toastr.error("档案号为空");
        		return;
        	}
        	if(xingming==''){
        		toastr.error("姓名为空");
        		return;
        	}
        	if(year==''){
        		toastr.error("出生年月为空");
        		return;
        	}
        	if(mingzu==''){
        		toastr.error("民族为空");
        		return;
        	}
        	if(year2==''){
        		toastr.error("入职时间为空");
        		return;
        	}
        	if(shenfenzheng==''){
        		toastr.error("身份证号为空");
        		return;
        	}
        	if(dizhi==''){
        		toastr.error("家庭地址为空");
        		return;
        	}
        	if(youzheng==''){
        		toastr.error("邮政编码为空");
        		return;
        	}
        	if(phone==''){
        		toastr.error("联系电话为空");
        		return;
        	}
        	if(!reg.test(email)){
        		toastr.error("邮箱格式不正确");
        		return;
        	}
        	if(email==''){
        		toastr.error("邮箱为空");
        		return;;
        	}
        	if(school==''){
        		toastr.error("毕业学校为空");
        		return;
        	}
        	if(zhuanye==''){
        		toastr.error("专业为空");
        		return;
        	}
        	if(year3==''){
        		toastr.error("毕业时间为空");
        		return;
        	}
        	if(zhengshu==''){
        		toastr.error("行业相关证书为空");
        		return;
        	} 
        	
        	var addJson={
        			"workId":gonghao,
        			"recordNo":danganhao,
        			"uName":xingming,
        			"sex":sex,
        			"birthday":year,
        			"nation":mingzu,
        			"phoneNo":phone,
        			"specialty":zhuanye,
        			"dutyName":gangwu,
        			"omId":bumen,
        	}
    	 
    	      $.ajax({
	            type: 'POST',
	            url: getContextPath()+'/user/addUser',
	            dataType: 'json',
	            data: {
	            	userId:null,
	            	username:name,
	            	password:pwd,
	            	workId:gonghao,
	            	recordNo:danganhao,
	            	uName:xingming,
	            	sex:sex,
	            	birthday:year,
	            	nation:mingzu,
	            	marriage:marry,
	            	politicalStatus:zhengzhi,
	            	entryTime:year2,
	            	cardId:shenfenzheng,
	            	address:dizhi,
	            	postalCode:youzheng,
	            	phoneNo:phone,
	            	email:email,
	            	diploma:wenhua,
	            	school:school,
	            	specialty:zhuanye,
	            	graduationTime:year3,
	            	omId:bumen,
	            	dutyName:gangwu,
	            	dutyId:zhicheng,
	            	certificate:zhengshu,
	            	certificateGrade:zhengshuGrade,
		        },
	            success: function (json) {
	            	if(json.result==0){
	            		toastr.error("添加失败");
	            	}else if(json.result==1){
	            		//location.reload([true]);
		            	$('#mainContent').DataTable().row.add(json.user).draw(false);     //新增行立即显示
	            		toastr.success("添加成功");
		            	$("#myModal").modal('hide');
	            	}else if(json.result==2){
	            		toastr.error("用户名已存在");
	            		return false;
	            	}else if(json.result==3){
	            		toastr.error("工号已存在");
	            		return false;
	            	}else if(json.result==4){
	            		toastr.error("档案号已存在");
	            		return false;
	            	}
	            }
	        });
    
    	}
  
  //删除
    $('#mainContent').delegate('#delOrg','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
  		//console.log(data)
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url: getContextPath()+'/user/deleteUser',
	                    dataType: 'json',
	                    data: {
	                    	userId:data.userId
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		 toastr.error('删除失败');
	                    	}
	                    }
	                });
	        	    	
	        	}
	        });
		
	})
	//查看单个具体信息
  	$('#mainContent').delegate('#lookDetall','click', function () {
  		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
  		//console.log(data)
  		var zhongwenbumen;
		 $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectUserById',
            dataType: 'json',
            data: {
            	userId:data.userId
            },
            success: function (json) {
            	//console.log(json)
            	$("#lookname").text(json.username);
            	$("#lookpwd").text(json.password);
            	$("#lookgonghao").text(json.workId);
            	$("#lookdanganhao").text(json.recordNo);
            	$("#lookxingming").text(json.uName);
            	$("#looksex").text(json.sex);
            	$("#lookyear").text(json.birthday);
            	$("#lookmingzu").text(json.nation);
            	$("#lookmarry").text(json.marriage);
            	$("#lookzhengzhi").text(json.politicalStatus);
            	$("#lookyear2").text(json.entryTime);
            	$("#lookshenfenzheng").text(json.cardId);
            	$("#lookdizhi").text(json.address);
            	$("#lookyouzheng").text(json.postalCode);
            	$("#lookphone").text(json.phoneNo);
            	$("#lookemail").text(json.email);
            	$("#lookwenhua").text(json.diploma);
            	$("#lookschool").text(json.school);
            	$("#lookzhuanye").text(json.specialty);
            	$("#lookyear3").text(json.graduationTime);
            	zhongwenbumen=json.omId;
            	$("#lookgangwu").text(json.dutyName);
            	/* $("#lookzhicheng").text(json.dutyId); */
            	$("#lookzhengshu").text(json.certificate);
            	$("#lookzhengshuGrade").text(json.certificateGrade);
            	
            	$.ajax({
    		        type: 'POST',
    		        url: getContextPath()+'/organizationManagement/getOrgNameById',
    		        dataType: 'json',
    		        data: {
    		        	omId:zhongwenbumen
    		        },
    		        success: function (json) {
    		        	//console.log(json)
    		        	$("#lookbumen").text(json.omName)
    		        }
    		    });
            	$.ajax({
    		        type: 'POST',
    		        url: getContextPath()+'/duty/selectDutyBydutyId',
    		        dataType: 'json',
    		        data: {
    		        	dutyId:json.dutyId
    		        },
    		        success: function (data) {
    		        	//console.log(json)
    		        	$("#lookzhicheng").text(data.dutyName)
    		        }
    		    });
            	
            }
        }); 
		    
			
  	})
  	

  	//修改
  	var xiugaiid;
    var xgzhongwenbumen;
    var tr;
  	$('#mainContent').delegate('#Changedanwei','click', function () {
  		tr = $(this).closest('tr');
  		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		xiugaiid=data.userId;
		$.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectUserById',
            dataType: 'json',
            data: {
            	userId:data.userId
            },
            success: function (json) {
            	//console.log(json)
            	$("#xgname").val(json.username);
            	$("#xgpwd").val(json.password);
            	$("#xggonghao").val(json.workId);
            	$("#xgdanganhao").val(json.recordNo);
            	$("#xgxingming").val(json.uName);
            	$("#xgsex").val(json.sex);
            	$("#xgyear").val(json.birthday);
            	$("#xgmingzu").val(json.nation);
            	$("#xgmarry").val(json.marriage);
            	$("#xgzhengzhi").val(json.politicalStatus);
            	$("#xgyear2").val(json.entryTime);
            	$("#xgshenfenzheng").val(json.cardId);
            	$("#xgdizhi").val(json.address);
            	$("#xgyouzheng").val(json.postalCode);
            	$("#xgphone").val(json.phoneNo);
            	$("#xgemail").val(json.email);
            	$("#xgwenhua").val(json.diploma);
            	$("#xgschool").val(json.school);
            	$("#xgzhuanye").val(json.specialty);
            	$("#xgyear3").val(json.graduationTime);
            	$("#xgbumen").val(json.omId);
            	xgzhongwenbumen=json.omId;
            	$("#xggangwu").val(json.dutyName);
            	/* $("#xgzhicheng").val(json.dutyId); */
            	
            	
            	initSelectByEdit(json.omId,json.dutyName,json.dutyId);
            	
            	
            	$("#xgzhengshu").val(json.certificate);
            	$("#xgzhengshuGrade").val(json.certificateGrade);
            	
            }
        }); 
  	})
  	function checkxiugai(){
  		var name=$("#xgname").val();
    	var pwd=$("#xgpwd").val();
		var gonghao=$("#xggonghao").val();
    	var danganhao=$("#xgdanganhao").val();
    	var xingming=$("#xgxingming").val();
    	var sex=$("#xgsex").find("option:selected").val();
    	var year=$("#xgyear").val();
    	var mingzu=$("#xgmingzu").val();
    	var marry=$("#xgmarry").find("option:selected").val();
    	var zhengzhi=$("#xgzhengzhi").find("option:selected").val();
    	var year2=$("#xgyear2").val();
    	var shenfenzheng=$("#xgshenfenzheng").val();
    	var dizhi=$("#xgdizhi").val();
    	var youzheng=$("#xgyouzheng").val();
    	var phone=$("#xgphone").val();
    	var email=$("#xgemail").val();
    	var wenhua=$("#xgwenhua").find("option:selected").val();
    	var school=$("#xgschool").val();
    	var zhuanye=$("#xgzhuanye").val();
    	var year3=$("#xgyear3").val();
    	var bumen=$("#xgbumen").val();
    	var gangwu=$("#xggangwu").find("option:selected").val();
    	var zhicheng=$("#xgzhicheng").find("option:selected").val();
    	var zhengshu=$("#xgzhengshu").val();
    	var zhengshuGrade=$("#xgzhengshuGrade").val();
    	var reg=/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
    	if(name==''){
    		toastr.error("用户名为空");
    		return;
    	}
    	if(pwd==''){
    		toastr.error("用户口令为空");
    		return;
    	}
		if(gonghao==''){
    		toastr.error("工号为空");
    		return;
    	}
    	if(danganhao==''){
    		toastr.error("档案号为空");
    		return;
    	}
    	if(xingming==''){
    		toastr.error("姓名为空");
    		return;
    	}
    	if(year==''){
    		toastr.error("出生年月为空");
    		return;
    	}
    	if(mingzu==''){
    		toastr.error("民族为空");
    		return;
    	}
    	if(year2==''){
    		toastr.error("入职时间为空");
    		return;
    	}
    	if(shenfenzheng==''){
    		toastr.error("身份证号为空");
    		return;
    	}
    	if(dizhi==''){
    		toastr.error("家庭地址为空");
    		return;
    	}
    	if(youzheng==''){
    		toastr.error("邮政编码为空");
    		return;
    	}
    	if(!reg.test(email)){
    		toastr.error("邮箱格式不正确");
    		return;
    	}
    	if(phone==''){
    		toastr.error("联系电话为空");
    		return;
    	}
    	if(email==''){
    		toastr.error("邮箱为空");
    		return;
    	}
    	if(school==''){
    		toastr.error("毕业学校为空");
    		return;
    	}
    	if(zhuanye==''){
    		toastr.error("专业为空");
    		return;
    	}
    	if(year3==''){
    		toastr.error("毕业时间为空");
    		return;
    	}
    	if(zhengshu==''){
    		toastr.error("行业相关证书为空");
    		return;
    	} 
    	//console.log(bumen)
    	var addJson={
	        	"userId":xiugaiid,		
	    		"workId":gonghao,
	        	"recordNo":danganhao,
	        	"uName":xingming,
	        	"sex":sex,
	        	"birthday":year,
	        	"nation":mingzu,
	        	"phoneNo":phone,
	        	"specialty":zhuanye,
	        	"dutyName":gangwu,
	        	"omId":bumen,
        	}
    	 $.ajax({
	        type: 'POST',
	        url: getContextPath()+'/user/updateUser',
	        dataType: 'json',
	        data: {
	        	userId:xiugaiid,
            	username:name,
            	password:pwd,
            	workId:gonghao,
            	recordNo:danganhao,
            	uName:xingming,
            	sex:sex,
            	birthday:year,
            	nation:mingzu,
            	marriage:marry,
            	politicalStatus:zhengzhi,
            	entryTime:year2,
            	cardId:shenfenzheng,
            	address:dizhi,
            	postalCode:youzheng,
            	phoneNo:phone,
            	email:email,
            	diploma:wenhua,
            	school:school,
            	specialty:zhuanye,
            	graduationTime:year3,
            	omId:bumen,
            	dutyName:gangwu,
            	dutyId:zhicheng,
            	certificate:zhengshu,
            	certificateGrade:zhengshuGrade,
	        },
	        success: function (json) {
	        	//console.log(json)
	        	if(json.result==0){
            		toastr.error("修改失败");
            		return false;
            	}else if(json.result==1){
            		//location.reload([true]);
	            	 //$('#mainContent').DataTable().row.add(json).draw(false);     //新增行立即显示
            		toastr.success("修改成功");
	            	$("#change").modal('hide')
	            	$('#mainContent').DataTable().row(tr).data(json.user);//修改行立即显示
	            	//initTable();
            	}else if(json.result==2){
            		toastr.error("用户名已存在");
            		return false;
            	}else if(json.result==3){
            		toastr.error("工号已存在");
            		return false;
            	}else if(json.result==4){
            		toastr.error("档案号已存在");
            		return false;
            	}
	        }
	    }); 
    	
    	
  	}
  	
  	
  	
  	
</script>
</html>