<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link rel="stylesheet" href="../../select/css/select2.min.css">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <style lang="">
        *{
            font-size: 16px;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">流程定置管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="tab-content">
            <div class="UpperPart">
                <div class="UpperPartL">
                    
                </div>
                <div class="UpperPartR" style="margin-top:12px;">
                    <button type="button" class="btn btn-primary Pmga" data-toggle="modal" data-target="#myModal">新建流程管理</button>
                </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建流程管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>流程名称</td>
                                <td><input type="text" class="form-control" id="flowName" style="width:80%;"></td>
                                <td>流程编号</td>
                                <td><input type="text" class="form-control" id="flowCode" disabled style="width:80%;"></td>
                            </tr>
                            <tr>
                                <td>流程描述</td>
                                <td colspan="3">
                                    <textarea cols="50" rows="4" class="form-control" id="flowMemo"></textarea>
                                </td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="saveFlowTmp">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>流程名称</td>
                                <td><input type="text" class="form-control" id="updateFlowTmpName"></td>
                                <td>流程编号</td>
                                <td><input type="text" class="form-control" id="updateFlowTmpId" disabled></td>
                            </tr>
                            <tr>
                                <td>流程描述</td>
                                <td colspan="3">
                                    <textarea cols="50" rows="4" class="form-control" id="updateFlowTmpMemo"></textarea>
                                </td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="updateFlowTmpSave">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

<!-- Modal步骤 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建步骤管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>步骤名称</td>
                                <td><input type="text" class="form-control" id="floNodeName" style="width:80%;"></td>
                                <td>步骤编码</td>
                                <td><input type="text" class="form-control" id="floNodeCode" placeholder="自动生成" disabled style="width:80%;"></td>
                            </tr>
                            <tr>
                           		<td>上一步</td>
                                <td>
                                		<select class="form-control" style="width:80%;" id="flowNodes" style="width:80%;">
	                                        <option value="">1</option>
	                                        <option value="">2</option>
	                                    </select>
                                </td>
                                <td>步骤的角色</td>
                                <td>
                                    <select style="width:80%;" class="combox" id="sel_productTag" name="tagId" multiple >
	                                       <optgroup>
												<option value="kakaxi">卡卡西</option>
												<option value="mingren">鸣人</option>
												<option value="zuozhu">佐助</option>
												<option value="xiaoying">小樱</option>
											</optgroup>
                                    </select>
                                </td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="savaFloNode">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model步骤结束 -->
<!-- Modal步骤修改 -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改步骤管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>步骤名称</td>
                                <td><input type="text" class="form-control" id="xgFloNodeName" style="width:80%;"></td>
                                <td>步骤编码</td>
                                <td><input type="text" class="form-control" id="xgFloNodeId" disabled style="width:80%;"></td>
                            </tr>
                            <tr>
                           		<td>上一步</td>
                                <td>
                                		<select class="form-control" style="width:80%;" id="xgFlowNodes">
	                                        <option value="">1</option>
	                                        <option value="">2</option>
	                                    </select>
                                </td>
                                <td>步骤的角色</td>
                                <td>
                                    <select style="width:80%;" class="combox" id="xgsel_productTag" name="xgtagId" multiple>
	                                       <optgroup>
												<option value="kakaxi">卡卡西</option>
												<option value="mingren">鸣人</option>
												<option value="zuozhu">佐助</option>
												<option value="xiaoying">小樱</option>
											</optgroup>
                                    </select>
                                </td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="saveUpdateFloNode">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model步骤修改结束 -->
                
            </div>
            <div class="LowerPart" style="margin-top:3px;">
                <table class="table table-bordered table-condensed" id="mainContent2">
                    <thead>
                        <tr>
                            <th style="width:100px;"></th>
                            <th>流程编号</th>
                            <th>流程名称</th>
                            <th>流程描述</th>
                            <th style="width:150px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>   
                </table>
            </div>
        </div>
    </div>

        
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../select/js/select2.js"></script>
<script src="../../toastr/toastr.js"></script>
<script>
    $(document).ready( function () {
        $('#editable-select').editableSelect({ 
            effects: 'slide' 
        });
          initTable();  
          
          //select2 多选
          $('#sel_productTag').select2({
      		placeholder: "请选择",
      		tags:true,
      		createTag:function (decorated, params) {
      			return null;
      		},
      		width:'80%'
      	});  
          $('#xgsel_productTag').select2({
        		placeholder: "请选择",
        		tags:true,
        		createTag:function (decorated, params) {
        			return null;
        		},
        		width:'80%'
        	});
      	function formatState (state) {
      		if (!state.id) { return state.text; }
      		var $state = $(
      		'<span>' + state.text + '</span>'
      		);
      		return $state;
      	};
      	
      	
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/flowTmp/getFlowTmpList',
            dataType: 'json',
            async:false,
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $("#mainContent2 tbody").empty();
                for(var i=0;i<json.length;i++){
                	var td = '<td data-id="'+json[i].id+'" class="details-control"><span class="glyphicon glyphicon-chevron-down zhuashou" aria-hidden="true"></span></td>'
                	var td1 = '<td>'+json[i].rownum+'</td>';
                	var td2 = '<td id="fn'+json[i].id+'">'+json[i].flowname+'</td>';
                	var td3 = '<td id="fm'+json[i].id+'">'+json[i].flowmemo+'</td>';
                	var td4 = '<td><i class="iconfont icon-xiugai Pmgb" style="font-size:22px;cursor:pointer;margin-left:5px;display:none;" data-flowmemo="'+json[i].flowmemo+'" data-flowname="'+json[i].flowname+'" data-id="'+json[i].id+'" onclick="updateFlowTmpi(this)" name="updateFlowTmp" title="修改" data-toggle="modal" data-target="#change"></i><i class="iconfont icon-shanchu Pmgc" style="font-size:22px;cursor:pointer;margin-left:5px;display:none;" data-id="'+json[i].id+'" onclick="deleteFlowTmpi(this)" title="删除"></i><i class="iconfont icon-icon_add Pmgd" style="font-size:22px;cursor:pointer;margin-left:5px;display:none;" title="增加步骤" data-toggle="modal" data-id="'+json[i].id+'" onclick="addFlowNode(this)" id="addFlowNode" data-target="#myModal2"></i></td>';
                	$("#mainContent2 tbody:first").append("<tr >"+td+td1+td2+td3+td4+"</tr>");
                	
                	$.ajax({
                		type:"post",
                		url:getContextPath()+"/login/getUser",
                		data:{
                		},
                		success:function(json){
                			
                			if(json!=null &&json!=""){
                				var arr = json.uPermissions.split(',');
                				
                				for(var i=0;i<arr.length;i++){
                					var arr2 = arr[i].replace("+","");
                					//console.log(arr2);
                					if(arr[i].indexOf("Pmgb") >= 0 ){
                						$(".Pmgb").show();
                					}
                					if(arr[i].indexOf("Pmgc") >= 0 ){
                						$(".Pmgc").show();
                					}
                					if(arr[i].indexOf("Pmgd") >= 0 ){
                						$(".Pmgd").show();
                					}
                				}
                				
                			}
                			
                		}
                	});
                	
                	var flowNodes = json[i].flowNodes;
                	if(undefined!=flowNodes&&""!=flowNodes&&flowNodes.length>0){
                    var tr = "<tr style='display:none;' id='hideT"+json[i].id+"'>"
                		+"<td colspan='5' style='box-shadow:0 3px 3px #ccc;'>"
                        +"<table class='table table-bordered table-condensed' id='flowNodeTable"+json[i].id+"'>"
                        +"<thead>"
                            +"<tr>"
                               +"<td>步骤序号</td>"
                               +"<td>步骤名称</td>"
                               +"<td>步骤的角色</td>"
                               +"<td style='width:100px;'>操作</td>"
                            +"</tr>"
                        +"</thead>"
                            +"<tbody>"
                            +"<tr>"
                                +"<td>1</td>"
                                +"<td>1</td>"
                                +"<td>1</td>"
                                +"<td>"
                                +"<i class='iconfont icon-xiugai' style='font-size:22px;cursor:pointer;margin-left:5px;' title='修改' data-toggle='modal' data-target='#change2'></i>"
                                +"<i class='iconfont icon-shanchu' style='font-size:22px;cursor:pointer;margin-left:5px;' title='删除'></i>"
                                +"</td>"
                            +"</tr>"
                            +" </tbody>"
                            +"</table>"
                         +"</td>"
		                 +"</tr>";
                    $("#mainContent2 tbody:first").append(tr);
                    $("#flowNodeTable"+json[i].id+" tbody").empty();
                    for(var k in flowNodes){
                    	var ftr = "<tr>"
			                        +"<td>"+flowNodes[k].id+"</td>"
			                        +"<td>"+flowNodes[k].flownodename+"</td>"
			                        +"<td>"+flowNodes[k].nodeActorNames+"</td>"
			                        +"<td>"
			                        +"<i class='iconfont icon-xiugai Pmge' style='font-size:22px;cursor:pointer;margin-left:5px;display:none;' title='修改' data-toggle='modal' data-id='"+flowNodes[k].id+"' data-lastId='"+flowNodes[k].floNodeLeft+"' data-tmpId='"+json[i].id+"'  data-code='"+flowNodes[k].id+"' data-name='"+flowNodes[k].flownodename+"' data-roleIds ='"+flowNodes[k].roleIds+"' onclick='updateFloNode(this)' data-target='#change2'></i>"
			                        +"<i class='iconfont icon-shanchu Pmgf' style='font-size:22px;cursor:pointer;margin-left:5px;display:none;' title='删除' data-id='"+flowNodes[k].id+"' onclick='deleteFloNode(this)'></i>"
			                        +"</td>"
                   			      +"</tr>";
                       $("#flowNodeTable"+json[i].id+" tbody").append(ftr);
                       
                       $.ajax({
                   		type:"post",
                   		url:getContextPath()+"/login/getUser",
                   		data:{
                   		},
                   		success:function(json){
                   			
                   			if(json!=null &&json!=""){
                   				var arr = json.uPermissions.split(',');
                   				
                   				for(var i=0;i<arr.length;i++){
                   					var arr2 = arr[i].replace("+","");
                   					//console.log(arr2);
                   					if(arr[i].indexOf("Pmge") >= 0 ){
                   						$(".Pmge").show();
                   					}
                   					if(arr[i].indexOf("Pmgf") >= 0 ){
                   						$(".Pmgf").show();
                   					}
                   				}
                   				
                   			}
                   			
                   		}
                   	});
                       
                    }
                	}
                }
            }
        });
    }

    $('#mainContent2 tbody').on('click','td.details-control', function() {
    	
    	var id = $(this).attr("data-id");
    	/* if($('#hideT').is(':hidden')){//如果当前隐藏
		    $('#hideT').show();//那么就显示div
		}else{//否则
            $('#hideT').hide();//就隐藏div
        } */
        if($('#hideT'+id+'').is(':hidden')){//如果当前隐藏
		    $('#hideT'+id+'').show();//那么就显示div
		}else{//否则
            $('#hideT'+id+'').hide();//就隐藏div
        } 
    });
    
    //新建流程模板  flowTmp
   	$("#saveFlowTmp").bind("click",function(){
   		var flowName = $("#flowName").val();
   		var flowMemo = $("#flowMemo").val();
   		var flowTmp={};
   		flowTmp.flowname = flowName;
   		flowTmp.flowmemo=flowMemo;
   		$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowTmp/saveFlowTmp',
            dataType: 'json',
            data: flowTmp,
            success: function (json) {
            	toastr.success("新建成功");
                $("#myModal").modal("hide");
                initTable();  
            }
        });
   	})
   	
   	
   	function updateFlowTmpi(dom){
   	   	    var id = $(dom).attr("data-id");
   	        var flowname = $(dom).attr("data-flowname");
   	        var flowmemo = $(dom).attr("data-flowmemo");
   	   		$("#updateFlowTmpName").val(flowname);
   	   		$("#updateFlowTmpId").val(id);
   	   		$("#updateFlowTmpMemo").val(flowmemo);
    }
    
 	function deleteFlowTmpi(dom){
  	     var id = $(dom).attr("data-id");
  	     if(confirm("确认删除吗")){
  	    	$.ajax({
	            type: 'POST',
	            url: getContextPath()+'/flowTmp/deleteFlowTmp',
	            dataType: 'json',
	            data: {
	            	id:id
	            },
	            success: function (json) {
	            	toastr.success("删除成功");
	                initTable();  
	            }
	        });
  		 }else{
  		    return;
  		 }
	   	 
    }
    $("#updateFlowTmpSave").click(function(){
    	    var flowname =$("#updateFlowTmpName").val();
    	    var id =$("#updateFlowTmpId").val();
	   		var flowmemo =$("#updateFlowTmpMemo").val();
	   		var flowTmp={};
	   		flowTmp.flowname = flowname;
	   		flowTmp.flowmemo=flowmemo;
	   		flowTmp.id = id;
	   		$.ajax({
	            type: 'POST',
	            url: getContextPath()+'/flowTmp/updateFlowTmp',
	            dataType: 'json',
	            data: flowTmp,
	            success: function (json) {
	            	toastr.success("修改成功");
	                $("#change").modal("hide");
	                $("#fn"+id+"").html(flowname);
	                $("#fm"+id+"").html(flowmemo);
	            }
	        });
    });
   	
    var page_floTmpId;
    function addFlowNode(dom){
    	page_floTmpId=undefined;
    	var floTmpId = $(dom).attr("data-id");
    	page_floTmpId=floTmpId;
    	initFloNodesByFloTmpId(floTmpId);
    	initAllRole();
    }
   
    function initFloNodesByFloTmpId(floTmpId){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowNode/getFloNodeByFloTmpId',
            dataType: 'json',
            async:false,
            data: {
            	floTmpId:floTmpId
            },
            success: function (json) {
            	$("#flowNodes").empty();
            	$("#xgFlowNodes").empty();
            	$("#flowNodes").append("<option value=''>无</option>");
           		$("#xgFlowNodes").append("<option value=''>无</option>");
           		for(var i=0;i<json.length;i++){
            		$("#flowNodes").append("<option value='"+json[i].id+"'>"+json[i].flownodename+"</option>");
            		$("#xgFlowNodes").append("<option value='"+json[i].id+"'>"+json[i].flownodename+"</option>");
            	}
            }
        });
    }
    function initAllRole(){
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/role/selectRolesSort',
            dataType: 'json',
            async:false,
            data: {
            },
            success: function (json) {
            	$("#sel_productTag").empty();
            	$("#xgsel_productTag").empty();
            	for(var i=0;i<json.length;i++){
            		$("#sel_productTag").append("<option value='"+json[i].id+"'>"+json[i].roleName+"</option>");
            	}	
            	for(var i=0;i<json.length;i++){
            		$("#xgsel_productTag").append("<option value='"+json[i].id+"'>"+json[i].roleName+"</option>");
            	}	
            }
        });
    }
    $("#savaFloNode").click(function(){
    	var floNodeName = $("#floNodeName").val();
    	var lastFloNode = $("#flowNodes").val();
    	var floNodeRoles = $("#sel_productTag").val();
    	if(floNodeRoles==undefined||floNodeRoles==null){
    		floNodeRoles=[];
    	}
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowNode/addFlowNode',
            dataType: 'json',
            data: {
            	floNodeName:floNodeName,
            	lastFloNode:lastFloNode,
            	floNodeRoles:floNodeRoles.toString(),
            	page_floTmpId:page_floTmpId
            },
            success: function (json) {
            	$("#myModal2").modal("hide");
            	toastr.success("增加成功");
                initTable();
            }
        });
    });
    var page_update_floTmpId;
    function updateFloNode(dom){
    	page_update_floTmpId=undefined;
    	var floTmpId = $(dom).attr("data-tmpId");
    	page_update_floTmpId=floTmpId;
    	initFloNodesByFloTmpId(floTmpId);
    	initAllRole();
    	var floNodeName = $(dom).attr("data-name");
    	var floNodeId = $(dom).attr("data-id");
    	var lastId = $(dom).attr("data-lastId");
    	var roleIds = $(dom).attr("data-roleIds");
    	$("#xgFlowNodes").val(lastId)
    	$("#xgFloNodeName").val(floNodeName);
    	$("#xgFloNodeId").val(floNodeId);
    	$("#xgsel_productTag").val(roleIds.split(","));
    }
    $("#saveUpdateFloNode").click(function(){
    	var lastId = $("#xgFlowNodes").val()
    	var floNodeName = $("#xgFloNodeName").val();
    	var floNodeId = $("#xgFloNodeId").val();
    	var roleIds = $("#xgsel_productTag").val();
    	if(roleIds==undefined||roleIds==null){
    		roleIds=[];
    	}
    	$.ajax({
            type: 'POST',
            url: getContextPath()+'/flowNode/updateFlowNode',
            dataType: 'json',
            data: {
            	floNodeName:floNodeName,
            	lastFloNode:lastId,
            	floNodeRoles:roleIds.toString(),
            	floNodeId:floNodeId,
            	page_update_floTmpId:page_update_floTmpId
            },
            success: function (json) {
            	$("#change2").modal("hide");
            	toastr.success("修改成功");
                initTable();
            }
        });
    });
    
    function deleteFloNode(dom){
    	var floNodeId = $(dom).attr("data-id");
    	if(confirm("确认删除吗")){
    		$.ajax({
                type: 'POST',
                url: getContextPath()+'/flowNode/deleteFloNode',
                dataType: 'json',
                data: {
                	floNodeId:floNodeId,
                },
                success: function (json) {
                	toastr.success("删除成功");
                	$(dom).parent().parent().remove();
                }
            });
  		 }else{
  		    return;
  		 }
    }
</script>
</html>