<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/bootstrap-treeview.css" />
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../../font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../css/css.css" />
	<link href="../../toastr/toastr.css" rel="stylesheet">
	<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 4px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
            <li>系统管理</li>
			<li class="active">角色管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
    
    	<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">人员角色管理</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">角色管理</a></li>
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="UpperPart">
			            <div class="UpperPartL">
			                
			            </div>
			            <div class="UpperPartR">
			                <!-- <button type="button" class="btn btn-primary" >新建人员角色管理</button> -->
			            </div>
			
			        </div>
			        <div class="LowerPart" style="margin-top:3px;">
			        	<!--  -->
			            <table class="table table-bordered table-condensed" id="mainContent">
			            	<thead>
			            		<tr>
			            				<th>账号</th>
			            				<th>姓名</th>
			            				<th>人员角色</th>
			            				<th>操作</th>
			            		</tr>
			            	</thead>
			            	<tbody></tbody>
			            </table>
			        </div>
			    		
			    </div>
			    <!--角色管理  -->
			    <div role="tabpanel" class="tab-pane" id="profile">
			    		<div class="UpperPart">
			            <div class="UpperPartL">
			                
			            </div>
			            <div class="UpperPartR">
			            	<button type="button" class="btn btn-primary Pmeb" data-toggle="modal" data-target="" id="xg2">修改角色</button>
			            	<button type="button" class="btn btn-primary Pmeb" data-toggle="modal" data-target="" id="sc2">删除角色</button>&nbsp;&nbsp;
			                <button type="button" class="btn btn-primary Pmeb" data-toggle="modal" data-target="#myModal2">新建角色管理</button>
			            </div>
			
			        </div>
			        <div class="LowerPart" style="margin-top:3px;">
			        
			        	<div id="treeview2" class=""></div>
			            
			        </div>
			    </div>
			  </div>
			  
			</div>
			
        
    </div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>分配角色</b></h4>
        </div>
        <div class="modal-body">
               <div class="f-tree"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="savePersonRoles">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- Modal2 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建角色管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>角色名称</td>
                                <td><input type="text" class="form-control" id='inputRoleName'></td>
                                <td>上级角色</td>
                                <td>
                                	<select class="form-control" style="width:180px;" id='parentRole'>
                                	</select>
                                </td>
                            </tr>
                            <tr>
                                <td>是否抽象</td>
                                <td>
                                		<select class="form-control" style="width:180px;" id="ifCouXiang">
	                                		<option value="0">是</option>
	                                		<option value="1">否</option>
	                                	</select>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="saveRole">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model2结束 -->
<!-- Modal2修改 -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改角色管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>角色名称</td>
                                <td><input type="text" id="xg_inputRoleName" class="form-control"></td>
                            </tr>
                            
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xg_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model2修改结束 -->

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-treeview.js" ></script>
<script src="../../js/tree.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script type="text/javascript" src="../../js/config.js" ></script>
<script type="text/javascript" src="../../js/data.js" ></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script>
    $(document).ready( function () {
    	initRoleList();
    	initParentRole();
    	selectUserAndRoles();
    	
    	
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "username"}, 
		            { "data": "uName"},
		            { "data": "userRoleNames"}, 
		            { "data": null}, 
		            {"data":"userId","visible": false},
		            {"data":"userRole","visible": false},
		        ],
		        "columnDefs": [
								{	
										 "class": "tcenter",
										    "targets": 3,
										    "searchable": true,
										    "render": function(data, type, full) {
										    	
									    	return '<span class="glyphicon glyphicon-check zhuashou Pmea" aria-hidden="true"  style="font-size:18px;display:none;" title="分配角色" data-id="'+data.userRole+'" data-uid="'+data.userId+'" data-toggle="modal" data-target="#myModal" onclick="initRoleListById(this)"></span>'
									        }
								}
								],
								"fnDrawCallback" : function() {
									$.ajax({
				                		type:"post",
				                		url:getContextPath()+"/login/getUser",
				                		async:false,
				                		data:{
				                		},
				                		success:function(json){
				                			
				                			if(json!=null &&json!=""){
				                				var arr = json.uPermissions.split(',');
				                				
				                				for(var i=0;i<arr.length;i++){
				                					var arr2 = arr[i].replace("+","");
				                					//console.log(arr2);
				                					if(arr[i].indexOf("Pmea") >= 0 ){
				                						$(".Pmea").show();
				                					}
				                				}
				                				
				                			}
				                			
				                		}
				                	});
									
								},
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
	function initTable(){
		var base64 = new Base64();
        $.ajax({
            type: 'POST',
            url: getContextPath()+'/user/selectAllUser3',
            data: {
            },
            success: function (data) {
            	var arr = base64.decode(data);
            	json = JSON.parse(arr);
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
			
      function initRoleList(){
    	  $.ajax({
              type: 'POST',
              url: getContextPath()+'/role/getRolesList',
              dataType: 'json',
              data: {
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (json) {
            	  var json = json;
            	  $('#treeview2').treeview({
                      data: json,
                      'levels':1
                   });
              }
          });
      }	
      var pageUId ;
      function initRoleListById(dom){
    	  $(".f-tree").empty();
    	  pageUId=undefined;
    	  var userRole = $(dom).attr("data-id");
    	  var checkArray = userRole.split("_")
    	  pageUId = $(dom).attr("data-uid");
    	  $.ajax({
              type: 'POST',
              url: getContextPath()+'/role/initRoleListById',
              dataType: 'json',
              data: {
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (json) {
            	 
            	  var json = json;
            	  var tree_data = [];
            	  for(var i=0;i<json.length;i++){
            		  var a  = {}
            		  a.id = json[i].roleCode;
            		  a.pid = json[i].parentRoleCode;
            		  a.title = json[i].roleName;
            		  tree_data.push(a);
            		  var array = json[i].nodes;
            		  if(null!=array&&array.length>0){
            			  for(var k in array){
            				  var b  = {}
            				  b.id = array[k].roleCode;
                    		  b.pid = array[k].parentRoleCode;
                    		  b.title = array[k].roleName;
                    		  tree_data.push(b);
            			  }
            		  }
            		  
            	  }
            	config.tree({
              		type:1,//1有选择框，没有则不传type或传0
              		wrapper:'.f-tree',//容器
              		data:tree_data,//数据
              		check:checkArray//选中的数据，可以不传
              	});
            	  tree_data = [];
              }
          });
      }	
      
      $("#savePersonRoles").bind('click',function(){
    	  var selects = $(".f-iconRadioTrue");
    	  var personRoles = ""; 
    	  $(selects).each(function(){
    		 var e = $(this).next().val();
    		 personRoles+=e+"_";
    	  });
    	  updateParentRole(personRoles);
      })
      
      function updateParentRole(personRoles){
    	  $.ajax({
              type: 'POST',
              url: getContextPath()+'/role/updateParentRole',
              dataType: 'json',
              data: {
            	  personId:pageUId,
            	  personRoles:personRoles
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (json) {
            	  var json = json;
            	  toastr.success("修改成功");
              }
          });
      }
      
      function initParentRole(){
    	  $.ajax({
              type: 'POST',
              url: getContextPath()+'/role/getParentRoles',
              dataType: 'json',
              data: {
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (json) {
            	  var json = json;
            	  $("#parentRole").empty();
            	  $("#parentRole").append("<option value='0'>无</option>");
            	  for(var i=0;i<json.length;i++){
            		  $("#parentRole").append("<option value='"+json[i].roleCode+"'>"+json[i].roleName+"</option>");
            	  }
              }
          });
      }
      $("#saveRole").bind("click",function(){
    	 var inputRoleName = $("#inputRoleName").val();
    	 var parentRole = $("#parentRole").val();
    	 var ifCouXiang = $("#ifCouXiang").val();
    	 $.ajax({
             type: 'POST',
             url: getContextPath()+'/role/addRole',
             dataType: 'json',
             data: {
            	 inputRoleName:inputRoleName,
            	 parentRole:parentRole,
            	 ifCouXiang:ifCouXiang
             },
             error: function (msg) {
             	alert("请求失败"); 
             },
             success: function (json) {
           	  $("#myModal2").modal('hide');
           	 initParentRole();
           	 initRoleList();
             }
         });
      })
         function selectUserAndRoles(){
    	  var base64 = new Base64();
    	  $.ajax({
              type: 'POST',
              url: getContextPath()+'/user/selectUserAndRoles',
              data: {
              },
              error: function (msg) {
              	toastr.error("请求失败");
              },
              success: function (data) {
            	  var arr = base64.decode(data);
              	  json = JSON.parse(arr);
            	  $('#mainContent').dataTable().fnClearTable();
                  $('#mainContent').DataTable().rows.add(json).draw(false);
                  $.ajax({
                		type:"post",
                		url:getContextPath()+"/login/getUser",
                		async:false,
                		data:{
                		},
                		success:function(json){
                			
                			if(json!=null &&json!=""){
                				var arr = json.uPermissions.split(',');
                				
                				for(var i=0;i<arr.length;i++){
                					var arr2 = arr[i].replace("+","");
                					//console.log(arr2);
                					if(arr[i].indexOf("Pmea") >= 0 ){
                						$(".Pmea").show();
                					}
                				}
                				
                			}
                			
                		}
                	});
              }
          });
      }
      
      $("#sc2").click(function(){
    	  var id_arr=$('#treeview2').treeview('getSelected', "id");
    	  var id;
    	  if(id_arr!=""&&id_arr!=undefined&&id_arr!=null){
	    	  for(var i in id_arr){
		    	  id=id_arr[i].id
	    	  }
    		  $.SmartMessageBox({
  	            title: "删除提示",
  	            content: "确认删除？",
  	            buttons: '[取消][确定]'
  	        }, function (ButtonPressed) {
  	        	if (ButtonPressed === "确定") {
  	        		myTool.mask.show('删除中...');
  	        		$.ajax({
  	                    type: 'POST',
  	                    url: getContextPath()+'/role/delRole',
  	                    dataType: 'json',
  	                    data: {
  	                    	id:id
  	                    },
  	                    success: function (json) {
  							myTool.mask.hide();
  	                    	if(json!=0){
  	                    		//$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
  	                    		initRoleList()
  	                    		toastr.success('删除成功');
  	                    	}else{
  	                    		 toastr.error('删除失败');
  	                    	}
  	                    }
  	                }); 
  	        	    	
  	        	}
  	        });
    	  }else{
    		  toastr.error("请选中角色")
    	  }
      })
      
    var xg_id;
      $("#xg2").click(function(){
		  var xg_roleName;
    	  var id_arr=$('#treeview2').treeview('getSelected', "id");
    	  if(id_arr!=""&&id_arr!=undefined&&id_arr!=null){
	    	  for(var i in id_arr){
	    		  xg_id=id_arr[i].id;
		    	  xg_roleName=id_arr[i].roleName;
	    	  }
	    	  $("#xg_inputRoleName").val(xg_roleName)
	    	  $("#change2").modal("show");
    	  }else{
    		  toastr.error("请选中角色")
    	  }
    	  
      })
      
      $("#xg_baocun").click(function(){
    	  var xg_inputRoleName=$("#xg_inputRoleName").val()
    	  if(xg_inputRoleName==null||xg_inputRoleName==""||xg_inputRoleName==undefined){
    		  toatr.error("角色名称不能为空")
    	  }else{
    		  $.ajax({
                    type: 'POST',
                    url: getContextPath()+'/role/updRole',
                    dataType: 'json',
                    data: {
                    	id:xg_id,
                    	roleName:xg_inputRoleName,
                    },
                    success: function (json) {
                    	if(json!=0){
                    		initRoleList()
                    		toastr.success('修改成功');
                    		$("#change2").modal("hide");
                    	}else{
                    		 toastr.error('修改失败');
                    	}
                    }
                }); 
    	  }
    	  
      })
</script>
</html>