<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link rel="stylesheet" href="../../font3/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>财务管理</li>
			<li class="active">财务认领</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建款项认领</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td>认领说明</td>
                                <td>
                                    <textarea cols="50" rows="4" class="form-control"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#tijiaogei">提交</button>
            <button type="button" class="btn btn-default">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- 提交 modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tijiaogei">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提交给</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div>
                            <span>提交给:</span>
                            <select style="width:180px;" class="form-control" id="editable-selectT">
                                <option value="">123123</option>
                                <option value="">456456</option>
                            </select>
                        </div>
                        <div style="display:flex;margin-top:5px;">
                            <div style="margin-top:5px;">
                                <textarea cols="70" rows="5" class="form-control" placeholder="请输入内容"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- 提交 modal结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="look">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>查看财务收款</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width:20%;">项目名称</td>
                                <td style="width:28%;" id="look_prj_name"></td>
                                <td style="width:25%;">年份</td>
                                <td style="width:27%;" id="look_year"></td>
                            </tr>
                            <tr>
                                <td>任务单号</td>
                                <td id="look_prj_no"></td>
                                <td>业主单位</td>
                                <td id="look_yezhu"></td>
                            </tr>
                            <tr>
                                <td>项目开始时间</td>
                                <td id="look_start_time"></td>
                                <td>项目结束时间</td>
                                <td id="look_end_time"></td>
                            </tr>
                            <tr>
                            	<td>项目负责人</td>
                                <td id="look_prj_leader"></td>
                                <td>华通合同名称</td>
                                <td id="look_HT_contract"></td>
                            </tr>
                            <tr>
                            	<td class="jinqianyanse">合同金额(元）</td>
                                <td id="look_contract_money"></td>
                                <td class="jinqianyanse">合同结算额（元）</td>
                                <td id="look_contract_money_end"></td>
                            </tr>
                            <tr>
                            	<td class="jinqianyanse">累计收款（元）</td>
                                <td id="look_total_money"></td>
                                <td class="jinqianyanse">已开票应收金额（元）</td>
                                <td id="look_kp_money"></td> 
                            </tr>
                            <tr>
                            	<td>发票编号</td>
                                <td id="look_fp_no"></td>
                                <td>合同收款条件</td>
                                <td id="look_collection_terms"></td>
                            </tr>
                            <tr>
                            	<td>项目完成进度</td>
                                <td id="look_prj_plan"></td>
                                <td class="jinqianyanse">实际收款</td>
                                <td id="look_result_money"></td>
                            </tr>
                            <tr>
                            	<td>部门反馈</td>
                                <td id="look_department_info"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>财务备注信息</td>
                                <td colspan="3" id="look_finance_info"></td>
                            </tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="renling">认领</button>
            <button type="button" class="btn btn-success" id="tuihui">退回</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            
        </div>
    </div>


</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	laydate.render({
            elem: '#year' //指定元素
        });
    	$("#status").trigger("change");
    	
    	initTable();
    	
    	function GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
       }
       // 调用方法
       	id=GetQueryString("");
       
	});

    




    var flag=true;
    $("#changeModel").click(function(){
        if(flag==true){
            $("#inp").hide();
            $("#sel").show();
            flag=false;
        }else{
            $("#inp").show();
            $("#sel").hide();
            flag=true;
        }  
    })


    
    var frId;
    var tr;
    function initTable(){
    	
    	frId=data.frId;
    	if($("#status").val()=='0'){
    		$("#tuihui").show();
    		$("#renling").hide();
    	}else{
    		$("#tuihui").hide();
    		$("#renling").show();
    	}
    	
    	$("#prj_name").val(data.prjName);
    	$("#prj_no").val(data.prjNo);
    	$("#year").val(data.year);
    	$("#yezhu").val(data.yezhu);
    	$("#start_time").val(data.startTime);
    	$("#end_time").val(data.endTime);
    	$("#prj_leader").val(data.prjLeader);
    	$("#HT_contract").val(data.contractName);
    	$("#contract_money").val(data.contractMoney);
    	$("#contract_money_end").val(data.contractMoneyEnd);
    	$("#total_money").val(data.totalMoney);
    	$("#kp_money").val(data.kpMoney);
    	$("#fp_no").val(data.fpNo);
    	$("#collection_terms").val(data.collectionTerms);
    	$("#prj_plan").val(data.prjPlan);
    	$("#result_money").val(data.resultMoney);
    	$("#department_info").val(data.departmentInfo);
    	$("#finance_info").val(data.financeInfo);
    	
    }
    
    $("#tuihui").on("click",function(){
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/FinancialReceipts/updateStatus",
            dataType: 'json',
            data: {
            	status:1,
            	id:frId
            },
            success: function (json) {
            	if(json>0){
            		toastr.success("退回成功");
            		$("#mainContent").DataTable().row(tr).remove().draw(false);
            		$("#look").modal("hide");
            	}else{
            		toastr.error("退回失败");
            	}
            }
        });
    })
    
    $("#renling").on("click",function(){
    	$.ajax({
            type: 'POST',
            url:getContextPath()+"/FinancialReceipts/updateStatus",
            dataType: 'json',
            data: {
            	status:0,
            	id:frId
            },
            success: function (json) {
            	if(json>0){
            		toastr.success("认领成功");
            		$("#mainContent").DataTable().row(tr).remove().draw(false);
            		$("#look").modal("hide");
            	}else{
            		toastr.error("认领失败");
            	}
            }
        });
    })

    


    
</script>
</html>